# 2D / 3D Mapping

config Completer.use_jedi = False #to fix problem with my tab completion under jupyter (must find a better solution)

 ## Boreholes 2D mapping from files

### imports

In [1]:
import matplotlib.pyplot as plt
#from striplog import Component, Decor, Legend
#from core.omf import Borehole3D, striplog_legend_to_omf_legend 

import geopandas as gpd, pandas as pd
from shapely import wkt
import folium as fm
from folium import plugins
from utils.io import boreholes_from_files, striplog_from_text, export_gdf, read_gdf_file
from os import remove
from core.core import Project
from core.orm import BoreholeOrm, PositionOrm, Base
from striplog import Lexicon, Striplog
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from definitions import ROOT_DIR

### Data from a shapefile

In [2]:
file = ["/CF_data/gis/Pilote_v7.0.shp","/CF_data/gis/Pilote_v8.0.shp"]
shp = gpd.read_file(ROOT_DIR+file[1])
shp

,Id,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
0,0,1,1,111,2,1,1,0,1,0,OUI,POINT (152894.891 122592.127)
1,0,1,1,120,2,1,1,0,1,0,OUI,POINT (152881.447 122588.102)
2,0,2,1,217,3,1,1,1,1,0,OUI,POINT (152885.995 122587.127)
3,0,1,1,116,2,1,1,0,1,0,OUI,POINT (152883.768 122589.754)
4,0,2,1,214,2,1,1,1,1,0,OUI,POINT (152888.128 122588.436)
...,...,...,...,...,...,...,...,...,...,...,...,...
83,0,6,0,50,0,0,0,0,0,0,OUI,POINT (152893.126 122602.456)
84,0,6,0,52,0,0,0,0,0,0,OUI,POINT (152889.301 122592.517)
85,0,6,0,51,0,0,0,0,0,0,OUI,POINT (152889.534 122591.686)
86,0,6,0,53,0,0,0,0,0,0,OUI,POINT (152889.786 122588.802)
87,0,3,0,304,0,0,0,0,0,0,OUI,POINT (152884.742 122588.503)

**Rmq** : ici à quoi correspondent :

    - ID (tout est à 0!), 
    - Ref
    - Type

In [3]:
if 'Id' in shp.columns:
    shp=shp.drop(['Id'], axis=1)
    #shp.index.name='Id'
shp

,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
0,1,1,111,2,1,1,0,1,0,OUI,POINT (152894.891 122592.127)
1,1,1,120,2,1,1,0,1,0,OUI,POINT (152881.447 122588.102)
2,2,1,217,3,1,1,1,1,0,OUI,POINT (152885.995 122587.127)
3,1,1,116,2,1,1,0,1,0,OUI,POINT (152883.768 122589.754)
4,2,1,214,2,1,1,1,1,0,OUI,POINT (152888.128 122588.436)
...,...,...,...,...,...,...,...,...,...,...,...
83,6,0,50,0,0,0,0,0,0,OUI,POINT (152893.126 122602.456)
84,6,0,52,0,0,0,0,0,0,OUI,POINT (152889.301 122592.517)
85,6,0,51,0,0,0,0,0,0,OUI,POINT (152889.534 122591.686)
86,6,0,53,0,0,0,0,0,0,OUI,POINT (152889.786 122588.802)
87,3,0,304,0,0,0,0,0,0,OUI,POINT (152884.742 122588.503)

In [4]:
print("nombre de données :", len(shp))
print("nombre de forages (diam > 0 ??) :", len(shp.query('diam>0')))
#shp.loc[41]

nombre de données : 88
nombre de forages (diam > 0 ??) : 60

### Save location data in a Geopackage / GeoJson / csv

In [5]:
export_gdf(shp, 31370, 'tmp_files/test_loc.csv')

tmp_files/test_loc.csv has been saved !

In [6]:
cat 'tmp_files/test_loc.csv'

X,Y,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
152894.89100002544,122592.12713904586,1,1,111,2,1,1,0,1,0,OUI,POINT (152894.8910000254 122592.1271390459)
152881.4470000254,122588.10213904455,1,1,120,2,1,1,0,1,0,OUI,POINT (152881.4470000254 122588.1021390446)
152885.99500002537,122587.12713904679,2,1,217,3,1,1,1,1,0,OUI,POINT (152885.9950000254 122587.1271390468)
152883.7680000254,122589.75413904712,1,1,116,2,1,1,0,1,0,OUI,POINT (152883.7680000254 122589.7541390471)
152888.1280000254,122588.43613904715,2,1,214,2,1,1,1,1,0,OUI,POINT (152888.1280000254 122588.4361390471)
152886.2260000254,122591.65513904672,1,1,113,2,1,1,0,1,0,OUI,POINT (152886.2260000254 122591.6551390467)
152880.9800000254,122583.69313904643,2,1,223,3,1,1,1,1,1,OUI,POINT (152880.9800000254 122583.6931390464)
152883.65800002537,122585.62313904893,2,1,221,2,1,1,1,1,1,OUI,POINT (152883.6580000254 122585.6231390489)
152889.1520000254,122587.1761390483,1,1,118,2,1,1,0,1,0,OUI,POINT (152889.1520000254 122587.1761390483)
152883.43300002534,122588.32313904725,2,1,216,2,1,1,1,1,1,OUI,POINT (152883.4330000253 122588.3231390473)
152883.43300002534,122580.26613904629,2,1,226,2,1,1,1,1,1,OUI,POINT (152883.4330000253 122580.2661390463)
152883.57100002537,122593.02013904788,1,1,112,2,1,1,0,1,0,OUI,POINT (152883.5710000254 122593.0201390479)
152891.94900002552,122593.72213904653,1,1,110,2,1,1,0,1,0,OUI,POINT (152891.9490000255 122593.7221390465)
152884.22600002537,122583.90313904826,1,1,125,2,1,1,0,1,0,OUI,POINT (152884.2260000254 122583.9031390483)
152888.80200002543,122590.0531390477,1,1,114,2,1,1,0,1,0,OUI,POINT (152888.8020000254 122590.0531390477)
152886.53400002536,122588.83313904703,1,1,117,2,1,1,0,1,0,OUI,POINT (152886.5340000254 122588.833139047)
152885.4830000254,122590.19413904846,2,1,213,2,1,1,1,1,1,OUI,POINT (152885.4830000254 122590.1941390485)
152888.76800002545,122585.85713904724,2,1,218,2,1,1,1,1,1,OUI,POINT (152888.7680000254 122585.8571390472)
152885.03158300993,122585.3671309175,4,1,400,0,0,0,0,0,0,NON,POINT (152885.0315830099 122585.3671309175)
152890.6620000255,122587.51713904738,2,1,215,2,1,1,1,1,1,OUI,POINT (152890.6620000255 122587.5171390474)
152881.17100002535,122580.4831390474,2,1,225,2,1,1,1,1,0,OUI,POINT (152881.1710000254 122580.4831390474)
152883.5060000254,122582.57913904637,2,1,224,2,1,1,1,1,0,OUI,POINT (152883.5060000254 122582.5791390464)
152879.12900002534,122583.27013904788,2,1,210,2,1,0,0,0,0,OUI,POINT (152879.1290000253 122583.2701390479)
152885.8040000254,122584.37513904646,2,1,222,2,1,1,1,1,1,OUI,POINT (152885.8040000254 122584.3751390465)
152884.55900002542,122586.86513904855,1,1,121,2,1,1,0,1,0,OUI,POINT (152884.5590000254 122586.8651390485)
152886.79600002544,122583.44613904692,1,1,126,2,1,1,0,1,0,OUI,POINT (152886.7960000254 122583.4461390469)
152881.57883449996,122585.08690298628,1,1,124,2,1,1,0,1,0,OUI,POINT (152881.5788345 122585.0869029863)
152886.77900002545,122585.61413904652,1,1,122,2,1,1,0,1,0,OUI,POINT (152886.7790000254 122585.6141390465)
152881.7110000254,122582.22613904905,1,1,127,2,1,1,0,1,0,OUI,POINT (152881.7110000254 122582.226139049)
152893.79900002544,122593.65913904738,1,1,107,2,1,1,0,1,0,OUI,POINT (152893.7990000254 122593.6591390474)
152886.1190000254,122594.53213904705,1,1,108,2,1,1,0,1,0,OUI,POINT (152886.1190000254 122594.532139047)
152891.25200002544,122595.00913904794,1,1,106,2,1,1,0,1,0,OUI,POINT (152891.2520000254 122595.0091390479)
152890.82431275706,122583.5798753826,5,1,500,0,0,0,0,0,0,NON,POINT (152890.8243127571 122583.5798753826)
152892.8790000254,122592.58713904768,2,1,207,2,1,1,1,1,1,OUI,POINT (152892.8790000254 122592.5871390477)
152885.19800002538,122592.74513904564,2,1,208,2,1,1,1,1,1,OUI,POINT (152885.1980000254 122592.7451390456)
152888.16400002537,122591.69413904753,2,1,209,2,1,1,1,1,1,OUI,POINT (152888.1640000254 122591.6941390475)
152890.42400002546,122593.64313904569,2,1,206,2,1,1,1,1,1,OUI,POINT (152890.4240000255 122593.6431390457)
152888.12300002543,122599.14613904711,1,1,100,2,1,1,0,1,0,OUI,POINT (152888.1230000254 122599.1461390471)
152891.16600002543,122597.62813904602,1,1,101,2,1,1,0,1,0,OUI,POINT (152891.1660000254 122597.628139046)
152893.33600002548,122595.92013904639,1,1,102,2,1,1,0,1,0,OUI,POINT (152893.3360000255 122595.9201390464)
152895.43100002548,122594.85713904817,1,1,103,2,1,1,0,1,0,OUI,POINT (152895.4310000255 122594.8571390482)
152888.20900002544,122596.49213904701,1,1,105,2,1,1,0,1,0,OUI,POINT (152888.2090000254 122596.492139047)
152891.32900002546,122588.78113904875,1,1,115,2,1,1,0,1,0,OUI,POINT (152891.3290000255 122588.7811390487)
152889.47000002547,122584.78213904798,1,1,123,2,1,1,0,1,0,OUI,POINT (152889.4700000255 122584.782139048)
152887.7500000254,122594.56613904703,2,1,205,3,1,1,1,1,0,OUI,POINT (152887.7500000254 122594.566139047)
152885.1050000254,122596.29513904639,2,1,204,2,1,1,0,1,0,OUI,POINT (152885.1050000254 122596.2951390464)
152892.8990000255,122594.97613904811,2,1,202,2,1,1,1,1,1,OUI,POINT (152892.8990000255 122594.9761390481)
152890.24100002553,122596.46113904752,2,1,201,2,1,1,1,1,0,OUI,POINT (152890.2410000255 122596.4611390475)
152887.63100002534,122598.04613904748,2,1,200,2,1,1,1,1,1,OUI,POINT (152887.6310000253 122598.0461390475)
152885.82300002544,122597.76613904722,1,1,104,2,1,1,0,1,0,OUI,POINT (152885.8230000254 122597.7661390472)
152888.5570000254,122593.31413904857,1,1,109,2,1,1,0,1,0,OUI,POINT (152888.5570000254 122593.3141390486)
152891.79100002543,122586.1501390487,1,1,119,2,1,1,0,1,0,OUI,POINT (152891.7910000254 122586.1501390487)
152879.13500002536,122580.17613904737,1,1,128,2,1,1,0,1,0,OUI,POINT (152879.1350000254 122580.1761390474)
152882.02200002535,122579.22513904702,1,1,129,2,1,1,0,1,0,OUI,POINT (152882.0220000253 122579.225139047)
152895.35400002546,122593.70113904681,2,1,203,2,1,1,1,1,0,OUI,POINT (152895.3540000255 122593.7011390468)
152882.76500002542,122591.41413904633,2,1,212,2,1,1,0,1,0,OUI,POINT (152882.7650000254 122591.4141390463)
152888.10200002545,122583.96013904642,2,1,211,2,1,1,1,1,0,OUI,POINT (152888.1020000255 122583.9601390464)
152891.5540000255,122584.95313904714,2,1,219,2,1,1,0,1,0,OUI,POINT (152891.5540000255 122584.9531390471)
152880.74000002534,122586.3991390476,2,1,220,2,1,1,0,1,0,OUI,POINT (152880.7400000253 122586.3991390476)
152893.9330000255,122594.96413904615,3,1,301,0,0,0,0,0,0,OUI,POINT (152893.9330000255 122594.9641390461)
152887.10600002544,122593.01613904722,3,1,302,0,0,0,0,0,0,OUI,POINT (152887.1060000254 122593.0161390472)
152891.63200002545,122591.38213904668,3,1,303,0,0,0,0,0,0,OUI,POINT (152891.6320000254 122591.3821390467)
152880.26600002535,122582.55413904414,3,1,305,0,0,0,0,0,0,OUI,POINT (152880.2660000254 122582.5541390441)
152867.45209745003,122588.87729745824,3,1,306,0,0,0,0,0,0,NON,POINT (152867.45209745 122588.8772974582)
152876.61200002534,122584.35813904833,2,0,227,2,0,1,1,0,0,OUI,POINT (152876.6120000253 122584.3581390483)
152889.81200002544,122581.22613904811,1,0,13,0,0,1,0,1,0,OUI,POINT (152889.8120000254 122581.2261390481)
152887.3020000254,122579.5511390455,1,0,16,0,0,1,0,1,0,OUI,POINT (152887.3020000254 122579.5511390455)
152884.5820000254,122580.77813904732,1,0,15,0,0,1,0,1,0,OUI,POINT (152884.5820000254 122580.7781390473)
152884.69700002536,122577.76113904733,1,0,10,2,1,1,0,1,0,OUI,POINT (152884.6970000254 122577.7611390473)
152887.41200002545,122576.40913904551,1,0,11,2,1,1,0,1,0,OUI,POINT (152887.4120000254 122576.4091390455)
152885.5410000254,122579.35213904642,2,0,25,0,0,0,0,0,0,OUI,POINT (152885.5410000254 122579.3521390464)
152888.36700002546,122577.94413904753,2,0,21,0,1,0,0,0,0,OUI,POINT (152888.3670000255 122577.9441390475)
152888.55500002543,122581.87813904788,2,0,23,0,0,0,0,0,0,OUI,POINT (152888.5550000254 122581.8781390479)
152886.29900002538,122580.93113904726,1,0,24,0,1,1,1,1,1,OUI,POINT (152886.2990000254 122580.9311390473)
152888.5000000254,122580.49013904762,1,0,22,0,1,0,0,0,0,OUI,POINT (152888.5000000254 122580.4901390476)
152886.46500002543,122577.94913904741,1,0,20,0,1,1,1,1,1,OUI,POINT (152886.4650000254 122577.9491390474)
152888.05000002543,122581.03613904584,3,0,30,0,0,0,0,0,0,???,POINT (152888.0500000254 122581.0361390458)
152885.90100002542,122581.71113904845,3,0,32,0,0,0,0,0,0,OUI,POINT (152885.9010000254 122581.7111390484)
152886.0900000254,122578.42713904567,3,0,31,0,0,0,0,0,0,OUI,POINT (152886.0900000254 122578.4271390457)
152883.68000002543,122577.58713904768,4,0,40,0,0,0,0,0,0,OUI,POINT (152883.6800000254 122577.5871390477)
152884.2410000254,122576.75213904679,4,0,41,0,0,0,0,0,0,OUI,POINT (152884.2410000254 122576.7521390468)
152888.6360000254,122578.79613904748,1,0,12,0,1,0,0,0,0,OUI,POINT (152888.6360000254 122578.7961390475)
152887.36800002542,122581.00713904761,1,0,14,0,0,0,0,0,0,OUI,POINT (152887.3680000254 122581.0071390476)
152893.12600002543,122602.45613904763,6,0,50,0,0,0,0,0,0,OUI,POINT (152893.1260000254 122602.4561390476)
152889.3010000254,122592.51713904738,6,0,52,0,0,0,0,0,0,OUI,POINT (152889.3010000254 122592.5171390474)
152889.53400002542,122591.68613904808,6,0,51,0,0,0,0,0,0,OUI,POINT (152889.5340000254 122591.6861390481)
152889.78600002543,122588.80213904474,6,0,53,0,0,0,0,0,0,OUI,POINT (152889.7860000254 122588.8021390447)
152884.7420000254,122588.50313904788,3,0,304,0,0,0,0,0,0,OUI,POINT (152884.7420000254 122588.5031390479)

### 2D Map

-idée à explorer : fonction pour générer une carte des forages présents dans un projet

In [7]:
#Change CRS EPSG 31370 (Lambert 72) into EPSG 4326 (WGS 84)
shp = shp.to_crs(epsg=4326)
center=[shp.geometry.y.mean(), shp.geometry.x.mean()]

# Use a satellite map
tile_name = ["Satellite"]
tile_attr = ["Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community"]
tile_url = ["https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"]

BH_map=fm.Map(location=center, tiles='OpenStreetMap', zoom_start=19, max_zoom=25, control_scale=True)

ch1 = fm.FeatureGroup(name='Boreholes')

for idx, row in shp.iterrows():
    fm.CircleMarker([row.geometry.y, row.geometry.x], popup=str(idx) , radius=0.1,
                     color='red', fill_color='red',
                    opacity=0.6
                    ).add_to(ch1)
    
#fm.GeoJson('BH_loc.json').add_to(fm_map)

mini_map = plugins.MiniMap(toggle_display=True, zoom_level_offset=-6)

#adding features to the base_map
fm.TileLayer(name=tile_name[0], tiles=tile_url[0], max_zoom=25, attr=tile_attr[0], control=True).add_to(BH_map)
ch1.add_to(BH_map)
fm.LayerControl().add_to(BH_map)
BH_map.add_child(mini_map)

#save in a file
BH_map.save('tmp_files/BH_location.html')
BH_map

### Reading location data from a csv, Geo(package/Json) file

In [8]:
file_dir=ROOT_DIR+'/playground/TFE_test/tmp_files/'

In [9]:
print(file_dir)

/home/yanathan/Projects/GSDMA/playground/TFE_test/tmp_files/

In [10]:
bh_loc=read_gdf_file('test_loc.csv', 31370, 4326, file_dir)
bh_loc.head(2)

,X,Y,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
0,4.409477,50.414208,1,1,111,2,1,1,0,1,0,OUI,POINT (4.40948 50.41421)
1,4.409288,50.414172,1,1,120,2,1,1,0,1,0,OUI,POINT (4.40929 50.41417)

**Rmq** : la coordonnée Z est manquante dans les données de base !

### Create a boreholes positions list

bh_loc.loc[:2, ['X','Y','Ref', ]]

In [11]:
x_list=bh_loc['X'].to_list()
y_list=bh_loc['Y'].to_list()
len(x_list)

88

## Borehole 3D mapping

### Build Borehole3D objects

Puisqu'on ne dispose que de la localisation des forages (pas d'infos sur la géométrie et le "contenu" des forages), l'idée est de créer **une géométrie et un contenu par défaut** pour chaque forage, **tout en respectant les positions**, puis les enregistrer dans la BD afin de pouvoir les afficher tous dans l'environnement 3D. La mise à jour des données manquantes se fera plus tard.

In [12]:
remove('tmp_files/tfe_orm_db.db')

Create the db engine and the database structure

In [13]:
engine = create_engine('sqlite:///tmp_files/tfe_orm_db.db', echo=True)
Base.metadata.create_all(engine)

2021-02-01 14:46:43,527 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-01 14:46:43,527 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,529 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-01 14:46:43,530 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,532 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boreholes")
2021-02-01 14:46:43,532 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,534 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Boreholes")
2021-02-01 14:46:43,534 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,535 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Positions")
2021-02-01 14:46:43,536 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,536 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Positions")
2021-02-01 14:46:43,537 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,537 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Intervals")
2021-02-01 14:46:43,537 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,538 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Intervals")
2021-02-01 14:46:43,539 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,539 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Components")
2021-02-01 14:46:43,539 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,540 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Components")
2021-02-01 14:46:43,540 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,542 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Linkintervalcomponent")
2021-02-01 14:46:43,542 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,543 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Linkintervalcomponent")
2021-02-01 14:46:43,543 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,545 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Boreholes" (
	id VARCHAR(32) NOT NULL,
	PRIMARY KEY (id)
)


2021-02-01 14:46:43,546 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,550 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:43,551 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Positions" (
	id INTEGER NOT NULL,
	upper FLOAT,
	middle FLOAT,
	lower FLOAT,
	x FLOAT,
	y FLOAT,
	PRIMARY KEY (id)
)


2021-02-01 14:46:43,552 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,557 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:43,558 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Components" (
	id VARCHAR(32) NOT NULL,
	description VARCHAR(32),
	PRIMARY KEY (id)
)


2021-02-01 14:46:43,559 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,563 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:43,565 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Intervals" (
	id INTEGER NOT NULL,
	borehole VARCHAR(32),
	interval_number INTEGER,
	description VARCHAR(32),
	top_id INTEGER,
	base_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(borehole) REFERENCES "Boreholes" (id),
	FOREIGN KEY(top_id) REFERENCES "Positions" (id),
	FOREIGN KEY(base_id) REFERENCES "Positions" (id)
)


2021-02-01 14:46:43,565 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,569 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:43,571 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Linkintervalcomponent" (
	int_id INTEGER NOT NULL,
	comp_id INTEGER NOT NULL,
	PRIMARY KEY (int_id, comp_id),
	FOREIGN KEY(int_id) REFERENCES "Intervals" (id),
	FOREIGN KEY(comp_id) REFERENCES "Components" (id)
)


2021-02-01 14:46:43,572 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:43,576 INFO sqlalchemy.engine.base.Engine COMMIT

creation of the Boreholes from las, csv files

In [14]:
lexicon = Lexicon.default() #to do : create our own lexicon

In [15]:
borehole_dict = {'F1':ROOT_DIR+'/data/test.las'}#, 'F2':ROOT_DIR+'/data/test.csv'} # boreholes to insert into the db

In [16]:
boreholes, components= boreholes_from_files(borehole_dict, x=x_list, y=y_list, verbose=0)

Create the session and the project

In [17]:
Session = sessionmaker(bind=engine)
session = Session()

p = Project(session)
p.add_components(components)

2021-02-01 14:46:44,133 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:44,136 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:44,137 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:44,140 INFO sqlalchemy.engine.base.Engine INSERT INTO "Components" (id, description) VALUES (?, ?)
2021-02-01 14:46:44,140 INFO sqlalchemy.engine.base.Engine ((0, 'Siltstone, grey'), (1, 'Anhydrite'), (2, 'Sandstone, vf-f, grey'), (3, 'Dolomite'), (4, 'Siltstone, red'), (5, 'Limestone'))
2021-02-01 14:46:44,141 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:44,145 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:44,145 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:44,145 INFO sqlalchemy.engine.base.Engine ()

Add boreholes into the database

In [18]:
for bh in boreholes:
    p.add_borehole(bh)

2021-02-01 14:46:44,156 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,157 INFO sqlalchemy.engine.base.Engine ((0, 14.3, 14.3, 14.3, 4.409476785130411, 50.41420841912866), (1, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409476785130411, 50.41420841912866), (2, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409476785130411, 50.41420841912866), (3, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409476785130411, 50.41420841912866), (4, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409476785130411, 50.41420841912866), (5, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409476785130411, 50.41420841912866), (6, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409476785130411, 50.41420841912866), (7, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409476785130411, 50.41420841912866)  ... displaying 10 of 50 total bound parameter sets ...  (48, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409476785130411, 50.41420841912866), (49, 135.9, 135.9, 135.9, 4.409476785130411, 50.41420841912866))
2021-02-01 14:46:44,158 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:44,159 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-02-01 14:46:44,161 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,162 INFO sqlalchemy.engine.base.Engine ((0, 'F1', 0, 'Anhydrite', 0, 1), (1, 'F1', 1, 'Sandstone, grey, vf-f', 2, 3), (2, 'F1', 2, 'Anhydrite', 4, 5), (3, 'F1', 3, 'Dolomite', 6, 7), (4, 'F1', 4, 'Anhydrite', 8, 9), (5, 'F1', 5, 'Sandstone, grey, vf-f', 10, 11), (6, 'F1', 6, 'Siltstone, red', 12, 13), (7, 'F1', 7, 'Dolomite', 14, 15)  ... displaying 10 of 25 total bound parameter sets ...  (23, 'F1', 23, 'Limestone', 46, 47), (24, 'F1', 24, 'Volcanic', 48, 49))
2021-02-01 14:46:44,164 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:44,168 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:44,169 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:44,170 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:44,173 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:44,174 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-02-01 14:46:44,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,179 INFO sqlalchemy.engine.base.Engine (0,)
2021-02-01 14:46:44,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,182 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-01 14:46:44,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,187 INFO sqlalchemy.engine.base.Engine (2,)
2021-02-01 14:46:44,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,189 INFO sqlalchemy.engine.base.Engine (3,)
2021-02-01 14:46:44,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,192 INFO sqlalchemy.engine.base.Engine (4,)
2021-02-01 14:46:44,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,194 INFO sqlalchemy.engine.base.Engine (5,)
2021-02-01 14:46:44,199 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,200 INFO sqlalchemy.engine.base.Engine (6,)
2021-02-01 14:46:44,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,202 INFO sqlalchemy.engine.base.Engine (7,)
2021-02-01 14:46:44,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,205 INFO sqlalchemy.engine.base.Engine (8,)
2021-02-01 14:46:44,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,206 INFO sqlalchemy.engine.base.Engine (9,)
2021-02-01 14:46:44,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,209 INFO sqlalchemy.engine.base.Engine (10,)
2021-02-01 14:46:44,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,211 INFO sqlalchemy.engine.base.Engine (11,)
2021-02-01 14:46:44,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,215 INFO sqlalchemy.engine.base.Engine (12,)
2021-02-01 14:46:44,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,218 INFO sqlalchemy.engine.base.Engine (13,)
2021-02-01 14:46:44,222 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,223 INFO sqlalchemy.engine.base.Engine (14,)
2021-02-01 14:46:44,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,224 INFO sqlalchemy.engine.base.Engine (15,)
2021-02-01 14:46:44,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,228 INFO sqlalchemy.engine.base.Engine (16,)
2021-02-01 14:46:44,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,231 INFO sqlalchemy.engine.base.Engine (17,)
2021-02-01 14:46:44,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,236 INFO sqlalchemy.engine.base.Engine (18,)
2021-02-01 14:46:44,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,240 INFO sqlalchemy.engine.base.Engine (19,)
2021-02-01 14:46:44,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,245 INFO sqlalchemy.engine.base.Engine (20,)
2021-02-01 14:46:44,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,247 INFO sqlalchemy.engine.base.Engine (21,)
2021-02-01 14:46:44,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,252 INFO sqlalchemy.engine.base.Engine (22,)
2021-02-01 14:46:44,254 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,255 INFO sqlalchemy.engine.base.Engine (23,)
2021-02-01 14:46:44,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,259 INFO sqlalchemy.engine.base.Engine (24,)
2021-02-01 14:46:44,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,261 INFO sqlalchemy.engine.base.Engine (25,)
2021-02-01 14:46:44,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,267 INFO sqlalchemy.engine.base.Engine (26,)
2021-02-01 14:46:44,268 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,269 INFO sqlalchemy.engine.base.Engine (27,)
2021-02-01 14:46:44,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,272 INFO sqlalchemy.engine.base.Engine (28,)
2021-02-01 14:46:44,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,273 INFO sqlalchemy.engine.base.Engine (29,)
2021-02-01 14:46:44,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,279 INFO sqlalchemy.engine.base.Engine (30,)
2021-02-01 14:46:44,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,281 INFO sqlalchemy.engine.base.Engine (31,)
2021-02-01 14:46:44,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,286 INFO sqlalchemy.engine.base.Engine (32,)
2021-02-01 14:46:44,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,287 INFO sqlalchemy.engine.base.Engine (33,)
2021-02-01 14:46:44,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,290 INFO sqlalchemy.engine.base.Engine (34,)
2021-02-01 14:46:44,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,291 INFO sqlalchemy.engine.base.Engine (35,)
2021-02-01 14:46:44,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,297 INFO sqlalchemy.engine.base.Engine (36,)
2021-02-01 14:46:44,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,298 INFO sqlalchemy.engine.base.Engine (37,)
2021-02-01 14:46:44,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,303 INFO sqlalchemy.engine.base.Engine (38,)
2021-02-01 14:46:44,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,304 INFO sqlalchemy.engine.base.Engine (39,)
2021-02-01 14:46:44,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,310 INFO sqlalchemy.engine.base.Engine (40,)
2021-02-01 14:46:44,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,312 INFO sqlalchemy.engine.base.Engine (41,)
2021-02-01 14:46:44,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,317 INFO sqlalchemy.engine.base.Engine (42,)
2021-02-01 14:46:44,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,319 INFO sqlalchemy.engine.base.Engine (43,)
2021-02-01 14:46:44,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,324 INFO sqlalchemy.engine.base.Engine (44,)
2021-02-01 14:46:44,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,327 INFO sqlalchemy.engine.base.Engine (45,)
2021-02-01 14:46:44,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,331 INFO sqlalchemy.engine.base.Engine (46,)
2021-02-01 14:46:44,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,333 INFO sqlalchemy.engine.base.Engine (47,)
2021-02-01 14:46:44,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,338 INFO sqlalchemy.engine.base.Engine (48,)
2021-02-01 14:46:44,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,340 INFO sqlalchemy.engine.base.Engine (49,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:44,393 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,393 INFO sqlalchemy.engine.base.Engine ((50, 14.3, 14.3, 14.3, 4.409287598071905, 50.41417230028448), (51, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409287598071905, 50.41417230028448), (52, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409287598071905, 50.41417230028448), (53, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409287598071905, 50.41417230028448), (54, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409287598071905, 50.41417230028448), (55, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409287598071905, 50.41417230028448), (56, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409287598071905, 50.41417230028448), (57, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409287598071905, 50.41417230028448)  ... displaying 10 of 50 total bound parameter sets ...  (98, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409287598071905, 50.41417230028448), (99, 135.9, 135.9, 135.9, 4.409287598071905, 50.41417230028448))
2021-02-01 14:46:44,394 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:44,395 INFO sqlalchemy.engine.base.Engine ('F2',)
2021-02-01 14:46:44,397 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,397 INFO sqlalchemy.engine.base.Engine ((25, 'F2', 0, 'Anhydrite', 50, 51), (26, 'F2', 1, 'Sandstone, grey, vf-f', 52, 53), (27, 'F2', 2, 'Anhydrite', 54, 55), (28, 'F2', 3, 'Dolomite', 56, 57), (29, 'F2', 4, 'Anhydrite', 58, 59), (30, 'F2', 5, 'Sandstone, grey, vf-f', 60, 61), (31, 'F2', 6, 'Siltstone, red', 62, 63), (32, 'F2', 7, 'Dolomite', 64, 65)  ... displaying 10 of 25 total bound parameter sets ...  (48, 'F2', 23, 'Limestone', 96, 97), (49, 'F2', 24, 'Volcanic', 98, 99))
2021-02-01 14:46:44,399 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:44,404 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-02-01 14:46:44,405 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:44,406 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:44,408 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:44,409 INFO sqlalchemy.engine.base.Engine ('F2',)
2021-02-01 14:46:44,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,412 INFO sqlalchemy.engine.base.Engine (50,)
2021-02-01 14:46:44,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,415 INFO sqlalchemy.engine.base.Engine (51,)
2021-02-01 14:46:44,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,419 INFO sqlalchemy.engine.base.Engine (52,)
2021-02-01 14:46:44,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,420 INFO sqlalchemy.engine.base.Engine (53,)
2021-02-01 14:46:44,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,423 INFO sqlalchemy.engine.base.Engine (54,)
2021-02-01 14:46:44,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,426 INFO sqlalchemy.engine.base.Engine (55,)
2021-02-01 14:46:44,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,430 INFO sqlalchemy.engine.base.Engine (56,)
2021-02-01 14:46:44,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,434 INFO sqlalchemy.engine.base.Engine (57,)
2021-02-01 14:46:44,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,439 INFO sqlalchemy.engine.base.Engine (58,)
2021-02-01 14:46:44,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,441 INFO sqlalchemy.engine.base.Engine (59,)
2021-02-01 14:46:44,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,444 INFO sqlalchemy.engine.base.Engine (60,)
2021-02-01 14:46:44,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,446 INFO sqlalchemy.engine.base.Engine (61,)
2021-02-01 14:46:44,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,449 INFO sqlalchemy.engine.base.Engine (62,)
2021-02-01 14:46:44,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,451 INFO sqlalchemy.engine.base.Engine (63,)
2021-02-01 14:46:44,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,454 INFO sqlalchemy.engine.base.Engine (64,)
2021-02-01 14:46:44,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,455 INFO sqlalchemy.engine.base.Engine (65,)
2021-02-01 14:46:44,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,459 INFO sqlalchemy.engine.base.Engine (66,)
2021-02-01 14:46:44,461 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,461 INFO sqlalchemy.engine.base.Engine (67,)
2021-02-01 14:46:44,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,466 INFO sqlalchemy.engine.base.Engine (68,)
2021-02-01 14:46:44,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,468 INFO sqlalchemy.engine.base.Engine (69,)
2021-02-01 14:46:44,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,471 INFO sqlalchemy.engine.base.Engine (70,)
2021-02-01 14:46:44,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,473 INFO sqlalchemy.engine.base.Engine (71,)
2021-02-01 14:46:44,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,479 INFO sqlalchemy.engine.base.Engine (72,)
2021-02-01 14:46:44,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,483 INFO sqlalchemy.engine.base.Engine (73,)
2021-02-01 14:46:44,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,488 INFO sqlalchemy.engine.base.Engine (74,)
2021-02-01 14:46:44,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,491 INFO sqlalchemy.engine.base.Engine (75,)
2021-02-01 14:46:44,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,496 INFO sqlalchemy.engine.base.Engine (76,)
2021-02-01 14:46:44,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,497 INFO sqlalchemy.engine.base.Engine (77,)
2021-02-01 14:46:44,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,500 INFO sqlalchemy.engine.base.Engine (78,)
2021-02-01 14:46:44,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,501 INFO sqlalchemy.engine.base.Engine (79,)
2021-02-01 14:46:44,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,504 INFO sqlalchemy.engine.base.Engine (80,)
2021-02-01 14:46:44,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,506 INFO sqlalchemy.engine.base.Engine (81,)
2021-02-01 14:46:44,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,510 INFO sqlalchemy.engine.base.Engine (82,)
2021-02-01 14:46:44,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,512 INFO sqlalchemy.engine.base.Engine (83,)
2021-02-01 14:46:44,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,514 INFO sqlalchemy.engine.base.Engine (84,)
2021-02-01 14:46:44,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,516 INFO sqlalchemy.engine.base.Engine (85,)
2021-02-01 14:46:44,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,521 INFO sqlalchemy.engine.base.Engine (86,)
2021-02-01 14:46:44,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,524 INFO sqlalchemy.engine.base.Engine (87,)
2021-02-01 14:46:44,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,530 INFO sqlalchemy.engine.base.Engine (88,)
2021-02-01 14:46:44,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,532 INFO sqlalchemy.engine.base.Engine (89,)
2021-02-01 14:46:44,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,537 INFO sqlalchemy.engine.base.Engine (90,)
2021-02-01 14:46:44,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,538 INFO sqlalchemy.engine.base.Engine (91,)
2021-02-01 14:46:44,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,542 INFO sqlalchemy.engine.base.Engine (92,)
2021-02-01 14:46:44,543 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,544 INFO sqlalchemy.engine.base.Engine (93,)
2021-02-01 14:46:44,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,547 INFO sqlalchemy.engine.base.Engine (94,)
2021-02-01 14:46:44,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,548 INFO sqlalchemy.engine.base.Engine (95,)
2021-02-01 14:46:44,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,551 INFO sqlalchemy.engine.base.Engine (96,)
2021-02-01 14:46:44,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,554 INFO sqlalchemy.engine.base.Engine (97,)
2021-02-01 14:46:44,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,558 INFO sqlalchemy.engine.base.Engine (98,)
2021-02-01 14:46:44,560 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,561 INFO sqlalchemy.engine.base.Engine (99,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:44,609 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,609 INFO sqlalchemy.engine.base.Engine ((100, 14.3, 14.3, 14.3, 4.409351580262354, 50.414163511993), (101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409351580262354, 50.414163511993), (102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409351580262354, 50.414163511993), (103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409351580262354, 50.414163511993), (104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409351580262354, 50.414163511993), (105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409351580262354, 50.414163511993), (106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409351580262354, 50.414163511993), (107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409351580262354, 50.414163511993)  ... displaying 10 of 50 total bound parameter sets ...  (148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409351580262354, 50.414163511993), (149, 135.9, 135.9, 135.9, 4.409351580262354, 50.414163511993))
2021-02-01 14:46:44,611 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:44,612 INFO sqlalchemy.engine.base.Engine ('F3',)
2021-02-01 14:46:44,614 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,615 INFO sqlalchemy.engine.base.Engine ((50, 'F3', 0, 'Anhydrite', 100, 101), (51, 'F3', 1, 'Sandstone, grey, vf-f', 102, 103), (52, 'F3', 2, 'Anhydrite', 104, 105), (53, 'F3', 3, 'Dolomite', 106, 107), (54, 'F3', 4, 'Anhydrite', 108, 109), (55, 'F3', 5, 'Sandstone, grey, vf-f', 110, 111), (56, 'F3', 6, 'Siltstone, red', 112, 113), (57, 'F3', 7, 'Dolomite', 114, 115)  ... displaying 10 of 25 total bound parameter sets ...  (73, 'F3', 23, 'Limestone', 146, 147), (74, 'F3', 24, 'Volcanic', 148, 149))
2021-02-01 14:46:44,616 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:44,621 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:44,622 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:44,623 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:44,625 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:44,626 INFO sqlalchemy.engine.base.Engine ('F3',)
2021-02-01 14:46:44,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,629 INFO sqlalchemy.engine.base.Engine (100,)
2021-02-01 14:46:44,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,631 INFO sqlalchemy.engine.base.Engine (101,)
2021-02-01 14:46:44,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,636 INFO sqlalchemy.engine.base.Engine (102,)
2021-02-01 14:46:44,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,638 INFO sqlalchemy.engine.base.Engine (103,)
2021-02-01 14:46:44,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,643 INFO sqlalchemy.engine.base.Engine (104,)
2021-02-01 14:46:44,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,644 INFO sqlalchemy.engine.base.Engine (105,)
2021-02-01 14:46:44,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,648 INFO sqlalchemy.engine.base.Engine (106,)
2021-02-01 14:46:44,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,650 INFO sqlalchemy.engine.base.Engine (107,)
2021-02-01 14:46:44,654 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,655 INFO sqlalchemy.engine.base.Engine (108,)
2021-02-01 14:46:44,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,658 INFO sqlalchemy.engine.base.Engine (109,)
2021-02-01 14:46:44,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,662 INFO sqlalchemy.engine.base.Engine (110,)
2021-02-01 14:46:44,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,664 INFO sqlalchemy.engine.base.Engine (111,)
2021-02-01 14:46:44,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,667 INFO sqlalchemy.engine.base.Engine (112,)
2021-02-01 14:46:44,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,670 INFO sqlalchemy.engine.base.Engine (113,)
2021-02-01 14:46:44,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,675 INFO sqlalchemy.engine.base.Engine (114,)
2021-02-01 14:46:44,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,677 INFO sqlalchemy.engine.base.Engine (115,)
2021-02-01 14:46:44,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,680 INFO sqlalchemy.engine.base.Engine (116,)
2021-02-01 14:46:44,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,682 INFO sqlalchemy.engine.base.Engine (117,)
2021-02-01 14:46:44,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,687 INFO sqlalchemy.engine.base.Engine (118,)
2021-02-01 14:46:44,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,690 INFO sqlalchemy.engine.base.Engine (119,)
2021-02-01 14:46:44,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,695 INFO sqlalchemy.engine.base.Engine (120,)
2021-02-01 14:46:44,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,699 INFO sqlalchemy.engine.base.Engine (121,)
2021-02-01 14:46:44,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,704 INFO sqlalchemy.engine.base.Engine (122,)
2021-02-01 14:46:44,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,707 INFO sqlalchemy.engine.base.Engine (123,)
2021-02-01 14:46:44,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,712 INFO sqlalchemy.engine.base.Engine (124,)
2021-02-01 14:46:44,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,713 INFO sqlalchemy.engine.base.Engine (125,)
2021-02-01 14:46:44,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,716 INFO sqlalchemy.engine.base.Engine (126,)
2021-02-01 14:46:44,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,718 INFO sqlalchemy.engine.base.Engine (127,)
2021-02-01 14:46:44,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,723 INFO sqlalchemy.engine.base.Engine (128,)
2021-02-01 14:46:44,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,727 INFO sqlalchemy.engine.base.Engine (129,)
2021-02-01 14:46:44,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,733 INFO sqlalchemy.engine.base.Engine (130,)
2021-02-01 14:46:44,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,735 INFO sqlalchemy.engine.base.Engine (131,)
2021-02-01 14:46:44,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,740 INFO sqlalchemy.engine.base.Engine (132,)
2021-02-01 14:46:44,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,743 INFO sqlalchemy.engine.base.Engine (133,)
2021-02-01 14:46:44,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,748 INFO sqlalchemy.engine.base.Engine (134,)
2021-02-01 14:46:44,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,750 INFO sqlalchemy.engine.base.Engine (135,)
2021-02-01 14:46:44,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,752 INFO sqlalchemy.engine.base.Engine (136,)
2021-02-01 14:46:44,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,754 INFO sqlalchemy.engine.base.Engine (137,)
2021-02-01 14:46:44,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,757 INFO sqlalchemy.engine.base.Engine (138,)
2021-02-01 14:46:44,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,760 INFO sqlalchemy.engine.base.Engine (139,)
2021-02-01 14:46:44,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,765 INFO sqlalchemy.engine.base.Engine (140,)
2021-02-01 14:46:44,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,768 INFO sqlalchemy.engine.base.Engine (141,)
2021-02-01 14:46:44,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,773 INFO sqlalchemy.engine.base.Engine (142,)
2021-02-01 14:46:44,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,776 INFO sqlalchemy.engine.base.Engine (143,)
2021-02-01 14:46:44,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,779 INFO sqlalchemy.engine.base.Engine (144,)
2021-02-01 14:46:44,780 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,780 INFO sqlalchemy.engine.base.Engine (145,)
2021-02-01 14:46:44,784 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,784 INFO sqlalchemy.engine.base.Engine (146,)
2021-02-01 14:46:44,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,786 INFO sqlalchemy.engine.base.Engine (147,)
2021-02-01 14:46:44,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,788 INFO sqlalchemy.engine.base.Engine (148,)
2021-02-01 14:46:44,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,790 INFO sqlalchemy.engine.base.Engine (149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:44,852 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,853 INFO sqlalchemy.engine.base.Engine ((150, 14.3, 14.3, 14.3, 4.409320267178466, 50.41418714072812), (151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409320267178466, 50.41418714072812), (152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409320267178466, 50.41418714072812), (153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409320267178466, 50.41418714072812), (154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409320267178466, 50.41418714072812), (155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409320267178466, 50.41418714072812), (156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409320267178466, 50.41418714072812), (157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409320267178466, 50.41418714072812)  ... displaying 10 of 50 total bound parameter sets ...  (198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409320267178466, 50.41418714072812), (199, 135.9, 135.9, 135.9, 4.409320267178466, 50.41418714072812))
2021-02-01 14:46:44,855 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:44,856 INFO sqlalchemy.engine.base.Engine ('F4',)
2021-02-01 14:46:44,860 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:44,860 INFO sqlalchemy.engine.base.Engine ((75, 'F4', 0, 'Anhydrite', 150, 151), (76, 'F4', 1, 'Sandstone, grey, vf-f', 152, 153), (77, 'F4', 2, 'Anhydrite', 154, 155), (78, 'F4', 3, 'Dolomite', 156, 157), (79, 'F4', 4, 'Anhydrite', 158, 159), (80, 'F4', 5, 'Sandstone, grey, vf-f', 160, 161), (81, 'F4', 6, 'Siltstone, red', 162, 163), (82, 'F4', 7, 'Dolomite', 164, 165)  ... displaying 10 of 25 total bound parameter sets ...  (98, 'F4', 23, 'Limestone', 196, 197), (99, 'F4', 24, 'Volcanic', 198, 199))
2021-02-01 14:46:44,863 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:44,870 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:44,871 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:44,872 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:44,873 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:44,874 INFO sqlalchemy.engine.base.Engine ('F4',)
2021-02-01 14:46:44,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,878 INFO sqlalchemy.engine.base.Engine (150,)
2021-02-01 14:46:44,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,880 INFO sqlalchemy.engine.base.Engine (151,)
2021-02-01 14:46:44,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,884 INFO sqlalchemy.engine.base.Engine (152,)
2021-02-01 14:46:44,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,886 INFO sqlalchemy.engine.base.Engine (153,)
2021-02-01 14:46:44,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,889 INFO sqlalchemy.engine.base.Engine (154,)
2021-02-01 14:46:44,890 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,891 INFO sqlalchemy.engine.base.Engine (155,)
2021-02-01 14:46:44,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,894 INFO sqlalchemy.engine.base.Engine (156,)
2021-02-01 14:46:44,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,895 INFO sqlalchemy.engine.base.Engine (157,)
2021-02-01 14:46:44,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,900 INFO sqlalchemy.engine.base.Engine (158,)
2021-02-01 14:46:44,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,904 INFO sqlalchemy.engine.base.Engine (159,)
2021-02-01 14:46:44,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,909 INFO sqlalchemy.engine.base.Engine (160,)
2021-02-01 14:46:44,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,912 INFO sqlalchemy.engine.base.Engine (161,)
2021-02-01 14:46:44,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,916 INFO sqlalchemy.engine.base.Engine (162,)
2021-02-01 14:46:44,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,918 INFO sqlalchemy.engine.base.Engine (163,)
2021-02-01 14:46:44,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,921 INFO sqlalchemy.engine.base.Engine (164,)
2021-02-01 14:46:44,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,923 INFO sqlalchemy.engine.base.Engine (165,)
2021-02-01 14:46:44,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,928 INFO sqlalchemy.engine.base.Engine (166,)
2021-02-01 14:46:44,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,930 INFO sqlalchemy.engine.base.Engine (167,)
2021-02-01 14:46:44,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,934 INFO sqlalchemy.engine.base.Engine (168,)
2021-02-01 14:46:44,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,936 INFO sqlalchemy.engine.base.Engine (169,)
2021-02-01 14:46:44,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,942 INFO sqlalchemy.engine.base.Engine (170,)
2021-02-01 14:46:44,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,944 INFO sqlalchemy.engine.base.Engine (171,)
2021-02-01 14:46:44,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,950 INFO sqlalchemy.engine.base.Engine (172,)
2021-02-01 14:46:44,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,951 INFO sqlalchemy.engine.base.Engine (173,)
2021-02-01 14:46:44,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,955 INFO sqlalchemy.engine.base.Engine (174,)
2021-02-01 14:46:44,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,957 INFO sqlalchemy.engine.base.Engine (175,)
2021-02-01 14:46:44,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,961 INFO sqlalchemy.engine.base.Engine (176,)
2021-02-01 14:46:44,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,964 INFO sqlalchemy.engine.base.Engine (177,)
2021-02-01 14:46:44,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,969 INFO sqlalchemy.engine.base.Engine (178,)
2021-02-01 14:46:44,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,972 INFO sqlalchemy.engine.base.Engine (179,)
2021-02-01 14:46:44,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,977 INFO sqlalchemy.engine.base.Engine (180,)
2021-02-01 14:46:44,979 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:44,980 INFO sqlalchemy.engine.base.Engine (181,)
2021-02-01 14:46:44,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,983 INFO sqlalchemy.engine.base.Engine (182,)
2021-02-01 14:46:44,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,985 INFO sqlalchemy.engine.base.Engine (183,)
2021-02-01 14:46:44,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,990 INFO sqlalchemy.engine.base.Engine (184,)
2021-02-01 14:46:44,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,992 INFO sqlalchemy.engine.base.Engine (185,)
2021-02-01 14:46:44,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,997 INFO sqlalchemy.engine.base.Engine (186,)
2021-02-01 14:46:44,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:44,999 INFO sqlalchemy.engine.base.Engine (187,)
2021-02-01 14:46:45,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,002 INFO sqlalchemy.engine.base.Engine (188,)
2021-02-01 14:46:45,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,003 INFO sqlalchemy.engine.base.Engine (189,)
2021-02-01 14:46:45,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,007 INFO sqlalchemy.engine.base.Engine (190,)
2021-02-01 14:46:45,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,009 INFO sqlalchemy.engine.base.Engine (191,)
2021-02-01 14:46:45,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,013 INFO sqlalchemy.engine.base.Engine (192,)
2021-02-01 14:46:45,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,015 INFO sqlalchemy.engine.base.Engine (193,)
2021-02-01 14:46:45,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,020 INFO sqlalchemy.engine.base.Engine (194,)
2021-02-01 14:46:45,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,023 INFO sqlalchemy.engine.base.Engine (195,)
2021-02-01 14:46:45,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,027 INFO sqlalchemy.engine.base.Engine (196,)
2021-02-01 14:46:45,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,030 INFO sqlalchemy.engine.base.Engine (197,)
2021-02-01 14:46:45,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,035 INFO sqlalchemy.engine.base.Engine (198,)
2021-02-01 14:46:45,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,037 INFO sqlalchemy.engine.base.Engine (199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:45,092 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,093 INFO sqlalchemy.engine.base.Engine ((200, 14.3, 14.3, 14.3, 4.409381601559812, 50.41417526967451), (201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409381601559812, 50.41417526967451), (202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409381601559812, 50.41417526967451), (203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409381601559812, 50.41417526967451), (204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409381601559812, 50.41417526967451), (205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409381601559812, 50.41417526967451), (206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409381601559812, 50.41417526967451), (207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409381601559812, 50.41417526967451)  ... displaying 10 of 50 total bound parameter sets ...  (248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409381601559812, 50.41417526967451), (249, 135.9, 135.9, 135.9, 4.409381601559812, 50.41417526967451))

2021-02-01 14:46:45,095 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:45,095 INFO sqlalchemy.engine.base.Engine ('F5',)
2021-02-01 14:46:45,098 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,099 INFO sqlalchemy.engine.base.Engine ((100, 'F5', 0, 'Anhydrite', 200, 201), (101, 'F5', 1, 'Sandstone, grey, vf-f', 202, 203), (102, 'F5', 2, 'Anhydrite', 204, 205), (103, 'F5', 3, 'Dolomite', 206, 207), (104, 'F5', 4, 'Anhydrite', 208, 209), (105, 'F5', 5, 'Sandstone, grey, vf-f', 210, 211), (106, 'F5', 6, 'Siltstone, red', 212, 213), (107, 'F5', 7, 'Dolomite', 214, 215)  ... displaying 10 of 25 total bound parameter sets ...  (123, 'F5', 23, 'Limestone', 246, 247), (124, 'F5', 24, 'Volcanic', 248, 249))
2021-02-01 14:46:45,100 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:45,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:45,106 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:45,107 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:45,109 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:45,111 INFO sqlalchemy.engine.base.Engine ('F5',)
2021-02-01 14:46:45,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,115 INFO sqlalchemy.engine.base.Engine (200,)
2021-02-01 14:46:45,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,118 INFO sqlalchemy.engine.base.Engine (201,)
2021-02-01 14:46:45,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,124 INFO sqlalchemy.engine.base.Engine (202,)
2021-02-01 14:46:45,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,128 INFO sqlalchemy.engine.base.Engine (203,)
2021-02-01 14:46:45,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,134 INFO sqlalchemy.engine.base.Engine (204,)
2021-02-01 14:46:45,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,136 INFO sqlalchemy.engine.base.Engine (205,)
2021-02-01 14:46:45,138 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,138 INFO sqlalchemy.engine.base.Engine (206,)
2021-02-01 14:46:45,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,140 INFO sqlalchemy.engine.base.Engine (207,)
2021-02-01 14:46:45,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,144 INFO sqlalchemy.engine.base.Engine (208,)
2021-02-01 14:46:45,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,146 INFO sqlalchemy.engine.base.Engine (209,)
2021-02-01 14:46:45,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,151 INFO sqlalchemy.engine.base.Engine (210,)
2021-02-01 14:46:45,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,154 INFO sqlalchemy.engine.base.Engine (211,)
2021-02-01 14:46:45,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,158 INFO sqlalchemy.engine.base.Engine (212,)
2021-02-01 14:46:45,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,160 INFO sqlalchemy.engine.base.Engine (213,)
2021-02-01 14:46:45,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,163 INFO sqlalchemy.engine.base.Engine (214,)
2021-02-01 14:46:45,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,165 INFO sqlalchemy.engine.base.Engine (215,)
2021-02-01 14:46:45,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,170 INFO sqlalchemy.engine.base.Engine (216,)
2021-02-01 14:46:45,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,172 INFO sqlalchemy.engine.base.Engine (217,)
2021-02-01 14:46:45,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,176 INFO sqlalchemy.engine.base.Engine (218,)
2021-02-01 14:46:45,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,178 INFO sqlalchemy.engine.base.Engine (219,)
2021-02-01 14:46:45,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,183 INFO sqlalchemy.engine.base.Engine (220,)
2021-02-01 14:46:45,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,186 INFO sqlalchemy.engine.base.Engine (221,)
2021-02-01 14:46:45,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,190 INFO sqlalchemy.engine.base.Engine (222,)
2021-02-01 14:46:45,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,192 INFO sqlalchemy.engine.base.Engine (223,)
2021-02-01 14:46:45,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,197 INFO sqlalchemy.engine.base.Engine (224,)
2021-02-01 14:46:45,199 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,199 INFO sqlalchemy.engine.base.Engine (225,)
2021-02-01 14:46:45,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,205 INFO sqlalchemy.engine.base.Engine (226,)
2021-02-01 14:46:45,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,207 INFO sqlalchemy.engine.base.Engine (227,)
2021-02-01 14:46:45,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,212 INFO sqlalchemy.engine.base.Engine (228,)
2021-02-01 14:46:45,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,214 INFO sqlalchemy.engine.base.Engine (229,)
2021-02-01 14:46:45,218 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,219 INFO sqlalchemy.engine.base.Engine (230,)
2021-02-01 14:46:45,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,221 INFO sqlalchemy.engine.base.Engine (231,)
2021-02-01 14:46:45,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,228 INFO sqlalchemy.engine.base.Engine (232,)
2021-02-01 14:46:45,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,231 INFO sqlalchemy.engine.base.Engine (233,)
2021-02-01 14:46:45,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,236 INFO sqlalchemy.engine.base.Engine (234,)
2021-02-01 14:46:45,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,240 INFO sqlalchemy.engine.base.Engine (235,)
2021-02-01 14:46:45,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,246 INFO sqlalchemy.engine.base.Engine (236,)
2021-02-01 14:46:45,247 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,247 INFO sqlalchemy.engine.base.Engine (237,)
2021-02-01 14:46:45,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,251 INFO sqlalchemy.engine.base.Engine (238,)
2021-02-01 14:46:45,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,253 INFO sqlalchemy.engine.base.Engine (239,)
2021-02-01 14:46:45,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,258 INFO sqlalchemy.engine.base.Engine (240,)
2021-02-01 14:46:45,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,261 INFO sqlalchemy.engine.base.Engine (241,)
2021-02-01 14:46:45,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,266 INFO sqlalchemy.engine.base.Engine (242,)
2021-02-01 14:46:45,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,268 INFO sqlalchemy.engine.base.Engine (243,)
2021-02-01 14:46:45,272 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,273 INFO sqlalchemy.engine.base.Engine (244,)
2021-02-01 14:46:45,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,275 INFO sqlalchemy.engine.base.Engine (245,)
2021-02-01 14:46:45,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,280 INFO sqlalchemy.engine.base.Engine (246,)
2021-02-01 14:46:45,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,283 INFO sqlalchemy.engine.base.Engine (247,)
2021-02-01 14:46:45,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,288 INFO sqlalchemy.engine.base.Engine (248,)
2021-02-01 14:46:45,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,291 INFO sqlalchemy.engine.base.Engine (249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:45,348 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:45,349 INFO sqlalchemy.engine.base.Engine ('F6',)
2021-02-01 14:46:45,351 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,351 INFO sqlalchemy.engine.base.Engine ((250, 14.3, 14.3, 14.3, 4.409354865828352, 50.41420421907085), (251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409354865828352, 50.41420421907085), (252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409354865828352, 50.41420421907085), (253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409354865828352, 50.41420421907085), (254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409354865828352, 50.41420421907085), (255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409354865828352, 50.41420421907085), (256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409354865828352, 50.41420421907085), (257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409354865828352, 50.41420421907085)  ... displaying 10 of 50 total bound parameter sets ...  (298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409354865828352, 50.41420421907085), (299, 135.9, 135.9, 135.9, 4.409354865828352, 50.41420421907085))
2021-02-01 14:46:45,353 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,353 INFO sqlalchemy.engine.base.Engine ((125, 'F6', 0, 'Anhydrite', 250, 251), (126, 'F6', 1, 'Sandstone, grey, vf-f', 252, 253), (127, 'F6', 2, 'Anhydrite', 254, 255), (128, 'F6', 3, 'Dolomite', 256, 257), (129, 'F6', 4, 'Anhydrite', 258, 259), (130, 'F6', 5, 'Sandstone, grey, vf-f', 260, 261), (131, 'F6', 6, 'Siltstone, red', 262, 263), (132, 'F6', 7, 'Dolomite', 264, 265)  ... displaying 10 of 25 total bound parameter sets ...  (148, 'F6', 23, 'Limestone', 296, 297), (149, 'F6', 24, 'Volcanic', 298, 299))
2021-02-01 14:46:45,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:45,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:45,362 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:45,363 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:45,365 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:45,366 INFO sqlalchemy.engine.base.Engine ('F6',)
2021-02-01 14:46:45,368 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,368 INFO sqlalchemy.engine.base.Engine (250,)
2021-02-01 14:46:45,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,371 INFO sqlalchemy.engine.base.Engine (251,)
2021-02-01 14:46:45,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,376 INFO sqlalchemy.engine.base.Engine (252,)
2021-02-01 14:46:45,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,379 INFO sqlalchemy.engine.base.Engine (253,)
2021-02-01 14:46:45,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,385 INFO sqlalchemy.engine.base.Engine (254,)
2021-02-01 14:46:45,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,387 INFO sqlalchemy.engine.base.Engine (255,)
2021-02-01 14:46:45,389 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,390 INFO sqlalchemy.engine.base.Engine (256,)
2021-02-01 14:46:45,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,393 INFO sqlalchemy.engine.base.Engine (257,)
2021-02-01 14:46:45,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,398 INFO sqlalchemy.engine.base.Engine (258,)
2021-02-01 14:46:45,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,399 INFO sqlalchemy.engine.base.Engine (259,)
2021-02-01 14:46:45,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,404 INFO sqlalchemy.engine.base.Engine (260,)
2021-02-01 14:46:45,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,407 INFO sqlalchemy.engine.base.Engine (261,)
2021-02-01 14:46:45,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,411 INFO sqlalchemy.engine.base.Engine (262,)
2021-02-01 14:46:45,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,414 INFO sqlalchemy.engine.base.Engine (263,)
2021-02-01 14:46:45,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,419 INFO sqlalchemy.engine.base.Engine (264,)
2021-02-01 14:46:45,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,423 INFO sqlalchemy.engine.base.Engine (265,)
2021-02-01 14:46:45,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,428 INFO sqlalchemy.engine.base.Engine (266,)
2021-02-01 14:46:45,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,429 INFO sqlalchemy.engine.base.Engine (267,)
2021-02-01 14:46:45,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,434 INFO sqlalchemy.engine.base.Engine (268,)
2021-02-01 14:46:45,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,437 INFO sqlalchemy.engine.base.Engine (269,)
2021-02-01 14:46:45,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,443 INFO sqlalchemy.engine.base.Engine (270,)
2021-02-01 14:46:45,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,446 INFO sqlalchemy.engine.base.Engine (271,)
2021-02-01 14:46:45,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,451 INFO sqlalchemy.engine.base.Engine (272,)
2021-02-01 14:46:45,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,454 INFO sqlalchemy.engine.base.Engine (273,)
2021-02-01 14:46:45,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,457 INFO sqlalchemy.engine.base.Engine (274,)
2021-02-01 14:46:45,459 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,460 INFO sqlalchemy.engine.base.Engine (275,)
2021-02-01 14:46:45,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,464 INFO sqlalchemy.engine.base.Engine (276,)
2021-02-01 14:46:45,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,465 INFO sqlalchemy.engine.base.Engine (277,)
2021-02-01 14:46:45,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,468 INFO sqlalchemy.engine.base.Engine (278,)
2021-02-01 14:46:45,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,469 INFO sqlalchemy.engine.base.Engine (279,)
2021-02-01 14:46:45,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,472 INFO sqlalchemy.engine.base.Engine (280,)
2021-02-01 14:46:45,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,474 INFO sqlalchemy.engine.base.Engine (281,)
2021-02-01 14:46:45,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,476 INFO sqlalchemy.engine.base.Engine (282,)
2021-02-01 14:46:45,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,478 INFO sqlalchemy.engine.base.Engine (283,)
2021-02-01 14:46:45,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,481 INFO sqlalchemy.engine.base.Engine (284,)
2021-02-01 14:46:45,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,484 INFO sqlalchemy.engine.base.Engine (285,)
2021-02-01 14:46:45,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,488 INFO sqlalchemy.engine.base.Engine (286,)
2021-02-01 14:46:45,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,490 INFO sqlalchemy.engine.base.Engine (287,)
2021-02-01 14:46:45,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,493 INFO sqlalchemy.engine.base.Engine (288,)
2021-02-01 14:46:45,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,496 INFO sqlalchemy.engine.base.Engine (289,)
2021-02-01 14:46:45,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,499 INFO sqlalchemy.engine.base.Engine (290,)
2021-02-01 14:46:45,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,501 INFO sqlalchemy.engine.base.Engine (291,)
2021-02-01 14:46:45,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,504 INFO sqlalchemy.engine.base.Engine (292,)
2021-02-01 14:46:45,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,506 INFO sqlalchemy.engine.base.Engine (293,)
2021-02-01 14:46:45,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,511 INFO sqlalchemy.engine.base.Engine (294,)
2021-02-01 14:46:45,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,513 INFO sqlalchemy.engine.base.Engine (295,)
2021-02-01 14:46:45,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,517 INFO sqlalchemy.engine.base.Engine (296,)
2021-02-01 14:46:45,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,520 INFO sqlalchemy.engine.base.Engine (297,)
2021-02-01 14:46:45,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,523 INFO sqlalchemy.engine.base.Engine (298,)
2021-02-01 14:46:45,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,526 INFO sqlalchemy.engine.base.Engine (299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:45,603 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,604 INFO sqlalchemy.engine.base.Engine ((300, 14.3, 14.3, 14.3, 4.409280993006138, 50.414132664232014), (301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409280993006138, 50.414132664232014), (302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409280993006138, 50.414132664232014), (303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409280993006138, 50.414132664232014), (304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409280993006138, 50.414132664232014), (305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409280993006138, 50.414132664232014), (306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409280993006138, 50.414132664232014), (307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409280993006138, 50.414132664232014)  ... displaying 10 of 50 total bound parameter sets ...  (348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409280993006138, 50.414132664232014), (349, 135.9, 135.9, 135.9, 4.409280993006138, 50.414132664232014))
2021-02-01 14:46:45,606 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:45,606 INFO sqlalchemy.engine.base.Engine ('F7',)
2021-02-01 14:46:45,609 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,610 INFO sqlalchemy.engine.base.Engine ((150, 'F7', 0, 'Anhydrite', 300, 301), (151, 'F7', 1, 'Sandstone, grey, vf-f', 302, 303), (152, 'F7', 2, 'Anhydrite', 304, 305), (153, 'F7', 3, 'Dolomite', 306, 307), (154, 'F7', 4, 'Anhydrite', 308, 309), (155, 'F7', 5, 'Sandstone, grey, vf-f', 310, 311), (156, 'F7', 6, 'Siltstone, red', 312, 313), (157, 'F7', 7, 'Dolomite', 314, 315)  ... displaying 10 of 25 total bound parameter sets ...  (173, 'F7', 23, 'Limestone', 346, 347), (174, 'F7', 24, 'Volcanic', 348, 349))
2021-02-01 14:46:45,612 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:45,619 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:45,621 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:45,622 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:45,624 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:45,624 INFO sqlalchemy.engine.base.Engine ('F7',)
2021-02-01 14:46:45,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,628 INFO sqlalchemy.engine.base.Engine (300,)
2021-02-01 14:46:45,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,631 INFO sqlalchemy.engine.base.Engine (301,)
2021-02-01 14:46:45,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,636 INFO sqlalchemy.engine.base.Engine (302,)
2021-02-01 14:46:45,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,639 INFO sqlalchemy.engine.base.Engine (303,)
2021-02-01 14:46:45,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,643 INFO sqlalchemy.engine.base.Engine (304,)
2021-02-01 14:46:45,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,645 INFO sqlalchemy.engine.base.Engine (305,)
2021-02-01 14:46:45,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,650 INFO sqlalchemy.engine.base.Engine (306,)
2021-02-01 14:46:45,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,652 INFO sqlalchemy.engine.base.Engine (307,)
2021-02-01 14:46:45,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,656 INFO sqlalchemy.engine.base.Engine (308,)
2021-02-01 14:46:45,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,659 INFO sqlalchemy.engine.base.Engine (309,)
2021-02-01 14:46:45,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,663 INFO sqlalchemy.engine.base.Engine (310,)
2021-02-01 14:46:45,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,666 INFO sqlalchemy.engine.base.Engine (311,)
2021-02-01 14:46:45,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,671 INFO sqlalchemy.engine.base.Engine (312,)
2021-02-01 14:46:45,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,673 INFO sqlalchemy.engine.base.Engine (313,)
2021-02-01 14:46:45,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,677 INFO sqlalchemy.engine.base.Engine (314,)
2021-02-01 14:46:45,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,679 INFO sqlalchemy.engine.base.Engine (315,)
2021-02-01 14:46:45,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,682 INFO sqlalchemy.engine.base.Engine (316,)
2021-02-01 14:46:45,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,685 INFO sqlalchemy.engine.base.Engine (317,)
2021-02-01 14:46:45,687 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,687 INFO sqlalchemy.engine.base.Engine (318,)
2021-02-01 14:46:45,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,689 INFO sqlalchemy.engine.base.Engine (319,)
2021-02-01 14:46:45,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,693 INFO sqlalchemy.engine.base.Engine (320,)
2021-02-01 14:46:45,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,695 INFO sqlalchemy.engine.base.Engine (321,)
2021-02-01 14:46:45,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,700 INFO sqlalchemy.engine.base.Engine (322,)
2021-02-01 14:46:45,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,701 INFO sqlalchemy.engine.base.Engine (323,)
2021-02-01 14:46:45,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,705 INFO sqlalchemy.engine.base.Engine (324,)
2021-02-01 14:46:45,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,706 INFO sqlalchemy.engine.base.Engine (325,)
2021-02-01 14:46:45,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,709 INFO sqlalchemy.engine.base.Engine (326,)
2021-02-01 14:46:45,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,711 INFO sqlalchemy.engine.base.Engine (327,)
2021-02-01 14:46:45,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,715 INFO sqlalchemy.engine.base.Engine (328,)
2021-02-01 14:46:45,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,717 INFO sqlalchemy.engine.base.Engine (329,)
2021-02-01 14:46:45,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,720 INFO sqlalchemy.engine.base.Engine (330,)
2021-02-01 14:46:45,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,721 INFO sqlalchemy.engine.base.Engine (331,)
2021-02-01 14:46:45,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,724 INFO sqlalchemy.engine.base.Engine (332,)
2021-02-01 14:46:45,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,726 INFO sqlalchemy.engine.base.Engine (333,)
2021-02-01 14:46:45,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,729 INFO sqlalchemy.engine.base.Engine (334,)
2021-02-01 14:46:45,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,731 INFO sqlalchemy.engine.base.Engine (335,)
2021-02-01 14:46:45,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,735 INFO sqlalchemy.engine.base.Engine (336,)
2021-02-01 14:46:45,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,738 INFO sqlalchemy.engine.base.Engine (337,)
2021-02-01 14:46:45,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,742 INFO sqlalchemy.engine.base.Engine (338,)
2021-02-01 14:46:45,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,744 INFO sqlalchemy.engine.base.Engine (339,)
2021-02-01 14:46:45,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,747 INFO sqlalchemy.engine.base.Engine (340,)
2021-02-01 14:46:45,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,749 INFO sqlalchemy.engine.base.Engine (341,)
2021-02-01 14:46:45,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,753 INFO sqlalchemy.engine.base.Engine (342,)
2021-02-01 14:46:45,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,755 INFO sqlalchemy.engine.base.Engine (343,)
2021-02-01 14:46:45,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,759 INFO sqlalchemy.engine.base.Engine (344,)
2021-02-01 14:46:45,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,761 INFO sqlalchemy.engine.base.Engine (345,)
2021-02-01 14:46:45,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,763 INFO sqlalchemy.engine.base.Engine (346,)
2021-02-01 14:46:45,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,765 INFO sqlalchemy.engine.base.Engine (347,)
2021-02-01 14:46:45,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,770 INFO sqlalchemy.engine.base.Engine (348,)
2021-02-01 14:46:45,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,772 INFO sqlalchemy.engine.base.Engine (349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:45,824 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,825 INFO sqlalchemy.engine.base.Engine ((350, 14.3, 14.3, 14.3, 4.409318687201128, 50.41415000220751), (351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409318687201128, 50.41415000220751), (352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409318687201128, 50.41415000220751), (353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409318687201128, 50.41415000220751), (354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409318687201128, 50.41415000220751), (355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409318687201128, 50.41415000220751), (356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409318687201128, 50.41415000220751), (357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409318687201128, 50.41415000220751)  ... displaying 10 of 50 total bound parameter sets ...  (398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409318687201128, 50.41415000220751), (399, 135.9, 135.9, 135.9, 4.409318687201128, 50.41415000220751))
2021-02-01 14:46:45,827 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:45,828 INFO sqlalchemy.engine.base.Engine ('F8',)
2021-02-01 14:46:45,830 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:45,831 INFO sqlalchemy.engine.base.Engine ((175, 'F8', 0, 'Anhydrite', 350, 351), (176, 'F8', 1, 'Sandstone, grey, vf-f', 352, 353), (177, 'F8', 2, 'Anhydrite', 354, 355), (178, 'F8', 3, 'Dolomite', 356, 357), (179, 'F8', 4, 'Anhydrite', 358, 359), (180, 'F8', 5, 'Sandstone, grey, vf-f', 360, 361), (181, 'F8', 6, 'Siltstone, red', 362, 363), (182, 'F8', 7, 'Dolomite', 364, 365)  ... displaying 10 of 25 total bound parameter sets ...  (198, 'F8', 23, 'Limestone', 396, 397), (199, 'F8', 24, 'Volcanic', 398, 399))
2021-02-01 14:46:45,832 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:45,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:45,840 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:45,840 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:45,843 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:45,844 INFO sqlalchemy.engine.base.Engine ('F8',)
2021-02-01 14:46:45,846 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,847 INFO sqlalchemy.engine.base.Engine (350,)
2021-02-01 14:46:45,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,849 INFO sqlalchemy.engine.base.Engine (351,)
2021-02-01 14:46:45,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,853 INFO sqlalchemy.engine.base.Engine (352,)
2021-02-01 14:46:45,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,854 INFO sqlalchemy.engine.base.Engine (353,)
2021-02-01 14:46:45,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,860 INFO sqlalchemy.engine.base.Engine (354,)
2021-02-01 14:46:45,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,864 INFO sqlalchemy.engine.base.Engine (355,)
2021-02-01 14:46:45,866 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,868 INFO sqlalchemy.engine.base.Engine (356,)
2021-02-01 14:46:45,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,870 INFO sqlalchemy.engine.base.Engine (357,)
2021-02-01 14:46:45,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,875 INFO sqlalchemy.engine.base.Engine (358,)
2021-02-01 14:46:45,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,877 INFO sqlalchemy.engine.base.Engine (359,)
2021-02-01 14:46:45,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,881 INFO sqlalchemy.engine.base.Engine (360,)
2021-02-01 14:46:45,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,884 INFO sqlalchemy.engine.base.Engine (361,)
2021-02-01 14:46:45,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,887 INFO sqlalchemy.engine.base.Engine (362,)
2021-02-01 14:46:45,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,889 INFO sqlalchemy.engine.base.Engine (363,)
2021-02-01 14:46:45,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,893 INFO sqlalchemy.engine.base.Engine (364,)
2021-02-01 14:46:45,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,895 INFO sqlalchemy.engine.base.Engine (365,)
2021-02-01 14:46:45,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,899 INFO sqlalchemy.engine.base.Engine (366,)
2021-02-01 14:46:45,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,900 INFO sqlalchemy.engine.base.Engine (367,)
2021-02-01 14:46:45,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,903 INFO sqlalchemy.engine.base.Engine (368,)
2021-02-01 14:46:45,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,906 INFO sqlalchemy.engine.base.Engine (369,)
2021-02-01 14:46:45,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,913 INFO sqlalchemy.engine.base.Engine (370,)
2021-02-01 14:46:45,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,916 INFO sqlalchemy.engine.base.Engine (371,)
2021-02-01 14:46:45,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,920 INFO sqlalchemy.engine.base.Engine (372,)
2021-02-01 14:46:45,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,921 INFO sqlalchemy.engine.base.Engine (373,)
2021-02-01 14:46:45,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,926 INFO sqlalchemy.engine.base.Engine (374,)
2021-02-01 14:46:45,928 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,928 INFO sqlalchemy.engine.base.Engine (375,)
2021-02-01 14:46:45,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,933 INFO sqlalchemy.engine.base.Engine (376,)
2021-02-01 14:46:45,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,935 INFO sqlalchemy.engine.base.Engine (377,)
2021-02-01 14:46:45,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,938 INFO sqlalchemy.engine.base.Engine (378,)
2021-02-01 14:46:45,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,941 INFO sqlalchemy.engine.base.Engine (379,)
2021-02-01 14:46:45,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,944 INFO sqlalchemy.engine.base.Engine (380,)
2021-02-01 14:46:45,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,948 INFO sqlalchemy.engine.base.Engine (381,)
2021-02-01 14:46:45,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,953 INFO sqlalchemy.engine.base.Engine (382,)
2021-02-01 14:46:45,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,956 INFO sqlalchemy.engine.base.Engine (383,)
2021-02-01 14:46:45,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:45,959 INFO sqlalchemy.engine.base.Engine (384,)
2021-02-01 14:46:45,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,962 INFO sqlalchemy.engine.base.Engine (385,)
2021-02-01 14:46:45,964 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,964 INFO sqlalchemy.engine.base.Engine (386,)
2021-02-01 14:46:45,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,967 INFO sqlalchemy.engine.base.Engine (387,)
2021-02-01 14:46:45,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,972 INFO sqlalchemy.engine.base.Engine (388,)
2021-02-01 14:46:45,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,975 INFO sqlalchemy.engine.base.Engine (389,)
2021-02-01 14:46:45,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,981 INFO sqlalchemy.engine.base.Engine (390,)
2021-02-01 14:46:45,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,983 INFO sqlalchemy.engine.base.Engine (391,)
2021-02-01 14:46:45,985 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,986 INFO sqlalchemy.engine.base.Engine (392,)
2021-02-01 14:46:45,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,988 INFO sqlalchemy.engine.base.Engine (393,)
2021-02-01 14:46:45,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,991 INFO sqlalchemy.engine.base.Engine (394,)
2021-02-01 14:46:45,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:45,995 INFO sqlalchemy.engine.base.Engine (395,)
2021-02-01 14:46:45,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,000 INFO sqlalchemy.engine.base.Engine (396,)
2021-02-01 14:46:46,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,002 INFO sqlalchemy.engine.base.Engine (397,)
2021-02-01 14:46:46,004 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,005 INFO sqlalchemy.engine.base.Engine (398,)
2021-02-01 14:46:46,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,006 INFO sqlalchemy.engine.base.Engine (399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:46,054 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,055 INFO sqlalchemy.engine.base.Engine ((400, 14.3, 14.3, 14.3, 4.4093959992513385, 50.41416393673048), (401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093959992513385, 50.41416393673048), (402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093959992513385, 50.41416393673048), (403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093959992513385, 50.41416393673048), (404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093959992513385, 50.41416393673048), (405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093959992513385, 50.41416393673048), (406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093959992513385, 50.41416393673048), (407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4093959992513385, 50.41416393673048)  ... displaying 10 of 50 total bound parameter sets ...  (448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4093959992513385, 50.41416393673048), (449, 135.9, 135.9, 135.9, 4.4093959992513385, 50.41416393673048))
2021-02-01 14:46:46,057 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:46,059 INFO sqlalchemy.engine.base.Engine ('F9',)
2021-02-01 14:46:46,061 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,061 INFO sqlalchemy.engine.base.Engine ((200, 'F9', 0, 'Anhydrite', 400, 401), (201, 'F9', 1, 'Sandstone, grey, vf-f', 402, 403), (202, 'F9', 2, 'Anhydrite', 404, 405), (203, 'F9', 3, 'Dolomite', 406, 407), (204, 'F9', 4, 'Anhydrite', 408, 409), (205, 'F9', 5, 'Sandstone, grey, vf-f', 410, 411), (206, 'F9', 6, 'Siltstone, red', 412, 413), (207, 'F9', 7, 'Dolomite', 414, 415)  ... displaying 10 of 25 total bound parameter sets ...  (223, 'F9', 23, 'Limestone', 446, 447), (224, 'F9', 24, 'Volcanic', 448, 449))
2021-02-01 14:46:46,064 INFO sqlalchemy.engine.base.Engine COMMIT

2021-02-01 14:46:46,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:46,069 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:46,070 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:46,071 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:46,072 INFO sqlalchemy.engine.base.Engine ('F9',)
2021-02-01 14:46:46,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,073 INFO sqlalchemy.engine.base.Engine (400,)
2021-02-01 14:46:46,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,074 INFO sqlalchemy.engine.base.Engine (401,)
2021-02-01 14:46:46,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,076 INFO sqlalchemy.engine.base.Engine (402,)
2021-02-01 14:46:46,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,078 INFO sqlalchemy.engine.base.Engine (403,)
2021-02-01 14:46:46,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,081 INFO sqlalchemy.engine.base.Engine (404,)
2021-02-01 14:46:46,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,083 INFO sqlalchemy.engine.base.Engine (405,)
2021-02-01 14:46:46,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,088 INFO sqlalchemy.engine.base.Engine (406,)
2021-02-01 14:46:46,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,090 INFO sqlalchemy.engine.base.Engine (407,)
2021-02-01 14:46:46,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,094 INFO sqlalchemy.engine.base.Engine (408,)
2021-02-01 14:46:46,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,097 INFO sqlalchemy.engine.base.Engine (409,)
2021-02-01 14:46:46,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,103 INFO sqlalchemy.engine.base.Engine (410,)
2021-02-01 14:46:46,104 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,106 INFO sqlalchemy.engine.base.Engine (411,)
2021-02-01 14:46:46,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,113 INFO sqlalchemy.engine.base.Engine (412,)
2021-02-01 14:46:46,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,115 INFO sqlalchemy.engine.base.Engine (413,)
2021-02-01 14:46:46,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,118 INFO sqlalchemy.engine.base.Engine (414,)
2021-02-01 14:46:46,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,121 INFO sqlalchemy.engine.base.Engine (415,)
2021-02-01 14:46:46,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,124 INFO sqlalchemy.engine.base.Engine (416,)
2021-02-01 14:46:46,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,126 INFO sqlalchemy.engine.base.Engine (417,)
2021-02-01 14:46:46,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,131 INFO sqlalchemy.engine.base.Engine (418,)

2021-02-01 14:46:46,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,133 INFO sqlalchemy.engine.base.Engine (419,)
2021-02-01 14:46:46,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,136 INFO sqlalchemy.engine.base.Engine (420,)
2021-02-01 14:46:46,138 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,139 INFO sqlalchemy.engine.base.Engine (421,)
2021-02-01 14:46:46,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,145 INFO sqlalchemy.engine.base.Engine (422,)
2021-02-01 14:46:46,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,147 INFO sqlalchemy.engine.base.Engine (423,)
2021-02-01 14:46:46,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,149 INFO sqlalchemy.engine.base.Engine (424,)
2021-02-01 14:46:46,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,150 INFO sqlalchemy.engine.base.Engine (425,)
2021-02-01 14:46:46,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,152 INFO sqlalchemy.engine.base.Engine (426,)
2021-02-01 14:46:46,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,154 INFO sqlalchemy.engine.base.Engine (427,)
2021-02-01 14:46:46,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,156 INFO sqlalchemy.engine.base.Engine (428,)
2021-02-01 14:46:46,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,158 INFO sqlalchemy.engine.base.Engine (429,)
2021-02-01 14:46:46,161 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,162 INFO sqlalchemy.engine.base.Engine (430,)
2021-02-01 14:46:46,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,165 INFO sqlalchemy.engine.base.Engine (431,)
2021-02-01 14:46:46,170 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,170 INFO sqlalchemy.engine.base.Engine (432,)
2021-02-01 14:46:46,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,173 INFO sqlalchemy.engine.base.Engine (433,)
2021-02-01 14:46:46,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,179 INFO sqlalchemy.engine.base.Engine (434,)
2021-02-01 14:46:46,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,181 INFO sqlalchemy.engine.base.Engine (435,)
2021-02-01 14:46:46,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,186 INFO sqlalchemy.engine.base.Engine (436,)
2021-02-01 14:46:46,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,189 INFO sqlalchemy.engine.base.Engine (437,)
2021-02-01 14:46:46,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,194 INFO sqlalchemy.engine.base.Engine (438,)
2021-02-01 14:46:46,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,196 INFO sqlalchemy.engine.base.Engine (439,)
2021-02-01 14:46:46,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,201 INFO sqlalchemy.engine.base.Engine (440,)
2021-02-01 14:46:46,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,203 INFO sqlalchemy.engine.base.Engine (441,)
2021-02-01 14:46:46,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,207 INFO sqlalchemy.engine.base.Engine (442,)
2021-02-01 14:46:46,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,208 INFO sqlalchemy.engine.base.Engine (443,)
2021-02-01 14:46:46,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,211 INFO sqlalchemy.engine.base.Engine (444,)
2021-02-01 14:46:46,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,213 INFO sqlalchemy.engine.base.Engine (445,)
2021-02-01 14:46:46,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,218 INFO sqlalchemy.engine.base.Engine (446,)
2021-02-01 14:46:46,220 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,221 INFO sqlalchemy.engine.base.Engine (447,)
2021-02-01 14:46:46,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,224 INFO sqlalchemy.engine.base.Engine (448,)
2021-02-01 14:46:46,225 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,225 INFO sqlalchemy.engine.base.Engine (449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:46,276 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:46,277 INFO sqlalchemy.engine.base.Engine ('F10',)
2021-02-01 14:46:46,279 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,279 INFO sqlalchemy.engine.base.Engine ((450, 14.3, 14.3, 14.3, 4.409315542582379, 50.414174277233236), (451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409315542582379, 50.414174277233236), (452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409315542582379, 50.414174277233236), (453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409315542582379, 50.414174277233236), (454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409315542582379, 50.414174277233236), (455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409315542582379, 50.414174277233236), (456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409315542582379, 50.414174277233236), (457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409315542582379, 50.414174277233236)  ... displaying 10 of 50 total bound parameter sets ...  (498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409315542582379, 50.414174277233236), (499, 135.9, 135.9, 135.9, 4.409315542582379, 50.414174277233236))
2021-02-01 14:46:46,281 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,281 INFO sqlalchemy.engine.base.Engine ((225, 'F10', 0, 'Anhydrite', 450, 451), (226, 'F10', 1, 'Sandstone, grey, vf-f', 452, 453), (227, 'F10', 2, 'Anhydrite', 454, 455), (228, 'F10', 3, 'Dolomite', 456, 457), (229, 'F10', 4, 'Anhydrite', 458, 459), (230, 'F10', 5, 'Sandstone, grey, vf-f', 460, 461), (231, 'F10', 6, 'Siltstone, red', 462, 463), (232, 'F10', 7, 'Dolomite', 464, 465)  ... displaying 10 of 25 total bound parameter sets ...  (248, 'F10', 23, 'Limestone', 496, 497), (249, 'F10', 24, 'Volcanic', 498, 499))
2021-02-01 14:46:46,282 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:46,288 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:46,289 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:46,289 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:46,291 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:46,292 INFO sqlalchemy.engine.base.Engine ('F10',)
2021-02-01 14:46:46,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,295 INFO sqlalchemy.engine.base.Engine (450,)
2021-02-01 14:46:46,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,298 INFO sqlalchemy.engine.base.Engine (451,)
2021-02-01 14:46:46,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,303 INFO sqlalchemy.engine.base.Engine (452,)
2021-02-01 14:46:46,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,305 INFO sqlalchemy.engine.base.Engine (453,)
2021-02-01 14:46:46,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,312 INFO sqlalchemy.engine.base.Engine (454,)
2021-02-01 14:46:46,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,315 INFO sqlalchemy.engine.base.Engine (455,)
2021-02-01 14:46:46,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,319 INFO sqlalchemy.engine.base.Engine (456,)
2021-02-01 14:46:46,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,321 INFO sqlalchemy.engine.base.Engine (457,)
2021-02-01 14:46:46,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,323 INFO sqlalchemy.engine.base.Engine (458,)
2021-02-01 14:46:46,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,325 INFO sqlalchemy.engine.base.Engine (459,)
2021-02-01 14:46:46,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,328 INFO sqlalchemy.engine.base.Engine (460,)
2021-02-01 14:46:46,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,331 INFO sqlalchemy.engine.base.Engine (461,)
2021-02-01 14:46:46,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,335 INFO sqlalchemy.engine.base.Engine (462,)
2021-02-01 14:46:46,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,337 INFO sqlalchemy.engine.base.Engine (463,)
2021-02-01 14:46:46,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,342 INFO sqlalchemy.engine.base.Engine (464,)
2021-02-01 14:46:46,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,345 INFO sqlalchemy.engine.base.Engine (465,)
2021-02-01 14:46:46,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,349 INFO sqlalchemy.engine.base.Engine (466,)
2021-02-01 14:46:46,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,352 INFO sqlalchemy.engine.base.Engine (467,)
2021-02-01 14:46:46,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,357 INFO sqlalchemy.engine.base.Engine (468,)
2021-02-01 14:46:46,359 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,360 INFO sqlalchemy.engine.base.Engine (469,)
2021-02-01 14:46:46,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,364 INFO sqlalchemy.engine.base.Engine (470,)
2021-02-01 14:46:46,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,367 INFO sqlalchemy.engine.base.Engine (471,)
2021-02-01 14:46:46,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,373 INFO sqlalchemy.engine.base.Engine (472,)
2021-02-01 14:46:46,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,375 INFO sqlalchemy.engine.base.Engine (473,)
2021-02-01 14:46:46,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,379 INFO sqlalchemy.engine.base.Engine (474,)
2021-02-01 14:46:46,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,382 INFO sqlalchemy.engine.base.Engine (475,)
2021-02-01 14:46:46,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,386 INFO sqlalchemy.engine.base.Engine (476,)
2021-02-01 14:46:46,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,388 INFO sqlalchemy.engine.base.Engine (477,)
2021-02-01 14:46:46,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,391 INFO sqlalchemy.engine.base.Engine (478,)
2021-02-01 14:46:46,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,392 INFO sqlalchemy.engine.base.Engine (479,)
2021-02-01 14:46:46,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,395 INFO sqlalchemy.engine.base.Engine (480,)
2021-02-01 14:46:46,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,397 INFO sqlalchemy.engine.base.Engine (481,)
2021-02-01 14:46:46,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,400 INFO sqlalchemy.engine.base.Engine (482,)
2021-02-01 14:46:46,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,402 INFO sqlalchemy.engine.base.Engine (483,)
2021-02-01 14:46:46,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,407 INFO sqlalchemy.engine.base.Engine (484,)
2021-02-01 14:46:46,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,409 INFO sqlalchemy.engine.base.Engine (485,)
2021-02-01 14:46:46,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,413 INFO sqlalchemy.engine.base.Engine (486,)
2021-02-01 14:46:46,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,415 INFO sqlalchemy.engine.base.Engine (487,)
2021-02-01 14:46:46,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,419 INFO sqlalchemy.engine.base.Engine (488,)
2021-02-01 14:46:46,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,421 INFO sqlalchemy.engine.base.Engine (489,)
2021-02-01 14:46:46,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,424 INFO sqlalchemy.engine.base.Engine (490,)
2021-02-01 14:46:46,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,426 INFO sqlalchemy.engine.base.Engine (491,)
2021-02-01 14:46:46,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,428 INFO sqlalchemy.engine.base.Engine (492,)
2021-02-01 14:46:46,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,430 INFO sqlalchemy.engine.base.Engine (493,)
2021-02-01 14:46:46,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,434 INFO sqlalchemy.engine.base.Engine (494,)
2021-02-01 14:46:46,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,436 INFO sqlalchemy.engine.base.Engine (495,)
2021-02-01 14:46:46,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,441 INFO sqlalchemy.engine.base.Engine (496,)
2021-02-01 14:46:46,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,443 INFO sqlalchemy.engine.base.Engine (497,)
2021-02-01 14:46:46,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,448 INFO sqlalchemy.engine.base.Engine (498,)
2021-02-01 14:46:46,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,449 INFO sqlalchemy.engine.base.Engine (499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:46,517 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:46,518 INFO sqlalchemy.engine.base.Engine ('F11',)
2021-02-01 14:46:46,520 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,521 INFO sqlalchemy.engine.base.Engine ((500, 14.3, 14.3, 14.3, 4.409315479609732, 50.41410184211136), (501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409315479609732, 50.41410184211136), (502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409315479609732, 50.41410184211136), (503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409315479609732, 50.41410184211136), (504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409315479609732, 50.41410184211136), (505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409315479609732, 50.41410184211136), (506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409315479609732, 50.41410184211136), (507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409315479609732, 50.41410184211136)  ... displaying 10 of 50 total bound parameter sets ...  (548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409315479609732, 50.41410184211136), (549, 135.9, 135.9, 135.9, 4.409315479609732, 50.41410184211136))
2021-02-01 14:46:46,525 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,525 INFO sqlalchemy.engine.base.Engine ((250, 'F11', 0, 'Anhydrite', 500, 501), (251, 'F11', 1, 'Sandstone, grey, vf-f', 502, 503), (252, 'F11', 2, 'Anhydrite', 504, 505), (253, 'F11', 3, 'Dolomite', 506, 507), (254, 'F11', 4, 'Anhydrite', 508, 509), (255, 'F11', 5, 'Sandstone, grey, vf-f', 510, 511), (256, 'F11', 6, 'Siltstone, red', 512, 513), (257, 'F11', 7, 'Dolomite', 514, 515)  ... displaying 10 of 25 total bound parameter sets ...  (273, 'F11', 23, 'Limestone', 546, 547), (274, 'F11', 24, 'Volcanic', 548, 549))
2021-02-01 14:46:46,527 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:46,534 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:46,535 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:46,536 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:46,538 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:46,539 INFO sqlalchemy.engine.base.Engine ('F11',)
2021-02-01 14:46:46,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,541 INFO sqlalchemy.engine.base.Engine (500,)
2021-02-01 14:46:46,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,543 INFO sqlalchemy.engine.base.Engine (501,)
2021-02-01 14:46:46,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,546 INFO sqlalchemy.engine.base.Engine (502,)
2021-02-01 14:46:46,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,547 INFO sqlalchemy.engine.base.Engine (503,)
2021-02-01 14:46:46,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,550 INFO sqlalchemy.engine.base.Engine (504,)
2021-02-01 14:46:46,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,552 INFO sqlalchemy.engine.base.Engine (505,)
2021-02-01 14:46:46,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,556 INFO sqlalchemy.engine.base.Engine (506,)
2021-02-01 14:46:46,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,558 INFO sqlalchemy.engine.base.Engine (507,)
2021-02-01 14:46:46,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,562 INFO sqlalchemy.engine.base.Engine (508,)
2021-02-01 14:46:46,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,565 INFO sqlalchemy.engine.base.Engine (509,)
2021-02-01 14:46:46,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,571 INFO sqlalchemy.engine.base.Engine (510,)
2021-02-01 14:46:46,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,573 INFO sqlalchemy.engine.base.Engine (511,)
2021-02-01 14:46:46,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,578 INFO sqlalchemy.engine.base.Engine (512,)
2021-02-01 14:46:46,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,580 INFO sqlalchemy.engine.base.Engine (513,)
2021-02-01 14:46:46,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,585 INFO sqlalchemy.engine.base.Engine (514,)
2021-02-01 14:46:46,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,586 INFO sqlalchemy.engine.base.Engine (515,)
2021-02-01 14:46:46,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,592 INFO sqlalchemy.engine.base.Engine (516,)
2021-02-01 14:46:46,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,594 INFO sqlalchemy.engine.base.Engine (517,)
2021-02-01 14:46:46,597 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,598 INFO sqlalchemy.engine.base.Engine (518,)
2021-02-01 14:46:46,600 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,601 INFO sqlalchemy.engine.base.Engine (519,)
2021-02-01 14:46:46,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,607 INFO sqlalchemy.engine.base.Engine (520,)
2021-02-01 14:46:46,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,609 INFO sqlalchemy.engine.base.Engine (521,)
2021-02-01 14:46:46,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,612 INFO sqlalchemy.engine.base.Engine (522,)
2021-02-01 14:46:46,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,615 INFO sqlalchemy.engine.base.Engine (523,)
2021-02-01 14:46:46,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,620 INFO sqlalchemy.engine.base.Engine (524,)
2021-02-01 14:46:46,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,622 INFO sqlalchemy.engine.base.Engine (525,)
2021-02-01 14:46:46,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,626 INFO sqlalchemy.engine.base.Engine (526,)
2021-02-01 14:46:46,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,628 INFO sqlalchemy.engine.base.Engine (527,)
2021-02-01 14:46:46,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,634 INFO sqlalchemy.engine.base.Engine (528,)
2021-02-01 14:46:46,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,635 INFO sqlalchemy.engine.base.Engine (529,)
2021-02-01 14:46:46,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,641 INFO sqlalchemy.engine.base.Engine (530,)
2021-02-01 14:46:46,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,645 INFO sqlalchemy.engine.base.Engine (531,)
2021-02-01 14:46:46,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,651 INFO sqlalchemy.engine.base.Engine (532,)
2021-02-01 14:46:46,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,653 INFO sqlalchemy.engine.base.Engine (533,)
2021-02-01 14:46:46,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,657 INFO sqlalchemy.engine.base.Engine (534,)
2021-02-01 14:46:46,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,659 INFO sqlalchemy.engine.base.Engine (535,)
2021-02-01 14:46:46,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,664 INFO sqlalchemy.engine.base.Engine (536,)
2021-02-01 14:46:46,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,667 INFO sqlalchemy.engine.base.Engine (537,)
2021-02-01 14:46:46,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,672 INFO sqlalchemy.engine.base.Engine (538,)
2021-02-01 14:46:46,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,674 INFO sqlalchemy.engine.base.Engine (539,)
2021-02-01 14:46:46,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,677 INFO sqlalchemy.engine.base.Engine (540,)
2021-02-01 14:46:46,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,680 INFO sqlalchemy.engine.base.Engine (541,)
2021-02-01 14:46:46,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,684 INFO sqlalchemy.engine.base.Engine (542,)
2021-02-01 14:46:46,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,686 INFO sqlalchemy.engine.base.Engine (543,)
2021-02-01 14:46:46,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,689 INFO sqlalchemy.engine.base.Engine (544,)
2021-02-01 14:46:46,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,691 INFO sqlalchemy.engine.base.Engine (545,)
2021-02-01 14:46:46,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,694 INFO sqlalchemy.engine.base.Engine (546,)
2021-02-01 14:46:46,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,696 INFO sqlalchemy.engine.base.Engine (547,)
2021-02-01 14:46:46,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,699 INFO sqlalchemy.engine.base.Engine (548,)
2021-02-01 14:46:46,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,701 INFO sqlalchemy.engine.base.Engine (549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:46,750 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,751 INFO sqlalchemy.engine.base.Engine ((550, 14.3, 14.3, 14.3, 4.409317520939069, 50.41421650414297), (551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409317520939069, 50.41421650414297), (552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409317520939069, 50.41421650414297), (553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409317520939069, 50.41421650414297), (554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409317520939069, 50.41421650414297), (555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409317520939069, 50.41421650414297), (556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409317520939069, 50.41421650414297), (557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409317520939069, 50.41421650414297)  ... displaying 10 of 50 total bound parameter sets ...  (598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409317520939069, 50.41421650414297), (599, 135.9, 135.9, 135.9, 4.409317520939069, 50.41421650414297))

2021-02-01 14:46:46,753 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:46,754 INFO sqlalchemy.engine.base.Engine ('F12',)
2021-02-01 14:46:46,756 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,757 INFO sqlalchemy.engine.base.Engine ((275, 'F12', 0, 'Anhydrite', 550, 551), (276, 'F12', 1, 'Sandstone, grey, vf-f', 552, 553), (277, 'F12', 2, 'Anhydrite', 554, 555), (278, 'F12', 3, 'Dolomite', 556, 557), (279, 'F12', 4, 'Anhydrite', 558, 559), (280, 'F12', 5, 'Sandstone, grey, vf-f', 560, 561), (281, 'F12', 6, 'Siltstone, red', 562, 563), (282, 'F12', 7, 'Dolomite', 564, 565)  ... displaying 10 of 25 total bound parameter sets ...  (298, 'F12', 23, 'Limestone', 596, 597), (299, 'F12', 24, 'Volcanic', 598, 599))
2021-02-01 14:46:46,759 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:46,765 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:46,766 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:46,768 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:46,770 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:46,770 INFO sqlalchemy.engine.base.Engine ('F12',)
2021-02-01 14:46:46,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,773 INFO sqlalchemy.engine.base.Engine (550,)
2021-02-01 14:46:46,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,776 INFO sqlalchemy.engine.base.Engine (551,)
2021-02-01 14:46:46,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,780 INFO sqlalchemy.engine.base.Engine (552,)
2021-02-01 14:46:46,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,783 INFO sqlalchemy.engine.base.Engine (553,)
2021-02-01 14:46:46,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,787 INFO sqlalchemy.engine.base.Engine (554,)
2021-02-01 14:46:46,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,789 INFO sqlalchemy.engine.base.Engine (555,)
2021-02-01 14:46:46,793 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,794 INFO sqlalchemy.engine.base.Engine (556,)
2021-02-01 14:46:46,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,796 INFO sqlalchemy.engine.base.Engine (557,)
2021-02-01 14:46:46,799 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,800 INFO sqlalchemy.engine.base.Engine (558,)
2021-02-01 14:46:46,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,803 INFO sqlalchemy.engine.base.Engine (559,)
2021-02-01 14:46:46,806 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,807 INFO sqlalchemy.engine.base.Engine (560,)
2021-02-01 14:46:46,808 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,809 INFO sqlalchemy.engine.base.Engine (561,)
2021-02-01 14:46:46,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,815 INFO sqlalchemy.engine.base.Engine (562,)
2021-02-01 14:46:46,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,817 INFO sqlalchemy.engine.base.Engine (563,)
2021-02-01 14:46:46,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,821 INFO sqlalchemy.engine.base.Engine (564,)
2021-02-01 14:46:46,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,824 INFO sqlalchemy.engine.base.Engine (565,)
2021-02-01 14:46:46,828 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,830 INFO sqlalchemy.engine.base.Engine (566,)
2021-02-01 14:46:46,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,832 INFO sqlalchemy.engine.base.Engine (567,)
2021-02-01 14:46:46,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,836 INFO sqlalchemy.engine.base.Engine (568,)
2021-02-01 14:46:46,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,838 INFO sqlalchemy.engine.base.Engine (569,)
2021-02-01 14:46:46,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,841 INFO sqlalchemy.engine.base.Engine (570,)
2021-02-01 14:46:46,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,844 INFO sqlalchemy.engine.base.Engine (571,)
2021-02-01 14:46:46,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,848 INFO sqlalchemy.engine.base.Engine (572,)
2021-02-01 14:46:46,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,851 INFO sqlalchemy.engine.base.Engine (573,)
2021-02-01 14:46:46,855 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,856 INFO sqlalchemy.engine.base.Engine (574,)
2021-02-01 14:46:46,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,858 INFO sqlalchemy.engine.base.Engine (575,)
2021-02-01 14:46:46,861 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,861 INFO sqlalchemy.engine.base.Engine (576,)
2021-02-01 14:46:46,863 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,864 INFO sqlalchemy.engine.base.Engine (577,)
2021-02-01 14:46:46,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,869 INFO sqlalchemy.engine.base.Engine (578,)
2021-02-01 14:46:46,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,871 INFO sqlalchemy.engine.base.Engine (579,)
2021-02-01 14:46:46,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,875 INFO sqlalchemy.engine.base.Engine (580,)
2021-02-01 14:46:46,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,877 INFO sqlalchemy.engine.base.Engine (581,)
2021-02-01 14:46:46,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,880 INFO sqlalchemy.engine.base.Engine (582,)
2021-02-01 14:46:46,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,881 INFO sqlalchemy.engine.base.Engine (583,)
2021-02-01 14:46:46,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,886 INFO sqlalchemy.engine.base.Engine (584,)
2021-02-01 14:46:46,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,888 INFO sqlalchemy.engine.base.Engine (585,)
2021-02-01 14:46:46,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,893 INFO sqlalchemy.engine.base.Engine (586,)
2021-02-01 14:46:46,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:46,895 INFO sqlalchemy.engine.base.Engine (587,)
2021-02-01 14:46:46,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,901 INFO sqlalchemy.engine.base.Engine (588,)
2021-02-01 14:46:46,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,903 INFO sqlalchemy.engine.base.Engine (589,)
2021-02-01 14:46:46,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,908 INFO sqlalchemy.engine.base.Engine (590,)
2021-02-01 14:46:46,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,911 INFO sqlalchemy.engine.base.Engine (591,)
2021-02-01 14:46:46,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,917 INFO sqlalchemy.engine.base.Engine (592,)
2021-02-01 14:46:46,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,920 INFO sqlalchemy.engine.base.Engine (593,)
2021-02-01 14:46:46,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,923 INFO sqlalchemy.engine.base.Engine (594,)
2021-02-01 14:46:46,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,925 INFO sqlalchemy.engine.base.Engine (595,)
2021-02-01 14:46:46,928 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,928 INFO sqlalchemy.engine.base.Engine (596,)
2021-02-01 14:46:46,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,929 INFO sqlalchemy.engine.base.Engine (597,)
2021-02-01 14:46:46,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,932 INFO sqlalchemy.engine.base.Engine (598,)
2021-02-01 14:46:46,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:46,935 INFO sqlalchemy.engine.base.Engine (599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:46,980 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:46,981 INFO sqlalchemy.engine.base.Engine ('F13',)
2021-02-01 14:46:46,983 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,983 INFO sqlalchemy.engine.base.Engine ((600, 14.3, 14.3, 14.3, 4.409435404012389, 50.41422277345434), (601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409435404012389, 50.41422277345434), (602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409435404012389, 50.41422277345434), (603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409435404012389, 50.41422277345434), (604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409435404012389, 50.41422277345434), (605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409435404012389, 50.41422277345434), (606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409435404012389, 50.41422277345434), (607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409435404012389, 50.41422277345434)  ... displaying 10 of 50 total bound parameter sets ...  (648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409435404012389, 50.41422277345434), (649, 135.9, 135.9, 135.9, 4.409435404012389, 50.41422277345434))
2021-02-01 14:46:46,985 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:46,987 INFO sqlalchemy.engine.base.Engine ((300, 'F13', 0, 'Anhydrite', 600, 601), (301, 'F13', 1, 'Sandstone, grey, vf-f', 602, 603), (302, 'F13', 2, 'Anhydrite', 604, 605), (303, 'F13', 3, 'Dolomite', 606, 607), (304, 'F13', 4, 'Anhydrite', 608, 609), (305, 'F13', 5, 'Sandstone, grey, vf-f', 610, 611), (306, 'F13', 6, 'Siltstone, red', 612, 613), (307, 'F13', 7, 'Dolomite', 614, 615)  ... displaying 10 of 25 total bound parameter sets ...  (323, 'F13', 23, 'Limestone', 646, 647), (324, 'F13', 24, 'Volcanic', 648, 649))
2021-02-01 14:46:46,990 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:46,997 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:46,998 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:46,999 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:47,002 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:47,003 INFO sqlalchemy.engine.base.Engine ('F13',)
2021-02-01 14:46:47,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,006 INFO sqlalchemy.engine.base.Engine (600,)
2021-02-01 14:46:47,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,009 INFO sqlalchemy.engine.base.Engine (601,)
2021-02-01 14:46:47,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,013 INFO sqlalchemy.engine.base.Engine (602,)
2021-02-01 14:46:47,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,015 INFO sqlalchemy.engine.base.Engine (603,)
2021-02-01 14:46:47,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,019 INFO sqlalchemy.engine.base.Engine (604,)
2021-02-01 14:46:47,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,022 INFO sqlalchemy.engine.base.Engine (605,)
2021-02-01 14:46:47,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,027 INFO sqlalchemy.engine.base.Engine (606,)
2021-02-01 14:46:47,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,030 INFO sqlalchemy.engine.base.Engine (607,)
2021-02-01 14:46:47,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,036 INFO sqlalchemy.engine.base.Engine (608,)
2021-02-01 14:46:47,038 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,039 INFO sqlalchemy.engine.base.Engine (609,)
2021-02-01 14:46:47,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,045 INFO sqlalchemy.engine.base.Engine (610,)
2021-02-01 14:46:47,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,048 INFO sqlalchemy.engine.base.Engine (611,)
2021-02-01 14:46:47,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,054 INFO sqlalchemy.engine.base.Engine (612,)
2021-02-01 14:46:47,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,057 INFO sqlalchemy.engine.base.Engine (613,)
2021-02-01 14:46:47,059 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,061 INFO sqlalchemy.engine.base.Engine (614,)
2021-02-01 14:46:47,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,063 INFO sqlalchemy.engine.base.Engine (615,)
2021-02-01 14:46:47,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,069 INFO sqlalchemy.engine.base.Engine (616,)
2021-02-01 14:46:47,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,073 INFO sqlalchemy.engine.base.Engine (617,)
2021-02-01 14:46:47,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,077 INFO sqlalchemy.engine.base.Engine (618,)
2021-02-01 14:46:47,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,079 INFO sqlalchemy.engine.base.Engine (619,)
2021-02-01 14:46:47,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,082 INFO sqlalchemy.engine.base.Engine (620,)
2021-02-01 14:46:47,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,083 INFO sqlalchemy.engine.base.Engine (621,)
2021-02-01 14:46:47,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,088 INFO sqlalchemy.engine.base.Engine (622,)
2021-02-01 14:46:47,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,091 INFO sqlalchemy.engine.base.Engine (623,)
2021-02-01 14:46:47,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,096 INFO sqlalchemy.engine.base.Engine (624,)
2021-02-01 14:46:47,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,099 INFO sqlalchemy.engine.base.Engine (625,)
2021-02-01 14:46:47,104 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,105 INFO sqlalchemy.engine.base.Engine (626,)
2021-02-01 14:46:47,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,108 INFO sqlalchemy.engine.base.Engine (627,)
2021-02-01 14:46:47,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,114 INFO sqlalchemy.engine.base.Engine (628,)
2021-02-01 14:46:47,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,117 INFO sqlalchemy.engine.base.Engine (629,)
2021-02-01 14:46:47,121 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,122 INFO sqlalchemy.engine.base.Engine (630,)
2021-02-01 14:46:47,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,124 INFO sqlalchemy.engine.base.Engine (631,)
2021-02-01 14:46:47,129 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,130 INFO sqlalchemy.engine.base.Engine (632,)
2021-02-01 14:46:47,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,132 INFO sqlalchemy.engine.base.Engine (633,)
2021-02-01 14:46:47,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,137 INFO sqlalchemy.engine.base.Engine (634,)
2021-02-01 14:46:47,138 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,139 INFO sqlalchemy.engine.base.Engine (635,)
2021-02-01 14:46:47,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,143 INFO sqlalchemy.engine.base.Engine (636,)
2021-02-01 14:46:47,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,144 INFO sqlalchemy.engine.base.Engine (637,)
2021-02-01 14:46:47,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,147 INFO sqlalchemy.engine.base.Engine (638,)
2021-02-01 14:46:47,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,149 INFO sqlalchemy.engine.base.Engine (639,)
2021-02-01 14:46:47,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,152 INFO sqlalchemy.engine.base.Engine (640,)
2021-02-01 14:46:47,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,155 INFO sqlalchemy.engine.base.Engine (641,)
2021-02-01 14:46:47,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,159 INFO sqlalchemy.engine.base.Engine (642,)
2021-02-01 14:46:47,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,161 INFO sqlalchemy.engine.base.Engine (643,)
2021-02-01 14:46:47,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,166 INFO sqlalchemy.engine.base.Engine (644,)
2021-02-01 14:46:47,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,169 INFO sqlalchemy.engine.base.Engine (645,)
2021-02-01 14:46:47,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,174 INFO sqlalchemy.engine.base.Engine (646,)
2021-02-01 14:46:47,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,177 INFO sqlalchemy.engine.base.Engine (647,)
2021-02-01 14:46:47,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,183 INFO sqlalchemy.engine.base.Engine (648,)
2021-02-01 14:46:47,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,185 INFO sqlalchemy.engine.base.Engine (649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:47,242 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,243 INFO sqlalchemy.engine.base.Engine ((650, 14.3, 14.3, 14.3, 4.409326665442662, 50.41413453599567), (651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409326665442662, 50.41413453599567), (652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409326665442662, 50.41413453599567), (653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409326665442662, 50.41413453599567), (654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409326665442662, 50.41413453599567), (655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409326665442662, 50.41413453599567), (656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409326665442662, 50.41413453599567), (657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409326665442662, 50.41413453599567)  ... displaying 10 of 50 total bound parameter sets ...  (698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409326665442662, 50.41413453599567), (699, 135.9, 135.9, 135.9, 4.409326665442662, 50.41413453599567))
2021-02-01 14:46:47,246 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:47,247 INFO sqlalchemy.engine.base.Engine ('F14',)
2021-02-01 14:46:47,251 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,252 INFO sqlalchemy.engine.base.Engine ((325, 'F14', 0, 'Anhydrite', 650, 651), (326, 'F14', 1, 'Sandstone, grey, vf-f', 652, 653), (327, 'F14', 2, 'Anhydrite', 654, 655), (328, 'F14', 3, 'Dolomite', 656, 657), (329, 'F14', 4, 'Anhydrite', 658, 659), (330, 'F14', 5, 'Sandstone, grey, vf-f', 660, 661), (331, 'F14', 6, 'Siltstone, red', 662, 663), (332, 'F14', 7, 'Dolomite', 664, 665)  ... displaying 10 of 25 total bound parameter sets ...  (348, 'F14', 23, 'Limestone', 696, 697), (349, 'F14', 24, 'Volcanic', 698, 699))
2021-02-01 14:46:47,255 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:47,260 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:47,262 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:47,263 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:47,264 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:47,265 INFO sqlalchemy.engine.base.Engine ('F14',)
2021-02-01 14:46:47,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,268 INFO sqlalchemy.engine.base.Engine (650,)
2021-02-01 14:46:47,270 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,271 INFO sqlalchemy.engine.base.Engine (651,)
2021-02-01 14:46:47,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,275 INFO sqlalchemy.engine.base.Engine (652,)
2021-02-01 14:46:47,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,278 INFO sqlalchemy.engine.base.Engine (653,)
2021-02-01 14:46:47,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,281 INFO sqlalchemy.engine.base.Engine (654,)
2021-02-01 14:46:47,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,283 INFO sqlalchemy.engine.base.Engine (655,)
2021-02-01 14:46:47,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,286 INFO sqlalchemy.engine.base.Engine (656,)
2021-02-01 14:46:47,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,288 INFO sqlalchemy.engine.base.Engine (657,)
2021-02-01 14:46:47,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,291 INFO sqlalchemy.engine.base.Engine (658,)
2021-02-01 14:46:47,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,293 INFO sqlalchemy.engine.base.Engine (659,)
2021-02-01 14:46:47,295 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,296 INFO sqlalchemy.engine.base.Engine (660,)
2021-02-01 14:46:47,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,298 INFO sqlalchemy.engine.base.Engine (661,)
2021-02-01 14:46:47,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,301 INFO sqlalchemy.engine.base.Engine (662,)
2021-02-01 14:46:47,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,303 INFO sqlalchemy.engine.base.Engine (663,)
2021-02-01 14:46:47,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,305 INFO sqlalchemy.engine.base.Engine (664,)
2021-02-01 14:46:47,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,308 INFO sqlalchemy.engine.base.Engine (665,)
2021-02-01 14:46:47,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,314 INFO sqlalchemy.engine.base.Engine (666,)
2021-02-01 14:46:47,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,317 INFO sqlalchemy.engine.base.Engine (667,)
2021-02-01 14:46:47,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,321 INFO sqlalchemy.engine.base.Engine (668,)
2021-02-01 14:46:47,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,323 INFO sqlalchemy.engine.base.Engine (669,)
2021-02-01 14:46:47,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,327 INFO sqlalchemy.engine.base.Engine (670,)
2021-02-01 14:46:47,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,329 INFO sqlalchemy.engine.base.Engine (671,)
2021-02-01 14:46:47,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,333 INFO sqlalchemy.engine.base.Engine (672,)
2021-02-01 14:46:47,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,335 INFO sqlalchemy.engine.base.Engine (673,)
2021-02-01 14:46:47,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,340 INFO sqlalchemy.engine.base.Engine (674,)
2021-02-01 14:46:47,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,343 INFO sqlalchemy.engine.base.Engine (675,)
2021-02-01 14:46:47,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,348 INFO sqlalchemy.engine.base.Engine (676,)
2021-02-01 14:46:47,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,352 INFO sqlalchemy.engine.base.Engine (677,)
2021-02-01 14:46:47,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,355 INFO sqlalchemy.engine.base.Engine (678,)
2021-02-01 14:46:47,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,357 INFO sqlalchemy.engine.base.Engine (679,)
2021-02-01 14:46:47,359 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,360 INFO sqlalchemy.engine.base.Engine (680,)
2021-02-01 14:46:47,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,362 INFO sqlalchemy.engine.base.Engine (681,)
2021-02-01 14:46:47,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,365 INFO sqlalchemy.engine.base.Engine (682,)
2021-02-01 14:46:47,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,369 INFO sqlalchemy.engine.base.Engine (683,)
2021-02-01 14:46:47,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,374 INFO sqlalchemy.engine.base.Engine (684,)
2021-02-01 14:46:47,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,377 INFO sqlalchemy.engine.base.Engine (685,)
2021-02-01 14:46:47,380 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,382 INFO sqlalchemy.engine.base.Engine (686,)
2021-02-01 14:46:47,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,384 INFO sqlalchemy.engine.base.Engine (687,)
2021-02-01 14:46:47,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,389 INFO sqlalchemy.engine.base.Engine (688,)
2021-02-01 14:46:47,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,392 INFO sqlalchemy.engine.base.Engine (689,)
2021-02-01 14:46:47,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,395 INFO sqlalchemy.engine.base.Engine (690,)
2021-02-01 14:46:47,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,397 INFO sqlalchemy.engine.base.Engine (691,)
2021-02-01 14:46:47,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,400 INFO sqlalchemy.engine.base.Engine (692,)
2021-02-01 14:46:47,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,404 INFO sqlalchemy.engine.base.Engine (693,)
2021-02-01 14:46:47,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,409 INFO sqlalchemy.engine.base.Engine (694,)
2021-02-01 14:46:47,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,412 INFO sqlalchemy.engine.base.Engine (695,)
2021-02-01 14:46:47,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,416 INFO sqlalchemy.engine.base.Engine (696,)
2021-02-01 14:46:47,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,419 INFO sqlalchemy.engine.base.Engine (697,)
2021-02-01 14:46:47,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,423 INFO sqlalchemy.engine.base.Engine (698,)
2021-02-01 14:46:47,424 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,425 INFO sqlalchemy.engine.base.Engine (699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:47,485 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:47,486 INFO sqlalchemy.engine.base.Engine ('F15',)
2021-02-01 14:46:47,488 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,489 INFO sqlalchemy.engine.base.Engine ((700, 14.3, 14.3, 14.3, 4.409391097321492, 50.414189803672805), (701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409391097321492, 50.414189803672805), (702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409391097321492, 50.414189803672805), (703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409391097321492, 50.414189803672805), (704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409391097321492, 50.414189803672805), (705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409391097321492, 50.414189803672805), (706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409391097321492, 50.414189803672805), (707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409391097321492, 50.414189803672805)  ... displaying 10 of 50 total bound parameter sets ...  (748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409391097321492, 50.414189803672805), (749, 135.9, 135.9, 135.9, 4.409391097321492, 50.414189803672805))
2021-02-01 14:46:47,491 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,492 INFO sqlalchemy.engine.base.Engine ((350, 'F15', 0, 'Anhydrite', 700, 701), (351, 'F15', 1, 'Sandstone, grey, vf-f', 702, 703), (352, 'F15', 2, 'Anhydrite', 704, 705), (353, 'F15', 3, 'Dolomite', 706, 707), (354, 'F15', 4, 'Anhydrite', 708, 709), (355, 'F15', 5, 'Sandstone, grey, vf-f', 710, 711), (356, 'F15', 6, 'Siltstone, red', 712, 713), (357, 'F15', 7, 'Dolomite', 714, 715)  ... displaying 10 of 25 total bound parameter sets ...  (373, 'F15', 23, 'Limestone', 746, 747), (374, 'F15', 24, 'Volcanic', 748, 749))
2021-02-01 14:46:47,493 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:47,500 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:47,501 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:47,502 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:47,504 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:47,505 INFO sqlalchemy.engine.base.Engine ('F15',)
2021-02-01 14:46:47,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,508 INFO sqlalchemy.engine.base.Engine (700,)
2021-02-01 14:46:47,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,511 INFO sqlalchemy.engine.base.Engine (701,)
2021-02-01 14:46:47,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,514 INFO sqlalchemy.engine.base.Engine (702,)
2021-02-01 14:46:47,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,516 INFO sqlalchemy.engine.base.Engine (703,)
2021-02-01 14:46:47,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,521 INFO sqlalchemy.engine.base.Engine (704,)
2021-02-01 14:46:47,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,523 INFO sqlalchemy.engine.base.Engine (705,)
2021-02-01 14:46:47,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,527 INFO sqlalchemy.engine.base.Engine (706,)
2021-02-01 14:46:47,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,529 INFO sqlalchemy.engine.base.Engine (707,)
2021-02-01 14:46:47,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,536 INFO sqlalchemy.engine.base.Engine (708,)
2021-02-01 14:46:47,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,539 INFO sqlalchemy.engine.base.Engine (709,)
2021-02-01 14:46:47,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,542 INFO sqlalchemy.engine.base.Engine (710,)
2021-02-01 14:46:47,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,544 INFO sqlalchemy.engine.base.Engine (711,)
2021-02-01 14:46:47,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,547 INFO sqlalchemy.engine.base.Engine (712,)
2021-02-01 14:46:47,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,550 INFO sqlalchemy.engine.base.Engine (713,)
2021-02-01 14:46:47,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,553 INFO sqlalchemy.engine.base.Engine (714,)
2021-02-01 14:46:47,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,555 INFO sqlalchemy.engine.base.Engine (715,)
2021-02-01 14:46:47,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,560 INFO sqlalchemy.engine.base.Engine (716,)
2021-02-01 14:46:47,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,562 INFO sqlalchemy.engine.base.Engine (717,)
2021-02-01 14:46:47,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,567 INFO sqlalchemy.engine.base.Engine (718,)
2021-02-01 14:46:47,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,569 INFO sqlalchemy.engine.base.Engine (719,)
2021-02-01 14:46:47,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,572 INFO sqlalchemy.engine.base.Engine (720,)
2021-02-01 14:46:47,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,575 INFO sqlalchemy.engine.base.Engine (721,)
2021-02-01 14:46:47,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,580 INFO sqlalchemy.engine.base.Engine (722,)
2021-02-01 14:46:47,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,583 INFO sqlalchemy.engine.base.Engine (723,)
2021-02-01 14:46:47,587 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,588 INFO sqlalchemy.engine.base.Engine (724,)
2021-02-01 14:46:47,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,591 INFO sqlalchemy.engine.base.Engine (725,)
2021-02-01 14:46:47,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,595 INFO sqlalchemy.engine.base.Engine (726,)
2021-02-01 14:46:47,597 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,598 INFO sqlalchemy.engine.base.Engine (727,)
2021-02-01 14:46:47,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,603 INFO sqlalchemy.engine.base.Engine (728,)
2021-02-01 14:46:47,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,604 INFO sqlalchemy.engine.base.Engine (729,)
2021-02-01 14:46:47,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,607 INFO sqlalchemy.engine.base.Engine (730,)
2021-02-01 14:46:47,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,610 INFO sqlalchemy.engine.base.Engine (731,)
2021-02-01 14:46:47,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,616 INFO sqlalchemy.engine.base.Engine (732,)
2021-02-01 14:46:47,617 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,619 INFO sqlalchemy.engine.base.Engine (733,)
2021-02-01 14:46:47,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,623 INFO sqlalchemy.engine.base.Engine (734,)
2021-02-01 14:46:47,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,625 INFO sqlalchemy.engine.base.Engine (735,)
2021-02-01 14:46:47,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,629 INFO sqlalchemy.engine.base.Engine (736,)
2021-02-01 14:46:47,631 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,631 INFO sqlalchemy.engine.base.Engine (737,)
2021-02-01 14:46:47,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,635 INFO sqlalchemy.engine.base.Engine (738,)
2021-02-01 14:46:47,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,637 INFO sqlalchemy.engine.base.Engine (739,)
2021-02-01 14:46:47,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,641 INFO sqlalchemy.engine.base.Engine (740,)
2021-02-01 14:46:47,643 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,644 INFO sqlalchemy.engine.base.Engine (741,)
2021-02-01 14:46:47,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,648 INFO sqlalchemy.engine.base.Engine (742,)
2021-02-01 14:46:47,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,651 INFO sqlalchemy.engine.base.Engine (743,)
2021-02-01 14:46:47,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,656 INFO sqlalchemy.engine.base.Engine (744,)
2021-02-01 14:46:47,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,658 INFO sqlalchemy.engine.base.Engine (745,)
2021-02-01 14:46:47,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,661 INFO sqlalchemy.engine.base.Engine (746,)
2021-02-01 14:46:47,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,663 INFO sqlalchemy.engine.base.Engine (747,)
2021-02-01 14:46:47,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,667 INFO sqlalchemy.engine.base.Engine (748,)
2021-02-01 14:46:47,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,669 INFO sqlalchemy.engine.base.Engine (749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:47,721 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,722 INFO sqlalchemy.engine.base.Engine ((750, 14.3, 14.3, 14.3, 4.409359177274703, 50.414178846808454), (751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409359177274703, 50.414178846808454), (752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409359177274703, 50.414178846808454), (753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409359177274703, 50.414178846808454), (754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409359177274703, 50.414178846808454), (755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409359177274703, 50.414178846808454), (756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409359177274703, 50.414178846808454), (757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409359177274703, 50.414178846808454)  ... displaying 10 of 50 total bound parameter sets ...  (798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409359177274703, 50.414178846808454), (799, 135.9, 135.9, 135.9, 4.409359177274703, 50.414178846808454))
2021-02-01 14:46:47,725 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:47,726 INFO sqlalchemy.engine.base.Engine ('F16',)
2021-02-01 14:46:47,728 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,729 INFO sqlalchemy.engine.base.Engine ((375, 'F16', 0, 'Anhydrite', 750, 751), (376, 'F16', 1, 'Sandstone, grey, vf-f', 752, 753), (377, 'F16', 2, 'Anhydrite', 754, 755), (378, 'F16', 3, 'Dolomite', 756, 757), (379, 'F16', 4, 'Anhydrite', 758, 759), (380, 'F16', 5, 'Sandstone, grey, vf-f', 760, 761), (381, 'F16', 6, 'Siltstone, red', 762, 763), (382, 'F16', 7, 'Dolomite', 764, 765)  ... displaying 10 of 25 total bound parameter sets ...  (398, 'F16', 23, 'Limestone', 796, 797), (399, 'F16', 24, 'Volcanic', 798, 799))

2021-02-01 14:46:47,730 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:47,737 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:47,738 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:47,739 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:47,741 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:47,742 INFO sqlalchemy.engine.base.Engine ('F16',)
2021-02-01 14:46:47,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,744 INFO sqlalchemy.engine.base.Engine (750,)
2021-02-01 14:46:47,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,746 INFO sqlalchemy.engine.base.Engine (751,)
2021-02-01 14:46:47,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,749 INFO sqlalchemy.engine.base.Engine (752,)
2021-02-01 14:46:47,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,752 INFO sqlalchemy.engine.base.Engine (753,)
2021-02-01 14:46:47,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,756 INFO sqlalchemy.engine.base.Engine (754,)
2021-02-01 14:46:47,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,758 INFO sqlalchemy.engine.base.Engine (755,)
2021-02-01 14:46:47,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,761 INFO sqlalchemy.engine.base.Engine (756,)
2021-02-01 14:46:47,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,763 INFO sqlalchemy.engine.base.Engine (757,)
2021-02-01 14:46:47,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,767 INFO sqlalchemy.engine.base.Engine (758,)
2021-02-01 14:46:47,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,769 INFO sqlalchemy.engine.base.Engine (759,)
2021-02-01 14:46:47,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,773 INFO sqlalchemy.engine.base.Engine (760,)
2021-02-01 14:46:47,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,776 INFO sqlalchemy.engine.base.Engine (761,)
2021-02-01 14:46:47,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,779 INFO sqlalchemy.engine.base.Engine (762,)
2021-02-01 14:46:47,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,782 INFO sqlalchemy.engine.base.Engine (763,)
2021-02-01 14:46:47,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,787 INFO sqlalchemy.engine.base.Engine (764,)
2021-02-01 14:46:47,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,789 INFO sqlalchemy.engine.base.Engine (765,)
2021-02-01 14:46:47,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,793 INFO sqlalchemy.engine.base.Engine (766,)
2021-02-01 14:46:47,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,794 INFO sqlalchemy.engine.base.Engine (767,)
2021-02-01 14:46:47,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,799 INFO sqlalchemy.engine.base.Engine (768,)
2021-02-01 14:46:47,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,801 INFO sqlalchemy.engine.base.Engine (769,)
2021-02-01 14:46:47,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,806 INFO sqlalchemy.engine.base.Engine (770,)
2021-02-01 14:46:47,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,808 INFO sqlalchemy.engine.base.Engine (771,)
2021-02-01 14:46:47,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,811 INFO sqlalchemy.engine.base.Engine (772,)
2021-02-01 14:46:47,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,812 INFO sqlalchemy.engine.base.Engine (773,)
2021-02-01 14:46:47,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,814 INFO sqlalchemy.engine.base.Engine (774,)
2021-02-01 14:46:47,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,815 INFO sqlalchemy.engine.base.Engine (775,)
2021-02-01 14:46:47,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,817 INFO sqlalchemy.engine.base.Engine (776,)
2021-02-01 14:46:47,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,819 INFO sqlalchemy.engine.base.Engine (777,)
2021-02-01 14:46:47,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,822 INFO sqlalchemy.engine.base.Engine (778,)
2021-02-01 14:46:47,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,824 INFO sqlalchemy.engine.base.Engine (779,)
2021-02-01 14:46:47,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,826 INFO sqlalchemy.engine.base.Engine (780,)
2021-02-01 14:46:47,828 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,829 INFO sqlalchemy.engine.base.Engine (781,)
2021-02-01 14:46:47,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,835 INFO sqlalchemy.engine.base.Engine (782,)
2021-02-01 14:46:47,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,837 INFO sqlalchemy.engine.base.Engine (783,)
2021-02-01 14:46:47,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,840 INFO sqlalchemy.engine.base.Engine (784,)
2021-02-01 14:46:47,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,842 INFO sqlalchemy.engine.base.Engine (785,)
2021-02-01 14:46:47,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,846 INFO sqlalchemy.engine.base.Engine (786,)
2021-02-01 14:46:47,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,849 INFO sqlalchemy.engine.base.Engine (787,)
2021-02-01 14:46:47,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,854 INFO sqlalchemy.engine.base.Engine (788,)
2021-02-01 14:46:47,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,857 INFO sqlalchemy.engine.base.Engine (789,)
2021-02-01 14:46:47,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,860 INFO sqlalchemy.engine.base.Engine (790,)
2021-02-01 14:46:47,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,863 INFO sqlalchemy.engine.base.Engine (791,)
2021-02-01 14:46:47,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,868 INFO sqlalchemy.engine.base.Engine (792,)
2021-02-01 14:46:47,869 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,870 INFO sqlalchemy.engine.base.Engine (793,)
2021-02-01 14:46:47,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,872 INFO sqlalchemy.engine.base.Engine (794,)
2021-02-01 14:46:47,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,873 INFO sqlalchemy.engine.base.Engine (795,)
2021-02-01 14:46:47,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,876 INFO sqlalchemy.engine.base.Engine (796,)
2021-02-01 14:46:47,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,877 INFO sqlalchemy.engine.base.Engine (797,)
2021-02-01 14:46:47,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,879 INFO sqlalchemy.engine.base.Engine (798,)
2021-02-01 14:46:47,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,881 INFO sqlalchemy.engine.base.Engine (799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:47,936 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,937 INFO sqlalchemy.engine.base.Engine ((800, 14.3, 14.3, 14.3, 4.409344400472892, 50.414191087906595), (801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409344400472892, 50.414191087906595), (802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409344400472892, 50.414191087906595), (803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409344400472892, 50.414191087906595), (804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409344400472892, 50.414191087906595), (805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409344400472892, 50.414191087906595), (806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409344400472892, 50.414191087906595), (807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409344400472892, 50.414191087906595)  ... displaying 10 of 50 total bound parameter sets ...  (848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409344400472892, 50.414191087906595), (849, 135.9, 135.9, 135.9, 4.409344400472892, 50.414191087906595))
2021-02-01 14:46:47,938 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:47,939 INFO sqlalchemy.engine.base.Engine ('F17',)
2021-02-01 14:46:47,940 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:47,941 INFO sqlalchemy.engine.base.Engine ((400, 'F17', 0, 'Anhydrite', 800, 801), (401, 'F17', 1, 'Sandstone, grey, vf-f', 802, 803), (402, 'F17', 2, 'Anhydrite', 804, 805), (403, 'F17', 3, 'Dolomite', 806, 807), (404, 'F17', 4, 'Anhydrite', 808, 809), (405, 'F17', 5, 'Sandstone, grey, vf-f', 810, 811), (406, 'F17', 6, 'Siltstone, red', 812, 813), (407, 'F17', 7, 'Dolomite', 814, 815)  ... displaying 10 of 25 total bound parameter sets ...  (423, 'F17', 23, 'Limestone', 846, 847), (424, 'F17', 24, 'Volcanic', 848, 849))
2021-02-01 14:46:47,943 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:47,947 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:47,948 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:47,948 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:47,950 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:47,951 INFO sqlalchemy.engine.base.Engine ('F17',)
2021-02-01 14:46:47,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,954 INFO sqlalchemy.engine.base.Engine (800,)
2021-02-01 14:46:47,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,957 INFO sqlalchemy.engine.base.Engine (801,)
2021-02-01 14:46:47,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,961 INFO sqlalchemy.engine.base.Engine (802,)
2021-02-01 14:46:47,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:47,963 INFO sqlalchemy.engine.base.Engine (803,)
2021-02-01 14:46:47,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,967 INFO sqlalchemy.engine.base.Engine (804,)
2021-02-01 14:46:47,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,970 INFO sqlalchemy.engine.base.Engine (805,)
2021-02-01 14:46:47,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,975 INFO sqlalchemy.engine.base.Engine (806,)
2021-02-01 14:46:47,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,977 INFO sqlalchemy.engine.base.Engine (807,)
2021-02-01 14:46:47,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,982 INFO sqlalchemy.engine.base.Engine (808,)
2021-02-01 14:46:47,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,984 INFO sqlalchemy.engine.base.Engine (809,)
2021-02-01 14:46:47,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,986 INFO sqlalchemy.engine.base.Engine (810,)
2021-02-01 14:46:47,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,989 INFO sqlalchemy.engine.base.Engine (811,)
2021-02-01 14:46:47,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,995 INFO sqlalchemy.engine.base.Engine (812,)
2021-02-01 14:46:47,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:47,997 INFO sqlalchemy.engine.base.Engine (813,)
2021-02-01 14:46:48,002 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,003 INFO sqlalchemy.engine.base.Engine (814,)
2021-02-01 14:46:48,004 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,004 INFO sqlalchemy.engine.base.Engine (815,)
2021-02-01 14:46:48,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,007 INFO sqlalchemy.engine.base.Engine (816,)
2021-02-01 14:46:48,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,009 INFO sqlalchemy.engine.base.Engine (817,)
2021-02-01 14:46:48,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,015 INFO sqlalchemy.engine.base.Engine (818,)
2021-02-01 14:46:48,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,017 INFO sqlalchemy.engine.base.Engine (819,)
2021-02-01 14:46:48,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,020 INFO sqlalchemy.engine.base.Engine (820,)
2021-02-01 14:46:48,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,021 INFO sqlalchemy.engine.base.Engine (821,)
2021-02-01 14:46:48,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,024 INFO sqlalchemy.engine.base.Engine (822,)
2021-02-01 14:46:48,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,025 INFO sqlalchemy.engine.base.Engine (823,)
2021-02-01 14:46:48,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,028 INFO sqlalchemy.engine.base.Engine (824,)
2021-02-01 14:46:48,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,030 INFO sqlalchemy.engine.base.Engine (825,)
2021-02-01 14:46:48,032 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,033 INFO sqlalchemy.engine.base.Engine (826,)
2021-02-01 14:46:48,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,036 INFO sqlalchemy.engine.base.Engine (827,)
2021-02-01 14:46:48,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,041 INFO sqlalchemy.engine.base.Engine (828,)
2021-02-01 14:46:48,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,044 INFO sqlalchemy.engine.base.Engine (829,)
2021-02-01 14:46:48,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,049 INFO sqlalchemy.engine.base.Engine (830,)
2021-02-01 14:46:48,050 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,051 INFO sqlalchemy.engine.base.Engine (831,)
2021-02-01 14:46:48,054 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,055 INFO sqlalchemy.engine.base.Engine (832,)
2021-02-01 14:46:48,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,057 INFO sqlalchemy.engine.base.Engine (833,)
2021-02-01 14:46:48,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,063 INFO sqlalchemy.engine.base.Engine (834,)
2021-02-01 14:46:48,065 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,066 INFO sqlalchemy.engine.base.Engine (835,)
2021-02-01 14:46:48,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,072 INFO sqlalchemy.engine.base.Engine (836,)
2021-02-01 14:46:48,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,075 INFO sqlalchemy.engine.base.Engine (837,)
2021-02-01 14:46:48,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,080 INFO sqlalchemy.engine.base.Engine (838,)
2021-02-01 14:46:48,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,082 INFO sqlalchemy.engine.base.Engine (839,)
2021-02-01 14:46:48,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,084 INFO sqlalchemy.engine.base.Engine (840,)
2021-02-01 14:46:48,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,087 INFO sqlalchemy.engine.base.Engine (841,)
2021-02-01 14:46:48,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,090 INFO sqlalchemy.engine.base.Engine (842,)
2021-02-01 14:46:48,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,092 INFO sqlalchemy.engine.base.Engine (843,)
2021-02-01 14:46:48,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,094 INFO sqlalchemy.engine.base.Engine (844,)
2021-02-01 14:46:48,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,096 INFO sqlalchemy.engine.base.Engine (845,)
2021-02-01 14:46:48,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,099 INFO sqlalchemy.engine.base.Engine (846,)
2021-02-01 14:46:48,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,102 INFO sqlalchemy.engine.base.Engine (847,)
2021-02-01 14:46:48,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,107 INFO sqlalchemy.engine.base.Engine (848,)
2021-02-01 14:46:48,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,108 INFO sqlalchemy.engine.base.Engine (849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:48,158 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:48,159 INFO sqlalchemy.engine.base.Engine ('F18',)
2021-02-01 14:46:48,160 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,161 INFO sqlalchemy.engine.base.Engine ((850, 14.3, 14.3, 14.3, 4.409390586090156, 50.41415208040122), (851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409390586090156, 50.41415208040122), (852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409390586090156, 50.41415208040122), (853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409390586090156, 50.41415208040122), (854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409390586090156, 50.41415208040122), (855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409390586090156, 50.41415208040122), (856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409390586090156, 50.41415208040122), (857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409390586090156, 50.41415208040122)  ... displaying 10 of 50 total bound parameter sets ...  (898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409390586090156, 50.41415208040122), (899, 135.9, 135.9, 135.9, 4.409390586090156, 50.41415208040122))
2021-02-01 14:46:48,164 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,164 INFO sqlalchemy.engine.base.Engine ((425, 'F18', 0, 'Anhydrite', 850, 851), (426, 'F18', 1, 'Sandstone, grey, vf-f', 852, 853), (427, 'F18', 2, 'Anhydrite', 854, 855), (428, 'F18', 3, 'Dolomite', 856, 857), (429, 'F18', 4, 'Anhydrite', 858, 859), (430, 'F18', 5, 'Sandstone, grey, vf-f', 860, 861), (431, 'F18', 6, 'Siltstone, red', 862, 863), (432, 'F18', 7, 'Dolomite', 864, 865)  ... displaying 10 of 25 total bound parameter sets ...  (448, 'F18', 23, 'Limestone', 896, 897), (449, 'F18', 24, 'Volcanic', 898, 899))
2021-02-01 14:46:48,166 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:48,171 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:48,173 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:48,173 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:48,176 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:48,177 INFO sqlalchemy.engine.base.Engine ('F18',)
2021-02-01 14:46:48,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,180 INFO sqlalchemy.engine.base.Engine (850,)
2021-02-01 14:46:48,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,183 INFO sqlalchemy.engine.base.Engine (851,)
2021-02-01 14:46:48,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,188 INFO sqlalchemy.engine.base.Engine (852,)
2021-02-01 14:46:48,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,191 INFO sqlalchemy.engine.base.Engine (853,)
2021-02-01 14:46:48,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,196 INFO sqlalchemy.engine.base.Engine (854,)
2021-02-01 14:46:48,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,199 INFO sqlalchemy.engine.base.Engine (855,)
2021-02-01 14:46:48,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,203 INFO sqlalchemy.engine.base.Engine (856,)
2021-02-01 14:46:48,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,206 INFO sqlalchemy.engine.base.Engine (857,)
2021-02-01 14:46:48,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,211 INFO sqlalchemy.engine.base.Engine (858,)
2021-02-01 14:46:48,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,213 INFO sqlalchemy.engine.base.Engine (859,)
2021-02-01 14:46:48,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,217 INFO sqlalchemy.engine.base.Engine (860,)
2021-02-01 14:46:48,218 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,219 INFO sqlalchemy.engine.base.Engine (861,)
2021-02-01 14:46:48,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,225 INFO sqlalchemy.engine.base.Engine (862,)
2021-02-01 14:46:48,227 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,227 INFO sqlalchemy.engine.base.Engine (863,)
2021-02-01 14:46:48,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,232 INFO sqlalchemy.engine.base.Engine (864,)
2021-02-01 14:46:48,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,236 INFO sqlalchemy.engine.base.Engine (865,)
2021-02-01 14:46:48,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,241 INFO sqlalchemy.engine.base.Engine (866,)
2021-02-01 14:46:48,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,242 INFO sqlalchemy.engine.base.Engine (867,)
2021-02-01 14:46:48,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,246 INFO sqlalchemy.engine.base.Engine (868,)
2021-02-01 14:46:48,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,249 INFO sqlalchemy.engine.base.Engine (869,)
2021-02-01 14:46:48,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,254 INFO sqlalchemy.engine.base.Engine (870,)
2021-02-01 14:46:48,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,256 INFO sqlalchemy.engine.base.Engine (871,)
2021-02-01 14:46:48,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,260 INFO sqlalchemy.engine.base.Engine (872,)
2021-02-01 14:46:48,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,262 INFO sqlalchemy.engine.base.Engine (873,)
2021-02-01 14:46:48,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,265 INFO sqlalchemy.engine.base.Engine (874,)
2021-02-01 14:46:48,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,266 INFO sqlalchemy.engine.base.Engine (875,)
2021-02-01 14:46:48,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,269 INFO sqlalchemy.engine.base.Engine (876,)
2021-02-01 14:46:48,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,272 INFO sqlalchemy.engine.base.Engine (877,)
2021-02-01 14:46:48,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,276 INFO sqlalchemy.engine.base.Engine (878,)
2021-02-01 14:46:48,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,277 INFO sqlalchemy.engine.base.Engine (879,)
2021-02-01 14:46:48,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,281 INFO sqlalchemy.engine.base.Engine (880,)
2021-02-01 14:46:48,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,284 INFO sqlalchemy.engine.base.Engine (881,)
2021-02-01 14:46:48,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,287 INFO sqlalchemy.engine.base.Engine (882,)
2021-02-01 14:46:48,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,289 INFO sqlalchemy.engine.base.Engine (883,)
2021-02-01 14:46:48,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,291 INFO sqlalchemy.engine.base.Engine (884,)
2021-02-01 14:46:48,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,293 INFO sqlalchemy.engine.base.Engine (885,)
2021-02-01 14:46:48,295 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,296 INFO sqlalchemy.engine.base.Engine (886,)
2021-02-01 14:46:48,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,298 INFO sqlalchemy.engine.base.Engine (887,)
2021-02-01 14:46:48,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,300 INFO sqlalchemy.engine.base.Engine (888,)
2021-02-01 14:46:48,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,301 INFO sqlalchemy.engine.base.Engine (889,)
2021-02-01 14:46:48,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,304 INFO sqlalchemy.engine.base.Engine (890,)
2021-02-01 14:46:48,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,305 INFO sqlalchemy.engine.base.Engine (891,)
2021-02-01 14:46:48,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,307 INFO sqlalchemy.engine.base.Engine (892,)
2021-02-01 14:46:48,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,310 INFO sqlalchemy.engine.base.Engine (893,)
2021-02-01 14:46:48,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,315 INFO sqlalchemy.engine.base.Engine (894,)
2021-02-01 14:46:48,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,317 INFO sqlalchemy.engine.base.Engine (895,)
2021-02-01 14:46:48,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,321 INFO sqlalchemy.engine.base.Engine (896,)
2021-02-01 14:46:48,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,323 INFO sqlalchemy.engine.base.Engine (897,)
2021-02-01 14:46:48,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,326 INFO sqlalchemy.engine.base.Engine (898,)
2021-02-01 14:46:48,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,328 INFO sqlalchemy.engine.base.Engine (899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:48,378 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:48,381 INFO sqlalchemy.engine.base.Engine ('F19',)
2021-02-01 14:46:48,383 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,383 INFO sqlalchemy.engine.base.Engine ((900, 14.3, 14.3, 14.3, 4.409338011338804, 50.414147693746834), (901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409338011338804, 50.414147693746834), (902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409338011338804, 50.414147693746834), (903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409338011338804, 50.414147693746834), (904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409338011338804, 50.414147693746834), (905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409338011338804, 50.414147693746834), (906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409338011338804, 50.414147693746834), (907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409338011338804, 50.414147693746834)  ... displaying 10 of 50 total bound parameter sets ...  (948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409338011338804, 50.414147693746834), (949, 135.9, 135.9, 135.9, 4.409338011338804, 50.414147693746834))

2021-02-01 14:46:48,385 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,386 INFO sqlalchemy.engine.base.Engine ((450, 'F19', 0, 'Anhydrite', 900, 901), (451, 'F19', 1, 'Sandstone, grey, vf-f', 902, 903), (452, 'F19', 2, 'Anhydrite', 904, 905), (453, 'F19', 3, 'Dolomite', 906, 907), (454, 'F19', 4, 'Anhydrite', 908, 909), (455, 'F19', 5, 'Sandstone, grey, vf-f', 910, 911), (456, 'F19', 6, 'Siltstone, red', 912, 913), (457, 'F19', 7, 'Dolomite', 914, 915)  ... displaying 10 of 25 total bound parameter sets ...  (473, 'F19', 23, 'Limestone', 946, 947), (474, 'F19', 24, 'Volcanic', 948, 949))
2021-02-01 14:46:48,388 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:48,394 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:48,395 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:48,396 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:48,397 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:48,399 INFO sqlalchemy.engine.base.Engine ('F19',)
2021-02-01 14:46:48,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,401 INFO sqlalchemy.engine.base.Engine (900,)
2021-02-01 14:46:48,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,404 INFO sqlalchemy.engine.base.Engine (901,)
2021-02-01 14:46:48,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,406 INFO sqlalchemy.engine.base.Engine (902,)
2021-02-01 14:46:48,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,408 INFO sqlalchemy.engine.base.Engine (903,)
2021-02-01 14:46:48,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,414 INFO sqlalchemy.engine.base.Engine (904,)
2021-02-01 14:46:48,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,416 INFO sqlalchemy.engine.base.Engine (905,)
2021-02-01 14:46:48,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,419 INFO sqlalchemy.engine.base.Engine (906,)
2021-02-01 14:46:48,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,421 INFO sqlalchemy.engine.base.Engine (907,)
2021-02-01 14:46:48,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,424 INFO sqlalchemy.engine.base.Engine (908,)
2021-02-01 14:46:48,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,426 INFO sqlalchemy.engine.base.Engine (909,)
2021-02-01 14:46:48,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,429 INFO sqlalchemy.engine.base.Engine (910,)
2021-02-01 14:46:48,431 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,432 INFO sqlalchemy.engine.base.Engine (911,)
2021-02-01 14:46:48,435 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,436 INFO sqlalchemy.engine.base.Engine (912,)
2021-02-01 14:46:48,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,439 INFO sqlalchemy.engine.base.Engine (913,)
2021-02-01 14:46:48,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,445 INFO sqlalchemy.engine.base.Engine (914,)
2021-02-01 14:46:48,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,447 INFO sqlalchemy.engine.base.Engine (915,)
2021-02-01 14:46:48,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,450 INFO sqlalchemy.engine.base.Engine (916,)

2021-02-01 14:46:48,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,452 INFO sqlalchemy.engine.base.Engine (917,)
2021-02-01 14:46:48,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,455 INFO sqlalchemy.engine.base.Engine (918,)
2021-02-01 14:46:48,456 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,457 INFO sqlalchemy.engine.base.Engine (919,)
2021-02-01 14:46:48,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,459 INFO sqlalchemy.engine.base.Engine (920,)
2021-02-01 14:46:48,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,460 INFO sqlalchemy.engine.base.Engine (921,)
2021-02-01 14:46:48,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,465 INFO sqlalchemy.engine.base.Engine (922,)
2021-02-01 14:46:48,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,469 INFO sqlalchemy.engine.base.Engine (923,)
2021-02-01 14:46:48,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,472 INFO sqlalchemy.engine.base.Engine (924,)
2021-02-01 14:46:48,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,474 INFO sqlalchemy.engine.base.Engine (925,)
2021-02-01 14:46:48,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,477 INFO sqlalchemy.engine.base.Engine (926,)
2021-02-01 14:46:48,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,479 INFO sqlalchemy.engine.base.Engine (927,)
2021-02-01 14:46:48,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,483 INFO sqlalchemy.engine.base.Engine (928,)
2021-02-01 14:46:48,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,486 INFO sqlalchemy.engine.base.Engine (929,)
2021-02-01 14:46:48,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,491 INFO sqlalchemy.engine.base.Engine (930,)
2021-02-01 14:46:48,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,493 INFO sqlalchemy.engine.base.Engine (931,)
2021-02-01 14:46:48,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,497 INFO sqlalchemy.engine.base.Engine (932,)
2021-02-01 14:46:48,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,499 INFO sqlalchemy.engine.base.Engine (933,)
2021-02-01 14:46:48,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,503 INFO sqlalchemy.engine.base.Engine (934,)
2021-02-01 14:46:48,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,506 INFO sqlalchemy.engine.base.Engine (935,)
2021-02-01 14:46:48,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,511 INFO sqlalchemy.engine.base.Engine (936,)
2021-02-01 14:46:48,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,513 INFO sqlalchemy.engine.base.Engine (937,)
2021-02-01 14:46:48,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,517 INFO sqlalchemy.engine.base.Engine (938,)
2021-02-01 14:46:48,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,520 INFO sqlalchemy.engine.base.Engine (939,)
2021-02-01 14:46:48,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,525 INFO sqlalchemy.engine.base.Engine (940,)
2021-02-01 14:46:48,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,527 INFO sqlalchemy.engine.base.Engine (941,)
2021-02-01 14:46:48,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,530 INFO sqlalchemy.engine.base.Engine (942,)
2021-02-01 14:46:48,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,532 INFO sqlalchemy.engine.base.Engine (943,)
2021-02-01 14:46:48,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,536 INFO sqlalchemy.engine.base.Engine (944,)
2021-02-01 14:46:48,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,539 INFO sqlalchemy.engine.base.Engine (945,)
2021-02-01 14:46:48,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,542 INFO sqlalchemy.engine.base.Engine (946,)
2021-02-01 14:46:48,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,545 INFO sqlalchemy.engine.base.Engine (947,)
2021-02-01 14:46:48,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,550 INFO sqlalchemy.engine.base.Engine (948,)
2021-02-01 14:46:48,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,552 INFO sqlalchemy.engine.base.Engine (949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:48,623 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,624 INFO sqlalchemy.engine.base.Engine ((950, 14.3, 14.3, 14.3, 4.409417247439297, 50.414166994876524), (951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409417247439297, 50.414166994876524), (952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409417247439297, 50.414166994876524), (953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409417247439297, 50.414166994876524), (954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409417247439297, 50.414166994876524), (955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409417247439297, 50.414166994876524), (956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409417247439297, 50.414166994876524), (957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409417247439297, 50.414166994876524)  ... displaying 10 of 50 total bound parameter sets ...  (998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409417247439297, 50.414166994876524), (999, 135.9, 135.9, 135.9, 4.409417247439297, 50.414166994876524))
2021-02-01 14:46:48,626 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:48,627 INFO sqlalchemy.engine.base.Engine ('F20',)
2021-02-01 14:46:48,630 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,631 INFO sqlalchemy.engine.base.Engine ((475, 'F20', 0, 'Anhydrite', 950, 951), (476, 'F20', 1, 'Sandstone, grey, vf-f', 952, 953), (477, 'F20', 2, 'Anhydrite', 954, 955), (478, 'F20', 3, 'Dolomite', 956, 957), (479, 'F20', 4, 'Anhydrite', 958, 959), (480, 'F20', 5, 'Sandstone, grey, vf-f', 960, 961), (481, 'F20', 6, 'Siltstone, red', 962, 963), (482, 'F20', 7, 'Dolomite', 964, 965)  ... displaying 10 of 25 total bound parameter sets ...  (498, 'F20', 23, 'Limestone', 996, 997), (499, 'F20', 24, 'Volcanic', 998, 999))
2021-02-01 14:46:48,634 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:48,639 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:48,641 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:48,641 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:48,644 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:48,645 INFO sqlalchemy.engine.base.Engine ('F20',)
2021-02-01 14:46:48,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,648 INFO sqlalchemy.engine.base.Engine (950,)
2021-02-01 14:46:48,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,650 INFO sqlalchemy.engine.base.Engine (951,)
2021-02-01 14:46:48,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,656 INFO sqlalchemy.engine.base.Engine (952,)
2021-02-01 14:46:48,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,658 INFO sqlalchemy.engine.base.Engine (953,)
2021-02-01 14:46:48,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,661 INFO sqlalchemy.engine.base.Engine (954,)
2021-02-01 14:46:48,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,662 INFO sqlalchemy.engine.base.Engine (955,)
2021-02-01 14:46:48,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,666 INFO sqlalchemy.engine.base.Engine (956,)
2021-02-01 14:46:48,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,668 INFO sqlalchemy.engine.base.Engine (957,)
2021-02-01 14:46:48,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,671 INFO sqlalchemy.engine.base.Engine (958,)
2021-02-01 14:46:48,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,672 INFO sqlalchemy.engine.base.Engine (959,)
2021-02-01 14:46:48,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,677 INFO sqlalchemy.engine.base.Engine (960,)
2021-02-01 14:46:48,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,679 INFO sqlalchemy.engine.base.Engine (961,)
2021-02-01 14:46:48,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,683 INFO sqlalchemy.engine.base.Engine (962,)
2021-02-01 14:46:48,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,685 INFO sqlalchemy.engine.base.Engine (963,)
2021-02-01 14:46:48,687 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,688 INFO sqlalchemy.engine.base.Engine (964,)
2021-02-01 14:46:48,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,689 INFO sqlalchemy.engine.base.Engine (965,)
2021-02-01 14:46:48,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,693 INFO sqlalchemy.engine.base.Engine (966,)
2021-02-01 14:46:48,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,695 INFO sqlalchemy.engine.base.Engine (967,)
2021-02-01 14:46:48,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,699 INFO sqlalchemy.engine.base.Engine (968,)
2021-02-01 14:46:48,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,701 INFO sqlalchemy.engine.base.Engine (969,)
2021-02-01 14:46:48,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,705 INFO sqlalchemy.engine.base.Engine (970,)
2021-02-01 14:46:48,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,707 INFO sqlalchemy.engine.base.Engine (971,)
2021-02-01 14:46:48,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,710 INFO sqlalchemy.engine.base.Engine (972,)
2021-02-01 14:46:48,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,712 INFO sqlalchemy.engine.base.Engine (973,)
2021-02-01 14:46:48,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,717 INFO sqlalchemy.engine.base.Engine (974,)
2021-02-01 14:46:48,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,719 INFO sqlalchemy.engine.base.Engine (975,)
2021-02-01 14:46:48,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,723 INFO sqlalchemy.engine.base.Engine (976,)
2021-02-01 14:46:48,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,725 INFO sqlalchemy.engine.base.Engine (977,)
2021-02-01 14:46:48,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,728 INFO sqlalchemy.engine.base.Engine (978,)
2021-02-01 14:46:48,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,730 INFO sqlalchemy.engine.base.Engine (979,)
2021-02-01 14:46:48,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,735 INFO sqlalchemy.engine.base.Engine (980,)
2021-02-01 14:46:48,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,738 INFO sqlalchemy.engine.base.Engine (981,)
2021-02-01 14:46:48,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,741 INFO sqlalchemy.engine.base.Engine (982,)
2021-02-01 14:46:48,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,744 INFO sqlalchemy.engine.base.Engine (983,)
2021-02-01 14:46:48,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,746 INFO sqlalchemy.engine.base.Engine (984,)
2021-02-01 14:46:48,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,747 INFO sqlalchemy.engine.base.Engine (985,)
2021-02-01 14:46:48,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,750 INFO sqlalchemy.engine.base.Engine (986,)
2021-02-01 14:46:48,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,752 INFO sqlalchemy.engine.base.Engine (987,)
2021-02-01 14:46:48,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,755 INFO sqlalchemy.engine.base.Engine (988,)
2021-02-01 14:46:48,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,757 INFO sqlalchemy.engine.base.Engine (989,)
2021-02-01 14:46:48,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,760 INFO sqlalchemy.engine.base.Engine (990,)
2021-02-01 14:46:48,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,762 INFO sqlalchemy.engine.base.Engine (991,)
2021-02-01 14:46:48,766 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,767 INFO sqlalchemy.engine.base.Engine (992,)
2021-02-01 14:46:48,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,769 INFO sqlalchemy.engine.base.Engine (993,)
2021-02-01 14:46:48,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,772 INFO sqlalchemy.engine.base.Engine (994,)
2021-02-01 14:46:48,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,774 INFO sqlalchemy.engine.base.Engine (995,)
2021-02-01 14:46:48,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,777 INFO sqlalchemy.engine.base.Engine (996,)
2021-02-01 14:46:48,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,779 INFO sqlalchemy.engine.base.Engine (997,)
2021-02-01 14:46:48,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,782 INFO sqlalchemy.engine.base.Engine (998,)
2021-02-01 14:46:48,784 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,784 INFO sqlalchemy.engine.base.Engine (999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:48,840 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,841 INFO sqlalchemy.engine.base.Engine ((1000, 14.3, 14.3, 14.3, 4.409283655281479, 50.41410380430633), (1001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409283655281479, 50.41410380430633), (1002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409283655281479, 50.41410380430633), (1003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409283655281479, 50.41410380430633), (1004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409283655281479, 50.41410380430633), (1005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409283655281479, 50.41410380430633), (1006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409283655281479, 50.41410380430633), (1007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409283655281479, 50.41410380430633)  ... displaying 10 of 50 total bound parameter sets ...  (1048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409283655281479, 50.41410380430633), (1049, 135.9, 135.9, 135.9, 4.409283655281479, 50.41410380430633))
2021-02-01 14:46:48,843 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:48,844 INFO sqlalchemy.engine.base.Engine ('F21',)
2021-02-01 14:46:48,847 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:48,848 INFO sqlalchemy.engine.base.Engine ((500, 'F21', 0, 'Anhydrite', 1000, 1001), (501, 'F21', 1, 'Sandstone, grey, vf-f', 1002, 1003), (502, 'F21', 2, 'Anhydrite', 1004, 1005), (503, 'F21', 3, 'Dolomite', 1006, 1007), (504, 'F21', 4, 'Anhydrite', 1008, 1009), (505, 'F21', 5, 'Sandstone, grey, vf-f', 1010, 1011), (506, 'F21', 6, 'Siltstone, red', 1012, 1013), (507, 'F21', 7, 'Dolomite', 1014, 1015)  ... displaying 10 of 25 total bound parameter sets ...  (523, 'F21', 23, 'Limestone', 1046, 1047), (524, 'F21', 24, 'Volcanic', 1048, 1049))
2021-02-01 14:46:48,852 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:48,858 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:48,859 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:48,861 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:48,863 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:48,864 INFO sqlalchemy.engine.base.Engine ('F21',)
2021-02-01 14:46:48,866 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,867 INFO sqlalchemy.engine.base.Engine (1000,)
2021-02-01 14:46:48,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,869 INFO sqlalchemy.engine.base.Engine (1001,)
2021-02-01 14:46:48,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,875 INFO sqlalchemy.engine.base.Engine (1002,)
2021-02-01 14:46:48,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,876 INFO sqlalchemy.engine.base.Engine (1003,)
2021-02-01 14:46:48,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,880 INFO sqlalchemy.engine.base.Engine (1004,)
2021-02-01 14:46:48,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,881 INFO sqlalchemy.engine.base.Engine (1005,)
2021-02-01 14:46:48,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,885 INFO sqlalchemy.engine.base.Engine (1006,)

2021-02-01 14:46:48,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,888 INFO sqlalchemy.engine.base.Engine (1007,)
2021-02-01 14:46:48,890 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,891 INFO sqlalchemy.engine.base.Engine (1008,)
2021-02-01 14:46:48,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,893 INFO sqlalchemy.engine.base.Engine (1009,)
2021-02-01 14:46:48,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,897 INFO sqlalchemy.engine.base.Engine (1010,)
2021-02-01 14:46:48,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,899 INFO sqlalchemy.engine.base.Engine (1011,)
2021-02-01 14:46:48,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,902 INFO sqlalchemy.engine.base.Engine (1012,)
2021-02-01 14:46:48,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,905 INFO sqlalchemy.engine.base.Engine (1013,)
2021-02-01 14:46:48,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,909 INFO sqlalchemy.engine.base.Engine (1014,)
2021-02-01 14:46:48,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,912 INFO sqlalchemy.engine.base.Engine (1015,)
2021-02-01 14:46:48,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,916 INFO sqlalchemy.engine.base.Engine (1016,)
2021-02-01 14:46:48,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,918 INFO sqlalchemy.engine.base.Engine (1017,)
2021-02-01 14:46:48,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,921 INFO sqlalchemy.engine.base.Engine (1018,)
2021-02-01 14:46:48,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,923 INFO sqlalchemy.engine.base.Engine (1019,)
2021-02-01 14:46:48,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,926 INFO sqlalchemy.engine.base.Engine (1020,)
2021-02-01 14:46:48,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,928 INFO sqlalchemy.engine.base.Engine (1021,)
2021-02-01 14:46:48,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,932 INFO sqlalchemy.engine.base.Engine (1022,)
2021-02-01 14:46:48,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,934 INFO sqlalchemy.engine.base.Engine (1023,)
2021-02-01 14:46:48,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,939 INFO sqlalchemy.engine.base.Engine (1024,)
2021-02-01 14:46:48,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,941 INFO sqlalchemy.engine.base.Engine (1025,)
2021-02-01 14:46:48,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,944 INFO sqlalchemy.engine.base.Engine (1026,)
2021-02-01 14:46:48,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:48,945 INFO sqlalchemy.engine.base.Engine (1027,)
2021-02-01 14:46:48,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,949 INFO sqlalchemy.engine.base.Engine (1028,)
2021-02-01 14:46:48,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,950 INFO sqlalchemy.engine.base.Engine (1029,)
2021-02-01 14:46:48,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,953 INFO sqlalchemy.engine.base.Engine (1030,)
2021-02-01 14:46:48,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,955 INFO sqlalchemy.engine.base.Engine (1031,)
2021-02-01 14:46:48,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,957 INFO sqlalchemy.engine.base.Engine (1032,)
2021-02-01 14:46:48,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,960 INFO sqlalchemy.engine.base.Engine (1033,)
2021-02-01 14:46:48,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,964 INFO sqlalchemy.engine.base.Engine (1034,)
2021-02-01 14:46:48,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,966 INFO sqlalchemy.engine.base.Engine (1035,)
2021-02-01 14:46:48,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,969 INFO sqlalchemy.engine.base.Engine (1036,)
2021-02-01 14:46:48,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,970 INFO sqlalchemy.engine.base.Engine (1037,)
2021-02-01 14:46:48,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,974 INFO sqlalchemy.engine.base.Engine (1038,)
2021-02-01 14:46:48,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,976 INFO sqlalchemy.engine.base.Engine (1039,)
2021-02-01 14:46:48,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,979 INFO sqlalchemy.engine.base.Engine (1040,)
2021-02-01 14:46:48,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,982 INFO sqlalchemy.engine.base.Engine (1041,)
2021-02-01 14:46:48,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,987 INFO sqlalchemy.engine.base.Engine (1042,)
2021-02-01 14:46:48,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,989 INFO sqlalchemy.engine.base.Engine (1043,)
2021-02-01 14:46:48,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,992 INFO sqlalchemy.engine.base.Engine (1044,)
2021-02-01 14:46:48,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,994 INFO sqlalchemy.engine.base.Engine (1045,)
2021-02-01 14:46:48,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:48,997 INFO sqlalchemy.engine.base.Engine (1046,)
2021-02-01 14:46:48,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,000 INFO sqlalchemy.engine.base.Engine (1047,)
2021-02-01 14:46:49,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:49,004 INFO sqlalchemy.engine.base.Engine (1048,)
2021-02-01 14:46:49,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,006 INFO sqlalchemy.engine.base.Engine (1049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:49,054 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:49,055 INFO sqlalchemy.engine.base.Engine ('F22',)
2021-02-01 14:46:49,057 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,059 INFO sqlalchemy.engine.base.Engine ((1050, 14.3, 14.3, 14.3, 4.409316524788093, 50.41412263638963), (1051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409316524788093, 50.41412263638963), (1052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409316524788093, 50.41412263638963), (1053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409316524788093, 50.41412263638963), (1054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409316524788093, 50.41412263638963), (1055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409316524788093, 50.41412263638963), (1056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409316524788093, 50.41412263638963), (1057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409316524788093, 50.41412263638963)  ... displaying 10 of 50 total bound parameter sets ...  (1098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409316524788093, 50.41412263638963), (1099, 135.9, 135.9, 135.9, 4.409316524788093, 50.41412263638963))
2021-02-01 14:46:49,062 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,063 INFO sqlalchemy.engine.base.Engine ((525, 'F22', 0, 'Anhydrite', 1050, 1051), (526, 'F22', 1, 'Sandstone, grey, vf-f', 1052, 1053), (527, 'F22', 2, 'Anhydrite', 1054, 1055), (528, 'F22', 3, 'Dolomite', 1056, 1057), (529, 'F22', 4, 'Anhydrite', 1058, 1059), (530, 'F22', 5, 'Sandstone, grey, vf-f', 1060, 1061), (531, 'F22', 6, 'Siltstone, red', 1062, 1063), (532, 'F22', 7, 'Dolomite', 1064, 1065)  ... displaying 10 of 25 total bound parameter sets ...  (548, 'F22', 23, 'Limestone', 1096, 1097), (549, 'F22', 24, 'Volcanic', 1098, 1099))
2021-02-01 14:46:49,065 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:49,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:49,072 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:49,073 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:49,074 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:49,075 INFO sqlalchemy.engine.base.Engine ('F22',)
2021-02-01 14:46:49,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,078 INFO sqlalchemy.engine.base.Engine (1050,)
2021-02-01 14:46:49,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,080 INFO sqlalchemy.engine.base.Engine (1051,)
2021-02-01 14:46:49,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,085 INFO sqlalchemy.engine.base.Engine (1052,)
2021-02-01 14:46:49,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,087 INFO sqlalchemy.engine.base.Engine (1053,)
2021-02-01 14:46:49,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,092 INFO sqlalchemy.engine.base.Engine (1054,)
2021-02-01 14:46:49,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,095 INFO sqlalchemy.engine.base.Engine (1055,)
2021-02-01 14:46:49,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,098 INFO sqlalchemy.engine.base.Engine (1056,)
2021-02-01 14:46:49,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,100 INFO sqlalchemy.engine.base.Engine (1057,)
2021-02-01 14:46:49,102 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,103 INFO sqlalchemy.engine.base.Engine (1058,)
2021-02-01 14:46:49,104 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,104 INFO sqlalchemy.engine.base.Engine (1059,)
2021-02-01 14:46:49,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,107 INFO sqlalchemy.engine.base.Engine (1060,)
2021-02-01 14:46:49,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,110 INFO sqlalchemy.engine.base.Engine (1061,)

2021-02-01 14:46:49,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,116 INFO sqlalchemy.engine.base.Engine (1062,)
2021-02-01 14:46:49,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,119 INFO sqlalchemy.engine.base.Engine (1063,)
2021-02-01 14:46:49,121 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,122 INFO sqlalchemy.engine.base.Engine (1064,)
2021-02-01 14:46:49,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,124 INFO sqlalchemy.engine.base.Engine (1065,)
2021-02-01 14:46:49,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,127 INFO sqlalchemy.engine.base.Engine (1066,)
2021-02-01 14:46:49,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,129 INFO sqlalchemy.engine.base.Engine (1067,)
2021-02-01 14:46:49,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,135 INFO sqlalchemy.engine.base.Engine (1068,)
2021-02-01 14:46:49,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,138 INFO sqlalchemy.engine.base.Engine (1069,)
2021-02-01 14:46:49,141 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,142 INFO sqlalchemy.engine.base.Engine (1070,)
2021-02-01 14:46:49,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,143 INFO sqlalchemy.engine.base.Engine (1071,)
2021-02-01 14:46:49,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,146 INFO sqlalchemy.engine.base.Engine (1072,)
2021-02-01 14:46:49,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,148 INFO sqlalchemy.engine.base.Engine (1073,)
2021-02-01 14:46:49,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,150 INFO sqlalchemy.engine.base.Engine (1074,)
2021-02-01 14:46:49,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,151 INFO sqlalchemy.engine.base.Engine (1075,)
2021-02-01 14:46:49,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,154 INFO sqlalchemy.engine.base.Engine (1076,)
2021-02-01 14:46:49,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,156 INFO sqlalchemy.engine.base.Engine (1077,)
2021-02-01 14:46:49,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,159 INFO sqlalchemy.engine.base.Engine (1078,)
2021-02-01 14:46:49,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,161 INFO sqlalchemy.engine.base.Engine (1079,)
2021-02-01 14:46:49,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,165 INFO sqlalchemy.engine.base.Engine (1080,)
2021-02-01 14:46:49,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,168 INFO sqlalchemy.engine.base.Engine (1081,)
2021-02-01 14:46:49,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:49,172 INFO sqlalchemy.engine.base.Engine (1082,)
2021-02-01 14:46:49,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,174 INFO sqlalchemy.engine.base.Engine (1083,)
2021-02-01 14:46:49,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,178 INFO sqlalchemy.engine.base.Engine (1084,)
2021-02-01 14:46:49,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,183 INFO sqlalchemy.engine.base.Engine (1085,)
2021-02-01 14:46:49,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,185 INFO sqlalchemy.engine.base.Engine (1086,)
2021-02-01 14:46:49,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,186 INFO sqlalchemy.engine.base.Engine (1087,)
2021-02-01 14:46:49,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,189 INFO sqlalchemy.engine.base.Engine (1088,)
2021-02-01 14:46:49,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,191 INFO sqlalchemy.engine.base.Engine (1089,)
2021-02-01 14:46:49,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,194 INFO sqlalchemy.engine.base.Engine (1090,)
2021-02-01 14:46:49,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,197 INFO sqlalchemy.engine.base.Engine (1091,)
2021-02-01 14:46:49,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,201 INFO sqlalchemy.engine.base.Engine (1092,)
2021-02-01 14:46:49,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,203 INFO sqlalchemy.engine.base.Engine (1093,)
2021-02-01 14:46:49,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,207 INFO sqlalchemy.engine.base.Engine (1094,)
2021-02-01 14:46:49,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,210 INFO sqlalchemy.engine.base.Engine (1095,)
2021-02-01 14:46:49,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,214 INFO sqlalchemy.engine.base.Engine (1096,)
2021-02-01 14:46:49,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,216 INFO sqlalchemy.engine.base.Engine (1097,)
2021-02-01 14:46:49,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,220 INFO sqlalchemy.engine.base.Engine (1098,)
2021-02-01 14:46:49,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,221 INFO sqlalchemy.engine.base.Engine (1099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:49,377 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:49,378 INFO sqlalchemy.engine.base.Engine ('F23',)
2021-02-01 14:46:49,380 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,381 INFO sqlalchemy.engine.base.Engine ((1100, 14.3, 14.3, 14.3, 4.409254946377353, 50.414128870554265), (1101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409254946377353, 50.414128870554265), (1102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409254946377353, 50.414128870554265), (1103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409254946377353, 50.414128870554265), (1104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409254946377353, 50.414128870554265), (1105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409254946377353, 50.414128870554265), (1106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409254946377353, 50.414128870554265), (1107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409254946377353, 50.414128870554265)  ... displaying 10 of 50 total bound parameter sets ...  (1148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409254946377353, 50.414128870554265), (1149, 135.9, 135.9, 135.9, 4.409254946377353, 50.414128870554265))

2021-02-01 14:46:49,387 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,388 INFO sqlalchemy.engine.base.Engine ((550, 'F23', 0, 'Anhydrite', 1100, 1101), (551, 'F23', 1, 'Sandstone, grey, vf-f', 1102, 1103), (552, 'F23', 2, 'Anhydrite', 1104, 1105), (553, 'F23', 3, 'Dolomite', 1106, 1107), (554, 'F23', 4, 'Anhydrite', 1108, 1109), (555, 'F23', 5, 'Sandstone, grey, vf-f', 1110, 1111), (556, 'F23', 6, 'Siltstone, red', 1112, 1113), (557, 'F23', 7, 'Dolomite', 1114, 1115)  ... displaying 10 of 25 total bound parameter sets ...  (573, 'F23', 23, 'Limestone', 1146, 1147), (574, 'F23', 24, 'Volcanic', 1148, 1149))
2021-02-01 14:46:49,390 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:49,395 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:49,396 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:49,397 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:49,398 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:49,399 INFO sqlalchemy.engine.base.Engine ('F23',)
2021-02-01 14:46:49,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,401 INFO sqlalchemy.engine.base.Engine (1100,)
2021-02-01 14:46:49,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,404 INFO sqlalchemy.engine.base.Engine (1101,)
2021-02-01 14:46:49,407 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,409 INFO sqlalchemy.engine.base.Engine (1102,)
2021-02-01 14:46:49,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,412 INFO sqlalchemy.engine.base.Engine (1103,)
2021-02-01 14:46:49,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,415 INFO sqlalchemy.engine.base.Engine (1104,)
2021-02-01 14:46:49,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,417 INFO sqlalchemy.engine.base.Engine (1105,)
2021-02-01 14:46:49,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,420 INFO sqlalchemy.engine.base.Engine (1106,)
2021-02-01 14:46:49,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,422 INFO sqlalchemy.engine.base.Engine (1107,)
2021-02-01 14:46:49,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,426 INFO sqlalchemy.engine.base.Engine (1108,)
2021-02-01 14:46:49,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,428 INFO sqlalchemy.engine.base.Engine (1109,)
2021-02-01 14:46:49,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,431 INFO sqlalchemy.engine.base.Engine (1110,)
2021-02-01 14:46:49,432 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,433 INFO sqlalchemy.engine.base.Engine (1111,)
2021-02-01 14:46:49,435 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,436 INFO sqlalchemy.engine.base.Engine (1112,)
2021-02-01 14:46:49,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,438 INFO sqlalchemy.engine.base.Engine (1113,)
2021-02-01 14:46:49,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,441 INFO sqlalchemy.engine.base.Engine (1114,)
2021-02-01 14:46:49,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,444 INFO sqlalchemy.engine.base.Engine (1115,)
2021-02-01 14:46:49,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,449 INFO sqlalchemy.engine.base.Engine (1116,)

2021-02-01 14:46:49,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,452 INFO sqlalchemy.engine.base.Engine (1117,)
2021-02-01 14:46:49,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,455 INFO sqlalchemy.engine.base.Engine (1118,)
2021-02-01 14:46:49,456 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,457 INFO sqlalchemy.engine.base.Engine (1119,)
2021-02-01 14:46:49,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,460 INFO sqlalchemy.engine.base.Engine (1120,)
2021-02-01 14:46:49,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,463 INFO sqlalchemy.engine.base.Engine (1121,)
2021-02-01 14:46:49,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,466 INFO sqlalchemy.engine.base.Engine (1122,)
2021-02-01 14:46:49,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,469 INFO sqlalchemy.engine.base.Engine (1123,)
2021-02-01 14:46:49,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,472 INFO sqlalchemy.engine.base.Engine (1124,)
2021-02-01 14:46:49,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,474 INFO sqlalchemy.engine.base.Engine (1125,)
2021-02-01 14:46:49,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,479 INFO sqlalchemy.engine.base.Engine (1126,)
2021-02-01 14:46:49,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,482 INFO sqlalchemy.engine.base.Engine (1127,)
2021-02-01 14:46:49,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,486 INFO sqlalchemy.engine.base.Engine (1128,)
2021-02-01 14:46:49,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,489 INFO sqlalchemy.engine.base.Engine (1129,)
2021-02-01 14:46:49,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,492 INFO sqlalchemy.engine.base.Engine (1130,)
2021-02-01 14:46:49,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,494 INFO sqlalchemy.engine.base.Engine (1131,)
2021-02-01 14:46:49,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,496 INFO sqlalchemy.engine.base.Engine (1132,)
2021-02-01 14:46:49,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,498 INFO sqlalchemy.engine.base.Engine (1133,)
2021-02-01 14:46:49,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,501 INFO sqlalchemy.engine.base.Engine (1134,)
2021-02-01 14:46:49,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,502 INFO sqlalchemy.engine.base.Engine (1135,)
2021-02-01 14:46:49,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,505 INFO sqlalchemy.engine.base.Engine (1136,)
2021-02-01 14:46:49,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:49,506 INFO sqlalchemy.engine.base.Engine (1137,)
2021-02-01 14:46:49,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,509 INFO sqlalchemy.engine.base.Engine (1138,)
2021-02-01 14:46:49,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,510 INFO sqlalchemy.engine.base.Engine (1139,)
2021-02-01 14:46:49,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,514 INFO sqlalchemy.engine.base.Engine (1140,)
2021-02-01 14:46:49,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,516 INFO sqlalchemy.engine.base.Engine (1141,)
2021-02-01 14:46:49,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,520 INFO sqlalchemy.engine.base.Engine (1142,)
2021-02-01 14:46:49,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,523 INFO sqlalchemy.engine.base.Engine (1143,)
2021-02-01 14:46:49,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,526 INFO sqlalchemy.engine.base.Engine (1144,)
2021-02-01 14:46:49,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,528 INFO sqlalchemy.engine.base.Engine (1145,)
2021-02-01 14:46:49,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,533 INFO sqlalchemy.engine.base.Engine (1146,)
2021-02-01 14:46:49,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,535 INFO sqlalchemy.engine.base.Engine (1147,)
2021-02-01 14:46:49,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,538 INFO sqlalchemy.engine.base.Engine (1148,)
2021-02-01 14:46:49,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,541 INFO sqlalchemy.engine.base.Engine (1149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:49,596 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,597 INFO sqlalchemy.engine.base.Engine ((1150, 14.3, 14.3, 14.3, 4.409348871388885, 50.414138771548295), (1151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409348871388885, 50.414138771548295), (1152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409348871388885, 50.414138771548295), (1153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409348871388885, 50.414138771548295), (1154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409348871388885, 50.414138771548295), (1155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409348871388885, 50.414138771548295), (1156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409348871388885, 50.414138771548295), (1157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409348871388885, 50.414138771548295)  ... displaying 10 of 50 total bound parameter sets ...  (1198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409348871388885, 50.414138771548295), (1199, 135.9, 135.9, 135.9, 4.409348871388885, 50.414138771548295))
2021-02-01 14:46:49,598 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:49,599 INFO sqlalchemy.engine.base.Engine ('F24',)
2021-02-01 14:46:49,600 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,601 INFO sqlalchemy.engine.base.Engine ((575, 'F24', 0, 'Anhydrite', 1150, 1151), (576, 'F24', 1, 'Sandstone, grey, vf-f', 1152, 1153), (577, 'F24', 2, 'Anhydrite', 1154, 1155), (578, 'F24', 3, 'Dolomite', 1156, 1157), (579, 'F24', 4, 'Anhydrite', 1158, 1159), (580, 'F24', 5, 'Sandstone, grey, vf-f', 1160, 1161), (581, 'F24', 6, 'Siltstone, red', 1162, 1163), (582, 'F24', 7, 'Dolomite', 1164, 1165)  ... displaying 10 of 25 total bound parameter sets ...  (598, 'F24', 23, 'Limestone', 1196, 1197), (599, 'F24', 24, 'Volcanic', 1198, 1199))
2021-02-01 14:46:49,604 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:49,610 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:49,611 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:49,612 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:49,614 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:49,615 INFO sqlalchemy.engine.base.Engine ('F24',)
2021-02-01 14:46:49,617 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,618 INFO sqlalchemy.engine.base.Engine (1150,)

2021-02-01 14:46:49,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,620 INFO sqlalchemy.engine.base.Engine (1151,)
2021-02-01 14:46:49,623 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,624 INFO sqlalchemy.engine.base.Engine (1152,)
2021-02-01 14:46:49,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,626 INFO sqlalchemy.engine.base.Engine (1153,)
2021-02-01 14:46:49,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,629 INFO sqlalchemy.engine.base.Engine (1154,)
2021-02-01 14:46:49,631 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,632 INFO sqlalchemy.engine.base.Engine (1155,)
2021-02-01 14:46:49,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,635 INFO sqlalchemy.engine.base.Engine (1156,)
2021-02-01 14:46:49,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,638 INFO sqlalchemy.engine.base.Engine (1157,)
2021-02-01 14:46:49,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,641 INFO sqlalchemy.engine.base.Engine (1158,)
2021-02-01 14:46:49,643 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,644 INFO sqlalchemy.engine.base.Engine (1159,)
2021-02-01 14:46:49,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,648 INFO sqlalchemy.engine.base.Engine (1160,)
2021-02-01 14:46:49,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,650 INFO sqlalchemy.engine.base.Engine (1161,)
2021-02-01 14:46:49,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,656 INFO sqlalchemy.engine.base.Engine (1162,)
2021-02-01 14:46:49,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,659 INFO sqlalchemy.engine.base.Engine (1163,)
2021-02-01 14:46:49,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,664 INFO sqlalchemy.engine.base.Engine (1164,)
2021-02-01 14:46:49,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,666 INFO sqlalchemy.engine.base.Engine (1165,)
2021-02-01 14:46:49,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,669 INFO sqlalchemy.engine.base.Engine (1166,)
2021-02-01 14:46:49,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,672 INFO sqlalchemy.engine.base.Engine (1167,)
2021-02-01 14:46:49,675 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,675 INFO sqlalchemy.engine.base.Engine (1168,)
2021-02-01 14:46:49,677 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,677 INFO sqlalchemy.engine.base.Engine (1169,)
2021-02-01 14:46:49,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,680 INFO sqlalchemy.engine.base.Engine (1170,)
2021-02-01 14:46:49,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:49,683 INFO sqlalchemy.engine.base.Engine (1171,)
2021-02-01 14:46:49,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,686 INFO sqlalchemy.engine.base.Engine (1172,)
2021-02-01 14:46:49,687 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,688 INFO sqlalchemy.engine.base.Engine (1173,)
2021-02-01 14:46:49,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,693 INFO sqlalchemy.engine.base.Engine (1174,)
2021-02-01 14:46:49,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,696 INFO sqlalchemy.engine.base.Engine (1175,)
2021-02-01 14:46:49,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,701 INFO sqlalchemy.engine.base.Engine (1176,)
2021-02-01 14:46:49,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,704 INFO sqlalchemy.engine.base.Engine (1177,)
2021-02-01 14:46:49,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,709 INFO sqlalchemy.engine.base.Engine (1178,)
2021-02-01 14:46:49,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,711 INFO sqlalchemy.engine.base.Engine (1179,)
2021-02-01 14:46:49,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,717 INFO sqlalchemy.engine.base.Engine (1180,)
2021-02-01 14:46:49,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,720 INFO sqlalchemy.engine.base.Engine (1181,)
2021-02-01 14:46:49,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,724 INFO sqlalchemy.engine.base.Engine (1182,)
2021-02-01 14:46:49,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,726 INFO sqlalchemy.engine.base.Engine (1183,)
2021-02-01 14:46:49,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,731 INFO sqlalchemy.engine.base.Engine (1184,)
2021-02-01 14:46:49,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,733 INFO sqlalchemy.engine.base.Engine (1185,)
2021-02-01 14:46:49,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,736 INFO sqlalchemy.engine.base.Engine (1186,)
2021-02-01 14:46:49,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,738 INFO sqlalchemy.engine.base.Engine (1187,)
2021-02-01 14:46:49,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,743 INFO sqlalchemy.engine.base.Engine (1188,)
2021-02-01 14:46:49,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,746 INFO sqlalchemy.engine.base.Engine (1189,)
2021-02-01 14:46:49,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,750 INFO sqlalchemy.engine.base.Engine (1190,)
2021-02-01 14:46:49,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,753 INFO sqlalchemy.engine.base.Engine (1191,)
2021-02-01 14:46:49,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:49,756 INFO sqlalchemy.engine.base.Engine (1192,)
2021-02-01 14:46:49,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,758 INFO sqlalchemy.engine.base.Engine (1193,)
2021-02-01 14:46:49,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,762 INFO sqlalchemy.engine.base.Engine (1194,)
2021-02-01 14:46:49,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,764 INFO sqlalchemy.engine.base.Engine (1195,)
2021-02-01 14:46:49,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,768 INFO sqlalchemy.engine.base.Engine (1196,)
2021-02-01 14:46:49,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,770 INFO sqlalchemy.engine.base.Engine (1197,)
2021-02-01 14:46:49,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,773 INFO sqlalchemy.engine.base.Engine (1198,)
2021-02-01 14:46:49,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,777 INFO sqlalchemy.engine.base.Engine (1199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:49,847 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,849 INFO sqlalchemy.engine.base.Engine ((1200, 14.3, 14.3, 14.3, 4.4093313738687945, 50.41416116370166), (1201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093313738687945, 50.41416116370166), (1202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093313738687945, 50.41416116370166), (1203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093313738687945, 50.41416116370166), (1204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093313738687945, 50.41416116370166), (1205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093313738687945, 50.41416116370166), (1206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093313738687945, 50.41416116370166), (1207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4093313738687945, 50.41416116370166)  ... displaying 10 of 50 total bound parameter sets ...  (1248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4093313738687945, 50.41416116370166), (1249, 135.9, 135.9, 135.9, 4.4093313738687945, 50.41416116370166))
2021-02-01 14:46:49,851 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:49,852 INFO sqlalchemy.engine.base.Engine ('F25',)
2021-02-01 14:46:49,855 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:49,856 INFO sqlalchemy.engine.base.Engine ((600, 'F25', 0, 'Anhydrite', 1200, 1201), (601, 'F25', 1, 'Sandstone, grey, vf-f', 1202, 1203), (602, 'F25', 2, 'Anhydrite', 1204, 1205), (603, 'F25', 3, 'Dolomite', 1206, 1207), (604, 'F25', 4, 'Anhydrite', 1208, 1209), (605, 'F25', 5, 'Sandstone, grey, vf-f', 1210, 1211), (606, 'F25', 6, 'Siltstone, red', 1212, 1213), (607, 'F25', 7, 'Dolomite', 1214, 1215)  ... displaying 10 of 25 total bound parameter sets ...  (623, 'F25', 23, 'Limestone', 1246, 1247), (624, 'F25', 24, 'Volcanic', 1248, 1249))
2021-02-01 14:46:49,858 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:49,864 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:49,865 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:49,866 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:49,868 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:49,869 INFO sqlalchemy.engine.base.Engine ('F25',)
2021-02-01 14:46:49,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,873 INFO sqlalchemy.engine.base.Engine (1200,)
2021-02-01 14:46:49,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,876 INFO sqlalchemy.engine.base.Engine (1201,)
2021-02-01 14:46:49,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,880 INFO sqlalchemy.engine.base.Engine (1202,)
2021-02-01 14:46:49,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,881 INFO sqlalchemy.engine.base.Engine (1203,)
2021-02-01 14:46:49,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,884 INFO sqlalchemy.engine.base.Engine (1204,)
2021-02-01 14:46:49,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,886 INFO sqlalchemy.engine.base.Engine (1205,)

2021-02-01 14:46:49,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,888 INFO sqlalchemy.engine.base.Engine (1206,)
2021-02-01 14:46:49,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,892 INFO sqlalchemy.engine.base.Engine (1207,)
2021-02-01 14:46:49,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,896 INFO sqlalchemy.engine.base.Engine (1208,)
2021-02-01 14:46:49,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,899 INFO sqlalchemy.engine.base.Engine (1209,)
2021-02-01 14:46:49,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,904 INFO sqlalchemy.engine.base.Engine (1210,)
2021-02-01 14:46:49,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,906 INFO sqlalchemy.engine.base.Engine (1211,)
2021-02-01 14:46:49,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,909 INFO sqlalchemy.engine.base.Engine (1212,)
2021-02-01 14:46:49,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,912 INFO sqlalchemy.engine.base.Engine (1213,)
2021-02-01 14:46:49,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,917 INFO sqlalchemy.engine.base.Engine (1214,)
2021-02-01 14:46:49,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,919 INFO sqlalchemy.engine.base.Engine (1215,)
2021-02-01 14:46:49,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,922 INFO sqlalchemy.engine.base.Engine (1216,)
2021-02-01 14:46:49,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,923 INFO sqlalchemy.engine.base.Engine (1217,)
2021-02-01 14:46:49,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,928 INFO sqlalchemy.engine.base.Engine (1218,)
2021-02-01 14:46:49,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,930 INFO sqlalchemy.engine.base.Engine (1219,)
2021-02-01 14:46:49,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,936 INFO sqlalchemy.engine.base.Engine (1220,)
2021-02-01 14:46:49,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,937 INFO sqlalchemy.engine.base.Engine (1221,)
2021-02-01 14:46:49,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,942 INFO sqlalchemy.engine.base.Engine (1222,)
2021-02-01 14:46:49,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,943 INFO sqlalchemy.engine.base.Engine (1223,)
2021-02-01 14:46:49,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,948 INFO sqlalchemy.engine.base.Engine (1224,)
2021-02-01 14:46:49,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,951 INFO sqlalchemy.engine.base.Engine (1225,)
2021-02-01 14:46:49,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:49,955 INFO sqlalchemy.engine.base.Engine (1226,)
2021-02-01 14:46:49,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,957 INFO sqlalchemy.engine.base.Engine (1227,)
2021-02-01 14:46:49,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,962 INFO sqlalchemy.engine.base.Engine (1228,)
2021-02-01 14:46:49,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,964 INFO sqlalchemy.engine.base.Engine (1229,)
2021-02-01 14:46:49,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,967 INFO sqlalchemy.engine.base.Engine (1230,)
2021-02-01 14:46:49,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,968 INFO sqlalchemy.engine.base.Engine (1231,)
2021-02-01 14:46:49,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,971 INFO sqlalchemy.engine.base.Engine (1232,)
2021-02-01 14:46:49,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,972 INFO sqlalchemy.engine.base.Engine (1233,)
2021-02-01 14:46:49,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,976 INFO sqlalchemy.engine.base.Engine (1234,)
2021-02-01 14:46:49,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,978 INFO sqlalchemy.engine.base.Engine (1235,)
2021-02-01 14:46:49,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,984 INFO sqlalchemy.engine.base.Engine (1236,)
2021-02-01 14:46:49,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,986 INFO sqlalchemy.engine.base.Engine (1237,)
2021-02-01 14:46:49,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,989 INFO sqlalchemy.engine.base.Engine (1238,)
2021-02-01 14:46:49,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,992 INFO sqlalchemy.engine.base.Engine (1239,)
2021-02-01 14:46:49,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,995 INFO sqlalchemy.engine.base.Engine (1240,)
2021-02-01 14:46:49,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:49,998 INFO sqlalchemy.engine.base.Engine (1241,)
2021-02-01 14:46:50,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,004 INFO sqlalchemy.engine.base.Engine (1242,)
2021-02-01 14:46:50,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,007 INFO sqlalchemy.engine.base.Engine (1243,)
2021-02-01 14:46:50,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,010 INFO sqlalchemy.engine.base.Engine (1244,)
2021-02-01 14:46:50,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,011 INFO sqlalchemy.engine.base.Engine (1245,)
2021-02-01 14:46:50,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,013 INFO sqlalchemy.engine.base.Engine (1246,)
2021-02-01 14:46:50,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,013 INFO sqlalchemy.engine.base.Engine (1247,)
2021-02-01 14:46:50,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,016 INFO sqlalchemy.engine.base.Engine (1248,)
2021-02-01 14:46:50,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,017 INFO sqlalchemy.engine.base.Engine (1249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:50,066 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,067 INFO sqlalchemy.engine.base.Engine ((1250, 14.3, 14.3, 14.3, 4.409362821431422, 50.41413041456883), (1251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409362821431422, 50.41413041456883), (1252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409362821431422, 50.41413041456883), (1253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409362821431422, 50.41413041456883), (1254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409362821431422, 50.41413041456883), (1255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409362821431422, 50.41413041456883), (1256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409362821431422, 50.41413041456883), (1257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409362821431422, 50.41413041456883)  ... displaying 10 of 50 total bound parameter sets ...  (1298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409362821431422, 50.41413041456883), (1299, 135.9, 135.9, 135.9, 4.409362821431422, 50.41413041456883))
2021-02-01 14:46:50,069 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:50,070 INFO sqlalchemy.engine.base.Engine ('F26',)
2021-02-01 14:46:50,072 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,072 INFO sqlalchemy.engine.base.Engine ((625, 'F26', 0, 'Anhydrite', 1250, 1251), (626, 'F26', 1, 'Sandstone, grey, vf-f', 1252, 1253), (627, 'F26', 2, 'Anhydrite', 1254, 1255), (628, 'F26', 3, 'Dolomite', 1256, 1257), (629, 'F26', 4, 'Anhydrite', 1258, 1259), (630, 'F26', 5, 'Sandstone, grey, vf-f', 1260, 1261), (631, 'F26', 6, 'Siltstone, red', 1262, 1263), (632, 'F26', 7, 'Dolomite', 1264, 1265)  ... displaying 10 of 25 total bound parameter sets ...  (648, 'F26', 23, 'Limestone', 1296, 1297), (649, 'F26', 24, 'Volcanic', 1298, 1299))
2021-02-01 14:46:50,074 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:50,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:50,083 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:50,084 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:50,086 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:50,087 INFO sqlalchemy.engine.base.Engine ('F26',)
2021-02-01 14:46:50,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,091 INFO sqlalchemy.engine.base.Engine (1250,)
2021-02-01 14:46:50,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,094 INFO sqlalchemy.engine.base.Engine (1251,)
2021-02-01 14:46:50,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,100 INFO sqlalchemy.engine.base.Engine (1252,)
2021-02-01 14:46:50,102 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,103 INFO sqlalchemy.engine.base.Engine (1253,)
2021-02-01 14:46:50,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,108 INFO sqlalchemy.engine.base.Engine (1254,)
2021-02-01 14:46:50,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,111 INFO sqlalchemy.engine.base.Engine (1255,)
2021-02-01 14:46:50,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,113 INFO sqlalchemy.engine.base.Engine (1256,)
2021-02-01 14:46:50,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,115 INFO sqlalchemy.engine.base.Engine (1257,)
2021-02-01 14:46:50,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,118 INFO sqlalchemy.engine.base.Engine (1258,)
2021-02-01 14:46:50,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,120 INFO sqlalchemy.engine.base.Engine (1259,)
2021-02-01 14:46:50,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,123 INFO sqlalchemy.engine.base.Engine (1260,)

2021-02-01 14:46:50,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,124 INFO sqlalchemy.engine.base.Engine (1261,)
2021-02-01 14:46:50,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,127 INFO sqlalchemy.engine.base.Engine (1262,)
2021-02-01 14:46:50,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,129 INFO sqlalchemy.engine.base.Engine (1263,)
2021-02-01 14:46:50,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,132 INFO sqlalchemy.engine.base.Engine (1264,)
2021-02-01 14:46:50,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,134 INFO sqlalchemy.engine.base.Engine (1265,)
2021-02-01 14:46:50,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,137 INFO sqlalchemy.engine.base.Engine (1266,)
2021-02-01 14:46:50,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,140 INFO sqlalchemy.engine.base.Engine (1267,)
2021-02-01 14:46:50,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,143 INFO sqlalchemy.engine.base.Engine (1268,)
2021-02-01 14:46:50,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,145 INFO sqlalchemy.engine.base.Engine (1269,)
2021-02-01 14:46:50,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,149 INFO sqlalchemy.engine.base.Engine (1270,)
2021-02-01 14:46:50,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,152 INFO sqlalchemy.engine.base.Engine (1271,)
2021-02-01 14:46:50,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,158 INFO sqlalchemy.engine.base.Engine (1272,)
2021-02-01 14:46:50,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,160 INFO sqlalchemy.engine.base.Engine (1273,)
2021-02-01 14:46:50,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,164 INFO sqlalchemy.engine.base.Engine (1274,)
2021-02-01 14:46:50,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,166 INFO sqlalchemy.engine.base.Engine (1275,)
2021-02-01 14:46:50,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,172 INFO sqlalchemy.engine.base.Engine (1276,)
2021-02-01 14:46:50,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,173 INFO sqlalchemy.engine.base.Engine (1277,)
2021-02-01 14:46:50,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,175 INFO sqlalchemy.engine.base.Engine (1278,)
2021-02-01 14:46:50,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,177 INFO sqlalchemy.engine.base.Engine (1279,)
2021-02-01 14:46:50,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,179 INFO sqlalchemy.engine.base.Engine (1280,)
2021-02-01 14:46:50,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,181 INFO sqlalchemy.engine.base.Engine (1281,)
2021-02-01 14:46:50,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,184 INFO sqlalchemy.engine.base.Engine (1282,)
2021-02-01 14:46:50,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,185 INFO sqlalchemy.engine.base.Engine (1283,)
2021-02-01 14:46:50,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,188 INFO sqlalchemy.engine.base.Engine (1284,)
2021-02-01 14:46:50,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,190 INFO sqlalchemy.engine.base.Engine (1285,)
2021-02-01 14:46:50,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,192 INFO sqlalchemy.engine.base.Engine (1286,)
2021-02-01 14:46:50,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,194 INFO sqlalchemy.engine.base.Engine (1287,)
2021-02-01 14:46:50,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,197 INFO sqlalchemy.engine.base.Engine (1288,)
2021-02-01 14:46:50,199 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,200 INFO sqlalchemy.engine.base.Engine (1289,)
2021-02-01 14:46:50,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,205 INFO sqlalchemy.engine.base.Engine (1290,)
2021-02-01 14:46:50,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,207 INFO sqlalchemy.engine.base.Engine (1291,)
2021-02-01 14:46:50,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,211 INFO sqlalchemy.engine.base.Engine (1292,)
2021-02-01 14:46:50,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,213 INFO sqlalchemy.engine.base.Engine (1293,)
2021-02-01 14:46:50,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,218 INFO sqlalchemy.engine.base.Engine (1294,)
2021-02-01 14:46:50,220 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,221 INFO sqlalchemy.engine.base.Engine (1295,)
2021-02-01 14:46:50,227 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,228 INFO sqlalchemy.engine.base.Engine (1296,)
2021-02-01 14:46:50,229 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,230 INFO sqlalchemy.engine.base.Engine (1297,)
2021-02-01 14:46:50,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,235 INFO sqlalchemy.engine.base.Engine (1298,)
2021-02-01 14:46:50,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,236 INFO sqlalchemy.engine.base.Engine (1299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:50,289 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,290 INFO sqlalchemy.engine.base.Engine ((1300, 14.3, 14.3, 14.3, 4.409289429415365, 50.414145191647016), (1301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409289429415365, 50.414145191647016), (1302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409289429415365, 50.414145191647016), (1303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409289429415365, 50.414145191647016), (1304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409289429415365, 50.414145191647016), (1305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409289429415365, 50.414145191647016), (1306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409289429415365, 50.414145191647016), (1307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409289429415365, 50.414145191647016)  ... displaying 10 of 50 total bound parameter sets ...  (1348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409289429415365, 50.414145191647016), (1349, 135.9, 135.9, 135.9, 4.409289429415365, 50.414145191647016))

2021-02-01 14:46:50,292 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:50,293 INFO sqlalchemy.engine.base.Engine ('F27',)
2021-02-01 14:46:50,295 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,296 INFO sqlalchemy.engine.base.Engine ((650, 'F27', 0, 'Anhydrite', 1300, 1301), (651, 'F27', 1, 'Sandstone, grey, vf-f', 1302, 1303), (652, 'F27', 2, 'Anhydrite', 1304, 1305), (653, 'F27', 3, 'Dolomite', 1306, 1307), (654, 'F27', 4, 'Anhydrite', 1308, 1309), (655, 'F27', 5, 'Sandstone, grey, vf-f', 1310, 1311), (656, 'F27', 6, 'Siltstone, red', 1312, 1313), (657, 'F27', 7, 'Dolomite', 1314, 1315)  ... displaying 10 of 25 total bound parameter sets ...  (673, 'F27', 23, 'Limestone', 1346, 1347), (674, 'F27', 24, 'Volcanic', 1348, 1349))
2021-02-01 14:46:50,297 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:50,304 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:50,305 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:50,307 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:50,310 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:50,312 INFO sqlalchemy.engine.base.Engine ('F27',)
2021-02-01 14:46:50,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,316 INFO sqlalchemy.engine.base.Engine (1300,)
2021-02-01 14:46:50,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,319 INFO sqlalchemy.engine.base.Engine (1301,)
2021-02-01 14:46:50,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,322 INFO sqlalchemy.engine.base.Engine (1302,)
2021-02-01 14:46:50,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,323 INFO sqlalchemy.engine.base.Engine (1303,)
2021-02-01 14:46:50,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,326 INFO sqlalchemy.engine.base.Engine (1304,)
2021-02-01 14:46:50,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,328 INFO sqlalchemy.engine.base.Engine (1305,)
2021-02-01 14:46:50,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,333 INFO sqlalchemy.engine.base.Engine (1306,)
2021-02-01 14:46:50,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,336 INFO sqlalchemy.engine.base.Engine (1307,)
2021-02-01 14:46:50,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,340 INFO sqlalchemy.engine.base.Engine (1308,)
2021-02-01 14:46:50,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,342 INFO sqlalchemy.engine.base.Engine (1309,)
2021-02-01 14:46:50,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,348 INFO sqlalchemy.engine.base.Engine (1310,)
2021-02-01 14:46:50,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,350 INFO sqlalchemy.engine.base.Engine (1311,)
2021-02-01 14:46:50,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,353 INFO sqlalchemy.engine.base.Engine (1312,)
2021-02-01 14:46:50,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,355 INFO sqlalchemy.engine.base.Engine (1313,)
2021-02-01 14:46:50,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,359 INFO sqlalchemy.engine.base.Engine (1314,)
2021-02-01 14:46:50,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,361 INFO sqlalchemy.engine.base.Engine (1315,)
2021-02-01 14:46:50,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,367 INFO sqlalchemy.engine.base.Engine (1316,)
2021-02-01 14:46:50,368 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,369 INFO sqlalchemy.engine.base.Engine (1317,)
2021-02-01 14:46:50,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,372 INFO sqlalchemy.engine.base.Engine (1318,)
2021-02-01 14:46:50,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,374 INFO sqlalchemy.engine.base.Engine (1319,)
2021-02-01 14:46:50,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,380 INFO sqlalchemy.engine.base.Engine (1320,)
2021-02-01 14:46:50,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,384 INFO sqlalchemy.engine.base.Engine (1321,)
2021-02-01 14:46:50,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,387 INFO sqlalchemy.engine.base.Engine (1322,)
2021-02-01 14:46:50,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,388 INFO sqlalchemy.engine.base.Engine (1323,)
2021-02-01 14:46:50,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,391 INFO sqlalchemy.engine.base.Engine (1324,)
2021-02-01 14:46:50,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,393 INFO sqlalchemy.engine.base.Engine (1325,)
2021-02-01 14:46:50,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,395 INFO sqlalchemy.engine.base.Engine (1326,)
2021-02-01 14:46:50,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,397 INFO sqlalchemy.engine.base.Engine (1327,)
2021-02-01 14:46:50,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,401 INFO sqlalchemy.engine.base.Engine (1328,)
2021-02-01 14:46:50,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,404 INFO sqlalchemy.engine.base.Engine (1329,)
2021-02-01 14:46:50,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,409 INFO sqlalchemy.engine.base.Engine (1330,)
2021-02-01 14:46:50,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,411 INFO sqlalchemy.engine.base.Engine (1331,)
2021-02-01 14:46:50,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,413 INFO sqlalchemy.engine.base.Engine (1332,)
2021-02-01 14:46:50,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,414 INFO sqlalchemy.engine.base.Engine (1333,)
2021-02-01 14:46:50,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,416 INFO sqlalchemy.engine.base.Engine (1334,)
2021-02-01 14:46:50,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,418 INFO sqlalchemy.engine.base.Engine (1335,)
2021-02-01 14:46:50,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,421 INFO sqlalchemy.engine.base.Engine (1336,)
2021-02-01 14:46:50,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,423 INFO sqlalchemy.engine.base.Engine (1337,)
2021-02-01 14:46:50,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,425 INFO sqlalchemy.engine.base.Engine (1338,)
2021-02-01 14:46:50,426 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,426 INFO sqlalchemy.engine.base.Engine (1339,)
2021-02-01 14:46:50,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,429 INFO sqlalchemy.engine.base.Engine (1340,)
2021-02-01 14:46:50,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,430 INFO sqlalchemy.engine.base.Engine (1341,)
2021-02-01 14:46:50,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,433 INFO sqlalchemy.engine.base.Engine (1342,)
2021-02-01 14:46:50,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,435 INFO sqlalchemy.engine.base.Engine (1343,)
2021-02-01 14:46:50,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,438 INFO sqlalchemy.engine.base.Engine (1344,)
2021-02-01 14:46:50,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,440 INFO sqlalchemy.engine.base.Engine (1345,)
2021-02-01 14:46:50,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,443 INFO sqlalchemy.engine.base.Engine (1346,)
2021-02-01 14:46:50,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,445 INFO sqlalchemy.engine.base.Engine (1347,)
2021-02-01 14:46:50,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,447 INFO sqlalchemy.engine.base.Engine (1348,)
2021-02-01 14:46:50,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,449 INFO sqlalchemy.engine.base.Engine (1349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:50,497 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,497 INFO sqlalchemy.engine.base.Engine ((1350, 14.3, 14.3, 14.3, 4.409362599207857, 50.41414990569816), (1351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409362599207857, 50.41414990569816), (1352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409362599207857, 50.41414990569816), (1353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409362599207857, 50.41414990569816), (1354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409362599207857, 50.41414990569816), (1355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409362599207857, 50.41414990569816), (1356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409362599207857, 50.41414990569816), (1357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409362599207857, 50.41414990569816)  ... displaying 10 of 50 total bound parameter sets ...  (1398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409362599207857, 50.41414990569816), (1399, 135.9, 135.9, 135.9, 4.409362599207857, 50.41414990569816))
2021-02-01 14:46:50,499 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:50,499 INFO sqlalchemy.engine.base.Engine ('F28',)
2021-02-01 14:46:50,502 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,502 INFO sqlalchemy.engine.base.Engine ((675, 'F28', 0, 'Anhydrite', 1350, 1351), (676, 'F28', 1, 'Sandstone, grey, vf-f', 1352, 1353), (677, 'F28', 2, 'Anhydrite', 1354, 1355), (678, 'F28', 3, 'Dolomite', 1356, 1357), (679, 'F28', 4, 'Anhydrite', 1358, 1359), (680, 'F28', 5, 'Sandstone, grey, vf-f', 1360, 1361), (681, 'F28', 6, 'Siltstone, red', 1362, 1363), (682, 'F28', 7, 'Dolomite', 1364, 1365)  ... displaying 10 of 25 total bound parameter sets ...  (698, 'F28', 23, 'Limestone', 1396, 1397), (699, 'F28', 24, 'Volcanic', 1398, 1399))
2021-02-01 14:46:50,505 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:50,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:50,512 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:50,513 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:50,515 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:50,516 INFO sqlalchemy.engine.base.Engine ('F28',)
2021-02-01 14:46:50,518 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,519 INFO sqlalchemy.engine.base.Engine (1350,)

2021-02-01 14:46:50,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,521 INFO sqlalchemy.engine.base.Engine (1351,)
2021-02-01 14:46:50,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,524 INFO sqlalchemy.engine.base.Engine (1352,)
2021-02-01 14:46:50,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,526 INFO sqlalchemy.engine.base.Engine (1353,)
2021-02-01 14:46:50,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,531 INFO sqlalchemy.engine.base.Engine (1354,)
2021-02-01 14:46:50,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,534 INFO sqlalchemy.engine.base.Engine (1355,)
2021-02-01 14:46:50,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,540 INFO sqlalchemy.engine.base.Engine (1356,)
2021-02-01 14:46:50,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,543 INFO sqlalchemy.engine.base.Engine (1357,)
2021-02-01 14:46:50,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,548 INFO sqlalchemy.engine.base.Engine (1358,)
2021-02-01 14:46:50,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,551 INFO sqlalchemy.engine.base.Engine (1359,)
2021-02-01 14:46:50,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,555 INFO sqlalchemy.engine.base.Engine (1360,)
2021-02-01 14:46:50,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,557 INFO sqlalchemy.engine.base.Engine (1361,)
2021-02-01 14:46:50,558 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,559 INFO sqlalchemy.engine.base.Engine (1362,)
2021-02-01 14:46:50,560 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,560 INFO sqlalchemy.engine.base.Engine (1363,)
2021-02-01 14:46:50,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,563 INFO sqlalchemy.engine.base.Engine (1364,)
2021-02-01 14:46:50,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,565 INFO sqlalchemy.engine.base.Engine (1365,)
2021-02-01 14:46:50,567 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,568 INFO sqlalchemy.engine.base.Engine (1366,)
2021-02-01 14:46:50,570 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,570 INFO sqlalchemy.engine.base.Engine (1367,)
2021-02-01 14:46:50,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,575 INFO sqlalchemy.engine.base.Engine (1368,)
2021-02-01 14:46:50,578 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,579 INFO sqlalchemy.engine.base.Engine (1369,)
2021-02-01 14:46:50,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,584 INFO sqlalchemy.engine.base.Engine (1370,)
2021-02-01 14:46:50,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,587 INFO sqlalchemy.engine.base.Engine (1371,)
2021-02-01 14:46:50,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,592 INFO sqlalchemy.engine.base.Engine (1372,)
2021-02-01 14:46:50,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,595 INFO sqlalchemy.engine.base.Engine (1373,)
2021-02-01 14:46:50,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,600 INFO sqlalchemy.engine.base.Engine (1374,)
2021-02-01 14:46:50,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,603 INFO sqlalchemy.engine.base.Engine (1375,)
2021-02-01 14:46:50,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,605 INFO sqlalchemy.engine.base.Engine (1376,)
2021-02-01 14:46:50,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,608 INFO sqlalchemy.engine.base.Engine (1377,)
2021-02-01 14:46:50,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,612 INFO sqlalchemy.engine.base.Engine (1378,)
2021-02-01 14:46:50,614 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,614 INFO sqlalchemy.engine.base.Engine (1379,)
2021-02-01 14:46:50,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,619 INFO sqlalchemy.engine.base.Engine (1380,)
2021-02-01 14:46:50,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,621 INFO sqlalchemy.engine.base.Engine (1381,)
2021-02-01 14:46:50,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,627 INFO sqlalchemy.engine.base.Engine (1382,)
2021-02-01 14:46:50,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,629 INFO sqlalchemy.engine.base.Engine (1383,)
2021-02-01 14:46:50,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,635 INFO sqlalchemy.engine.base.Engine (1384,)
2021-02-01 14:46:50,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,638 INFO sqlalchemy.engine.base.Engine (1385,)
2021-02-01 14:46:50,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,643 INFO sqlalchemy.engine.base.Engine (1386,)
2021-02-01 14:46:50,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,645 INFO sqlalchemy.engine.base.Engine (1387,)
2021-02-01 14:46:50,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,651 INFO sqlalchemy.engine.base.Engine (1388,)
2021-02-01 14:46:50,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,654 INFO sqlalchemy.engine.base.Engine (1389,)
2021-02-01 14:46:50,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,657 INFO sqlalchemy.engine.base.Engine (1390,)
2021-02-01 14:46:50,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,659 INFO sqlalchemy.engine.base.Engine (1391,)
2021-02-01 14:46:50,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,664 INFO sqlalchemy.engine.base.Engine (1392,)
2021-02-01 14:46:50,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,666 INFO sqlalchemy.engine.base.Engine (1393,)
2021-02-01 14:46:50,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,671 INFO sqlalchemy.engine.base.Engine (1394,)
2021-02-01 14:46:50,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,673 INFO sqlalchemy.engine.base.Engine (1395,)
2021-02-01 14:46:50,675 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,676 INFO sqlalchemy.engine.base.Engine (1396,)
2021-02-01 14:46:50,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,678 INFO sqlalchemy.engine.base.Engine (1397,)
2021-02-01 14:46:50,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,680 INFO sqlalchemy.engine.base.Engine (1398,)
2021-02-01 14:46:50,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,681 INFO sqlalchemy.engine.base.Engine (1399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:50,730 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,731 INFO sqlalchemy.engine.base.Engine ((1400, 14.3, 14.3, 14.3, 4.409291266621199, 50.414119471763726), (1401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409291266621199, 50.414119471763726), (1402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409291266621199, 50.414119471763726), (1403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409291266621199, 50.414119471763726), (1404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409291266621199, 50.414119471763726), (1405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409291266621199, 50.414119471763726), (1406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409291266621199, 50.414119471763726), (1407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409291266621199, 50.414119471763726)  ... displaying 10 of 50 total bound parameter sets ...  (1448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409291266621199, 50.414119471763726), (1449, 135.9, 135.9, 135.9, 4.409291266621199, 50.414119471763726))
2021-02-01 14:46:50,732 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:50,733 INFO sqlalchemy.engine.base.Engine ('F29',)
2021-02-01 14:46:50,735 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,735 INFO sqlalchemy.engine.base.Engine ((700, 'F29', 0, 'Anhydrite', 1400, 1401), (701, 'F29', 1, 'Sandstone, grey, vf-f', 1402, 1403), (702, 'F29', 2, 'Anhydrite', 1404, 1405), (703, 'F29', 3, 'Dolomite', 1406, 1407), (704, 'F29', 4, 'Anhydrite', 1408, 1409), (705, 'F29', 5, 'Sandstone, grey, vf-f', 1410, 1411), (706, 'F29', 6, 'Siltstone, red', 1412, 1413), (707, 'F29', 7, 'Dolomite', 1414, 1415)  ... displaying 10 of 25 total bound parameter sets ...  (723, 'F29', 23, 'Limestone', 1446, 1447), (724, 'F29', 24, 'Volcanic', 1448, 1449))
2021-02-01 14:46:50,736 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:50,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:50,745 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:50,746 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:50,748 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:50,749 INFO sqlalchemy.engine.base.Engine ('F29',)
2021-02-01 14:46:50,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,751 INFO sqlalchemy.engine.base.Engine (1400,)
2021-02-01 14:46:50,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,752 INFO sqlalchemy.engine.base.Engine (1401,)
2021-02-01 14:46:50,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,755 INFO sqlalchemy.engine.base.Engine (1402,)
2021-02-01 14:46:50,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,757 INFO sqlalchemy.engine.base.Engine (1403,)
2021-02-01 14:46:50,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,763 INFO sqlalchemy.engine.base.Engine (1404,)
2021-02-01 14:46:50,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,765 INFO sqlalchemy.engine.base.Engine (1405,)

2021-02-01 14:46:50,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,768 INFO sqlalchemy.engine.base.Engine (1406,)
2021-02-01 14:46:50,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,769 INFO sqlalchemy.engine.base.Engine (1407,)
2021-02-01 14:46:50,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,772 INFO sqlalchemy.engine.base.Engine (1408,)
2021-02-01 14:46:50,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,773 INFO sqlalchemy.engine.base.Engine (1409,)
2021-02-01 14:46:50,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,776 INFO sqlalchemy.engine.base.Engine (1410,)
2021-02-01 14:46:50,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,779 INFO sqlalchemy.engine.base.Engine (1411,)
2021-02-01 14:46:50,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,781 INFO sqlalchemy.engine.base.Engine (1412,)
2021-02-01 14:46:50,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,783 INFO sqlalchemy.engine.base.Engine (1413,)
2021-02-01 14:46:50,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,785 INFO sqlalchemy.engine.base.Engine (1414,)
2021-02-01 14:46:50,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,787 INFO sqlalchemy.engine.base.Engine (1415,)
2021-02-01 14:46:50,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,790 INFO sqlalchemy.engine.base.Engine (1416,)
2021-02-01 14:46:50,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,793 INFO sqlalchemy.engine.base.Engine (1417,)
2021-02-01 14:46:50,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,798 INFO sqlalchemy.engine.base.Engine (1418,)
2021-02-01 14:46:50,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,800 INFO sqlalchemy.engine.base.Engine (1419,)
2021-02-01 14:46:50,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,805 INFO sqlalchemy.engine.base.Engine (1420,)
2021-02-01 14:46:50,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,806 INFO sqlalchemy.engine.base.Engine (1421,)
2021-02-01 14:46:50,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,811 INFO sqlalchemy.engine.base.Engine (1422,)
2021-02-01 14:46:50,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,814 INFO sqlalchemy.engine.base.Engine (1423,)
2021-02-01 14:46:50,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,819 INFO sqlalchemy.engine.base.Engine (1424,)
2021-02-01 14:46:50,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,822 INFO sqlalchemy.engine.base.Engine (1425,)
2021-02-01 14:46:50,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,827 INFO sqlalchemy.engine.base.Engine (1426,)
2021-02-01 14:46:50,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,829 INFO sqlalchemy.engine.base.Engine (1427,)
2021-02-01 14:46:50,833 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,834 INFO sqlalchemy.engine.base.Engine (1428,)
2021-02-01 14:46:50,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,836 INFO sqlalchemy.engine.base.Engine (1429,)
2021-02-01 14:46:50,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,839 INFO sqlalchemy.engine.base.Engine (1430,)
2021-02-01 14:46:50,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,840 INFO sqlalchemy.engine.base.Engine (1431,)
2021-02-01 14:46:50,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,843 INFO sqlalchemy.engine.base.Engine (1432,)
2021-02-01 14:46:50,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,846 INFO sqlalchemy.engine.base.Engine (1433,)
2021-02-01 14:46:50,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,848 INFO sqlalchemy.engine.base.Engine (1434,)
2021-02-01 14:46:50,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,850 INFO sqlalchemy.engine.base.Engine (1435,)
2021-02-01 14:46:50,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,854 INFO sqlalchemy.engine.base.Engine (1436,)
2021-02-01 14:46:50,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,856 INFO sqlalchemy.engine.base.Engine (1437,)
2021-02-01 14:46:50,860 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,861 INFO sqlalchemy.engine.base.Engine (1438,)
2021-02-01 14:46:50,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,865 INFO sqlalchemy.engine.base.Engine (1439,)
2021-02-01 14:46:50,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,871 INFO sqlalchemy.engine.base.Engine (1440,)
2021-02-01 14:46:50,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,872 INFO sqlalchemy.engine.base.Engine (1441,)
2021-02-01 14:46:50,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,877 INFO sqlalchemy.engine.base.Engine (1442,)
2021-02-01 14:46:50,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,879 INFO sqlalchemy.engine.base.Engine (1443,)
2021-02-01 14:46:50,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,883 INFO sqlalchemy.engine.base.Engine (1444,)
2021-02-01 14:46:50,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,884 INFO sqlalchemy.engine.base.Engine (1445,)
2021-02-01 14:46:50,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,887 INFO sqlalchemy.engine.base.Engine (1446,)
2021-02-01 14:46:50,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:50,889 INFO sqlalchemy.engine.base.Engine (1447,)
2021-02-01 14:46:50,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,895 INFO sqlalchemy.engine.base.Engine (1448,)
2021-02-01 14:46:50,897 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,898 INFO sqlalchemy.engine.base.Engine (1449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:50,950 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,951 INFO sqlalchemy.engine.base.Engine ((1450, 14.3, 14.3, 14.3, 4.409461432825285, 50.414222197794295), (1451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409461432825285, 50.414222197794295), (1452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409461432825285, 50.414222197794295), (1453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409461432825285, 50.414222197794295), (1454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409461432825285, 50.414222197794295), (1455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409461432825285, 50.414222197794295), (1456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409461432825285, 50.414222197794295), (1457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409461432825285, 50.414222197794295)  ... displaying 10 of 50 total bound parameter sets ...  (1498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409461432825285, 50.414222197794295), (1499, 135.9, 135.9, 135.9, 4.409461432825285, 50.414222197794295))
2021-02-01 14:46:50,952 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:50,953 INFO sqlalchemy.engine.base.Engine ('F30',)
2021-02-01 14:46:50,955 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:50,956 INFO sqlalchemy.engine.base.Engine ((725, 'F30', 0, 'Anhydrite', 1450, 1451), (726, 'F30', 1, 'Sandstone, grey, vf-f', 1452, 1453), (727, 'F30', 2, 'Anhydrite', 1454, 1455), (728, 'F30', 3, 'Dolomite', 1456, 1457), (729, 'F30', 4, 'Anhydrite', 1458, 1459), (730, 'F30', 5, 'Sandstone, grey, vf-f', 1460, 1461), (731, 'F30', 6, 'Siltstone, red', 1462, 1463), (732, 'F30', 7, 'Dolomite', 1464, 1465)  ... displaying 10 of 25 total bound parameter sets ...  (748, 'F30', 23, 'Limestone', 1496, 1497), (749, 'F30', 24, 'Volcanic', 1498, 1499))
2021-02-01 14:46:50,958 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:50,964 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:50,965 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:50,965 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:50,968 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:50,968 INFO sqlalchemy.engine.base.Engine ('F30',)
2021-02-01 14:46:50,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,971 INFO sqlalchemy.engine.base.Engine (1450,)
2021-02-01 14:46:50,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,974 INFO sqlalchemy.engine.base.Engine (1451,)
2021-02-01 14:46:50,979 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,980 INFO sqlalchemy.engine.base.Engine (1452,)
2021-02-01 14:46:50,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,983 INFO sqlalchemy.engine.base.Engine (1453,)
2021-02-01 14:46:50,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,987 INFO sqlalchemy.engine.base.Engine (1454,)
2021-02-01 14:46:50,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,989 INFO sqlalchemy.engine.base.Engine (1455,)
2021-02-01 14:46:50,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,992 INFO sqlalchemy.engine.base.Engine (1456,)
2021-02-01 14:46:50,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,993 INFO sqlalchemy.engine.base.Engine (1457,)
2021-02-01 14:46:50,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,997 INFO sqlalchemy.engine.base.Engine (1458,)
2021-02-01 14:46:50,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:50,998 INFO sqlalchemy.engine.base.Engine (1459,)
2021-02-01 14:46:50,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,000 INFO sqlalchemy.engine.base.Engine (1460,)

2021-02-01 14:46:51,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,001 INFO sqlalchemy.engine.base.Engine (1461,)
2021-02-01 14:46:51,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,003 INFO sqlalchemy.engine.base.Engine (1462,)
2021-02-01 14:46:51,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,006 INFO sqlalchemy.engine.base.Engine (1463,)
2021-02-01 14:46:51,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,009 INFO sqlalchemy.engine.base.Engine (1464,)
2021-02-01 14:46:51,010 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,011 INFO sqlalchemy.engine.base.Engine (1465,)
2021-02-01 14:46:51,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,013 INFO sqlalchemy.engine.base.Engine (1466,)
2021-02-01 14:46:51,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,015 INFO sqlalchemy.engine.base.Engine (1467,)
2021-02-01 14:46:51,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,018 INFO sqlalchemy.engine.base.Engine (1468,)
2021-02-01 14:46:51,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,020 INFO sqlalchemy.engine.base.Engine (1469,)
2021-02-01 14:46:51,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,024 INFO sqlalchemy.engine.base.Engine (1470,)
2021-02-01 14:46:51,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,025 INFO sqlalchemy.engine.base.Engine (1471,)
2021-02-01 14:46:51,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,030 INFO sqlalchemy.engine.base.Engine (1472,)
2021-02-01 14:46:51,032 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,032 INFO sqlalchemy.engine.base.Engine (1473,)
2021-02-01 14:46:51,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,036 INFO sqlalchemy.engine.base.Engine (1474,)
2021-02-01 14:46:51,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,038 INFO sqlalchemy.engine.base.Engine (1475,)
2021-02-01 14:46:51,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,041 INFO sqlalchemy.engine.base.Engine (1476,)
2021-02-01 14:46:51,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,045 INFO sqlalchemy.engine.base.Engine (1477,)
2021-02-01 14:46:51,050 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,051 INFO sqlalchemy.engine.base.Engine (1478,)
2021-02-01 14:46:51,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,054 INFO sqlalchemy.engine.base.Engine (1479,)
2021-02-01 14:46:51,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,058 INFO sqlalchemy.engine.base.Engine (1480,)
2021-02-01 14:46:51,059 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,060 INFO sqlalchemy.engine.base.Engine (1481,)
2021-02-01 14:46:51,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,066 INFO sqlalchemy.engine.base.Engine (1482,)
2021-02-01 14:46:51,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,068 INFO sqlalchemy.engine.base.Engine (1483,)
2021-02-01 14:46:51,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,072 INFO sqlalchemy.engine.base.Engine (1484,)
2021-02-01 14:46:51,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,073 INFO sqlalchemy.engine.base.Engine (1485,)
2021-02-01 14:46:51,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,076 INFO sqlalchemy.engine.base.Engine (1486,)
2021-02-01 14:46:51,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,078 INFO sqlalchemy.engine.base.Engine (1487,)
2021-02-01 14:46:51,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,082 INFO sqlalchemy.engine.base.Engine (1488,)
2021-02-01 14:46:51,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,084 INFO sqlalchemy.engine.base.Engine (1489,)
2021-02-01 14:46:51,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,087 INFO sqlalchemy.engine.base.Engine (1490,)
2021-02-01 14:46:51,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,089 INFO sqlalchemy.engine.base.Engine (1491,)
2021-02-01 14:46:51,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,093 INFO sqlalchemy.engine.base.Engine (1492,)
2021-02-01 14:46:51,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,094 INFO sqlalchemy.engine.base.Engine (1493,)
2021-02-01 14:46:51,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,097 INFO sqlalchemy.engine.base.Engine (1494,)
2021-02-01 14:46:51,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,099 INFO sqlalchemy.engine.base.Engine (1495,)
2021-02-01 14:46:51,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,102 INFO sqlalchemy.engine.base.Engine (1496,)
2021-02-01 14:46:51,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,104 INFO sqlalchemy.engine.base.Engine (1497,)
2021-02-01 14:46:51,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,110 INFO sqlalchemy.engine.base.Engine (1498,)
2021-02-01 14:46:51,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,114 INFO sqlalchemy.engine.base.Engine (1499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:51,163 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,164 INFO sqlalchemy.engine.base.Engine ((1500, 14.3, 14.3, 14.3, 4.4093533828571, 50.41423008479664), (1501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093533828571, 50.41423008479664), (1502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093533828571, 50.41423008479664), (1503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093533828571, 50.41423008479664), (1504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093533828571, 50.41423008479664), (1505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093533828571, 50.41423008479664), (1506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093533828571, 50.41423008479664), (1507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4093533828571, 50.41423008479664)  ... displaying 10 of 50 total bound parameter sets ...  (1548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4093533828571, 50.41423008479664), (1549, 135.9, 135.9, 135.9, 4.4093533828571, 50.41423008479664))

2021-02-01 14:46:51,168 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:51,169 INFO sqlalchemy.engine.base.Engine ('F31',)
2021-02-01 14:46:51,171 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,172 INFO sqlalchemy.engine.base.Engine ((750, 'F31', 0, 'Anhydrite', 1500, 1501), (751, 'F31', 1, 'Sandstone, grey, vf-f', 1502, 1503), (752, 'F31', 2, 'Anhydrite', 1504, 1505), (753, 'F31', 3, 'Dolomite', 1506, 1507), (754, 'F31', 4, 'Anhydrite', 1508, 1509), (755, 'F31', 5, 'Sandstone, grey, vf-f', 1510, 1511), (756, 'F31', 6, 'Siltstone, red', 1512, 1513), (757, 'F31', 7, 'Dolomite', 1514, 1515)  ... displaying 10 of 25 total bound parameter sets ...  (773, 'F31', 23, 'Limestone', 1546, 1547), (774, 'F31', 24, 'Volcanic', 1548, 1549))
2021-02-01 14:46:51,175 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:51,181 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:51,182 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:51,183 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:51,185 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:51,186 INFO sqlalchemy.engine.base.Engine ('F31',)
2021-02-01 14:46:51,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,189 INFO sqlalchemy.engine.base.Engine (1500,)
2021-02-01 14:46:51,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,192 INFO sqlalchemy.engine.base.Engine (1501,)
2021-02-01 14:46:51,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,198 INFO sqlalchemy.engine.base.Engine (1502,)
2021-02-01 14:46:51,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,201 INFO sqlalchemy.engine.base.Engine (1503,)
2021-02-01 14:46:51,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,205 INFO sqlalchemy.engine.base.Engine (1504,)
2021-02-01 14:46:51,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,207 INFO sqlalchemy.engine.base.Engine (1505,)
2021-02-01 14:46:51,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,211 INFO sqlalchemy.engine.base.Engine (1506,)
2021-02-01 14:46:51,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,213 INFO sqlalchemy.engine.base.Engine (1507,)
2021-02-01 14:46:51,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,217 INFO sqlalchemy.engine.base.Engine (1508,)
2021-02-01 14:46:51,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,220 INFO sqlalchemy.engine.base.Engine (1509,)
2021-02-01 14:46:51,225 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,226 INFO sqlalchemy.engine.base.Engine (1510,)
2021-02-01 14:46:51,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,229 INFO sqlalchemy.engine.base.Engine (1511,)
2021-02-01 14:46:51,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,234 INFO sqlalchemy.engine.base.Engine (1512,)
2021-02-01 14:46:51,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,235 INFO sqlalchemy.engine.base.Engine (1513,)
2021-02-01 14:46:51,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,241 INFO sqlalchemy.engine.base.Engine (1514,)
2021-02-01 14:46:51,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,244 INFO sqlalchemy.engine.base.Engine (1515,)
2021-02-01 14:46:51,247 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,248 INFO sqlalchemy.engine.base.Engine (1516,)
2021-02-01 14:46:51,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,251 INFO sqlalchemy.engine.base.Engine (1517,)
2021-02-01 14:46:51,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,257 INFO sqlalchemy.engine.base.Engine (1518,)
2021-02-01 14:46:51,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,260 INFO sqlalchemy.engine.base.Engine (1519,)
2021-02-01 14:46:51,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,267 INFO sqlalchemy.engine.base.Engine (1520,)
2021-02-01 14:46:51,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,270 INFO sqlalchemy.engine.base.Engine (1521,)
2021-02-01 14:46:51,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,275 INFO sqlalchemy.engine.base.Engine (1522,)
2021-02-01 14:46:51,276 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,277 INFO sqlalchemy.engine.base.Engine (1523,)
2021-02-01 14:46:51,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,280 INFO sqlalchemy.engine.base.Engine (1524,)
2021-02-01 14:46:51,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,283 INFO sqlalchemy.engine.base.Engine (1525,)
2021-02-01 14:46:51,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,286 INFO sqlalchemy.engine.base.Engine (1526,)
2021-02-01 14:46:51,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,288 INFO sqlalchemy.engine.base.Engine (1527,)
2021-02-01 14:46:51,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,291 INFO sqlalchemy.engine.base.Engine (1528,)
2021-02-01 14:46:51,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,295 INFO sqlalchemy.engine.base.Engine (1529,)
2021-02-01 14:46:51,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,300 INFO sqlalchemy.engine.base.Engine (1530,)
2021-02-01 14:46:51,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,303 INFO sqlalchemy.engine.base.Engine (1531,)
2021-02-01 14:46:51,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,308 INFO sqlalchemy.engine.base.Engine (1532,)
2021-02-01 14:46:51,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,311 INFO sqlalchemy.engine.base.Engine (1533,)
2021-02-01 14:46:51,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,315 INFO sqlalchemy.engine.base.Engine (1534,)
2021-02-01 14:46:51,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,318 INFO sqlalchemy.engine.base.Engine (1535,)
2021-02-01 14:46:51,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,321 INFO sqlalchemy.engine.base.Engine (1536,)
2021-02-01 14:46:51,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,323 INFO sqlalchemy.engine.base.Engine (1537,)
2021-02-01 14:46:51,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,325 INFO sqlalchemy.engine.base.Engine (1538,)
2021-02-01 14:46:51,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,328 INFO sqlalchemy.engine.base.Engine (1539,)
2021-02-01 14:46:51,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,331 INFO sqlalchemy.engine.base.Engine (1540,)
2021-02-01 14:46:51,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,334 INFO sqlalchemy.engine.base.Engine (1541,)
2021-02-01 14:46:51,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,340 INFO sqlalchemy.engine.base.Engine (1542,)
2021-02-01 14:46:51,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,341 INFO sqlalchemy.engine.base.Engine (1543,)
2021-02-01 14:46:51,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,344 INFO sqlalchemy.engine.base.Engine (1544,)
2021-02-01 14:46:51,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,346 INFO sqlalchemy.engine.base.Engine (1545,)
2021-02-01 14:46:51,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,352 INFO sqlalchemy.engine.base.Engine (1546,)
2021-02-01 14:46:51,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,355 INFO sqlalchemy.engine.base.Engine (1547,)
2021-02-01 14:46:51,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,359 INFO sqlalchemy.engine.base.Engine (1548,)
2021-02-01 14:46:51,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,361 INFO sqlalchemy.engine.base.Engine (1549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:51,414 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,415 INFO sqlalchemy.engine.base.Engine ((1550, 14.3, 14.3, 14.3, 4.409425607381006, 50.41423434750483), (1551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409425607381006, 50.41423434750483), (1552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409425607381006, 50.41423434750483), (1553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409425607381006, 50.41423434750483), (1554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409425607381006, 50.41423434750483), (1555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409425607381006, 50.41423434750483), (1556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409425607381006, 50.41423434750483), (1557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409425607381006, 50.41423434750483)  ... displaying 10 of 50 total bound parameter sets ...  (1598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409425607381006, 50.41423434750483), (1599, 135.9, 135.9, 135.9, 4.409425607381006, 50.41423434750483))
2021-02-01 14:46:51,417 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:51,418 INFO sqlalchemy.engine.base.Engine ('F32',)
2021-02-01 14:46:51,422 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,423 INFO sqlalchemy.engine.base.Engine ((775, 'F32', 0, 'Anhydrite', 1550, 1551), (776, 'F32', 1, 'Sandstone, grey, vf-f', 1552, 1553), (777, 'F32', 2, 'Anhydrite', 1554, 1555), (778, 'F32', 3, 'Dolomite', 1556, 1557), (779, 'F32', 4, 'Anhydrite', 1558, 1559), (780, 'F32', 5, 'Sandstone, grey, vf-f', 1560, 1561), (781, 'F32', 6, 'Siltstone, red', 1562, 1563), (782, 'F32', 7, 'Dolomite', 1564, 1565)  ... displaying 10 of 25 total bound parameter sets ...  (798, 'F32', 23, 'Limestone', 1596, 1597), (799, 'F32', 24, 'Volcanic', 1598, 1599))
2021-02-01 14:46:51,425 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:51,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:51,432 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:51,432 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:51,435 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:51,437 INFO sqlalchemy.engine.base.Engine ('F32',)
2021-02-01 14:46:51,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,440 INFO sqlalchemy.engine.base.Engine (1550,)

2021-02-01 14:46:51,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,443 INFO sqlalchemy.engine.base.Engine (1551,)
2021-02-01 14:46:51,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,449 INFO sqlalchemy.engine.base.Engine (1552,)
2021-02-01 14:46:51,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,452 INFO sqlalchemy.engine.base.Engine (1553,)
2021-02-01 14:46:51,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,456 INFO sqlalchemy.engine.base.Engine (1554,)
2021-02-01 14:46:51,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,460 INFO sqlalchemy.engine.base.Engine (1555,)
2021-02-01 14:46:51,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,463 INFO sqlalchemy.engine.base.Engine (1556,)
2021-02-01 14:46:51,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,465 INFO sqlalchemy.engine.base.Engine (1557,)
2021-02-01 14:46:51,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,470 INFO sqlalchemy.engine.base.Engine (1558,)
2021-02-01 14:46:51,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,473 INFO sqlalchemy.engine.base.Engine (1559,)
2021-02-01 14:46:51,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,476 INFO sqlalchemy.engine.base.Engine (1560,)
2021-02-01 14:46:51,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,480 INFO sqlalchemy.engine.base.Engine (1561,)
2021-02-01 14:46:51,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,485 INFO sqlalchemy.engine.base.Engine (1562,)
2021-02-01 14:46:51,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,487 INFO sqlalchemy.engine.base.Engine (1563,)
2021-02-01 14:46:51,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,491 INFO sqlalchemy.engine.base.Engine (1564,)
2021-02-01 14:46:51,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,493 INFO sqlalchemy.engine.base.Engine (1565,)
2021-02-01 14:46:51,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,497 INFO sqlalchemy.engine.base.Engine (1566,)
2021-02-01 14:46:51,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,500 INFO sqlalchemy.engine.base.Engine (1567,)
2021-02-01 14:46:51,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,506 INFO sqlalchemy.engine.base.Engine (1568,)
2021-02-01 14:46:51,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,508 INFO sqlalchemy.engine.base.Engine (1569,)
2021-02-01 14:46:51,512 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,513 INFO sqlalchemy.engine.base.Engine (1570,)
2021-02-01 14:46:51,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,516 INFO sqlalchemy.engine.base.Engine (1571,)
2021-02-01 14:46:51,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,521 INFO sqlalchemy.engine.base.Engine (1572,)
2021-02-01 14:46:51,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,523 INFO sqlalchemy.engine.base.Engine (1573,)
2021-02-01 14:46:51,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,527 INFO sqlalchemy.engine.base.Engine (1574,)
2021-02-01 14:46:51,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,529 INFO sqlalchemy.engine.base.Engine (1575,)
2021-02-01 14:46:51,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,533 INFO sqlalchemy.engine.base.Engine (1576,)
2021-02-01 14:46:51,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,536 INFO sqlalchemy.engine.base.Engine (1577,)
2021-02-01 14:46:51,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,539 INFO sqlalchemy.engine.base.Engine (1578,)
2021-02-01 14:46:51,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,541 INFO sqlalchemy.engine.base.Engine (1579,)
2021-02-01 14:46:51,543 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,544 INFO sqlalchemy.engine.base.Engine (1580,)
2021-02-01 14:46:51,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,546 INFO sqlalchemy.engine.base.Engine (1581,)
2021-02-01 14:46:51,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,549 INFO sqlalchemy.engine.base.Engine (1582,)
2021-02-01 14:46:51,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,552 INFO sqlalchemy.engine.base.Engine (1583,)
2021-02-01 14:46:51,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,557 INFO sqlalchemy.engine.base.Engine (1584,)
2021-02-01 14:46:51,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,560 INFO sqlalchemy.engine.base.Engine (1585,)
2021-02-01 14:46:51,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,565 INFO sqlalchemy.engine.base.Engine (1586,)
2021-02-01 14:46:51,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,567 INFO sqlalchemy.engine.base.Engine (1587,)
2021-02-01 14:46:51,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,570 INFO sqlalchemy.engine.base.Engine (1588,)
2021-02-01 14:46:51,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,572 INFO sqlalchemy.engine.base.Engine (1589,)
2021-02-01 14:46:51,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,577 INFO sqlalchemy.engine.base.Engine (1590,)
2021-02-01 14:46:51,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,581 INFO sqlalchemy.engine.base.Engine (1591,)
2021-02-01 14:46:51,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,585 INFO sqlalchemy.engine.base.Engine (1592,)
2021-02-01 14:46:51,587 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,588 INFO sqlalchemy.engine.base.Engine (1593,)
2021-02-01 14:46:51,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,591 INFO sqlalchemy.engine.base.Engine (1594,)
2021-02-01 14:46:51,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,594 INFO sqlalchemy.engine.base.Engine (1595,)
2021-02-01 14:46:51,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,599 INFO sqlalchemy.engine.base.Engine (1596,)
2021-02-01 14:46:51,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,602 INFO sqlalchemy.engine.base.Engine (1597,)
2021-02-01 14:46:51,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,607 INFO sqlalchemy.engine.base.Engine (1598,)
2021-02-01 14:46:51,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,610 INFO sqlalchemy.engine.base.Engine (1599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:51,662 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,663 INFO sqlalchemy.engine.base.Engine ((1600, 14.3, 14.3, 14.3, 4.409419500308986, 50.414131596748156), (1601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409419500308986, 50.414131596748156), (1602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409419500308986, 50.414131596748156), (1603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409419500308986, 50.414131596748156), (1604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409419500308986, 50.414131596748156), (1605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409419500308986, 50.414131596748156), (1606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409419500308986, 50.414131596748156), (1607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409419500308986, 50.414131596748156)  ... displaying 10 of 50 total bound parameter sets ...  (1648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409419500308986, 50.414131596748156), (1649, 135.9, 135.9, 135.9, 4.409419500308986, 50.414131596748156))
2021-02-01 14:46:51,666 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:51,668 INFO sqlalchemy.engine.base.Engine ('F33',)
2021-02-01 14:46:51,672 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,673 INFO sqlalchemy.engine.base.Engine ((800, 'F33', 0, 'Anhydrite', 1600, 1601), (801, 'F33', 1, 'Sandstone, grey, vf-f', 1602, 1603), (802, 'F33', 2, 'Anhydrite', 1604, 1605), (803, 'F33', 3, 'Dolomite', 1606, 1607), (804, 'F33', 4, 'Anhydrite', 1608, 1609), (805, 'F33', 5, 'Sandstone, grey, vf-f', 1610, 1611), (806, 'F33', 6, 'Siltstone, red', 1612, 1613), (807, 'F33', 7, 'Dolomite', 1614, 1615)  ... displaying 10 of 25 total bound parameter sets ...  (823, 'F33', 23, 'Limestone', 1646, 1647), (824, 'F33', 24, 'Volcanic', 1648, 1649))
2021-02-01 14:46:51,675 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:51,680 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:51,681 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:51,682 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:51,685 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:51,686 INFO sqlalchemy.engine.base.Engine ('F33',)
2021-02-01 14:46:51,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,689 INFO sqlalchemy.engine.base.Engine (1600,)
2021-02-01 14:46:51,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,691 INFO sqlalchemy.engine.base.Engine (1601,)
2021-02-01 14:46:51,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,694 INFO sqlalchemy.engine.base.Engine (1602,)
2021-02-01 14:46:51,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,697 INFO sqlalchemy.engine.base.Engine (1603,)
2021-02-01 14:46:51,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,700 INFO sqlalchemy.engine.base.Engine (1604,)
2021-02-01 14:46:51,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,702 INFO sqlalchemy.engine.base.Engine (1605,)

2021-02-01 14:46:51,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,705 INFO sqlalchemy.engine.base.Engine (1606,)
2021-02-01 14:46:51,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,708 INFO sqlalchemy.engine.base.Engine (1607,)
2021-02-01 14:46:51,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,710 INFO sqlalchemy.engine.base.Engine (1608,)
2021-02-01 14:46:51,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,712 INFO sqlalchemy.engine.base.Engine (1609,)
2021-02-01 14:46:51,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,718 INFO sqlalchemy.engine.base.Engine (1610,)
2021-02-01 14:46:51,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,722 INFO sqlalchemy.engine.base.Engine (1611,)
2021-02-01 14:46:51,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,728 INFO sqlalchemy.engine.base.Engine (1612,)
2021-02-01 14:46:51,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,730 INFO sqlalchemy.engine.base.Engine (1613,)
2021-02-01 14:46:51,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,734 INFO sqlalchemy.engine.base.Engine (1614,)
2021-02-01 14:46:51,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,736 INFO sqlalchemy.engine.base.Engine (1615,)
2021-02-01 14:46:51,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,742 INFO sqlalchemy.engine.base.Engine (1616,)
2021-02-01 14:46:51,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,745 INFO sqlalchemy.engine.base.Engine (1617,)
2021-02-01 14:46:51,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,750 INFO sqlalchemy.engine.base.Engine (1618,)
2021-02-01 14:46:51,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,753 INFO sqlalchemy.engine.base.Engine (1619,)
2021-02-01 14:46:51,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,758 INFO sqlalchemy.engine.base.Engine (1620,)
2021-02-01 14:46:51,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,761 INFO sqlalchemy.engine.base.Engine (1621,)
2021-02-01 14:46:51,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,766 INFO sqlalchemy.engine.base.Engine (1622,)
2021-02-01 14:46:51,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,768 INFO sqlalchemy.engine.base.Engine (1623,)
2021-02-01 14:46:51,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,772 INFO sqlalchemy.engine.base.Engine (1624,)
2021-02-01 14:46:51,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,774 INFO sqlalchemy.engine.base.Engine (1625,)
2021-02-01 14:46:51,777 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,778 INFO sqlalchemy.engine.base.Engine (1626,)
2021-02-01 14:46:51,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,781 INFO sqlalchemy.engine.base.Engine (1627,)
2021-02-01 14:46:51,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,787 INFO sqlalchemy.engine.base.Engine (1628,)
2021-02-01 14:46:51,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,789 INFO sqlalchemy.engine.base.Engine (1629,)
2021-02-01 14:46:51,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,791 INFO sqlalchemy.engine.base.Engine (1630,)
2021-02-01 14:46:51,793 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,794 INFO sqlalchemy.engine.base.Engine (1631,)
2021-02-01 14:46:51,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,798 INFO sqlalchemy.engine.base.Engine (1632,)
2021-02-01 14:46:51,799 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,800 INFO sqlalchemy.engine.base.Engine (1633,)
2021-02-01 14:46:51,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,805 INFO sqlalchemy.engine.base.Engine (1634,)
2021-02-01 14:46:51,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,808 INFO sqlalchemy.engine.base.Engine (1635,)
2021-02-01 14:46:51,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,812 INFO sqlalchemy.engine.base.Engine (1636,)
2021-02-01 14:46:51,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,814 INFO sqlalchemy.engine.base.Engine (1637,)
2021-02-01 14:46:51,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,819 INFO sqlalchemy.engine.base.Engine (1638,)
2021-02-01 14:46:51,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,821 INFO sqlalchemy.engine.base.Engine (1639,)
2021-02-01 14:46:51,824 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,825 INFO sqlalchemy.engine.base.Engine (1640,)
2021-02-01 14:46:51,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,827 INFO sqlalchemy.engine.base.Engine (1641,)
2021-02-01 14:46:51,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,831 INFO sqlalchemy.engine.base.Engine (1642,)
2021-02-01 14:46:51,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,833 INFO sqlalchemy.engine.base.Engine (1643,)
2021-02-01 14:46:51,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,836 INFO sqlalchemy.engine.base.Engine (1644,)
2021-02-01 14:46:51,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,839 INFO sqlalchemy.engine.base.Engine (1645,)
2021-02-01 14:46:51,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,842 INFO sqlalchemy.engine.base.Engine (1646,)
2021-02-01 14:46:51,844 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:51,844 INFO sqlalchemy.engine.base.Engine (1647,)
2021-02-01 14:46:51,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,849 INFO sqlalchemy.engine.base.Engine (1648,)
2021-02-01 14:46:51,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,852 INFO sqlalchemy.engine.base.Engine (1649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:51,902 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:51,903 INFO sqlalchemy.engine.base.Engine ('F34',)
2021-02-01 14:46:51,906 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,907 INFO sqlalchemy.engine.base.Engine ((1650, 14.3, 14.3, 14.3, 4.409448480115737, 50.41421256476646), (1651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409448480115737, 50.41421256476646), (1652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409448480115737, 50.41421256476646), (1653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409448480115737, 50.41421256476646), (1654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409448480115737, 50.41421256476646), (1655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409448480115737, 50.41421256476646), (1656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409448480115737, 50.41421256476646), (1657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409448480115737, 50.41421256476646)  ... displaying 10 of 50 total bound parameter sets ...  (1698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409448480115737, 50.41421256476646), (1699, 135.9, 135.9, 135.9, 4.409448480115737, 50.41421256476646))
2021-02-01 14:46:51,910 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:51,911 INFO sqlalchemy.engine.base.Engine ((825, 'F34', 0, 'Anhydrite', 1650, 1651), (826, 'F34', 1, 'Sandstone, grey, vf-f', 1652, 1653), (827, 'F34', 2, 'Anhydrite', 1654, 1655), (828, 'F34', 3, 'Dolomite', 1656, 1657), (829, 'F34', 4, 'Anhydrite', 1658, 1659), (830, 'F34', 5, 'Sandstone, grey, vf-f', 1660, 1661), (831, 'F34', 6, 'Siltstone, red', 1662, 1663), (832, 'F34', 7, 'Dolomite', 1664, 1665)  ... displaying 10 of 25 total bound parameter sets ...  (848, 'F34', 23, 'Limestone', 1696, 1697), (849, 'F34', 24, 'Volcanic', 1698, 1699))
2021-02-01 14:46:51,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:51,920 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:51,920 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:51,921 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:51,925 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:51,926 INFO sqlalchemy.engine.base.Engine ('F34',)
2021-02-01 14:46:51,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,930 INFO sqlalchemy.engine.base.Engine (1650,)
2021-02-01 14:46:51,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,933 INFO sqlalchemy.engine.base.Engine (1651,)
2021-02-01 14:46:51,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,938 INFO sqlalchemy.engine.base.Engine (1652,)
2021-02-01 14:46:51,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,941 INFO sqlalchemy.engine.base.Engine (1653,)
2021-02-01 14:46:51,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,946 INFO sqlalchemy.engine.base.Engine (1654,)
2021-02-01 14:46:51,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,948 INFO sqlalchemy.engine.base.Engine (1655,)
2021-02-01 14:46:51,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,951 INFO sqlalchemy.engine.base.Engine (1656,)
2021-02-01 14:46:51,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,954 INFO sqlalchemy.engine.base.Engine (1657,)
2021-02-01 14:46:51,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,959 INFO sqlalchemy.engine.base.Engine (1658,)
2021-02-01 14:46:51,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,961 INFO sqlalchemy.engine.base.Engine (1659,)
2021-02-01 14:46:51,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,966 INFO sqlalchemy.engine.base.Engine (1660,)

2021-02-01 14:46:51,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,968 INFO sqlalchemy.engine.base.Engine (1661,)
2021-02-01 14:46:51,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,971 INFO sqlalchemy.engine.base.Engine (1662,)
2021-02-01 14:46:51,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,972 INFO sqlalchemy.engine.base.Engine (1663,)
2021-02-01 14:46:51,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,976 INFO sqlalchemy.engine.base.Engine (1664,)
2021-02-01 14:46:51,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,978 INFO sqlalchemy.engine.base.Engine (1665,)
2021-02-01 14:46:51,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,982 INFO sqlalchemy.engine.base.Engine (1666,)
2021-02-01 14:46:51,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,984 INFO sqlalchemy.engine.base.Engine (1667,)
2021-02-01 14:46:51,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,988 INFO sqlalchemy.engine.base.Engine (1668,)
2021-02-01 14:46:51,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,991 INFO sqlalchemy.engine.base.Engine (1669,)
2021-02-01 14:46:51,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,995 INFO sqlalchemy.engine.base.Engine (1670,)
2021-02-01 14:46:51,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:51,998 INFO sqlalchemy.engine.base.Engine (1671,)
2021-02-01 14:46:52,000 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,001 INFO sqlalchemy.engine.base.Engine (1672,)
2021-02-01 14:46:52,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,003 INFO sqlalchemy.engine.base.Engine (1673,)
2021-02-01 14:46:52,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,009 INFO sqlalchemy.engine.base.Engine (1674,)
2021-02-01 14:46:52,010 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,011 INFO sqlalchemy.engine.base.Engine (1675,)
2021-02-01 14:46:52,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,014 INFO sqlalchemy.engine.base.Engine (1676,)
2021-02-01 14:46:52,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,016 INFO sqlalchemy.engine.base.Engine (1677,)
2021-02-01 14:46:52,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,020 INFO sqlalchemy.engine.base.Engine (1678,)
2021-02-01 14:46:52,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,023 INFO sqlalchemy.engine.base.Engine (1679,)
2021-02-01 14:46:52,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,027 INFO sqlalchemy.engine.base.Engine (1680,)
2021-02-01 14:46:52,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,030 INFO sqlalchemy.engine.base.Engine (1681,)
2021-02-01 14:46:52,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,035 INFO sqlalchemy.engine.base.Engine (1682,)
2021-02-01 14:46:52,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,038 INFO sqlalchemy.engine.base.Engine (1683,)
2021-02-01 14:46:52,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,043 INFO sqlalchemy.engine.base.Engine (1684,)
2021-02-01 14:46:52,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,045 INFO sqlalchemy.engine.base.Engine (1685,)
2021-02-01 14:46:52,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,051 INFO sqlalchemy.engine.base.Engine (1686,)
2021-02-01 14:46:52,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,054 INFO sqlalchemy.engine.base.Engine (1687,)
2021-02-01 14:46:52,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,057 INFO sqlalchemy.engine.base.Engine (1688,)
2021-02-01 14:46:52,058 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,059 INFO sqlalchemy.engine.base.Engine (1689,)
2021-02-01 14:46:52,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,063 INFO sqlalchemy.engine.base.Engine (1690,)
2021-02-01 14:46:52,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,065 INFO sqlalchemy.engine.base.Engine (1691,)
2021-02-01 14:46:52,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,068 INFO sqlalchemy.engine.base.Engine (1692,)
2021-02-01 14:46:52,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,069 INFO sqlalchemy.engine.base.Engine (1693,)
2021-02-01 14:46:52,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,074 INFO sqlalchemy.engine.base.Engine (1694,)
2021-02-01 14:46:52,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,076 INFO sqlalchemy.engine.base.Engine (1695,)
2021-02-01 14:46:52,082 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,083 INFO sqlalchemy.engine.base.Engine (1696,)
2021-02-01 14:46:52,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,084 INFO sqlalchemy.engine.base.Engine (1697,)
2021-02-01 14:46:52,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,088 INFO sqlalchemy.engine.base.Engine (1698,)
2021-02-01 14:46:52,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,091 INFO sqlalchemy.engine.base.Engine (1699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:52,145 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:52,146 INFO sqlalchemy.engine.base.Engine ('F35',)
2021-02-01 14:46:52,148 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,149 INFO sqlalchemy.engine.base.Engine ((1700, 14.3, 14.3, 14.3, 4.409340410505695, 50.41421402367291), (1701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409340410505695, 50.41421402367291), (1702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409340410505695, 50.41421402367291), (1703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409340410505695, 50.41421402367291), (1704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409340410505695, 50.41421402367291), (1705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409340410505695, 50.41421402367291), (1706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409340410505695, 50.41421402367291), (1707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409340410505695, 50.41421402367291)  ... displaying 10 of 50 total bound parameter sets ...  (1748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409340410505695, 50.41421402367291), (1749, 135.9, 135.9, 135.9, 4.409340410505695, 50.41421402367291))

2021-02-01 14:46:52,151 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,151 INFO sqlalchemy.engine.base.Engine ((850, 'F35', 0, 'Anhydrite', 1700, 1701), (851, 'F35', 1, 'Sandstone, grey, vf-f', 1702, 1703), (852, 'F35', 2, 'Anhydrite', 1704, 1705), (853, 'F35', 3, 'Dolomite', 1706, 1707), (854, 'F35', 4, 'Anhydrite', 1708, 1709), (855, 'F35', 5, 'Sandstone, grey, vf-f', 1710, 1711), (856, 'F35', 6, 'Siltstone, red', 1712, 1713), (857, 'F35', 7, 'Dolomite', 1714, 1715)  ... displaying 10 of 25 total bound parameter sets ...  (873, 'F35', 23, 'Limestone', 1746, 1747), (874, 'F35', 24, 'Volcanic', 1748, 1749))
2021-02-01 14:46:52,153 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:52,158 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:52,159 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:52,160 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:52,162 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:52,163 INFO sqlalchemy.engine.base.Engine ('F35',)
2021-02-01 14:46:52,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,166 INFO sqlalchemy.engine.base.Engine (1700,)
2021-02-01 14:46:52,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,168 INFO sqlalchemy.engine.base.Engine (1701,)
2021-02-01 14:46:52,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,173 INFO sqlalchemy.engine.base.Engine (1702,)
2021-02-01 14:46:52,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,175 INFO sqlalchemy.engine.base.Engine (1703,)
2021-02-01 14:46:52,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,180 INFO sqlalchemy.engine.base.Engine (1704,)
2021-02-01 14:46:52,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,182 INFO sqlalchemy.engine.base.Engine (1705,)
2021-02-01 14:46:52,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,188 INFO sqlalchemy.engine.base.Engine (1706,)
2021-02-01 14:46:52,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,191 INFO sqlalchemy.engine.base.Engine (1707,)
2021-02-01 14:46:52,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,195 INFO sqlalchemy.engine.base.Engine (1708,)
2021-02-01 14:46:52,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,198 INFO sqlalchemy.engine.base.Engine (1709,)
2021-02-01 14:46:52,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,201 INFO sqlalchemy.engine.base.Engine (1710,)
2021-02-01 14:46:52,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,204 INFO sqlalchemy.engine.base.Engine (1711,)
2021-02-01 14:46:52,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,207 INFO sqlalchemy.engine.base.Engine (1712,)
2021-02-01 14:46:52,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,211 INFO sqlalchemy.engine.base.Engine (1713,)
2021-02-01 14:46:52,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,217 INFO sqlalchemy.engine.base.Engine (1714,)
2021-02-01 14:46:52,218 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,219 INFO sqlalchemy.engine.base.Engine (1715,)
2021-02-01 14:46:52,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,222 INFO sqlalchemy.engine.base.Engine (1716,)

2021-02-01 14:46:52,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,224 INFO sqlalchemy.engine.base.Engine (1717,)
2021-02-01 14:46:52,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,228 INFO sqlalchemy.engine.base.Engine (1718,)
2021-02-01 14:46:52,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,231 INFO sqlalchemy.engine.base.Engine (1719,)
2021-02-01 14:46:52,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,234 INFO sqlalchemy.engine.base.Engine (1720,)
2021-02-01 14:46:52,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,236 INFO sqlalchemy.engine.base.Engine (1721,)
2021-02-01 14:46:52,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,240 INFO sqlalchemy.engine.base.Engine (1722,)
2021-02-01 14:46:52,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,242 INFO sqlalchemy.engine.base.Engine (1723,)
2021-02-01 14:46:52,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,245 INFO sqlalchemy.engine.base.Engine (1724,)
2021-02-01 14:46:52,247 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,247 INFO sqlalchemy.engine.base.Engine (1725,)
2021-02-01 14:46:52,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,251 INFO sqlalchemy.engine.base.Engine (1726,)
2021-02-01 14:46:52,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,254 INFO sqlalchemy.engine.base.Engine (1727,)
2021-02-01 14:46:52,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,257 INFO sqlalchemy.engine.base.Engine (1728,)
2021-02-01 14:46:52,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,259 INFO sqlalchemy.engine.base.Engine (1729,)
2021-02-01 14:46:52,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,262 INFO sqlalchemy.engine.base.Engine (1730,)
2021-02-01 14:46:52,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,265 INFO sqlalchemy.engine.base.Engine (1731,)
2021-02-01 14:46:52,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,268 INFO sqlalchemy.engine.base.Engine (1732,)
2021-02-01 14:46:52,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,270 INFO sqlalchemy.engine.base.Engine (1733,)
2021-02-01 14:46:52,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,273 INFO sqlalchemy.engine.base.Engine (1734,)
2021-02-01 14:46:52,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,276 INFO sqlalchemy.engine.base.Engine (1735,)
2021-02-01 14:46:52,278 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,279 INFO sqlalchemy.engine.base.Engine (1736,)
2021-02-01 14:46:52,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,281 INFO sqlalchemy.engine.base.Engine (1737,)
2021-02-01 14:46:52,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,284 INFO sqlalchemy.engine.base.Engine (1738,)
2021-02-01 14:46:52,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,285 INFO sqlalchemy.engine.base.Engine (1739,)
2021-02-01 14:46:52,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,288 INFO sqlalchemy.engine.base.Engine (1740,)
2021-02-01 14:46:52,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,290 INFO sqlalchemy.engine.base.Engine (1741,)
2021-02-01 14:46:52,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,293 INFO sqlalchemy.engine.base.Engine (1742,)
2021-02-01 14:46:52,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,295 INFO sqlalchemy.engine.base.Engine (1743,)
2021-02-01 14:46:52,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,299 INFO sqlalchemy.engine.base.Engine (1744,)
2021-02-01 14:46:52,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,301 INFO sqlalchemy.engine.base.Engine (1745,)
2021-02-01 14:46:52,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,305 INFO sqlalchemy.engine.base.Engine (1746,)
2021-02-01 14:46:52,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,307 INFO sqlalchemy.engine.base.Engine (1747,)
2021-02-01 14:46:52,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,310 INFO sqlalchemy.engine.base.Engine (1748,)
2021-02-01 14:46:52,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,312 INFO sqlalchemy.engine.base.Engine (1749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:52,371 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,372 INFO sqlalchemy.engine.base.Engine ((1750, 14.3, 14.3, 14.3, 4.40938213358088, 50.41420456000272), (1751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.40938213358088, 50.41420456000272), (1752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.40938213358088, 50.41420456000272), (1753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.40938213358088, 50.41420456000272), (1754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.40938213358088, 50.41420456000272), (1755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.40938213358088, 50.41420456000272), (1756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.40938213358088, 50.41420456000272), (1757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.40938213358088, 50.41420456000272)  ... displaying 10 of 50 total bound parameter sets ...  (1798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.40938213358088, 50.41420456000272), (1799, 135.9, 135.9, 135.9, 4.40938213358088, 50.41420456000272))
2021-02-01 14:46:52,374 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:52,375 INFO sqlalchemy.engine.base.Engine ('F36',)
2021-02-01 14:46:52,377 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,378 INFO sqlalchemy.engine.base.Engine ((875, 'F36', 0, 'Anhydrite', 1750, 1751), (876, 'F36', 1, 'Sandstone, grey, vf-f', 1752, 1753), (877, 'F36', 2, 'Anhydrite', 1754, 1755), (878, 'F36', 3, 'Dolomite', 1756, 1757), (879, 'F36', 4, 'Anhydrite', 1758, 1759), (880, 'F36', 5, 'Sandstone, grey, vf-f', 1760, 1761), (881, 'F36', 6, 'Siltstone, red', 1762, 1763), (882, 'F36', 7, 'Dolomite', 1764, 1765)  ... displaying 10 of 25 total bound parameter sets ...  (898, 'F36', 23, 'Limestone', 1796, 1797), (899, 'F36', 24, 'Volcanic', 1798, 1799))
2021-02-01 14:46:52,380 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:52,386 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:52,387 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:52,388 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:52,389 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:52,390 INFO sqlalchemy.engine.base.Engine ('F36',)
2021-02-01 14:46:52,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,392 INFO sqlalchemy.engine.base.Engine (1750,)

2021-02-01 14:46:52,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,395 INFO sqlalchemy.engine.base.Engine (1751,)
2021-02-01 14:46:52,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,399 INFO sqlalchemy.engine.base.Engine (1752,)
2021-02-01 14:46:52,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,402 INFO sqlalchemy.engine.base.Engine (1753,)
2021-02-01 14:46:52,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,406 INFO sqlalchemy.engine.base.Engine (1754,)
2021-02-01 14:46:52,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,408 INFO sqlalchemy.engine.base.Engine (1755,)
2021-02-01 14:46:52,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,413 INFO sqlalchemy.engine.base.Engine (1756,)
2021-02-01 14:46:52,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,415 INFO sqlalchemy.engine.base.Engine (1757,)
2021-02-01 14:46:52,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,418 INFO sqlalchemy.engine.base.Engine (1758,)
2021-02-01 14:46:52,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,421 INFO sqlalchemy.engine.base.Engine (1759,)
2021-02-01 14:46:52,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,424 INFO sqlalchemy.engine.base.Engine (1760,)
2021-02-01 14:46:52,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,426 INFO sqlalchemy.engine.base.Engine (1761,)
2021-02-01 14:46:52,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,431 INFO sqlalchemy.engine.base.Engine (1762,)
2021-02-01 14:46:52,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,434 INFO sqlalchemy.engine.base.Engine (1763,)
2021-02-01 14:46:52,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,437 INFO sqlalchemy.engine.base.Engine (1764,)
2021-02-01 14:46:52,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,440 INFO sqlalchemy.engine.base.Engine (1765,)
2021-02-01 14:46:52,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,445 INFO sqlalchemy.engine.base.Engine (1766,)
2021-02-01 14:46:52,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,448 INFO sqlalchemy.engine.base.Engine (1767,)
2021-02-01 14:46:52,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,453 INFO sqlalchemy.engine.base.Engine (1768,)
2021-02-01 14:46:52,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,456 INFO sqlalchemy.engine.base.Engine (1769,)
2021-02-01 14:46:52,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,461 INFO sqlalchemy.engine.base.Engine (1770,)
2021-02-01 14:46:52,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,463 INFO sqlalchemy.engine.base.Engine (1771,)
2021-02-01 14:46:52,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,468 INFO sqlalchemy.engine.base.Engine (1772,)
2021-02-01 14:46:52,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,469 INFO sqlalchemy.engine.base.Engine (1773,)
2021-02-01 14:46:52,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,472 INFO sqlalchemy.engine.base.Engine (1774,)
2021-02-01 14:46:52,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,474 INFO sqlalchemy.engine.base.Engine (1775,)
2021-02-01 14:46:52,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,477 INFO sqlalchemy.engine.base.Engine (1776,)
2021-02-01 14:46:52,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,479 INFO sqlalchemy.engine.base.Engine (1777,)
2021-02-01 14:46:52,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,482 INFO sqlalchemy.engine.base.Engine (1778,)
2021-02-01 14:46:52,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,484 INFO sqlalchemy.engine.base.Engine (1779,)
2021-02-01 14:46:52,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,487 INFO sqlalchemy.engine.base.Engine (1780,)
2021-02-01 14:46:52,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,489 INFO sqlalchemy.engine.base.Engine (1781,)
2021-02-01 14:46:52,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,492 INFO sqlalchemy.engine.base.Engine (1782,)
2021-02-01 14:46:52,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,493 INFO sqlalchemy.engine.base.Engine (1783,)
2021-02-01 14:46:52,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,497 INFO sqlalchemy.engine.base.Engine (1784,)
2021-02-01 14:46:52,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,500 INFO sqlalchemy.engine.base.Engine (1785,)
2021-02-01 14:46:52,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,504 INFO sqlalchemy.engine.base.Engine (1786,)
2021-02-01 14:46:52,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,506 INFO sqlalchemy.engine.base.Engine (1787,)
2021-02-01 14:46:52,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,511 INFO sqlalchemy.engine.base.Engine (1788,)
2021-02-01 14:46:52,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,515 INFO sqlalchemy.engine.base.Engine (1789,)
2021-02-01 14:46:52,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,519 INFO sqlalchemy.engine.base.Engine (1790,)
2021-02-01 14:46:52,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,521 INFO sqlalchemy.engine.base.Engine (1791,)
2021-02-01 14:46:52,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,523 INFO sqlalchemy.engine.base.Engine (1792,)
2021-02-01 14:46:52,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,525 INFO sqlalchemy.engine.base.Engine (1793,)
2021-02-01 14:46:52,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,528 INFO sqlalchemy.engine.base.Engine (1794,)
2021-02-01 14:46:52,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,530 INFO sqlalchemy.engine.base.Engine (1795,)
2021-02-01 14:46:52,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,534 INFO sqlalchemy.engine.base.Engine (1796,)
2021-02-01 14:46:52,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,537 INFO sqlalchemy.engine.base.Engine (1797,)
2021-02-01 14:46:52,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,542 INFO sqlalchemy.engine.base.Engine (1798,)
2021-02-01 14:46:52,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,544 INFO sqlalchemy.engine.base.Engine (1799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:52,597 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:52,599 INFO sqlalchemy.engine.base.Engine ('F37',)
2021-02-01 14:46:52,601 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,602 INFO sqlalchemy.engine.base.Engine ((1800, 14.3, 14.3, 14.3, 4.409413946802512, 50.41422207085424), (1801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409413946802512, 50.41422207085424), (1802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409413946802512, 50.41422207085424), (1803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409413946802512, 50.41422207085424), (1804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409413946802512, 50.41422207085424), (1805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409413946802512, 50.41422207085424), (1806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409413946802512, 50.41422207085424), (1807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409413946802512, 50.41422207085424)  ... displaying 10 of 50 total bound parameter sets ...  (1848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409413946802512, 50.41422207085424), (1849, 135.9, 135.9, 135.9, 4.409413946802512, 50.41422207085424))
2021-02-01 14:46:52,605 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,606 INFO sqlalchemy.engine.base.Engine ((900, 'F37', 0, 'Anhydrite', 1800, 1801), (901, 'F37', 1, 'Sandstone, grey, vf-f', 1802, 1803), (902, 'F37', 2, 'Anhydrite', 1804, 1805), (903, 'F37', 3, 'Dolomite', 1806, 1807), (904, 'F37', 4, 'Anhydrite', 1808, 1809), (905, 'F37', 5, 'Sandstone, grey, vf-f', 1810, 1811), (906, 'F37', 6, 'Siltstone, red', 1812, 1813), (907, 'F37', 7, 'Dolomite', 1814, 1815)  ... displaying 10 of 25 total bound parameter sets ...  (923, 'F37', 23, 'Limestone', 1846, 1847), (924, 'F37', 24, 'Volcanic', 1848, 1849))
2021-02-01 14:46:52,609 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:52,616 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:52,617 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:52,617 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:52,620 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:52,620 INFO sqlalchemy.engine.base.Engine ('F37',)
2021-02-01 14:46:52,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,623 INFO sqlalchemy.engine.base.Engine (1800,)
2021-02-01 14:46:52,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,625 INFO sqlalchemy.engine.base.Engine (1801,)
2021-02-01 14:46:52,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,628 INFO sqlalchemy.engine.base.Engine (1802,)
2021-02-01 14:46:52,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,630 INFO sqlalchemy.engine.base.Engine (1803,)
2021-02-01 14:46:52,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,634 INFO sqlalchemy.engine.base.Engine (1804,)
2021-02-01 14:46:52,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,636 INFO sqlalchemy.engine.base.Engine (1805,)

2021-02-01 14:46:52,639 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,640 INFO sqlalchemy.engine.base.Engine (1806,)
2021-02-01 14:46:52,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,642 INFO sqlalchemy.engine.base.Engine (1807,)
2021-02-01 14:46:52,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,646 INFO sqlalchemy.engine.base.Engine (1808,)
2021-02-01 14:46:52,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,649 INFO sqlalchemy.engine.base.Engine (1809,)
2021-02-01 14:46:52,654 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,655 INFO sqlalchemy.engine.base.Engine (1810,)
2021-02-01 14:46:52,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,658 INFO sqlalchemy.engine.base.Engine (1811,)
2021-02-01 14:46:52,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,663 INFO sqlalchemy.engine.base.Engine (1812,)
2021-02-01 14:46:52,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,665 INFO sqlalchemy.engine.base.Engine (1813,)
2021-02-01 14:46:52,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,669 INFO sqlalchemy.engine.base.Engine (1814,)
2021-02-01 14:46:52,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,672 INFO sqlalchemy.engine.base.Engine (1815,)
2021-02-01 14:46:52,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,677 INFO sqlalchemy.engine.base.Engine (1816,)
2021-02-01 14:46:52,677 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,678 INFO sqlalchemy.engine.base.Engine (1817,)
2021-02-01 14:46:52,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,683 INFO sqlalchemy.engine.base.Engine (1818,)
2021-02-01 14:46:52,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,685 INFO sqlalchemy.engine.base.Engine (1819,)
2021-02-01 14:46:52,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,688 INFO sqlalchemy.engine.base.Engine (1820,)
2021-02-01 14:46:52,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,690 INFO sqlalchemy.engine.base.Engine (1821,)
2021-02-01 14:46:52,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,695 INFO sqlalchemy.engine.base.Engine (1822,)
2021-02-01 14:46:52,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,697 INFO sqlalchemy.engine.base.Engine (1823,)
2021-02-01 14:46:52,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,701 INFO sqlalchemy.engine.base.Engine (1824,)
2021-02-01 14:46:52,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,704 INFO sqlalchemy.engine.base.Engine (1825,)
2021-02-01 14:46:52,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,707 INFO sqlalchemy.engine.base.Engine (1826,)
2021-02-01 14:46:52,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,709 INFO sqlalchemy.engine.base.Engine (1827,)
2021-02-01 14:46:52,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,714 INFO sqlalchemy.engine.base.Engine (1828,)
2021-02-01 14:46:52,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,717 INFO sqlalchemy.engine.base.Engine (1829,)
2021-02-01 14:46:52,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,722 INFO sqlalchemy.engine.base.Engine (1830,)
2021-02-01 14:46:52,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,725 INFO sqlalchemy.engine.base.Engine (1831,)
2021-02-01 14:46:52,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,730 INFO sqlalchemy.engine.base.Engine (1832,)
2021-02-01 14:46:52,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,733 INFO sqlalchemy.engine.base.Engine (1833,)
2021-02-01 14:46:52,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,735 INFO sqlalchemy.engine.base.Engine (1834,)
2021-02-01 14:46:52,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,739 INFO sqlalchemy.engine.base.Engine (1835,)
2021-02-01 14:46:52,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,744 INFO sqlalchemy.engine.base.Engine (1836,)
2021-02-01 14:46:52,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,748 INFO sqlalchemy.engine.base.Engine (1837,)
2021-02-01 14:46:52,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,754 INFO sqlalchemy.engine.base.Engine (1838,)
2021-02-01 14:46:52,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,756 INFO sqlalchemy.engine.base.Engine (1839,)
2021-02-01 14:46:52,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,761 INFO sqlalchemy.engine.base.Engine (1840,)
2021-02-01 14:46:52,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,763 INFO sqlalchemy.engine.base.Engine (1841,)
2021-02-01 14:46:52,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,769 INFO sqlalchemy.engine.base.Engine (1842,)
2021-02-01 14:46:52,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,771 INFO sqlalchemy.engine.base.Engine (1843,)
2021-02-01 14:46:52,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,776 INFO sqlalchemy.engine.base.Engine (1844,)
2021-02-01 14:46:52,777 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,778 INFO sqlalchemy.engine.base.Engine (1845,)
2021-02-01 14:46:52,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,783 INFO sqlalchemy.engine.base.Engine (1846,)
2021-02-01 14:46:52,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,786 INFO sqlalchemy.engine.base.Engine (1847,)
2021-02-01 14:46:52,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,790 INFO sqlalchemy.engine.base.Engine (1848,)
2021-02-01 14:46:52,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,792 INFO sqlalchemy.engine.base.Engine (1849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:52,848 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,849 INFO sqlalchemy.engine.base.Engine ((1850, 14.3, 14.3, 14.3, 4.409381615052835, 50.41427155617655), (1851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409381615052835, 50.41427155617655), (1852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409381615052835, 50.41427155617655), (1853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409381615052835, 50.41427155617655), (1854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409381615052835, 50.41427155617655), (1855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409381615052835, 50.41427155617655), (1856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409381615052835, 50.41427155617655), (1857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409381615052835, 50.41427155617655)  ... displaying 10 of 50 total bound parameter sets ...  (1898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409381615052835, 50.41427155617655), (1899, 135.9, 135.9, 135.9, 4.409381615052835, 50.41427155617655))
2021-02-01 14:46:52,851 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:52,852 INFO sqlalchemy.engine.base.Engine ('F38',)
2021-02-01 14:46:52,856 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:52,857 INFO sqlalchemy.engine.base.Engine ((925, 'F38', 0, 'Anhydrite', 1850, 1851), (926, 'F38', 1, 'Sandstone, grey, vf-f', 1852, 1853), (927, 'F38', 2, 'Anhydrite', 1854, 1855), (928, 'F38', 3, 'Dolomite', 1856, 1857), (929, 'F38', 4, 'Anhydrite', 1858, 1859), (930, 'F38', 5, 'Sandstone, grey, vf-f', 1860, 1861), (931, 'F38', 6, 'Siltstone, red', 1862, 1863), (932, 'F38', 7, 'Dolomite', 1864, 1865)  ... displaying 10 of 25 total bound parameter sets ...  (948, 'F38', 23, 'Limestone', 1896, 1897), (949, 'F38', 24, 'Volcanic', 1898, 1899))
2021-02-01 14:46:52,860 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:52,867 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:52,868 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:52,869 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:52,872 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:52,873 INFO sqlalchemy.engine.base.Engine ('F38',)
2021-02-01 14:46:52,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,876 INFO sqlalchemy.engine.base.Engine (1850,)
2021-02-01 14:46:52,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,880 INFO sqlalchemy.engine.base.Engine (1851,)
2021-02-01 14:46:52,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,883 INFO sqlalchemy.engine.base.Engine (1852,)
2021-02-01 14:46:52,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,886 INFO sqlalchemy.engine.base.Engine (1853,)
2021-02-01 14:46:52,889 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,890 INFO sqlalchemy.engine.base.Engine (1854,)
2021-02-01 14:46:52,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,892 INFO sqlalchemy.engine.base.Engine (1855,)
2021-02-01 14:46:52,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,896 INFO sqlalchemy.engine.base.Engine (1856,)
2021-02-01 14:46:52,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,899 INFO sqlalchemy.engine.base.Engine (1857,)
2021-02-01 14:46:52,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,903 INFO sqlalchemy.engine.base.Engine (1858,)
2021-02-01 14:46:52,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,905 INFO sqlalchemy.engine.base.Engine (1859,)
2021-02-01 14:46:52,907 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,908 INFO sqlalchemy.engine.base.Engine (1860,)

2021-02-01 14:46:52,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,910 INFO sqlalchemy.engine.base.Engine (1861,)
2021-02-01 14:46:52,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,915 INFO sqlalchemy.engine.base.Engine (1862,)
2021-02-01 14:46:52,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,917 INFO sqlalchemy.engine.base.Engine (1863,)
2021-02-01 14:46:52,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,923 INFO sqlalchemy.engine.base.Engine (1864,)
2021-02-01 14:46:52,924 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,925 INFO sqlalchemy.engine.base.Engine (1865,)
2021-02-01 14:46:52,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,930 INFO sqlalchemy.engine.base.Engine (1866,)
2021-02-01 14:46:52,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,932 INFO sqlalchemy.engine.base.Engine (1867,)
2021-02-01 14:46:52,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,936 INFO sqlalchemy.engine.base.Engine (1868,)
2021-02-01 14:46:52,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,938 INFO sqlalchemy.engine.base.Engine (1869,)
2021-02-01 14:46:52,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,942 INFO sqlalchemy.engine.base.Engine (1870,)
2021-02-01 14:46:52,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,944 INFO sqlalchemy.engine.base.Engine (1871,)
2021-02-01 14:46:52,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,947 INFO sqlalchemy.engine.base.Engine (1872,)
2021-02-01 14:46:52,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,950 INFO sqlalchemy.engine.base.Engine (1873,)
2021-02-01 14:46:52,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,953 INFO sqlalchemy.engine.base.Engine (1874,)
2021-02-01 14:46:52,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,955 INFO sqlalchemy.engine.base.Engine (1875,)
2021-02-01 14:46:52,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,960 INFO sqlalchemy.engine.base.Engine (1876,)
2021-02-01 14:46:52,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,963 INFO sqlalchemy.engine.base.Engine (1877,)
2021-02-01 14:46:52,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,968 INFO sqlalchemy.engine.base.Engine (1878,)
2021-02-01 14:46:52,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,971 INFO sqlalchemy.engine.base.Engine (1879,)
2021-02-01 14:46:52,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,973 INFO sqlalchemy.engine.base.Engine (1880,)
2021-02-01 14:46:52,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:52,976 INFO sqlalchemy.engine.base.Engine (1881,)
2021-02-01 14:46:52,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,981 INFO sqlalchemy.engine.base.Engine (1882,)
2021-02-01 14:46:52,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,984 INFO sqlalchemy.engine.base.Engine (1883,)
2021-02-01 14:46:52,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,988 INFO sqlalchemy.engine.base.Engine (1884,)
2021-02-01 14:46:52,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,990 INFO sqlalchemy.engine.base.Engine (1885,)
2021-02-01 14:46:52,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,994 INFO sqlalchemy.engine.base.Engine (1886,)
2021-02-01 14:46:52,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,996 INFO sqlalchemy.engine.base.Engine (1887,)
2021-02-01 14:46:52,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:52,999 INFO sqlalchemy.engine.base.Engine (1888,)
2021-02-01 14:46:53,000 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,000 INFO sqlalchemy.engine.base.Engine (1889,)
2021-02-01 14:46:53,004 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,005 INFO sqlalchemy.engine.base.Engine (1890,)
2021-02-01 14:46:53,007 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,008 INFO sqlalchemy.engine.base.Engine (1891,)
2021-02-01 14:46:53,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,012 INFO sqlalchemy.engine.base.Engine (1892,)
2021-02-01 14:46:53,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,014 INFO sqlalchemy.engine.base.Engine (1893,)
2021-02-01 14:46:53,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,018 INFO sqlalchemy.engine.base.Engine (1894,)
2021-02-01 14:46:53,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,020 INFO sqlalchemy.engine.base.Engine (1895,)
2021-02-01 14:46:53,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,023 INFO sqlalchemy.engine.base.Engine (1896,)
2021-02-01 14:46:53,024 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,025 INFO sqlalchemy.engine.base.Engine (1897,)
2021-02-01 14:46:53,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,029 INFO sqlalchemy.engine.base.Engine (1898,)
2021-02-01 14:46:53,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,031 INFO sqlalchemy.engine.base.Engine (1899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:53,079 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,080 INFO sqlalchemy.engine.base.Engine ((1900, 14.3, 14.3, 14.3, 4.409424417893593, 50.414257893620096), (1901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409424417893593, 50.414257893620096), (1902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409424417893593, 50.414257893620096), (1903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409424417893593, 50.414257893620096), (1904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409424417893593, 50.414257893620096), (1905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409424417893593, 50.414257893620096), (1906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409424417893593, 50.414257893620096), (1907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409424417893593, 50.414257893620096)  ... displaying 10 of 50 total bound parameter sets ...  (1948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409424417893593, 50.414257893620096), (1949, 135.9, 135.9, 135.9, 4.409424417893593, 50.414257893620096))

2021-02-01 14:46:53,082 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:53,083 INFO sqlalchemy.engine.base.Engine ('F39',)
2021-02-01 14:46:53,086 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,087 INFO sqlalchemy.engine.base.Engine ((950, 'F39', 0, 'Anhydrite', 1900, 1901), (951, 'F39', 1, 'Sandstone, grey, vf-f', 1902, 1903), (952, 'F39', 2, 'Anhydrite', 1904, 1905), (953, 'F39', 3, 'Dolomite', 1906, 1907), (954, 'F39', 4, 'Anhydrite', 1908, 1909), (955, 'F39', 5, 'Sandstone, grey, vf-f', 1910, 1911), (956, 'F39', 6, 'Siltstone, red', 1912, 1913), (957, 'F39', 7, 'Dolomite', 1914, 1915)  ... displaying 10 of 25 total bound parameter sets ...  (973, 'F39', 23, 'Limestone', 1946, 1947), (974, 'F39', 24, 'Volcanic', 1948, 1949))
2021-02-01 14:46:53,088 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:53,092 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:53,093 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:53,094 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:53,096 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:53,097 INFO sqlalchemy.engine.base.Engine ('F39',)
2021-02-01 14:46:53,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,099 INFO sqlalchemy.engine.base.Engine (1900,)
2021-02-01 14:46:53,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,101 INFO sqlalchemy.engine.base.Engine (1901,)
2021-02-01 14:46:53,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,104 INFO sqlalchemy.engine.base.Engine (1902,)
2021-02-01 14:46:53,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,106 INFO sqlalchemy.engine.base.Engine (1903,)
2021-02-01 14:46:53,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,110 INFO sqlalchemy.engine.base.Engine (1904,)
2021-02-01 14:46:53,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,113 INFO sqlalchemy.engine.base.Engine (1905,)
2021-02-01 14:46:53,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,118 INFO sqlalchemy.engine.base.Engine (1906,)
2021-02-01 14:46:53,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,121 INFO sqlalchemy.engine.base.Engine (1907,)
2021-02-01 14:46:53,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,124 INFO sqlalchemy.engine.base.Engine (1908,)
2021-02-01 14:46:53,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,126 INFO sqlalchemy.engine.base.Engine (1909,)
2021-02-01 14:46:53,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,130 INFO sqlalchemy.engine.base.Engine (1910,)
2021-02-01 14:46:53,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,132 INFO sqlalchemy.engine.base.Engine (1911,)
2021-02-01 14:46:53,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,136 INFO sqlalchemy.engine.base.Engine (1912,)
2021-02-01 14:46:53,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,138 INFO sqlalchemy.engine.base.Engine (1913,)
2021-02-01 14:46:53,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,144 INFO sqlalchemy.engine.base.Engine (1914,)
2021-02-01 14:46:53,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,147 INFO sqlalchemy.engine.base.Engine (1915,)
2021-02-01 14:46:53,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,150 INFO sqlalchemy.engine.base.Engine (1916,)
2021-02-01 14:46:53,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,153 INFO sqlalchemy.engine.base.Engine (1917,)
2021-02-01 14:46:53,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,158 INFO sqlalchemy.engine.base.Engine (1918,)
2021-02-01 14:46:53,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,161 INFO sqlalchemy.engine.base.Engine (1919,)
2021-02-01 14:46:53,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,165 INFO sqlalchemy.engine.base.Engine (1920,)
2021-02-01 14:46:53,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,169 INFO sqlalchemy.engine.base.Engine (1921,)
2021-02-01 14:46:53,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,173 INFO sqlalchemy.engine.base.Engine (1922,)
2021-02-01 14:46:53,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,176 INFO sqlalchemy.engine.base.Engine (1923,)
2021-02-01 14:46:53,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,180 INFO sqlalchemy.engine.base.Engine (1924,)
2021-02-01 14:46:53,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,182 INFO sqlalchemy.engine.base.Engine (1925,)
2021-02-01 14:46:53,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,186 INFO sqlalchemy.engine.base.Engine (1926,)
2021-02-01 14:46:53,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,189 INFO sqlalchemy.engine.base.Engine (1927,)
2021-02-01 14:46:53,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,193 INFO sqlalchemy.engine.base.Engine (1928,)
2021-02-01 14:46:53,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,196 INFO sqlalchemy.engine.base.Engine (1929,)
2021-02-01 14:46:53,199 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,200 INFO sqlalchemy.engine.base.Engine (1930,)
2021-02-01 14:46:53,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,201 INFO sqlalchemy.engine.base.Engine (1931,)
2021-02-01 14:46:53,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,208 INFO sqlalchemy.engine.base.Engine (1932,)
2021-02-01 14:46:53,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,210 INFO sqlalchemy.engine.base.Engine (1933,)
2021-02-01 14:46:53,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,214 INFO sqlalchemy.engine.base.Engine (1934,)
2021-02-01 14:46:53,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,216 INFO sqlalchemy.engine.base.Engine (1935,)
2021-02-01 14:46:53,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,220 INFO sqlalchemy.engine.base.Engine (1936,)
2021-02-01 14:46:53,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,221 INFO sqlalchemy.engine.base.Engine (1937,)
2021-02-01 14:46:53,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,224 INFO sqlalchemy.engine.base.Engine (1938,)
2021-02-01 14:46:53,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,226 INFO sqlalchemy.engine.base.Engine (1939,)
2021-02-01 14:46:53,231 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,233 INFO sqlalchemy.engine.base.Engine (1940,)
2021-02-01 14:46:53,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,235 INFO sqlalchemy.engine.base.Engine (1941,)
2021-02-01 14:46:53,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,239 INFO sqlalchemy.engine.base.Engine (1942,)
2021-02-01 14:46:53,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,242 INFO sqlalchemy.engine.base.Engine (1943,)
2021-02-01 14:46:53,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,247 INFO sqlalchemy.engine.base.Engine (1944,)
2021-02-01 14:46:53,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,249 INFO sqlalchemy.engine.base.Engine (1945,)
2021-02-01 14:46:53,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,252 INFO sqlalchemy.engine.base.Engine (1946,)
2021-02-01 14:46:53,254 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,254 INFO sqlalchemy.engine.base.Engine (1947,)
2021-02-01 14:46:53,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,256 INFO sqlalchemy.engine.base.Engine (1948,)
2021-02-01 14:46:53,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,259 INFO sqlalchemy.engine.base.Engine (1949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:53,309 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,310 INFO sqlalchemy.engine.base.Engine ((1950, 14.3, 14.3, 14.3, 4.409454936195155, 50.414242527259724), (1951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409454936195155, 50.414242527259724), (1952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409454936195155, 50.414242527259724), (1953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409454936195155, 50.414242527259724), (1954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409454936195155, 50.414242527259724), (1955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409454936195155, 50.414242527259724), (1956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409454936195155, 50.414242527259724), (1957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409454936195155, 50.414242527259724)  ... displaying 10 of 50 total bound parameter sets ...  (1998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409454936195155, 50.414242527259724), (1999, 135.9, 135.9, 135.9, 4.409454936195155, 50.414242527259724))
2021-02-01 14:46:53,312 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:53,312 INFO sqlalchemy.engine.base.Engine ('F40',)
2021-02-01 14:46:53,316 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,317 INFO sqlalchemy.engine.base.Engine ((975, 'F40', 0, 'Anhydrite', 1950, 1951), (976, 'F40', 1, 'Sandstone, grey, vf-f', 1952, 1953), (977, 'F40', 2, 'Anhydrite', 1954, 1955), (978, 'F40', 3, 'Dolomite', 1956, 1957), (979, 'F40', 4, 'Anhydrite', 1958, 1959), (980, 'F40', 5, 'Sandstone, grey, vf-f', 1960, 1961), (981, 'F40', 6, 'Siltstone, red', 1962, 1963), (982, 'F40', 7, 'Dolomite', 1964, 1965)  ... displaying 10 of 25 total bound parameter sets ...  (998, 'F40', 23, 'Limestone', 1996, 1997), (999, 'F40', 24, 'Volcanic', 1998, 1999))
2021-02-01 14:46:53,321 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:53,326 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:53,328 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:53,328 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:53,330 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:53,331 INFO sqlalchemy.engine.base.Engine ('F40',)
2021-02-01 14:46:53,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,333 INFO sqlalchemy.engine.base.Engine (1950,)

2021-02-01 14:46:53,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,335 INFO sqlalchemy.engine.base.Engine (1951,)
2021-02-01 14:46:53,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,340 INFO sqlalchemy.engine.base.Engine (1952,)
2021-02-01 14:46:53,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,343 INFO sqlalchemy.engine.base.Engine (1953,)
2021-02-01 14:46:53,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,349 INFO sqlalchemy.engine.base.Engine (1954,)
2021-02-01 14:46:53,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,352 INFO sqlalchemy.engine.base.Engine (1955,)
2021-02-01 14:46:53,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,357 INFO sqlalchemy.engine.base.Engine (1956,)
2021-02-01 14:46:53,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,360 INFO sqlalchemy.engine.base.Engine (1957,)
2021-02-01 14:46:53,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,363 INFO sqlalchemy.engine.base.Engine (1958,)
2021-02-01 14:46:53,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,365 INFO sqlalchemy.engine.base.Engine (1959,)
2021-02-01 14:46:53,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,371 INFO sqlalchemy.engine.base.Engine (1960,)
2021-02-01 14:46:53,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,374 INFO sqlalchemy.engine.base.Engine (1961,)
2021-02-01 14:46:53,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,380 INFO sqlalchemy.engine.base.Engine (1962,)
2021-02-01 14:46:53,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,383 INFO sqlalchemy.engine.base.Engine (1963,)
2021-02-01 14:46:53,385 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,387 INFO sqlalchemy.engine.base.Engine (1964,)
2021-02-01 14:46:53,389 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,390 INFO sqlalchemy.engine.base.Engine (1965,)
2021-02-01 14:46:53,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,395 INFO sqlalchemy.engine.base.Engine (1966,)
2021-02-01 14:46:53,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,398 INFO sqlalchemy.engine.base.Engine (1967,)
2021-02-01 14:46:53,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,402 INFO sqlalchemy.engine.base.Engine (1968,)
2021-02-01 14:46:53,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,406 INFO sqlalchemy.engine.base.Engine (1969,)
2021-02-01 14:46:53,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,412 INFO sqlalchemy.engine.base.Engine (1970,)
2021-02-01 14:46:53,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,414 INFO sqlalchemy.engine.base.Engine (1971,)
2021-02-01 14:46:53,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,418 INFO sqlalchemy.engine.base.Engine (1972,)
2021-02-01 14:46:53,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,419 INFO sqlalchemy.engine.base.Engine (1973,)
2021-02-01 14:46:53,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,422 INFO sqlalchemy.engine.base.Engine (1974,)
2021-02-01 14:46:53,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,423 INFO sqlalchemy.engine.base.Engine (1975,)
2021-02-01 14:46:53,426 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,427 INFO sqlalchemy.engine.base.Engine (1976,)
2021-02-01 14:46:53,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,429 INFO sqlalchemy.engine.base.Engine (1977,)
2021-02-01 14:46:53,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,432 INFO sqlalchemy.engine.base.Engine (1978,)
2021-02-01 14:46:53,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,434 INFO sqlalchemy.engine.base.Engine (1979,)
2021-02-01 14:46:53,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,439 INFO sqlalchemy.engine.base.Engine (1980,)
2021-02-01 14:46:53,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,443 INFO sqlalchemy.engine.base.Engine (1981,)
2021-02-01 14:46:53,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,446 INFO sqlalchemy.engine.base.Engine (1982,)
2021-02-01 14:46:53,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,449 INFO sqlalchemy.engine.base.Engine (1983,)
2021-02-01 14:46:53,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,453 INFO sqlalchemy.engine.base.Engine (1984,)
2021-02-01 14:46:53,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,456 INFO sqlalchemy.engine.base.Engine (1985,)
2021-02-01 14:46:53,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,460 INFO sqlalchemy.engine.base.Engine (1986,)
2021-02-01 14:46:53,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,464 INFO sqlalchemy.engine.base.Engine (1987,)
2021-02-01 14:46:53,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,469 INFO sqlalchemy.engine.base.Engine (1988,)
2021-02-01 14:46:53,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,471 INFO sqlalchemy.engine.base.Engine (1989,)
2021-02-01 14:46:53,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,473 INFO sqlalchemy.engine.base.Engine (1990,)
2021-02-01 14:46:53,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,476 INFO sqlalchemy.engine.base.Engine (1991,)
2021-02-01 14:46:53,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,481 INFO sqlalchemy.engine.base.Engine (1992,)
2021-02-01 14:46:53,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,484 INFO sqlalchemy.engine.base.Engine (1993,)
2021-02-01 14:46:53,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,488 INFO sqlalchemy.engine.base.Engine (1994,)
2021-02-01 14:46:53,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,490 INFO sqlalchemy.engine.base.Engine (1995,)
2021-02-01 14:46:53,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,495 INFO sqlalchemy.engine.base.Engine (1996,)
2021-02-01 14:46:53,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,498 INFO sqlalchemy.engine.base.Engine (1997,)
2021-02-01 14:46:53,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,502 INFO sqlalchemy.engine.base.Engine (1998,)
2021-02-01 14:46:53,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,505 INFO sqlalchemy.engine.base.Engine (1999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:53,560 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,560 INFO sqlalchemy.engine.base.Engine ((2000, 14.3, 14.3, 14.3, 4.409484404296579, 50.41423296003281), (2001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409484404296579, 50.41423296003281), (2002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409484404296579, 50.41423296003281), (2003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409484404296579, 50.41423296003281), (2004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409484404296579, 50.41423296003281), (2005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409484404296579, 50.41423296003281), (2006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409484404296579, 50.41423296003281), (2007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409484404296579, 50.41423296003281)  ... displaying 10 of 50 total bound parameter sets ...  (2048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409484404296579, 50.41423296003281), (2049, 135.9, 135.9, 135.9, 4.409484404296579, 50.41423296003281))
2021-02-01 14:46:53,562 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:53,562 INFO sqlalchemy.engine.base.Engine ('F41',)
2021-02-01 14:46:53,567 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,568 INFO sqlalchemy.engine.base.Engine ((1000, 'F41', 0, 'Anhydrite', 2000, 2001), (1001, 'F41', 1, 'Sandstone, grey, vf-f', 2002, 2003), (1002, 'F41', 2, 'Anhydrite', 2004, 2005), (1003, 'F41', 3, 'Dolomite', 2006, 2007), (1004, 'F41', 4, 'Anhydrite', 2008, 2009), (1005, 'F41', 5, 'Sandstone, grey, vf-f', 2010, 2011), (1006, 'F41', 6, 'Siltstone, red', 2012, 2013), (1007, 'F41', 7, 'Dolomite', 2014, 2015)  ... displaying 10 of 25 total bound parameter sets ...  (1023, 'F41', 23, 'Limestone', 2046, 2047), (1024, 'F41', 24, 'Volcanic', 2048, 2049))
2021-02-01 14:46:53,570 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:53,576 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:53,577 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:53,578 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:53,581 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:53,581 INFO sqlalchemy.engine.base.Engine ('F41',)
2021-02-01 14:46:53,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,585 INFO sqlalchemy.engine.base.Engine (2000,)
2021-02-01 14:46:53,588 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,589 INFO sqlalchemy.engine.base.Engine (2001,)
2021-02-01 14:46:53,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,593 INFO sqlalchemy.engine.base.Engine (2002,)
2021-02-01 14:46:53,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,595 INFO sqlalchemy.engine.base.Engine (2003,)
2021-02-01 14:46:53,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,600 INFO sqlalchemy.engine.base.Engine (2004,)
2021-02-01 14:46:53,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,603 INFO sqlalchemy.engine.base.Engine (2005,)

2021-02-01 14:46:53,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,607 INFO sqlalchemy.engine.base.Engine (2006,)
2021-02-01 14:46:53,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,609 INFO sqlalchemy.engine.base.Engine (2007,)
2021-02-01 14:46:53,614 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,615 INFO sqlalchemy.engine.base.Engine (2008,)
2021-02-01 14:46:53,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,617 INFO sqlalchemy.engine.base.Engine (2009,)
2021-02-01 14:46:53,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,620 INFO sqlalchemy.engine.base.Engine (2010,)
2021-02-01 14:46:53,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,621 INFO sqlalchemy.engine.base.Engine (2011,)
2021-02-01 14:46:53,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,626 INFO sqlalchemy.engine.base.Engine (2012,)
2021-02-01 14:46:53,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,629 INFO sqlalchemy.engine.base.Engine (2013,)
2021-02-01 14:46:53,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,634 INFO sqlalchemy.engine.base.Engine (2014,)
2021-02-01 14:46:53,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,637 INFO sqlalchemy.engine.base.Engine (2015,)
2021-02-01 14:46:53,639 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,641 INFO sqlalchemy.engine.base.Engine (2016,)
2021-02-01 14:46:53,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,643 INFO sqlalchemy.engine.base.Engine (2017,)
2021-02-01 14:46:53,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,648 INFO sqlalchemy.engine.base.Engine (2018,)
2021-02-01 14:46:53,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,651 INFO sqlalchemy.engine.base.Engine (2019,)
2021-02-01 14:46:53,654 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,655 INFO sqlalchemy.engine.base.Engine (2020,)
2021-02-01 14:46:53,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,657 INFO sqlalchemy.engine.base.Engine (2021,)
2021-02-01 14:46:53,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,663 INFO sqlalchemy.engine.base.Engine (2022,)
2021-02-01 14:46:53,664 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,665 INFO sqlalchemy.engine.base.Engine (2023,)
2021-02-01 14:46:53,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,669 INFO sqlalchemy.engine.base.Engine (2024,)
2021-02-01 14:46:53,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,670 INFO sqlalchemy.engine.base.Engine (2025,)
2021-02-01 14:46:53,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,672 INFO sqlalchemy.engine.base.Engine (2026,)
2021-02-01 14:46:53,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,673 INFO sqlalchemy.engine.base.Engine (2027,)
2021-02-01 14:46:53,677 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,678 INFO sqlalchemy.engine.base.Engine (2028,)
2021-02-01 14:46:53,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,680 INFO sqlalchemy.engine.base.Engine (2029,)
2021-02-01 14:46:53,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,684 INFO sqlalchemy.engine.base.Engine (2030,)
2021-02-01 14:46:53,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,686 INFO sqlalchemy.engine.base.Engine (2031,)
2021-02-01 14:46:53,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,689 INFO sqlalchemy.engine.base.Engine (2032,)
2021-02-01 14:46:53,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,692 INFO sqlalchemy.engine.base.Engine (2033,)
2021-02-01 14:46:53,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,697 INFO sqlalchemy.engine.base.Engine (2034,)
2021-02-01 14:46:53,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,700 INFO sqlalchemy.engine.base.Engine (2035,)
2021-02-01 14:46:53,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,704 INFO sqlalchemy.engine.base.Engine (2036,)
2021-02-01 14:46:53,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,706 INFO sqlalchemy.engine.base.Engine (2037,)
2021-02-01 14:46:53,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,710 INFO sqlalchemy.engine.base.Engine (2038,)
2021-02-01 14:46:53,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,713 INFO sqlalchemy.engine.base.Engine (2039,)
2021-02-01 14:46:53,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,716 INFO sqlalchemy.engine.base.Engine (2040,)
2021-02-01 14:46:53,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,719 INFO sqlalchemy.engine.base.Engine (2041,)
2021-02-01 14:46:53,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,724 INFO sqlalchemy.engine.base.Engine (2042,)
2021-02-01 14:46:53,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,726 INFO sqlalchemy.engine.base.Engine (2043,)
2021-02-01 14:46:53,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,731 INFO sqlalchemy.engine.base.Engine (2044,)
2021-02-01 14:46:53,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,734 INFO sqlalchemy.engine.base.Engine (2045,)
2021-02-01 14:46:53,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,738 INFO sqlalchemy.engine.base.Engine (2046,)
2021-02-01 14:46:53,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,741 INFO sqlalchemy.engine.base.Engine (2047,)
2021-02-01 14:46:53,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,745 INFO sqlalchemy.engine.base.Engine (2048,)
2021-02-01 14:46:53,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,747 INFO sqlalchemy.engine.base.Engine (2049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:53,795 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,796 INFO sqlalchemy.engine.base.Engine ((2050, 14.3, 14.3, 14.3, 4.409382804287831, 50.41424769540008), (2051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409382804287831, 50.41424769540008), (2052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409382804287831, 50.41424769540008), (2053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409382804287831, 50.41424769540008), (2054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409382804287831, 50.41424769540008), (2055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409382804287831, 50.41424769540008), (2056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409382804287831, 50.41424769540008), (2057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409382804287831, 50.41424769540008)  ... displaying 10 of 50 total bound parameter sets ...  (2098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409382804287831, 50.41424769540008), (2099, 135.9, 135.9, 135.9, 4.409382804287831, 50.41424769540008))
2021-02-01 14:46:53,797 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:53,798 INFO sqlalchemy.engine.base.Engine ('F42',)
2021-02-01 14:46:53,800 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:53,800 INFO sqlalchemy.engine.base.Engine ((1025, 'F42', 0, 'Anhydrite', 2050, 2051), (1026, 'F42', 1, 'Sandstone, grey, vf-f', 2052, 2053), (1027, 'F42', 2, 'Anhydrite', 2054, 2055), (1028, 'F42', 3, 'Dolomite', 2056, 2057), (1029, 'F42', 4, 'Anhydrite', 2058, 2059), (1030, 'F42', 5, 'Sandstone, grey, vf-f', 2060, 2061), (1031, 'F42', 6, 'Siltstone, red', 2062, 2063), (1032, 'F42', 7, 'Dolomite', 2064, 2065)  ... displaying 10 of 25 total bound parameter sets ...  (1048, 'F42', 23, 'Limestone', 2096, 2097), (1049, 'F42', 24, 'Volcanic', 2098, 2099))
2021-02-01 14:46:53,802 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:53,807 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:53,808 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:53,810 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:53,813 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:53,813 INFO sqlalchemy.engine.base.Engine ('F42',)
2021-02-01 14:46:53,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,817 INFO sqlalchemy.engine.base.Engine (2050,)
2021-02-01 14:46:53,819 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,821 INFO sqlalchemy.engine.base.Engine (2051,)
2021-02-01 14:46:53,824 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,825 INFO sqlalchemy.engine.base.Engine (2052,)
2021-02-01 14:46:53,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,828 INFO sqlalchemy.engine.base.Engine (2053,)
2021-02-01 14:46:53,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,833 INFO sqlalchemy.engine.base.Engine (2054,)
2021-02-01 14:46:53,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,836 INFO sqlalchemy.engine.base.Engine (2055,)
2021-02-01 14:46:53,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,841 INFO sqlalchemy.engine.base.Engine (2056,)
2021-02-01 14:46:53,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,843 INFO sqlalchemy.engine.base.Engine (2057,)
2021-02-01 14:46:53,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,848 INFO sqlalchemy.engine.base.Engine (2058,)
2021-02-01 14:46:53,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,852 INFO sqlalchemy.engine.base.Engine (2059,)
2021-02-01 14:46:53,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,858 INFO sqlalchemy.engine.base.Engine (2060,)

2021-02-01 14:46:53,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,860 INFO sqlalchemy.engine.base.Engine (2061,)
2021-02-01 14:46:53,863 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,865 INFO sqlalchemy.engine.base.Engine (2062,)
2021-02-01 14:46:53,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,867 INFO sqlalchemy.engine.base.Engine (2063,)
2021-02-01 14:46:53,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,872 INFO sqlalchemy.engine.base.Engine (2064,)
2021-02-01 14:46:53,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,876 INFO sqlalchemy.engine.base.Engine (2065,)
2021-02-01 14:46:53,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,881 INFO sqlalchemy.engine.base.Engine (2066,)
2021-02-01 14:46:53,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,884 INFO sqlalchemy.engine.base.Engine (2067,)
2021-02-01 14:46:53,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,890 INFO sqlalchemy.engine.base.Engine (2068,)
2021-02-01 14:46:53,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,892 INFO sqlalchemy.engine.base.Engine (2069,)
2021-02-01 14:46:53,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,895 INFO sqlalchemy.engine.base.Engine (2070,)
2021-02-01 14:46:53,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,897 INFO sqlalchemy.engine.base.Engine (2071,)
2021-02-01 14:46:53,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,902 INFO sqlalchemy.engine.base.Engine (2072,)
2021-02-01 14:46:53,903 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,904 INFO sqlalchemy.engine.base.Engine (2073,)
2021-02-01 14:46:53,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,909 INFO sqlalchemy.engine.base.Engine (2074,)
2021-02-01 14:46:53,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,911 INFO sqlalchemy.engine.base.Engine (2075,)
2021-02-01 14:46:53,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,917 INFO sqlalchemy.engine.base.Engine (2076,)
2021-02-01 14:46:53,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,921 INFO sqlalchemy.engine.base.Engine (2077,)
2021-02-01 14:46:53,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,927 INFO sqlalchemy.engine.base.Engine (2078,)
2021-02-01 14:46:53,928 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,929 INFO sqlalchemy.engine.base.Engine (2079,)
2021-02-01 14:46:53,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,932 INFO sqlalchemy.engine.base.Engine (2080,)
2021-02-01 14:46:53,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:53,935 INFO sqlalchemy.engine.base.Engine (2081,)
2021-02-01 14:46:53,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,940 INFO sqlalchemy.engine.base.Engine (2082,)
2021-02-01 14:46:53,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,944 INFO sqlalchemy.engine.base.Engine (2083,)
2021-02-01 14:46:53,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,949 INFO sqlalchemy.engine.base.Engine (2084,)
2021-02-01 14:46:53,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,951 INFO sqlalchemy.engine.base.Engine (2085,)
2021-02-01 14:46:53,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,955 INFO sqlalchemy.engine.base.Engine (2086,)
2021-02-01 14:46:53,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,957 INFO sqlalchemy.engine.base.Engine (2087,)
2021-02-01 14:46:53,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,962 INFO sqlalchemy.engine.base.Engine (2088,)
2021-02-01 14:46:53,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,964 INFO sqlalchemy.engine.base.Engine (2089,)
2021-02-01 14:46:53,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,968 INFO sqlalchemy.engine.base.Engine (2090,)
2021-02-01 14:46:53,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,971 INFO sqlalchemy.engine.base.Engine (2091,)
2021-02-01 14:46:53,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,974 INFO sqlalchemy.engine.base.Engine (2092,)
2021-02-01 14:46:53,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,977 INFO sqlalchemy.engine.base.Engine (2093,)
2021-02-01 14:46:53,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,982 INFO sqlalchemy.engine.base.Engine (2094,)
2021-02-01 14:46:53,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,985 INFO sqlalchemy.engine.base.Engine (2095,)
2021-02-01 14:46:53,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,988 INFO sqlalchemy.engine.base.Engine (2096,)
2021-02-01 14:46:53,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,991 INFO sqlalchemy.engine.base.Engine (2097,)
2021-02-01 14:46:53,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,995 INFO sqlalchemy.engine.base.Engine (2098,)
2021-02-01 14:46:53,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:53,999 INFO sqlalchemy.engine.base.Engine (2099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:54,049 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,049 INFO sqlalchemy.engine.base.Engine ((2100, 14.3, 14.3, 14.3, 4.409426641954611, 50.414178355319066), (2101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409426641954611, 50.414178355319066), (2102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409426641954611, 50.414178355319066), (2103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409426641954611, 50.414178355319066), (2104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409426641954611, 50.414178355319066), (2105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409426641954611, 50.414178355319066), (2106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409426641954611, 50.414178355319066), (2107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409426641954611, 50.414178355319066)  ... displaying 10 of 50 total bound parameter sets ...  (2148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409426641954611, 50.414178355319066), (2149, 135.9, 135.9, 135.9, 4.409426641954611, 50.414178355319066))

2021-02-01 14:46:54,051 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:54,052 INFO sqlalchemy.engine.base.Engine ('F43',)
2021-02-01 14:46:54,057 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,057 INFO sqlalchemy.engine.base.Engine ((1050, 'F43', 0, 'Anhydrite', 2100, 2101), (1051, 'F43', 1, 'Sandstone, grey, vf-f', 2102, 2103), (1052, 'F43', 2, 'Anhydrite', 2104, 2105), (1053, 'F43', 3, 'Dolomite', 2106, 2107), (1054, 'F43', 4, 'Anhydrite', 2108, 2109), (1055, 'F43', 5, 'Sandstone, grey, vf-f', 2110, 2111), (1056, 'F43', 6, 'Siltstone, red', 2112, 2113), (1057, 'F43', 7, 'Dolomite', 2114, 2115)  ... displaying 10 of 25 total bound parameter sets ...  (1073, 'F43', 23, 'Limestone', 2146, 2147), (1074, 'F43', 24, 'Volcanic', 2148, 2149))
2021-02-01 14:46:54,059 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:54,066 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:54,067 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:54,068 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:54,071 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:54,071 INFO sqlalchemy.engine.base.Engine ('F43',)
2021-02-01 14:46:54,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,075 INFO sqlalchemy.engine.base.Engine (2100,)
2021-02-01 14:46:54,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,077 INFO sqlalchemy.engine.base.Engine (2101,)
2021-02-01 14:46:54,082 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,082 INFO sqlalchemy.engine.base.Engine (2102,)
2021-02-01 14:46:54,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,085 INFO sqlalchemy.engine.base.Engine (2103,)
2021-02-01 14:46:54,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,091 INFO sqlalchemy.engine.base.Engine (2104,)
2021-02-01 14:46:54,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,094 INFO sqlalchemy.engine.base.Engine (2105,)
2021-02-01 14:46:54,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,097 INFO sqlalchemy.engine.base.Engine (2106,)
2021-02-01 14:46:54,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,099 INFO sqlalchemy.engine.base.Engine (2107,)
2021-02-01 14:46:54,102 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,103 INFO sqlalchemy.engine.base.Engine (2108,)
2021-02-01 14:46:54,104 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,104 INFO sqlalchemy.engine.base.Engine (2109,)
2021-02-01 14:46:54,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,109 INFO sqlalchemy.engine.base.Engine (2110,)
2021-02-01 14:46:54,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,111 INFO sqlalchemy.engine.base.Engine (2111,)
2021-02-01 14:46:54,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,116 INFO sqlalchemy.engine.base.Engine (2112,)
2021-02-01 14:46:54,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,118 INFO sqlalchemy.engine.base.Engine (2113,)
2021-02-01 14:46:54,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,123 INFO sqlalchemy.engine.base.Engine (2114,)
2021-02-01 14:46:54,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,124 INFO sqlalchemy.engine.base.Engine (2115,)
2021-02-01 14:46:54,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,127 INFO sqlalchemy.engine.base.Engine (2116,)
2021-02-01 14:46:54,129 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,130 INFO sqlalchemy.engine.base.Engine (2117,)
2021-02-01 14:46:54,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,135 INFO sqlalchemy.engine.base.Engine (2118,)
2021-02-01 14:46:54,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,137 INFO sqlalchemy.engine.base.Engine (2119,)
2021-02-01 14:46:54,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,140 INFO sqlalchemy.engine.base.Engine (2120,)
2021-02-01 14:46:54,141 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,141 INFO sqlalchemy.engine.base.Engine (2121,)
2021-02-01 14:46:54,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,144 INFO sqlalchemy.engine.base.Engine (2122,)
2021-02-01 14:46:54,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,145 INFO sqlalchemy.engine.base.Engine (2123,)
2021-02-01 14:46:54,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,149 INFO sqlalchemy.engine.base.Engine (2124,)
2021-02-01 14:46:54,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,151 INFO sqlalchemy.engine.base.Engine (2125,)
2021-02-01 14:46:54,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,154 INFO sqlalchemy.engine.base.Engine (2126,)
2021-02-01 14:46:54,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,156 INFO sqlalchemy.engine.base.Engine (2127,)
2021-02-01 14:46:54,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,159 INFO sqlalchemy.engine.base.Engine (2128,)
2021-02-01 14:46:54,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,161 INFO sqlalchemy.engine.base.Engine (2129,)
2021-02-01 14:46:54,163 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,164 INFO sqlalchemy.engine.base.Engine (2130,)
2021-02-01 14:46:54,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,166 INFO sqlalchemy.engine.base.Engine (2131,)
2021-02-01 14:46:54,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,170 INFO sqlalchemy.engine.base.Engine (2132,)
2021-02-01 14:46:54,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,172 INFO sqlalchemy.engine.base.Engine (2133,)
2021-02-01 14:46:54,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,176 INFO sqlalchemy.engine.base.Engine (2134,)
2021-02-01 14:46:54,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,177 INFO sqlalchemy.engine.base.Engine (2135,)
2021-02-01 14:46:54,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,180 INFO sqlalchemy.engine.base.Engine (2136,)
2021-02-01 14:46:54,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,183 INFO sqlalchemy.engine.base.Engine (2137,)
2021-02-01 14:46:54,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,188 INFO sqlalchemy.engine.base.Engine (2138,)
2021-02-01 14:46:54,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,191 INFO sqlalchemy.engine.base.Engine (2139,)
2021-02-01 14:46:54,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,196 INFO sqlalchemy.engine.base.Engine (2140,)
2021-02-01 14:46:54,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,197 INFO sqlalchemy.engine.base.Engine (2141,)
2021-02-01 14:46:54,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,200 INFO sqlalchemy.engine.base.Engine (2142,)
2021-02-01 14:46:54,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,203 INFO sqlalchemy.engine.base.Engine (2143,)
2021-02-01 14:46:54,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,206 INFO sqlalchemy.engine.base.Engine (2144,)
2021-02-01 14:46:54,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,208 INFO sqlalchemy.engine.base.Engine (2145,)
2021-02-01 14:46:54,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,215 INFO sqlalchemy.engine.base.Engine (2146,)
2021-02-01 14:46:54,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,217 INFO sqlalchemy.engine.base.Engine (2147,)
2021-02-01 14:46:54,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,220 INFO sqlalchemy.engine.base.Engine (2148,)
2021-02-01 14:46:54,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,222 INFO sqlalchemy.engine.base.Engine (2149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:54,270 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,271 INFO sqlalchemy.engine.base.Engine ((2150, 14.3, 14.3, 14.3, 4.409400454722834, 50.41414241227937), (2151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409400454722834, 50.41414241227937), (2152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409400454722834, 50.41414241227937), (2153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409400454722834, 50.41414241227937), (2154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409400454722834, 50.41414241227937), (2155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409400454722834, 50.41414241227937), (2156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409400454722834, 50.41414241227937), (2157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409400454722834, 50.41414241227937)  ... displaying 10 of 50 total bound parameter sets ...  (2198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409400454722834, 50.41414241227937), (2199, 135.9, 135.9, 135.9, 4.409400454722834, 50.41414241227937))
2021-02-01 14:46:54,273 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:54,274 INFO sqlalchemy.engine.base.Engine ('F44',)
2021-02-01 14:46:54,276 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,277 INFO sqlalchemy.engine.base.Engine ((1075, 'F44', 0, 'Anhydrite', 2150, 2151), (1076, 'F44', 1, 'Sandstone, grey, vf-f', 2152, 2153), (1077, 'F44', 2, 'Anhydrite', 2154, 2155), (1078, 'F44', 3, 'Dolomite', 2156, 2157), (1079, 'F44', 4, 'Anhydrite', 2158, 2159), (1080, 'F44', 5, 'Sandstone, grey, vf-f', 2160, 2161), (1081, 'F44', 6, 'Siltstone, red', 2162, 2163), (1082, 'F44', 7, 'Dolomite', 2164, 2165)  ... displaying 10 of 25 total bound parameter sets ...  (1098, 'F44', 23, 'Limestone', 2196, 2197), (1099, 'F44', 24, 'Volcanic', 2198, 2199))
2021-02-01 14:46:54,280 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:54,286 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:54,287 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:54,288 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:54,290 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:54,290 INFO sqlalchemy.engine.base.Engine ('F44',)
2021-02-01 14:46:54,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,293 INFO sqlalchemy.engine.base.Engine (2150,)

2021-02-01 14:46:54,295 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,296 INFO sqlalchemy.engine.base.Engine (2151,)
2021-02-01 14:46:54,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,299 INFO sqlalchemy.engine.base.Engine (2152,)
2021-02-01 14:46:54,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,300 INFO sqlalchemy.engine.base.Engine (2153,)
2021-02-01 14:46:54,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,303 INFO sqlalchemy.engine.base.Engine (2154,)
2021-02-01 14:46:54,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,304 INFO sqlalchemy.engine.base.Engine (2155,)
2021-02-01 14:46:54,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,308 INFO sqlalchemy.engine.base.Engine (2156,)
2021-02-01 14:46:54,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,310 INFO sqlalchemy.engine.base.Engine (2157,)
2021-02-01 14:46:54,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,314 INFO sqlalchemy.engine.base.Engine (2158,)
2021-02-01 14:46:54,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,316 INFO sqlalchemy.engine.base.Engine (2159,)
2021-02-01 14:46:54,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,319 INFO sqlalchemy.engine.base.Engine (2160,)
2021-02-01 14:46:54,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,322 INFO sqlalchemy.engine.base.Engine (2161,)
2021-02-01 14:46:54,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,326 INFO sqlalchemy.engine.base.Engine (2162,)
2021-02-01 14:46:54,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,329 INFO sqlalchemy.engine.base.Engine (2163,)
2021-02-01 14:46:54,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,335 INFO sqlalchemy.engine.base.Engine (2164,)
2021-02-01 14:46:54,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,338 INFO sqlalchemy.engine.base.Engine (2165,)
2021-02-01 14:46:54,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,342 INFO sqlalchemy.engine.base.Engine (2166,)
2021-02-01 14:46:54,343 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,343 INFO sqlalchemy.engine.base.Engine (2167,)
2021-02-01 14:46:54,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,347 INFO sqlalchemy.engine.base.Engine (2168,)
2021-02-01 14:46:54,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,349 INFO sqlalchemy.engine.base.Engine (2169,)
2021-02-01 14:46:54,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,352 INFO sqlalchemy.engine.base.Engine (2170,)
2021-02-01 14:46:54,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,354 INFO sqlalchemy.engine.base.Engine (2171,)
2021-02-01 14:46:54,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,357 INFO sqlalchemy.engine.base.Engine (2172,)
2021-02-01 14:46:54,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,359 INFO sqlalchemy.engine.base.Engine (2173,)
2021-02-01 14:46:54,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,364 INFO sqlalchemy.engine.base.Engine (2174,)
2021-02-01 14:46:54,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,367 INFO sqlalchemy.engine.base.Engine (2175,)
2021-02-01 14:46:54,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,371 INFO sqlalchemy.engine.base.Engine (2176,)
2021-02-01 14:46:54,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,374 INFO sqlalchemy.engine.base.Engine (2177,)
2021-02-01 14:46:54,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,377 INFO sqlalchemy.engine.base.Engine (2178,)
2021-02-01 14:46:54,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,379 INFO sqlalchemy.engine.base.Engine (2179,)
2021-02-01 14:46:54,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,382 INFO sqlalchemy.engine.base.Engine (2180,)
2021-02-01 14:46:54,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,384 INFO sqlalchemy.engine.base.Engine (2181,)
2021-02-01 14:46:54,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,388 INFO sqlalchemy.engine.base.Engine (2182,)
2021-02-01 14:46:54,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,391 INFO sqlalchemy.engine.base.Engine (2183,)
2021-02-01 14:46:54,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,394 INFO sqlalchemy.engine.base.Engine (2184,)
2021-02-01 14:46:54,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,395 INFO sqlalchemy.engine.base.Engine (2185,)
2021-02-01 14:46:54,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,400 INFO sqlalchemy.engine.base.Engine (2186,)
2021-02-01 14:46:54,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,402 INFO sqlalchemy.engine.base.Engine (2187,)
2021-02-01 14:46:54,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,406 INFO sqlalchemy.engine.base.Engine (2188,)
2021-02-01 14:46:54,407 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,408 INFO sqlalchemy.engine.base.Engine (2189,)
2021-02-01 14:46:54,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,412 INFO sqlalchemy.engine.base.Engine (2190,)
2021-02-01 14:46:54,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,415 INFO sqlalchemy.engine.base.Engine (2191,)
2021-02-01 14:46:54,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,419 INFO sqlalchemy.engine.base.Engine (2192,)
2021-02-01 14:46:54,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,421 INFO sqlalchemy.engine.base.Engine (2193,)
2021-02-01 14:46:54,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,423 INFO sqlalchemy.engine.base.Engine (2194,)
2021-02-01 14:46:54,424 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,424 INFO sqlalchemy.engine.base.Engine (2195,)
2021-02-01 14:46:54,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,427 INFO sqlalchemy.engine.base.Engine (2196,)
2021-02-01 14:46:54,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,428 INFO sqlalchemy.engine.base.Engine (2197,)
2021-02-01 14:46:54,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,431 INFO sqlalchemy.engine.base.Engine (2198,)
2021-02-01 14:46:54,432 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,433 INFO sqlalchemy.engine.base.Engine (2199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:54,492 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,493 INFO sqlalchemy.engine.base.Engine ((2200, 14.3, 14.3, 14.3, 4.409376331126667, 50.414230382312745), (2201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409376331126667, 50.414230382312745), (2202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409376331126667, 50.414230382312745), (2203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409376331126667, 50.414230382312745), (2204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409376331126667, 50.414230382312745), (2205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409376331126667, 50.414230382312745), (2206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409376331126667, 50.414230382312745), (2207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409376331126667, 50.414230382312745)  ... displaying 10 of 50 total bound parameter sets ...  (2248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409376331126667, 50.414230382312745), (2249, 135.9, 135.9, 135.9, 4.409376331126667, 50.414230382312745))
2021-02-01 14:46:54,495 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:54,496 INFO sqlalchemy.engine.base.Engine ('F45',)
2021-02-01 14:46:54,499 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,500 INFO sqlalchemy.engine.base.Engine ((1100, 'F45', 0, 'Anhydrite', 2200, 2201), (1101, 'F45', 1, 'Sandstone, grey, vf-f', 2202, 2203), (1102, 'F45', 2, 'Anhydrite', 2204, 2205), (1103, 'F45', 3, 'Dolomite', 2206, 2207), (1104, 'F45', 4, 'Anhydrite', 2208, 2209), (1105, 'F45', 5, 'Sandstone, grey, vf-f', 2210, 2211), (1106, 'F45', 6, 'Siltstone, red', 2212, 2213), (1107, 'F45', 7, 'Dolomite', 2214, 2215)  ... displaying 10 of 25 total bound parameter sets ...  (1123, 'F45', 23, 'Limestone', 2246, 2247), (1124, 'F45', 24, 'Volcanic', 2248, 2249))
2021-02-01 14:46:54,503 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:54,509 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:54,511 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:54,512 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:54,515 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:54,516 INFO sqlalchemy.engine.base.Engine ('F45',)
2021-02-01 14:46:54,518 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,519 INFO sqlalchemy.engine.base.Engine (2200,)
2021-02-01 14:46:54,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,521 INFO sqlalchemy.engine.base.Engine (2201,)
2021-02-01 14:46:54,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,524 INFO sqlalchemy.engine.base.Engine (2202,)
2021-02-01 14:46:54,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,527 INFO sqlalchemy.engine.base.Engine (2203,)
2021-02-01 14:46:54,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,531 INFO sqlalchemy.engine.base.Engine (2204,)
2021-02-01 14:46:54,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,533 INFO sqlalchemy.engine.base.Engine (2205,)

2021-02-01 14:46:54,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,539 INFO sqlalchemy.engine.base.Engine (2206,)
2021-02-01 14:46:54,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,542 INFO sqlalchemy.engine.base.Engine (2207,)
2021-02-01 14:46:54,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,546 INFO sqlalchemy.engine.base.Engine (2208,)
2021-02-01 14:46:54,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,549 INFO sqlalchemy.engine.base.Engine (2209,)
2021-02-01 14:46:54,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,552 INFO sqlalchemy.engine.base.Engine (2210,)
2021-02-01 14:46:54,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,554 INFO sqlalchemy.engine.base.Engine (2211,)
2021-02-01 14:46:54,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,558 INFO sqlalchemy.engine.base.Engine (2212,)
2021-02-01 14:46:54,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,559 INFO sqlalchemy.engine.base.Engine (2213,)
2021-02-01 14:46:54,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,562 INFO sqlalchemy.engine.base.Engine (2214,)
2021-02-01 14:46:54,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,564 INFO sqlalchemy.engine.base.Engine (2215,)
2021-02-01 14:46:54,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,567 INFO sqlalchemy.engine.base.Engine (2216,)
2021-02-01 14:46:54,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,569 INFO sqlalchemy.engine.base.Engine (2217,)
2021-02-01 14:46:54,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,572 INFO sqlalchemy.engine.base.Engine (2218,)
2021-02-01 14:46:54,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,575 INFO sqlalchemy.engine.base.Engine (2219,)
2021-02-01 14:46:54,578 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,579 INFO sqlalchemy.engine.base.Engine (2220,)
2021-02-01 14:46:54,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,581 INFO sqlalchemy.engine.base.Engine (2221,)
2021-02-01 14:46:54,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,586 INFO sqlalchemy.engine.base.Engine (2222,)
2021-02-01 14:46:54,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,589 INFO sqlalchemy.engine.base.Engine (2223,)
2021-02-01 14:46:54,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,595 INFO sqlalchemy.engine.base.Engine (2224,)
2021-02-01 14:46:54,597 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,597 INFO sqlalchemy.engine.base.Engine (2225,)
2021-02-01 14:46:54,600 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,602 INFO sqlalchemy.engine.base.Engine (2226,)
2021-02-01 14:46:54,603 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,604 INFO sqlalchemy.engine.base.Engine (2227,)
2021-02-01 14:46:54,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,608 INFO sqlalchemy.engine.base.Engine (2228,)
2021-02-01 14:46:54,610 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,610 INFO sqlalchemy.engine.base.Engine (2229,)
2021-02-01 14:46:54,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,614 INFO sqlalchemy.engine.base.Engine (2230,)
2021-02-01 14:46:54,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,616 INFO sqlalchemy.engine.base.Engine (2231,)
2021-02-01 14:46:54,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,619 INFO sqlalchemy.engine.base.Engine (2232,)
2021-02-01 14:46:54,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,621 INFO sqlalchemy.engine.base.Engine (2233,)
2021-02-01 14:46:54,623 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,624 INFO sqlalchemy.engine.base.Engine (2234,)
2021-02-01 14:46:54,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,625 INFO sqlalchemy.engine.base.Engine (2235,)
2021-02-01 14:46:54,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,628 INFO sqlalchemy.engine.base.Engine (2236,)
2021-02-01 14:46:54,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,630 INFO sqlalchemy.engine.base.Engine (2237,)
2021-02-01 14:46:54,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,633 INFO sqlalchemy.engine.base.Engine (2238,)
2021-02-01 14:46:54,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,635 INFO sqlalchemy.engine.base.Engine (2239,)
2021-02-01 14:46:54,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,638 INFO sqlalchemy.engine.base.Engine (2240,)
2021-02-01 14:46:54,639 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,640 INFO sqlalchemy.engine.base.Engine (2241,)
2021-02-01 14:46:54,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,642 INFO sqlalchemy.engine.base.Engine (2242,)
2021-02-01 14:46:54,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,645 INFO sqlalchemy.engine.base.Engine (2243,)
2021-02-01 14:46:54,646 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,647 INFO sqlalchemy.engine.base.Engine (2244,)
2021-02-01 14:46:54,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,649 INFO sqlalchemy.engine.base.Engine (2245,)
2021-02-01 14:46:54,651 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,652 INFO sqlalchemy.engine.base.Engine (2246,)
2021-02-01 14:46:54,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,654 INFO sqlalchemy.engine.base.Engine (2247,)
2021-02-01 14:46:54,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,657 INFO sqlalchemy.engine.base.Engine (2248,)
2021-02-01 14:46:54,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,658 INFO sqlalchemy.engine.base.Engine (2249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:54,705 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:54,706 INFO sqlalchemy.engine.base.Engine ('F46',)
2021-02-01 14:46:54,709 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,711 INFO sqlalchemy.engine.base.Engine ((2250, 14.3, 14.3, 14.3, 4.409339129767986, 50.414245939823296), (2251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409339129767986, 50.414245939823296), (2252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409339129767986, 50.414245939823296), (2253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409339129767986, 50.414245939823296), (2254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409339129767986, 50.414245939823296), (2255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409339129767986, 50.414245939823296), (2256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409339129767986, 50.414245939823296), (2257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409339129767986, 50.414245939823296)  ... displaying 10 of 50 total bound parameter sets ...  (2298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409339129767986, 50.414245939823296), (2299, 135.9, 135.9, 135.9, 4.409339129767986, 50.414245939823296))
2021-02-01 14:46:54,714 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,715 INFO sqlalchemy.engine.base.Engine ((1125, 'F46', 0, 'Anhydrite', 2250, 2251), (1126, 'F46', 1, 'Sandstone, grey, vf-f', 2252, 2253), (1127, 'F46', 2, 'Anhydrite', 2254, 2255), (1128, 'F46', 3, 'Dolomite', 2256, 2257), (1129, 'F46', 4, 'Anhydrite', 2258, 2259), (1130, 'F46', 5, 'Sandstone, grey, vf-f', 2260, 2261), (1131, 'F46', 6, 'Siltstone, red', 2262, 2263), (1132, 'F46', 7, 'Dolomite', 2264, 2265)  ... displaying 10 of 25 total bound parameter sets ...  (1148, 'F46', 23, 'Limestone', 2296, 2297), (1149, 'F46', 24, 'Volcanic', 2298, 2299))
2021-02-01 14:46:54,717 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:54,725 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:54,726 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:54,726 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:54,729 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:54,730 INFO sqlalchemy.engine.base.Engine ('F46',)
2021-02-01 14:46:54,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,735 INFO sqlalchemy.engine.base.Engine (2250,)
2021-02-01 14:46:54,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,737 INFO sqlalchemy.engine.base.Engine (2251,)
2021-02-01 14:46:54,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,741 INFO sqlalchemy.engine.base.Engine (2252,)
2021-02-01 14:46:54,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,744 INFO sqlalchemy.engine.base.Engine (2253,)
2021-02-01 14:46:54,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,749 INFO sqlalchemy.engine.base.Engine (2254,)
2021-02-01 14:46:54,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,752 INFO sqlalchemy.engine.base.Engine (2255,)
2021-02-01 14:46:54,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,755 INFO sqlalchemy.engine.base.Engine (2256,)
2021-02-01 14:46:54,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,757 INFO sqlalchemy.engine.base.Engine (2257,)
2021-02-01 14:46:54,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,760 INFO sqlalchemy.engine.base.Engine (2258,)
2021-02-01 14:46:54,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,762 INFO sqlalchemy.engine.base.Engine (2259,)
2021-02-01 14:46:54,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,766 INFO sqlalchemy.engine.base.Engine (2260,)

2021-02-01 14:46:54,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,769 INFO sqlalchemy.engine.base.Engine (2261,)
2021-02-01 14:46:54,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,772 INFO sqlalchemy.engine.base.Engine (2262,)
2021-02-01 14:46:54,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,775 INFO sqlalchemy.engine.base.Engine (2263,)
2021-02-01 14:46:54,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,780 INFO sqlalchemy.engine.base.Engine (2264,)
2021-02-01 14:46:54,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,783 INFO sqlalchemy.engine.base.Engine (2265,)
2021-02-01 14:46:54,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,787 INFO sqlalchemy.engine.base.Engine (2266,)
2021-02-01 14:46:54,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,789 INFO sqlalchemy.engine.base.Engine (2267,)
2021-02-01 14:46:54,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,793 INFO sqlalchemy.engine.base.Engine (2268,)
2021-02-01 14:46:54,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,795 INFO sqlalchemy.engine.base.Engine (2269,)
2021-02-01 14:46:54,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,799 INFO sqlalchemy.engine.base.Engine (2270,)
2021-02-01 14:46:54,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,801 INFO sqlalchemy.engine.base.Engine (2271,)
2021-02-01 14:46:54,803 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,803 INFO sqlalchemy.engine.base.Engine (2272,)
2021-02-01 14:46:54,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,805 INFO sqlalchemy.engine.base.Engine (2273,)
2021-02-01 14:46:54,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,808 INFO sqlalchemy.engine.base.Engine (2274,)
2021-02-01 14:46:54,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,809 INFO sqlalchemy.engine.base.Engine (2275,)
2021-02-01 14:46:54,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,815 INFO sqlalchemy.engine.base.Engine (2276,)
2021-02-01 14:46:54,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,819 INFO sqlalchemy.engine.base.Engine (2277,)
2021-02-01 14:46:54,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,821 INFO sqlalchemy.engine.base.Engine (2278,)
2021-02-01 14:46:54,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,823 INFO sqlalchemy.engine.base.Engine (2279,)
2021-02-01 14:46:54,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,828 INFO sqlalchemy.engine.base.Engine (2280,)
2021-02-01 14:46:54,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:54,830 INFO sqlalchemy.engine.base.Engine (2281,)
2021-02-01 14:46:54,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,835 INFO sqlalchemy.engine.base.Engine (2282,)
2021-02-01 14:46:54,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,838 INFO sqlalchemy.engine.base.Engine (2283,)
2021-02-01 14:46:54,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,843 INFO sqlalchemy.engine.base.Engine (2284,)
2021-02-01 14:46:54,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,845 INFO sqlalchemy.engine.base.Engine (2285,)
2021-02-01 14:46:54,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,851 INFO sqlalchemy.engine.base.Engine (2286,)
2021-02-01 14:46:54,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,854 INFO sqlalchemy.engine.base.Engine (2287,)
2021-02-01 14:46:54,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,859 INFO sqlalchemy.engine.base.Engine (2288,)
2021-02-01 14:46:54,861 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,861 INFO sqlalchemy.engine.base.Engine (2289,)
2021-02-01 14:46:54,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,864 INFO sqlalchemy.engine.base.Engine (2290,)
2021-02-01 14:46:54,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,867 INFO sqlalchemy.engine.base.Engine (2291,)
2021-02-01 14:46:54,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,873 INFO sqlalchemy.engine.base.Engine (2292,)
2021-02-01 14:46:54,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,876 INFO sqlalchemy.engine.base.Engine (2293,)
2021-02-01 14:46:54,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,881 INFO sqlalchemy.engine.base.Engine (2294,)
2021-02-01 14:46:54,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,884 INFO sqlalchemy.engine.base.Engine (2295,)
2021-02-01 14:46:54,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,887 INFO sqlalchemy.engine.base.Engine (2296,)
2021-02-01 14:46:54,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,889 INFO sqlalchemy.engine.base.Engine (2297,)
2021-02-01 14:46:54,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,892 INFO sqlalchemy.engine.base.Engine (2298,)
2021-02-01 14:46:54,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,895 INFO sqlalchemy.engine.base.Engine (2299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:54,945 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,945 INFO sqlalchemy.engine.base.Engine ((2300, 14.3, 14.3, 14.3, 4.409448780246119, 50.41423404257414), (2301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409448780246119, 50.41423404257414), (2302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409448780246119, 50.41423404257414), (2303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409448780246119, 50.41423404257414), (2304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409448780246119, 50.41423404257414), (2305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409448780246119, 50.41423404257414), (2306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409448780246119, 50.41423404257414), (2307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409448780246119, 50.41423404257414)  ... displaying 10 of 50 total bound parameter sets ...  (2348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409448780246119, 50.41423404257414), (2349, 135.9, 135.9, 135.9, 4.409448780246119, 50.41423404257414))

2021-02-01 14:46:54,947 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:54,947 INFO sqlalchemy.engine.base.Engine ('F47',)
2021-02-01 14:46:54,949 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:54,950 INFO sqlalchemy.engine.base.Engine ((1150, 'F47', 0, 'Anhydrite', 2300, 2301), (1151, 'F47', 1, 'Sandstone, grey, vf-f', 2302, 2303), (1152, 'F47', 2, 'Anhydrite', 2304, 2305), (1153, 'F47', 3, 'Dolomite', 2306, 2307), (1154, 'F47', 4, 'Anhydrite', 2308, 2309), (1155, 'F47', 5, 'Sandstone, grey, vf-f', 2310, 2311), (1156, 'F47', 6, 'Siltstone, red', 2312, 2313), (1157, 'F47', 7, 'Dolomite', 2314, 2315)  ... displaying 10 of 25 total bound parameter sets ...  (1173, 'F47', 23, 'Limestone', 2346, 2347), (1174, 'F47', 24, 'Volcanic', 2348, 2349))
2021-02-01 14:46:54,952 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:54,957 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:54,957 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:54,958 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:54,960 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:54,961 INFO sqlalchemy.engine.base.Engine ('F47',)
2021-02-01 14:46:54,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,964 INFO sqlalchemy.engine.base.Engine (2300,)
2021-02-01 14:46:54,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,965 INFO sqlalchemy.engine.base.Engine (2301,)
2021-02-01 14:46:54,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,970 INFO sqlalchemy.engine.base.Engine (2302,)
2021-02-01 14:46:54,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,972 INFO sqlalchemy.engine.base.Engine (2303,)
2021-02-01 14:46:54,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,976 INFO sqlalchemy.engine.base.Engine (2304,)
2021-02-01 14:46:54,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,978 INFO sqlalchemy.engine.base.Engine (2305,)
2021-02-01 14:46:54,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,983 INFO sqlalchemy.engine.base.Engine (2306,)
2021-02-01 14:46:54,985 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,985 INFO sqlalchemy.engine.base.Engine (2307,)
2021-02-01 14:46:54,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,991 INFO sqlalchemy.engine.base.Engine (2308,)
2021-02-01 14:46:54,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,993 INFO sqlalchemy.engine.base.Engine (2309,)
2021-02-01 14:46:54,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:54,998 INFO sqlalchemy.engine.base.Engine (2310,)
2021-02-01 14:46:55,000 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,000 INFO sqlalchemy.engine.base.Engine (2311,)
2021-02-01 14:46:55,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,004 INFO sqlalchemy.engine.base.Engine (2312,)
2021-02-01 14:46:55,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,005 INFO sqlalchemy.engine.base.Engine (2313,)
2021-02-01 14:46:55,010 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,011 INFO sqlalchemy.engine.base.Engine (2314,)
2021-02-01 14:46:55,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,015 INFO sqlalchemy.engine.base.Engine (2315,)
2021-02-01 14:46:55,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,018 INFO sqlalchemy.engine.base.Engine (2316,)
2021-02-01 14:46:55,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,020 INFO sqlalchemy.engine.base.Engine (2317,)
2021-02-01 14:46:55,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,023 INFO sqlalchemy.engine.base.Engine (2318,)
2021-02-01 14:46:55,024 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,024 INFO sqlalchemy.engine.base.Engine (2319,)
2021-02-01 14:46:55,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,030 INFO sqlalchemy.engine.base.Engine (2320,)
2021-02-01 14:46:55,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,032 INFO sqlalchemy.engine.base.Engine (2321,)
2021-02-01 14:46:55,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,036 INFO sqlalchemy.engine.base.Engine (2322,)
2021-02-01 14:46:55,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,038 INFO sqlalchemy.engine.base.Engine (2323,)
2021-02-01 14:46:55,042 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,043 INFO sqlalchemy.engine.base.Engine (2324,)
2021-02-01 14:46:55,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,045 INFO sqlalchemy.engine.base.Engine (2325,)
2021-02-01 14:46:55,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,050 INFO sqlalchemy.engine.base.Engine (2326,)
2021-02-01 14:46:55,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,053 INFO sqlalchemy.engine.base.Engine (2327,)
2021-02-01 14:46:55,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,058 INFO sqlalchemy.engine.base.Engine (2328,)
2021-02-01 14:46:55,060 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,061 INFO sqlalchemy.engine.base.Engine (2329,)
2021-02-01 14:46:55,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,064 INFO sqlalchemy.engine.base.Engine (2330,)
2021-02-01 14:46:55,065 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,066 INFO sqlalchemy.engine.base.Engine (2331,)
2021-02-01 14:46:55,070 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,071 INFO sqlalchemy.engine.base.Engine (2332,)
2021-02-01 14:46:55,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,076 INFO sqlalchemy.engine.base.Engine (2333,)
2021-02-01 14:46:55,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,080 INFO sqlalchemy.engine.base.Engine (2334,)
2021-02-01 14:46:55,082 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,082 INFO sqlalchemy.engine.base.Engine (2335,)
2021-02-01 14:46:55,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,087 INFO sqlalchemy.engine.base.Engine (2336,)
2021-02-01 14:46:55,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,090 INFO sqlalchemy.engine.base.Engine (2337,)
2021-02-01 14:46:55,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,093 INFO sqlalchemy.engine.base.Engine (2338,)
2021-02-01 14:46:55,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,095 INFO sqlalchemy.engine.base.Engine (2339,)
2021-02-01 14:46:55,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,099 INFO sqlalchemy.engine.base.Engine (2340,)
2021-02-01 14:46:55,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,101 INFO sqlalchemy.engine.base.Engine (2341,)
2021-02-01 14:46:55,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,106 INFO sqlalchemy.engine.base.Engine (2342,)
2021-02-01 14:46:55,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,108 INFO sqlalchemy.engine.base.Engine (2343,)
2021-02-01 14:46:55,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,111 INFO sqlalchemy.engine.base.Engine (2344,)
2021-02-01 14:46:55,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,114 INFO sqlalchemy.engine.base.Engine (2345,)
2021-02-01 14:46:55,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,120 INFO sqlalchemy.engine.base.Engine (2346,)
2021-02-01 14:46:55,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,123 INFO sqlalchemy.engine.base.Engine (2347,)
2021-02-01 14:46:55,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,127 INFO sqlalchemy.engine.base.Engine (2348,)
2021-02-01 14:46:55,129 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,130 INFO sqlalchemy.engine.base.Engine (2349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:55,179 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,180 INFO sqlalchemy.engine.base.Engine ((2350, 14.3, 14.3, 14.3, 4.409411394088062, 50.41424740653147), (2351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409411394088062, 50.41424740653147), (2352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409411394088062, 50.41424740653147), (2353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409411394088062, 50.41424740653147), (2354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409411394088062, 50.41424740653147), (2355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409411394088062, 50.41424740653147), (2356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409411394088062, 50.41424740653147), (2357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409411394088062, 50.41424740653147)  ... displaying 10 of 50 total bound parameter sets ...  (2398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409411394088062, 50.41424740653147), (2399, 135.9, 135.9, 135.9, 4.409411394088062, 50.41424740653147))
2021-02-01 14:46:55,182 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:55,183 INFO sqlalchemy.engine.base.Engine ('F48',)
2021-02-01 14:46:55,186 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,188 INFO sqlalchemy.engine.base.Engine ((1175, 'F48', 0, 'Anhydrite', 2350, 2351), (1176, 'F48', 1, 'Sandstone, grey, vf-f', 2352, 2353), (1177, 'F48', 2, 'Anhydrite', 2354, 2355), (1178, 'F48', 3, 'Dolomite', 2356, 2357), (1179, 'F48', 4, 'Anhydrite', 2358, 2359), (1180, 'F48', 5, 'Sandstone, grey, vf-f', 2360, 2361), (1181, 'F48', 6, 'Siltstone, red', 2362, 2363), (1182, 'F48', 7, 'Dolomite', 2364, 2365)  ... displaying 10 of 25 total bound parameter sets ...  (1198, 'F48', 23, 'Limestone', 2396, 2397), (1199, 'F48', 24, 'Volcanic', 2398, 2399))
2021-02-01 14:46:55,191 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:55,195 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:55,196 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:55,197 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:55,198 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:55,199 INFO sqlalchemy.engine.base.Engine ('F48',)
2021-02-01 14:46:55,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,201 INFO sqlalchemy.engine.base.Engine (2350,)

2021-02-01 14:46:55,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,203 INFO sqlalchemy.engine.base.Engine (2351,)
2021-02-01 14:46:55,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,207 INFO sqlalchemy.engine.base.Engine (2352,)
2021-02-01 14:46:55,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,209 INFO sqlalchemy.engine.base.Engine (2353,)
2021-02-01 14:46:55,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,213 INFO sqlalchemy.engine.base.Engine (2354,)
2021-02-01 14:46:55,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,215 INFO sqlalchemy.engine.base.Engine (2355,)
2021-02-01 14:46:55,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,219 INFO sqlalchemy.engine.base.Engine (2356,)
2021-02-01 14:46:55,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,222 INFO sqlalchemy.engine.base.Engine (2357,)
2021-02-01 14:46:55,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,226 INFO sqlalchemy.engine.base.Engine (2358,)
2021-02-01 14:46:55,227 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,228 INFO sqlalchemy.engine.base.Engine (2359,)
2021-02-01 14:46:55,231 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,233 INFO sqlalchemy.engine.base.Engine (2360,)
2021-02-01 14:46:55,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,235 INFO sqlalchemy.engine.base.Engine (2361,)
2021-02-01 14:46:55,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,238 INFO sqlalchemy.engine.base.Engine (2362,)
2021-02-01 14:46:55,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,241 INFO sqlalchemy.engine.base.Engine (2363,)
2021-02-01 14:46:55,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,243 INFO sqlalchemy.engine.base.Engine (2364,)
2021-02-01 14:46:55,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,245 INFO sqlalchemy.engine.base.Engine (2365,)
2021-02-01 14:46:55,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,248 INFO sqlalchemy.engine.base.Engine (2366,)
2021-02-01 14:46:55,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,250 INFO sqlalchemy.engine.base.Engine (2367,)
2021-02-01 14:46:55,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,253 INFO sqlalchemy.engine.base.Engine (2368,)
2021-02-01 14:46:55,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,257 INFO sqlalchemy.engine.base.Engine (2369,)
2021-02-01 14:46:55,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,262 INFO sqlalchemy.engine.base.Engine (2370,)
2021-02-01 14:46:55,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,264 INFO sqlalchemy.engine.base.Engine (2371,)
2021-02-01 14:46:55,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,268 INFO sqlalchemy.engine.base.Engine (2372,)
2021-02-01 14:46:55,270 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,270 INFO sqlalchemy.engine.base.Engine (2373,)
2021-02-01 14:46:55,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,275 INFO sqlalchemy.engine.base.Engine (2374,)
2021-02-01 14:46:55,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,279 INFO sqlalchemy.engine.base.Engine (2375,)
2021-02-01 14:46:55,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,283 INFO sqlalchemy.engine.base.Engine (2376,)
2021-02-01 14:46:55,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,286 INFO sqlalchemy.engine.base.Engine (2377,)
2021-02-01 14:46:55,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,291 INFO sqlalchemy.engine.base.Engine (2378,)
2021-02-01 14:46:55,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,295 INFO sqlalchemy.engine.base.Engine (2379,)
2021-02-01 14:46:55,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,299 INFO sqlalchemy.engine.base.Engine (2380,)
2021-02-01 14:46:55,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,302 INFO sqlalchemy.engine.base.Engine (2381,)
2021-02-01 14:46:55,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,306 INFO sqlalchemy.engine.base.Engine (2382,)
2021-02-01 14:46:55,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,309 INFO sqlalchemy.engine.base.Engine (2383,)
2021-02-01 14:46:55,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,313 INFO sqlalchemy.engine.base.Engine (2384,)
2021-02-01 14:46:55,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,315 INFO sqlalchemy.engine.base.Engine (2385,)
2021-02-01 14:46:55,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,318 INFO sqlalchemy.engine.base.Engine (2386,)
2021-02-01 14:46:55,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,320 INFO sqlalchemy.engine.base.Engine (2387,)
2021-02-01 14:46:55,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,323 INFO sqlalchemy.engine.base.Engine (2388,)
2021-02-01 14:46:55,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,325 INFO sqlalchemy.engine.base.Engine (2389,)
2021-02-01 14:46:55,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,328 INFO sqlalchemy.engine.base.Engine (2390,)
2021-02-01 14:46:55,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,329 INFO sqlalchemy.engine.base.Engine (2391,)
2021-02-01 14:46:55,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,332 INFO sqlalchemy.engine.base.Engine (2392,)
2021-02-01 14:46:55,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,333 INFO sqlalchemy.engine.base.Engine (2393,)
2021-02-01 14:46:55,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,336 INFO sqlalchemy.engine.base.Engine (2394,)
2021-02-01 14:46:55,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,338 INFO sqlalchemy.engine.base.Engine (2395,)
2021-02-01 14:46:55,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,341 INFO sqlalchemy.engine.base.Engine (2396,)
2021-02-01 14:46:55,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,342 INFO sqlalchemy.engine.base.Engine (2397,)
2021-02-01 14:46:55,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,345 INFO sqlalchemy.engine.base.Engine (2398,)
2021-02-01 14:46:55,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,347 INFO sqlalchemy.engine.base.Engine (2399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:55,404 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:55,405 INFO sqlalchemy.engine.base.Engine ('F49',)
2021-02-01 14:46:55,407 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,409 INFO sqlalchemy.engine.base.Engine ((2400, 14.3, 14.3, 14.3, 4.409374684047188, 50.4142616692701), (2401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409374684047188, 50.4142616692701), (2402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409374684047188, 50.4142616692701), (2403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409374684047188, 50.4142616692701), (2404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409374684047188, 50.4142616692701), (2405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409374684047188, 50.4142616692701), (2406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409374684047188, 50.4142616692701), (2407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409374684047188, 50.4142616692701)  ... displaying 10 of 50 total bound parameter sets ...  (2448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409374684047188, 50.4142616692701), (2449, 135.9, 135.9, 135.9, 4.409374684047188, 50.4142616692701))
2021-02-01 14:46:55,412 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,413 INFO sqlalchemy.engine.base.Engine ((1200, 'F49', 0, 'Anhydrite', 2400, 2401), (1201, 'F49', 1, 'Sandstone, grey, vf-f', 2402, 2403), (1202, 'F49', 2, 'Anhydrite', 2404, 2405), (1203, 'F49', 3, 'Dolomite', 2406, 2407), (1204, 'F49', 4, 'Anhydrite', 2408, 2409), (1205, 'F49', 5, 'Sandstone, grey, vf-f', 2410, 2411), (1206, 'F49', 6, 'Siltstone, red', 2412, 2413), (1207, 'F49', 7, 'Dolomite', 2414, 2415)  ... displaying 10 of 25 total bound parameter sets ...  (1223, 'F49', 23, 'Limestone', 2446, 2447), (1224, 'F49', 24, 'Volcanic', 2448, 2449))
2021-02-01 14:46:55,416 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:55,421 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:55,422 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:55,422 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:55,423 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:55,424 INFO sqlalchemy.engine.base.Engine ('F49',)
2021-02-01 14:46:55,426 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,426 INFO sqlalchemy.engine.base.Engine (2400,)
2021-02-01 14:46:55,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,428 INFO sqlalchemy.engine.base.Engine (2401,)
2021-02-01 14:46:55,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,430 INFO sqlalchemy.engine.base.Engine (2402,)
2021-02-01 14:46:55,431 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,432 INFO sqlalchemy.engine.base.Engine (2403,)
2021-02-01 14:46:55,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,437 INFO sqlalchemy.engine.base.Engine (2404,)
2021-02-01 14:46:55,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,438 INFO sqlalchemy.engine.base.Engine (2405,)

2021-02-01 14:46:55,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,441 INFO sqlalchemy.engine.base.Engine (2406,)
2021-02-01 14:46:55,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,443 INFO sqlalchemy.engine.base.Engine (2407,)
2021-02-01 14:46:55,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,446 INFO sqlalchemy.engine.base.Engine (2408,)
2021-02-01 14:46:55,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,448 INFO sqlalchemy.engine.base.Engine (2409,)
2021-02-01 14:46:55,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,452 INFO sqlalchemy.engine.base.Engine (2410,)
2021-02-01 14:46:55,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,454 INFO sqlalchemy.engine.base.Engine (2411,)
2021-02-01 14:46:55,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,458 INFO sqlalchemy.engine.base.Engine (2412,)
2021-02-01 14:46:55,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,460 INFO sqlalchemy.engine.base.Engine (2413,)
2021-02-01 14:46:55,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,464 INFO sqlalchemy.engine.base.Engine (2414,)
2021-02-01 14:46:55,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,466 INFO sqlalchemy.engine.base.Engine (2415,)
2021-02-01 14:46:55,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,471 INFO sqlalchemy.engine.base.Engine (2416,)
2021-02-01 14:46:55,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,473 INFO sqlalchemy.engine.base.Engine (2417,)
2021-02-01 14:46:55,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,477 INFO sqlalchemy.engine.base.Engine (2418,)
2021-02-01 14:46:55,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,479 INFO sqlalchemy.engine.base.Engine (2419,)
2021-02-01 14:46:55,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,483 INFO sqlalchemy.engine.base.Engine (2420,)
2021-02-01 14:46:55,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,484 INFO sqlalchemy.engine.base.Engine (2421,)
2021-02-01 14:46:55,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,488 INFO sqlalchemy.engine.base.Engine (2422,)
2021-02-01 14:46:55,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,490 INFO sqlalchemy.engine.base.Engine (2423,)
2021-02-01 14:46:55,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,493 INFO sqlalchemy.engine.base.Engine (2424,)
2021-02-01 14:46:55,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,495 INFO sqlalchemy.engine.base.Engine (2425,)
2021-02-01 14:46:55,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,498 INFO sqlalchemy.engine.base.Engine (2426,)
2021-02-01 14:46:55,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,499 INFO sqlalchemy.engine.base.Engine (2427,)
2021-02-01 14:46:55,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,504 INFO sqlalchemy.engine.base.Engine (2428,)
2021-02-01 14:46:55,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,506 INFO sqlalchemy.engine.base.Engine (2429,)
2021-02-01 14:46:55,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,511 INFO sqlalchemy.engine.base.Engine (2430,)
2021-02-01 14:46:55,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,513 INFO sqlalchemy.engine.base.Engine (2431,)
2021-02-01 14:46:55,518 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,518 INFO sqlalchemy.engine.base.Engine (2432,)
2021-02-01 14:46:55,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,520 INFO sqlalchemy.engine.base.Engine (2433,)
2021-02-01 14:46:55,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,524 INFO sqlalchemy.engine.base.Engine (2434,)
2021-02-01 14:46:55,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,527 INFO sqlalchemy.engine.base.Engine (2435,)
2021-02-01 14:46:55,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,531 INFO sqlalchemy.engine.base.Engine (2436,)
2021-02-01 14:46:55,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,533 INFO sqlalchemy.engine.base.Engine (2437,)
2021-02-01 14:46:55,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,538 INFO sqlalchemy.engine.base.Engine (2438,)
2021-02-01 14:46:55,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,541 INFO sqlalchemy.engine.base.Engine (2439,)
2021-02-01 14:46:55,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,546 INFO sqlalchemy.engine.base.Engine (2440,)
2021-02-01 14:46:55,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,548 INFO sqlalchemy.engine.base.Engine (2441,)
2021-02-01 14:46:55,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,552 INFO sqlalchemy.engine.base.Engine (2442,)
2021-02-01 14:46:55,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,554 INFO sqlalchemy.engine.base.Engine (2443,)
2021-02-01 14:46:55,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,557 INFO sqlalchemy.engine.base.Engine (2444,)
2021-02-01 14:46:55,558 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,559 INFO sqlalchemy.engine.base.Engine (2445,)
2021-02-01 14:46:55,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,562 INFO sqlalchemy.engine.base.Engine (2446,)
2021-02-01 14:46:55,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,564 INFO sqlalchemy.engine.base.Engine (2447,)
2021-02-01 14:46:55,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,567 INFO sqlalchemy.engine.base.Engine (2448,)
2021-02-01 14:46:55,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,569 INFO sqlalchemy.engine.base.Engine (2449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:55,621 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,622 INFO sqlalchemy.engine.base.Engine ((2450, 14.3, 14.3, 14.3, 4.409349243464646, 50.41425916101624), (2451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409349243464646, 50.41425916101624), (2452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409349243464646, 50.41425916101624), (2453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409349243464646, 50.41425916101624), (2454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409349243464646, 50.41425916101624), (2455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409349243464646, 50.41425916101624), (2456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409349243464646, 50.41425916101624), (2457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409349243464646, 50.41425916101624)  ... displaying 10 of 50 total bound parameter sets ...  (2498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409349243464646, 50.41425916101624), (2499, 135.9, 135.9, 135.9, 4.409349243464646, 50.41425916101624))
2021-02-01 14:46:55,624 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:55,625 INFO sqlalchemy.engine.base.Engine ('F50',)
2021-02-01 14:46:55,627 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,628 INFO sqlalchemy.engine.base.Engine ((1225, 'F50', 0, 'Anhydrite', 2450, 2451), (1226, 'F50', 1, 'Sandstone, grey, vf-f', 2452, 2453), (1227, 'F50', 2, 'Anhydrite', 2454, 2455), (1228, 'F50', 3, 'Dolomite', 2456, 2457), (1229, 'F50', 4, 'Anhydrite', 2458, 2459), (1230, 'F50', 5, 'Sandstone, grey, vf-f', 2460, 2461), (1231, 'F50', 6, 'Siltstone, red', 2462, 2463), (1232, 'F50', 7, 'Dolomite', 2464, 2465)  ... displaying 10 of 25 total bound parameter sets ...  (1248, 'F50', 23, 'Limestone', 2496, 2497), (1249, 'F50', 24, 'Volcanic', 2498, 2499))
2021-02-01 14:46:55,631 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:55,637 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:55,638 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:55,639 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:55,641 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:55,643 INFO sqlalchemy.engine.base.Engine ('F50',)
2021-02-01 14:46:55,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,646 INFO sqlalchemy.engine.base.Engine (2450,)
2021-02-01 14:46:55,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,648 INFO sqlalchemy.engine.base.Engine (2451,)
2021-02-01 14:46:55,651 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,652 INFO sqlalchemy.engine.base.Engine (2452,)
2021-02-01 14:46:55,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,656 INFO sqlalchemy.engine.base.Engine (2453,)
2021-02-01 14:46:55,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,660 INFO sqlalchemy.engine.base.Engine (2454,)
2021-02-01 14:46:55,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,662 INFO sqlalchemy.engine.base.Engine (2455,)
2021-02-01 14:46:55,664 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,665 INFO sqlalchemy.engine.base.Engine (2456,)
2021-02-01 14:46:55,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,667 INFO sqlalchemy.engine.base.Engine (2457,)
2021-02-01 14:46:55,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,670 INFO sqlalchemy.engine.base.Engine (2458,)
2021-02-01 14:46:55,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,671 INFO sqlalchemy.engine.base.Engine (2459,)
2021-02-01 14:46:55,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,673 INFO sqlalchemy.engine.base.Engine (2460,)

2021-02-01 14:46:55,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,675 INFO sqlalchemy.engine.base.Engine (2461,)
2021-02-01 14:46:55,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,678 INFO sqlalchemy.engine.base.Engine (2462,)
2021-02-01 14:46:55,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,680 INFO sqlalchemy.engine.base.Engine (2463,)
2021-02-01 14:46:55,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,683 INFO sqlalchemy.engine.base.Engine (2464,)
2021-02-01 14:46:55,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,685 INFO sqlalchemy.engine.base.Engine (2465,)
2021-02-01 14:46:55,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,689 INFO sqlalchemy.engine.base.Engine (2466,)
2021-02-01 14:46:55,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,691 INFO sqlalchemy.engine.base.Engine (2467,)
2021-02-01 14:46:55,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,694 INFO sqlalchemy.engine.base.Engine (2468,)
2021-02-01 14:46:55,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,697 INFO sqlalchemy.engine.base.Engine (2469,)
2021-02-01 14:46:55,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,700 INFO sqlalchemy.engine.base.Engine (2470,)
2021-02-01 14:46:55,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,702 INFO sqlalchemy.engine.base.Engine (2471,)
2021-02-01 14:46:55,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,708 INFO sqlalchemy.engine.base.Engine (2472,)
2021-02-01 14:46:55,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,710 INFO sqlalchemy.engine.base.Engine (2473,)
2021-02-01 14:46:55,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,713 INFO sqlalchemy.engine.base.Engine (2474,)
2021-02-01 14:46:55,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,715 INFO sqlalchemy.engine.base.Engine (2475,)
2021-02-01 14:46:55,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,719 INFO sqlalchemy.engine.base.Engine (2476,)
2021-02-01 14:46:55,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,722 INFO sqlalchemy.engine.base.Engine (2477,)
2021-02-01 14:46:55,726 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,727 INFO sqlalchemy.engine.base.Engine (2478,)
2021-02-01 14:46:55,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,729 INFO sqlalchemy.engine.base.Engine (2479,)
2021-02-01 14:46:55,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,734 INFO sqlalchemy.engine.base.Engine (2480,)
2021-02-01 14:46:55,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:55,737 INFO sqlalchemy.engine.base.Engine (2481,)
2021-02-01 14:46:55,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,741 INFO sqlalchemy.engine.base.Engine (2482,)
2021-02-01 14:46:55,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,744 INFO sqlalchemy.engine.base.Engine (2483,)
2021-02-01 14:46:55,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,749 INFO sqlalchemy.engine.base.Engine (2484,)
2021-02-01 14:46:55,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,751 INFO sqlalchemy.engine.base.Engine (2485,)
2021-02-01 14:46:55,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,756 INFO sqlalchemy.engine.base.Engine (2486,)
2021-02-01 14:46:55,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,760 INFO sqlalchemy.engine.base.Engine (2487,)
2021-02-01 14:46:55,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,764 INFO sqlalchemy.engine.base.Engine (2488,)
2021-02-01 14:46:55,766 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,767 INFO sqlalchemy.engine.base.Engine (2489,)
2021-02-01 14:46:55,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,771 INFO sqlalchemy.engine.base.Engine (2490,)
2021-02-01 14:46:55,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,773 INFO sqlalchemy.engine.base.Engine (2491,)
2021-02-01 14:46:55,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,777 INFO sqlalchemy.engine.base.Engine (2492,)
2021-02-01 14:46:55,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,780 INFO sqlalchemy.engine.base.Engine (2493,)
2021-02-01 14:46:55,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,783 INFO sqlalchemy.engine.base.Engine (2494,)
2021-02-01 14:46:55,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,786 INFO sqlalchemy.engine.base.Engine (2495,)
2021-02-01 14:46:55,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,790 INFO sqlalchemy.engine.base.Engine (2496,)
2021-02-01 14:46:55,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,793 INFO sqlalchemy.engine.base.Engine (2497,)
2021-02-01 14:46:55,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,796 INFO sqlalchemy.engine.base.Engine (2498,)
2021-02-01 14:46:55,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,798 INFO sqlalchemy.engine.base.Engine (2499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:55,849 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:55,850 INFO sqlalchemy.engine.base.Engine ('F51',)
2021-02-01 14:46:55,853 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,853 INFO sqlalchemy.engine.base.Engine ((2500, 14.3, 14.3, 14.3, 4.409387675731686, 50.414219122377794), (2501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409387675731686, 50.414219122377794), (2502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409387675731686, 50.414219122377794), (2503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409387675731686, 50.414219122377794), (2504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409387675731686, 50.414219122377794), (2505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409387675731686, 50.414219122377794), (2506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409387675731686, 50.414219122377794), (2507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409387675731686, 50.414219122377794)  ... displaying 10 of 50 total bound parameter sets ...  (2548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409387675731686, 50.414219122377794), (2549, 135.9, 135.9, 135.9, 4.409387675731686, 50.414219122377794))

2021-02-01 14:46:55,858 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:55,859 INFO sqlalchemy.engine.base.Engine ((1250, 'F51', 0, 'Anhydrite', 2500, 2501), (1251, 'F51', 1, 'Sandstone, grey, vf-f', 2502, 2503), (1252, 'F51', 2, 'Anhydrite', 2504, 2505), (1253, 'F51', 3, 'Dolomite', 2506, 2507), (1254, 'F51', 4, 'Anhydrite', 2508, 2509), (1255, 'F51', 5, 'Sandstone, grey, vf-f', 2510, 2511), (1256, 'F51', 6, 'Siltstone, red', 2512, 2513), (1257, 'F51', 7, 'Dolomite', 2514, 2515)  ... displaying 10 of 25 total bound parameter sets ...  (1273, 'F51', 23, 'Limestone', 2546, 2547), (1274, 'F51', 24, 'Volcanic', 2548, 2549))
2021-02-01 14:46:55,861 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:55,868 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:55,869 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:55,870 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:55,872 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:55,872 INFO sqlalchemy.engine.base.Engine ('F51',)
2021-02-01 14:46:55,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,875 INFO sqlalchemy.engine.base.Engine (2500,)
2021-02-01 14:46:55,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,878 INFO sqlalchemy.engine.base.Engine (2501,)
2021-02-01 14:46:55,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,883 INFO sqlalchemy.engine.base.Engine (2502,)
2021-02-01 14:46:55,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,886 INFO sqlalchemy.engine.base.Engine (2503,)
2021-02-01 14:46:55,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,891 INFO sqlalchemy.engine.base.Engine (2504,)
2021-02-01 14:46:55,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,893 INFO sqlalchemy.engine.base.Engine (2505,)
2021-02-01 14:46:55,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,898 INFO sqlalchemy.engine.base.Engine (2506,)
2021-02-01 14:46:55,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,900 INFO sqlalchemy.engine.base.Engine (2507,)
2021-02-01 14:46:55,903 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,904 INFO sqlalchemy.engine.base.Engine (2508,)
2021-02-01 14:46:55,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,906 INFO sqlalchemy.engine.base.Engine (2509,)
2021-02-01 14:46:55,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,910 INFO sqlalchemy.engine.base.Engine (2510,)
2021-02-01 14:46:55,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,912 INFO sqlalchemy.engine.base.Engine (2511,)
2021-02-01 14:46:55,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,916 INFO sqlalchemy.engine.base.Engine (2512,)
2021-02-01 14:46:55,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,919 INFO sqlalchemy.engine.base.Engine (2513,)
2021-02-01 14:46:55,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,924 INFO sqlalchemy.engine.base.Engine (2514,)
2021-02-01 14:46:55,926 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,926 INFO sqlalchemy.engine.base.Engine (2515,)
2021-02-01 14:46:55,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,931 INFO sqlalchemy.engine.base.Engine (2516,)

2021-02-01 14:46:55,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,933 INFO sqlalchemy.engine.base.Engine (2517,)
2021-02-01 14:46:55,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,939 INFO sqlalchemy.engine.base.Engine (2518,)
2021-02-01 14:46:55,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,941 INFO sqlalchemy.engine.base.Engine (2519,)
2021-02-01 14:46:55,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,947 INFO sqlalchemy.engine.base.Engine (2520,)
2021-02-01 14:46:55,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,950 INFO sqlalchemy.engine.base.Engine (2521,)
2021-02-01 14:46:55,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,955 INFO sqlalchemy.engine.base.Engine (2522,)
2021-02-01 14:46:55,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,957 INFO sqlalchemy.engine.base.Engine (2523,)
2021-02-01 14:46:55,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,961 INFO sqlalchemy.engine.base.Engine (2524,)
2021-02-01 14:46:55,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,963 INFO sqlalchemy.engine.base.Engine (2525,)
2021-02-01 14:46:55,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,967 INFO sqlalchemy.engine.base.Engine (2526,)
2021-02-01 14:46:55,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,969 INFO sqlalchemy.engine.base.Engine (2527,)
2021-02-01 14:46:55,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,973 INFO sqlalchemy.engine.base.Engine (2528,)
2021-02-01 14:46:55,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,975 INFO sqlalchemy.engine.base.Engine (2529,)
2021-02-01 14:46:55,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,979 INFO sqlalchemy.engine.base.Engine (2530,)
2021-02-01 14:46:55,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,982 INFO sqlalchemy.engine.base.Engine (2531,)
2021-02-01 14:46:55,985 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,987 INFO sqlalchemy.engine.base.Engine (2532,)
2021-02-01 14:46:55,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,989 INFO sqlalchemy.engine.base.Engine (2533,)
2021-02-01 14:46:55,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,995 INFO sqlalchemy.engine.base.Engine (2534,)
2021-02-01 14:46:55,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:55,998 INFO sqlalchemy.engine.base.Engine (2535,)
2021-02-01 14:46:56,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,002 INFO sqlalchemy.engine.base.Engine (2536,)
2021-02-01 14:46:56,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,004 INFO sqlalchemy.engine.base.Engine (2537,)
2021-02-01 14:46:56,007 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,008 INFO sqlalchemy.engine.base.Engine (2538,)
2021-02-01 14:46:56,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,010 INFO sqlalchemy.engine.base.Engine (2539,)
2021-02-01 14:46:56,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,014 INFO sqlalchemy.engine.base.Engine (2540,)
2021-02-01 14:46:56,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,017 INFO sqlalchemy.engine.base.Engine (2541,)
2021-02-01 14:46:56,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,021 INFO sqlalchemy.engine.base.Engine (2542,)
2021-02-01 14:46:56,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,025 INFO sqlalchemy.engine.base.Engine (2543,)
2021-02-01 14:46:56,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,030 INFO sqlalchemy.engine.base.Engine (2544,)
2021-02-01 14:46:56,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,032 INFO sqlalchemy.engine.base.Engine (2545,)
2021-02-01 14:46:56,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,035 INFO sqlalchemy.engine.base.Engine (2546,)
2021-02-01 14:46:56,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,037 INFO sqlalchemy.engine.base.Engine (2547,)
2021-02-01 14:46:56,039 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,040 INFO sqlalchemy.engine.base.Engine (2548,)
2021-02-01 14:46:56,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,041 INFO sqlalchemy.engine.base.Engine (2549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:56,111 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,111 INFO sqlalchemy.engine.base.Engine ((2550, 14.3, 14.3, 14.3, 4.409433121618073, 50.41415469943644), (2551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409433121618073, 50.41415469943644), (2552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409433121618073, 50.41415469943644), (2553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409433121618073, 50.41415469943644), (2554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409433121618073, 50.41415469943644), (2555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409433121618073, 50.41415469943644), (2556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409433121618073, 50.41415469943644), (2557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409433121618073, 50.41415469943644)  ... displaying 10 of 50 total bound parameter sets ...  (2598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409433121618073, 50.41415469943644), (2599, 135.9, 135.9, 135.9, 4.409433121618073, 50.41415469943644))
2021-02-01 14:46:56,114 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:56,115 INFO sqlalchemy.engine.base.Engine ('F52',)
2021-02-01 14:46:56,118 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,119 INFO sqlalchemy.engine.base.Engine ((1275, 'F52', 0, 'Anhydrite', 2550, 2551), (1276, 'F52', 1, 'Sandstone, grey, vf-f', 2552, 2553), (1277, 'F52', 2, 'Anhydrite', 2554, 2555), (1278, 'F52', 3, 'Dolomite', 2556, 2557), (1279, 'F52', 4, 'Anhydrite', 2558, 2559), (1280, 'F52', 5, 'Sandstone, grey, vf-f', 2560, 2561), (1281, 'F52', 6, 'Siltstone, red', 2562, 2563), (1282, 'F52', 7, 'Dolomite', 2564, 2565)  ... displaying 10 of 25 total bound parameter sets ...  (1298, 'F52', 23, 'Limestone', 2596, 2597), (1299, 'F52', 24, 'Volcanic', 2598, 2599))
2021-02-01 14:46:56,122 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:56,128 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:56,130 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:56,131 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:56,133 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:56,134 INFO sqlalchemy.engine.base.Engine ('F52',)
2021-02-01 14:46:56,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,138 INFO sqlalchemy.engine.base.Engine (2550,)

2021-02-01 14:46:56,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,141 INFO sqlalchemy.engine.base.Engine (2551,)
2021-02-01 14:46:56,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,146 INFO sqlalchemy.engine.base.Engine (2552,)
2021-02-01 14:46:56,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,148 INFO sqlalchemy.engine.base.Engine (2553,)
2021-02-01 14:46:56,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,151 INFO sqlalchemy.engine.base.Engine (2554,)
2021-02-01 14:46:56,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,152 INFO sqlalchemy.engine.base.Engine (2555,)
2021-02-01 14:46:56,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,155 INFO sqlalchemy.engine.base.Engine (2556,)
2021-02-01 14:46:56,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,157 INFO sqlalchemy.engine.base.Engine (2557,)
2021-02-01 14:46:56,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,160 INFO sqlalchemy.engine.base.Engine (2558,)
2021-02-01 14:46:56,161 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,162 INFO sqlalchemy.engine.base.Engine (2559,)
2021-02-01 14:46:56,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,165 INFO sqlalchemy.engine.base.Engine (2560,)
2021-02-01 14:46:56,166 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,167 INFO sqlalchemy.engine.base.Engine (2561,)
2021-02-01 14:46:56,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,172 INFO sqlalchemy.engine.base.Engine (2562,)
2021-02-01 14:46:56,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,175 INFO sqlalchemy.engine.base.Engine (2563,)
2021-02-01 14:46:56,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,177 INFO sqlalchemy.engine.base.Engine (2564,)
2021-02-01 14:46:56,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,180 INFO sqlalchemy.engine.base.Engine (2565,)
2021-02-01 14:46:56,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,183 INFO sqlalchemy.engine.base.Engine (2566,)
2021-02-01 14:46:56,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,184 INFO sqlalchemy.engine.base.Engine (2567,)
2021-02-01 14:46:56,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,187 INFO sqlalchemy.engine.base.Engine (2568,)
2021-02-01 14:46:56,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,189 INFO sqlalchemy.engine.base.Engine (2569,)
2021-02-01 14:46:56,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,194 INFO sqlalchemy.engine.base.Engine (2570,)
2021-02-01 14:46:56,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,197 INFO sqlalchemy.engine.base.Engine (2571,)
2021-02-01 14:46:56,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,202 INFO sqlalchemy.engine.base.Engine (2572,)
2021-02-01 14:46:56,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,204 INFO sqlalchemy.engine.base.Engine (2573,)
2021-02-01 14:46:56,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,207 INFO sqlalchemy.engine.base.Engine (2574,)
2021-02-01 14:46:56,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,208 INFO sqlalchemy.engine.base.Engine (2575,)
2021-02-01 14:46:56,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,211 INFO sqlalchemy.engine.base.Engine (2576,)
2021-02-01 14:46:56,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,215 INFO sqlalchemy.engine.base.Engine (2577,)
2021-02-01 14:46:56,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,220 INFO sqlalchemy.engine.base.Engine (2578,)
2021-02-01 14:46:56,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,222 INFO sqlalchemy.engine.base.Engine (2579,)
2021-02-01 14:46:56,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,224 INFO sqlalchemy.engine.base.Engine (2580,)
2021-02-01 14:46:56,225 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,225 INFO sqlalchemy.engine.base.Engine (2581,)
2021-02-01 14:46:56,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,228 INFO sqlalchemy.engine.base.Engine (2582,)
2021-02-01 14:46:56,229 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,229 INFO sqlalchemy.engine.base.Engine (2583,)
2021-02-01 14:46:56,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,233 INFO sqlalchemy.engine.base.Engine (2584,)
2021-02-01 14:46:56,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,235 INFO sqlalchemy.engine.base.Engine (2585,)
2021-02-01 14:46:56,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,239 INFO sqlalchemy.engine.base.Engine (2586,)
2021-02-01 14:46:56,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,241 INFO sqlalchemy.engine.base.Engine (2587,)
2021-02-01 14:46:56,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,246 INFO sqlalchemy.engine.base.Engine (2588,)
2021-02-01 14:46:56,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,249 INFO sqlalchemy.engine.base.Engine (2589,)
2021-02-01 14:46:56,254 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,255 INFO sqlalchemy.engine.base.Engine (2590,)
2021-02-01 14:46:56,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,256 INFO sqlalchemy.engine.base.Engine (2591,)
2021-02-01 14:46:56,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,260 INFO sqlalchemy.engine.base.Engine (2592,)
2021-02-01 14:46:56,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,261 INFO sqlalchemy.engine.base.Engine (2593,)
2021-02-01 14:46:56,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,263 INFO sqlalchemy.engine.base.Engine (2594,)
2021-02-01 14:46:56,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,265 INFO sqlalchemy.engine.base.Engine (2595,)
2021-02-01 14:46:56,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,268 INFO sqlalchemy.engine.base.Engine (2596,)
2021-02-01 14:46:56,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,269 INFO sqlalchemy.engine.base.Engine (2597,)
2021-02-01 14:46:56,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,272 INFO sqlalchemy.engine.base.Engine (2598,)
2021-02-01 14:46:56,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,273 INFO sqlalchemy.engine.base.Engine (2599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:56,322 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:56,323 INFO sqlalchemy.engine.base.Engine ('F53',)
2021-02-01 14:46:56,326 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,327 INFO sqlalchemy.engine.base.Engine ((2600, 14.3, 14.3, 14.3, 4.409255006649666, 50.41410105443051), (2601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409255006649666, 50.41410105443051), (2602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409255006649666, 50.41410105443051), (2603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409255006649666, 50.41410105443051), (2604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409255006649666, 50.41410105443051), (2605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409255006649666, 50.41410105443051), (2606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409255006649666, 50.41410105443051), (2607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409255006649666, 50.41410105443051)  ... displaying 10 of 50 total bound parameter sets ...  (2648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409255006649666, 50.41410105443051), (2649, 135.9, 135.9, 135.9, 4.409255006649666, 50.41410105443051))
2021-02-01 14:46:56,329 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,330 INFO sqlalchemy.engine.base.Engine ((1300, 'F53', 0, 'Anhydrite', 2600, 2601), (1301, 'F53', 1, 'Sandstone, grey, vf-f', 2602, 2603), (1302, 'F53', 2, 'Anhydrite', 2604, 2605), (1303, 'F53', 3, 'Dolomite', 2606, 2607), (1304, 'F53', 4, 'Anhydrite', 2608, 2609), (1305, 'F53', 5, 'Sandstone, grey, vf-f', 2610, 2611), (1306, 'F53', 6, 'Siltstone, red', 2612, 2613), (1307, 'F53', 7, 'Dolomite', 2614, 2615)  ... displaying 10 of 25 total bound parameter sets ...  (1323, 'F53', 23, 'Limestone', 2646, 2647), (1324, 'F53', 24, 'Volcanic', 2648, 2649))
2021-02-01 14:46:56,333 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:56,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:56,341 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:56,343 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:56,345 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:56,346 INFO sqlalchemy.engine.base.Engine ('F53',)
2021-02-01 14:46:56,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,350 INFO sqlalchemy.engine.base.Engine (2600,)
2021-02-01 14:46:56,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,353 INFO sqlalchemy.engine.base.Engine (2601,)
2021-02-01 14:46:56,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,356 INFO sqlalchemy.engine.base.Engine (2602,)
2021-02-01 14:46:56,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,358 INFO sqlalchemy.engine.base.Engine (2603,)
2021-02-01 14:46:56,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,360 INFO sqlalchemy.engine.base.Engine (2604,)
2021-02-01 14:46:56,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,363 INFO sqlalchemy.engine.base.Engine (2605,)

2021-02-01 14:46:56,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,368 INFO sqlalchemy.engine.base.Engine (2606,)
2021-02-01 14:46:56,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,371 INFO sqlalchemy.engine.base.Engine (2607,)
2021-02-01 14:46:56,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,376 INFO sqlalchemy.engine.base.Engine (2608,)
2021-02-01 14:46:56,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,379 INFO sqlalchemy.engine.base.Engine (2609,)
2021-02-01 14:46:56,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,384 INFO sqlalchemy.engine.base.Engine (2610,)
2021-02-01 14:46:56,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,388 INFO sqlalchemy.engine.base.Engine (2611,)
2021-02-01 14:46:56,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,392 INFO sqlalchemy.engine.base.Engine (2612,)
2021-02-01 14:46:56,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,394 INFO sqlalchemy.engine.base.Engine (2613,)
2021-02-01 14:46:56,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,399 INFO sqlalchemy.engine.base.Engine (2614,)
2021-02-01 14:46:56,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,402 INFO sqlalchemy.engine.base.Engine (2615,)
2021-02-01 14:46:56,407 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,408 INFO sqlalchemy.engine.base.Engine (2616,)
2021-02-01 14:46:56,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,411 INFO sqlalchemy.engine.base.Engine (2617,)
2021-02-01 14:46:56,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,415 INFO sqlalchemy.engine.base.Engine (2618,)
2021-02-01 14:46:56,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,417 INFO sqlalchemy.engine.base.Engine (2619,)
2021-02-01 14:46:56,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,421 INFO sqlalchemy.engine.base.Engine (2620,)
2021-02-01 14:46:56,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,423 INFO sqlalchemy.engine.base.Engine (2621,)
2021-02-01 14:46:56,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,428 INFO sqlalchemy.engine.base.Engine (2622,)
2021-02-01 14:46:56,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,430 INFO sqlalchemy.engine.base.Engine (2623,)
2021-02-01 14:46:56,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,434 INFO sqlalchemy.engine.base.Engine (2624,)
2021-02-01 14:46:56,435 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,436 INFO sqlalchemy.engine.base.Engine (2625,)
2021-02-01 14:46:56,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,441 INFO sqlalchemy.engine.base.Engine (2626,)
2021-02-01 14:46:56,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,443 INFO sqlalchemy.engine.base.Engine (2627,)
2021-02-01 14:46:56,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,448 INFO sqlalchemy.engine.base.Engine (2628,)
2021-02-01 14:46:56,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,450 INFO sqlalchemy.engine.base.Engine (2629,)
2021-02-01 14:46:56,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,454 INFO sqlalchemy.engine.base.Engine (2630,)
2021-02-01 14:46:56,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,457 INFO sqlalchemy.engine.base.Engine (2631,)
2021-02-01 14:46:56,461 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,462 INFO sqlalchemy.engine.base.Engine (2632,)
2021-02-01 14:46:56,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,464 INFO sqlalchemy.engine.base.Engine (2633,)
2021-02-01 14:46:56,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,471 INFO sqlalchemy.engine.base.Engine (2634,)
2021-02-01 14:46:56,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,473 INFO sqlalchemy.engine.base.Engine (2635,)
2021-02-01 14:46:56,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,478 INFO sqlalchemy.engine.base.Engine (2636,)
2021-02-01 14:46:56,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,480 INFO sqlalchemy.engine.base.Engine (2637,)
2021-02-01 14:46:56,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,486 INFO sqlalchemy.engine.base.Engine (2638,)
2021-02-01 14:46:56,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,488 INFO sqlalchemy.engine.base.Engine (2639,)
2021-02-01 14:46:56,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,492 INFO sqlalchemy.engine.base.Engine (2640,)
2021-02-01 14:46:56,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,493 INFO sqlalchemy.engine.base.Engine (2641,)
2021-02-01 14:46:56,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,498 INFO sqlalchemy.engine.base.Engine (2642,)
2021-02-01 14:46:56,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,500 INFO sqlalchemy.engine.base.Engine (2643,)
2021-02-01 14:46:56,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,504 INFO sqlalchemy.engine.base.Engine (2644,)
2021-02-01 14:46:56,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,505 INFO sqlalchemy.engine.base.Engine (2645,)
2021-02-01 14:46:56,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,510 INFO sqlalchemy.engine.base.Engine (2646,)
2021-02-01 14:46:56,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,512 INFO sqlalchemy.engine.base.Engine (2647,)
2021-02-01 14:46:56,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,516 INFO sqlalchemy.engine.base.Engine (2648,)
2021-02-01 14:46:56,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,518 INFO sqlalchemy.engine.base.Engine (2649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:56,567 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:56,567 INFO sqlalchemy.engine.base.Engine ('F54',)
2021-02-01 14:46:56,569 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,570 INFO sqlalchemy.engine.base.Engine ((2650, 14.3, 14.3, 14.3, 4.409295618905064, 50.41409249021858), (2651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409295618905064, 50.41409249021858), (2652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409295618905064, 50.41409249021858), (2653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409295618905064, 50.41409249021858), (2654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409295618905064, 50.41409249021858), (2655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409295618905064, 50.41409249021858), (2656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409295618905064, 50.41409249021858), (2657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409295618905064, 50.41409249021858)  ... displaying 10 of 50 total bound parameter sets ...  (2698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409295618905064, 50.41409249021858), (2699, 135.9, 135.9, 135.9, 4.409295618905064, 50.41409249021858))
2021-02-01 14:46:56,574 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,575 INFO sqlalchemy.engine.base.Engine ((1325, 'F54', 0, 'Anhydrite', 2650, 2651), (1326, 'F54', 1, 'Sandstone, grey, vf-f', 2652, 2653), (1327, 'F54', 2, 'Anhydrite', 2654, 2655), (1328, 'F54', 3, 'Dolomite', 2656, 2657), (1329, 'F54', 4, 'Anhydrite', 2658, 2659), (1330, 'F54', 5, 'Sandstone, grey, vf-f', 2660, 2661), (1331, 'F54', 6, 'Siltstone, red', 2662, 2663), (1332, 'F54', 7, 'Dolomite', 2664, 2665)  ... displaying 10 of 25 total bound parameter sets ...  (1348, 'F54', 23, 'Limestone', 2696, 2697), (1349, 'F54', 24, 'Volcanic', 2698, 2699))
2021-02-01 14:46:56,578 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:56,585 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:56,587 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:56,587 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:56,591 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:56,593 INFO sqlalchemy.engine.base.Engine ('F54',)
2021-02-01 14:46:56,595 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,596 INFO sqlalchemy.engine.base.Engine (2650,)
2021-02-01 14:46:56,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,599 INFO sqlalchemy.engine.base.Engine (2651,)
2021-02-01 14:46:56,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,602 INFO sqlalchemy.engine.base.Engine (2652,)
2021-02-01 14:46:56,603 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,604 INFO sqlalchemy.engine.base.Engine (2653,)
2021-02-01 14:46:56,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,610 INFO sqlalchemy.engine.base.Engine (2654,)
2021-02-01 14:46:56,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,613 INFO sqlalchemy.engine.base.Engine (2655,)
2021-02-01 14:46:56,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,617 INFO sqlalchemy.engine.base.Engine (2656,)
2021-02-01 14:46:56,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,619 INFO sqlalchemy.engine.base.Engine (2657,)
2021-02-01 14:46:56,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,623 INFO sqlalchemy.engine.base.Engine (2658,)
2021-02-01 14:46:56,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,625 INFO sqlalchemy.engine.base.Engine (2659,)
2021-02-01 14:46:56,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,631 INFO sqlalchemy.engine.base.Engine (2660,)

2021-02-01 14:46:56,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,634 INFO sqlalchemy.engine.base.Engine (2661,)
2021-02-01 14:46:56,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,637 INFO sqlalchemy.engine.base.Engine (2662,)
2021-02-01 14:46:56,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,639 INFO sqlalchemy.engine.base.Engine (2663,)
2021-02-01 14:46:56,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,643 INFO sqlalchemy.engine.base.Engine (2664,)
2021-02-01 14:46:56,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,645 INFO sqlalchemy.engine.base.Engine (2665,)
2021-02-01 14:46:56,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,651 INFO sqlalchemy.engine.base.Engine (2666,)
2021-02-01 14:46:56,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,654 INFO sqlalchemy.engine.base.Engine (2667,)
2021-02-01 14:46:56,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,656 INFO sqlalchemy.engine.base.Engine (2668,)
2021-02-01 14:46:56,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,659 INFO sqlalchemy.engine.base.Engine (2669,)
2021-02-01 14:46:56,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,665 INFO sqlalchemy.engine.base.Engine (2670,)
2021-02-01 14:46:56,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,667 INFO sqlalchemy.engine.base.Engine (2671,)
2021-02-01 14:46:56,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,675 INFO sqlalchemy.engine.base.Engine (2672,)
2021-02-01 14:46:56,677 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,678 INFO sqlalchemy.engine.base.Engine (2673,)
2021-02-01 14:46:56,683 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,683 INFO sqlalchemy.engine.base.Engine (2674,)
2021-02-01 14:46:56,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,684 INFO sqlalchemy.engine.base.Engine (2675,)
2021-02-01 14:46:56,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,687 INFO sqlalchemy.engine.base.Engine (2676,)
2021-02-01 14:46:56,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,689 INFO sqlalchemy.engine.base.Engine (2677,)
2021-02-01 14:46:56,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,692 INFO sqlalchemy.engine.base.Engine (2678,)
2021-02-01 14:46:56,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,693 INFO sqlalchemy.engine.base.Engine (2679,)
2021-02-01 14:46:56,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,696 INFO sqlalchemy.engine.base.Engine (2680,)
2021-02-01 14:46:56,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,698 INFO sqlalchemy.engine.base.Engine (2681,)
2021-02-01 14:46:56,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,700 INFO sqlalchemy.engine.base.Engine (2682,)
2021-02-01 14:46:56,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,701 INFO sqlalchemy.engine.base.Engine (2683,)
2021-02-01 14:46:56,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,704 INFO sqlalchemy.engine.base.Engine (2684,)
2021-02-01 14:46:56,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,706 INFO sqlalchemy.engine.base.Engine (2685,)
2021-02-01 14:46:56,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,708 INFO sqlalchemy.engine.base.Engine (2686,)
2021-02-01 14:46:56,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,710 INFO sqlalchemy.engine.base.Engine (2687,)
2021-02-01 14:46:56,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,714 INFO sqlalchemy.engine.base.Engine (2688,)
2021-02-01 14:46:56,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,717 INFO sqlalchemy.engine.base.Engine (2689,)
2021-02-01 14:46:56,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,722 INFO sqlalchemy.engine.base.Engine (2690,)
2021-02-01 14:46:56,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,725 INFO sqlalchemy.engine.base.Engine (2691,)
2021-02-01 14:46:56,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,729 INFO sqlalchemy.engine.base.Engine (2692,)
2021-02-01 14:46:56,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,731 INFO sqlalchemy.engine.base.Engine (2693,)
2021-02-01 14:46:56,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,736 INFO sqlalchemy.engine.base.Engine (2694,)
2021-02-01 14:46:56,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,739 INFO sqlalchemy.engine.base.Engine (2695,)
2021-02-01 14:46:56,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,744 INFO sqlalchemy.engine.base.Engine (2696,)
2021-02-01 14:46:56,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,747 INFO sqlalchemy.engine.base.Engine (2697,)
2021-02-01 14:46:56,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,751 INFO sqlalchemy.engine.base.Engine (2698,)
2021-02-01 14:46:56,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,753 INFO sqlalchemy.engine.base.Engine (2699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:56,800 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,801 INFO sqlalchemy.engine.base.Engine ((2700, 14.3, 14.3, 14.3, 4.409483311842431, 50.414222567592844), (2701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409483311842431, 50.414222567592844), (2702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409483311842431, 50.414222567592844), (2703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409483311842431, 50.414222567592844), (2704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409483311842431, 50.414222567592844), (2705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409483311842431, 50.414222567592844), (2706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409483311842431, 50.414222567592844), (2707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409483311842431, 50.414222567592844)  ... displaying 10 of 50 total bound parameter sets ...  (2748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409483311842431, 50.414222567592844), (2749, 135.9, 135.9, 135.9, 4.409483311842431, 50.414222567592844))

2021-02-01 14:46:56,803 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:56,803 INFO sqlalchemy.engine.base.Engine ('F55',)
2021-02-01 14:46:56,805 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:56,806 INFO sqlalchemy.engine.base.Engine ((1350, 'F55', 0, 'Anhydrite', 2700, 2701), (1351, 'F55', 1, 'Sandstone, grey, vf-f', 2702, 2703), (1352, 'F55', 2, 'Anhydrite', 2704, 2705), (1353, 'F55', 3, 'Dolomite', 2706, 2707), (1354, 'F55', 4, 'Anhydrite', 2708, 2709), (1355, 'F55', 5, 'Sandstone, grey, vf-f', 2710, 2711), (1356, 'F55', 6, 'Siltstone, red', 2712, 2713), (1357, 'F55', 7, 'Dolomite', 2714, 2715)  ... displaying 10 of 25 total bound parameter sets ...  (1373, 'F55', 23, 'Limestone', 2746, 2747), (1374, 'F55', 24, 'Volcanic', 2748, 2749))
2021-02-01 14:46:56,808 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:56,816 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:56,818 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:56,819 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:56,822 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:56,823 INFO sqlalchemy.engine.base.Engine ('F55',)
2021-02-01 14:46:56,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,826 INFO sqlalchemy.engine.base.Engine (2700,)
2021-02-01 14:46:56,828 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,828 INFO sqlalchemy.engine.base.Engine (2701,)
2021-02-01 14:46:56,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,833 INFO sqlalchemy.engine.base.Engine (2702,)
2021-02-01 14:46:56,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,836 INFO sqlalchemy.engine.base.Engine (2703,)
2021-02-01 14:46:56,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,841 INFO sqlalchemy.engine.base.Engine (2704,)
2021-02-01 14:46:56,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,844 INFO sqlalchemy.engine.base.Engine (2705,)
2021-02-01 14:46:56,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,849 INFO sqlalchemy.engine.base.Engine (2706,)
2021-02-01 14:46:56,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,851 INFO sqlalchemy.engine.base.Engine (2707,)
2021-02-01 14:46:56,855 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,857 INFO sqlalchemy.engine.base.Engine (2708,)
2021-02-01 14:46:56,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,860 INFO sqlalchemy.engine.base.Engine (2709,)
2021-02-01 14:46:56,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,863 INFO sqlalchemy.engine.base.Engine (2710,)
2021-02-01 14:46:56,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,865 INFO sqlalchemy.engine.base.Engine (2711,)
2021-02-01 14:46:56,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,871 INFO sqlalchemy.engine.base.Engine (2712,)
2021-02-01 14:46:56,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,873 INFO sqlalchemy.engine.base.Engine (2713,)
2021-02-01 14:46:56,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,876 INFO sqlalchemy.engine.base.Engine (2714,)
2021-02-01 14:46:56,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,879 INFO sqlalchemy.engine.base.Engine (2715,)
2021-02-01 14:46:56,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,884 INFO sqlalchemy.engine.base.Engine (2716,)
2021-02-01 14:46:56,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,887 INFO sqlalchemy.engine.base.Engine (2717,)
2021-02-01 14:46:56,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,892 INFO sqlalchemy.engine.base.Engine (2718,)
2021-02-01 14:46:56,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,895 INFO sqlalchemy.engine.base.Engine (2719,)
2021-02-01 14:46:56,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,899 INFO sqlalchemy.engine.base.Engine (2720,)
2021-02-01 14:46:56,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,901 INFO sqlalchemy.engine.base.Engine (2721,)
2021-02-01 14:46:56,903 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,904 INFO sqlalchemy.engine.base.Engine (2722,)
2021-02-01 14:46:56,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,906 INFO sqlalchemy.engine.base.Engine (2723,)
2021-02-01 14:46:56,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,912 INFO sqlalchemy.engine.base.Engine (2724,)
2021-02-01 14:46:56,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,915 INFO sqlalchemy.engine.base.Engine (2725,)
2021-02-01 14:46:56,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,921 INFO sqlalchemy.engine.base.Engine (2726,)
2021-02-01 14:46:56,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,924 INFO sqlalchemy.engine.base.Engine (2727,)
2021-02-01 14:46:56,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,930 INFO sqlalchemy.engine.base.Engine (2728,)
2021-02-01 14:46:56,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,932 INFO sqlalchemy.engine.base.Engine (2729,)
2021-02-01 14:46:56,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,935 INFO sqlalchemy.engine.base.Engine (2730,)
2021-02-01 14:46:56,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,937 INFO sqlalchemy.engine.base.Engine (2731,)
2021-02-01 14:46:56,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,940 INFO sqlalchemy.engine.base.Engine (2732,)
2021-02-01 14:46:56,942 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,942 INFO sqlalchemy.engine.base.Engine (2733,)
2021-02-01 14:46:56,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,946 INFO sqlalchemy.engine.base.Engine (2734,)
2021-02-01 14:46:56,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,948 INFO sqlalchemy.engine.base.Engine (2735,)
2021-02-01 14:46:56,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,952 INFO sqlalchemy.engine.base.Engine (2736,)
2021-02-01 14:46:56,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:56,955 INFO sqlalchemy.engine.base.Engine (2737,)
2021-02-01 14:46:56,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,960 INFO sqlalchemy.engine.base.Engine (2738,)
2021-02-01 14:46:56,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,963 INFO sqlalchemy.engine.base.Engine (2739,)
2021-02-01 14:46:56,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,969 INFO sqlalchemy.engine.base.Engine (2740,)
2021-02-01 14:46:56,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,971 INFO sqlalchemy.engine.base.Engine (2741,)
2021-02-01 14:46:56,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,975 INFO sqlalchemy.engine.base.Engine (2742,)
2021-02-01 14:46:56,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,978 INFO sqlalchemy.engine.base.Engine (2743,)
2021-02-01 14:46:56,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,981 INFO sqlalchemy.engine.base.Engine (2744,)
2021-02-01 14:46:56,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,982 INFO sqlalchemy.engine.base.Engine (2745,)
2021-02-01 14:46:56,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,984 INFO sqlalchemy.engine.base.Engine (2746,)
2021-02-01 14:46:56,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,985 INFO sqlalchemy.engine.base.Engine (2747,)
2021-02-01 14:46:56,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,987 INFO sqlalchemy.engine.base.Engine (2748,)
2021-02-01 14:46:56,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:56,990 INFO sqlalchemy.engine.base.Engine (2749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:57,050 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,051 INFO sqlalchemy.engine.base.Engine ((2750, 14.3, 14.3, 14.3, 4.40930616805512, 50.414202069691484), (2751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.40930616805512, 50.414202069691484), (2752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.40930616805512, 50.414202069691484), (2753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.40930616805512, 50.414202069691484), (2754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.40930616805512, 50.414202069691484), (2755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.40930616805512, 50.414202069691484), (2756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.40930616805512, 50.414202069691484), (2757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.40930616805512, 50.414202069691484)  ... displaying 10 of 50 total bound parameter sets ...  (2798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.40930616805512, 50.414202069691484), (2799, 135.9, 135.9, 135.9, 4.40930616805512, 50.414202069691484))
2021-02-01 14:46:57,052 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:57,053 INFO sqlalchemy.engine.base.Engine ('F56',)
2021-02-01 14:46:57,055 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,057 INFO sqlalchemy.engine.base.Engine ((1375, 'F56', 0, 'Anhydrite', 2750, 2751), (1376, 'F56', 1, 'Sandstone, grey, vf-f', 2752, 2753), (1377, 'F56', 2, 'Anhydrite', 2754, 2755), (1378, 'F56', 3, 'Dolomite', 2756, 2757), (1379, 'F56', 4, 'Anhydrite', 2758, 2759), (1380, 'F56', 5, 'Sandstone, grey, vf-f', 2760, 2761), (1381, 'F56', 6, 'Siltstone, red', 2762, 2763), (1382, 'F56', 7, 'Dolomite', 2764, 2765)  ... displaying 10 of 25 total bound parameter sets ...  (1398, 'F56', 23, 'Limestone', 2796, 2797), (1399, 'F56', 24, 'Volcanic', 2798, 2799))
2021-02-01 14:46:57,061 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:57,065 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:57,066 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:57,067 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:57,068 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:57,068 INFO sqlalchemy.engine.base.Engine ('F56',)
2021-02-01 14:46:57,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,070 INFO sqlalchemy.engine.base.Engine (2750,)

2021-02-01 14:46:57,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,072 INFO sqlalchemy.engine.base.Engine (2751,)
2021-02-01 14:46:57,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,075 INFO sqlalchemy.engine.base.Engine (2752,)
2021-02-01 14:46:57,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,077 INFO sqlalchemy.engine.base.Engine (2753,)
2021-02-01 14:46:57,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,082 INFO sqlalchemy.engine.base.Engine (2754,)
2021-02-01 14:46:57,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,085 INFO sqlalchemy.engine.base.Engine (2755,)
2021-02-01 14:46:57,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,088 INFO sqlalchemy.engine.base.Engine (2756,)
2021-02-01 14:46:57,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,090 INFO sqlalchemy.engine.base.Engine (2757,)
2021-02-01 14:46:57,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,093 INFO sqlalchemy.engine.base.Engine (2758,)
2021-02-01 14:46:57,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,096 INFO sqlalchemy.engine.base.Engine (2759,)
2021-02-01 14:46:57,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,099 INFO sqlalchemy.engine.base.Engine (2760,)
2021-02-01 14:46:57,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,102 INFO sqlalchemy.engine.base.Engine (2761,)
2021-02-01 14:46:57,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,106 INFO sqlalchemy.engine.base.Engine (2762,)
2021-02-01 14:46:57,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,109 INFO sqlalchemy.engine.base.Engine (2763,)
2021-02-01 14:46:57,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,113 INFO sqlalchemy.engine.base.Engine (2764,)
2021-02-01 14:46:57,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,115 INFO sqlalchemy.engine.base.Engine (2765,)
2021-02-01 14:46:57,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,119 INFO sqlalchemy.engine.base.Engine (2766,)
2021-02-01 14:46:57,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,123 INFO sqlalchemy.engine.base.Engine (2767,)
2021-02-01 14:46:57,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,127 INFO sqlalchemy.engine.base.Engine (2768,)
2021-02-01 14:46:57,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,129 INFO sqlalchemy.engine.base.Engine (2769,)
2021-02-01 14:46:57,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,132 INFO sqlalchemy.engine.base.Engine (2770,)
2021-02-01 14:46:57,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,134 INFO sqlalchemy.engine.base.Engine (2771,)
2021-02-01 14:46:57,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,138 INFO sqlalchemy.engine.base.Engine (2772,)
2021-02-01 14:46:57,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,140 INFO sqlalchemy.engine.base.Engine (2773,)
2021-02-01 14:46:57,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,144 INFO sqlalchemy.engine.base.Engine (2774,)
2021-02-01 14:46:57,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,146 INFO sqlalchemy.engine.base.Engine (2775,)
2021-02-01 14:46:57,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,151 INFO sqlalchemy.engine.base.Engine (2776,)
2021-02-01 14:46:57,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,152 INFO sqlalchemy.engine.base.Engine (2777,)
2021-02-01 14:46:57,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,159 INFO sqlalchemy.engine.base.Engine (2778,)
2021-02-01 14:46:57,161 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,162 INFO sqlalchemy.engine.base.Engine (2779,)
2021-02-01 14:46:57,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,164 INFO sqlalchemy.engine.base.Engine (2780,)
2021-02-01 14:46:57,166 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,166 INFO sqlalchemy.engine.base.Engine (2781,)
2021-02-01 14:46:57,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,170 INFO sqlalchemy.engine.base.Engine (2782,)
2021-02-01 14:46:57,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,173 INFO sqlalchemy.engine.base.Engine (2783,)
2021-02-01 14:46:57,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,179 INFO sqlalchemy.engine.base.Engine (2784,)
2021-02-01 14:46:57,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,181 INFO sqlalchemy.engine.base.Engine (2785,)
2021-02-01 14:46:57,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,185 INFO sqlalchemy.engine.base.Engine (2786,)
2021-02-01 14:46:57,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,188 INFO sqlalchemy.engine.base.Engine (2787,)
2021-02-01 14:46:57,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,192 INFO sqlalchemy.engine.base.Engine (2788,)
2021-02-01 14:46:57,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,194 INFO sqlalchemy.engine.base.Engine (2789,)
2021-02-01 14:46:57,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,198 INFO sqlalchemy.engine.base.Engine (2790,)
2021-02-01 14:46:57,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,201 INFO sqlalchemy.engine.base.Engine (2791,)
2021-02-01 14:46:57,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,204 INFO sqlalchemy.engine.base.Engine (2792,)
2021-02-01 14:46:57,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,207 INFO sqlalchemy.engine.base.Engine (2793,)
2021-02-01 14:46:57,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,212 INFO sqlalchemy.engine.base.Engine (2794,)
2021-02-01 14:46:57,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,214 INFO sqlalchemy.engine.base.Engine (2795,)
2021-02-01 14:46:57,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,217 INFO sqlalchemy.engine.base.Engine (2796,)
2021-02-01 14:46:57,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,220 INFO sqlalchemy.engine.base.Engine (2797,)
2021-02-01 14:46:57,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,225 INFO sqlalchemy.engine.base.Engine (2798,)
2021-02-01 14:46:57,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,227 INFO sqlalchemy.engine.base.Engine (2799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:57,277 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,278 INFO sqlalchemy.engine.base.Engine ((2800, 14.3, 14.3, 14.3, 4.409381200703211, 50.41413502906922), (2801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409381200703211, 50.41413502906922), (2802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409381200703211, 50.41413502906922), (2803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409381200703211, 50.41413502906922), (2804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409381200703211, 50.41413502906922), (2805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409381200703211, 50.41413502906922), (2806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409381200703211, 50.41413502906922), (2807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409381200703211, 50.41413502906922)  ... displaying 10 of 50 total bound parameter sets ...  (2848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409381200703211, 50.41413502906922), (2849, 135.9, 135.9, 135.9, 4.409381200703211, 50.41413502906922))
2021-02-01 14:46:57,280 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:57,280 INFO sqlalchemy.engine.base.Engine ('F57',)
2021-02-01 14:46:57,284 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,285 INFO sqlalchemy.engine.base.Engine ((1400, 'F57', 0, 'Anhydrite', 2800, 2801), (1401, 'F57', 1, 'Sandstone, grey, vf-f', 2802, 2803), (1402, 'F57', 2, 'Anhydrite', 2804, 2805), (1403, 'F57', 3, 'Dolomite', 2806, 2807), (1404, 'F57', 4, 'Anhydrite', 2808, 2809), (1405, 'F57', 5, 'Sandstone, grey, vf-f', 2810, 2811), (1406, 'F57', 6, 'Siltstone, red', 2812, 2813), (1407, 'F57', 7, 'Dolomite', 2814, 2815)  ... displaying 10 of 25 total bound parameter sets ...  (1423, 'F57', 23, 'Limestone', 2846, 2847), (1424, 'F57', 24, 'Volcanic', 2848, 2849))
2021-02-01 14:46:57,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:57,295 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:57,296 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:57,297 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:57,298 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:57,298 INFO sqlalchemy.engine.base.Engine ('F57',)
2021-02-01 14:46:57,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,301 INFO sqlalchemy.engine.base.Engine (2800,)
2021-02-01 14:46:57,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,303 INFO sqlalchemy.engine.base.Engine (2801,)
2021-02-01 14:46:57,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,306 INFO sqlalchemy.engine.base.Engine (2802,)
2021-02-01 14:46:57,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,308 INFO sqlalchemy.engine.base.Engine (2803,)
2021-02-01 14:46:57,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,311 INFO sqlalchemy.engine.base.Engine (2804,)
2021-02-01 14:46:57,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,312 INFO sqlalchemy.engine.base.Engine (2805,)

2021-02-01 14:46:57,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,317 INFO sqlalchemy.engine.base.Engine (2806,)
2021-02-01 14:46:57,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,320 INFO sqlalchemy.engine.base.Engine (2807,)
2021-02-01 14:46:57,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,325 INFO sqlalchemy.engine.base.Engine (2808,)
2021-02-01 14:46:57,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,326 INFO sqlalchemy.engine.base.Engine (2809,)
2021-02-01 14:46:57,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,329 INFO sqlalchemy.engine.base.Engine (2810,)
2021-02-01 14:46:57,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,330 INFO sqlalchemy.engine.base.Engine (2811,)
2021-02-01 14:46:57,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,335 INFO sqlalchemy.engine.base.Engine (2812,)
2021-02-01 14:46:57,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,338 INFO sqlalchemy.engine.base.Engine (2813,)
2021-02-01 14:46:57,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,341 INFO sqlalchemy.engine.base.Engine (2814,)
2021-02-01 14:46:57,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,343 INFO sqlalchemy.engine.base.Engine (2815,)
2021-02-01 14:46:57,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,346 INFO sqlalchemy.engine.base.Engine (2816,)
2021-02-01 14:46:57,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,349 INFO sqlalchemy.engine.base.Engine (2817,)
2021-02-01 14:46:57,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,353 INFO sqlalchemy.engine.base.Engine (2818,)
2021-02-01 14:46:57,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,357 INFO sqlalchemy.engine.base.Engine (2819,)
2021-02-01 14:46:57,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,362 INFO sqlalchemy.engine.base.Engine (2820,)
2021-02-01 14:46:57,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,364 INFO sqlalchemy.engine.base.Engine (2821,)
2021-02-01 14:46:57,368 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,370 INFO sqlalchemy.engine.base.Engine (2822,)
2021-02-01 14:46:57,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,372 INFO sqlalchemy.engine.base.Engine (2823,)
2021-02-01 14:46:57,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,377 INFO sqlalchemy.engine.base.Engine (2824,)
2021-02-01 14:46:57,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,379 INFO sqlalchemy.engine.base.Engine (2825,)
2021-02-01 14:46:57,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,383 INFO sqlalchemy.engine.base.Engine (2826,)
2021-02-01 14:46:57,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,385 INFO sqlalchemy.engine.base.Engine (2827,)
2021-02-01 14:46:57,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,392 INFO sqlalchemy.engine.base.Engine (2828,)
2021-02-01 14:46:57,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,394 INFO sqlalchemy.engine.base.Engine (2829,)
2021-02-01 14:46:57,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,397 INFO sqlalchemy.engine.base.Engine (2830,)
2021-02-01 14:46:57,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,399 INFO sqlalchemy.engine.base.Engine (2831,)
2021-02-01 14:46:57,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,402 INFO sqlalchemy.engine.base.Engine (2832,)
2021-02-01 14:46:57,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,406 INFO sqlalchemy.engine.base.Engine (2833,)
2021-02-01 14:46:57,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,411 INFO sqlalchemy.engine.base.Engine (2834,)
2021-02-01 14:46:57,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,413 INFO sqlalchemy.engine.base.Engine (2835,)
2021-02-01 14:46:57,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,417 INFO sqlalchemy.engine.base.Engine (2836,)
2021-02-01 14:46:57,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,419 INFO sqlalchemy.engine.base.Engine (2837,)
2021-02-01 14:46:57,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,424 INFO sqlalchemy.engine.base.Engine (2838,)
2021-02-01 14:46:57,426 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,427 INFO sqlalchemy.engine.base.Engine (2839,)
2021-02-01 14:46:57,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,431 INFO sqlalchemy.engine.base.Engine (2840,)
2021-02-01 14:46:57,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,435 INFO sqlalchemy.engine.base.Engine (2841,)
2021-02-01 14:46:57,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,440 INFO sqlalchemy.engine.base.Engine (2842,)
2021-02-01 14:46:57,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,442 INFO sqlalchemy.engine.base.Engine (2843,)
2021-02-01 14:46:57,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,447 INFO sqlalchemy.engine.base.Engine (2844,)
2021-02-01 14:46:57,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,448 INFO sqlalchemy.engine.base.Engine (2845,)
2021-02-01 14:46:57,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,451 INFO sqlalchemy.engine.base.Engine (2846,)
2021-02-01 14:46:57,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,454 INFO sqlalchemy.engine.base.Engine (2847,)
2021-02-01 14:46:57,456 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,457 INFO sqlalchemy.engine.base.Engine (2848,)
2021-02-01 14:46:57,459 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,460 INFO sqlalchemy.engine.base.Engine (2849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:57,512 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,513 INFO sqlalchemy.engine.base.Engine ((2850, 14.3, 14.3, 14.3, 4.409429777676031, 50.41414393919348), (2851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409429777676031, 50.41414393919348), (2852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409429777676031, 50.41414393919348), (2853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409429777676031, 50.41414393919348), (2854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409429777676031, 50.41414393919348), (2855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409429777676031, 50.41414393919348), (2856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409429777676031, 50.41414393919348), (2857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409429777676031, 50.41414393919348)  ... displaying 10 of 50 total bound parameter sets ...  (2898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409429777676031, 50.41414393919348), (2899, 135.9, 135.9, 135.9, 4.409429777676031, 50.41414393919348))
2021-02-01 14:46:57,515 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:57,516 INFO sqlalchemy.engine.base.Engine ('F58',)
2021-02-01 14:46:57,519 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,520 INFO sqlalchemy.engine.base.Engine ((1425, 'F58', 0, 'Anhydrite', 2850, 2851), (1426, 'F58', 1, 'Sandstone, grey, vf-f', 2852, 2853), (1427, 'F58', 2, 'Anhydrite', 2854, 2855), (1428, 'F58', 3, 'Dolomite', 2856, 2857), (1429, 'F58', 4, 'Anhydrite', 2858, 2859), (1430, 'F58', 5, 'Sandstone, grey, vf-f', 2860, 2861), (1431, 'F58', 6, 'Siltstone, red', 2862, 2863), (1432, 'F58', 7, 'Dolomite', 2864, 2865)  ... displaying 10 of 25 total bound parameter sets ...  (1448, 'F58', 23, 'Limestone', 2896, 2897), (1449, 'F58', 24, 'Volcanic', 2898, 2899))
2021-02-01 14:46:57,522 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:57,529 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:57,530 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:57,530 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:57,533 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:57,534 INFO sqlalchemy.engine.base.Engine ('F58',)
2021-02-01 14:46:57,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,537 INFO sqlalchemy.engine.base.Engine (2850,)
2021-02-01 14:46:57,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,541 INFO sqlalchemy.engine.base.Engine (2851,)
2021-02-01 14:46:57,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,547 INFO sqlalchemy.engine.base.Engine (2852,)
2021-02-01 14:46:57,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,550 INFO sqlalchemy.engine.base.Engine (2853,)
2021-02-01 14:46:57,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,553 INFO sqlalchemy.engine.base.Engine (2854,)
2021-02-01 14:46:57,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,555 INFO sqlalchemy.engine.base.Engine (2855,)
2021-02-01 14:46:57,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,558 INFO sqlalchemy.engine.base.Engine (2856,)
2021-02-01 14:46:57,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,560 INFO sqlalchemy.engine.base.Engine (2857,)
2021-02-01 14:46:57,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,564 INFO sqlalchemy.engine.base.Engine (2858,)
2021-02-01 14:46:57,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,567 INFO sqlalchemy.engine.base.Engine (2859,)
2021-02-01 14:46:57,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,570 INFO sqlalchemy.engine.base.Engine (2860,)

2021-02-01 14:46:57,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,572 INFO sqlalchemy.engine.base.Engine (2861,)
2021-02-01 14:46:57,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,579 INFO sqlalchemy.engine.base.Engine (2862,)
2021-02-01 14:46:57,581 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,582 INFO sqlalchemy.engine.base.Engine (2863,)
2021-02-01 14:46:57,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,585 INFO sqlalchemy.engine.base.Engine (2864,)
2021-02-01 14:46:57,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,587 INFO sqlalchemy.engine.base.Engine (2865,)
2021-02-01 14:46:57,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,591 INFO sqlalchemy.engine.base.Engine (2866,)
2021-02-01 14:46:57,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,594 INFO sqlalchemy.engine.base.Engine (2867,)
2021-02-01 14:46:57,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,600 INFO sqlalchemy.engine.base.Engine (2868,)
2021-02-01 14:46:57,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,602 INFO sqlalchemy.engine.base.Engine (2869,)
2021-02-01 14:46:57,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,606 INFO sqlalchemy.engine.base.Engine (2870,)
2021-02-01 14:46:57,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,608 INFO sqlalchemy.engine.base.Engine (2871,)
2021-02-01 14:46:57,610 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,611 INFO sqlalchemy.engine.base.Engine (2872,)
2021-02-01 14:46:57,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,613 INFO sqlalchemy.engine.base.Engine (2873,)
2021-02-01 14:46:57,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,616 INFO sqlalchemy.engine.base.Engine (2874,)
2021-02-01 14:46:57,617 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,618 INFO sqlalchemy.engine.base.Engine (2875,)
2021-02-01 14:46:57,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,621 INFO sqlalchemy.engine.base.Engine (2876,)
2021-02-01 14:46:57,623 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,624 INFO sqlalchemy.engine.base.Engine (2877,)
2021-02-01 14:46:57,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,628 INFO sqlalchemy.engine.base.Engine (2878,)
2021-02-01 14:46:57,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,631 INFO sqlalchemy.engine.base.Engine (2879,)
2021-02-01 14:46:57,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,635 INFO sqlalchemy.engine.base.Engine (2880,)
2021-02-01 14:46:57,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,637 INFO sqlalchemy.engine.base.Engine (2881,)
2021-02-01 14:46:57,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,641 INFO sqlalchemy.engine.base.Engine (2882,)
2021-02-01 14:46:57,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,643 INFO sqlalchemy.engine.base.Engine (2883,)
2021-02-01 14:46:57,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,647 INFO sqlalchemy.engine.base.Engine (2884,)
2021-02-01 14:46:57,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,649 INFO sqlalchemy.engine.base.Engine (2885,)
2021-02-01 14:46:57,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,655 INFO sqlalchemy.engine.base.Engine (2886,)
2021-02-01 14:46:57,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,657 INFO sqlalchemy.engine.base.Engine (2887,)
2021-02-01 14:46:57,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,663 INFO sqlalchemy.engine.base.Engine (2888,)
2021-02-01 14:46:57,664 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,664 INFO sqlalchemy.engine.base.Engine (2889,)
2021-02-01 14:46:57,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,668 INFO sqlalchemy.engine.base.Engine (2890,)
2021-02-01 14:46:57,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,671 INFO sqlalchemy.engine.base.Engine (2891,)
2021-02-01 14:46:57,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,675 INFO sqlalchemy.engine.base.Engine (2892,)
2021-02-01 14:46:57,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,676 INFO sqlalchemy.engine.base.Engine (2893,)
2021-02-01 14:46:57,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,680 INFO sqlalchemy.engine.base.Engine (2894,)
2021-02-01 14:46:57,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,682 INFO sqlalchemy.engine.base.Engine (2895,)
2021-02-01 14:46:57,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,687 INFO sqlalchemy.engine.base.Engine (2896,)
2021-02-01 14:46:57,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,689 INFO sqlalchemy.engine.base.Engine (2897,)
2021-02-01 14:46:57,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,693 INFO sqlalchemy.engine.base.Engine (2898,)
2021-02-01 14:46:57,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,695 INFO sqlalchemy.engine.base.Engine (2899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:57,755 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,756 INFO sqlalchemy.engine.base.Engine ((2900, 14.3, 14.3, 14.3, 4.4092776373679605, 50.41415699327364), (2901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4092776373679605, 50.41415699327364), (2902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4092776373679605, 50.41415699327364), (2903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4092776373679605, 50.41415699327364), (2904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4092776373679605, 50.41415699327364), (2905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4092776373679605, 50.41415699327364), (2906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4092776373679605, 50.41415699327364), (2907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4092776373679605, 50.41415699327364)  ... displaying 10 of 50 total bound parameter sets ...  (2948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4092776373679605, 50.41415699327364), (2949, 135.9, 135.9, 135.9, 4.4092776373679605, 50.41415699327364))

2021-02-01 14:46:57,758 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:57,759 INFO sqlalchemy.engine.base.Engine ('F59',)
2021-02-01 14:46:57,761 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,762 INFO sqlalchemy.engine.base.Engine ((1450, 'F59', 0, 'Anhydrite', 2900, 2901), (1451, 'F59', 1, 'Sandstone, grey, vf-f', 2902, 2903), (1452, 'F59', 2, 'Anhydrite', 2904, 2905), (1453, 'F59', 3, 'Dolomite', 2906, 2907), (1454, 'F59', 4, 'Anhydrite', 2908, 2909), (1455, 'F59', 5, 'Sandstone, grey, vf-f', 2910, 2911), (1456, 'F59', 6, 'Siltstone, red', 2912, 2913), (1457, 'F59', 7, 'Dolomite', 2914, 2915)  ... displaying 10 of 25 total bound parameter sets ...  (1473, 'F59', 23, 'Limestone', 2946, 2947), (1474, 'F59', 24, 'Volcanic', 2948, 2949))
2021-02-01 14:46:57,763 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:57,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:57,768 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:57,768 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:57,769 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:57,770 INFO sqlalchemy.engine.base.Engine ('F59',)
2021-02-01 14:46:57,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,772 INFO sqlalchemy.engine.base.Engine (2900,)
2021-02-01 14:46:57,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,774 INFO sqlalchemy.engine.base.Engine (2901,)
2021-02-01 14:46:57,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,778 INFO sqlalchemy.engine.base.Engine (2902,)
2021-02-01 14:46:57,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,780 INFO sqlalchemy.engine.base.Engine (2903,)
2021-02-01 14:46:57,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,784 INFO sqlalchemy.engine.base.Engine (2904,)
2021-02-01 14:46:57,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,786 INFO sqlalchemy.engine.base.Engine (2905,)
2021-02-01 14:46:57,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,790 INFO sqlalchemy.engine.base.Engine (2906,)
2021-02-01 14:46:57,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,793 INFO sqlalchemy.engine.base.Engine (2907,)
2021-02-01 14:46:57,796 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,797 INFO sqlalchemy.engine.base.Engine (2908,)
2021-02-01 14:46:57,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,798 INFO sqlalchemy.engine.base.Engine (2909,)
2021-02-01 14:46:57,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,801 INFO sqlalchemy.engine.base.Engine (2910,)
2021-02-01 14:46:57,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,802 INFO sqlalchemy.engine.base.Engine (2911,)
2021-02-01 14:46:57,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,805 INFO sqlalchemy.engine.base.Engine (2912,)
2021-02-01 14:46:57,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,807 INFO sqlalchemy.engine.base.Engine (2913,)
2021-02-01 14:46:57,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,812 INFO sqlalchemy.engine.base.Engine (2914,)
2021-02-01 14:46:57,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,813 INFO sqlalchemy.engine.base.Engine (2915,)
2021-02-01 14:46:57,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,816 INFO sqlalchemy.engine.base.Engine (2916,)
2021-02-01 14:46:57,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,819 INFO sqlalchemy.engine.base.Engine (2917,)
2021-02-01 14:46:57,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,824 INFO sqlalchemy.engine.base.Engine (2918,)
2021-02-01 14:46:57,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,826 INFO sqlalchemy.engine.base.Engine (2919,)
2021-02-01 14:46:57,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,831 INFO sqlalchemy.engine.base.Engine (2920,)
2021-02-01 14:46:57,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,833 INFO sqlalchemy.engine.base.Engine (2921,)
2021-02-01 14:46:57,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,835 INFO sqlalchemy.engine.base.Engine (2922,)
2021-02-01 14:46:57,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,837 INFO sqlalchemy.engine.base.Engine (2923,)
2021-02-01 14:46:57,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,843 INFO sqlalchemy.engine.base.Engine (2924,)
2021-02-01 14:46:57,844 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,845 INFO sqlalchemy.engine.base.Engine (2925,)
2021-02-01 14:46:57,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,849 INFO sqlalchemy.engine.base.Engine (2926,)
2021-02-01 14:46:57,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,851 INFO sqlalchemy.engine.base.Engine (2927,)
2021-02-01 14:46:57,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,855 INFO sqlalchemy.engine.base.Engine (2928,)
2021-02-01 14:46:57,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,858 INFO sqlalchemy.engine.base.Engine (2929,)
2021-02-01 14:46:57,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,863 INFO sqlalchemy.engine.base.Engine (2930,)
2021-02-01 14:46:57,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,865 INFO sqlalchemy.engine.base.Engine (2931,)
2021-02-01 14:46:57,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,869 INFO sqlalchemy.engine.base.Engine (2932,)
2021-02-01 14:46:57,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,871 INFO sqlalchemy.engine.base.Engine (2933,)
2021-02-01 14:46:57,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,875 INFO sqlalchemy.engine.base.Engine (2934,)
2021-02-01 14:46:57,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,877 INFO sqlalchemy.engine.base.Engine (2935,)
2021-02-01 14:46:57,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,882 INFO sqlalchemy.engine.base.Engine (2936,)
2021-02-01 14:46:57,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:57,884 INFO sqlalchemy.engine.base.Engine (2937,)
2021-02-01 14:46:57,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,887 INFO sqlalchemy.engine.base.Engine (2938,)
2021-02-01 14:46:57,889 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,889 INFO sqlalchemy.engine.base.Engine (2939,)
2021-02-01 14:46:57,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,892 INFO sqlalchemy.engine.base.Engine (2940,)
2021-02-01 14:46:57,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,895 INFO sqlalchemy.engine.base.Engine (2941,)
2021-02-01 14:46:57,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,899 INFO sqlalchemy.engine.base.Engine (2942,)
2021-02-01 14:46:57,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,901 INFO sqlalchemy.engine.base.Engine (2943,)
2021-02-01 14:46:57,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,904 INFO sqlalchemy.engine.base.Engine (2944,)
2021-02-01 14:46:57,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,907 INFO sqlalchemy.engine.base.Engine (2945,)
2021-02-01 14:46:57,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,910 INFO sqlalchemy.engine.base.Engine (2946,)
2021-02-01 14:46:57,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,912 INFO sqlalchemy.engine.base.Engine (2947,)
2021-02-01 14:46:57,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,916 INFO sqlalchemy.engine.base.Engine (2948,)
2021-02-01 14:46:57,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:57,918 INFO sqlalchemy.engine.base.Engine (2949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:57,979 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:57,980 INFO sqlalchemy.engine.base.Engine ('F60',)
2021-02-01 14:46:57,982 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,984 INFO sqlalchemy.engine.base.Engine ((2950, 14.3, 14.3, 14.3, 4.409463328427599, 50.41423392950854), (2951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409463328427599, 50.41423392950854), (2952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409463328427599, 50.41423392950854), (2953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409463328427599, 50.41423392950854), (2954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409463328427599, 50.41423392950854), (2955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409463328427599, 50.41423392950854), (2956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409463328427599, 50.41423392950854), (2957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409463328427599, 50.41423392950854)  ... displaying 10 of 50 total bound parameter sets ...  (2998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409463328427599, 50.41423392950854), (2999, 135.9, 135.9, 135.9, 4.409463328427599, 50.41423392950854))
2021-02-01 14:46:57,989 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:57,990 INFO sqlalchemy.engine.base.Engine ((1475, 'F60', 0, 'Anhydrite', 2950, 2951), (1476, 'F60', 1, 'Sandstone, grey, vf-f', 2952, 2953), (1477, 'F60', 2, 'Anhydrite', 2954, 2955), (1478, 'F60', 3, 'Dolomite', 2956, 2957), (1479, 'F60', 4, 'Anhydrite', 2958, 2959), (1480, 'F60', 5, 'Sandstone, grey, vf-f', 2960, 2961), (1481, 'F60', 6, 'Siltstone, red', 2962, 2963), (1482, 'F60', 7, 'Dolomite', 2964, 2965)  ... displaying 10 of 25 total bound parameter sets ...  (1498, 'F60', 23, 'Limestone', 2996, 2997), (1499, 'F60', 24, 'Volcanic', 2998, 2999))
2021-02-01 14:46:57,993 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:58,000 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:58,001 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:58,002 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:58,005 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:58,005 INFO sqlalchemy.engine.base.Engine ('F60',)
2021-02-01 14:46:58,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,009 INFO sqlalchemy.engine.base.Engine (2950,)

2021-02-01 14:46:58,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,012 INFO sqlalchemy.engine.base.Engine (2951,)
2021-02-01 14:46:58,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,015 INFO sqlalchemy.engine.base.Engine (2952,)
2021-02-01 14:46:58,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,017 INFO sqlalchemy.engine.base.Engine (2953,)
2021-02-01 14:46:58,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,022 INFO sqlalchemy.engine.base.Engine (2954,)
2021-02-01 14:46:58,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,024 INFO sqlalchemy.engine.base.Engine (2955,)
2021-02-01 14:46:58,026 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,028 INFO sqlalchemy.engine.base.Engine (2956,)
2021-02-01 14:46:58,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,030 INFO sqlalchemy.engine.base.Engine (2957,)
2021-02-01 14:46:58,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,034 INFO sqlalchemy.engine.base.Engine (2958,)
2021-02-01 14:46:58,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,037 INFO sqlalchemy.engine.base.Engine (2959,)
2021-02-01 14:46:58,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,041 INFO sqlalchemy.engine.base.Engine (2960,)
2021-02-01 14:46:58,042 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,043 INFO sqlalchemy.engine.base.Engine (2961,)
2021-02-01 14:46:58,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,047 INFO sqlalchemy.engine.base.Engine (2962,)
2021-02-01 14:46:58,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,049 INFO sqlalchemy.engine.base.Engine (2963,)
2021-02-01 14:46:58,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,055 INFO sqlalchemy.engine.base.Engine (2964,)
2021-02-01 14:46:58,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,057 INFO sqlalchemy.engine.base.Engine (2965,)
2021-02-01 14:46:58,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,063 INFO sqlalchemy.engine.base.Engine (2966,)
2021-02-01 14:46:58,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,065 INFO sqlalchemy.engine.base.Engine (2967,)
2021-02-01 14:46:58,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,069 INFO sqlalchemy.engine.base.Engine (2968,)
2021-02-01 14:46:58,070 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,071 INFO sqlalchemy.engine.base.Engine (2969,)
2021-02-01 14:46:58,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,074 INFO sqlalchemy.engine.base.Engine (2970,)
2021-02-01 14:46:58,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,075 INFO sqlalchemy.engine.base.Engine (2971,)
2021-02-01 14:46:58,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,079 INFO sqlalchemy.engine.base.Engine (2972,)
2021-02-01 14:46:58,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,081 INFO sqlalchemy.engine.base.Engine (2973,)
2021-02-01 14:46:58,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,084 INFO sqlalchemy.engine.base.Engine (2974,)
2021-02-01 14:46:58,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,086 INFO sqlalchemy.engine.base.Engine (2975,)
2021-02-01 14:46:58,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,089 INFO sqlalchemy.engine.base.Engine (2976,)
2021-02-01 14:46:58,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,091 INFO sqlalchemy.engine.base.Engine (2977,)
2021-02-01 14:46:58,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,095 INFO sqlalchemy.engine.base.Engine (2978,)
2021-02-01 14:46:58,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,097 INFO sqlalchemy.engine.base.Engine (2979,)
2021-02-01 14:46:58,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,101 INFO sqlalchemy.engine.base.Engine (2980,)
2021-02-01 14:46:58,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,104 INFO sqlalchemy.engine.base.Engine (2981,)
2021-02-01 14:46:58,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,109 INFO sqlalchemy.engine.base.Engine (2982,)
2021-02-01 14:46:58,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,111 INFO sqlalchemy.engine.base.Engine (2983,)
2021-02-01 14:46:58,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,117 INFO sqlalchemy.engine.base.Engine (2984,)
2021-02-01 14:46:58,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,120 INFO sqlalchemy.engine.base.Engine (2985,)
2021-02-01 14:46:58,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,125 INFO sqlalchemy.engine.base.Engine (2986,)
2021-02-01 14:46:58,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,128 INFO sqlalchemy.engine.base.Engine (2987,)
2021-02-01 14:46:58,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,132 INFO sqlalchemy.engine.base.Engine (2988,)
2021-02-01 14:46:58,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,135 INFO sqlalchemy.engine.base.Engine (2989,)
2021-02-01 14:46:58,138 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,139 INFO sqlalchemy.engine.base.Engine (2990,)
2021-02-01 14:46:58,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,141 INFO sqlalchemy.engine.base.Engine (2991,)
2021-02-01 14:46:58,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,143 INFO sqlalchemy.engine.base.Engine (2992,)
2021-02-01 14:46:58,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,145 INFO sqlalchemy.engine.base.Engine (2993,)
2021-02-01 14:46:58,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,147 INFO sqlalchemy.engine.base.Engine (2994,)
2021-02-01 14:46:58,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,149 INFO sqlalchemy.engine.base.Engine (2995,)
2021-02-01 14:46:58,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,153 INFO sqlalchemy.engine.base.Engine (2996,)
2021-02-01 14:46:58,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,155 INFO sqlalchemy.engine.base.Engine (2997,)
2021-02-01 14:46:58,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,158 INFO sqlalchemy.engine.base.Engine (2998,)
2021-02-01 14:46:58,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,159 INFO sqlalchemy.engine.base.Engine (2999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:58,213 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,214 INFO sqlalchemy.engine.base.Engine ((3000, 14.3, 14.3, 14.3, 4.409367257982521, 50.4142164505157), (3001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409367257982521, 50.4142164505157), (3002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409367257982521, 50.4142164505157), (3003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409367257982521, 50.4142164505157), (3004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409367257982521, 50.4142164505157), (3005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409367257982521, 50.4142164505157), (3006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409367257982521, 50.4142164505157), (3007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409367257982521, 50.4142164505157)  ... displaying 10 of 50 total bound parameter sets ...  (3048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409367257982521, 50.4142164505157), (3049, 135.9, 135.9, 135.9, 4.409367257982521, 50.4142164505157))
2021-02-01 14:46:58,216 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:58,217 INFO sqlalchemy.engine.base.Engine ('F61',)
2021-02-01 14:46:58,220 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,221 INFO sqlalchemy.engine.base.Engine ((1500, 'F61', 0, 'Anhydrite', 3000, 3001), (1501, 'F61', 1, 'Sandstone, grey, vf-f', 3002, 3003), (1502, 'F61', 2, 'Anhydrite', 3004, 3005), (1503, 'F61', 3, 'Dolomite', 3006, 3007), (1504, 'F61', 4, 'Anhydrite', 3008, 3009), (1505, 'F61', 5, 'Sandstone, grey, vf-f', 3010, 3011), (1506, 'F61', 6, 'Siltstone, red', 3012, 3013), (1507, 'F61', 7, 'Dolomite', 3014, 3015)  ... displaying 10 of 25 total bound parameter sets ...  (1523, 'F61', 23, 'Limestone', 3046, 3047), (1524, 'F61', 24, 'Volcanic', 3048, 3049))
2021-02-01 14:46:58,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:58,230 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:58,231 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:58,231 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:58,233 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:58,234 INFO sqlalchemy.engine.base.Engine ('F61',)
2021-02-01 14:46:58,236 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,237 INFO sqlalchemy.engine.base.Engine (3000,)
2021-02-01 14:46:58,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,241 INFO sqlalchemy.engine.base.Engine (3001,)
2021-02-01 14:46:58,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,246 INFO sqlalchemy.engine.base.Engine (3002,)
2021-02-01 14:46:58,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,248 INFO sqlalchemy.engine.base.Engine (3003,)
2021-02-01 14:46:58,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,252 INFO sqlalchemy.engine.base.Engine (3004,)
2021-02-01 14:46:58,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,254 INFO sqlalchemy.engine.base.Engine (3005,)

2021-02-01 14:46:58,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,260 INFO sqlalchemy.engine.base.Engine (3006,)
2021-02-01 14:46:58,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,263 INFO sqlalchemy.engine.base.Engine (3007,)
2021-02-01 14:46:58,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,266 INFO sqlalchemy.engine.base.Engine (3008,)
2021-02-01 14:46:58,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,267 INFO sqlalchemy.engine.base.Engine (3009,)
2021-02-01 14:46:58,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,270 INFO sqlalchemy.engine.base.Engine (3010,)
2021-02-01 14:46:58,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,272 INFO sqlalchemy.engine.base.Engine (3011,)
2021-02-01 14:46:58,276 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,276 INFO sqlalchemy.engine.base.Engine (3012,)
2021-02-01 14:46:58,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,277 INFO sqlalchemy.engine.base.Engine (3013,)
2021-02-01 14:46:58,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,282 INFO sqlalchemy.engine.base.Engine (3014,)
2021-02-01 14:46:58,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,284 INFO sqlalchemy.engine.base.Engine (3015,)
2021-02-01 14:46:58,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,287 INFO sqlalchemy.engine.base.Engine (3016,)
2021-02-01 14:46:58,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,290 INFO sqlalchemy.engine.base.Engine (3017,)
2021-02-01 14:46:58,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,295 INFO sqlalchemy.engine.base.Engine (3018,)
2021-02-01 14:46:58,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,298 INFO sqlalchemy.engine.base.Engine (3019,)
2021-02-01 14:46:58,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,301 INFO sqlalchemy.engine.base.Engine (3020,)
2021-02-01 14:46:58,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,304 INFO sqlalchemy.engine.base.Engine (3021,)
2021-02-01 14:46:58,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,307 INFO sqlalchemy.engine.base.Engine (3022,)
2021-02-01 14:46:58,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,309 INFO sqlalchemy.engine.base.Engine (3023,)
2021-02-01 14:46:58,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,312 INFO sqlalchemy.engine.base.Engine (3024,)
2021-02-01 14:46:58,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,313 INFO sqlalchemy.engine.base.Engine (3025,)
2021-02-01 14:46:58,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,318 INFO sqlalchemy.engine.base.Engine (3026,)
2021-02-01 14:46:58,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,320 INFO sqlalchemy.engine.base.Engine (3027,)
2021-02-01 14:46:58,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,325 INFO sqlalchemy.engine.base.Engine (3028,)
2021-02-01 14:46:58,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,328 INFO sqlalchemy.engine.base.Engine (3029,)
2021-02-01 14:46:58,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,331 INFO sqlalchemy.engine.base.Engine (3030,)
2021-02-01 14:46:58,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,332 INFO sqlalchemy.engine.base.Engine (3031,)
2021-02-01 14:46:58,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,335 INFO sqlalchemy.engine.base.Engine (3032,)
2021-02-01 14:46:58,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,337 INFO sqlalchemy.engine.base.Engine (3033,)
2021-02-01 14:46:58,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,343 INFO sqlalchemy.engine.base.Engine (3034,)
2021-02-01 14:46:58,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,345 INFO sqlalchemy.engine.base.Engine (3035,)
2021-02-01 14:46:58,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,348 INFO sqlalchemy.engine.base.Engine (3036,)
2021-02-01 14:46:58,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,349 INFO sqlalchemy.engine.base.Engine (3037,)
2021-02-01 14:46:58,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,353 INFO sqlalchemy.engine.base.Engine (3038,)
2021-02-01 14:46:58,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,356 INFO sqlalchemy.engine.base.Engine (3039,)
2021-02-01 14:46:58,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,359 INFO sqlalchemy.engine.base.Engine (3040,)
2021-02-01 14:46:58,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,360 INFO sqlalchemy.engine.base.Engine (3041,)
2021-02-01 14:46:58,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,363 INFO sqlalchemy.engine.base.Engine (3042,)
2021-02-01 14:46:58,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,365 INFO sqlalchemy.engine.base.Engine (3043,)
2021-02-01 14:46:58,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,370 INFO sqlalchemy.engine.base.Engine (3044,)
2021-02-01 14:46:58,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,371 INFO sqlalchemy.engine.base.Engine (3045,)
2021-02-01 14:46:58,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,375 INFO sqlalchemy.engine.base.Engine (3046,)
2021-02-01 14:46:58,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,377 INFO sqlalchemy.engine.base.Engine (3047,)
2021-02-01 14:46:58,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,380 INFO sqlalchemy.engine.base.Engine (3048,)
2021-02-01 14:46:58,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,382 INFO sqlalchemy.engine.base.Engine (3049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:58,435 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,436 INFO sqlalchemy.engine.base.Engine ((3050, 14.3, 14.3, 14.3, 4.4094309255150534, 50.414201737660456), (3051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4094309255150534, 50.414201737660456), (3052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4094309255150534, 50.414201737660456), (3053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4094309255150534, 50.414201737660456), (3054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4094309255150534, 50.414201737660456), (3055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4094309255150534, 50.414201737660456), (3056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4094309255150534, 50.414201737660456), (3057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4094309255150534, 50.414201737660456)  ... displaying 10 of 50 total bound parameter sets ...  (3098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4094309255150534, 50.414201737660456), (3099, 135.9, 135.9, 135.9, 4.4094309255150534, 50.414201737660456))
2021-02-01 14:46:58,437 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:58,438 INFO sqlalchemy.engine.base.Engine ('F62',)
2021-02-01 14:46:58,439 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,440 INFO sqlalchemy.engine.base.Engine ((1525, 'F62', 0, 'Anhydrite', 3050, 3051), (1526, 'F62', 1, 'Sandstone, grey, vf-f', 3052, 3053), (1527, 'F62', 2, 'Anhydrite', 3054, 3055), (1528, 'F62', 3, 'Dolomite', 3056, 3057), (1529, 'F62', 4, 'Anhydrite', 3058, 3059), (1530, 'F62', 5, 'Sandstone, grey, vf-f', 3060, 3061), (1531, 'F62', 6, 'Siltstone, red', 3062, 3063), (1532, 'F62', 7, 'Dolomite', 3064, 3065)  ... displaying 10 of 25 total bound parameter sets ...  (1548, 'F62', 23, 'Limestone', 3096, 3097), (1549, 'F62', 24, 'Volcanic', 3098, 3099))
2021-02-01 14:46:58,442 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:58,449 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:58,450 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:58,450 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:58,453 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:58,454 INFO sqlalchemy.engine.base.Engine ('F62',)
2021-02-01 14:46:58,456 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,457 INFO sqlalchemy.engine.base.Engine (3050,)
2021-02-01 14:46:58,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,460 INFO sqlalchemy.engine.base.Engine (3051,)
2021-02-01 14:46:58,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,463 INFO sqlalchemy.engine.base.Engine (3052,)
2021-02-01 14:46:58,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,466 INFO sqlalchemy.engine.base.Engine (3053,)
2021-02-01 14:46:58,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,469 INFO sqlalchemy.engine.base.Engine (3054,)
2021-02-01 14:46:58,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,471 INFO sqlalchemy.engine.base.Engine (3055,)
2021-02-01 14:46:58,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,478 INFO sqlalchemy.engine.base.Engine (3056,)
2021-02-01 14:46:58,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,481 INFO sqlalchemy.engine.base.Engine (3057,)
2021-02-01 14:46:58,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,486 INFO sqlalchemy.engine.base.Engine (3058,)
2021-02-01 14:46:58,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,489 INFO sqlalchemy.engine.base.Engine (3059,)
2021-02-01 14:46:58,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,493 INFO sqlalchemy.engine.base.Engine (3060,)

2021-02-01 14:46:58,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,496 INFO sqlalchemy.engine.base.Engine (3061,)
2021-02-01 14:46:58,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,500 INFO sqlalchemy.engine.base.Engine (3062,)
2021-02-01 14:46:58,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,502 INFO sqlalchemy.engine.base.Engine (3063,)
2021-02-01 14:46:58,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,507 INFO sqlalchemy.engine.base.Engine (3064,)
2021-02-01 14:46:58,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,510 INFO sqlalchemy.engine.base.Engine (3065,)
2021-02-01 14:46:58,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,516 INFO sqlalchemy.engine.base.Engine (3066,)
2021-02-01 14:46:58,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,518 INFO sqlalchemy.engine.base.Engine (3067,)
2021-02-01 14:46:58,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,524 INFO sqlalchemy.engine.base.Engine (3068,)
2021-02-01 14:46:58,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,527 INFO sqlalchemy.engine.base.Engine (3069,)
2021-02-01 14:46:58,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,531 INFO sqlalchemy.engine.base.Engine (3070,)
2021-02-01 14:46:58,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,534 INFO sqlalchemy.engine.base.Engine (3071,)
2021-02-01 14:46:58,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,539 INFO sqlalchemy.engine.base.Engine (3072,)
2021-02-01 14:46:58,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,541 INFO sqlalchemy.engine.base.Engine (3073,)
2021-02-01 14:46:58,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,547 INFO sqlalchemy.engine.base.Engine (3074,)
2021-02-01 14:46:58,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,549 INFO sqlalchemy.engine.base.Engine (3075,)
2021-02-01 14:46:58,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,554 INFO sqlalchemy.engine.base.Engine (3076,)
2021-02-01 14:46:58,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,557 INFO sqlalchemy.engine.base.Engine (3077,)
2021-02-01 14:46:58,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,560 INFO sqlalchemy.engine.base.Engine (3078,)
2021-02-01 14:46:58,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,561 INFO sqlalchemy.engine.base.Engine (3079,)
2021-02-01 14:46:58,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,564 INFO sqlalchemy.engine.base.Engine (3080,)
2021-02-01 14:46:58,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,566 INFO sqlalchemy.engine.base.Engine (3081,)
2021-02-01 14:46:58,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,569 INFO sqlalchemy.engine.base.Engine (3082,)
2021-02-01 14:46:58,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,571 INFO sqlalchemy.engine.base.Engine (3083,)
2021-02-01 14:46:58,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,575 INFO sqlalchemy.engine.base.Engine (3084,)
2021-02-01 14:46:58,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,577 INFO sqlalchemy.engine.base.Engine (3085,)
2021-02-01 14:46:58,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,583 INFO sqlalchemy.engine.base.Engine (3086,)
2021-02-01 14:46:58,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,586 INFO sqlalchemy.engine.base.Engine (3087,)
2021-02-01 14:46:58,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,590 INFO sqlalchemy.engine.base.Engine (3088,)
2021-02-01 14:46:58,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,593 INFO sqlalchemy.engine.base.Engine (3089,)
2021-02-01 14:46:58,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,597 INFO sqlalchemy.engine.base.Engine (3090,)
2021-02-01 14:46:58,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,599 INFO sqlalchemy.engine.base.Engine (3091,)
2021-02-01 14:46:58,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,602 INFO sqlalchemy.engine.base.Engine (3092,)
2021-02-01 14:46:58,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,605 INFO sqlalchemy.engine.base.Engine (3093,)
2021-02-01 14:46:58,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,609 INFO sqlalchemy.engine.base.Engine (3094,)
2021-02-01 14:46:58,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,612 INFO sqlalchemy.engine.base.Engine (3095,)
2021-02-01 14:46:58,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,617 INFO sqlalchemy.engine.base.Engine (3096,)
2021-02-01 14:46:58,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,620 INFO sqlalchemy.engine.base.Engine (3097,)
2021-02-01 14:46:58,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,623 INFO sqlalchemy.engine.base.Engine (3098,)
2021-02-01 14:46:58,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,625 INFO sqlalchemy.engine.base.Engine (3099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:58,676 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:58,677 INFO sqlalchemy.engine.base.Engine ('F63',)
2021-02-01 14:46:58,679 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,680 INFO sqlalchemy.engine.base.Engine ((3100, 14.3, 14.3, 14.3, 4.409270938226992, 50.414122427803854), (3101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409270938226992, 50.414122427803854), (3102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409270938226992, 50.414122427803854), (3103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409270938226992, 50.414122427803854), (3104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409270938226992, 50.414122427803854), (3105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409270938226992, 50.414122427803854), (3106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409270938226992, 50.414122427803854), (3107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409270938226992, 50.414122427803854)  ... displaying 10 of 50 total bound parameter sets ...  (3148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409270938226992, 50.414122427803854), (3149, 135.9, 135.9, 135.9, 4.409270938226992, 50.414122427803854))

2021-02-01 14:46:58,682 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,683 INFO sqlalchemy.engine.base.Engine ((1550, 'F63', 0, 'Anhydrite', 3100, 3101), (1551, 'F63', 1, 'Sandstone, grey, vf-f', 3102, 3103), (1552, 'F63', 2, 'Anhydrite', 3104, 3105), (1553, 'F63', 3, 'Dolomite', 3106, 3107), (1554, 'F63', 4, 'Anhydrite', 3108, 3109), (1555, 'F63', 5, 'Sandstone, grey, vf-f', 3110, 3111), (1556, 'F63', 6, 'Siltstone, red', 3112, 3113), (1557, 'F63', 7, 'Dolomite', 3114, 3115)  ... displaying 10 of 25 total bound parameter sets ...  (1573, 'F63', 23, 'Limestone', 3146, 3147), (1574, 'F63', 24, 'Volcanic', 3148, 3149))
2021-02-01 14:46:58,685 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:58,690 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:58,691 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:58,692 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:58,694 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:58,695 INFO sqlalchemy.engine.base.Engine ('F63',)
2021-02-01 14:46:58,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,699 INFO sqlalchemy.engine.base.Engine (3100,)
2021-02-01 14:46:58,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,701 INFO sqlalchemy.engine.base.Engine (3101,)
2021-02-01 14:46:58,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,707 INFO sqlalchemy.engine.base.Engine (3102,)
2021-02-01 14:46:58,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,708 INFO sqlalchemy.engine.base.Engine (3103,)
2021-02-01 14:46:58,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,714 INFO sqlalchemy.engine.base.Engine (3104,)
2021-02-01 14:46:58,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,716 INFO sqlalchemy.engine.base.Engine (3105,)
2021-02-01 14:46:58,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,720 INFO sqlalchemy.engine.base.Engine (3106,)
2021-02-01 14:46:58,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,721 INFO sqlalchemy.engine.base.Engine (3107,)
2021-02-01 14:46:58,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,725 INFO sqlalchemy.engine.base.Engine (3108,)
2021-02-01 14:46:58,726 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,727 INFO sqlalchemy.engine.base.Engine (3109,)
2021-02-01 14:46:58,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,731 INFO sqlalchemy.engine.base.Engine (3110,)
2021-02-01 14:46:58,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,732 INFO sqlalchemy.engine.base.Engine (3111,)
2021-02-01 14:46:58,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,735 INFO sqlalchemy.engine.base.Engine (3112,)
2021-02-01 14:46:58,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,737 INFO sqlalchemy.engine.base.Engine (3113,)
2021-02-01 14:46:58,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,740 INFO sqlalchemy.engine.base.Engine (3114,)
2021-02-01 14:46:58,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,741 INFO sqlalchemy.engine.base.Engine (3115,)
2021-02-01 14:46:58,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,744 INFO sqlalchemy.engine.base.Engine (3116,)

2021-02-01 14:46:58,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,748 INFO sqlalchemy.engine.base.Engine (3117,)
2021-02-01 14:46:58,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,752 INFO sqlalchemy.engine.base.Engine (3118,)
2021-02-01 14:46:58,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,755 INFO sqlalchemy.engine.base.Engine (3119,)
2021-02-01 14:46:58,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,758 INFO sqlalchemy.engine.base.Engine (3120,)
2021-02-01 14:46:58,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,759 INFO sqlalchemy.engine.base.Engine (3121,)
2021-02-01 14:46:58,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,764 INFO sqlalchemy.engine.base.Engine (3122,)
2021-02-01 14:46:58,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,767 INFO sqlalchemy.engine.base.Engine (3123,)
2021-02-01 14:46:58,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,771 INFO sqlalchemy.engine.base.Engine (3124,)
2021-02-01 14:46:58,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,772 INFO sqlalchemy.engine.base.Engine (3125,)
2021-02-01 14:46:58,774 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,775 INFO sqlalchemy.engine.base.Engine (3126,)
2021-02-01 14:46:58,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,776 INFO sqlalchemy.engine.base.Engine (3127,)
2021-02-01 14:46:58,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,779 INFO sqlalchemy.engine.base.Engine (3128,)
2021-02-01 14:46:58,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,781 INFO sqlalchemy.engine.base.Engine (3129,)
2021-02-01 14:46:58,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,784 INFO sqlalchemy.engine.base.Engine (3130,)
2021-02-01 14:46:58,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,787 INFO sqlalchemy.engine.base.Engine (3131,)
2021-02-01 14:46:58,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,793 INFO sqlalchemy.engine.base.Engine (3132,)
2021-02-01 14:46:58,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,796 INFO sqlalchemy.engine.base.Engine (3133,)
2021-02-01 14:46:58,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,801 INFO sqlalchemy.engine.base.Engine (3134,)
2021-02-01 14:46:58,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,803 INFO sqlalchemy.engine.base.Engine (3135,)
2021-02-01 14:46:58,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,806 INFO sqlalchemy.engine.base.Engine (3136,)
2021-02-01 14:46:58,808 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,808 INFO sqlalchemy.engine.base.Engine (3137,)
2021-02-01 14:46:58,812 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,813 INFO sqlalchemy.engine.base.Engine (3138,)
2021-02-01 14:46:58,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,815 INFO sqlalchemy.engine.base.Engine (3139,)
2021-02-01 14:46:58,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,818 INFO sqlalchemy.engine.base.Engine (3140,)
2021-02-01 14:46:58,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,821 INFO sqlalchemy.engine.base.Engine (3141,)
2021-02-01 14:46:58,824 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,825 INFO sqlalchemy.engine.base.Engine (3142,)
2021-02-01 14:46:58,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,827 INFO sqlalchemy.engine.base.Engine (3143,)
2021-02-01 14:46:58,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,832 INFO sqlalchemy.engine.base.Engine (3144,)
2021-02-01 14:46:58,833 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,834 INFO sqlalchemy.engine.base.Engine (3145,)
2021-02-01 14:46:58,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,838 INFO sqlalchemy.engine.base.Engine (3146,)
2021-02-01 14:46:58,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,840 INFO sqlalchemy.engine.base.Engine (3147,)
2021-02-01 14:46:58,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,843 INFO sqlalchemy.engine.base.Engine (3148,)
2021-02-01 14:46:58,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,845 INFO sqlalchemy.engine.base.Engine (3149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:58,900 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,900 INFO sqlalchemy.engine.base.Engine ((3150, 14.3, 14.3, 14.3, 4.4090906974868265, 50.41417933889651), (3151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4090906974868265, 50.41417933889651), (3152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4090906974868265, 50.41417933889651), (3153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4090906974868265, 50.41417933889651), (3154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4090906974868265, 50.41417933889651), (3155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4090906974868265, 50.41417933889651), (3156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4090906974868265, 50.41417933889651), (3157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4090906974868265, 50.41417933889651)  ... displaying 10 of 50 total bound parameter sets ...  (3198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4090906974868265, 50.41417933889651), (3199, 135.9, 135.9, 135.9, 4.4090906974868265, 50.41417933889651))
2021-02-01 14:46:58,902 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:58,902 INFO sqlalchemy.engine.base.Engine ('F64',)
2021-02-01 14:46:58,904 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:58,905 INFO sqlalchemy.engine.base.Engine ((1575, 'F64', 0, 'Anhydrite', 3150, 3151), (1576, 'F64', 1, 'Sandstone, grey, vf-f', 3152, 3153), (1577, 'F64', 2, 'Anhydrite', 3154, 3155), (1578, 'F64', 3, 'Dolomite', 3156, 3157), (1579, 'F64', 4, 'Anhydrite', 3158, 3159), (1580, 'F64', 5, 'Sandstone, grey, vf-f', 3160, 3161), (1581, 'F64', 6, 'Siltstone, red', 3162, 3163), (1582, 'F64', 7, 'Dolomite', 3164, 3165)  ... displaying 10 of 25 total bound parameter sets ...  (1598, 'F64', 23, 'Limestone', 3196, 3197), (1599, 'F64', 24, 'Volcanic', 3198, 3199))
2021-02-01 14:46:58,908 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:58,912 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:58,913 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:58,914 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:58,917 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:58,918 INFO sqlalchemy.engine.base.Engine ('F64',)
2021-02-01 14:46:58,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,920 INFO sqlalchemy.engine.base.Engine (3150,)

2021-02-01 14:46:58,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,923 INFO sqlalchemy.engine.base.Engine (3151,)
2021-02-01 14:46:58,928 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,929 INFO sqlalchemy.engine.base.Engine (3152,)
2021-02-01 14:46:58,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,931 INFO sqlalchemy.engine.base.Engine (3153,)
2021-02-01 14:46:58,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,936 INFO sqlalchemy.engine.base.Engine (3154,)
2021-02-01 14:46:58,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,939 INFO sqlalchemy.engine.base.Engine (3155,)
2021-02-01 14:46:58,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,944 INFO sqlalchemy.engine.base.Engine (3156,)
2021-02-01 14:46:58,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,948 INFO sqlalchemy.engine.base.Engine (3157,)
2021-02-01 14:46:58,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,953 INFO sqlalchemy.engine.base.Engine (3158,)
2021-02-01 14:46:58,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,957 INFO sqlalchemy.engine.base.Engine (3159,)
2021-02-01 14:46:58,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,960 INFO sqlalchemy.engine.base.Engine (3160,)
2021-02-01 14:46:58,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,962 INFO sqlalchemy.engine.base.Engine (3161,)
2021-02-01 14:46:58,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,967 INFO sqlalchemy.engine.base.Engine (3162,)
2021-02-01 14:46:58,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,969 INFO sqlalchemy.engine.base.Engine (3163,)
2021-02-01 14:46:58,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,975 INFO sqlalchemy.engine.base.Engine (3164,)
2021-02-01 14:46:58,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,978 INFO sqlalchemy.engine.base.Engine (3165,)
2021-02-01 14:46:58,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,982 INFO sqlalchemy.engine.base.Engine (3166,)
2021-02-01 14:46:58,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,985 INFO sqlalchemy.engine.base.Engine (3167,)
2021-02-01 14:46:58,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,989 INFO sqlalchemy.engine.base.Engine (3168,)
2021-02-01 14:46:58,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,992 INFO sqlalchemy.engine.base.Engine (3169,)
2021-02-01 14:46:58,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:58,996 INFO sqlalchemy.engine.base.Engine (3170,)
2021-02-01 14:46:58,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:58,997 INFO sqlalchemy.engine.base.Engine (3171,)
2021-02-01 14:46:58,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,000 INFO sqlalchemy.engine.base.Engine (3172,)
2021-02-01 14:46:59,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,001 INFO sqlalchemy.engine.base.Engine (3173,)
2021-02-01 14:46:59,004 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,005 INFO sqlalchemy.engine.base.Engine (3174,)
2021-02-01 14:46:59,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,007 INFO sqlalchemy.engine.base.Engine (3175,)
2021-02-01 14:46:59,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,012 INFO sqlalchemy.engine.base.Engine (3176,)
2021-02-01 14:46:59,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,016 INFO sqlalchemy.engine.base.Engine (3177,)
2021-02-01 14:46:59,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,021 INFO sqlalchemy.engine.base.Engine (3178,)
2021-02-01 14:46:59,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,022 INFO sqlalchemy.engine.base.Engine (3179,)
2021-02-01 14:46:59,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,026 INFO sqlalchemy.engine.base.Engine (3180,)
2021-02-01 14:46:59,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,028 INFO sqlalchemy.engine.base.Engine (3181,)
2021-02-01 14:46:59,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,032 INFO sqlalchemy.engine.base.Engine (3182,)
2021-02-01 14:46:59,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,033 INFO sqlalchemy.engine.base.Engine (3183,)
2021-02-01 14:46:59,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,038 INFO sqlalchemy.engine.base.Engine (3184,)
2021-02-01 14:46:59,039 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,040 INFO sqlalchemy.engine.base.Engine (3185,)
2021-02-01 14:46:59,042 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,044 INFO sqlalchemy.engine.base.Engine (3186,)
2021-02-01 14:46:59,046 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,046 INFO sqlalchemy.engine.base.Engine (3187,)
2021-02-01 14:46:59,050 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,051 INFO sqlalchemy.engine.base.Engine (3188,)
2021-02-01 14:46:59,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,054 INFO sqlalchemy.engine.base.Engine (3189,)
2021-02-01 14:46:59,058 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,059 INFO sqlalchemy.engine.base.Engine (3190,)
2021-02-01 14:46:59,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,063 INFO sqlalchemy.engine.base.Engine (3191,)
2021-02-01 14:46:59,065 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,066 INFO sqlalchemy.engine.base.Engine (3192,)
2021-02-01 14:46:59,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,068 INFO sqlalchemy.engine.base.Engine (3193,)
2021-02-01 14:46:59,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,072 INFO sqlalchemy.engine.base.Engine (3194,)
2021-02-01 14:46:59,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,074 INFO sqlalchemy.engine.base.Engine (3195,)
2021-02-01 14:46:59,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,079 INFO sqlalchemy.engine.base.Engine (3196,)
2021-02-01 14:46:59,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,081 INFO sqlalchemy.engine.base.Engine (3197,)
2021-02-01 14:46:59,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,085 INFO sqlalchemy.engine.base.Engine (3198,)
2021-02-01 14:46:59,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,087 INFO sqlalchemy.engine.base.Engine (3199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:59,143 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:59,145 INFO sqlalchemy.engine.base.Engine ('F65',)
2021-02-01 14:46:59,146 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,147 INFO sqlalchemy.engine.base.Engine ((3200, 14.3, 14.3, 14.3, 4.409219541003811, 50.41413866458429), (3201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409219541003811, 50.41413866458429), (3202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409219541003811, 50.41413866458429), (3203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409219541003811, 50.41413866458429), (3204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409219541003811, 50.41413866458429), (3205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409219541003811, 50.41413866458429), (3206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409219541003811, 50.41413866458429), (3207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409219541003811, 50.41413866458429)  ... displaying 10 of 50 total bound parameter sets ...  (3248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409219541003811, 50.41413866458429), (3249, 135.9, 135.9, 135.9, 4.409219541003811, 50.41413866458429))
2021-02-01 14:46:59,150 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,151 INFO sqlalchemy.engine.base.Engine ((1600, 'F65', 0, 'Anhydrite', 3200, 3201), (1601, 'F65', 1, 'Sandstone, grey, vf-f', 3202, 3203), (1602, 'F65', 2, 'Anhydrite', 3204, 3205), (1603, 'F65', 3, 'Dolomite', 3206, 3207), (1604, 'F65', 4, 'Anhydrite', 3208, 3209), (1605, 'F65', 5, 'Sandstone, grey, vf-f', 3210, 3211), (1606, 'F65', 6, 'Siltstone, red', 3212, 3213), (1607, 'F65', 7, 'Dolomite', 3214, 3215)  ... displaying 10 of 25 total bound parameter sets ...  (1623, 'F65', 23, 'Limestone', 3246, 3247), (1624, 'F65', 24, 'Volcanic', 3248, 3249))
2021-02-01 14:46:59,153 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:59,158 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:59,159 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:59,160 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:59,163 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:59,164 INFO sqlalchemy.engine.base.Engine ('F65',)
2021-02-01 14:46:59,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,168 INFO sqlalchemy.engine.base.Engine (3200,)
2021-02-01 14:46:59,170 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,171 INFO sqlalchemy.engine.base.Engine (3201,)
2021-02-01 14:46:59,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,176 INFO sqlalchemy.engine.base.Engine (3202,)
2021-02-01 14:46:59,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,178 INFO sqlalchemy.engine.base.Engine (3203,)
2021-02-01 14:46:59,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,181 INFO sqlalchemy.engine.base.Engine (3204,)
2021-02-01 14:46:59,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,183 INFO sqlalchemy.engine.base.Engine (3205,)

2021-02-01 14:46:59,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,187 INFO sqlalchemy.engine.base.Engine (3206,)
2021-02-01 14:46:59,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,189 INFO sqlalchemy.engine.base.Engine (3207,)
2021-02-01 14:46:59,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,194 INFO sqlalchemy.engine.base.Engine (3208,)
2021-02-01 14:46:59,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,197 INFO sqlalchemy.engine.base.Engine (3209,)
2021-02-01 14:46:59,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,203 INFO sqlalchemy.engine.base.Engine (3210,)
2021-02-01 14:46:59,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,206 INFO sqlalchemy.engine.base.Engine (3211,)
2021-02-01 14:46:59,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,212 INFO sqlalchemy.engine.base.Engine (3212,)
2021-02-01 14:46:59,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,214 INFO sqlalchemy.engine.base.Engine (3213,)
2021-02-01 14:46:59,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,218 INFO sqlalchemy.engine.base.Engine (3214,)
2021-02-01 14:46:59,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,220 INFO sqlalchemy.engine.base.Engine (3215,)
2021-02-01 14:46:59,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,225 INFO sqlalchemy.engine.base.Engine (3216,)
2021-02-01 14:46:59,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,227 INFO sqlalchemy.engine.base.Engine (3217,)
2021-02-01 14:46:59,231 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,232 INFO sqlalchemy.engine.base.Engine (3218,)
2021-02-01 14:46:59,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,235 INFO sqlalchemy.engine.base.Engine (3219,)
2021-02-01 14:46:59,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,238 INFO sqlalchemy.engine.base.Engine (3220,)
2021-02-01 14:46:59,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,241 INFO sqlalchemy.engine.base.Engine (3221,)
2021-02-01 14:46:59,244 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,245 INFO sqlalchemy.engine.base.Engine (3222,)
2021-02-01 14:46:59,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,247 INFO sqlalchemy.engine.base.Engine (3223,)
2021-02-01 14:46:59,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,250 INFO sqlalchemy.engine.base.Engine (3224,)
2021-02-01 14:46:59,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,253 INFO sqlalchemy.engine.base.Engine (3225,)
2021-02-01 14:46:59,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,258 INFO sqlalchemy.engine.base.Engine (3226,)
2021-02-01 14:46:59,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,261 INFO sqlalchemy.engine.base.Engine (3227,)
2021-02-01 14:46:59,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,265 INFO sqlalchemy.engine.base.Engine (3228,)
2021-02-01 14:46:59,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,267 INFO sqlalchemy.engine.base.Engine (3229,)
2021-02-01 14:46:59,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,272 INFO sqlalchemy.engine.base.Engine (3230,)
2021-02-01 14:46:59,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,274 INFO sqlalchemy.engine.base.Engine (3231,)
2021-02-01 14:46:59,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,278 INFO sqlalchemy.engine.base.Engine (3232,)
2021-02-01 14:46:59,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,280 INFO sqlalchemy.engine.base.Engine (3233,)
2021-02-01 14:46:59,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,283 INFO sqlalchemy.engine.base.Engine (3234,)
2021-02-01 14:46:59,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,286 INFO sqlalchemy.engine.base.Engine (3235,)
2021-02-01 14:46:59,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,289 INFO sqlalchemy.engine.base.Engine (3236,)
2021-02-01 14:46:59,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,291 INFO sqlalchemy.engine.base.Engine (3237,)
2021-02-01 14:46:59,295 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,296 INFO sqlalchemy.engine.base.Engine (3238,)
2021-02-01 14:46:59,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,297 INFO sqlalchemy.engine.base.Engine (3239,)
2021-02-01 14:46:59,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,301 INFO sqlalchemy.engine.base.Engine (3240,)
2021-02-01 14:46:59,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,304 INFO sqlalchemy.engine.base.Engine (3241,)
2021-02-01 14:46:59,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,308 INFO sqlalchemy.engine.base.Engine (3242,)
2021-02-01 14:46:59,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,310 INFO sqlalchemy.engine.base.Engine (3243,)
2021-02-01 14:46:59,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,314 INFO sqlalchemy.engine.base.Engine (3244,)
2021-02-01 14:46:59,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,317 INFO sqlalchemy.engine.base.Engine (3245,)
2021-02-01 14:46:59,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,321 INFO sqlalchemy.engine.base.Engine (3246,)
2021-02-01 14:46:59,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,324 INFO sqlalchemy.engine.base.Engine (3247,)
2021-02-01 14:46:59,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,330 INFO sqlalchemy.engine.base.Engine (3248,)
2021-02-01 14:46:59,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,332 INFO sqlalchemy.engine.base.Engine (3249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:59,388 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,389 INFO sqlalchemy.engine.base.Engine ((3250, 14.3, 14.3, 14.3, 4.409405238765236, 50.41411044093962), (3251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409405238765236, 50.41411044093962), (3252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409405238765236, 50.41411044093962), (3253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409405238765236, 50.41411044093962), (3254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409405238765236, 50.41411044093962), (3255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409405238765236, 50.41411044093962), (3256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409405238765236, 50.41411044093962), (3257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409405238765236, 50.41411044093962)  ... displaying 10 of 50 total bound parameter sets ...  (3298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409405238765236, 50.41411044093962), (3299, 135.9, 135.9, 135.9, 4.409405238765236, 50.41411044093962))
2021-02-01 14:46:59,391 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:59,391 INFO sqlalchemy.engine.base.Engine ('F66',)
2021-02-01 14:46:59,395 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,397 INFO sqlalchemy.engine.base.Engine ((1625, 'F66', 0, 'Anhydrite', 3250, 3251), (1626, 'F66', 1, 'Sandstone, grey, vf-f', 3252, 3253), (1627, 'F66', 2, 'Anhydrite', 3254, 3255), (1628, 'F66', 3, 'Dolomite', 3256, 3257), (1629, 'F66', 4, 'Anhydrite', 3258, 3259), (1630, 'F66', 5, 'Sandstone, grey, vf-f', 3260, 3261), (1631, 'F66', 6, 'Siltstone, red', 3262, 3263), (1632, 'F66', 7, 'Dolomite', 3264, 3265)  ... displaying 10 of 25 total bound parameter sets ...  (1648, 'F66', 23, 'Limestone', 3296, 3297), (1649, 'F66', 24, 'Volcanic', 3298, 3299))
2021-02-01 14:46:59,399 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:59,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:59,407 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:59,407 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:59,409 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:59,410 INFO sqlalchemy.engine.base.Engine ('F66',)
2021-02-01 14:46:59,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,413 INFO sqlalchemy.engine.base.Engine (3250,)
2021-02-01 14:46:59,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,415 INFO sqlalchemy.engine.base.Engine (3251,)
2021-02-01 14:46:59,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,420 INFO sqlalchemy.engine.base.Engine (3252,)
2021-02-01 14:46:59,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,423 INFO sqlalchemy.engine.base.Engine (3253,)
2021-02-01 14:46:59,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,427 INFO sqlalchemy.engine.base.Engine (3254,)
2021-02-01 14:46:59,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,429 INFO sqlalchemy.engine.base.Engine (3255,)
2021-02-01 14:46:59,431 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,432 INFO sqlalchemy.engine.base.Engine (3256,)
2021-02-01 14:46:59,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,434 INFO sqlalchemy.engine.base.Engine (3257,)
2021-02-01 14:46:59,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,437 INFO sqlalchemy.engine.base.Engine (3258,)
2021-02-01 14:46:59,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,439 INFO sqlalchemy.engine.base.Engine (3259,)
2021-02-01 14:46:59,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,442 INFO sqlalchemy.engine.base.Engine (3260,)

2021-02-01 14:46:59,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,444 INFO sqlalchemy.engine.base.Engine (3261,)
2021-02-01 14:46:59,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,447 INFO sqlalchemy.engine.base.Engine (3262,)
2021-02-01 14:46:59,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,449 INFO sqlalchemy.engine.base.Engine (3263,)
2021-02-01 14:46:59,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,451 INFO sqlalchemy.engine.base.Engine (3264,)
2021-02-01 14:46:59,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,454 INFO sqlalchemy.engine.base.Engine (3265,)
2021-02-01 14:46:59,459 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,461 INFO sqlalchemy.engine.base.Engine (3266,)
2021-02-01 14:46:59,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,464 INFO sqlalchemy.engine.base.Engine (3267,)
2021-02-01 14:46:59,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,468 INFO sqlalchemy.engine.base.Engine (3268,)
2021-02-01 14:46:59,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,470 INFO sqlalchemy.engine.base.Engine (3269,)
2021-02-01 14:46:59,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,475 INFO sqlalchemy.engine.base.Engine (3270,)
2021-02-01 14:46:59,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,478 INFO sqlalchemy.engine.base.Engine (3271,)
2021-02-01 14:46:59,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,482 INFO sqlalchemy.engine.base.Engine (3272,)
2021-02-01 14:46:59,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,484 INFO sqlalchemy.engine.base.Engine (3273,)
2021-02-01 14:46:59,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,487 INFO sqlalchemy.engine.base.Engine (3274,)
2021-02-01 14:46:59,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,490 INFO sqlalchemy.engine.base.Engine (3275,)
2021-02-01 14:46:59,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,493 INFO sqlalchemy.engine.base.Engine (3276,)
2021-02-01 14:46:59,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,496 INFO sqlalchemy.engine.base.Engine (3277,)
2021-02-01 14:46:59,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,501 INFO sqlalchemy.engine.base.Engine (3278,)
2021-02-01 14:46:59,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,504 INFO sqlalchemy.engine.base.Engine (3279,)
2021-02-01 14:46:59,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,509 INFO sqlalchemy.engine.base.Engine (3280,)
2021-02-01 14:46:59,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,511 INFO sqlalchemy.engine.base.Engine (3281,)
2021-02-01 14:46:59,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,514 INFO sqlalchemy.engine.base.Engine (3282,)
2021-02-01 14:46:59,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,517 INFO sqlalchemy.engine.base.Engine (3283,)
2021-02-01 14:46:59,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,523 INFO sqlalchemy.engine.base.Engine (3284,)
2021-02-01 14:46:59,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,527 INFO sqlalchemy.engine.base.Engine (3285,)
2021-02-01 14:46:59,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,532 INFO sqlalchemy.engine.base.Engine (3286,)
2021-02-01 14:46:59,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,534 INFO sqlalchemy.engine.base.Engine (3287,)
2021-02-01 14:46:59,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,537 INFO sqlalchemy.engine.base.Engine (3288,)
2021-02-01 14:46:59,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,538 INFO sqlalchemy.engine.base.Engine (3289,)
2021-02-01 14:46:59,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,542 INFO sqlalchemy.engine.base.Engine (3290,)
2021-02-01 14:46:59,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,545 INFO sqlalchemy.engine.base.Engine (3291,)
2021-02-01 14:46:59,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,548 INFO sqlalchemy.engine.base.Engine (3292,)
2021-02-01 14:46:59,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,550 INFO sqlalchemy.engine.base.Engine (3293,)
2021-02-01 14:46:59,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,555 INFO sqlalchemy.engine.base.Engine (3294,)
2021-02-01 14:46:59,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,557 INFO sqlalchemy.engine.base.Engine (3295,)
2021-02-01 14:46:59,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,563 INFO sqlalchemy.engine.base.Engine (3296,)
2021-02-01 14:46:59,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,566 INFO sqlalchemy.engine.base.Engine (3297,)
2021-02-01 14:46:59,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,569 INFO sqlalchemy.engine.base.Engine (3298,)
2021-02-01 14:46:59,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,573 INFO sqlalchemy.engine.base.Engine (3299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:59,625 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:59,626 INFO sqlalchemy.engine.base.Engine ('F67',)
2021-02-01 14:46:59,628 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,629 INFO sqlalchemy.engine.base.Engine ((3300, 14.3, 14.3, 14.3, 4.409369910301744, 50.4140953946872), (3301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409369910301744, 50.4140953946872), (3302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409369910301744, 50.4140953946872), (3303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409369910301744, 50.4140953946872), (3304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409369910301744, 50.4140953946872), (3305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409369910301744, 50.4140953946872), (3306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409369910301744, 50.4140953946872), (3307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409369910301744, 50.4140953946872)  ... displaying 10 of 50 total bound parameter sets ...  (3348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409369910301744, 50.4140953946872), (3349, 135.9, 135.9, 135.9, 4.409369910301744, 50.4140953946872))

2021-02-01 14:46:59,632 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,632 INFO sqlalchemy.engine.base.Engine ((1650, 'F67', 0, 'Anhydrite', 3300, 3301), (1651, 'F67', 1, 'Sandstone, grey, vf-f', 3302, 3303), (1652, 'F67', 2, 'Anhydrite', 3304, 3305), (1653, 'F67', 3, 'Dolomite', 3306, 3307), (1654, 'F67', 4, 'Anhydrite', 3308, 3309), (1655, 'F67', 5, 'Sandstone, grey, vf-f', 3310, 3311), (1656, 'F67', 6, 'Siltstone, red', 3312, 3313), (1657, 'F67', 7, 'Dolomite', 3314, 3315)  ... displaying 10 of 25 total bound parameter sets ...  (1673, 'F67', 23, 'Limestone', 3346, 3347), (1674, 'F67', 24, 'Volcanic', 3348, 3349))
2021-02-01 14:46:59,635 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:59,640 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:59,641 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:59,642 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:59,644 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:59,646 INFO sqlalchemy.engine.base.Engine ('F67',)
2021-02-01 14:46:59,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,649 INFO sqlalchemy.engine.base.Engine (3300,)
2021-02-01 14:46:59,651 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,651 INFO sqlalchemy.engine.base.Engine (3301,)
2021-02-01 14:46:59,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,657 INFO sqlalchemy.engine.base.Engine (3302,)
2021-02-01 14:46:59,659 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,660 INFO sqlalchemy.engine.base.Engine (3303,)
2021-02-01 14:46:59,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,666 INFO sqlalchemy.engine.base.Engine (3304,)
2021-02-01 14:46:59,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,668 INFO sqlalchemy.engine.base.Engine (3305,)
2021-02-01 14:46:59,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,672 INFO sqlalchemy.engine.base.Engine (3306,)
2021-02-01 14:46:59,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,673 INFO sqlalchemy.engine.base.Engine (3307,)
2021-02-01 14:46:59,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,680 INFO sqlalchemy.engine.base.Engine (3308,)
2021-02-01 14:46:59,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,682 INFO sqlalchemy.engine.base.Engine (3309,)
2021-02-01 14:46:59,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,685 INFO sqlalchemy.engine.base.Engine (3310,)
2021-02-01 14:46:59,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,687 INFO sqlalchemy.engine.base.Engine (3311,)
2021-02-01 14:46:59,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,690 INFO sqlalchemy.engine.base.Engine (3312,)
2021-02-01 14:46:59,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,692 INFO sqlalchemy.engine.base.Engine (3313,)
2021-02-01 14:46:59,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,696 INFO sqlalchemy.engine.base.Engine (3314,)
2021-02-01 14:46:59,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,699 INFO sqlalchemy.engine.base.Engine (3315,)
2021-02-01 14:46:59,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,703 INFO sqlalchemy.engine.base.Engine (3316,)

2021-02-01 14:46:59,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,705 INFO sqlalchemy.engine.base.Engine (3317,)
2021-02-01 14:46:59,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,708 INFO sqlalchemy.engine.base.Engine (3318,)
2021-02-01 14:46:59,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,709 INFO sqlalchemy.engine.base.Engine (3319,)
2021-02-01 14:46:59,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,712 INFO sqlalchemy.engine.base.Engine (3320,)
2021-02-01 14:46:59,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,714 INFO sqlalchemy.engine.base.Engine (3321,)
2021-02-01 14:46:59,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,717 INFO sqlalchemy.engine.base.Engine (3322,)
2021-02-01 14:46:59,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,719 INFO sqlalchemy.engine.base.Engine (3323,)
2021-02-01 14:46:59,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,723 INFO sqlalchemy.engine.base.Engine (3324,)
2021-02-01 14:46:59,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,725 INFO sqlalchemy.engine.base.Engine (3325,)
2021-02-01 14:46:59,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,731 INFO sqlalchemy.engine.base.Engine (3326,)
2021-02-01 14:46:59,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,733 INFO sqlalchemy.engine.base.Engine (3327,)
2021-02-01 14:46:59,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,738 INFO sqlalchemy.engine.base.Engine (3328,)
2021-02-01 14:46:59,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,741 INFO sqlalchemy.engine.base.Engine (3329,)
2021-02-01 14:46:59,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,746 INFO sqlalchemy.engine.base.Engine (3330,)
2021-02-01 14:46:59,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,750 INFO sqlalchemy.engine.base.Engine (3331,)
2021-02-01 14:46:59,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,755 INFO sqlalchemy.engine.base.Engine (3332,)
2021-02-01 14:46:59,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,758 INFO sqlalchemy.engine.base.Engine (3333,)
2021-02-01 14:46:59,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,765 INFO sqlalchemy.engine.base.Engine (3334,)
2021-02-01 14:46:59,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,768 INFO sqlalchemy.engine.base.Engine (3335,)
2021-02-01 14:46:59,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,771 INFO sqlalchemy.engine.base.Engine (3336,)
2021-02-01 14:46:59,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,772 INFO sqlalchemy.engine.base.Engine (3337,)
2021-02-01 14:46:59,774 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,775 INFO sqlalchemy.engine.base.Engine (3338,)
2021-02-01 14:46:59,777 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,777 INFO sqlalchemy.engine.base.Engine (3339,)
2021-02-01 14:46:59,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,783 INFO sqlalchemy.engine.base.Engine (3340,)
2021-02-01 14:46:59,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,784 INFO sqlalchemy.engine.base.Engine (3341,)
2021-02-01 14:46:59,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,786 INFO sqlalchemy.engine.base.Engine (3342,)
2021-02-01 14:46:59,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,788 INFO sqlalchemy.engine.base.Engine (3343,)
2021-02-01 14:46:59,790 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,791 INFO sqlalchemy.engine.base.Engine (3344,)
2021-02-01 14:46:59,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,792 INFO sqlalchemy.engine.base.Engine (3345,)
2021-02-01 14:46:59,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,796 INFO sqlalchemy.engine.base.Engine (3346,)
2021-02-01 14:46:59,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,799 INFO sqlalchemy.engine.base.Engine (3347,)
2021-02-01 14:46:59,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,802 INFO sqlalchemy.engine.base.Engine (3348,)
2021-02-01 14:46:59,803 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,803 INFO sqlalchemy.engine.base.Engine (3349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:46:59,851 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:46:59,852 INFO sqlalchemy.engine.base.Engine ('F68',)
2021-02-01 14:46:59,853 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,854 INFO sqlalchemy.engine.base.Engine ((3350, 14.3, 14.3, 14.3, 4.409331649882, 50.414106439423), (3351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409331649882, 50.414106439423), (3352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409331649882, 50.414106439423), (3353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409331649882, 50.414106439423), (3354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409331649882, 50.414106439423), (3355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409331649882, 50.414106439423), (3356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409331649882, 50.414106439423), (3357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409331649882, 50.414106439423)  ... displaying 10 of 50 total bound parameter sets ...  (3398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409331649882, 50.414106439423), (3399, 135.9, 135.9, 135.9, 4.409331649882, 50.414106439423))
2021-02-01 14:46:59,857 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:46:59,858 INFO sqlalchemy.engine.base.Engine ((1675, 'F68', 0, 'Anhydrite', 3350, 3351), (1676, 'F68', 1, 'Sandstone, grey, vf-f', 3352, 3353), (1677, 'F68', 2, 'Anhydrite', 3354, 3355), (1678, 'F68', 3, 'Dolomite', 3356, 3357), (1679, 'F68', 4, 'Anhydrite', 3358, 3359), (1680, 'F68', 5, 'Sandstone, grey, vf-f', 3360, 3361), (1681, 'F68', 6, 'Siltstone, red', 3362, 3363), (1682, 'F68', 7, 'Dolomite', 3364, 3365)  ... displaying 10 of 25 total bound parameter sets ...  (1698, 'F68', 23, 'Limestone', 3396, 3397), (1699, 'F68', 24, 'Volcanic', 3398, 3399))
2021-02-01 14:46:59,861 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:46:59,867 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:46:59,868 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:46:59,868 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:46:59,870 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:46:59,871 INFO sqlalchemy.engine.base.Engine ('F68',)
2021-02-01 14:46:59,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,873 INFO sqlalchemy.engine.base.Engine (3350,)
2021-02-01 14:46:59,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,874 INFO sqlalchemy.engine.base.Engine (3351,)
2021-02-01 14:46:59,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,878 INFO sqlalchemy.engine.base.Engine (3352,)
2021-02-01 14:46:59,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,880 INFO sqlalchemy.engine.base.Engine (3353,)
2021-02-01 14:46:59,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,884 INFO sqlalchemy.engine.base.Engine (3354,)
2021-02-01 14:46:59,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,887 INFO sqlalchemy.engine.base.Engine (3355,)
2021-02-01 14:46:59,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,892 INFO sqlalchemy.engine.base.Engine (3356,)
2021-02-01 14:46:59,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,894 INFO sqlalchemy.engine.base.Engine (3357,)
2021-02-01 14:46:59,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,897 INFO sqlalchemy.engine.base.Engine (3358,)
2021-02-01 14:46:59,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,899 INFO sqlalchemy.engine.base.Engine (3359,)
2021-02-01 14:46:59,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,902 INFO sqlalchemy.engine.base.Engine (3360,)
2021-02-01 14:46:59,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,904 INFO sqlalchemy.engine.base.Engine (3361,)
2021-02-01 14:46:59,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,909 INFO sqlalchemy.engine.base.Engine (3362,)
2021-02-01 14:46:59,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,911 INFO sqlalchemy.engine.base.Engine (3363,)
2021-02-01 14:46:59,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,916 INFO sqlalchemy.engine.base.Engine (3364,)
2021-02-01 14:46:59,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,920 INFO sqlalchemy.engine.base.Engine (3365,)
2021-02-01 14:46:59,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,924 INFO sqlalchemy.engine.base.Engine (3366,)
2021-02-01 14:46:59,926 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,927 INFO sqlalchemy.engine.base.Engine (3367,)
2021-02-01 14:46:59,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,933 INFO sqlalchemy.engine.base.Engine (3368,)
2021-02-01 14:46:59,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,935 INFO sqlalchemy.engine.base.Engine (3369,)
2021-02-01 14:46:59,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,938 INFO sqlalchemy.engine.base.Engine (3370,)
2021-02-01 14:46:59,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,940 INFO sqlalchemy.engine.base.Engine (3371,)
2021-02-01 14:46:59,942 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:46:59,944 INFO sqlalchemy.engine.base.Engine (3372,)
2021-02-01 14:46:59,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,946 INFO sqlalchemy.engine.base.Engine (3373,)
2021-02-01 14:46:59,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,951 INFO sqlalchemy.engine.base.Engine (3374,)
2021-02-01 14:46:59,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,954 INFO sqlalchemy.engine.base.Engine (3375,)
2021-02-01 14:46:59,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,959 INFO sqlalchemy.engine.base.Engine (3376,)
2021-02-01 14:46:59,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,961 INFO sqlalchemy.engine.base.Engine (3377,)
2021-02-01 14:46:59,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,966 INFO sqlalchemy.engine.base.Engine (3378,)
2021-02-01 14:46:59,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,970 INFO sqlalchemy.engine.base.Engine (3379,)
2021-02-01 14:46:59,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,974 INFO sqlalchemy.engine.base.Engine (3380,)
2021-02-01 14:46:59,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,977 INFO sqlalchemy.engine.base.Engine (3381,)
2021-02-01 14:46:59,979 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,980 INFO sqlalchemy.engine.base.Engine (3382,)
2021-02-01 14:46:59,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,981 INFO sqlalchemy.engine.base.Engine (3383,)
2021-02-01 14:46:59,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,985 INFO sqlalchemy.engine.base.Engine (3384,)
2021-02-01 14:46:59,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,987 INFO sqlalchemy.engine.base.Engine (3385,)
2021-02-01 14:46:59,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,990 INFO sqlalchemy.engine.base.Engine (3386,)
2021-02-01 14:46:59,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,993 INFO sqlalchemy.engine.base.Engine (3387,)
2021-02-01 14:46:59,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,996 INFO sqlalchemy.engine.base.Engine (3388,)
2021-02-01 14:46:59,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:46:59,998 INFO sqlalchemy.engine.base.Engine (3389,)
2021-02-01 14:47:00,002 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,003 INFO sqlalchemy.engine.base.Engine (3390,)
2021-02-01 14:47:00,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,006 INFO sqlalchemy.engine.base.Engine (3391,)
2021-02-01 14:47:00,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,009 INFO sqlalchemy.engine.base.Engine (3392,)
2021-02-01 14:47:00,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,011 INFO sqlalchemy.engine.base.Engine (3393,)
2021-02-01 14:47:00,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,014 INFO sqlalchemy.engine.base.Engine (3394,)
2021-02-01 14:47:00,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,016 INFO sqlalchemy.engine.base.Engine (3395,)
2021-02-01 14:47:00,019 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,020 INFO sqlalchemy.engine.base.Engine (3396,)
2021-02-01 14:47:00,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,022 INFO sqlalchemy.engine.base.Engine (3397,)
2021-02-01 14:47:00,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,027 INFO sqlalchemy.engine.base.Engine (3398,)
2021-02-01 14:47:00,028 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,029 INFO sqlalchemy.engine.base.Engine (3399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:00,078 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:00,079 INFO sqlalchemy.engine.base.Engine ('F69',)
2021-02-01 14:47:00,082 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,083 INFO sqlalchemy.engine.base.Engine ((3400, 14.3, 14.3, 14.3, 4.409333244325368, 50.414079315010255), (3401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409333244325368, 50.414079315010255), (3402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409333244325368, 50.414079315010255), (3403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409333244325368, 50.414079315010255), (3404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409333244325368, 50.414079315010255), (3405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409333244325368, 50.414079315010255), (3406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409333244325368, 50.414079315010255), (3407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409333244325368, 50.414079315010255)  ... displaying 10 of 50 total bound parameter sets ...  (3448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409333244325368, 50.414079315010255), (3449, 135.9, 135.9, 135.9, 4.409333244325368, 50.414079315010255))
2021-02-01 14:47:00,085 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,086 INFO sqlalchemy.engine.base.Engine ((1700, 'F69', 0, 'Anhydrite', 3400, 3401), (1701, 'F69', 1, 'Sandstone, grey, vf-f', 3402, 3403), (1702, 'F69', 2, 'Anhydrite', 3404, 3405), (1703, 'F69', 3, 'Dolomite', 3406, 3407), (1704, 'F69', 4, 'Anhydrite', 3408, 3409), (1705, 'F69', 5, 'Sandstone, grey, vf-f', 3410, 3411), (1706, 'F69', 6, 'Siltstone, red', 3412, 3413), (1707, 'F69', 7, 'Dolomite', 3414, 3415)  ... displaying 10 of 25 total bound parameter sets ...  (1723, 'F69', 23, 'Limestone', 3446, 3447), (1724, 'F69', 24, 'Volcanic', 3448, 3449))
2021-02-01 14:47:00,089 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:00,095 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:00,097 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:00,098 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:00,101 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:00,102 INFO sqlalchemy.engine.base.Engine ('F69',)
2021-02-01 14:47:00,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,104 INFO sqlalchemy.engine.base.Engine (3400,)
2021-02-01 14:47:00,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,108 INFO sqlalchemy.engine.base.Engine (3401,)
2021-02-01 14:47:00,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,114 INFO sqlalchemy.engine.base.Engine (3402,)
2021-02-01 14:47:00,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,116 INFO sqlalchemy.engine.base.Engine (3403,)
2021-02-01 14:47:00,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,121 INFO sqlalchemy.engine.base.Engine (3404,)
2021-02-01 14:47:00,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,123 INFO sqlalchemy.engine.base.Engine (3405,)
2021-02-01 14:47:00,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,129 INFO sqlalchemy.engine.base.Engine (3406,)

2021-02-01 14:47:00,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,133 INFO sqlalchemy.engine.base.Engine (3407,)
2021-02-01 14:47:00,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,136 INFO sqlalchemy.engine.base.Engine (3408,)
2021-02-01 14:47:00,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,138 INFO sqlalchemy.engine.base.Engine (3409,)
2021-02-01 14:47:00,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,142 INFO sqlalchemy.engine.base.Engine (3410,)
2021-02-01 14:47:00,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,144 INFO sqlalchemy.engine.base.Engine (3411,)
2021-02-01 14:47:00,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,146 INFO sqlalchemy.engine.base.Engine (3412,)
2021-02-01 14:47:00,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,148 INFO sqlalchemy.engine.base.Engine (3413,)
2021-02-01 14:47:00,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,152 INFO sqlalchemy.engine.base.Engine (3414,)
2021-02-01 14:47:00,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,154 INFO sqlalchemy.engine.base.Engine (3415,)
2021-02-01 14:47:00,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,158 INFO sqlalchemy.engine.base.Engine (3416,)
2021-02-01 14:47:00,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,160 INFO sqlalchemy.engine.base.Engine (3417,)
2021-02-01 14:47:00,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,165 INFO sqlalchemy.engine.base.Engine (3418,)
2021-02-01 14:47:00,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,168 INFO sqlalchemy.engine.base.Engine (3419,)
2021-02-01 14:47:00,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,174 INFO sqlalchemy.engine.base.Engine (3420,)
2021-02-01 14:47:00,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,176 INFO sqlalchemy.engine.base.Engine (3421,)
2021-02-01 14:47:00,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,178 INFO sqlalchemy.engine.base.Engine (3422,)
2021-02-01 14:47:00,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,180 INFO sqlalchemy.engine.base.Engine (3423,)
2021-02-01 14:47:00,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,184 INFO sqlalchemy.engine.base.Engine (3424,)
2021-02-01 14:47:00,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,187 INFO sqlalchemy.engine.base.Engine (3425,)
2021-02-01 14:47:00,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,193 INFO sqlalchemy.engine.base.Engine (3426,)
2021-02-01 14:47:00,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,196 INFO sqlalchemy.engine.base.Engine (3427,)
2021-02-01 14:47:00,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,203 INFO sqlalchemy.engine.base.Engine (3428,)
2021-02-01 14:47:00,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,206 INFO sqlalchemy.engine.base.Engine (3429,)
2021-02-01 14:47:00,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,210 INFO sqlalchemy.engine.base.Engine (3430,)
2021-02-01 14:47:00,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,212 INFO sqlalchemy.engine.base.Engine (3431,)
2021-02-01 14:47:00,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,215 INFO sqlalchemy.engine.base.Engine (3432,)
2021-02-01 14:47:00,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,217 INFO sqlalchemy.engine.base.Engine (3433,)
2021-02-01 14:47:00,222 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,223 INFO sqlalchemy.engine.base.Engine (3434,)
2021-02-01 14:47:00,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,227 INFO sqlalchemy.engine.base.Engine (3435,)
2021-02-01 14:47:00,231 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,232 INFO sqlalchemy.engine.base.Engine (3436,)
2021-02-01 14:47:00,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,235 INFO sqlalchemy.engine.base.Engine (3437,)
2021-02-01 14:47:00,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,238 INFO sqlalchemy.engine.base.Engine (3438,)
2021-02-01 14:47:00,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,240 INFO sqlalchemy.engine.base.Engine (3439,)
2021-02-01 14:47:00,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,242 INFO sqlalchemy.engine.base.Engine (3440,)
2021-02-01 14:47:00,244 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,244 INFO sqlalchemy.engine.base.Engine (3441,)
2021-02-01 14:47:00,247 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,248 INFO sqlalchemy.engine.base.Engine (3442,)
2021-02-01 14:47:00,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,251 INFO sqlalchemy.engine.base.Engine (3443,)
2021-02-01 14:47:00,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,257 INFO sqlalchemy.engine.base.Engine (3444,)
2021-02-01 14:47:00,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,259 INFO sqlalchemy.engine.base.Engine (3445,)
2021-02-01 14:47:00,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,263 INFO sqlalchemy.engine.base.Engine (3446,)
2021-02-01 14:47:00,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,265 INFO sqlalchemy.engine.base.Engine (3447,)
2021-02-01 14:47:00,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,270 INFO sqlalchemy.engine.base.Engine (3448,)
2021-02-01 14:47:00,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,272 INFO sqlalchemy.engine.base.Engine (3449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:00,320 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,321 INFO sqlalchemy.engine.base.Engine ((3450, 14.3, 14.3, 14.3, 4.409371433395309, 50.414067146507115), (3451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409371433395309, 50.414067146507115), (3452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409371433395309, 50.414067146507115), (3453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409371433395309, 50.414067146507115), (3454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409371433395309, 50.414067146507115), (3455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409371433395309, 50.414067146507115), (3456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409371433395309, 50.414067146507115), (3457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409371433395309, 50.414067146507115)  ... displaying 10 of 50 total bound parameter sets ...  (3498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409371433395309, 50.414067146507115), (3499, 135.9, 135.9, 135.9, 4.409371433395309, 50.414067146507115))
2021-02-01 14:47:00,322 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:00,323 INFO sqlalchemy.engine.base.Engine ('F70',)
2021-02-01 14:47:00,325 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,326 INFO sqlalchemy.engine.base.Engine ((1725, 'F70', 0, 'Anhydrite', 3450, 3451), (1726, 'F70', 1, 'Sandstone, grey, vf-f', 3452, 3453), (1727, 'F70', 2, 'Anhydrite', 3454, 3455), (1728, 'F70', 3, 'Dolomite', 3456, 3457), (1729, 'F70', 4, 'Anhydrite', 3458, 3459), (1730, 'F70', 5, 'Sandstone, grey, vf-f', 3460, 3461), (1731, 'F70', 6, 'Siltstone, red', 3462, 3463), (1732, 'F70', 7, 'Dolomite', 3464, 3465)  ... displaying 10 of 25 total bound parameter sets ...  (1748, 'F70', 23, 'Limestone', 3496, 3497), (1749, 'F70', 24, 'Volcanic', 3498, 3499))
2021-02-01 14:47:00,327 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:00,333 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:00,333 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:00,334 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:00,336 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:00,336 INFO sqlalchemy.engine.base.Engine ('F70',)
2021-02-01 14:47:00,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,339 INFO sqlalchemy.engine.base.Engine (3450,)
2021-02-01 14:47:00,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,342 INFO sqlalchemy.engine.base.Engine (3451,)
2021-02-01 14:47:00,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,347 INFO sqlalchemy.engine.base.Engine (3452,)
2021-02-01 14:47:00,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,349 INFO sqlalchemy.engine.base.Engine (3453,)
2021-02-01 14:47:00,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,352 INFO sqlalchemy.engine.base.Engine (3454,)
2021-02-01 14:47:00,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,354 INFO sqlalchemy.engine.base.Engine (3455,)
2021-02-01 14:47:00,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,356 INFO sqlalchemy.engine.base.Engine (3456,)
2021-02-01 14:47:00,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,358 INFO sqlalchemy.engine.base.Engine (3457,)
2021-02-01 14:47:00,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,360 INFO sqlalchemy.engine.base.Engine (3458,)
2021-02-01 14:47:00,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,362 INFO sqlalchemy.engine.base.Engine (3459,)
2021-02-01 14:47:00,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,364 INFO sqlalchemy.engine.base.Engine (3460,)
2021-02-01 14:47:00,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,366 INFO sqlalchemy.engine.base.Engine (3461,)

2021-02-01 14:47:00,368 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,368 INFO sqlalchemy.engine.base.Engine (3462,)
2021-02-01 14:47:00,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,370 INFO sqlalchemy.engine.base.Engine (3463,)
2021-02-01 14:47:00,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,373 INFO sqlalchemy.engine.base.Engine (3464,)
2021-02-01 14:47:00,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,374 INFO sqlalchemy.engine.base.Engine (3465,)
2021-02-01 14:47:00,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,378 INFO sqlalchemy.engine.base.Engine (3466,)
2021-02-01 14:47:00,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,379 INFO sqlalchemy.engine.base.Engine (3467,)
2021-02-01 14:47:00,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,382 INFO sqlalchemy.engine.base.Engine (3468,)
2021-02-01 14:47:00,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,384 INFO sqlalchemy.engine.base.Engine (3469,)
2021-02-01 14:47:00,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,388 INFO sqlalchemy.engine.base.Engine (3470,)
2021-02-01 14:47:00,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,390 INFO sqlalchemy.engine.base.Engine (3471,)
2021-02-01 14:47:00,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,395 INFO sqlalchemy.engine.base.Engine (3472,)
2021-02-01 14:47:00,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,398 INFO sqlalchemy.engine.base.Engine (3473,)
2021-02-01 14:47:00,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,401 INFO sqlalchemy.engine.base.Engine (3474,)
2021-02-01 14:47:00,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,402 INFO sqlalchemy.engine.base.Engine (3475,)
2021-02-01 14:47:00,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,407 INFO sqlalchemy.engine.base.Engine (3476,)
2021-02-01 14:47:00,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,411 INFO sqlalchemy.engine.base.Engine (3477,)
2021-02-01 14:47:00,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,416 INFO sqlalchemy.engine.base.Engine (3478,)
2021-02-01 14:47:00,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,418 INFO sqlalchemy.engine.base.Engine (3479,)
2021-02-01 14:47:00,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,421 INFO sqlalchemy.engine.base.Engine (3480,)
2021-02-01 14:47:00,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,424 INFO sqlalchemy.engine.base.Engine (3481,)
2021-02-01 14:47:00,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,428 INFO sqlalchemy.engine.base.Engine (3482,)
2021-02-01 14:47:00,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,430 INFO sqlalchemy.engine.base.Engine (3483,)
2021-02-01 14:47:00,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,435 INFO sqlalchemy.engine.base.Engine (3484,)
2021-02-01 14:47:00,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,437 INFO sqlalchemy.engine.base.Engine (3485,)
2021-02-01 14:47:00,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,441 INFO sqlalchemy.engine.base.Engine (3486,)
2021-02-01 14:47:00,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,443 INFO sqlalchemy.engine.base.Engine (3487,)
2021-02-01 14:47:00,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,448 INFO sqlalchemy.engine.base.Engine (3488,)
2021-02-01 14:47:00,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,450 INFO sqlalchemy.engine.base.Engine (3489,)
2021-02-01 14:47:00,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,453 INFO sqlalchemy.engine.base.Engine (3490,)
2021-02-01 14:47:00,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,455 INFO sqlalchemy.engine.base.Engine (3491,)
2021-02-01 14:47:00,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,459 INFO sqlalchemy.engine.base.Engine (3492,)
2021-02-01 14:47:00,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,463 INFO sqlalchemy.engine.base.Engine (3493,)
2021-02-01 14:47:00,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,466 INFO sqlalchemy.engine.base.Engine (3494,)
2021-02-01 14:47:00,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,468 INFO sqlalchemy.engine.base.Engine (3495,)
2021-02-01 14:47:00,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,471 INFO sqlalchemy.engine.base.Engine (3496,)
2021-02-01 14:47:00,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,473 INFO sqlalchemy.engine.base.Engine (3497,)
2021-02-01 14:47:00,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,478 INFO sqlalchemy.engine.base.Engine (3498,)
2021-02-01 14:47:00,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,479 INFO sqlalchemy.engine.base.Engine (3499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:00,531 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:00,532 INFO sqlalchemy.engine.base.Engine ('F71',)
2021-02-01 14:47:00,533 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,534 INFO sqlalchemy.engine.base.Engine ((3500, 14.3, 14.3, 14.3, 4.409345131725442, 50.41409361441442), (3501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409345131725442, 50.41409361441442), (3502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409345131725442, 50.41409361441442), (3503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409345131725442, 50.41409361441442), (3504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409345131725442, 50.41409361441442), (3505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409345131725442, 50.41409361441442), (3506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409345131725442, 50.41409361441442), (3507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409345131725442, 50.41409361441442)  ... displaying 10 of 50 total bound parameter sets ...  (3548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409345131725442, 50.41409361441442), (3549, 135.9, 135.9, 135.9, 4.409345131725442, 50.41409361441442))

2021-02-01 14:47:00,537 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,538 INFO sqlalchemy.engine.base.Engine ((1750, 'F71', 0, 'Anhydrite', 3500, 3501), (1751, 'F71', 1, 'Sandstone, grey, vf-f', 3502, 3503), (1752, 'F71', 2, 'Anhydrite', 3504, 3505), (1753, 'F71', 3, 'Dolomite', 3506, 3507), (1754, 'F71', 4, 'Anhydrite', 3508, 3509), (1755, 'F71', 5, 'Sandstone, grey, vf-f', 3510, 3511), (1756, 'F71', 6, 'Siltstone, red', 3512, 3513), (1757, 'F71', 7, 'Dolomite', 3514, 3515)  ... displaying 10 of 25 total bound parameter sets ...  (1773, 'F71', 23, 'Limestone', 3546, 3547), (1774, 'F71', 24, 'Volcanic', 3548, 3549))
2021-02-01 14:47:00,540 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:00,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:00,548 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:00,548 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:00,552 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:00,553 INFO sqlalchemy.engine.base.Engine ('F71',)
2021-02-01 14:47:00,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,557 INFO sqlalchemy.engine.base.Engine (3500,)
2021-02-01 14:47:00,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,561 INFO sqlalchemy.engine.base.Engine (3501,)
2021-02-01 14:47:00,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,564 INFO sqlalchemy.engine.base.Engine (3502,)
2021-02-01 14:47:00,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,566 INFO sqlalchemy.engine.base.Engine (3503,)
2021-02-01 14:47:00,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,570 INFO sqlalchemy.engine.base.Engine (3504,)
2021-02-01 14:47:00,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,573 INFO sqlalchemy.engine.base.Engine (3505,)
2021-02-01 14:47:00,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,578 INFO sqlalchemy.engine.base.Engine (3506,)
2021-02-01 14:47:00,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,580 INFO sqlalchemy.engine.base.Engine (3507,)
2021-02-01 14:47:00,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,586 INFO sqlalchemy.engine.base.Engine (3508,)
2021-02-01 14:47:00,588 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,588 INFO sqlalchemy.engine.base.Engine (3509,)
2021-02-01 14:47:00,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,595 INFO sqlalchemy.engine.base.Engine (3510,)
2021-02-01 14:47:00,597 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,599 INFO sqlalchemy.engine.base.Engine (3511,)
2021-02-01 14:47:00,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,603 INFO sqlalchemy.engine.base.Engine (3512,)
2021-02-01 14:47:00,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,604 INFO sqlalchemy.engine.base.Engine (3513,)
2021-02-01 14:47:00,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,609 INFO sqlalchemy.engine.base.Engine (3514,)
2021-02-01 14:47:00,610 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,611 INFO sqlalchemy.engine.base.Engine (3515,)
2021-02-01 14:47:00,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,613 INFO sqlalchemy.engine.base.Engine (3516,)

2021-02-01 14:47:00,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,617 INFO sqlalchemy.engine.base.Engine (3517,)
2021-02-01 14:47:00,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,622 INFO sqlalchemy.engine.base.Engine (3518,)
2021-02-01 14:47:00,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,624 INFO sqlalchemy.engine.base.Engine (3519,)
2021-02-01 14:47:00,626 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,627 INFO sqlalchemy.engine.base.Engine (3520,)
2021-02-01 14:47:00,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,629 INFO sqlalchemy.engine.base.Engine (3521,)
2021-02-01 14:47:00,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,633 INFO sqlalchemy.engine.base.Engine (3522,)
2021-02-01 14:47:00,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,635 INFO sqlalchemy.engine.base.Engine (3523,)
2021-02-01 14:47:00,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,639 INFO sqlalchemy.engine.base.Engine (3524,)
2021-02-01 14:47:00,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,640 INFO sqlalchemy.engine.base.Engine (3525,)
2021-02-01 14:47:00,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,643 INFO sqlalchemy.engine.base.Engine (3526,)
2021-02-01 14:47:00,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,645 INFO sqlalchemy.engine.base.Engine (3527,)
2021-02-01 14:47:00,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,647 INFO sqlalchemy.engine.base.Engine (3528,)
2021-02-01 14:47:00,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,651 INFO sqlalchemy.engine.base.Engine (3529,)
2021-02-01 14:47:00,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,656 INFO sqlalchemy.engine.base.Engine (3530,)
2021-02-01 14:47:00,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,659 INFO sqlalchemy.engine.base.Engine (3531,)
2021-02-01 14:47:00,664 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,665 INFO sqlalchemy.engine.base.Engine (3532,)
2021-02-01 14:47:00,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,668 INFO sqlalchemy.engine.base.Engine (3533,)
2021-02-01 14:47:00,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,672 INFO sqlalchemy.engine.base.Engine (3534,)
2021-02-01 14:47:00,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,675 INFO sqlalchemy.engine.base.Engine (3535,)
2021-02-01 14:47:00,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,679 INFO sqlalchemy.engine.base.Engine (3536,)
2021-02-01 14:47:00,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,681 INFO sqlalchemy.engine.base.Engine (3537,)
2021-02-01 14:47:00,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,686 INFO sqlalchemy.engine.base.Engine (3538,)
2021-02-01 14:47:00,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,689 INFO sqlalchemy.engine.base.Engine (3539,)
2021-02-01 14:47:00,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,692 INFO sqlalchemy.engine.base.Engine (3540,)
2021-02-01 14:47:00,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,693 INFO sqlalchemy.engine.base.Engine (3541,)
2021-02-01 14:47:00,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,699 INFO sqlalchemy.engine.base.Engine (3542,)
2021-02-01 14:47:00,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,700 INFO sqlalchemy.engine.base.Engine (3543,)
2021-02-01 14:47:00,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,704 INFO sqlalchemy.engine.base.Engine (3544,)
2021-02-01 14:47:00,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,705 INFO sqlalchemy.engine.base.Engine (3545,)
2021-02-01 14:47:00,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,708 INFO sqlalchemy.engine.base.Engine (3546,)
2021-02-01 14:47:00,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,709 INFO sqlalchemy.engine.base.Engine (3547,)
2021-02-01 14:47:00,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,712 INFO sqlalchemy.engine.base.Engine (3548,)
2021-02-01 14:47:00,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,714 INFO sqlalchemy.engine.base.Engine (3549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:00,770 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,771 INFO sqlalchemy.engine.base.Engine ((3550, 14.3, 14.3, 14.3, 4.409384882119191, 50.41408094189342), (3551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409384882119191, 50.41408094189342), (3552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409384882119191, 50.41408094189342), (3553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409384882119191, 50.41408094189342), (3554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409384882119191, 50.41408094189342), (3555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409384882119191, 50.41408094189342), (3556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409384882119191, 50.41408094189342), (3557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409384882119191, 50.41408094189342)  ... displaying 10 of 50 total bound parameter sets ...  (3598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409384882119191, 50.41408094189342), (3599, 135.9, 135.9, 135.9, 4.409384882119191, 50.41408094189342))
2021-02-01 14:47:00,773 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:00,773 INFO sqlalchemy.engine.base.Engine ('F72',)
2021-02-01 14:47:00,775 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,775 INFO sqlalchemy.engine.base.Engine ((1775, 'F72', 0, 'Anhydrite', 3550, 3551), (1776, 'F72', 1, 'Sandstone, grey, vf-f', 3552, 3553), (1777, 'F72', 2, 'Anhydrite', 3554, 3555), (1778, 'F72', 3, 'Dolomite', 3556, 3557), (1779, 'F72', 4, 'Anhydrite', 3558, 3559), (1780, 'F72', 5, 'Sandstone, grey, vf-f', 3560, 3561), (1781, 'F72', 6, 'Siltstone, red', 3562, 3563), (1782, 'F72', 7, 'Dolomite', 3564, 3565)  ... displaying 10 of 25 total bound parameter sets ...  (1798, 'F72', 23, 'Limestone', 3596, 3597), (1799, 'F72', 24, 'Volcanic', 3598, 3599))
2021-02-01 14:47:00,777 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:00,781 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:00,782 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:00,783 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:00,785 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:00,785 INFO sqlalchemy.engine.base.Engine ('F72',)
2021-02-01 14:47:00,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,788 INFO sqlalchemy.engine.base.Engine (3550,)

2021-02-01 14:47:00,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,789 INFO sqlalchemy.engine.base.Engine (3551,)
2021-02-01 14:47:00,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,792 INFO sqlalchemy.engine.base.Engine (3552,)
2021-02-01 14:47:00,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,795 INFO sqlalchemy.engine.base.Engine (3553,)
2021-02-01 14:47:00,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,799 INFO sqlalchemy.engine.base.Engine (3554,)
2021-02-01 14:47:00,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,802 INFO sqlalchemy.engine.base.Engine (3555,)
2021-02-01 14:47:00,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,808 INFO sqlalchemy.engine.base.Engine (3556,)
2021-02-01 14:47:00,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,809 INFO sqlalchemy.engine.base.Engine (3557,)
2021-02-01 14:47:00,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,812 INFO sqlalchemy.engine.base.Engine (3558,)
2021-02-01 14:47:00,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,813 INFO sqlalchemy.engine.base.Engine (3559,)
2021-02-01 14:47:00,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,816 INFO sqlalchemy.engine.base.Engine (3560,)
2021-02-01 14:47:00,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,819 INFO sqlalchemy.engine.base.Engine (3561,)
2021-02-01 14:47:00,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,821 INFO sqlalchemy.engine.base.Engine (3562,)
2021-02-01 14:47:00,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,823 INFO sqlalchemy.engine.base.Engine (3563,)
2021-02-01 14:47:00,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,825 INFO sqlalchemy.engine.base.Engine (3564,)
2021-02-01 14:47:00,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,826 INFO sqlalchemy.engine.base.Engine (3565,)
2021-02-01 14:47:00,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,831 INFO sqlalchemy.engine.base.Engine (3566,)
2021-02-01 14:47:00,833 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,833 INFO sqlalchemy.engine.base.Engine (3567,)
2021-02-01 14:47:00,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,836 INFO sqlalchemy.engine.base.Engine (3568,)
2021-02-01 14:47:00,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,838 INFO sqlalchemy.engine.base.Engine (3569,)
2021-02-01 14:47:00,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,842 INFO sqlalchemy.engine.base.Engine (3570,)
2021-02-01 14:47:00,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,844 INFO sqlalchemy.engine.base.Engine (3571,)
2021-02-01 14:47:00,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,849 INFO sqlalchemy.engine.base.Engine (3572,)
2021-02-01 14:47:00,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,851 INFO sqlalchemy.engine.base.Engine (3573,)
2021-02-01 14:47:00,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,853 INFO sqlalchemy.engine.base.Engine (3574,)
2021-02-01 14:47:00,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,854 INFO sqlalchemy.engine.base.Engine (3575,)
2021-02-01 14:47:00,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,857 INFO sqlalchemy.engine.base.Engine (3576,)
2021-02-01 14:47:00,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,859 INFO sqlalchemy.engine.base.Engine (3577,)
2021-02-01 14:47:00,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,863 INFO sqlalchemy.engine.base.Engine (3578,)
2021-02-01 14:47:00,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,865 INFO sqlalchemy.engine.base.Engine (3579,)
2021-02-01 14:47:00,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,868 INFO sqlalchemy.engine.base.Engine (3580,)
2021-02-01 14:47:00,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,871 INFO sqlalchemy.engine.base.Engine (3581,)
2021-02-01 14:47:00,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,875 INFO sqlalchemy.engine.base.Engine (3582,)
2021-02-01 14:47:00,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,877 INFO sqlalchemy.engine.base.Engine (3583,)
2021-02-01 14:47:00,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,880 INFO sqlalchemy.engine.base.Engine (3584,)
2021-02-01 14:47:00,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,881 INFO sqlalchemy.engine.base.Engine (3585,)
2021-02-01 14:47:00,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,886 INFO sqlalchemy.engine.base.Engine (3586,)
2021-02-01 14:47:00,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,888 INFO sqlalchemy.engine.base.Engine (3587,)
2021-02-01 14:47:00,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,892 INFO sqlalchemy.engine.base.Engine (3588,)
2021-02-01 14:47:00,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,893 INFO sqlalchemy.engine.base.Engine (3589,)
2021-02-01 14:47:00,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,896 INFO sqlalchemy.engine.base.Engine (3590,)
2021-02-01 14:47:00,897 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,897 INFO sqlalchemy.engine.base.Engine (3591,)
2021-02-01 14:47:00,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:00,900 INFO sqlalchemy.engine.base.Engine (3592,)
2021-02-01 14:47:00,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,902 INFO sqlalchemy.engine.base.Engine (3593,)
2021-02-01 14:47:00,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,904 INFO sqlalchemy.engine.base.Engine (3594,)
2021-02-01 14:47:00,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,906 INFO sqlalchemy.engine.base.Engine (3595,)
2021-02-01 14:47:00,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,908 INFO sqlalchemy.engine.base.Engine (3596,)
2021-02-01 14:47:00,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,910 INFO sqlalchemy.engine.base.Engine (3597,)
2021-02-01 14:47:00,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,917 INFO sqlalchemy.engine.base.Engine (3598,)
2021-02-01 14:47:00,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:00,919 INFO sqlalchemy.engine.base.Engine (3599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:00,970 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:00,971 INFO sqlalchemy.engine.base.Engine ('F73',)
2021-02-01 14:47:00,974 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,975 INFO sqlalchemy.engine.base.Engine ((3600, 14.3, 14.3, 14.3, 4.4093875580530675, 50.41411630892746), (3601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093875580530675, 50.41411630892746), (3602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093875580530675, 50.41411630892746), (3603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093875580530675, 50.41411630892746), (3604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093875580530675, 50.41411630892746), (3605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093875580530675, 50.41411630892746), (3606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093875580530675, 50.41411630892746), (3607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4093875580530675, 50.41411630892746)  ... displaying 10 of 50 total bound parameter sets ...  (3648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4093875580530675, 50.41411630892746), (3649, 135.9, 135.9, 135.9, 4.4093875580530675, 50.41411630892746))
2021-02-01 14:47:00,979 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:00,981 INFO sqlalchemy.engine.base.Engine ((1800, 'F73', 0, 'Anhydrite', 3600, 3601), (1801, 'F73', 1, 'Sandstone, grey, vf-f', 3602, 3603), (1802, 'F73', 2, 'Anhydrite', 3604, 3605), (1803, 'F73', 3, 'Dolomite', 3606, 3607), (1804, 'F73', 4, 'Anhydrite', 3608, 3609), (1805, 'F73', 5, 'Sandstone, grey, vf-f', 3610, 3611), (1806, 'F73', 6, 'Siltstone, red', 3612, 3613), (1807, 'F73', 7, 'Dolomite', 3614, 3615)  ... displaying 10 of 25 total bound parameter sets ...  (1823, 'F73', 23, 'Limestone', 3646, 3647), (1824, 'F73', 24, 'Volcanic', 3648, 3649))
2021-02-01 14:47:00,984 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:00,990 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:00,991 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:00,992 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:00,996 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:00,996 INFO sqlalchemy.engine.base.Engine ('F73',)
2021-02-01 14:47:00,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,000 INFO sqlalchemy.engine.base.Engine (3600,)
2021-02-01 14:47:01,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,003 INFO sqlalchemy.engine.base.Engine (3601,)
2021-02-01 14:47:01,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,007 INFO sqlalchemy.engine.base.Engine (3602,)
2021-02-01 14:47:01,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,010 INFO sqlalchemy.engine.base.Engine (3603,)
2021-02-01 14:47:01,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,013 INFO sqlalchemy.engine.base.Engine (3604,)
2021-02-01 14:47:01,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,015 INFO sqlalchemy.engine.base.Engine (3605,)

2021-02-01 14:47:01,018 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,019 INFO sqlalchemy.engine.base.Engine (3606,)
2021-02-01 14:47:01,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,020 INFO sqlalchemy.engine.base.Engine (3607,)
2021-02-01 14:47:01,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,023 INFO sqlalchemy.engine.base.Engine (3608,)
2021-02-01 14:47:01,024 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,025 INFO sqlalchemy.engine.base.Engine (3609,)
2021-02-01 14:47:01,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,028 INFO sqlalchemy.engine.base.Engine (3610,)
2021-02-01 14:47:01,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,031 INFO sqlalchemy.engine.base.Engine (3611,)
2021-02-01 14:47:01,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,037 INFO sqlalchemy.engine.base.Engine (3612,)
2021-02-01 14:47:01,039 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,039 INFO sqlalchemy.engine.base.Engine (3613,)
2021-02-01 14:47:01,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,042 INFO sqlalchemy.engine.base.Engine (3614,)
2021-02-01 14:47:01,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,044 INFO sqlalchemy.engine.base.Engine (3615,)
2021-02-01 14:47:01,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,050 INFO sqlalchemy.engine.base.Engine (3616,)
2021-02-01 14:47:01,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,053 INFO sqlalchemy.engine.base.Engine (3617,)
2021-02-01 14:47:01,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,058 INFO sqlalchemy.engine.base.Engine (3618,)
2021-02-01 14:47:01,059 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,060 INFO sqlalchemy.engine.base.Engine (3619,)
2021-02-01 14:47:01,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,064 INFO sqlalchemy.engine.base.Engine (3620,)
2021-02-01 14:47:01,065 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,066 INFO sqlalchemy.engine.base.Engine (3621,)
2021-02-01 14:47:01,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,069 INFO sqlalchemy.engine.base.Engine (3622,)
2021-02-01 14:47:01,070 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,071 INFO sqlalchemy.engine.base.Engine (3623,)
2021-02-01 14:47:01,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,076 INFO sqlalchemy.engine.base.Engine (3624,)
2021-02-01 14:47:01,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,081 INFO sqlalchemy.engine.base.Engine (3625,)
2021-02-01 14:47:01,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:01,085 INFO sqlalchemy.engine.base.Engine (3626,)
2021-02-01 14:47:01,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,088 INFO sqlalchemy.engine.base.Engine (3627,)
2021-02-01 14:47:01,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,092 INFO sqlalchemy.engine.base.Engine (3628,)
2021-02-01 14:47:01,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,095 INFO sqlalchemy.engine.base.Engine (3629,)
2021-02-01 14:47:01,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,099 INFO sqlalchemy.engine.base.Engine (3630,)
2021-02-01 14:47:01,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,102 INFO sqlalchemy.engine.base.Engine (3631,)
2021-02-01 14:47:01,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,106 INFO sqlalchemy.engine.base.Engine (3632,)
2021-02-01 14:47:01,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,108 INFO sqlalchemy.engine.base.Engine (3633,)
2021-02-01 14:47:01,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,111 INFO sqlalchemy.engine.base.Engine (3634,)
2021-02-01 14:47:01,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,114 INFO sqlalchemy.engine.base.Engine (3635,)
2021-02-01 14:47:01,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,118 INFO sqlalchemy.engine.base.Engine (3636,)
2021-02-01 14:47:01,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,120 INFO sqlalchemy.engine.base.Engine (3637,)
2021-02-01 14:47:01,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,126 INFO sqlalchemy.engine.base.Engine (3638,)
2021-02-01 14:47:01,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,129 INFO sqlalchemy.engine.base.Engine (3639,)
2021-02-01 14:47:01,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,133 INFO sqlalchemy.engine.base.Engine (3640,)
2021-02-01 14:47:01,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,135 INFO sqlalchemy.engine.base.Engine (3641,)
2021-02-01 14:47:01,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,139 INFO sqlalchemy.engine.base.Engine (3642,)
2021-02-01 14:47:01,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,143 INFO sqlalchemy.engine.base.Engine (3643,)
2021-02-01 14:47:01,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,147 INFO sqlalchemy.engine.base.Engine (3644,)
2021-02-01 14:47:01,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,149 INFO sqlalchemy.engine.base.Engine (3645,)
2021-02-01 14:47:01,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,153 INFO sqlalchemy.engine.base.Engine (3646,)
2021-02-01 14:47:01,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:01,156 INFO sqlalchemy.engine.base.Engine (3647,)
2021-02-01 14:47:01,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,161 INFO sqlalchemy.engine.base.Engine (3648,)
2021-02-01 14:47:01,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,163 INFO sqlalchemy.engine.base.Engine (3649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:01,214 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,215 INFO sqlalchemy.engine.base.Engine ((3650, 14.3, 14.3, 14.3, 4.409355809030697, 50.41410780636323), (3651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409355809030697, 50.41410780636323), (3652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409355809030697, 50.41410780636323), (3653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409355809030697, 50.41410780636323), (3654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409355809030697, 50.41410780636323), (3655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409355809030697, 50.41410780636323), (3656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409355809030697, 50.41410780636323), (3657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409355809030697, 50.41410780636323)  ... displaying 10 of 50 total bound parameter sets ...  (3698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409355809030697, 50.41410780636323), (3699, 135.9, 135.9, 135.9, 4.409355809030697, 50.41410780636323))
2021-02-01 14:47:01,217 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:01,218 INFO sqlalchemy.engine.base.Engine ('F74',)
2021-02-01 14:47:01,221 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,222 INFO sqlalchemy.engine.base.Engine ((1825, 'F74', 0, 'Anhydrite', 3650, 3651), (1826, 'F74', 1, 'Sandstone, grey, vf-f', 3652, 3653), (1827, 'F74', 2, 'Anhydrite', 3654, 3655), (1828, 'F74', 3, 'Dolomite', 3656, 3657), (1829, 'F74', 4, 'Anhydrite', 3658, 3659), (1830, 'F74', 5, 'Sandstone, grey, vf-f', 3660, 3661), (1831, 'F74', 6, 'Siltstone, red', 3662, 3663), (1832, 'F74', 7, 'Dolomite', 3664, 3665)  ... displaying 10 of 25 total bound parameter sets ...  (1848, 'F74', 23, 'Limestone', 3696, 3697), (1849, 'F74', 24, 'Volcanic', 3698, 3699))
2021-02-01 14:47:01,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:01,228 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:01,229 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:01,230 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:01,232 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:01,233 INFO sqlalchemy.engine.base.Engine ('F74',)
2021-02-01 14:47:01,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,236 INFO sqlalchemy.engine.base.Engine (3650,)
2021-02-01 14:47:01,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,239 INFO sqlalchemy.engine.base.Engine (3651,)
2021-02-01 14:47:01,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,242 INFO sqlalchemy.engine.base.Engine (3652,)
2021-02-01 14:47:01,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,244 INFO sqlalchemy.engine.base.Engine (3653,)
2021-02-01 14:47:01,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,250 INFO sqlalchemy.engine.base.Engine (3654,)
2021-02-01 14:47:01,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,253 INFO sqlalchemy.engine.base.Engine (3655,)
2021-02-01 14:47:01,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,258 INFO sqlalchemy.engine.base.Engine (3656,)
2021-02-01 14:47:01,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,260 INFO sqlalchemy.engine.base.Engine (3657,)
2021-02-01 14:47:01,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,263 INFO sqlalchemy.engine.base.Engine (3658,)
2021-02-01 14:47:01,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,266 INFO sqlalchemy.engine.base.Engine (3659,)
2021-02-01 14:47:01,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,270 INFO sqlalchemy.engine.base.Engine (3660,)

2021-02-01 14:47:01,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,272 INFO sqlalchemy.engine.base.Engine (3661,)
2021-02-01 14:47:01,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,276 INFO sqlalchemy.engine.base.Engine (3662,)
2021-02-01 14:47:01,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,278 INFO sqlalchemy.engine.base.Engine (3663,)
2021-02-01 14:47:01,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,283 INFO sqlalchemy.engine.base.Engine (3664,)
2021-02-01 14:47:01,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,286 INFO sqlalchemy.engine.base.Engine (3665,)
2021-02-01 14:47:01,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,291 INFO sqlalchemy.engine.base.Engine (3666,)
2021-02-01 14:47:01,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,293 INFO sqlalchemy.engine.base.Engine (3667,)
2021-02-01 14:47:01,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,298 INFO sqlalchemy.engine.base.Engine (3668,)
2021-02-01 14:47:01,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,300 INFO sqlalchemy.engine.base.Engine (3669,)
2021-02-01 14:47:01,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,304 INFO sqlalchemy.engine.base.Engine (3670,)
2021-02-01 14:47:01,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,305 INFO sqlalchemy.engine.base.Engine (3671,)
2021-02-01 14:47:01,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,312 INFO sqlalchemy.engine.base.Engine (3672,)
2021-02-01 14:47:01,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,314 INFO sqlalchemy.engine.base.Engine (3673,)
2021-02-01 14:47:01,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,316 INFO sqlalchemy.engine.base.Engine (3674,)
2021-02-01 14:47:01,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,318 INFO sqlalchemy.engine.base.Engine (3675,)
2021-02-01 14:47:01,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,321 INFO sqlalchemy.engine.base.Engine (3676,)
2021-02-01 14:47:01,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,324 INFO sqlalchemy.engine.base.Engine (3677,)
2021-02-01 14:47:01,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,328 INFO sqlalchemy.engine.base.Engine (3678,)
2021-02-01 14:47:01,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,331 INFO sqlalchemy.engine.base.Engine (3679,)
2021-02-01 14:47:01,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,335 INFO sqlalchemy.engine.base.Engine (3680,)
2021-02-01 14:47:01,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:01,337 INFO sqlalchemy.engine.base.Engine (3681,)
2021-02-01 14:47:01,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,343 INFO sqlalchemy.engine.base.Engine (3682,)
2021-02-01 14:47:01,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,346 INFO sqlalchemy.engine.base.Engine (3683,)
2021-02-01 14:47:01,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,350 INFO sqlalchemy.engine.base.Engine (3684,)
2021-02-01 14:47:01,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,353 INFO sqlalchemy.engine.base.Engine (3685,)
2021-02-01 14:47:01,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,357 INFO sqlalchemy.engine.base.Engine (3686,)
2021-02-01 14:47:01,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,359 INFO sqlalchemy.engine.base.Engine (3687,)
2021-02-01 14:47:01,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,364 INFO sqlalchemy.engine.base.Engine (3688,)
2021-02-01 14:47:01,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,367 INFO sqlalchemy.engine.base.Engine (3689,)
2021-02-01 14:47:01,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,371 INFO sqlalchemy.engine.base.Engine (3690,)
2021-02-01 14:47:01,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,373 INFO sqlalchemy.engine.base.Engine (3691,)
2021-02-01 14:47:01,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,375 INFO sqlalchemy.engine.base.Engine (3692,)
2021-02-01 14:47:01,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,377 INFO sqlalchemy.engine.base.Engine (3693,)
2021-02-01 14:47:01,380 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,381 INFO sqlalchemy.engine.base.Engine (3694,)
2021-02-01 14:47:01,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,382 INFO sqlalchemy.engine.base.Engine (3695,)
2021-02-01 14:47:01,385 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,385 INFO sqlalchemy.engine.base.Engine (3696,)
2021-02-01 14:47:01,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,387 INFO sqlalchemy.engine.base.Engine (3697,)
2021-02-01 14:47:01,389 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,390 INFO sqlalchemy.engine.base.Engine (3698,)
2021-02-01 14:47:01,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,393 INFO sqlalchemy.engine.base.Engine (3699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:01,449 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:01,449 INFO sqlalchemy.engine.base.Engine ('F75',)
2021-02-01 14:47:01,451 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,452 INFO sqlalchemy.engine.base.Engine ((3700, 14.3, 14.3, 14.3, 4.409386773343342, 50.41410383061884), (3701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409386773343342, 50.41410383061884), (3702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409386773343342, 50.41410383061884), (3703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409386773343342, 50.41410383061884), (3704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409386773343342, 50.41410383061884), (3705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409386773343342, 50.41410383061884), (3706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409386773343342, 50.41410383061884), (3707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409386773343342, 50.41410383061884)  ... displaying 10 of 50 total bound parameter sets ...  (3748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409386773343342, 50.41410383061884), (3749, 135.9, 135.9, 135.9, 4.409386773343342, 50.41410383061884))

2021-02-01 14:47:01,457 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,458 INFO sqlalchemy.engine.base.Engine ((1850, 'F75', 0, 'Anhydrite', 3700, 3701), (1851, 'F75', 1, 'Sandstone, grey, vf-f', 3702, 3703), (1852, 'F75', 2, 'Anhydrite', 3704, 3705), (1853, 'F75', 3, 'Dolomite', 3706, 3707), (1854, 'F75', 4, 'Anhydrite', 3708, 3709), (1855, 'F75', 5, 'Sandstone, grey, vf-f', 3710, 3711), (1856, 'F75', 6, 'Siltstone, red', 3712, 3713), (1857, 'F75', 7, 'Dolomite', 3714, 3715)  ... displaying 10 of 25 total bound parameter sets ...  (1873, 'F75', 23, 'Limestone', 3746, 3747), (1874, 'F75', 24, 'Volcanic', 3748, 3749))
2021-02-01 14:47:01,460 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:01,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:01,468 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:01,469 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:01,471 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:01,471 INFO sqlalchemy.engine.base.Engine ('F75',)
2021-02-01 14:47:01,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,474 INFO sqlalchemy.engine.base.Engine (3700,)
2021-02-01 14:47:01,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,477 INFO sqlalchemy.engine.base.Engine (3701,)
2021-02-01 14:47:01,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,482 INFO sqlalchemy.engine.base.Engine (3702,)
2021-02-01 14:47:01,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,485 INFO sqlalchemy.engine.base.Engine (3703,)
2021-02-01 14:47:01,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,488 INFO sqlalchemy.engine.base.Engine (3704,)
2021-02-01 14:47:01,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,490 INFO sqlalchemy.engine.base.Engine (3705,)
2021-02-01 14:47:01,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,492 INFO sqlalchemy.engine.base.Engine (3706,)
2021-02-01 14:47:01,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,493 INFO sqlalchemy.engine.base.Engine (3707,)
2021-02-01 14:47:01,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,498 INFO sqlalchemy.engine.base.Engine (3708,)
2021-02-01 14:47:01,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,500 INFO sqlalchemy.engine.base.Engine (3709,)
2021-02-01 14:47:01,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,505 INFO sqlalchemy.engine.base.Engine (3710,)
2021-02-01 14:47:01,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,507 INFO sqlalchemy.engine.base.Engine (3711,)
2021-02-01 14:47:01,512 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,512 INFO sqlalchemy.engine.base.Engine (3712,)
2021-02-01 14:47:01,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,514 INFO sqlalchemy.engine.base.Engine (3713,)
2021-02-01 14:47:01,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,517 INFO sqlalchemy.engine.base.Engine (3714,)
2021-02-01 14:47:01,518 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,519 INFO sqlalchemy.engine.base.Engine (3715,)
2021-02-01 14:47:01,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,522 INFO sqlalchemy.engine.base.Engine (3716,)

2021-02-01 14:47:01,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,524 INFO sqlalchemy.engine.base.Engine (3717,)
2021-02-01 14:47:01,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,528 INFO sqlalchemy.engine.base.Engine (3718,)
2021-02-01 14:47:01,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,530 INFO sqlalchemy.engine.base.Engine (3719,)
2021-02-01 14:47:01,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,534 INFO sqlalchemy.engine.base.Engine (3720,)
2021-02-01 14:47:01,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,537 INFO sqlalchemy.engine.base.Engine (3721,)
2021-02-01 14:47:01,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,540 INFO sqlalchemy.engine.base.Engine (3722,)
2021-02-01 14:47:01,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,542 INFO sqlalchemy.engine.base.Engine (3723,)
2021-02-01 14:47:01,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,547 INFO sqlalchemy.engine.base.Engine (3724,)
2021-02-01 14:47:01,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,549 INFO sqlalchemy.engine.base.Engine (3725,)
2021-02-01 14:47:01,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,555 INFO sqlalchemy.engine.base.Engine (3726,)
2021-02-01 14:47:01,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,557 INFO sqlalchemy.engine.base.Engine (3727,)
2021-02-01 14:47:01,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,562 INFO sqlalchemy.engine.base.Engine (3728,)
2021-02-01 14:47:01,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,564 INFO sqlalchemy.engine.base.Engine (3729,)
2021-02-01 14:47:01,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,567 INFO sqlalchemy.engine.base.Engine (3730,)
2021-02-01 14:47:01,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,569 INFO sqlalchemy.engine.base.Engine (3731,)
2021-02-01 14:47:01,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,573 INFO sqlalchemy.engine.base.Engine (3732,)
2021-02-01 14:47:01,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,575 INFO sqlalchemy.engine.base.Engine (3733,)
2021-02-01 14:47:01,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,578 INFO sqlalchemy.engine.base.Engine (3734,)
2021-02-01 14:47:01,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,580 INFO sqlalchemy.engine.base.Engine (3735,)
2021-02-01 14:47:01,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,583 INFO sqlalchemy.engine.base.Engine (3736,)
2021-02-01 14:47:01,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:01,586 INFO sqlalchemy.engine.base.Engine (3737,)
2021-02-01 14:47:01,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,589 INFO sqlalchemy.engine.base.Engine (3738,)
2021-02-01 14:47:01,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,591 INFO sqlalchemy.engine.base.Engine (3739,)
2021-02-01 14:47:01,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,595 INFO sqlalchemy.engine.base.Engine (3740,)
2021-02-01 14:47:01,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,597 INFO sqlalchemy.engine.base.Engine (3741,)
2021-02-01 14:47:01,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,601 INFO sqlalchemy.engine.base.Engine (3742,)
2021-02-01 14:47:01,603 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,604 INFO sqlalchemy.engine.base.Engine (3743,)
2021-02-01 14:47:01,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,608 INFO sqlalchemy.engine.base.Engine (3744,)
2021-02-01 14:47:01,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,610 INFO sqlalchemy.engine.base.Engine (3745,)
2021-02-01 14:47:01,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,614 INFO sqlalchemy.engine.base.Engine (3746,)
2021-02-01 14:47:01,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,616 INFO sqlalchemy.engine.base.Engine (3747,)
2021-02-01 14:47:01,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,620 INFO sqlalchemy.engine.base.Engine (3748,)
2021-02-01 14:47:01,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,622 INFO sqlalchemy.engine.base.Engine (3749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:01,679 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,680 INFO sqlalchemy.engine.base.Engine ((3750, 14.3, 14.3, 14.3, 4.409358121296671, 50.41408099635694), (3751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409358121296671, 50.41408099635694), (3752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409358121296671, 50.41408099635694), (3753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409358121296671, 50.41408099635694), (3754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409358121296671, 50.41408099635694), (3755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409358121296671, 50.41408099635694), (3756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409358121296671, 50.41408099635694), (3757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409358121296671, 50.41408099635694)  ... displaying 10 of 50 total bound parameter sets ...  (3798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409358121296671, 50.41408099635694), (3799, 135.9, 135.9, 135.9, 4.409358121296671, 50.41408099635694))
2021-02-01 14:47:01,681 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:01,682 INFO sqlalchemy.engine.base.Engine ('F76',)
2021-02-01 14:47:01,684 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,685 INFO sqlalchemy.engine.base.Engine ((1875, 'F76', 0, 'Anhydrite', 3750, 3751), (1876, 'F76', 1, 'Sandstone, grey, vf-f', 3752, 3753), (1877, 'F76', 2, 'Anhydrite', 3754, 3755), (1878, 'F76', 3, 'Dolomite', 3756, 3757), (1879, 'F76', 4, 'Anhydrite', 3758, 3759), (1880, 'F76', 5, 'Sandstone, grey, vf-f', 3760, 3761), (1881, 'F76', 6, 'Siltstone, red', 3762, 3763), (1882, 'F76', 7, 'Dolomite', 3764, 3765)  ... displaying 10 of 25 total bound parameter sets ...  (1898, 'F76', 23, 'Limestone', 3796, 3797), (1899, 'F76', 24, 'Volcanic', 3798, 3799))
2021-02-01 14:47:01,688 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:01,693 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:01,693 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:01,694 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:01,695 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:01,696 INFO sqlalchemy.engine.base.Engine ('F76',)
2021-02-01 14:47:01,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,699 INFO sqlalchemy.engine.base.Engine (3750,)

2021-02-01 14:47:01,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,702 INFO sqlalchemy.engine.base.Engine (3751,)
2021-02-01 14:47:01,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,706 INFO sqlalchemy.engine.base.Engine (3752,)
2021-02-01 14:47:01,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,708 INFO sqlalchemy.engine.base.Engine (3753,)
2021-02-01 14:47:01,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,711 INFO sqlalchemy.engine.base.Engine (3754,)
2021-02-01 14:47:01,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,713 INFO sqlalchemy.engine.base.Engine (3755,)
2021-02-01 14:47:01,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,717 INFO sqlalchemy.engine.base.Engine (3756,)
2021-02-01 14:47:01,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,719 INFO sqlalchemy.engine.base.Engine (3757,)
2021-02-01 14:47:01,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,723 INFO sqlalchemy.engine.base.Engine (3758,)
2021-02-01 14:47:01,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,725 INFO sqlalchemy.engine.base.Engine (3759,)
2021-02-01 14:47:01,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,729 INFO sqlalchemy.engine.base.Engine (3760,)
2021-02-01 14:47:01,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,732 INFO sqlalchemy.engine.base.Engine (3761,)
2021-02-01 14:47:01,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,735 INFO sqlalchemy.engine.base.Engine (3762,)
2021-02-01 14:47:01,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,736 INFO sqlalchemy.engine.base.Engine (3763,)
2021-02-01 14:47:01,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,739 INFO sqlalchemy.engine.base.Engine (3764,)
2021-02-01 14:47:01,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,742 INFO sqlalchemy.engine.base.Engine (3765,)
2021-02-01 14:47:01,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,748 INFO sqlalchemy.engine.base.Engine (3766,)
2021-02-01 14:47:01,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,751 INFO sqlalchemy.engine.base.Engine (3767,)
2021-02-01 14:47:01,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,756 INFO sqlalchemy.engine.base.Engine (3768,)
2021-02-01 14:47:01,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,757 INFO sqlalchemy.engine.base.Engine (3769,)
2021-02-01 14:47:01,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,761 INFO sqlalchemy.engine.base.Engine (3770,)
2021-02-01 14:47:01,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:01,763 INFO sqlalchemy.engine.base.Engine (3771,)
2021-02-01 14:47:01,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,766 INFO sqlalchemy.engine.base.Engine (3772,)
2021-02-01 14:47:01,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,768 INFO sqlalchemy.engine.base.Engine (3773,)
2021-02-01 14:47:01,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,773 INFO sqlalchemy.engine.base.Engine (3774,)
2021-02-01 14:47:01,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,775 INFO sqlalchemy.engine.base.Engine (3775,)
2021-02-01 14:47:01,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,780 INFO sqlalchemy.engine.base.Engine (3776,)
2021-02-01 14:47:01,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,783 INFO sqlalchemy.engine.base.Engine (3777,)
2021-02-01 14:47:01,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,788 INFO sqlalchemy.engine.base.Engine (3778,)
2021-02-01 14:47:01,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,790 INFO sqlalchemy.engine.base.Engine (3779,)
2021-02-01 14:47:01,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,796 INFO sqlalchemy.engine.base.Engine (3780,)
2021-02-01 14:47:01,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,799 INFO sqlalchemy.engine.base.Engine (3781,)
2021-02-01 14:47:01,803 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,804 INFO sqlalchemy.engine.base.Engine (3782,)
2021-02-01 14:47:01,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,806 INFO sqlalchemy.engine.base.Engine (3783,)
2021-02-01 14:47:01,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,810 INFO sqlalchemy.engine.base.Engine (3784,)
2021-02-01 14:47:01,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,812 INFO sqlalchemy.engine.base.Engine (3785,)
2021-02-01 14:47:01,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,815 INFO sqlalchemy.engine.base.Engine (3786,)
2021-02-01 14:47:01,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,817 INFO sqlalchemy.engine.base.Engine (3787,)
2021-02-01 14:47:01,819 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,820 INFO sqlalchemy.engine.base.Engine (3788,)
2021-02-01 14:47:01,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,823 INFO sqlalchemy.engine.base.Engine (3789,)
2021-02-01 14:47:01,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,828 INFO sqlalchemy.engine.base.Engine (3790,)
2021-02-01 14:47:01,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,830 INFO sqlalchemy.engine.base.Engine (3791,)
2021-02-01 14:47:01,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:01,833 INFO sqlalchemy.engine.base.Engine (3792,)
2021-02-01 14:47:01,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,836 INFO sqlalchemy.engine.base.Engine (3793,)
2021-02-01 14:47:01,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,839 INFO sqlalchemy.engine.base.Engine (3794,)
2021-02-01 14:47:01,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,842 INFO sqlalchemy.engine.base.Engine (3795,)
2021-02-01 14:47:01,846 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,847 INFO sqlalchemy.engine.base.Engine (3796,)
2021-02-01 14:47:01,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,849 INFO sqlalchemy.engine.base.Engine (3797,)
2021-02-01 14:47:01,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,854 INFO sqlalchemy.engine.base.Engine (3798,)
2021-02-01 14:47:01,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,857 INFO sqlalchemy.engine.base.Engine (3799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:01,906 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,906 INFO sqlalchemy.engine.base.Engine ((3800, 14.3, 14.3, 14.3, 4.409380446180341, 50.41410874159237), (3801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409380446180341, 50.41410874159237), (3802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409380446180341, 50.41410874159237), (3803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409380446180341, 50.41410874159237), (3804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409380446180341, 50.41410874159237), (3805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409380446180341, 50.41410874159237), (3806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409380446180341, 50.41410874159237), (3807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409380446180341, 50.41410874159237)  ... displaying 10 of 50 total bound parameter sets ...  (3848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409380446180341, 50.41410874159237), (3849, 135.9, 135.9, 135.9, 4.409380446180341, 50.41410874159237))
2021-02-01 14:47:01,908 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:01,909 INFO sqlalchemy.engine.base.Engine ('F77',)
2021-02-01 14:47:01,913 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:01,914 INFO sqlalchemy.engine.base.Engine ((1900, 'F77', 0, 'Anhydrite', 3800, 3801), (1901, 'F77', 1, 'Sandstone, grey, vf-f', 3802, 3803), (1902, 'F77', 2, 'Anhydrite', 3804, 3805), (1903, 'F77', 3, 'Dolomite', 3806, 3807), (1904, 'F77', 4, 'Anhydrite', 3808, 3809), (1905, 'F77', 5, 'Sandstone, grey, vf-f', 3810, 3811), (1906, 'F77', 6, 'Siltstone, red', 3812, 3813), (1907, 'F77', 7, 'Dolomite', 3814, 3815)  ... displaying 10 of 25 total bound parameter sets ...  (1923, 'F77', 23, 'Limestone', 3846, 3847), (1924, 'F77', 24, 'Volcanic', 3848, 3849))
2021-02-01 14:47:01,917 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:01,923 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:01,924 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:01,925 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:01,928 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:01,929 INFO sqlalchemy.engine.base.Engine ('F77',)
2021-02-01 14:47:01,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,932 INFO sqlalchemy.engine.base.Engine (3800,)
2021-02-01 14:47:01,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,935 INFO sqlalchemy.engine.base.Engine (3801,)
2021-02-01 14:47:01,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,938 INFO sqlalchemy.engine.base.Engine (3802,)
2021-02-01 14:47:01,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,941 INFO sqlalchemy.engine.base.Engine (3803,)
2021-02-01 14:47:01,944 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,945 INFO sqlalchemy.engine.base.Engine (3804,)
2021-02-01 14:47:01,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,947 INFO sqlalchemy.engine.base.Engine (3805,)

2021-02-01 14:47:01,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,952 INFO sqlalchemy.engine.base.Engine (3806,)
2021-02-01 14:47:01,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,956 INFO sqlalchemy.engine.base.Engine (3807,)
2021-02-01 14:47:01,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,961 INFO sqlalchemy.engine.base.Engine (3808,)
2021-02-01 14:47:01,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,963 INFO sqlalchemy.engine.base.Engine (3809,)
2021-02-01 14:47:01,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,967 INFO sqlalchemy.engine.base.Engine (3810,)
2021-02-01 14:47:01,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,969 INFO sqlalchemy.engine.base.Engine (3811,)
2021-02-01 14:47:01,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,972 INFO sqlalchemy.engine.base.Engine (3812,)
2021-02-01 14:47:01,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,975 INFO sqlalchemy.engine.base.Engine (3813,)
2021-02-01 14:47:01,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,978 INFO sqlalchemy.engine.base.Engine (3814,)
2021-02-01 14:47:01,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,981 INFO sqlalchemy.engine.base.Engine (3815,)
2021-02-01 14:47:01,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,985 INFO sqlalchemy.engine.base.Engine (3816,)
2021-02-01 14:47:01,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,987 INFO sqlalchemy.engine.base.Engine (3817,)
2021-02-01 14:47:01,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,992 INFO sqlalchemy.engine.base.Engine (3818,)
2021-02-01 14:47:01,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,994 INFO sqlalchemy.engine.base.Engine (3819,)
2021-02-01 14:47:01,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:01,999 INFO sqlalchemy.engine.base.Engine (3820,)
2021-02-01 14:47:02,000 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,001 INFO sqlalchemy.engine.base.Engine (3821,)
2021-02-01 14:47:02,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,006 INFO sqlalchemy.engine.base.Engine (3822,)
2021-02-01 14:47:02,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,009 INFO sqlalchemy.engine.base.Engine (3823,)
2021-02-01 14:47:02,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,013 INFO sqlalchemy.engine.base.Engine (3824,)
2021-02-01 14:47:02,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,016 INFO sqlalchemy.engine.base.Engine (3825,)
2021-02-01 14:47:02,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,022 INFO sqlalchemy.engine.base.Engine (3826,)
2021-02-01 14:47:02,024 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,025 INFO sqlalchemy.engine.base.Engine (3827,)
2021-02-01 14:47:02,027 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,028 INFO sqlalchemy.engine.base.Engine (3828,)
2021-02-01 14:47:02,030 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,031 INFO sqlalchemy.engine.base.Engine (3829,)
2021-02-01 14:47:02,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,034 INFO sqlalchemy.engine.base.Engine (3830,)
2021-02-01 14:47:02,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,036 INFO sqlalchemy.engine.base.Engine (3831,)
2021-02-01 14:47:02,039 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,040 INFO sqlalchemy.engine.base.Engine (3832,)
2021-02-01 14:47:02,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,041 INFO sqlalchemy.engine.base.Engine (3833,)
2021-02-01 14:47:02,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,044 INFO sqlalchemy.engine.base.Engine (3834,)
2021-02-01 14:47:02,045 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,046 INFO sqlalchemy.engine.base.Engine (3835,)
2021-02-01 14:47:02,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,049 INFO sqlalchemy.engine.base.Engine (3836,)
2021-02-01 14:47:02,050 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,051 INFO sqlalchemy.engine.base.Engine (3837,)
2021-02-01 14:47:02,055 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,055 INFO sqlalchemy.engine.base.Engine (3838,)
2021-02-01 14:47:02,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,058 INFO sqlalchemy.engine.base.Engine (3839,)
2021-02-01 14:47:02,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,062 INFO sqlalchemy.engine.base.Engine (3840,)
2021-02-01 14:47:02,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,065 INFO sqlalchemy.engine.base.Engine (3841,)
2021-02-01 14:47:02,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,068 INFO sqlalchemy.engine.base.Engine (3842,)
2021-02-01 14:47:02,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,069 INFO sqlalchemy.engine.base.Engine (3843,)
2021-02-01 14:47:02,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,072 INFO sqlalchemy.engine.base.Engine (3844,)
2021-02-01 14:47:02,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,075 INFO sqlalchemy.engine.base.Engine (3845,)
2021-02-01 14:47:02,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,078 INFO sqlalchemy.engine.base.Engine (3846,)
2021-02-01 14:47:02,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,080 INFO sqlalchemy.engine.base.Engine (3847,)
2021-02-01 14:47:02,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,084 INFO sqlalchemy.engine.base.Engine (3848,)
2021-02-01 14:47:02,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,087 INFO sqlalchemy.engine.base.Engine (3849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:02,140 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:02,141 INFO sqlalchemy.engine.base.Engine ('F78',)
2021-02-01 14:47:02,144 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,144 INFO sqlalchemy.engine.base.Engine ((3850, 14.3, 14.3, 14.3, 4.409350215327296, 50.41411482081338), (3851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409350215327296, 50.41411482081338), (3852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409350215327296, 50.41411482081338), (3853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409350215327296, 50.41411482081338), (3854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409350215327296, 50.41411482081338), (3855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409350215327296, 50.41411482081338), (3856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409350215327296, 50.41411482081338), (3857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409350215327296, 50.41411482081338)  ... displaying 10 of 50 total bound parameter sets ...  (3898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409350215327296, 50.41411482081338), (3899, 135.9, 135.9, 135.9, 4.409350215327296, 50.41411482081338))
2021-02-01 14:47:02,147 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,148 INFO sqlalchemy.engine.base.Engine ((1925, 'F78', 0, 'Anhydrite', 3850, 3851), (1926, 'F78', 1, 'Sandstone, grey, vf-f', 3852, 3853), (1927, 'F78', 2, 'Anhydrite', 3854, 3855), (1928, 'F78', 3, 'Dolomite', 3856, 3857), (1929, 'F78', 4, 'Anhydrite', 3858, 3859), (1930, 'F78', 5, 'Sandstone, grey, vf-f', 3860, 3861), (1931, 'F78', 6, 'Siltstone, red', 3862, 3863), (1932, 'F78', 7, 'Dolomite', 3864, 3865)  ... displaying 10 of 25 total bound parameter sets ...  (1948, 'F78', 23, 'Limestone', 3896, 3897), (1949, 'F78', 24, 'Volcanic', 3898, 3899))
2021-02-01 14:47:02,150 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:02,155 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:02,157 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:02,158 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:02,162 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:02,163 INFO sqlalchemy.engine.base.Engine ('F78',)
2021-02-01 14:47:02,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,166 INFO sqlalchemy.engine.base.Engine (3850,)
2021-02-01 14:47:02,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,168 INFO sqlalchemy.engine.base.Engine (3851,)
2021-02-01 14:47:02,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,172 INFO sqlalchemy.engine.base.Engine (3852,)
2021-02-01 14:47:02,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,174 INFO sqlalchemy.engine.base.Engine (3853,)
2021-02-01 14:47:02,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,178 INFO sqlalchemy.engine.base.Engine (3854,)
2021-02-01 14:47:02,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,180 INFO sqlalchemy.engine.base.Engine (3855,)
2021-02-01 14:47:02,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,184 INFO sqlalchemy.engine.base.Engine (3856,)
2021-02-01 14:47:02,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,186 INFO sqlalchemy.engine.base.Engine (3857,)
2021-02-01 14:47:02,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,189 INFO sqlalchemy.engine.base.Engine (3858,)
2021-02-01 14:47:02,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,191 INFO sqlalchemy.engine.base.Engine (3859,)
2021-02-01 14:47:02,194 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,196 INFO sqlalchemy.engine.base.Engine (3860,)

2021-02-01 14:47:02,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,199 INFO sqlalchemy.engine.base.Engine (3861,)
2021-02-01 14:47:02,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,204 INFO sqlalchemy.engine.base.Engine (3862,)
2021-02-01 14:47:02,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,207 INFO sqlalchemy.engine.base.Engine (3863,)
2021-02-01 14:47:02,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,211 INFO sqlalchemy.engine.base.Engine (3864,)
2021-02-01 14:47:02,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,214 INFO sqlalchemy.engine.base.Engine (3865,)
2021-02-01 14:47:02,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,218 INFO sqlalchemy.engine.base.Engine (3866,)
2021-02-01 14:47:02,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,221 INFO sqlalchemy.engine.base.Engine (3867,)
2021-02-01 14:47:02,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,224 INFO sqlalchemy.engine.base.Engine (3868,)
2021-02-01 14:47:02,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,226 INFO sqlalchemy.engine.base.Engine (3869,)
2021-02-01 14:47:02,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,229 INFO sqlalchemy.engine.base.Engine (3870,)
2021-02-01 14:47:02,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,231 INFO sqlalchemy.engine.base.Engine (3871,)
2021-02-01 14:47:02,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,235 INFO sqlalchemy.engine.base.Engine (3872,)
2021-02-01 14:47:02,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,237 INFO sqlalchemy.engine.base.Engine (3873,)
2021-02-01 14:47:02,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,242 INFO sqlalchemy.engine.base.Engine (3874,)
2021-02-01 14:47:02,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,244 INFO sqlalchemy.engine.base.Engine (3875,)
2021-02-01 14:47:02,247 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,247 INFO sqlalchemy.engine.base.Engine (3876,)
2021-02-01 14:47:02,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,249 INFO sqlalchemy.engine.base.Engine (3877,)
2021-02-01 14:47:02,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,253 INFO sqlalchemy.engine.base.Engine (3878,)
2021-02-01 14:47:02,254 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,255 INFO sqlalchemy.engine.base.Engine (3879,)
2021-02-01 14:47:02,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,260 INFO sqlalchemy.engine.base.Engine (3880,)
2021-02-01 14:47:02,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,263 INFO sqlalchemy.engine.base.Engine (3881,)
2021-02-01 14:47:02,268 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,269 INFO sqlalchemy.engine.base.Engine (3882,)
2021-02-01 14:47:02,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,272 INFO sqlalchemy.engine.base.Engine (3883,)
2021-02-01 14:47:02,276 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,277 INFO sqlalchemy.engine.base.Engine (3884,)
2021-02-01 14:47:02,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,279 INFO sqlalchemy.engine.base.Engine (3885,)
2021-02-01 14:47:02,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,283 INFO sqlalchemy.engine.base.Engine (3886,)
2021-02-01 14:47:02,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,285 INFO sqlalchemy.engine.base.Engine (3887,)
2021-02-01 14:47:02,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,288 INFO sqlalchemy.engine.base.Engine (3888,)
2021-02-01 14:47:02,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,291 INFO sqlalchemy.engine.base.Engine (3889,)
2021-02-01 14:47:02,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,295 INFO sqlalchemy.engine.base.Engine (3890,)
2021-02-01 14:47:02,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,297 INFO sqlalchemy.engine.base.Engine (3891,)
2021-02-01 14:47:02,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,302 INFO sqlalchemy.engine.base.Engine (3892,)
2021-02-01 14:47:02,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,304 INFO sqlalchemy.engine.base.Engine (3893,)
2021-02-01 14:47:02,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,307 INFO sqlalchemy.engine.base.Engine (3894,)
2021-02-01 14:47:02,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,309 INFO sqlalchemy.engine.base.Engine (3895,)
2021-02-01 14:47:02,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,312 INFO sqlalchemy.engine.base.Engine (3896,)
2021-02-01 14:47:02,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,314 INFO sqlalchemy.engine.base.Engine (3897,)
2021-02-01 14:47:02,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,317 INFO sqlalchemy.engine.base.Engine (3898,)
2021-02-01 14:47:02,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,320 INFO sqlalchemy.engine.base.Engine (3899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:02,379 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,380 INFO sqlalchemy.engine.base.Engine ((3900, 14.3, 14.3, 14.3, 4.4093528488409195, 50.414085295611265), (3901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093528488409195, 50.414085295611265), (3902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093528488409195, 50.414085295611265), (3903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093528488409195, 50.414085295611265), (3904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093528488409195, 50.414085295611265), (3905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093528488409195, 50.414085295611265), (3906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093528488409195, 50.414085295611265), (3907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4093528488409195, 50.414085295611265)  ... displaying 10 of 50 total bound parameter sets ...  (3948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4093528488409195, 50.414085295611265), (3949, 135.9, 135.9, 135.9, 4.4093528488409195, 50.414085295611265))

2021-02-01 14:47:02,382 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:02,383 INFO sqlalchemy.engine.base.Engine ('F79',)
2021-02-01 14:47:02,386 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,387 INFO sqlalchemy.engine.base.Engine ((1950, 'F79', 0, 'Anhydrite', 3900, 3901), (1951, 'F79', 1, 'Sandstone, grey, vf-f', 3902, 3903), (1952, 'F79', 2, 'Anhydrite', 3904, 3905), (1953, 'F79', 3, 'Dolomite', 3906, 3907), (1954, 'F79', 4, 'Anhydrite', 3908, 3909), (1955, 'F79', 5, 'Sandstone, grey, vf-f', 3910, 3911), (1956, 'F79', 6, 'Siltstone, red', 3912, 3913), (1957, 'F79', 7, 'Dolomite', 3914, 3915)  ... displaying 10 of 25 total bound parameter sets ...  (1973, 'F79', 23, 'Limestone', 3946, 3947), (1974, 'F79', 24, 'Volcanic', 3948, 3949))
2021-02-01 14:47:02,389 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:02,396 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:02,397 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:02,398 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:02,401 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:02,402 INFO sqlalchemy.engine.base.Engine ('F79',)
2021-02-01 14:47:02,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,405 INFO sqlalchemy.engine.base.Engine (3900,)
2021-02-01 14:47:02,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,406 INFO sqlalchemy.engine.base.Engine (3901,)
2021-02-01 14:47:02,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,409 INFO sqlalchemy.engine.base.Engine (3902,)
2021-02-01 14:47:02,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,411 INFO sqlalchemy.engine.base.Engine (3903,)
2021-02-01 14:47:02,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,414 INFO sqlalchemy.engine.base.Engine (3904,)
2021-02-01 14:47:02,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,416 INFO sqlalchemy.engine.base.Engine (3905,)
2021-02-01 14:47:02,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,420 INFO sqlalchemy.engine.base.Engine (3906,)
2021-02-01 14:47:02,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,422 INFO sqlalchemy.engine.base.Engine (3907,)
2021-02-01 14:47:02,426 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,427 INFO sqlalchemy.engine.base.Engine (3908,)
2021-02-01 14:47:02,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,431 INFO sqlalchemy.engine.base.Engine (3909,)
2021-02-01 14:47:02,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,435 INFO sqlalchemy.engine.base.Engine (3910,)
2021-02-01 14:47:02,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,437 INFO sqlalchemy.engine.base.Engine (3911,)
2021-02-01 14:47:02,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,440 INFO sqlalchemy.engine.base.Engine (3912,)
2021-02-01 14:47:02,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,442 INFO sqlalchemy.engine.base.Engine (3913,)
2021-02-01 14:47:02,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,445 INFO sqlalchemy.engine.base.Engine (3914,)
2021-02-01 14:47:02,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,447 INFO sqlalchemy.engine.base.Engine (3915,)
2021-02-01 14:47:02,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,451 INFO sqlalchemy.engine.base.Engine (3916,)
2021-02-01 14:47:02,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,454 INFO sqlalchemy.engine.base.Engine (3917,)
2021-02-01 14:47:02,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,458 INFO sqlalchemy.engine.base.Engine (3918,)
2021-02-01 14:47:02,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,461 INFO sqlalchemy.engine.base.Engine (3919,)
2021-02-01 14:47:02,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,465 INFO sqlalchemy.engine.base.Engine (3920,)
2021-02-01 14:47:02,466 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,467 INFO sqlalchemy.engine.base.Engine (3921,)
2021-02-01 14:47:02,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,469 INFO sqlalchemy.engine.base.Engine (3922,)
2021-02-01 14:47:02,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,471 INFO sqlalchemy.engine.base.Engine (3923,)
2021-02-01 14:47:02,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,474 INFO sqlalchemy.engine.base.Engine (3924,)
2021-02-01 14:47:02,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,476 INFO sqlalchemy.engine.base.Engine (3925,)
2021-02-01 14:47:02,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,481 INFO sqlalchemy.engine.base.Engine (3926,)
2021-02-01 14:47:02,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,484 INFO sqlalchemy.engine.base.Engine (3927,)
2021-02-01 14:47:02,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,488 INFO sqlalchemy.engine.base.Engine (3928,)
2021-02-01 14:47:02,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,490 INFO sqlalchemy.engine.base.Engine (3929,)
2021-02-01 14:47:02,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,495 INFO sqlalchemy.engine.base.Engine (3930,)
2021-02-01 14:47:02,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,496 INFO sqlalchemy.engine.base.Engine (3931,)
2021-02-01 14:47:02,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,500 INFO sqlalchemy.engine.base.Engine (3932,)
2021-02-01 14:47:02,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,502 INFO sqlalchemy.engine.base.Engine (3933,)
2021-02-01 14:47:02,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,505 INFO sqlalchemy.engine.base.Engine (3934,)
2021-02-01 14:47:02,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,506 INFO sqlalchemy.engine.base.Engine (3935,)
2021-02-01 14:47:02,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,511 INFO sqlalchemy.engine.base.Engine (3936,)
2021-02-01 14:47:02,512 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,513 INFO sqlalchemy.engine.base.Engine (3937,)
2021-02-01 14:47:02,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,516 INFO sqlalchemy.engine.base.Engine (3938,)
2021-02-01 14:47:02,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,518 INFO sqlalchemy.engine.base.Engine (3939,)
2021-02-01 14:47:02,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,522 INFO sqlalchemy.engine.base.Engine (3940,)
2021-02-01 14:47:02,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,523 INFO sqlalchemy.engine.base.Engine (3941,)
2021-02-01 14:47:02,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,528 INFO sqlalchemy.engine.base.Engine (3942,)
2021-02-01 14:47:02,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,531 INFO sqlalchemy.engine.base.Engine (3943,)
2021-02-01 14:47:02,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,534 INFO sqlalchemy.engine.base.Engine (3944,)
2021-02-01 14:47:02,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,536 INFO sqlalchemy.engine.base.Engine (3945,)
2021-02-01 14:47:02,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,539 INFO sqlalchemy.engine.base.Engine (3946,)
2021-02-01 14:47:02,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,541 INFO sqlalchemy.engine.base.Engine (3947,)
2021-02-01 14:47:02,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,545 INFO sqlalchemy.engine.base.Engine (3948,)
2021-02-01 14:47:02,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,546 INFO sqlalchemy.engine.base.Engine (3949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:02,701 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:02,701 INFO sqlalchemy.engine.base.Engine ('F80',)
2021-02-01 14:47:02,705 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,706 INFO sqlalchemy.engine.base.Engine ((3950, 14.3, 14.3, 14.3, 4.4093189339246175, 50.41407775577251), (3951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093189339246175, 50.41407775577251), (3952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4093189339246175, 50.41407775577251), (3953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093189339246175, 50.41407775577251), (3954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4093189339246175, 50.41407775577251), (3955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093189339246175, 50.41407775577251), (3956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4093189339246175, 50.41407775577251), (3957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4093189339246175, 50.41407775577251)  ... displaying 10 of 50 total bound parameter sets ...  (3998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4093189339246175, 50.41407775577251), (3999, 135.9, 135.9, 135.9, 4.4093189339246175, 50.41407775577251))
2021-02-01 14:47:02,707 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,708 INFO sqlalchemy.engine.base.Engine ((1975, 'F80', 0, 'Anhydrite', 3950, 3951), (1976, 'F80', 1, 'Sandstone, grey, vf-f', 3952, 3953), (1977, 'F80', 2, 'Anhydrite', 3954, 3955), (1978, 'F80', 3, 'Dolomite', 3956, 3957), (1979, 'F80', 4, 'Anhydrite', 3958, 3959), (1980, 'F80', 5, 'Sandstone, grey, vf-f', 3960, 3961), (1981, 'F80', 6, 'Siltstone, red', 3962, 3963), (1982, 'F80', 7, 'Dolomite', 3964, 3965)  ... displaying 10 of 25 total bound parameter sets ...  (1998, 'F80', 23, 'Limestone', 3996, 3997), (1999, 'F80', 24, 'Volcanic', 3998, 3999))
2021-02-01 14:47:02,709 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:02,715 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:02,716 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:02,717 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:02,720 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:02,721 INFO sqlalchemy.engine.base.Engine ('F80',)
2021-02-01 14:47:02,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,724 INFO sqlalchemy.engine.base.Engine (3950,)

2021-02-01 14:47:02,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,726 INFO sqlalchemy.engine.base.Engine (3951,)
2021-02-01 14:47:02,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,731 INFO sqlalchemy.engine.base.Engine (3952,)
2021-02-01 14:47:02,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,733 INFO sqlalchemy.engine.base.Engine (3953,)
2021-02-01 14:47:02,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,736 INFO sqlalchemy.engine.base.Engine (3954,)
2021-02-01 14:47:02,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,738 INFO sqlalchemy.engine.base.Engine (3955,)
2021-02-01 14:47:02,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,741 INFO sqlalchemy.engine.base.Engine (3956,)
2021-02-01 14:47:02,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,744 INFO sqlalchemy.engine.base.Engine (3957,)
2021-02-01 14:47:02,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,749 INFO sqlalchemy.engine.base.Engine (3958,)
2021-02-01 14:47:02,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,752 INFO sqlalchemy.engine.base.Engine (3959,)
2021-02-01 14:47:02,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,758 INFO sqlalchemy.engine.base.Engine (3960,)
2021-02-01 14:47:02,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,760 INFO sqlalchemy.engine.base.Engine (3961,)
2021-02-01 14:47:02,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,764 INFO sqlalchemy.engine.base.Engine (3962,)
2021-02-01 14:47:02,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,766 INFO sqlalchemy.engine.base.Engine (3963,)
2021-02-01 14:47:02,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,770 INFO sqlalchemy.engine.base.Engine (3964,)
2021-02-01 14:47:02,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,771 INFO sqlalchemy.engine.base.Engine (3965,)
2021-02-01 14:47:02,774 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,775 INFO sqlalchemy.engine.base.Engine (3966,)
2021-02-01 14:47:02,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,776 INFO sqlalchemy.engine.base.Engine (3967,)
2021-02-01 14:47:02,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,779 INFO sqlalchemy.engine.base.Engine (3968,)
2021-02-01 14:47:02,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,781 INFO sqlalchemy.engine.base.Engine (3969,)
2021-02-01 14:47:02,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,786 INFO sqlalchemy.engine.base.Engine (3970,)
2021-02-01 14:47:02,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,788 INFO sqlalchemy.engine.base.Engine (3971,)
2021-02-01 14:47:02,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,792 INFO sqlalchemy.engine.base.Engine (3972,)
2021-02-01 14:47:02,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,795 INFO sqlalchemy.engine.base.Engine (3973,)
2021-02-01 14:47:02,799 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,799 INFO sqlalchemy.engine.base.Engine (3974,)
2021-02-01 14:47:02,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,801 INFO sqlalchemy.engine.base.Engine (3975,)
2021-02-01 14:47:02,803 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,804 INFO sqlalchemy.engine.base.Engine (3976,)
2021-02-01 14:47:02,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,806 INFO sqlalchemy.engine.base.Engine (3977,)
2021-02-01 14:47:02,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,812 INFO sqlalchemy.engine.base.Engine (3978,)
2021-02-01 14:47:02,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,815 INFO sqlalchemy.engine.base.Engine (3979,)
2021-02-01 14:47:02,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,821 INFO sqlalchemy.engine.base.Engine (3980,)
2021-02-01 14:47:02,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,823 INFO sqlalchemy.engine.base.Engine (3981,)
2021-02-01 14:47:02,828 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,829 INFO sqlalchemy.engine.base.Engine (3982,)
2021-02-01 14:47:02,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,832 INFO sqlalchemy.engine.base.Engine (3983,)
2021-02-01 14:47:02,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,837 INFO sqlalchemy.engine.base.Engine (3984,)
2021-02-01 14:47:02,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,840 INFO sqlalchemy.engine.base.Engine (3985,)
2021-02-01 14:47:02,844 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,844 INFO sqlalchemy.engine.base.Engine (3986,)
2021-02-01 14:47:02,846 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,847 INFO sqlalchemy.engine.base.Engine (3987,)
2021-02-01 14:47:02,851 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,851 INFO sqlalchemy.engine.base.Engine (3988,)
2021-02-01 14:47:02,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,853 INFO sqlalchemy.engine.base.Engine (3989,)
2021-02-01 14:47:02,855 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,856 INFO sqlalchemy.engine.base.Engine (3990,)
2021-02-01 14:47:02,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,857 INFO sqlalchemy.engine.base.Engine (3991,)
2021-02-01 14:47:02,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:02,860 INFO sqlalchemy.engine.base.Engine (3992,)
2021-02-01 14:47:02,860 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,861 INFO sqlalchemy.engine.base.Engine (3993,)
2021-02-01 14:47:02,863 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,863 INFO sqlalchemy.engine.base.Engine (3994,)
2021-02-01 14:47:02,865 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,866 INFO sqlalchemy.engine.base.Engine (3995,)
2021-02-01 14:47:02,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,868 INFO sqlalchemy.engine.base.Engine (3996,)
2021-02-01 14:47:02,869 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,870 INFO sqlalchemy.engine.base.Engine (3997,)
2021-02-01 14:47:02,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,872 INFO sqlalchemy.engine.base.Engine (3998,)
2021-02-01 14:47:02,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,874 INFO sqlalchemy.engine.base.Engine (3999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:02,924 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,925 INFO sqlalchemy.engine.base.Engine ((4000, 14.3, 14.3, 14.3, 4.409326820583935, 50.41407024604122), (4001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409326820583935, 50.41407024604122), (4002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409326820583935, 50.41407024604122), (4003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409326820583935, 50.41407024604122), (4004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409326820583935, 50.41407024604122), (4005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409326820583935, 50.41407024604122), (4006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409326820583935, 50.41407024604122), (4007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409326820583935, 50.41407024604122)  ... displaying 10 of 50 total bound parameter sets ...  (4048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409326820583935, 50.41407024604122), (4049, 135.9, 135.9, 135.9, 4.409326820583935, 50.41407024604122))
2021-02-01 14:47:02,926 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:02,927 INFO sqlalchemy.engine.base.Engine ('F81',)
2021-02-01 14:47:02,929 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:02,930 INFO sqlalchemy.engine.base.Engine ((2000, 'F81', 0, 'Anhydrite', 4000, 4001), (2001, 'F81', 1, 'Sandstone, grey, vf-f', 4002, 4003), (2002, 'F81', 2, 'Anhydrite', 4004, 4005), (2003, 'F81', 3, 'Dolomite', 4006, 4007), (2004, 'F81', 4, 'Anhydrite', 4008, 4009), (2005, 'F81', 5, 'Sandstone, grey, vf-f', 4010, 4011), (2006, 'F81', 6, 'Siltstone, red', 4012, 4013), (2007, 'F81', 7, 'Dolomite', 4014, 4015)  ... displaying 10 of 25 total bound parameter sets ...  (2023, 'F81', 23, 'Limestone', 4046, 4047), (2024, 'F81', 24, 'Volcanic', 4048, 4049))
2021-02-01 14:47:02,932 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:02,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:02,939 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:02,939 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:02,942 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:02,943 INFO sqlalchemy.engine.base.Engine ('F81',)
2021-02-01 14:47:02,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,946 INFO sqlalchemy.engine.base.Engine (4000,)
2021-02-01 14:47:02,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,948 INFO sqlalchemy.engine.base.Engine (4001,)
2021-02-01 14:47:02,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,953 INFO sqlalchemy.engine.base.Engine (4002,)
2021-02-01 14:47:02,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,956 INFO sqlalchemy.engine.base.Engine (4003,)
2021-02-01 14:47:02,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,961 INFO sqlalchemy.engine.base.Engine (4004,)
2021-02-01 14:47:02,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,963 INFO sqlalchemy.engine.base.Engine (4005,)

2021-02-01 14:47:02,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,965 INFO sqlalchemy.engine.base.Engine (4006,)
2021-02-01 14:47:02,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,967 INFO sqlalchemy.engine.base.Engine (4007,)
2021-02-01 14:47:02,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,973 INFO sqlalchemy.engine.base.Engine (4008,)
2021-02-01 14:47:02,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,977 INFO sqlalchemy.engine.base.Engine (4009,)
2021-02-01 14:47:02,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,983 INFO sqlalchemy.engine.base.Engine (4010,)
2021-02-01 14:47:02,985 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,986 INFO sqlalchemy.engine.base.Engine (4011,)
2021-02-01 14:47:02,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,991 INFO sqlalchemy.engine.base.Engine (4012,)
2021-02-01 14:47:02,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,993 INFO sqlalchemy.engine.base.Engine (4013,)
2021-02-01 14:47:02,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,996 INFO sqlalchemy.engine.base.Engine (4014,)
2021-02-01 14:47:02,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:02,999 INFO sqlalchemy.engine.base.Engine (4015,)
2021-02-01 14:47:03,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,004 INFO sqlalchemy.engine.base.Engine (4016,)
2021-02-01 14:47:03,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,005 INFO sqlalchemy.engine.base.Engine (4017,)
2021-02-01 14:47:03,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,010 INFO sqlalchemy.engine.base.Engine (4018,)
2021-02-01 14:47:03,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,013 INFO sqlalchemy.engine.base.Engine (4019,)
2021-02-01 14:47:03,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,019 INFO sqlalchemy.engine.base.Engine (4020,)
2021-02-01 14:47:03,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,021 INFO sqlalchemy.engine.base.Engine (4021,)
2021-02-01 14:47:03,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,023 INFO sqlalchemy.engine.base.Engine (4022,)
2021-02-01 14:47:03,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,025 INFO sqlalchemy.engine.base.Engine (4023,)
2021-02-01 14:47:03,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,030 INFO sqlalchemy.engine.base.Engine (4024,)
2021-02-01 14:47:03,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,031 INFO sqlalchemy.engine.base.Engine (4025,)
2021-02-01 14:47:03,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,036 INFO sqlalchemy.engine.base.Engine (4026,)
2021-02-01 14:47:03,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,038 INFO sqlalchemy.engine.base.Engine (4027,)
2021-02-01 14:47:03,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,041 INFO sqlalchemy.engine.base.Engine (4028,)
2021-02-01 14:47:03,042 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,043 INFO sqlalchemy.engine.base.Engine (4029,)
2021-02-01 14:47:03,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,047 INFO sqlalchemy.engine.base.Engine (4030,)
2021-02-01 14:47:03,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,049 INFO sqlalchemy.engine.base.Engine (4031,)
2021-02-01 14:47:03,051 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,052 INFO sqlalchemy.engine.base.Engine (4032,)
2021-02-01 14:47:03,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,053 INFO sqlalchemy.engine.base.Engine (4033,)
2021-02-01 14:47:03,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,058 INFO sqlalchemy.engine.base.Engine (4034,)
2021-02-01 14:47:03,060 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,060 INFO sqlalchemy.engine.base.Engine (4035,)
2021-02-01 14:47:03,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,063 INFO sqlalchemy.engine.base.Engine (4036,)
2021-02-01 14:47:03,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,065 INFO sqlalchemy.engine.base.Engine (4037,)
2021-02-01 14:47:03,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,068 INFO sqlalchemy.engine.base.Engine (4038,)
2021-02-01 14:47:03,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,069 INFO sqlalchemy.engine.base.Engine (4039,)
2021-02-01 14:47:03,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,071 INFO sqlalchemy.engine.base.Engine (4040,)
2021-02-01 14:47:03,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,073 INFO sqlalchemy.engine.base.Engine (4041,)
2021-02-01 14:47:03,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,076 INFO sqlalchemy.engine.base.Engine (4042,)
2021-02-01 14:47:03,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,077 INFO sqlalchemy.engine.base.Engine (4043,)
2021-02-01 14:47:03,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,080 INFO sqlalchemy.engine.base.Engine (4044,)
2021-02-01 14:47:03,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,082 INFO sqlalchemy.engine.base.Engine (4045,)
2021-02-01 14:47:03,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,085 INFO sqlalchemy.engine.base.Engine (4046,)
2021-02-01 14:47:03,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,086 INFO sqlalchemy.engine.base.Engine (4047,)
2021-02-01 14:47:03,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,089 INFO sqlalchemy.engine.base.Engine (4048,)
2021-02-01 14:47:03,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,090 INFO sqlalchemy.engine.base.Engine (4049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:03,147 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:03,147 INFO sqlalchemy.engine.base.Engine ('F82',)
2021-02-01 14:47:03,149 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,149 INFO sqlalchemy.engine.base.Engine ((4050, 14.3, 14.3, 14.3, 4.409388673580763, 50.41408860031239), (4051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409388673580763, 50.41408860031239), (4052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409388673580763, 50.41408860031239), (4053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409388673580763, 50.41408860031239), (4054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409388673580763, 50.41408860031239), (4055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409388673580763, 50.41408860031239), (4056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409388673580763, 50.41408860031239), (4057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409388673580763, 50.41408860031239)  ... displaying 10 of 50 total bound parameter sets ...  (4098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409388673580763, 50.41408860031239), (4099, 135.9, 135.9, 135.9, 4.409388673580763, 50.41408860031239))
2021-02-01 14:47:03,152 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,153 INFO sqlalchemy.engine.base.Engine ((2025, 'F82', 0, 'Anhydrite', 4050, 4051), (2026, 'F82', 1, 'Sandstone, grey, vf-f', 4052, 4053), (2027, 'F82', 2, 'Anhydrite', 4054, 4055), (2028, 'F82', 3, 'Dolomite', 4056, 4057), (2029, 'F82', 4, 'Anhydrite', 4058, 4059), (2030, 'F82', 5, 'Sandstone, grey, vf-f', 4060, 4061), (2031, 'F82', 6, 'Siltstone, red', 4062, 4063), (2032, 'F82', 7, 'Dolomite', 4064, 4065)  ... displaying 10 of 25 total bound parameter sets ...  (2048, 'F82', 23, 'Limestone', 4096, 4097), (2049, 'F82', 24, 'Volcanic', 4098, 4099))
2021-02-01 14:47:03,155 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:03,160 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:03,161 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:03,162 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:03,165 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:03,166 INFO sqlalchemy.engine.base.Engine ('F82',)
2021-02-01 14:47:03,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,169 INFO sqlalchemy.engine.base.Engine (4050,)
2021-02-01 14:47:03,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,172 INFO sqlalchemy.engine.base.Engine (4051,)
2021-02-01 14:47:03,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,176 INFO sqlalchemy.engine.base.Engine (4052,)
2021-02-01 14:47:03,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,177 INFO sqlalchemy.engine.base.Engine (4053,)
2021-02-01 14:47:03,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,179 INFO sqlalchemy.engine.base.Engine (4054,)
2021-02-01 14:47:03,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,181 INFO sqlalchemy.engine.base.Engine (4055,)
2021-02-01 14:47:03,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,184 INFO sqlalchemy.engine.base.Engine (4056,)
2021-02-01 14:47:03,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,186 INFO sqlalchemy.engine.base.Engine (4057,)
2021-02-01 14:47:03,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,189 INFO sqlalchemy.engine.base.Engine (4058,)
2021-02-01 14:47:03,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,190 INFO sqlalchemy.engine.base.Engine (4059,)
2021-02-01 14:47:03,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,193 INFO sqlalchemy.engine.base.Engine (4060,)

2021-02-01 14:47:03,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,196 INFO sqlalchemy.engine.base.Engine (4061,)
2021-02-01 14:47:03,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,202 INFO sqlalchemy.engine.base.Engine (4062,)
2021-02-01 14:47:03,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,204 INFO sqlalchemy.engine.base.Engine (4063,)
2021-02-01 14:47:03,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,209 INFO sqlalchemy.engine.base.Engine (4064,)
2021-02-01 14:47:03,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,211 INFO sqlalchemy.engine.base.Engine (4065,)
2021-02-01 14:47:03,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,215 INFO sqlalchemy.engine.base.Engine (4066,)
2021-02-01 14:47:03,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,217 INFO sqlalchemy.engine.base.Engine (4067,)
2021-02-01 14:47:03,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,220 INFO sqlalchemy.engine.base.Engine (4068,)
2021-02-01 14:47:03,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,222 INFO sqlalchemy.engine.base.Engine (4069,)
2021-02-01 14:47:03,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,225 INFO sqlalchemy.engine.base.Engine (4070,)
2021-02-01 14:47:03,227 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,227 INFO sqlalchemy.engine.base.Engine (4071,)
2021-02-01 14:47:03,229 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,230 INFO sqlalchemy.engine.base.Engine (4072,)
2021-02-01 14:47:03,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,233 INFO sqlalchemy.engine.base.Engine (4073,)
2021-02-01 14:47:03,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,236 INFO sqlalchemy.engine.base.Engine (4074,)
2021-02-01 14:47:03,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,238 INFO sqlalchemy.engine.base.Engine (4075,)
2021-02-01 14:47:03,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,243 INFO sqlalchemy.engine.base.Engine (4076,)
2021-02-01 14:47:03,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,245 INFO sqlalchemy.engine.base.Engine (4077,)
2021-02-01 14:47:03,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,249 INFO sqlalchemy.engine.base.Engine (4078,)
2021-02-01 14:47:03,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,251 INFO sqlalchemy.engine.base.Engine (4079,)
2021-02-01 14:47:03,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,254 INFO sqlalchemy.engine.base.Engine (4080,)
2021-02-01 14:47:03,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,256 INFO sqlalchemy.engine.base.Engine (4081,)
2021-02-01 14:47:03,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,260 INFO sqlalchemy.engine.base.Engine (4082,)
2021-02-01 14:47:03,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,262 INFO sqlalchemy.engine.base.Engine (4083,)
2021-02-01 14:47:03,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,268 INFO sqlalchemy.engine.base.Engine (4084,)
2021-02-01 14:47:03,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,271 INFO sqlalchemy.engine.base.Engine (4085,)
2021-02-01 14:47:03,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,275 INFO sqlalchemy.engine.base.Engine (4086,)
2021-02-01 14:47:03,276 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,277 INFO sqlalchemy.engine.base.Engine (4087,)
2021-02-01 14:47:03,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,280 INFO sqlalchemy.engine.base.Engine (4088,)
2021-02-01 14:47:03,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,282 INFO sqlalchemy.engine.base.Engine (4089,)
2021-02-01 14:47:03,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,287 INFO sqlalchemy.engine.base.Engine (4090,)
2021-02-01 14:47:03,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,291 INFO sqlalchemy.engine.base.Engine (4091,)
2021-02-01 14:47:03,295 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,296 INFO sqlalchemy.engine.base.Engine (4092,)
2021-02-01 14:47:03,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,299 INFO sqlalchemy.engine.base.Engine (4093,)
2021-02-01 14:47:03,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,304 INFO sqlalchemy.engine.base.Engine (4094,)
2021-02-01 14:47:03,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,305 INFO sqlalchemy.engine.base.Engine (4095,)
2021-02-01 14:47:03,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,308 INFO sqlalchemy.engine.base.Engine (4096,)
2021-02-01 14:47:03,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,310 INFO sqlalchemy.engine.base.Engine (4097,)
2021-02-01 14:47:03,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,313 INFO sqlalchemy.engine.base.Engine (4098,)
2021-02-01 14:47:03,315 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,316 INFO sqlalchemy.engine.base.Engine (4099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:03,365 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:03,365 INFO sqlalchemy.engine.base.Engine ('F83',)
2021-02-01 14:47:03,366 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,367 INFO sqlalchemy.engine.base.Engine ((4100, 14.3, 14.3, 14.3, 4.409370850307567, 50.41410848428369), (4101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409370850307567, 50.41410848428369), (4102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409370850307567, 50.41410848428369), (4103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409370850307567, 50.41410848428369), (4104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409370850307567, 50.41410848428369), (4105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409370850307567, 50.41410848428369), (4106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409370850307567, 50.41410848428369), (4107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409370850307567, 50.41410848428369)  ... displaying 10 of 50 total bound parameter sets ...  (4148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409370850307567, 50.41410848428369), (4149, 135.9, 135.9, 135.9, 4.409370850307567, 50.41410848428369))

2021-02-01 14:47:03,369 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,370 INFO sqlalchemy.engine.base.Engine ((2050, 'F83', 0, 'Anhydrite', 4100, 4101), (2051, 'F83', 1, 'Sandstone, grey, vf-f', 4102, 4103), (2052, 'F83', 2, 'Anhydrite', 4104, 4105), (2053, 'F83', 3, 'Dolomite', 4106, 4107), (2054, 'F83', 4, 'Anhydrite', 4108, 4109), (2055, 'F83', 5, 'Sandstone, grey, vf-f', 4110, 4111), (2056, 'F83', 6, 'Siltstone, red', 4112, 4113), (2057, 'F83', 7, 'Dolomite', 4114, 4115)  ... displaying 10 of 25 total bound parameter sets ...  (2073, 'F83', 23, 'Limestone', 4146, 4147), (2074, 'F83', 24, 'Volcanic', 4148, 4149))
2021-02-01 14:47:03,371 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:03,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:03,379 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:03,381 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:03,384 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:03,385 INFO sqlalchemy.engine.base.Engine ('F83',)
2021-02-01 14:47:03,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,387 INFO sqlalchemy.engine.base.Engine (4100,)
2021-02-01 14:47:03,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,389 INFO sqlalchemy.engine.base.Engine (4101,)
2021-02-01 14:47:03,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,393 INFO sqlalchemy.engine.base.Engine (4102,)
2021-02-01 14:47:03,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,395 INFO sqlalchemy.engine.base.Engine (4103,)
2021-02-01 14:47:03,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,400 INFO sqlalchemy.engine.base.Engine (4104,)
2021-02-01 14:47:03,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,401 INFO sqlalchemy.engine.base.Engine (4105,)
2021-02-01 14:47:03,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,404 INFO sqlalchemy.engine.base.Engine (4106,)
2021-02-01 14:47:03,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,405 INFO sqlalchemy.engine.base.Engine (4107,)
2021-02-01 14:47:03,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,409 INFO sqlalchemy.engine.base.Engine (4108,)
2021-02-01 14:47:03,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,412 INFO sqlalchemy.engine.base.Engine (4109,)
2021-02-01 14:47:03,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,416 INFO sqlalchemy.engine.base.Engine (4110,)
2021-02-01 14:47:03,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,419 INFO sqlalchemy.engine.base.Engine (4111,)
2021-02-01 14:47:03,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,423 INFO sqlalchemy.engine.base.Engine (4112,)
2021-02-01 14:47:03,424 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,425 INFO sqlalchemy.engine.base.Engine (4113,)
2021-02-01 14:47:03,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,427 INFO sqlalchemy.engine.base.Engine (4114,)
2021-02-01 14:47:03,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,428 INFO sqlalchemy.engine.base.Engine (4115,)
2021-02-01 14:47:03,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,431 INFO sqlalchemy.engine.base.Engine (4116,)

2021-02-01 14:47:03,432 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,433 INFO sqlalchemy.engine.base.Engine (4117,)
2021-02-01 14:47:03,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,437 INFO sqlalchemy.engine.base.Engine (4118,)
2021-02-01 14:47:03,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,440 INFO sqlalchemy.engine.base.Engine (4119,)
2021-02-01 14:47:03,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,443 INFO sqlalchemy.engine.base.Engine (4120,)
2021-02-01 14:47:03,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,445 INFO sqlalchemy.engine.base.Engine (4121,)
2021-02-01 14:47:03,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,448 INFO sqlalchemy.engine.base.Engine (4122,)
2021-02-01 14:47:03,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,451 INFO sqlalchemy.engine.base.Engine (4123,)
2021-02-01 14:47:03,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,454 INFO sqlalchemy.engine.base.Engine (4124,)
2021-02-01 14:47:03,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,456 INFO sqlalchemy.engine.base.Engine (4125,)
2021-02-01 14:47:03,459 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,459 INFO sqlalchemy.engine.base.Engine (4126,)
2021-02-01 14:47:03,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,461 INFO sqlalchemy.engine.base.Engine (4127,)
2021-02-01 14:47:03,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,466 INFO sqlalchemy.engine.base.Engine (4128,)
2021-02-01 14:47:03,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,469 INFO sqlalchemy.engine.base.Engine (4129,)
2021-02-01 14:47:03,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,473 INFO sqlalchemy.engine.base.Engine (4130,)
2021-02-01 14:47:03,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,475 INFO sqlalchemy.engine.base.Engine (4131,)
2021-02-01 14:47:03,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,478 INFO sqlalchemy.engine.base.Engine (4132,)
2021-02-01 14:47:03,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,480 INFO sqlalchemy.engine.base.Engine (4133,)
2021-02-01 14:47:03,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,483 INFO sqlalchemy.engine.base.Engine (4134,)
2021-02-01 14:47:03,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,484 INFO sqlalchemy.engine.base.Engine (4135,)
2021-02-01 14:47:03,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,488 INFO sqlalchemy.engine.base.Engine (4136,)
2021-02-01 14:47:03,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,490 INFO sqlalchemy.engine.base.Engine (4137,)
2021-02-01 14:47:03,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,495 INFO sqlalchemy.engine.base.Engine (4138,)
2021-02-01 14:47:03,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,497 INFO sqlalchemy.engine.base.Engine (4139,)
2021-02-01 14:47:03,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,501 INFO sqlalchemy.engine.base.Engine (4140,)
2021-02-01 14:47:03,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,504 INFO sqlalchemy.engine.base.Engine (4141,)
2021-02-01 14:47:03,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,507 INFO sqlalchemy.engine.base.Engine (4142,)
2021-02-01 14:47:03,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,509 INFO sqlalchemy.engine.base.Engine (4143,)
2021-02-01 14:47:03,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,514 INFO sqlalchemy.engine.base.Engine (4144,)
2021-02-01 14:47:03,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,516 INFO sqlalchemy.engine.base.Engine (4145,)
2021-02-01 14:47:03,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,520 INFO sqlalchemy.engine.base.Engine (4146,)
2021-02-01 14:47:03,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,522 INFO sqlalchemy.engine.base.Engine (4147,)
2021-02-01 14:47:03,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,526 INFO sqlalchemy.engine.base.Engine (4148,)
2021-02-01 14:47:03,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,527 INFO sqlalchemy.engine.base.Engine (4149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:03,581 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,582 INFO sqlalchemy.engine.base.Engine ((4150, 14.3, 14.3, 14.3, 4.4094520327697, 50.41430128913452), (4151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4094520327697, 50.41430128913452), (4152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.4094520327697, 50.41430128913452), (4153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4094520327697, 50.41430128913452), (4154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.4094520327697, 50.41430128913452), (4155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4094520327697, 50.41430128913452), (4156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.4094520327697, 50.41430128913452), (4157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.4094520327697, 50.41430128913452)  ... displaying 10 of 50 total bound parameter sets ...  (4198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.4094520327697, 50.41430128913452), (4199, 135.9, 135.9, 135.9, 4.4094520327697, 50.41430128913452))
2021-02-01 14:47:03,584 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:03,585 INFO sqlalchemy.engine.base.Engine ('F84',)
2021-02-01 14:47:03,587 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,588 INFO sqlalchemy.engine.base.Engine ((2075, 'F84', 0, 'Anhydrite', 4150, 4151), (2076, 'F84', 1, 'Sandstone, grey, vf-f', 4152, 4153), (2077, 'F84', 2, 'Anhydrite', 4154, 4155), (2078, 'F84', 3, 'Dolomite', 4156, 4157), (2079, 'F84', 4, 'Anhydrite', 4158, 4159), (2080, 'F84', 5, 'Sandstone, grey, vf-f', 4160, 4161), (2081, 'F84', 6, 'Siltstone, red', 4162, 4163), (2082, 'F84', 7, 'Dolomite', 4164, 4165)  ... displaying 10 of 25 total bound parameter sets ...  (2098, 'F84', 23, 'Limestone', 4196, 4197), (2099, 'F84', 24, 'Volcanic', 4198, 4199))
2021-02-01 14:47:03,589 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:03,594 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:03,595 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:03,596 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:03,599 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:03,601 INFO sqlalchemy.engine.base.Engine ('F84',)
2021-02-01 14:47:03,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,605 INFO sqlalchemy.engine.base.Engine (4150,)

2021-02-01 14:47:03,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,608 INFO sqlalchemy.engine.base.Engine (4151,)
2021-02-01 14:47:03,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,613 INFO sqlalchemy.engine.base.Engine (4152,)
2021-02-01 14:47:03,614 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,615 INFO sqlalchemy.engine.base.Engine (4153,)
2021-02-01 14:47:03,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,621 INFO sqlalchemy.engine.base.Engine (4154,)
2021-02-01 14:47:03,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,625 INFO sqlalchemy.engine.base.Engine (4155,)
2021-02-01 14:47:03,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,631 INFO sqlalchemy.engine.base.Engine (4156,)
2021-02-01 14:47:03,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,633 INFO sqlalchemy.engine.base.Engine (4157,)
2021-02-01 14:47:03,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,636 INFO sqlalchemy.engine.base.Engine (4158,)
2021-02-01 14:47:03,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,637 INFO sqlalchemy.engine.base.Engine (4159,)
2021-02-01 14:47:03,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,642 INFO sqlalchemy.engine.base.Engine (4160,)
2021-02-01 14:47:03,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,645 INFO sqlalchemy.engine.base.Engine (4161,)
2021-02-01 14:47:03,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,651 INFO sqlalchemy.engine.base.Engine (4162,)
2021-02-01 14:47:03,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,654 INFO sqlalchemy.engine.base.Engine (4163,)
2021-02-01 14:47:03,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,658 INFO sqlalchemy.engine.base.Engine (4164,)
2021-02-01 14:47:03,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,661 INFO sqlalchemy.engine.base.Engine (4165,)
2021-02-01 14:47:03,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,666 INFO sqlalchemy.engine.base.Engine (4166,)
2021-02-01 14:47:03,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,669 INFO sqlalchemy.engine.base.Engine (4167,)
2021-02-01 14:47:03,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,671 INFO sqlalchemy.engine.base.Engine (4168,)
2021-02-01 14:47:03,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,673 INFO sqlalchemy.engine.base.Engine (4169,)
2021-02-01 14:47:03,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,677 INFO sqlalchemy.engine.base.Engine (4170,)
2021-02-01 14:47:03,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,679 INFO sqlalchemy.engine.base.Engine (4171,)
2021-02-01 14:47:03,683 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,684 INFO sqlalchemy.engine.base.Engine (4172,)
2021-02-01 14:47:03,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,687 INFO sqlalchemy.engine.base.Engine (4173,)
2021-02-01 14:47:03,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,690 INFO sqlalchemy.engine.base.Engine (4174,)
2021-02-01 14:47:03,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,692 INFO sqlalchemy.engine.base.Engine (4175,)
2021-02-01 14:47:03,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,695 INFO sqlalchemy.engine.base.Engine (4176,)
2021-02-01 14:47:03,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,698 INFO sqlalchemy.engine.base.Engine (4177,)
2021-02-01 14:47:03,702 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,703 INFO sqlalchemy.engine.base.Engine (4178,)
2021-02-01 14:47:03,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,705 INFO sqlalchemy.engine.base.Engine (4179,)
2021-02-01 14:47:03,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,709 INFO sqlalchemy.engine.base.Engine (4180,)
2021-02-01 14:47:03,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,711 INFO sqlalchemy.engine.base.Engine (4181,)
2021-02-01 14:47:03,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,714 INFO sqlalchemy.engine.base.Engine (4182,)
2021-02-01 14:47:03,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,717 INFO sqlalchemy.engine.base.Engine (4183,)
2021-02-01 14:47:03,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,719 INFO sqlalchemy.engine.base.Engine (4184,)
2021-02-01 14:47:03,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,721 INFO sqlalchemy.engine.base.Engine (4185,)
2021-02-01 14:47:03,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,724 INFO sqlalchemy.engine.base.Engine (4186,)
2021-02-01 14:47:03,726 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,727 INFO sqlalchemy.engine.base.Engine (4187,)
2021-02-01 14:47:03,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,731 INFO sqlalchemy.engine.base.Engine (4188,)
2021-02-01 14:47:03,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,735 INFO sqlalchemy.engine.base.Engine (4189,)
2021-02-01 14:47:03,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,739 INFO sqlalchemy.engine.base.Engine (4190,)
2021-02-01 14:47:03,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,741 INFO sqlalchemy.engine.base.Engine (4191,)
2021-02-01 14:47:03,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,744 INFO sqlalchemy.engine.base.Engine (4192,)
2021-02-01 14:47:03,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,746 INFO sqlalchemy.engine.base.Engine (4193,)
2021-02-01 14:47:03,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,749 INFO sqlalchemy.engine.base.Engine (4194,)
2021-02-01 14:47:03,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,751 INFO sqlalchemy.engine.base.Engine (4195,)
2021-02-01 14:47:03,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,755 INFO sqlalchemy.engine.base.Engine (4196,)
2021-02-01 14:47:03,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,758 INFO sqlalchemy.engine.base.Engine (4197,)
2021-02-01 14:47:03,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,763 INFO sqlalchemy.engine.base.Engine (4198,)
2021-02-01 14:47:03,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,765 INFO sqlalchemy.engine.base.Engine (4199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:03,818 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,819 INFO sqlalchemy.engine.base.Engine ((4200, 14.3, 14.3, 14.3, 4.409398137491528, 50.41421195335896), (4201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409398137491528, 50.41421195335896), (4202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409398137491528, 50.41421195335896), (4203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409398137491528, 50.41421195335896), (4204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409398137491528, 50.41421195335896), (4205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409398137491528, 50.41421195335896), (4206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409398137491528, 50.41421195335896), (4207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409398137491528, 50.41421195335896)  ... displaying 10 of 50 total bound parameter sets ...  (4248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409398137491528, 50.41421195335896), (4249, 135.9, 135.9, 135.9, 4.409398137491528, 50.41421195335896))
2021-02-01 14:47:03,820 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:03,821 INFO sqlalchemy.engine.base.Engine ('F85',)
2021-02-01 14:47:03,825 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:03,826 INFO sqlalchemy.engine.base.Engine ((2100, 'F85', 0, 'Anhydrite', 4200, 4201), (2101, 'F85', 1, 'Sandstone, grey, vf-f', 4202, 4203), (2102, 'F85', 2, 'Anhydrite', 4204, 4205), (2103, 'F85', 3, 'Dolomite', 4206, 4207), (2104, 'F85', 4, 'Anhydrite', 4208, 4209), (2105, 'F85', 5, 'Sandstone, grey, vf-f', 4210, 4211), (2106, 'F85', 6, 'Siltstone, red', 4212, 4213), (2107, 'F85', 7, 'Dolomite', 4214, 4215)  ... displaying 10 of 25 total bound parameter sets ...  (2123, 'F85', 23, 'Limestone', 4246, 4247), (2124, 'F85', 24, 'Volcanic', 4248, 4249))
2021-02-01 14:47:03,829 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:03,835 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:03,836 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:03,838 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:03,841 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:03,842 INFO sqlalchemy.engine.base.Engine ('F85',)
2021-02-01 14:47:03,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,846 INFO sqlalchemy.engine.base.Engine (4200,)
2021-02-01 14:47:03,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,848 INFO sqlalchemy.engine.base.Engine (4201,)
2021-02-01 14:47:03,851 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,852 INFO sqlalchemy.engine.base.Engine (4202,)
2021-02-01 14:47:03,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,854 INFO sqlalchemy.engine.base.Engine (4203,)
2021-02-01 14:47:03,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,860 INFO sqlalchemy.engine.base.Engine (4204,)
2021-02-01 14:47:03,861 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,862 INFO sqlalchemy.engine.base.Engine (4205,)

2021-02-01 14:47:03,865 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,867 INFO sqlalchemy.engine.base.Engine (4206,)
2021-02-01 14:47:03,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,869 INFO sqlalchemy.engine.base.Engine (4207,)
2021-02-01 14:47:03,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,875 INFO sqlalchemy.engine.base.Engine (4208,)
2021-02-01 14:47:03,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,877 INFO sqlalchemy.engine.base.Engine (4209,)
2021-02-01 14:47:03,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,880 INFO sqlalchemy.engine.base.Engine (4210,)
2021-02-01 14:47:03,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,882 INFO sqlalchemy.engine.base.Engine (4211,)
2021-02-01 14:47:03,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,886 INFO sqlalchemy.engine.base.Engine (4212,)
2021-02-01 14:47:03,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,889 INFO sqlalchemy.engine.base.Engine (4213,)
2021-02-01 14:47:03,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,894 INFO sqlalchemy.engine.base.Engine (4214,)
2021-02-01 14:47:03,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,895 INFO sqlalchemy.engine.base.Engine (4215,)
2021-02-01 14:47:03,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,901 INFO sqlalchemy.engine.base.Engine (4216,)
2021-02-01 14:47:03,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,903 INFO sqlalchemy.engine.base.Engine (4217,)
2021-02-01 14:47:03,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,908 INFO sqlalchemy.engine.base.Engine (4218,)
2021-02-01 14:47:03,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,909 INFO sqlalchemy.engine.base.Engine (4219,)
2021-02-01 14:47:03,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,913 INFO sqlalchemy.engine.base.Engine (4220,)
2021-02-01 14:47:03,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,915 INFO sqlalchemy.engine.base.Engine (4221,)
2021-02-01 14:47:03,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,919 INFO sqlalchemy.engine.base.Engine (4222,)
2021-02-01 14:47:03,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,921 INFO sqlalchemy.engine.base.Engine (4223,)
2021-02-01 14:47:03,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,924 INFO sqlalchemy.engine.base.Engine (4224,)
2021-02-01 14:47:03,926 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,926 INFO sqlalchemy.engine.base.Engine (4225,)
2021-02-01 14:47:03,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,932 INFO sqlalchemy.engine.base.Engine (4226,)
2021-02-01 14:47:03,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,935 INFO sqlalchemy.engine.base.Engine (4227,)
2021-02-01 14:47:03,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,938 INFO sqlalchemy.engine.base.Engine (4228,)
2021-02-01 14:47:03,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,940 INFO sqlalchemy.engine.base.Engine (4229,)
2021-02-01 14:47:03,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,943 INFO sqlalchemy.engine.base.Engine (4230,)
2021-02-01 14:47:03,944 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,945 INFO sqlalchemy.engine.base.Engine (4231,)
2021-02-01 14:47:03,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,948 INFO sqlalchemy.engine.base.Engine (4232,)
2021-02-01 14:47:03,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,950 INFO sqlalchemy.engine.base.Engine (4233,)
2021-02-01 14:47:03,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,954 INFO sqlalchemy.engine.base.Engine (4234,)
2021-02-01 14:47:03,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,957 INFO sqlalchemy.engine.base.Engine (4235,)
2021-02-01 14:47:03,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,962 INFO sqlalchemy.engine.base.Engine (4236,)
2021-02-01 14:47:03,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,964 INFO sqlalchemy.engine.base.Engine (4237,)
2021-02-01 14:47:03,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,966 INFO sqlalchemy.engine.base.Engine (4238,)
2021-02-01 14:47:03,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,968 INFO sqlalchemy.engine.base.Engine (4239,)
2021-02-01 14:47:03,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,973 INFO sqlalchemy.engine.base.Engine (4240,)
2021-02-01 14:47:03,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,975 INFO sqlalchemy.engine.base.Engine (4241,)
2021-02-01 14:47:03,979 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,980 INFO sqlalchemy.engine.base.Engine (4242,)
2021-02-01 14:47:03,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,982 INFO sqlalchemy.engine.base.Engine (4243,)
2021-02-01 14:47:03,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,987 INFO sqlalchemy.engine.base.Engine (4244,)
2021-02-01 14:47:03,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,989 INFO sqlalchemy.engine.base.Engine (4245,)
2021-02-01 14:47:03,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:03,995 INFO sqlalchemy.engine.base.Engine (4246,)
2021-02-01 14:47:03,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:03,998 INFO sqlalchemy.engine.base.Engine (4247,)
2021-02-01 14:47:04,000 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,001 INFO sqlalchemy.engine.base.Engine (4248,)
2021-02-01 14:47:04,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,004 INFO sqlalchemy.engine.base.Engine (4249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:04,068 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:04,069 INFO sqlalchemy.engine.base.Engine ('F86',)
2021-02-01 14:47:04,071 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:04,071 INFO sqlalchemy.engine.base.Engine ((4250, 14.3, 14.3, 14.3, 4.409401409267936, 50.41420448122537), (4251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409401409267936, 50.41420448122537), (4252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409401409267936, 50.41420448122537), (4253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409401409267936, 50.41420448122537), (4254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409401409267936, 50.41420448122537), (4255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409401409267936, 50.41420448122537), (4256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409401409267936, 50.41420448122537), (4257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409401409267936, 50.41420448122537)  ... displaying 10 of 50 total bound parameter sets ...  (4298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409401409267936, 50.41420448122537), (4299, 135.9, 135.9, 135.9, 4.409401409267936, 50.41420448122537))
2021-02-01 14:47:04,074 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:04,075 INFO sqlalchemy.engine.base.Engine ((2125, 'F86', 0, 'Anhydrite', 4250, 4251), (2126, 'F86', 1, 'Sandstone, grey, vf-f', 4252, 4253), (2127, 'F86', 2, 'Anhydrite', 4254, 4255), (2128, 'F86', 3, 'Dolomite', 4256, 4257), (2129, 'F86', 4, 'Anhydrite', 4258, 4259), (2130, 'F86', 5, 'Sandstone, grey, vf-f', 4260, 4261), (2131, 'F86', 6, 'Siltstone, red', 4262, 4263), (2132, 'F86', 7, 'Dolomite', 4264, 4265)  ... displaying 10 of 25 total bound parameter sets ...  (2148, 'F86', 23, 'Limestone', 4296, 4297), (2149, 'F86', 24, 'Volcanic', 4298, 4299))
2021-02-01 14:47:04,077 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:04,083 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:04,085 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:04,085 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:04,089 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:04,090 INFO sqlalchemy.engine.base.Engine ('F86',)
2021-02-01 14:47:04,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,093 INFO sqlalchemy.engine.base.Engine (4250,)
2021-02-01 14:47:04,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,095 INFO sqlalchemy.engine.base.Engine (4251,)
2021-02-01 14:47:04,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,099 INFO sqlalchemy.engine.base.Engine (4252,)
2021-02-01 14:47:04,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,101 INFO sqlalchemy.engine.base.Engine (4253,)
2021-02-01 14:47:04,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,106 INFO sqlalchemy.engine.base.Engine (4254,)
2021-02-01 14:47:04,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,108 INFO sqlalchemy.engine.base.Engine (4255,)
2021-02-01 14:47:04,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,112 INFO sqlalchemy.engine.base.Engine (4256,)
2021-02-01 14:47:04,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,114 INFO sqlalchemy.engine.base.Engine (4257,)
2021-02-01 14:47:04,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,117 INFO sqlalchemy.engine.base.Engine (4258,)
2021-02-01 14:47:04,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,120 INFO sqlalchemy.engine.base.Engine (4259,)
2021-02-01 14:47:04,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,125 INFO sqlalchemy.engine.base.Engine (4260,)

2021-02-01 14:47:04,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,127 INFO sqlalchemy.engine.base.Engine (4261,)
2021-02-01 14:47:04,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,134 INFO sqlalchemy.engine.base.Engine (4262,)
2021-02-01 14:47:04,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,137 INFO sqlalchemy.engine.base.Engine (4263,)
2021-02-01 14:47:04,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,140 INFO sqlalchemy.engine.base.Engine (4264,)
2021-02-01 14:47:04,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,142 INFO sqlalchemy.engine.base.Engine (4265,)
2021-02-01 14:47:04,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,147 INFO sqlalchemy.engine.base.Engine (4266,)
2021-02-01 14:47:04,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,150 INFO sqlalchemy.engine.base.Engine (4267,)
2021-02-01 14:47:04,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,154 INFO sqlalchemy.engine.base.Engine (4268,)
2021-02-01 14:47:04,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,157 INFO sqlalchemy.engine.base.Engine (4269,)
2021-02-01 14:47:04,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,161 INFO sqlalchemy.engine.base.Engine (4270,)
2021-02-01 14:47:04,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,163 INFO sqlalchemy.engine.base.Engine (4271,)
2021-02-01 14:47:04,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,169 INFO sqlalchemy.engine.base.Engine (4272,)
2021-02-01 14:47:04,170 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,171 INFO sqlalchemy.engine.base.Engine (4273,)
2021-02-01 14:47:04,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,174 INFO sqlalchemy.engine.base.Engine (4274,)
2021-02-01 14:47:04,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,176 INFO sqlalchemy.engine.base.Engine (4275,)
2021-02-01 14:47:04,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,181 INFO sqlalchemy.engine.base.Engine (4276,)
2021-02-01 14:47:04,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,184 INFO sqlalchemy.engine.base.Engine (4277,)
2021-02-01 14:47:04,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,188 INFO sqlalchemy.engine.base.Engine (4278,)
2021-02-01 14:47:04,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,191 INFO sqlalchemy.engine.base.Engine (4279,)
2021-02-01 14:47:04,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,194 INFO sqlalchemy.engine.base.Engine (4280,)
2021-02-01 14:47:04,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:04,196 INFO sqlalchemy.engine.base.Engine (4281,)
2021-02-01 14:47:04,199 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,200 INFO sqlalchemy.engine.base.Engine (4282,)
2021-02-01 14:47:04,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,202 INFO sqlalchemy.engine.base.Engine (4283,)
2021-02-01 14:47:04,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,205 INFO sqlalchemy.engine.base.Engine (4284,)
2021-02-01 14:47:04,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,207 INFO sqlalchemy.engine.base.Engine (4285,)
2021-02-01 14:47:04,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,210 INFO sqlalchemy.engine.base.Engine (4286,)
2021-02-01 14:47:04,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,212 INFO sqlalchemy.engine.base.Engine (4287,)
2021-02-01 14:47:04,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,215 INFO sqlalchemy.engine.base.Engine (4288,)
2021-02-01 14:47:04,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,217 INFO sqlalchemy.engine.base.Engine (4289,)
2021-02-01 14:47:04,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,220 INFO sqlalchemy.engine.base.Engine (4290,)
2021-02-01 14:47:04,222 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,223 INFO sqlalchemy.engine.base.Engine (4291,)
2021-02-01 14:47:04,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,227 INFO sqlalchemy.engine.base.Engine (4292,)
2021-02-01 14:47:04,229 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,230 INFO sqlalchemy.engine.base.Engine (4293,)
2021-02-01 14:47:04,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,233 INFO sqlalchemy.engine.base.Engine (4294,)
2021-02-01 14:47:04,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,235 INFO sqlalchemy.engine.base.Engine (4295,)
2021-02-01 14:47:04,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,237 INFO sqlalchemy.engine.base.Engine (4296,)
2021-02-01 14:47:04,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,239 INFO sqlalchemy.engine.base.Engine (4297,)
2021-02-01 14:47:04,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,242 INFO sqlalchemy.engine.base.Engine (4298,)
2021-02-01 14:47:04,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,244 INFO sqlalchemy.engine.base.Engine (4299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:04,300 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:04,301 INFO sqlalchemy.engine.base.Engine ('F87',)
2021-02-01 14:47:04,303 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:04,304 INFO sqlalchemy.engine.base.Engine ((4300, 14.3, 14.3, 14.3, 4.409404932290353, 50.4141785518408), (4301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409404932290353, 50.4141785518408), (4302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409404932290353, 50.4141785518408), (4303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409404932290353, 50.4141785518408), (4304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409404932290353, 50.4141785518408), (4305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409404932290353, 50.4141785518408), (4306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409404932290353, 50.4141785518408), (4307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409404932290353, 50.4141785518408)  ... displaying 10 of 50 total bound parameter sets ...  (4348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409404932290353, 50.4141785518408), (4349, 135.9, 135.9, 135.9, 4.409404932290353, 50.4141785518408))

2021-02-01 14:47:04,306 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:04,307 INFO sqlalchemy.engine.base.Engine ((2150, 'F87', 0, 'Anhydrite', 4300, 4301), (2151, 'F87', 1, 'Sandstone, grey, vf-f', 4302, 4303), (2152, 'F87', 2, 'Anhydrite', 4304, 4305), (2153, 'F87', 3, 'Dolomite', 4306, 4307), (2154, 'F87', 4, 'Anhydrite', 4308, 4309), (2155, 'F87', 5, 'Sandstone, grey, vf-f', 4310, 4311), (2156, 'F87', 6, 'Siltstone, red', 4312, 4313), (2157, 'F87', 7, 'Dolomite', 4314, 4315)  ... displaying 10 of 25 total bound parameter sets ...  (2173, 'F87', 23, 'Limestone', 4346, 4347), (2174, 'F87', 24, 'Volcanic', 4348, 4349))
2021-02-01 14:47:04,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:04,316 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:04,318 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:04,318 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:04,322 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:04,322 INFO sqlalchemy.engine.base.Engine ('F87',)
2021-02-01 14:47:04,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,325 INFO sqlalchemy.engine.base.Engine (4300,)
2021-02-01 14:47:04,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,326 INFO sqlalchemy.engine.base.Engine (4301,)
2021-02-01 14:47:04,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,330 INFO sqlalchemy.engine.base.Engine (4302,)
2021-02-01 14:47:04,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,334 INFO sqlalchemy.engine.base.Engine (4303,)
2021-02-01 14:47:04,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,339 INFO sqlalchemy.engine.base.Engine (4304,)
2021-02-01 14:47:04,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,341 INFO sqlalchemy.engine.base.Engine (4305,)
2021-02-01 14:47:04,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,346 INFO sqlalchemy.engine.base.Engine (4306,)
2021-02-01 14:47:04,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,348 INFO sqlalchemy.engine.base.Engine (4307,)
2021-02-01 14:47:04,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,354 INFO sqlalchemy.engine.base.Engine (4308,)
2021-02-01 14:47:04,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,357 INFO sqlalchemy.engine.base.Engine (4309,)
2021-02-01 14:47:04,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,361 INFO sqlalchemy.engine.base.Engine (4310,)
2021-02-01 14:47:04,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,364 INFO sqlalchemy.engine.base.Engine (4311,)
2021-02-01 14:47:04,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,368 INFO sqlalchemy.engine.base.Engine (4312,)
2021-02-01 14:47:04,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,370 INFO sqlalchemy.engine.base.Engine (4313,)
2021-02-01 14:47:04,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,375 INFO sqlalchemy.engine.base.Engine (4314,)
2021-02-01 14:47:04,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,377 INFO sqlalchemy.engine.base.Engine (4315,)
2021-02-01 14:47:04,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,382 INFO sqlalchemy.engine.base.Engine (4316,)

2021-02-01 14:47:04,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,385 INFO sqlalchemy.engine.base.Engine (4317,)
2021-02-01 14:47:04,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,390 INFO sqlalchemy.engine.base.Engine (4318,)
2021-02-01 14:47:04,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,393 INFO sqlalchemy.engine.base.Engine (4319,)
2021-02-01 14:47:04,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,396 INFO sqlalchemy.engine.base.Engine (4320,)
2021-02-01 14:47:04,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,398 INFO sqlalchemy.engine.base.Engine (4321,)
2021-02-01 14:47:04,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,404 INFO sqlalchemy.engine.base.Engine (4322,)
2021-02-01 14:47:04,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,405 INFO sqlalchemy.engine.base.Engine (4323,)
2021-02-01 14:47:04,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,409 INFO sqlalchemy.engine.base.Engine (4324,)
2021-02-01 14:47:04,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,410 INFO sqlalchemy.engine.base.Engine (4325,)
2021-02-01 14:47:04,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,414 INFO sqlalchemy.engine.base.Engine (4326,)
2021-02-01 14:47:04,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,415 INFO sqlalchemy.engine.base.Engine (4327,)
2021-02-01 14:47:04,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,420 INFO sqlalchemy.engine.base.Engine (4328,)
2021-02-01 14:47:04,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,423 INFO sqlalchemy.engine.base.Engine (4329,)
2021-02-01 14:47:04,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,428 INFO sqlalchemy.engine.base.Engine (4330,)
2021-02-01 14:47:04,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,430 INFO sqlalchemy.engine.base.Engine (4331,)
2021-02-01 14:47:04,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,433 INFO sqlalchemy.engine.base.Engine (4332,)
2021-02-01 14:47:04,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,435 INFO sqlalchemy.engine.base.Engine (4333,)
2021-02-01 14:47:04,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,438 INFO sqlalchemy.engine.base.Engine (4334,)
2021-02-01 14:47:04,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,440 INFO sqlalchemy.engine.base.Engine (4335,)
2021-02-01 14:47:04,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,447 INFO sqlalchemy.engine.base.Engine (4336,)
2021-02-01 14:47:04,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:04,450 INFO sqlalchemy.engine.base.Engine (4337,)
2021-02-01 14:47:04,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,454 INFO sqlalchemy.engine.base.Engine (4338,)
2021-02-01 14:47:04,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,456 INFO sqlalchemy.engine.base.Engine (4339,)
2021-02-01 14:47:04,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,461 INFO sqlalchemy.engine.base.Engine (4340,)
2021-02-01 14:47:04,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,465 INFO sqlalchemy.engine.base.Engine (4341,)
2021-02-01 14:47:04,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,470 INFO sqlalchemy.engine.base.Engine (4342,)
2021-02-01 14:47:04,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,473 INFO sqlalchemy.engine.base.Engine (4343,)
2021-02-01 14:47:04,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,478 INFO sqlalchemy.engine.base.Engine (4344,)
2021-02-01 14:47:04,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,480 INFO sqlalchemy.engine.base.Engine (4345,)
2021-02-01 14:47:04,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,483 INFO sqlalchemy.engine.base.Engine (4346,)
2021-02-01 14:47:04,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,485 INFO sqlalchemy.engine.base.Engine (4347,)
2021-02-01 14:47:04,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,491 INFO sqlalchemy.engine.base.Engine (4348,)
2021-02-01 14:47:04,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,494 INFO sqlalchemy.engine.base.Engine (4349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-01 14:47:04,550 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:04,551 INFO sqlalchemy.engine.base.Engine ((4350, 14.3, 14.3, 14.3, 4.409333961464532, 50.414175888954524), (4351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409333961464532, 50.414175888954524), (4352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 4.409333961464532, 50.414175888954524), (4353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409333961464532, 50.414175888954524), (4354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 4.409333961464532, 50.414175888954524), (4355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409333961464532, 50.414175888954524), (4356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 4.409333961464532, 50.414175888954524), (4357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 4.409333961464532, 50.414175888954524)  ... displaying 10 of 50 total bound parameter sets ...  (4398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 4.409333961464532, 50.414175888954524), (4399, 135.9, 135.9, 135.9, 4.409333961464532, 50.414175888954524))
2021-02-01 14:47:04,553 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-01 14:47:04,554 INFO sqlalchemy.engine.base.Engine ('F88',)
2021-02-01 14:47:04,557 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-01 14:47:04,557 INFO sqlalchemy.engine.base.Engine ((2175, 'F88', 0, 'Anhydrite', 4350, 4351), (2176, 'F88', 1, 'Sandstone, grey, vf-f', 4352, 4353), (2177, 'F88', 2, 'Anhydrite', 4354, 4355), (2178, 'F88', 3, 'Dolomite', 4356, 4357), (2179, 'F88', 4, 'Anhydrite', 4358, 4359), (2180, 'F88', 5, 'Sandstone, grey, vf-f', 4360, 4361), (2181, 'F88', 6, 'Siltstone, red', 4362, 4363), (2182, 'F88', 7, 'Dolomite', 4364, 4365)  ... displaying 10 of 25 total bound parameter sets ...  (2198, 'F88', 23, 'Limestone', 4396, 4397), (2199, 'F88', 24, 'Volcanic', 4398, 4399))
2021-02-01 14:47:04,559 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-01 14:47:04,565 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:04,566 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-01 14:47:04,566 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 14:47:04,569 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:04,569 INFO sqlalchemy.engine.base.Engine ('F88',)
2021-02-01 14:47:04,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,572 INFO sqlalchemy.engine.base.Engine (4350,)

2021-02-01 14:47:04,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,574 INFO sqlalchemy.engine.base.Engine (4351,)
2021-02-01 14:47:04,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,578 INFO sqlalchemy.engine.base.Engine (4352,)
2021-02-01 14:47:04,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,581 INFO sqlalchemy.engine.base.Engine (4353,)
2021-02-01 14:47:04,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,584 INFO sqlalchemy.engine.base.Engine (4354,)
2021-02-01 14:47:04,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,587 INFO sqlalchemy.engine.base.Engine (4355,)
2021-02-01 14:47:04,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,591 INFO sqlalchemy.engine.base.Engine (4356,)
2021-02-01 14:47:04,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,595 INFO sqlalchemy.engine.base.Engine (4357,)
2021-02-01 14:47:04,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,600 INFO sqlalchemy.engine.base.Engine (4358,)
2021-02-01 14:47:04,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,603 INFO sqlalchemy.engine.base.Engine (4359,)
2021-02-01 14:47:04,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,607 INFO sqlalchemy.engine.base.Engine (4360,)
2021-02-01 14:47:04,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,609 INFO sqlalchemy.engine.base.Engine (4361,)
2021-02-01 14:47:04,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,615 INFO sqlalchemy.engine.base.Engine (4362,)
2021-02-01 14:47:04,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,617 INFO sqlalchemy.engine.base.Engine (4363,)
2021-02-01 14:47:04,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,621 INFO sqlalchemy.engine.base.Engine (4364,)
2021-02-01 14:47:04,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,623 INFO sqlalchemy.engine.base.Engine (4365,)
2021-02-01 14:47:04,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,628 INFO sqlalchemy.engine.base.Engine (4366,)
2021-02-01 14:47:04,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,630 INFO sqlalchemy.engine.base.Engine (4367,)
2021-02-01 14:47:04,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,635 INFO sqlalchemy.engine.base.Engine (4368,)
2021-02-01 14:47:04,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,637 INFO sqlalchemy.engine.base.Engine (4369,)
2021-02-01 14:47:04,639 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,640 INFO sqlalchemy.engine.base.Engine (4370,)
2021-02-01 14:47:04,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:04,643 INFO sqlalchemy.engine.base.Engine (4371,)
2021-02-01 14:47:04,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,649 INFO sqlalchemy.engine.base.Engine (4372,)
2021-02-01 14:47:04,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,652 INFO sqlalchemy.engine.base.Engine (4373,)
2021-02-01 14:47:04,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,656 INFO sqlalchemy.engine.base.Engine (4374,)
2021-02-01 14:47:04,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,658 INFO sqlalchemy.engine.base.Engine (4375,)
2021-02-01 14:47:04,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,662 INFO sqlalchemy.engine.base.Engine (4376,)
2021-02-01 14:47:04,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,665 INFO sqlalchemy.engine.base.Engine (4377,)
2021-02-01 14:47:04,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,669 INFO sqlalchemy.engine.base.Engine (4378,)
2021-02-01 14:47:04,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,671 INFO sqlalchemy.engine.base.Engine (4379,)
2021-02-01 14:47:04,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,675 INFO sqlalchemy.engine.base.Engine (4380,)
2021-02-01 14:47:04,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,676 INFO sqlalchemy.engine.base.Engine (4381,)
2021-02-01 14:47:04,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,679 INFO sqlalchemy.engine.base.Engine (4382,)
2021-02-01 14:47:04,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,682 INFO sqlalchemy.engine.base.Engine (4383,)
2021-02-01 14:47:04,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,686 INFO sqlalchemy.engine.base.Engine (4384,)
2021-02-01 14:47:04,687 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,688 INFO sqlalchemy.engine.base.Engine (4385,)
2021-02-01 14:47:04,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,694 INFO sqlalchemy.engine.base.Engine (4386,)
2021-02-01 14:47:04,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,697 INFO sqlalchemy.engine.base.Engine (4387,)
2021-02-01 14:47:04,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,701 INFO sqlalchemy.engine.base.Engine (4388,)
2021-02-01 14:47:04,702 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,703 INFO sqlalchemy.engine.base.Engine (4389,)
2021-02-01 14:47:04,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,706 INFO sqlalchemy.engine.base.Engine (4390,)
2021-02-01 14:47:04,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,708 INFO sqlalchemy.engine.base.Engine (4391,)
2021-02-01 14:47:04,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-01 14:47:04,713 INFO sqlalchemy.engine.base.Engine (4392,)
2021-02-01 14:47:04,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,715 INFO sqlalchemy.engine.base.Engine (4393,)
2021-02-01 14:47:04,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,721 INFO sqlalchemy.engine.base.Engine (4394,)
2021-02-01 14:47:04,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,724 INFO sqlalchemy.engine.base.Engine (4395,)
2021-02-01 14:47:04,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,728 INFO sqlalchemy.engine.base.Engine (4396,)
2021-02-01 14:47:04,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,732 INFO sqlalchemy.engine.base.Engine (4397,)
2021-02-01 14:47:04,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,738 INFO sqlalchemy.engine.base.Engine (4398,)
2021-02-01 14:47:04,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-01 14:47:04,740 INFO sqlalchemy.engine.base.Engine (4399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !

In [19]:
p.commit()

2021-02-01 14:47:04,795 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
p.boreholes[0].intervals[0].description

2021-02-01 14:47:04,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-01 14:47:04,805 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
WHERE "Boreholes".id = ?
2021-02-01 14:47:04,806 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-02-01 14:47:04,807 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-01 14:47:04,808 INFO sqlalchemy.engine.base.Engine ('F1',)

'Anhydrite'

In [21]:
session.close()

2021-02-01 14:47:04,815 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [22]:
p.plot3d(x3d=True, radius=0.5)