# 2D / 3D Mapping

config Completer.use_jedi = False #to fix problem with my tab completion under jupyter (must find a better solution)

 ## Boreholes 2D mapping from files

### imports

In [1]:
import matplotlib.pyplot as plt
#from striplog import Component, Decor, Legend
#from core.omf import Borehole3D, striplog_legend_to_omf_legend 

import geopandas as gpd, pandas as pd
from shapely import wkt
import folium as fm
from folium import plugins
from utils.io import boreholes_from_files, striplog_from_text, export_gdf, read_gdf_file
from os import remove
from core.core import Project
from core.orm import BoreholeOrm, PositionOrm, Base
from striplog import Lexicon, Striplog
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from definitions import ROOT_DIR

### Data from a shapefile

In [2]:
shapef_dir = ROOT_DIR+"/CF_data/Data_UMONS/SIG/"
shp = gpd.read_file(shapef_dir+"Pilote_v8.0.shp")

**Rmq** : ici à quoi correspondent :

    - ID (tout est à 0!), 
    - Ref
    - Type

In [3]:
if 'Id' in shp.columns:
    shp=shp.drop(['Id'], axis=1)
    #shp.index.name='Id'
shp.head(2)

,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
0,1,1,111,2,1,1,0,1,0,OUI,POINT (152894.891 122592.127)
1,1,1,120,2,1,1,0,1,0,OUI,POINT (152881.447 122588.102)

print("nombre de données :", len(shp))
print("nombre de forages (diam > 0 ??) :", len(shp.query('diam>0')))
#shp.loc[41]

In [4]:
pwd

'/home/yanathan/Projects/GSDMA/playground/TFE_test'

### Save location data in a Geopackage / GeoJson / csv

In [5]:
export_gdf(shp, 31370, 'tmp_files/test_loc.csv')

tmp_files/test_loc.csv has been saved !

In [6]:
cat 'tmp_files/test_loc.csv'

X,Y,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
152894.89100002544,122592.12713904586,1,1,111,2,1,1,0,1,0,OUI,POINT (152894.8910000254 122592.1271390459)
152881.4470000254,122588.10213904455,1,1,120,2,1,1,0,1,0,OUI,POINT (152881.4470000254 122588.1021390446)
152885.99500002537,122587.12713904679,2,1,217,3,1,1,1,1,0,OUI,POINT (152885.9950000254 122587.1271390468)
152883.7680000254,122589.75413904712,1,1,116,2,1,1,0,1,0,OUI,POINT (152883.7680000254 122589.7541390471)
152888.1280000254,122588.43613904715,2,1,214,2,1,1,1,1,0,OUI,POINT (152888.1280000254 122588.4361390471)
152886.2260000254,122591.65513904672,1,1,113,2,1,1,0,1,0,OUI,POINT (152886.2260000254 122591.6551390467)
152880.9800000254,122583.69313904643,2,1,223,3,1,1,1,1,1,OUI,POINT (152880.9800000254 122583.6931390464)
152883.65800002537,122585.62313904893,2,1,221,2,1,1,1,1,1,OUI,POINT (152883.6580000254 122585.6231390489)
152889.1520000254,122587.1761390483,1,1,118,2,1,1,0,1,0,OUI,POINT (152889.1520000254 122587.1761390483)
152883.43300002534,122588.32313904725,2,1,216,2,1,1,1,1,1,OUI,POINT (152883.4330000253 122588.3231390473)
152883.43300002534,122580.26613904629,2,1,226,2,1,1,1,1,1,OUI,POINT (152883.4330000253 122580.2661390463)
152883.57100002537,122593.02013904788,1,1,112,2,1,1,0,1,0,OUI,POINT (152883.5710000254 122593.0201390479)
152891.94900002552,122593.72213904653,1,1,110,2,1,1,0,1,0,OUI,POINT (152891.9490000255 122593.7221390465)
152884.22600002537,122583.90313904826,1,1,125,2,1,1,0,1,0,OUI,POINT (152884.2260000254 122583.9031390483)
152888.80200002543,122590.0531390477,1,1,114,2,1,1,0,1,0,OUI,POINT (152888.8020000254 122590.0531390477)
152886.53400002536,122588.83313904703,1,1,117,2,1,1,0,1,0,OUI,POINT (152886.5340000254 122588.833139047)
152885.4830000254,122590.19413904846,2,1,213,2,1,1,1,1,1,OUI,POINT (152885.4830000254 122590.1941390485)
152888.76800002545,122585.85713904724,2,1,218,2,1,1,1,1,1,OUI,POINT (152888.7680000254 122585.8571390472)
152885.03158300993,122585.3671309175,4,1,400,0,0,0,0,0,0,NON,POINT (152885.0315830099 122585.3671309175)
152890.6620000255,122587.51713904738,2,1,215,2,1,1,1,1,1,OUI,POINT (152890.6620000255 122587.5171390474)
152881.17100002535,122580.4831390474,2,1,225,2,1,1,1,1,0,OUI,POINT (152881.1710000254 122580.4831390474)
152883.5060000254,122582.57913904637,2,1,224,2,1,1,1,1,0,OUI,POINT (152883.5060000254 122582.5791390464)
152879.12900002534,122583.27013904788,2,1,210,2,1,0,0,0,0,OUI,POINT (152879.1290000253 122583.2701390479)
152885.8040000254,122584.37513904646,2,1,222,2,1,1,1,1,1,OUI,POINT (152885.8040000254 122584.3751390465)
152884.55900002542,122586.86513904855,1,1,121,2,1,1,0,1,0,OUI,POINT (152884.5590000254 122586.8651390485)
152886.79600002544,122583.44613904692,1,1,126,2,1,1,0,1,0,OUI,POINT (152886.7960000254 122583.4461390469)
152881.57883449996,122585.08690298628,1,1,124,2,1,1,0,1,0,OUI,POINT (152881.5788345 122585.0869029863)
152886.77900002545,122585.61413904652,1,1,122,2,1,1,0,1,0,OUI,POINT (152886.7790000254 122585.6141390465)
152881.7110000254,122582.22613904905,1,1,127,2,1,1,0,1,0,OUI,POINT (152881.7110000254 122582.226139049)
152893.79900002544,122593.65913904738,1,1,107,2,1,1,0,1,0,OUI,POINT (152893.7990000254 122593.6591390474)
152886.1190000254,122594.53213904705,1,1,108,2,1,1,0,1,0,OUI,POINT (152886.1190000254 122594.532139047)
152891.25200002544,122595.00913904794,1,1,106,2,1,1,0,1,0,OUI,POINT (152891.2520000254 122595.0091390479)
152890.82431275706,122583.5798753826,5,1,500,0,0,0,0,0,0,NON,POINT (152890.8243127571 122583.5798753826)
152892.8790000254,122592.58713904768,2,1,207,2,1,1,1,1,1,OUI,POINT (152892.8790000254 122592.5871390477)
152885.19800002538,122592.74513904564,2,1,208,2,1,1,1,1,1,OUI,POINT (152885.1980000254 122592.7451390456)
152888.16400002537,122591.69413904753,2,1,209,2,1,1,1,1,1,OUI,POINT (152888.1640000254 122591.6941390475)
152890.42400002546,122593.64313904569,2,1,206,2,1,1,1,1,1,OUI,POINT (152890.4240000255 122593.6431390457)
152888.12300002543,122599.14613904711,1,1,100,2,1,1,0,1,0,OUI,POINT (152888.1230000254 122599.1461390471)
152891.16600002543,122597.62813904602,1,1,101,2,1,1,0,1,0,OUI,POINT (152891.1660000254 122597.628139046)
152893.33600002548,122595.92013904639,1,1,102,2,1,1,0,1,0,OUI,POINT (152893.3360000255 122595.9201390464)
152895.43100002548,122594.85713904817,1,1,103,2,1,1,0,1,0,OUI,POINT (152895.4310000255 122594.8571390482)
152888.20900002544,122596.49213904701,1,1,105,2,1,1,0,1,0,OUI,POINT (152888.2090000254 122596.492139047)
152891.32900002546,122588.78113904875,1,1,115,2,1,1,0,1,0,OUI,POINT (152891.3290000255 122588.7811390487)
152889.47000002547,122584.78213904798,1,1,123,2,1,1,0,1,0,OUI,POINT (152889.4700000255 122584.782139048)
152887.7500000254,122594.56613904703,2,1,205,3,1,1,1,1,0,OUI,POINT (152887.7500000254 122594.566139047)
152885.1050000254,122596.29513904639,2,1,204,2,1,1,0,1,0,OUI,POINT (152885.1050000254 122596.2951390464)
152892.8990000255,122594.97613904811,2,1,202,2,1,1,1,1,1,OUI,POINT (152892.8990000255 122594.9761390481)
152890.24100002553,122596.46113904752,2,1,201,2,1,1,1,1,0,OUI,POINT (152890.2410000255 122596.4611390475)
152887.63100002534,122598.04613904748,2,1,200,2,1,1,1,1,1,OUI,POINT (152887.6310000253 122598.0461390475)
152885.82300002544,122597.76613904722,1,1,104,2,1,1,0,1,0,OUI,POINT (152885.8230000254 122597.7661390472)
152888.5570000254,122593.31413904857,1,1,109,2,1,1,0,1,0,OUI,POINT (152888.5570000254 122593.3141390486)
152891.79100002543,122586.1501390487,1,1,119,2,1,1,0,1,0,OUI,POINT (152891.7910000254 122586.1501390487)
152879.13500002536,122580.17613904737,1,1,128,2,1,1,0,1,0,OUI,POINT (152879.1350000254 122580.1761390474)
152882.02200002535,122579.22513904702,1,1,129,2,1,1,0,1,0,OUI,POINT (152882.0220000253 122579.225139047)
152895.35400002546,122593.70113904681,2,1,203,2,1,1,1,1,0,OUI,POINT (152895.3540000255 122593.7011390468)
152882.76500002542,122591.41413904633,2,1,212,2,1,1,0,1,0,OUI,POINT (152882.7650000254 122591.4141390463)
152888.10200002545,122583.96013904642,2,1,211,2,1,1,1,1,0,OUI,POINT (152888.1020000255 122583.9601390464)
152891.5540000255,122584.95313904714,2,1,219,2,1,1,0,1,0,OUI,POINT (152891.5540000255 122584.9531390471)
152880.74000002534,122586.3991390476,2,1,220,2,1,1,0,1,0,OUI,POINT (152880.7400000253 122586.3991390476)
152893.9330000255,122594.96413904615,3,1,301,0,0,0,0,0,0,OUI,POINT (152893.9330000255 122594.9641390461)
152887.10600002544,122593.01613904722,3,1,302,0,0,0,0,0,0,OUI,POINT (152887.1060000254 122593.0161390472)
152891.63200002545,122591.38213904668,3,1,303,0,0,0,0,0,0,OUI,POINT (152891.6320000254 122591.3821390467)
152880.26600002535,122582.55413904414,3,1,305,0,0,0,0,0,0,OUI,POINT (152880.2660000254 122582.5541390441)
152867.45209745003,122588.87729745824,3,1,306,0,0,0,0,0,0,NON,POINT (152867.45209745 122588.8772974582)
152876.61200002534,122584.35813904833,2,0,227,2,0,1,1,0,0,OUI,POINT (152876.6120000253 122584.3581390483)
152889.81200002544,122581.22613904811,1,0,13,0,0,1,0,1,0,OUI,POINT (152889.8120000254 122581.2261390481)
152887.3020000254,122579.5511390455,1,0,16,0,0,1,0,1,0,OUI,POINT (152887.3020000254 122579.5511390455)
152884.5820000254,122580.77813904732,1,0,15,0,0,1,0,1,0,OUI,POINT (152884.5820000254 122580.7781390473)
152884.69700002536,122577.76113904733,1,0,10,2,1,1,0,1,0,OUI,POINT (152884.6970000254 122577.7611390473)
152887.41200002545,122576.40913904551,1,0,11,2,1,1,0,1,0,OUI,POINT (152887.4120000254 122576.4091390455)
152885.5410000254,122579.35213904642,2,0,25,0,0,0,0,0,0,OUI,POINT (152885.5410000254 122579.3521390464)
152888.36700002546,122577.94413904753,2,0,21,0,1,0,0,0,0,OUI,POINT (152888.3670000255 122577.9441390475)
152888.55500002543,122581.87813904788,2,0,23,0,0,0,0,0,0,OUI,POINT (152888.5550000254 122581.8781390479)
152886.29900002538,122580.93113904726,1,0,24,0,1,1,1,1,1,OUI,POINT (152886.2990000254 122580.9311390473)
152888.5000000254,122580.49013904762,1,0,22,0,1,0,0,0,0,OUI,POINT (152888.5000000254 122580.4901390476)
152886.46500002543,122577.94913904741,1,0,20,0,1,1,1,1,1,OUI,POINT (152886.4650000254 122577.9491390474)
152888.05000002543,122581.03613904584,3,0,30,0,0,0,0,0,0,???,POINT (152888.0500000254 122581.0361390458)
152885.90100002542,122581.71113904845,3,0,32,0,0,0,0,0,0,OUI,POINT (152885.9010000254 122581.7111390484)
152886.0900000254,122578.42713904567,3,0,31,0,0,0,0,0,0,OUI,POINT (152886.0900000254 122578.4271390457)
152883.68000002543,122577.58713904768,4,0,40,0,0,0,0,0,0,OUI,POINT (152883.6800000254 122577.5871390477)
152884.2410000254,122576.75213904679,4,0,41,0,0,0,0,0,0,OUI,POINT (152884.2410000254 122576.7521390468)
152888.6360000254,122578.79613904748,1,0,12,0,1,0,0,0,0,OUI,POINT (152888.6360000254 122578.7961390475)
152887.36800002542,122581.00713904761,1,0,14,0,0,0,0,0,0,OUI,POINT (152887.3680000254 122581.0071390476)
152893.12600002543,122602.45613904763,6,0,50,0,0,0,0,0,0,OUI,POINT (152893.1260000254 122602.4561390476)
152889.3010000254,122592.51713904738,6,0,52,0,0,0,0,0,0,OUI,POINT (152889.3010000254 122592.5171390474)
152889.53400002542,122591.68613904808,6,0,51,0,0,0,0,0,0,OUI,POINT (152889.5340000254 122591.6861390481)
152889.78600002543,122588.80213904474,6,0,53,0,0,0,0,0,0,OUI,POINT (152889.7860000254 122588.8021390447)
152884.7420000254,122588.50313904788,3,0,304,0,0,0,0,0,0,OUI,POINT (152884.7420000254 122588.5031390479)

### 2D Map

-idée à explorer : fonction pour générer une carte des forages présents dans un projet

In [7]:
#Change CRS EPSG 31370 (Lambert 72) into EPSG 4326 (WGS 84)
shp = shp.to_crs(epsg=4326)
center=[shp.geometry.y.mean(), shp.geometry.x.mean()]

# Use a satellite map
tile_name = ["Satellite"]
tile_attr = ["Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community"]
tile_url = ["https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"]

BH_map=fm.Map(location=center, tiles='OpenStreetMap', zoom_start=19, max_zoom=25, control_scale=True)

ch1 = fm.FeatureGroup(name='Boreholes')

for idx, row in shp.iterrows():
    fm.CircleMarker([row.geometry.y, row.geometry.x], popup=str(idx) , radius=0.1,
                     color='red', fill_color='red',
                    opacity=0.6
                    ).add_to(ch1)
    
#fm.GeoJson('BH_loc.json').add_to(fm_map)

mini_map = plugins.MiniMap(toggle_display=True, zoom_level_offset=-6)

#adding features to the base_map
fm.TileLayer(name=tile_name[0], tiles=tile_url[0], max_zoom=25, attr=tile_attr[0], control=True).add_to(BH_map)
ch1.add_to(BH_map)
fm.LayerControl().add_to(BH_map)
BH_map.add_child(mini_map)

#save in a file
BH_map.save('tmp_files/BH_location.html')
BH_map

### Reading location data from a csv, Geo(package/Json) file

In [8]:
file_dir=ROOT_DIR+'/playground/TFE_test/tmp_files/'

In [9]:
bh_loc=read_gdf_file(file_dir+'test_loc.csv')
bh_loc.head(2)

data EPSG (a number) ? : 31370

,X,Y,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,Impo_perm,GPS2021,geometry
0,152894.891,122592.127139,1,1,111,2,1,1,0,1,0,OUI,POINT (152894.891 122592.127)
1,152881.447,122588.102139,1,1,120,2,1,1,0,1,0,OUI,POINT (152881.447 122588.102)

**Rmq** : la coordonnée Z est manquante dans les données de base !

### Create a boreholes positions list

In [10]:
bh_loc.loc[:2, ['X','Y','Ref', ]]

            X              Y  Ref
0  152894.891  122592.127139  111
1  152881.447  122588.102139  120
2  152885.995  122587.127139  217

In [11]:
x_list=bh_loc['X'].to_list()
y_list=bh_loc['Y'].to_list()
'Total: ', len(x_list), x_list

('Total: ',
 88,
 [152894.89100002544,
  152881.4470000254,
  152885.99500002537,
  152883.7680000254,
  152888.1280000254,
  152886.2260000254,
  152880.9800000254,
  152883.65800002537,
  152889.1520000254,
  152883.43300002534,
  152883.43300002534,
  152883.57100002535,
  152891.94900002552,
  152884.22600002537,
  152888.80200002543,
  152886.53400002536,
  152885.4830000254,
  152888.76800002545,
  152885.03158300993,
  152890.6620000255,
  152881.17100002535,
  152883.5060000254,
  152879.12900002534,
  152885.8040000254,
  152884.55900002542,
  152886.79600002544,
  152881.57883449996,
  152886.77900002545,
  152881.7110000254,
  152893.79900002544,
  152886.1190000254,
  152891.25200002544,
  152890.82431275706,
  152892.8790000254,
  152885.19800002538,
  152888.16400002537,
  152890.42400002546,
  152888.12300002543,
  152891.16600002543,
  152893.33600002548,
  152895.43100002548,
  152888.20900002544,
  152891.32900002546,
  152889.47000002547,
  152887.7500000254,
  152885.1050000254,
  152892.8990000255,
  152890.24100002553,
  152887.63100002534,
  152885.82300002544,
  152888.5570000254,
  152891.79100002543,
  152879.13500002536,
  152882.02200002535,
  152895.35400002546,
  152882.76500002542,
  152888.10200002545,
  152891.5540000255,
  152880.74000002534,
  152893.9330000255,
  152887.10600002544,
  152891.63200002545,
  152880.26600002535,
  152867.45209745003,
  152876.61200002534,
  152889.81200002544,
  152887.3020000254,
  152884.5820000254,
  152884.69700002536,
  152887.41200002545,
  152885.5410000254,
  152888.36700002546,
  152888.55500002543,
  152886.29900002538,
  152888.5000000254,
  152886.46500002543,
  152888.05000002545,
  152885.90100002542,
  152886.0900000254,
  152883.68000002543,
  152884.2410000254,
  152888.6360000254,
  152887.36800002542,
  152893.12600002543,
  152889.3010000254,
  152889.53400002542,
  152889.78600002543,
  152884.7420000254])

## Borehole 3D mapping

### Build Borehole3D objects

Puisqu'on ne dispose que de la localisation des forages (pas d'infos sur la géométrie et le "contenu" des forages), l'idée est de créer **une géométrie et un contenu par défaut** pour chaque forage, **tout en respectant les positions**, puis les enregistrer dans la BD afin de pouvoir les afficher tous dans l'environnement 3D. La mise à jour des données manquantes se fera plus tard.

In [12]:
remove('tmp_files/tfe_orm_db.db')

Create the db engine and the database structure

In [13]:
engine = create_engine('sqlite:///tmp_files/tfe_orm_db.db', echo=True)
Base.metadata.create_all(engine)

2021-02-20 14:30:52,733 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-20 14:30:52,734 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,735 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-20 14:30:52,736 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,737 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boreholes")
2021-02-20 14:30:52,737 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,738 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Boreholes")
2021-02-20 14:30:52,738 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,739 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Positions")
2021-02-20 14:30:52,739 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,740 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Positions")
2021-02-20 14:30:52,740 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,741 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Intervals")
2021-02-20 14:30:52,741 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,742 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Intervals")
2021-02-20 14:30:52,742 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,743 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Components")
2021-02-20 14:30:52,743 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,744 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Components")
2021-02-20 14:30:52,744 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,745 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Linkintervalcomponent")
2021-02-20 14:30:52,745 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,745 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Linkintervalcomponent")
2021-02-20 14:30:52,745 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,746 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Boreholes" (
	id VARCHAR(32) NOT NULL,
	PRIMARY KEY (id)
)


2021-02-20 14:30:52,747 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,751 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:52,752 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Positions" (
	id INTEGER NOT NULL,
	upper FLOAT,
	middle FLOAT,
	lower FLOAT,
	x FLOAT,
	y FLOAT,
	PRIMARY KEY (id)
)


2021-02-20 14:30:52,753 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,757 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:52,758 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Components" (
	id VARCHAR(32) NOT NULL,
	description VARCHAR(32),
	PRIMARY KEY (id)
)


2021-02-20 14:30:52,759 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,763 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:52,764 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Intervals" (
	id INTEGER NOT NULL,
	borehole VARCHAR(32),
	interval_number INTEGER,
	description VARCHAR(32),
	top_id INTEGER,
	base_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(borehole) REFERENCES "Boreholes" (id),
	FOREIGN KEY(top_id) REFERENCES "Positions" (id),
	FOREIGN KEY(base_id) REFERENCES "Positions" (id)
)


2021-02-20 14:30:52,765 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,769 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:52,770 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Linkintervalcomponent" (
	int_id INTEGER NOT NULL,
	comp_id INTEGER NOT NULL,
	PRIMARY KEY (int_id, comp_id),
	FOREIGN KEY(int_id) REFERENCES "Intervals" (id),
	FOREIGN KEY(comp_id) REFERENCES "Components" (id)
)


2021-02-20 14:30:52,770 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:52,774 INFO sqlalchemy.engine.base.Engine COMMIT

creation of the Boreholes from las, csv files

In [14]:
lexicon = Lexicon.default() #to do : create our own lexicon

In [15]:
borehole_dict = {'F1':ROOT_DIR+'/data/test.las'}#, 'F2':ROOT_DIR+'/data/test.csv'} # boreholes to insert into the db

NB: **Problème ici, car on a attribué 'F1' comme nom du forage, donc écrasement dans la BD lors de l'ajout des autres BH**

In [16]:
boreholes, components= boreholes_from_files(borehole_dict, x=x_list, y=y_list, verbose=0)

In [17]:
len(boreholes), boreholes[0]

(88, <core.orm.BoreholeOrm at 0x7fd68769aee0>)

Create the session and the project

In [18]:
Session = sessionmaker(bind=engine)
session = Session()

p = Project(session)
p.add_components(components)

2021-02-20 14:30:53,262 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:53,263 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:53,263 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:53,266 INFO sqlalchemy.engine.base.Engine INSERT INTO "Components" (id, description) VALUES (?, ?)
2021-02-20 14:30:53,267 INFO sqlalchemy.engine.base.Engine ((0, 'Siltstone, grey'), (1, 'Anhydrite'), (2, 'Sandstone, vf-f, grey'), (3, 'Dolomite'), (4, 'Siltstone, red'), (5, 'Limestone'))
2021-02-20 14:30:53,268 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:53,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:53,274 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:53,274 INFO sqlalchemy.engine.base.Engine ()

Add boreholes into the database

In [19]:
for bh in boreholes:
    p.add_borehole(bh)

2021-02-20 14:30:53,286 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,287 INFO sqlalchemy.engine.base.Engine ((0, 14.3, 14.3, 14.3, 152894.89100002544, 122592.12713904586), (1, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152894.89100002544, 122592.12713904586), (2, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152894.89100002544, 122592.12713904586), (3, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152894.89100002544, 122592.12713904586), (4, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152894.89100002544, 122592.12713904586), (5, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152894.89100002544, 122592.12713904586), (6, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152894.89100002544, 122592.12713904586), (7, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152894.89100002544, 122592.12713904586)  ... displaying 10 of 50 total bound parameter sets ...  (48, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152894.89100002544, 122592.12713904586), (49, 135.9, 135.9, 135.9, 152894.89100002544, 122592.12713904586))
2021-02-20 14:30:53,289 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:53,290 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-02-20 14:30:53,292 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,293 INFO sqlalchemy.engine.base.Engine ((0, 'F1', 0, 'Anhydrite', 0, 1), (1, 'F1', 1, 'Sandstone, grey, vf-f', 2, 3), (2, 'F1', 2, 'Anhydrite', 4, 5), (3, 'F1', 3, 'Dolomite', 6, 7), (4, 'F1', 4, 'Anhydrite', 8, 9), (5, 'F1', 5, 'Sandstone, grey, vf-f', 10, 11), (6, 'F1', 6, 'Siltstone, red', 12, 13), (7, 'F1', 7, 'Dolomite', 14, 15)  ... displaying 10 of 25 total bound parameter sets ...  (23, 'F1', 23, 'Limestone', 46, 47), (24, 'F1', 24, 'Volcanic', 48, 49))
2021-02-20 14:30:53,294 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:53,298 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:53,298 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:53,299 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:53,301 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:53,302 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-02-20 14:30:53,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,305 INFO sqlalchemy.engine.base.Engine (0,)
2021-02-20 14:30:53,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,308 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-20 14:30:53,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,310 INFO sqlalchemy.engine.base.Engine (2,)
2021-02-20 14:30:53,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,312 INFO sqlalchemy.engine.base.Engine (3,)
2021-02-20 14:30:53,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,314 INFO sqlalchemy.engine.base.Engine (4,)
2021-02-20 14:30:53,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,316 INFO sqlalchemy.engine.base.Engine (5,)
2021-02-20 14:30:53,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,319 INFO sqlalchemy.engine.base.Engine (6,)
2021-02-20 14:30:53,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,321 INFO sqlalchemy.engine.base.Engine (7,)
2021-02-20 14:30:53,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,324 INFO sqlalchemy.engine.base.Engine (8,)
2021-02-20 14:30:53,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,325 INFO sqlalchemy.engine.base.Engine (9,)
2021-02-20 14:30:53,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,329 INFO sqlalchemy.engine.base.Engine (10,)
2021-02-20 14:30:53,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,332 INFO sqlalchemy.engine.base.Engine (11,)
2021-02-20 14:30:53,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,336 INFO sqlalchemy.engine.base.Engine (12,)
2021-02-20 14:30:53,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,337 INFO sqlalchemy.engine.base.Engine (13,)
2021-02-20 14:30:53,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,339 INFO sqlalchemy.engine.base.Engine (14,)
2021-02-20 14:30:53,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,341 INFO sqlalchemy.engine.base.Engine (15,)
2021-02-20 14:30:53,343 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,344 INFO sqlalchemy.engine.base.Engine (16,)
2021-02-20 14:30:53,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,345 INFO sqlalchemy.engine.base.Engine (17,)
2021-02-20 14:30:53,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,347 INFO sqlalchemy.engine.base.Engine (18,)
2021-02-20 14:30:53,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,349 INFO sqlalchemy.engine.base.Engine (19,)
2021-02-20 14:30:53,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,351 INFO sqlalchemy.engine.base.Engine (20,)
2021-02-20 14:30:53,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,353 INFO sqlalchemy.engine.base.Engine (21,)
2021-02-20 14:30:53,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,355 INFO sqlalchemy.engine.base.Engine (22,)
2021-02-20 14:30:53,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,357 INFO sqlalchemy.engine.base.Engine (23,)
2021-02-20 14:30:53,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,361 INFO sqlalchemy.engine.base.Engine (24,)
2021-02-20 14:30:53,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,364 INFO sqlalchemy.engine.base.Engine (25,)
2021-02-20 14:30:53,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,368 INFO sqlalchemy.engine.base.Engine (26,)
2021-02-20 14:30:53,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,369 INFO sqlalchemy.engine.base.Engine (27,)
2021-02-20 14:30:53,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,372 INFO sqlalchemy.engine.base.Engine (28,)
2021-02-20 14:30:53,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,374 INFO sqlalchemy.engine.base.Engine (29,)
2021-02-20 14:30:53,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,376 INFO sqlalchemy.engine.base.Engine (30,)
2021-02-20 14:30:53,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,378 INFO sqlalchemy.engine.base.Engine (31,)
2021-02-20 14:30:53,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,382 INFO sqlalchemy.engine.base.Engine (32,)
2021-02-20 14:30:53,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,383 INFO sqlalchemy.engine.base.Engine (33,)
2021-02-20 14:30:53,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,386 INFO sqlalchemy.engine.base.Engine (34,)
2021-02-20 14:30:53,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,387 INFO sqlalchemy.engine.base.Engine (35,)
2021-02-20 14:30:53,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,389 INFO sqlalchemy.engine.base.Engine (36,)
2021-02-20 14:30:53,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,391 INFO sqlalchemy.engine.base.Engine (37,)
2021-02-20 14:30:53,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,393 INFO sqlalchemy.engine.base.Engine (38,)
2021-02-20 14:30:53,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,395 INFO sqlalchemy.engine.base.Engine (39,)
2021-02-20 14:30:53,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,397 INFO sqlalchemy.engine.base.Engine (40,)
2021-02-20 14:30:53,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,399 INFO sqlalchemy.engine.base.Engine (41,)
2021-02-20 14:30:53,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,404 INFO sqlalchemy.engine.base.Engine (42,)
2021-02-20 14:30:53,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,405 INFO sqlalchemy.engine.base.Engine (43,)
2021-02-20 14:30:53,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,409 INFO sqlalchemy.engine.base.Engine (44,)
2021-02-20 14:30:53,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,410 INFO sqlalchemy.engine.base.Engine (45,)
2021-02-20 14:30:53,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,412 INFO sqlalchemy.engine.base.Engine (46,)
2021-02-20 14:30:53,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,413 INFO sqlalchemy.engine.base.Engine (47,)
2021-02-20 14:30:53,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,416 INFO sqlalchemy.engine.base.Engine (48,)
2021-02-20 14:30:53,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,417 INFO sqlalchemy.engine.base.Engine (49,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:53,459 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,459 INFO sqlalchemy.engine.base.Engine ((50, 14.3, 14.3, 14.3, 152881.4470000254, 122588.10213904455), (51, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.4470000254, 122588.10213904455), (52, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.4470000254, 122588.10213904455), (53, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.4470000254, 122588.10213904455), (54, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.4470000254, 122588.10213904455), (55, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.4470000254, 122588.10213904455), (56, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.4470000254, 122588.10213904455), (57, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152881.4470000254, 122588.10213904455)  ... displaying 10 of 50 total bound parameter sets ...  (98, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152881.4470000254, 122588.10213904455), (99, 135.9, 135.9, 135.9, 152881.4470000254, 122588.10213904455))
2021-02-20 14:30:53,461 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:53,462 INFO sqlalchemy.engine.base.Engine ('F2',)
2021-02-20 14:30:53,463 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,464 INFO sqlalchemy.engine.base.Engine ((25, 'F2', 0, 'Anhydrite', 50, 51), (26, 'F2', 1, 'Sandstone, grey, vf-f', 52, 53), (27, 'F2', 2, 'Anhydrite', 54, 55), (28, 'F2', 3, 'Dolomite', 56, 57), (29, 'F2', 4, 'Anhydrite', 58, 59), (30, 'F2', 5, 'Sandstone, grey, vf-f', 60, 61), (31, 'F2', 6, 'Siltstone, red', 62, 63), (32, 'F2', 7, 'Dolomite', 64, 65)  ... displaying 10 of 25 total bound parameter sets ...  (48, 'F2', 23, 'Limestone', 96, 97), (49, 'F2', 24, 'Volcanic', 98, 99))
2021-02-20 14:30:53,465 INFO sqlalchemy.engine.base.Engine COMMIT

2021-02-20 14:30:53,470 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:53,470 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:53,471 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:53,471 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:53,472 INFO sqlalchemy.engine.base.Engine ('F2',)
2021-02-20 14:30:53,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,473 INFO sqlalchemy.engine.base.Engine (50,)
2021-02-20 14:30:53,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,475 INFO sqlalchemy.engine.base.Engine (51,)
2021-02-20 14:30:53,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,478 INFO sqlalchemy.engine.base.Engine (52,)
2021-02-20 14:30:53,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,480 INFO sqlalchemy.engine.base.Engine (53,)
2021-02-20 14:30:53,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,484 INFO sqlalchemy.engine.base.Engine (54,)
2021-02-20 14:30:53,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,486 INFO sqlalchemy.engine.base.Engine (55,)
2021-02-20 14:30:53,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,488 INFO sqlalchemy.engine.base.Engine (56,)
2021-02-20 14:30:53,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,490 INFO sqlalchemy.engine.base.Engine (57,)
2021-02-20 14:30:53,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,492 INFO sqlalchemy.engine.base.Engine (58,)
2021-02-20 14:30:53,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,493 INFO sqlalchemy.engine.base.Engine (59,)
2021-02-20 14:30:53,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,495 INFO sqlalchemy.engine.base.Engine (60,)
2021-02-20 14:30:53,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,496 INFO sqlalchemy.engine.base.Engine (61,)
2021-02-20 14:30:53,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,498 INFO sqlalchemy.engine.base.Engine (62,)
2021-02-20 14:30:53,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,499 INFO sqlalchemy.engine.base.Engine (63,)
2021-02-20 14:30:53,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,502 INFO sqlalchemy.engine.base.Engine (64,)
2021-02-20 14:30:53,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,503 INFO sqlalchemy.engine.base.Engine (65,)
2021-02-20 14:30:53,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,506 INFO sqlalchemy.engine.base.Engine (66,)
2021-02-20 14:30:53,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,508 INFO sqlalchemy.engine.base.Engine (67,)
2021-02-20 14:30:53,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,510 INFO sqlalchemy.engine.base.Engine (68,)

2021-02-20 14:30:53,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,511 INFO sqlalchemy.engine.base.Engine (69,)
2021-02-20 14:30:53,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,514 INFO sqlalchemy.engine.base.Engine (70,)
2021-02-20 14:30:53,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,516 INFO sqlalchemy.engine.base.Engine (71,)
2021-02-20 14:30:53,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,520 INFO sqlalchemy.engine.base.Engine (72,)
2021-02-20 14:30:53,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,521 INFO sqlalchemy.engine.base.Engine (73,)
2021-02-20 14:30:53,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,523 INFO sqlalchemy.engine.base.Engine (74,)
2021-02-20 14:30:53,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,525 INFO sqlalchemy.engine.base.Engine (75,)
2021-02-20 14:30:53,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,528 INFO sqlalchemy.engine.base.Engine (76,)
2021-02-20 14:30:53,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,531 INFO sqlalchemy.engine.base.Engine (77,)
2021-02-20 14:30:53,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,535 INFO sqlalchemy.engine.base.Engine (78,)
2021-02-20 14:30:53,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,536 INFO sqlalchemy.engine.base.Engine (79,)
2021-02-20 14:30:53,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,539 INFO sqlalchemy.engine.base.Engine (80,)
2021-02-20 14:30:53,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,540 INFO sqlalchemy.engine.base.Engine (81,)
2021-02-20 14:30:53,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,543 INFO sqlalchemy.engine.base.Engine (82,)
2021-02-20 14:30:53,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,545 INFO sqlalchemy.engine.base.Engine (83,)
2021-02-20 14:30:53,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,549 INFO sqlalchemy.engine.base.Engine (84,)
2021-02-20 14:30:53,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,550 INFO sqlalchemy.engine.base.Engine (85,)
2021-02-20 14:30:53,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,554 INFO sqlalchemy.engine.base.Engine (86,)
2021-02-20 14:30:53,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,556 INFO sqlalchemy.engine.base.Engine (87,)
2021-02-20 14:30:53,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,558 INFO sqlalchemy.engine.base.Engine (88,)
2021-02-20 14:30:53,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,559 INFO sqlalchemy.engine.base.Engine (89,)
2021-02-20 14:30:53,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,561 INFO sqlalchemy.engine.base.Engine (90,)
2021-02-20 14:30:53,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,563 INFO sqlalchemy.engine.base.Engine (91,)
2021-02-20 14:30:53,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,567 INFO sqlalchemy.engine.base.Engine (92,)
2021-02-20 14:30:53,570 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,570 INFO sqlalchemy.engine.base.Engine (93,)
2021-02-20 14:30:53,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,575 INFO sqlalchemy.engine.base.Engine (94,)
2021-02-20 14:30:53,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,578 INFO sqlalchemy.engine.base.Engine (95,)
2021-02-20 14:30:53,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,581 INFO sqlalchemy.engine.base.Engine (96,)
2021-02-20 14:30:53,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,582 INFO sqlalchemy.engine.base.Engine (97,)
2021-02-20 14:30:53,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,585 INFO sqlalchemy.engine.base.Engine (98,)
2021-02-20 14:30:53,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,586 INFO sqlalchemy.engine.base.Engine (99,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:53,629 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:53,630 INFO sqlalchemy.engine.base.Engine ('F3',)
2021-02-20 14:30:53,632 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,633 INFO sqlalchemy.engine.base.Engine ((100, 14.3, 14.3, 14.3, 152885.99500002537, 122587.1271390468), (101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.99500002537, 122587.1271390468), (102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.99500002537, 122587.1271390468), (103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.99500002537, 122587.1271390468), (104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.99500002537, 122587.1271390468), (105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.99500002537, 122587.1271390468), (106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.99500002537, 122587.1271390468), (107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.99500002537, 122587.1271390468)  ... displaying 10 of 50 total bound parameter sets ...  (148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.99500002537, 122587.1271390468), (149, 135.9, 135.9, 135.9, 152885.99500002537, 122587.1271390468))
2021-02-20 14:30:53,635 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,636 INFO sqlalchemy.engine.base.Engine ((50, 'F3', 0, 'Anhydrite', 100, 101), (51, 'F3', 1, 'Sandstone, grey, vf-f', 102, 103), (52, 'F3', 2, 'Anhydrite', 104, 105), (53, 'F3', 3, 'Dolomite', 106, 107), (54, 'F3', 4, 'Anhydrite', 108, 109), (55, 'F3', 5, 'Sandstone, grey, vf-f', 110, 111), (56, 'F3', 6, 'Siltstone, red', 112, 113), (57, 'F3', 7, 'Dolomite', 114, 115)  ... displaying 10 of 25 total bound parameter sets ...  (73, 'F3', 23, 'Limestone', 146, 147), (74, 'F3', 24, 'Volcanic', 148, 149))
2021-02-20 14:30:53,637 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:53,642 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:53,643 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:53,643 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:53,645 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:53,646 INFO sqlalchemy.engine.base.Engine ('F3',)
2021-02-20 14:30:53,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,648 INFO sqlalchemy.engine.base.Engine (100,)
2021-02-20 14:30:53,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,651 INFO sqlalchemy.engine.base.Engine (101,)
2021-02-20 14:30:53,654 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,655 INFO sqlalchemy.engine.base.Engine (102,)
2021-02-20 14:30:53,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,657 INFO sqlalchemy.engine.base.Engine (103,)
2021-02-20 14:30:53,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,659 INFO sqlalchemy.engine.base.Engine (104,)
2021-02-20 14:30:53,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,660 INFO sqlalchemy.engine.base.Engine (105,)
2021-02-20 14:30:53,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,662 INFO sqlalchemy.engine.base.Engine (106,)
2021-02-20 14:30:53,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,664 INFO sqlalchemy.engine.base.Engine (107,)
2021-02-20 14:30:53,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,668 INFO sqlalchemy.engine.base.Engine (108,)
2021-02-20 14:30:53,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,670 INFO sqlalchemy.engine.base.Engine (109,)
2021-02-20 14:30:53,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,673 INFO sqlalchemy.engine.base.Engine (110,)
2021-02-20 14:30:53,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,674 INFO sqlalchemy.engine.base.Engine (111,)
2021-02-20 14:30:53,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,677 INFO sqlalchemy.engine.base.Engine (112,)
2021-02-20 14:30:53,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,678 INFO sqlalchemy.engine.base.Engine (113,)
2021-02-20 14:30:53,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,681 INFO sqlalchemy.engine.base.Engine (114,)
2021-02-20 14:30:53,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,683 INFO sqlalchemy.engine.base.Engine (115,)
2021-02-20 14:30:53,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,687 INFO sqlalchemy.engine.base.Engine (116,)
2021-02-20 14:30:53,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,689 INFO sqlalchemy.engine.base.Engine (117,)
2021-02-20 14:30:53,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,691 INFO sqlalchemy.engine.base.Engine (118,)
2021-02-20 14:30:53,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,692 INFO sqlalchemy.engine.base.Engine (119,)
2021-02-20 14:30:53,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,694 INFO sqlalchemy.engine.base.Engine (120,)
2021-02-20 14:30:53,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,696 INFO sqlalchemy.engine.base.Engine (121,)
2021-02-20 14:30:53,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,700 INFO sqlalchemy.engine.base.Engine (122,)
2021-02-20 14:30:53,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,701 INFO sqlalchemy.engine.base.Engine (123,)
2021-02-20 14:30:53,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,705 INFO sqlalchemy.engine.base.Engine (124,)
2021-02-20 14:30:53,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,706 INFO sqlalchemy.engine.base.Engine (125,)
2021-02-20 14:30:53,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,709 INFO sqlalchemy.engine.base.Engine (126,)
2021-02-20 14:30:53,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,711 INFO sqlalchemy.engine.base.Engine (127,)
2021-02-20 14:30:53,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,714 INFO sqlalchemy.engine.base.Engine (128,)
2021-02-20 14:30:53,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,715 INFO sqlalchemy.engine.base.Engine (129,)
2021-02-20 14:30:53,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,718 INFO sqlalchemy.engine.base.Engine (130,)
2021-02-20 14:30:53,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,721 INFO sqlalchemy.engine.base.Engine (131,)
2021-02-20 14:30:53,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,726 INFO sqlalchemy.engine.base.Engine (132,)
2021-02-20 14:30:53,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,728 INFO sqlalchemy.engine.base.Engine (133,)
2021-02-20 14:30:53,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,730 INFO sqlalchemy.engine.base.Engine (134,)
2021-02-20 14:30:53,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,732 INFO sqlalchemy.engine.base.Engine (135,)
2021-02-20 14:30:53,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,734 INFO sqlalchemy.engine.base.Engine (136,)
2021-02-20 14:30:53,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,736 INFO sqlalchemy.engine.base.Engine (137,)
2021-02-20 14:30:53,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,739 INFO sqlalchemy.engine.base.Engine (138,)
2021-02-20 14:30:53,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,742 INFO sqlalchemy.engine.base.Engine (139,)
2021-02-20 14:30:53,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,747 INFO sqlalchemy.engine.base.Engine (140,)
2021-02-20 14:30:53,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,749 INFO sqlalchemy.engine.base.Engine (141,)
2021-02-20 14:30:53,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,752 INFO sqlalchemy.engine.base.Engine (142,)
2021-02-20 14:30:53,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,754 INFO sqlalchemy.engine.base.Engine (143,)
2021-02-20 14:30:53,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,757 INFO sqlalchemy.engine.base.Engine (144,)
2021-02-20 14:30:53,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,759 INFO sqlalchemy.engine.base.Engine (145,)
2021-02-20 14:30:53,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,761 INFO sqlalchemy.engine.base.Engine (146,)
2021-02-20 14:30:53,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,763 INFO sqlalchemy.engine.base.Engine (147,)
2021-02-20 14:30:53,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,766 INFO sqlalchemy.engine.base.Engine (148,)
2021-02-20 14:30:53,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,767 INFO sqlalchemy.engine.base.Engine (149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:53,811 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,813 INFO sqlalchemy.engine.base.Engine ((150, 14.3, 14.3, 14.3, 152883.7680000254, 122589.75413904712), (151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.7680000254, 122589.75413904712), (152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.7680000254, 122589.75413904712), (153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.7680000254, 122589.75413904712), (154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.7680000254, 122589.75413904712), (155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.7680000254, 122589.75413904712), (156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.7680000254, 122589.75413904712), (157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.7680000254, 122589.75413904712)  ... displaying 10 of 50 total bound parameter sets ...  (198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.7680000254, 122589.75413904712), (199, 135.9, 135.9, 135.9, 152883.7680000254, 122589.75413904712))
2021-02-20 14:30:53,815 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:53,815 INFO sqlalchemy.engine.base.Engine ('F4',)
2021-02-20 14:30:53,818 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:53,819 INFO sqlalchemy.engine.base.Engine ((75, 'F4', 0, 'Anhydrite', 150, 151), (76, 'F4', 1, 'Sandstone, grey, vf-f', 152, 153), (77, 'F4', 2, 'Anhydrite', 154, 155), (78, 'F4', 3, 'Dolomite', 156, 157), (79, 'F4', 4, 'Anhydrite', 158, 159), (80, 'F4', 5, 'Sandstone, grey, vf-f', 160, 161), (81, 'F4', 6, 'Siltstone, red', 162, 163), (82, 'F4', 7, 'Dolomite', 164, 165)  ... displaying 10 of 25 total bound parameter sets ...  (98, 'F4', 23, 'Limestone', 196, 197), (99, 'F4', 24, 'Volcanic', 198, 199))
2021-02-20 14:30:53,821 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:53,829 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:53,830 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:53,831 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:53,834 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:53,835 INFO sqlalchemy.engine.base.Engine ('F4',)
2021-02-20 14:30:53,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,839 INFO sqlalchemy.engine.base.Engine (150,)
2021-02-20 14:30:53,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,842 INFO sqlalchemy.engine.base.Engine (151,)
2021-02-20 14:30:53,844 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,845 INFO sqlalchemy.engine.base.Engine (152,)
2021-02-20 14:30:53,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,847 INFO sqlalchemy.engine.base.Engine (153,)
2021-02-20 14:30:53,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,850 INFO sqlalchemy.engine.base.Engine (154,)
2021-02-20 14:30:53,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,853 INFO sqlalchemy.engine.base.Engine (155,)
2021-02-20 14:30:53,855 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,856 INFO sqlalchemy.engine.base.Engine (156,)
2021-02-20 14:30:53,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,858 INFO sqlalchemy.engine.base.Engine (157,)
2021-02-20 14:30:53,860 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,861 INFO sqlalchemy.engine.base.Engine (158,)
2021-02-20 14:30:53,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,863 INFO sqlalchemy.engine.base.Engine (159,)
2021-02-20 14:30:53,865 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,865 INFO sqlalchemy.engine.base.Engine (160,)
2021-02-20 14:30:53,866 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,866 INFO sqlalchemy.engine.base.Engine (161,)
2021-02-20 14:30:53,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,871 INFO sqlalchemy.engine.base.Engine (162,)
2021-02-20 14:30:53,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,874 INFO sqlalchemy.engine.base.Engine (163,)
2021-02-20 14:30:53,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,879 INFO sqlalchemy.engine.base.Engine (164,)
2021-02-20 14:30:53,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,881 INFO sqlalchemy.engine.base.Engine (165,)
2021-02-20 14:30:53,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,886 INFO sqlalchemy.engine.base.Engine (166,)
2021-02-20 14:30:53,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,888 INFO sqlalchemy.engine.base.Engine (167,)
2021-02-20 14:30:53,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,892 INFO sqlalchemy.engine.base.Engine (168,)
2021-02-20 14:30:53,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,894 INFO sqlalchemy.engine.base.Engine (169,)
2021-02-20 14:30:53,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,897 INFO sqlalchemy.engine.base.Engine (170,)
2021-02-20 14:30:53,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,899 INFO sqlalchemy.engine.base.Engine (171,)
2021-02-20 14:30:53,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,903 INFO sqlalchemy.engine.base.Engine (172,)
2021-02-20 14:30:53,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,905 INFO sqlalchemy.engine.base.Engine (173,)
2021-02-20 14:30:53,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,909 INFO sqlalchemy.engine.base.Engine (174,)
2021-02-20 14:30:53,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,911 INFO sqlalchemy.engine.base.Engine (175,)
2021-02-20 14:30:53,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,915 INFO sqlalchemy.engine.base.Engine (176,)
2021-02-20 14:30:53,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,918 INFO sqlalchemy.engine.base.Engine (177,)
2021-02-20 14:30:53,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,922 INFO sqlalchemy.engine.base.Engine (178,)
2021-02-20 14:30:53,924 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,925 INFO sqlalchemy.engine.base.Engine (179,)
2021-02-20 14:30:53,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:53,929 INFO sqlalchemy.engine.base.Engine (180,)
2021-02-20 14:30:53,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,932 INFO sqlalchemy.engine.base.Engine (181,)
2021-02-20 14:30:53,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,936 INFO sqlalchemy.engine.base.Engine (182,)
2021-02-20 14:30:53,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,937 INFO sqlalchemy.engine.base.Engine (183,)
2021-02-20 14:30:53,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,940 INFO sqlalchemy.engine.base.Engine (184,)
2021-02-20 14:30:53,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,942 INFO sqlalchemy.engine.base.Engine (185,)
2021-02-20 14:30:53,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,946 INFO sqlalchemy.engine.base.Engine (186,)
2021-02-20 14:30:53,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,949 INFO sqlalchemy.engine.base.Engine (187,)
2021-02-20 14:30:53,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,953 INFO sqlalchemy.engine.base.Engine (188,)
2021-02-20 14:30:53,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,956 INFO sqlalchemy.engine.base.Engine (189,)
2021-02-20 14:30:53,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,960 INFO sqlalchemy.engine.base.Engine (190,)
2021-02-20 14:30:53,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,962 INFO sqlalchemy.engine.base.Engine (191,)
2021-02-20 14:30:53,964 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,964 INFO sqlalchemy.engine.base.Engine (192,)
2021-02-20 14:30:53,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,966 INFO sqlalchemy.engine.base.Engine (193,)
2021-02-20 14:30:53,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,970 INFO sqlalchemy.engine.base.Engine (194,)
2021-02-20 14:30:53,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,973 INFO sqlalchemy.engine.base.Engine (195,)
2021-02-20 14:30:53,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,977 INFO sqlalchemy.engine.base.Engine (196,)
2021-02-20 14:30:53,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,979 INFO sqlalchemy.engine.base.Engine (197,)
2021-02-20 14:30:53,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,982 INFO sqlalchemy.engine.base.Engine (198,)
2021-02-20 14:30:53,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:53,984 INFO sqlalchemy.engine.base.Engine (199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:54,032 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:54,033 INFO sqlalchemy.engine.base.Engine ('F5',)
2021-02-20 14:30:54,034 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,034 INFO sqlalchemy.engine.base.Engine ((200, 14.3, 14.3, 14.3, 152888.1280000254, 122588.43613904716), (201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.1280000254, 122588.43613904716), (202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.1280000254, 122588.43613904716), (203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.1280000254, 122588.43613904716), (204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.1280000254, 122588.43613904716), (205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.1280000254, 122588.43613904716), (206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.1280000254, 122588.43613904716), (207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.1280000254, 122588.43613904716)  ... displaying 10 of 50 total bound parameter sets ...  (248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.1280000254, 122588.43613904716), (249, 135.9, 135.9, 135.9, 152888.1280000254, 122588.43613904716))

2021-02-20 14:30:54,037 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,037 INFO sqlalchemy.engine.base.Engine ((100, 'F5', 0, 'Anhydrite', 200, 201), (101, 'F5', 1, 'Sandstone, grey, vf-f', 202, 203), (102, 'F5', 2, 'Anhydrite', 204, 205), (103, 'F5', 3, 'Dolomite', 206, 207), (104, 'F5', 4, 'Anhydrite', 208, 209), (105, 'F5', 5, 'Sandstone, grey, vf-f', 210, 211), (106, 'F5', 6, 'Siltstone, red', 212, 213), (107, 'F5', 7, 'Dolomite', 214, 215)  ... displaying 10 of 25 total bound parameter sets ...  (123, 'F5', 23, 'Limestone', 246, 247), (124, 'F5', 24, 'Volcanic', 248, 249))
2021-02-20 14:30:54,038 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:54,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:54,044 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:54,044 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:54,045 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:54,046 INFO sqlalchemy.engine.base.Engine ('F5',)
2021-02-20 14:30:54,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,048 INFO sqlalchemy.engine.base.Engine (200,)
2021-02-20 14:30:54,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,050 INFO sqlalchemy.engine.base.Engine (201,)
2021-02-20 14:30:54,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,053 INFO sqlalchemy.engine.base.Engine (202,)
2021-02-20 14:30:54,054 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,054 INFO sqlalchemy.engine.base.Engine (203,)
2021-02-20 14:30:54,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,057 INFO sqlalchemy.engine.base.Engine (204,)
2021-02-20 14:30:54,058 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,058 INFO sqlalchemy.engine.base.Engine (205,)
2021-02-20 14:30:54,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,062 INFO sqlalchemy.engine.base.Engine (206,)
2021-02-20 14:30:54,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,064 INFO sqlalchemy.engine.base.Engine (207,)
2021-02-20 14:30:54,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,068 INFO sqlalchemy.engine.base.Engine (208,)
2021-02-20 14:30:54,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,070 INFO sqlalchemy.engine.base.Engine (209,)
2021-02-20 14:30:54,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,072 INFO sqlalchemy.engine.base.Engine (210,)
2021-02-20 14:30:54,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,074 INFO sqlalchemy.engine.base.Engine (211,)
2021-02-20 14:30:54,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,077 INFO sqlalchemy.engine.base.Engine (212,)
2021-02-20 14:30:54,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,079 INFO sqlalchemy.engine.base.Engine (213,)
2021-02-20 14:30:54,082 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,083 INFO sqlalchemy.engine.base.Engine (214,)
2021-02-20 14:30:54,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,085 INFO sqlalchemy.engine.base.Engine (215,)
2021-02-20 14:30:54,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,089 INFO sqlalchemy.engine.base.Engine (216,)

2021-02-20 14:30:54,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,091 INFO sqlalchemy.engine.base.Engine (217,)
2021-02-20 14:30:54,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,096 INFO sqlalchemy.engine.base.Engine (218,)
2021-02-20 14:30:54,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,099 INFO sqlalchemy.engine.base.Engine (219,)
2021-02-20 14:30:54,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,104 INFO sqlalchemy.engine.base.Engine (220,)
2021-02-20 14:30:54,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,105 INFO sqlalchemy.engine.base.Engine (221,)
2021-02-20 14:30:54,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,109 INFO sqlalchemy.engine.base.Engine (222,)
2021-02-20 14:30:54,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,110 INFO sqlalchemy.engine.base.Engine (223,)
2021-02-20 14:30:54,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,113 INFO sqlalchemy.engine.base.Engine (224,)
2021-02-20 14:30:54,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,115 INFO sqlalchemy.engine.base.Engine (225,)
2021-02-20 14:30:54,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,120 INFO sqlalchemy.engine.base.Engine (226,)
2021-02-20 14:30:54,121 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,122 INFO sqlalchemy.engine.base.Engine (227,)
2021-02-20 14:30:54,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,126 INFO sqlalchemy.engine.base.Engine (228,)
2021-02-20 14:30:54,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,127 INFO sqlalchemy.engine.base.Engine (229,)
2021-02-20 14:30:54,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,131 INFO sqlalchemy.engine.base.Engine (230,)
2021-02-20 14:30:54,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,133 INFO sqlalchemy.engine.base.Engine (231,)
2021-02-20 14:30:54,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,138 INFO sqlalchemy.engine.base.Engine (232,)
2021-02-20 14:30:54,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,141 INFO sqlalchemy.engine.base.Engine (233,)
2021-02-20 14:30:54,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,146 INFO sqlalchemy.engine.base.Engine (234,)
2021-02-20 14:30:54,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,149 INFO sqlalchemy.engine.base.Engine (235,)
2021-02-20 14:30:54,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,153 INFO sqlalchemy.engine.base.Engine (236,)
2021-02-20 14:30:54,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,155 INFO sqlalchemy.engine.base.Engine (237,)
2021-02-20 14:30:54,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,159 INFO sqlalchemy.engine.base.Engine (238,)
2021-02-20 14:30:54,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,161 INFO sqlalchemy.engine.base.Engine (239,)
2021-02-20 14:30:54,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,163 INFO sqlalchemy.engine.base.Engine (240,)
2021-02-20 14:30:54,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,164 INFO sqlalchemy.engine.base.Engine (241,)
2021-02-20 14:30:54,166 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,167 INFO sqlalchemy.engine.base.Engine (242,)
2021-02-20 14:30:54,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,169 INFO sqlalchemy.engine.base.Engine (243,)
2021-02-20 14:30:54,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,172 INFO sqlalchemy.engine.base.Engine (244,)
2021-02-20 14:30:54,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,175 INFO sqlalchemy.engine.base.Engine (245,)
2021-02-20 14:30:54,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,179 INFO sqlalchemy.engine.base.Engine (246,)
2021-02-20 14:30:54,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,181 INFO sqlalchemy.engine.base.Engine (247,)
2021-02-20 14:30:54,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,185 INFO sqlalchemy.engine.base.Engine (248,)
2021-02-20 14:30:54,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,186 INFO sqlalchemy.engine.base.Engine (249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:54,230 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,231 INFO sqlalchemy.engine.base.Engine ((250, 14.3, 14.3, 14.3, 152886.2260000254, 122591.65513904672), (251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.2260000254, 122591.65513904672), (252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.2260000254, 122591.65513904672), (253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.2260000254, 122591.65513904672), (254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.2260000254, 122591.65513904672), (255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.2260000254, 122591.65513904672), (256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.2260000254, 122591.65513904672), (257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.2260000254, 122591.65513904672)  ... displaying 10 of 50 total bound parameter sets ...  (298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.2260000254, 122591.65513904672), (299, 135.9, 135.9, 135.9, 152886.2260000254, 122591.65513904672))
2021-02-20 14:30:54,233 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:54,234 INFO sqlalchemy.engine.base.Engine ('F6',)
2021-02-20 14:30:54,236 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,237 INFO sqlalchemy.engine.base.Engine ((125, 'F6', 0, 'Anhydrite', 250, 251), (126, 'F6', 1, 'Sandstone, grey, vf-f', 252, 253), (127, 'F6', 2, 'Anhydrite', 254, 255), (128, 'F6', 3, 'Dolomite', 256, 257), (129, 'F6', 4, 'Anhydrite', 258, 259), (130, 'F6', 5, 'Sandstone, grey, vf-f', 260, 261), (131, 'F6', 6, 'Siltstone, red', 262, 263), (132, 'F6', 7, 'Dolomite', 264, 265)  ... displaying 10 of 25 total bound parameter sets ...  (148, 'F6', 23, 'Limestone', 296, 297), (149, 'F6', 24, 'Volcanic', 298, 299))
2021-02-20 14:30:54,239 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:54,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:54,244 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:54,245 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:54,246 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:54,247 INFO sqlalchemy.engine.base.Engine ('F6',)
2021-02-20 14:30:54,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,250 INFO sqlalchemy.engine.base.Engine (250,)
2021-02-20 14:30:54,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,252 INFO sqlalchemy.engine.base.Engine (251,)
2021-02-20 14:30:54,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,256 INFO sqlalchemy.engine.base.Engine (252,)
2021-02-20 14:30:54,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,258 INFO sqlalchemy.engine.base.Engine (253,)
2021-02-20 14:30:54,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,261 INFO sqlalchemy.engine.base.Engine (254,)
2021-02-20 14:30:54,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,264 INFO sqlalchemy.engine.base.Engine (255,)
2021-02-20 14:30:54,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,268 INFO sqlalchemy.engine.base.Engine (256,)
2021-02-20 14:30:54,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,270 INFO sqlalchemy.engine.base.Engine (257,)
2021-02-20 14:30:54,272 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,272 INFO sqlalchemy.engine.base.Engine (258,)
2021-02-20 14:30:54,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,274 INFO sqlalchemy.engine.base.Engine (259,)
2021-02-20 14:30:54,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,277 INFO sqlalchemy.engine.base.Engine (260,)
2021-02-20 14:30:54,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,280 INFO sqlalchemy.engine.base.Engine (261,)
2021-02-20 14:30:54,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,283 INFO sqlalchemy.engine.base.Engine (262,)
2021-02-20 14:30:54,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,285 INFO sqlalchemy.engine.base.Engine (263,)
2021-02-20 14:30:54,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,289 INFO sqlalchemy.engine.base.Engine (264,)
2021-02-20 14:30:54,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,291 INFO sqlalchemy.engine.base.Engine (265,)
2021-02-20 14:30:54,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,295 INFO sqlalchemy.engine.base.Engine (266,)
2021-02-20 14:30:54,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,298 INFO sqlalchemy.engine.base.Engine (267,)
2021-02-20 14:30:54,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,302 INFO sqlalchemy.engine.base.Engine (268,)
2021-02-20 14:30:54,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,304 INFO sqlalchemy.engine.base.Engine (269,)
2021-02-20 14:30:54,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,308 INFO sqlalchemy.engine.base.Engine (270,)
2021-02-20 14:30:54,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,311 INFO sqlalchemy.engine.base.Engine (271,)
2021-02-20 14:30:54,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,315 INFO sqlalchemy.engine.base.Engine (272,)
2021-02-20 14:30:54,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,316 INFO sqlalchemy.engine.base.Engine (273,)
2021-02-20 14:30:54,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,318 INFO sqlalchemy.engine.base.Engine (274,)
2021-02-20 14:30:54,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,320 INFO sqlalchemy.engine.base.Engine (275,)
2021-02-20 14:30:54,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,322 INFO sqlalchemy.engine.base.Engine (276,)
2021-02-20 14:30:54,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,323 INFO sqlalchemy.engine.base.Engine (277,)
2021-02-20 14:30:54,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,325 INFO sqlalchemy.engine.base.Engine (278,)
2021-02-20 14:30:54,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,327 INFO sqlalchemy.engine.base.Engine (279,)
2021-02-20 14:30:54,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,330 INFO sqlalchemy.engine.base.Engine (280,)
2021-02-20 14:30:54,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,331 INFO sqlalchemy.engine.base.Engine (281,)
2021-02-20 14:30:54,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,334 INFO sqlalchemy.engine.base.Engine (282,)
2021-02-20 14:30:54,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,335 INFO sqlalchemy.engine.base.Engine (283,)
2021-02-20 14:30:54,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,340 INFO sqlalchemy.engine.base.Engine (284,)
2021-02-20 14:30:54,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,342 INFO sqlalchemy.engine.base.Engine (285,)
2021-02-20 14:30:54,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,345 INFO sqlalchemy.engine.base.Engine (286,)
2021-02-20 14:30:54,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,346 INFO sqlalchemy.engine.base.Engine (287,)
2021-02-20 14:30:54,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,349 INFO sqlalchemy.engine.base.Engine (288,)
2021-02-20 14:30:54,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,352 INFO sqlalchemy.engine.base.Engine (289,)
2021-02-20 14:30:54,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,355 INFO sqlalchemy.engine.base.Engine (290,)
2021-02-20 14:30:54,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,357 INFO sqlalchemy.engine.base.Engine (291,)
2021-02-20 14:30:54,359 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,360 INFO sqlalchemy.engine.base.Engine (292,)
2021-02-20 14:30:54,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,362 INFO sqlalchemy.engine.base.Engine (293,)
2021-02-20 14:30:54,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,366 INFO sqlalchemy.engine.base.Engine (294,)
2021-02-20 14:30:54,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,368 INFO sqlalchemy.engine.base.Engine (295,)
2021-02-20 14:30:54,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,371 INFO sqlalchemy.engine.base.Engine (296,)
2021-02-20 14:30:54,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,373 INFO sqlalchemy.engine.base.Engine (297,)
2021-02-20 14:30:54,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,376 INFO sqlalchemy.engine.base.Engine (298,)
2021-02-20 14:30:54,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,377 INFO sqlalchemy.engine.base.Engine (299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:54,420 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,421 INFO sqlalchemy.engine.base.Engine ((300, 14.3, 14.3, 14.3, 152880.9800000254, 122583.69313904645), (301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152880.9800000254, 122583.69313904645), (302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152880.9800000254, 122583.69313904645), (303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152880.9800000254, 122583.69313904645), (304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152880.9800000254, 122583.69313904645), (305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152880.9800000254, 122583.69313904645), (306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152880.9800000254, 122583.69313904645), (307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152880.9800000254, 122583.69313904645)  ... displaying 10 of 50 total bound parameter sets ...  (348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152880.9800000254, 122583.69313904645), (349, 135.9, 135.9, 135.9, 152880.9800000254, 122583.69313904645))
2021-02-20 14:30:54,422 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:54,423 INFO sqlalchemy.engine.base.Engine ('F7',)
2021-02-20 14:30:54,425 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,426 INFO sqlalchemy.engine.base.Engine ((150, 'F7', 0, 'Anhydrite', 300, 301), (151, 'F7', 1, 'Sandstone, grey, vf-f', 302, 303), (152, 'F7', 2, 'Anhydrite', 304, 305), (153, 'F7', 3, 'Dolomite', 306, 307), (154, 'F7', 4, 'Anhydrite', 308, 309), (155, 'F7', 5, 'Sandstone, grey, vf-f', 310, 311), (156, 'F7', 6, 'Siltstone, red', 312, 313), (157, 'F7', 7, 'Dolomite', 314, 315)  ... displaying 10 of 25 total bound parameter sets ...  (173, 'F7', 23, 'Limestone', 346, 347), (174, 'F7', 24, 'Volcanic', 348, 349))
2021-02-20 14:30:54,428 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:54,435 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:54,436 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:54,437 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:54,439 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:54,440 INFO sqlalchemy.engine.base.Engine ('F7',)
2021-02-20 14:30:54,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,442 INFO sqlalchemy.engine.base.Engine (300,)
2021-02-20 14:30:54,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,444 INFO sqlalchemy.engine.base.Engine (301,)
2021-02-20 14:30:54,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,447 INFO sqlalchemy.engine.base.Engine (302,)
2021-02-20 14:30:54,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,450 INFO sqlalchemy.engine.base.Engine (303,)
2021-02-20 14:30:54,454 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,455 INFO sqlalchemy.engine.base.Engine (304,)
2021-02-20 14:30:54,456 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,457 INFO sqlalchemy.engine.base.Engine (305,)
2021-02-20 14:30:54,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,461 INFO sqlalchemy.engine.base.Engine (306,)
2021-02-20 14:30:54,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,463 INFO sqlalchemy.engine.base.Engine (307,)
2021-02-20 14:30:54,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,466 INFO sqlalchemy.engine.base.Engine (308,)
2021-02-20 14:30:54,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,468 INFO sqlalchemy.engine.base.Engine (309,)
2021-02-20 14:30:54,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,471 INFO sqlalchemy.engine.base.Engine (310,)
2021-02-20 14:30:54,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,474 INFO sqlalchemy.engine.base.Engine (311,)
2021-02-20 14:30:54,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,478 INFO sqlalchemy.engine.base.Engine (312,)
2021-02-20 14:30:54,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,481 INFO sqlalchemy.engine.base.Engine (313,)
2021-02-20 14:30:54,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,486 INFO sqlalchemy.engine.base.Engine (314,)
2021-02-20 14:30:54,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,489 INFO sqlalchemy.engine.base.Engine (315,)
2021-02-20 14:30:54,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,493 INFO sqlalchemy.engine.base.Engine (316,)
2021-02-20 14:30:54,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,495 INFO sqlalchemy.engine.base.Engine (317,)
2021-02-20 14:30:54,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,499 INFO sqlalchemy.engine.base.Engine (318,)
2021-02-20 14:30:54,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,501 INFO sqlalchemy.engine.base.Engine (319,)
2021-02-20 14:30:54,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,504 INFO sqlalchemy.engine.base.Engine (320,)
2021-02-20 14:30:54,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,506 INFO sqlalchemy.engine.base.Engine (321,)
2021-02-20 14:30:54,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,509 INFO sqlalchemy.engine.base.Engine (322,)
2021-02-20 14:30:54,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,512 INFO sqlalchemy.engine.base.Engine (323,)
2021-02-20 14:30:54,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,515 INFO sqlalchemy.engine.base.Engine (324,)
2021-02-20 14:30:54,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,517 INFO sqlalchemy.engine.base.Engine (325,)
2021-02-20 14:30:54,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,521 INFO sqlalchemy.engine.base.Engine (326,)
2021-02-20 14:30:54,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,523 INFO sqlalchemy.engine.base.Engine (327,)
2021-02-20 14:30:54,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,527 INFO sqlalchemy.engine.base.Engine (328,)
2021-02-20 14:30:54,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,529 INFO sqlalchemy.engine.base.Engine (329,)
2021-02-20 14:30:54,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,533 INFO sqlalchemy.engine.base.Engine (330,)
2021-02-20 14:30:54,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,536 INFO sqlalchemy.engine.base.Engine (331,)
2021-02-20 14:30:54,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,539 INFO sqlalchemy.engine.base.Engine (332,)
2021-02-20 14:30:54,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,542 INFO sqlalchemy.engine.base.Engine (333,)
2021-02-20 14:30:54,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,545 INFO sqlalchemy.engine.base.Engine (334,)
2021-02-20 14:30:54,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,547 INFO sqlalchemy.engine.base.Engine (335,)
2021-02-20 14:30:54,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,551 INFO sqlalchemy.engine.base.Engine (336,)
2021-02-20 14:30:54,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,554 INFO sqlalchemy.engine.base.Engine (337,)
2021-02-20 14:30:54,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,557 INFO sqlalchemy.engine.base.Engine (338,)
2021-02-20 14:30:54,558 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,559 INFO sqlalchemy.engine.base.Engine (339,)
2021-02-20 14:30:54,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,562 INFO sqlalchemy.engine.base.Engine (340,)
2021-02-20 14:30:54,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,565 INFO sqlalchemy.engine.base.Engine (341,)
2021-02-20 14:30:54,567 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,568 INFO sqlalchemy.engine.base.Engine (342,)
2021-02-20 14:30:54,570 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,571 INFO sqlalchemy.engine.base.Engine (343,)
2021-02-20 14:30:54,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,574 INFO sqlalchemy.engine.base.Engine (344,)
2021-02-20 14:30:54,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,576 INFO sqlalchemy.engine.base.Engine (345,)
2021-02-20 14:30:54,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,580 INFO sqlalchemy.engine.base.Engine (346,)
2021-02-20 14:30:54,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,583 INFO sqlalchemy.engine.base.Engine (347,)
2021-02-20 14:30:54,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,586 INFO sqlalchemy.engine.base.Engine (348,)
2021-02-20 14:30:54,587 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,588 INFO sqlalchemy.engine.base.Engine (349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:54,647 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:54,647 INFO sqlalchemy.engine.base.Engine ('F8',)
2021-02-20 14:30:54,649 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,649 INFO sqlalchemy.engine.base.Engine ((350, 14.3, 14.3, 14.3, 152883.65800002537, 122585.62313904893), (351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.65800002537, 122585.62313904893), (352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.65800002537, 122585.62313904893), (353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.65800002537, 122585.62313904893), (354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.65800002537, 122585.62313904893), (355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.65800002537, 122585.62313904893), (356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.65800002537, 122585.62313904893), (357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.65800002537, 122585.62313904893)  ... displaying 10 of 50 total bound parameter sets ...  (398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.65800002537, 122585.62313904893), (399, 135.9, 135.9, 135.9, 152883.65800002537, 122585.62313904893))
2021-02-20 14:30:54,651 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,652 INFO sqlalchemy.engine.base.Engine ((175, 'F8', 0, 'Anhydrite', 350, 351), (176, 'F8', 1, 'Sandstone, grey, vf-f', 352, 353), (177, 'F8', 2, 'Anhydrite', 354, 355), (178, 'F8', 3, 'Dolomite', 356, 357), (179, 'F8', 4, 'Anhydrite', 358, 359), (180, 'F8', 5, 'Sandstone, grey, vf-f', 360, 361), (181, 'F8', 6, 'Siltstone, red', 362, 363), (182, 'F8', 7, 'Dolomite', 364, 365)  ... displaying 10 of 25 total bound parameter sets ...  (198, 'F8', 23, 'Limestone', 396, 397), (199, 'F8', 24, 'Volcanic', 398, 399))
2021-02-20 14:30:54,654 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:54,659 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:54,660 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:54,660 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:54,662 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:54,663 INFO sqlalchemy.engine.base.Engine ('F8',)
2021-02-20 14:30:54,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,666 INFO sqlalchemy.engine.base.Engine (350,)
2021-02-20 14:30:54,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,669 INFO sqlalchemy.engine.base.Engine (351,)
2021-02-20 14:30:54,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,673 INFO sqlalchemy.engine.base.Engine (352,)
2021-02-20 14:30:54,675 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,676 INFO sqlalchemy.engine.base.Engine (353,)
2021-02-20 14:30:54,679 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,680 INFO sqlalchemy.engine.base.Engine (354,)
2021-02-20 14:30:54,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,682 INFO sqlalchemy.engine.base.Engine (355,)
2021-02-20 14:30:54,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,685 INFO sqlalchemy.engine.base.Engine (356,)
2021-02-20 14:30:54,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,687 INFO sqlalchemy.engine.base.Engine (357,)
2021-02-20 14:30:54,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,692 INFO sqlalchemy.engine.base.Engine (358,)
2021-02-20 14:30:54,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,696 INFO sqlalchemy.engine.base.Engine (359,)
2021-02-20 14:30:54,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,699 INFO sqlalchemy.engine.base.Engine (360,)
2021-02-20 14:30:54,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,701 INFO sqlalchemy.engine.base.Engine (361,)
2021-02-20 14:30:54,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,705 INFO sqlalchemy.engine.base.Engine (362,)
2021-02-20 14:30:54,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,707 INFO sqlalchemy.engine.base.Engine (363,)
2021-02-20 14:30:54,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,711 INFO sqlalchemy.engine.base.Engine (364,)
2021-02-20 14:30:54,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,712 INFO sqlalchemy.engine.base.Engine (365,)
2021-02-20 14:30:54,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,715 INFO sqlalchemy.engine.base.Engine (366,)
2021-02-20 14:30:54,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,717 INFO sqlalchemy.engine.base.Engine (367,)
2021-02-20 14:30:54,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,720 INFO sqlalchemy.engine.base.Engine (368,)
2021-02-20 14:30:54,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,721 INFO sqlalchemy.engine.base.Engine (369,)
2021-02-20 14:30:54,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,725 INFO sqlalchemy.engine.base.Engine (370,)
2021-02-20 14:30:54,726 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,727 INFO sqlalchemy.engine.base.Engine (371,)
2021-02-20 14:30:54,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,730 INFO sqlalchemy.engine.base.Engine (372,)
2021-02-20 14:30:54,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,731 INFO sqlalchemy.engine.base.Engine (373,)
2021-02-20 14:30:54,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,734 INFO sqlalchemy.engine.base.Engine (374,)
2021-02-20 14:30:54,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,736 INFO sqlalchemy.engine.base.Engine (375,)
2021-02-20 14:30:54,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,738 INFO sqlalchemy.engine.base.Engine (376,)
2021-02-20 14:30:54,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,740 INFO sqlalchemy.engine.base.Engine (377,)
2021-02-20 14:30:54,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,743 INFO sqlalchemy.engine.base.Engine (378,)
2021-02-20 14:30:54,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,744 INFO sqlalchemy.engine.base.Engine (379,)
2021-02-20 14:30:54,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,747 INFO sqlalchemy.engine.base.Engine (380,)
2021-02-20 14:30:54,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,749 INFO sqlalchemy.engine.base.Engine (381,)
2021-02-20 14:30:54,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,753 INFO sqlalchemy.engine.base.Engine (382,)
2021-02-20 14:30:54,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,755 INFO sqlalchemy.engine.base.Engine (383,)
2021-02-20 14:30:54,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,759 INFO sqlalchemy.engine.base.Engine (384,)
2021-02-20 14:30:54,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,761 INFO sqlalchemy.engine.base.Engine (385,)
2021-02-20 14:30:54,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,765 INFO sqlalchemy.engine.base.Engine (386,)
2021-02-20 14:30:54,766 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,767 INFO sqlalchemy.engine.base.Engine (387,)
2021-02-20 14:30:54,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,770 INFO sqlalchemy.engine.base.Engine (388,)
2021-02-20 14:30:54,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,772 INFO sqlalchemy.engine.base.Engine (389,)
2021-02-20 14:30:54,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,776 INFO sqlalchemy.engine.base.Engine (390,)
2021-02-20 14:30:54,777 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,777 INFO sqlalchemy.engine.base.Engine (391,)
2021-02-20 14:30:54,780 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,780 INFO sqlalchemy.engine.base.Engine (392,)
2021-02-20 14:30:54,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,781 INFO sqlalchemy.engine.base.Engine (393,)
2021-02-20 14:30:54,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,784 INFO sqlalchemy.engine.base.Engine (394,)
2021-02-20 14:30:54,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,785 INFO sqlalchemy.engine.base.Engine (395,)
2021-02-20 14:30:54,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,788 INFO sqlalchemy.engine.base.Engine (396,)
2021-02-20 14:30:54,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,789 INFO sqlalchemy.engine.base.Engine (397,)
2021-02-20 14:30:54,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,792 INFO sqlalchemy.engine.base.Engine (398,)
2021-02-20 14:30:54,793 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,794 INFO sqlalchemy.engine.base.Engine (399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:54,838 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,839 INFO sqlalchemy.engine.base.Engine ((400, 14.3, 14.3, 14.3, 152889.1520000254, 122587.1761390483), (401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.1520000254, 122587.1761390483), (402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.1520000254, 122587.1761390483), (403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.1520000254, 122587.1761390483), (404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.1520000254, 122587.1761390483), (405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.1520000254, 122587.1761390483), (406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.1520000254, 122587.1761390483), (407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152889.1520000254, 122587.1761390483)  ... displaying 10 of 50 total bound parameter sets ...  (448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152889.1520000254, 122587.1761390483), (449, 135.9, 135.9, 135.9, 152889.1520000254, 122587.1761390483))
2021-02-20 14:30:54,841 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:54,841 INFO sqlalchemy.engine.base.Engine ('F9',)
2021-02-20 14:30:54,842 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:54,843 INFO sqlalchemy.engine.base.Engine ((200, 'F9', 0, 'Anhydrite', 400, 401), (201, 'F9', 1, 'Sandstone, grey, vf-f', 402, 403), (202, 'F9', 2, 'Anhydrite', 404, 405), (203, 'F9', 3, 'Dolomite', 406, 407), (204, 'F9', 4, 'Anhydrite', 408, 409), (205, 'F9', 5, 'Sandstone, grey, vf-f', 410, 411), (206, 'F9', 6, 'Siltstone, red', 412, 413), (207, 'F9', 7, 'Dolomite', 414, 415)  ... displaying 10 of 25 total bound parameter sets ...  (223, 'F9', 23, 'Limestone', 446, 447), (224, 'F9', 24, 'Volcanic', 448, 449))
2021-02-20 14:30:54,844 INFO sqlalchemy.engine.base.Engine COMMIT

2021-02-20 14:30:54,848 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:54,849 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:54,849 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:54,851 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:54,852 INFO sqlalchemy.engine.base.Engine ('F9',)
2021-02-20 14:30:54,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,854 INFO sqlalchemy.engine.base.Engine (400,)
2021-02-20 14:30:54,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,857 INFO sqlalchemy.engine.base.Engine (401,)
2021-02-20 14:30:54,860 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,861 INFO sqlalchemy.engine.base.Engine (402,)
2021-02-20 14:30:54,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,863 INFO sqlalchemy.engine.base.Engine (403,)
2021-02-20 14:30:54,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,868 INFO sqlalchemy.engine.base.Engine (404,)
2021-02-20 14:30:54,869 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,870 INFO sqlalchemy.engine.base.Engine (405,)
2021-02-20 14:30:54,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,873 INFO sqlalchemy.engine.base.Engine (406,)
2021-02-20 14:30:54,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,875 INFO sqlalchemy.engine.base.Engine (407,)
2021-02-20 14:30:54,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,878 INFO sqlalchemy.engine.base.Engine (408,)
2021-02-20 14:30:54,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,881 INFO sqlalchemy.engine.base.Engine (409,)
2021-02-20 14:30:54,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,885 INFO sqlalchemy.engine.base.Engine (410,)
2021-02-20 14:30:54,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,887 INFO sqlalchemy.engine.base.Engine (411,)
2021-02-20 14:30:54,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,892 INFO sqlalchemy.engine.base.Engine (412,)
2021-02-20 14:30:54,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,894 INFO sqlalchemy.engine.base.Engine (413,)
2021-02-20 14:30:54,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,897 INFO sqlalchemy.engine.base.Engine (414,)
2021-02-20 14:30:54,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,899 INFO sqlalchemy.engine.base.Engine (415,)
2021-02-20 14:30:54,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,902 INFO sqlalchemy.engine.base.Engine (416,)
2021-02-20 14:30:54,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,905 INFO sqlalchemy.engine.base.Engine (417,)
2021-02-20 14:30:54,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,908 INFO sqlalchemy.engine.base.Engine (418,)

2021-02-20 14:30:54,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,910 INFO sqlalchemy.engine.base.Engine (419,)
2021-02-20 14:30:54,913 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,914 INFO sqlalchemy.engine.base.Engine (420,)
2021-02-20 14:30:54,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,916 INFO sqlalchemy.engine.base.Engine (421,)
2021-02-20 14:30:54,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,920 INFO sqlalchemy.engine.base.Engine (422,)
2021-02-20 14:30:54,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,922 INFO sqlalchemy.engine.base.Engine (423,)
2021-02-20 14:30:54,924 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,924 INFO sqlalchemy.engine.base.Engine (424,)
2021-02-20 14:30:54,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,926 INFO sqlalchemy.engine.base.Engine (425,)
2021-02-20 14:30:54,928 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,929 INFO sqlalchemy.engine.base.Engine (426,)
2021-02-20 14:30:54,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,931 INFO sqlalchemy.engine.base.Engine (427,)
2021-02-20 14:30:54,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,935 INFO sqlalchemy.engine.base.Engine (428,)
2021-02-20 14:30:54,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,937 INFO sqlalchemy.engine.base.Engine (429,)
2021-02-20 14:30:54,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,941 INFO sqlalchemy.engine.base.Engine (430,)
2021-02-20 14:30:54,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,943 INFO sqlalchemy.engine.base.Engine (431,)
2021-02-20 14:30:54,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,948 INFO sqlalchemy.engine.base.Engine (432,)
2021-02-20 14:30:54,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,950 INFO sqlalchemy.engine.base.Engine (433,)
2021-02-20 14:30:54,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,954 INFO sqlalchemy.engine.base.Engine (434,)
2021-02-20 14:30:54,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,956 INFO sqlalchemy.engine.base.Engine (435,)
2021-02-20 14:30:54,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,958 INFO sqlalchemy.engine.base.Engine (436,)
2021-02-20 14:30:54,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,960 INFO sqlalchemy.engine.base.Engine (437,)
2021-02-20 14:30:54,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,964 INFO sqlalchemy.engine.base.Engine (438,)
2021-02-20 14:30:54,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:54,965 INFO sqlalchemy.engine.base.Engine (439,)
2021-02-20 14:30:54,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,969 INFO sqlalchemy.engine.base.Engine (440,)
2021-02-20 14:30:54,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,971 INFO sqlalchemy.engine.base.Engine (441,)
2021-02-20 14:30:54,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,974 INFO sqlalchemy.engine.base.Engine (442,)
2021-02-20 14:30:54,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,976 INFO sqlalchemy.engine.base.Engine (443,)
2021-02-20 14:30:54,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,978 INFO sqlalchemy.engine.base.Engine (444,)
2021-02-20 14:30:54,979 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,980 INFO sqlalchemy.engine.base.Engine (445,)
2021-02-20 14:30:54,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,982 INFO sqlalchemy.engine.base.Engine (446,)
2021-02-20 14:30:54,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,984 INFO sqlalchemy.engine.base.Engine (447,)
2021-02-20 14:30:54,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,988 INFO sqlalchemy.engine.base.Engine (448,)
2021-02-20 14:30:54,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:54,990 INFO sqlalchemy.engine.base.Engine (449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:55,033 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:55,034 INFO sqlalchemy.engine.base.Engine ('F10',)
2021-02-20 14:30:55,036 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,037 INFO sqlalchemy.engine.base.Engine ((450, 14.3, 14.3, 14.3, 152883.43300002534, 122588.32313904724), (451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.43300002534, 122588.32313904724), (452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.43300002534, 122588.32313904724), (453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.43300002534, 122588.32313904724), (454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.43300002534, 122588.32313904724), (455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.43300002534, 122588.32313904724), (456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.43300002534, 122588.32313904724), (457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.43300002534, 122588.32313904724)  ... displaying 10 of 50 total bound parameter sets ...  (498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.43300002534, 122588.32313904724), (499, 135.9, 135.9, 135.9, 152883.43300002534, 122588.32313904724))
2021-02-20 14:30:55,041 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,042 INFO sqlalchemy.engine.base.Engine ((225, 'F10', 0, 'Anhydrite', 450, 451), (226, 'F10', 1, 'Sandstone, grey, vf-f', 452, 453), (227, 'F10', 2, 'Anhydrite', 454, 455), (228, 'F10', 3, 'Dolomite', 456, 457), (229, 'F10', 4, 'Anhydrite', 458, 459), (230, 'F10', 5, 'Sandstone, grey, vf-f', 460, 461), (231, 'F10', 6, 'Siltstone, red', 462, 463), (232, 'F10', 7, 'Dolomite', 464, 465)  ... displaying 10 of 25 total bound parameter sets ...  (248, 'F10', 23, 'Limestone', 496, 497), (249, 'F10', 24, 'Volcanic', 498, 499))
2021-02-20 14:30:55,045 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:55,050 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:55,051 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:55,051 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:55,053 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:55,054 INFO sqlalchemy.engine.base.Engine ('F10',)
2021-02-20 14:30:55,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,056 INFO sqlalchemy.engine.base.Engine (450,)
2021-02-20 14:30:55,058 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,058 INFO sqlalchemy.engine.base.Engine (451,)
2021-02-20 14:30:55,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,062 INFO sqlalchemy.engine.base.Engine (452,)

2021-02-20 14:30:55,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,064 INFO sqlalchemy.engine.base.Engine (453,)
2021-02-20 14:30:55,066 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,067 INFO sqlalchemy.engine.base.Engine (454,)
2021-02-20 14:30:55,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,069 INFO sqlalchemy.engine.base.Engine (455,)
2021-02-20 14:30:55,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,072 INFO sqlalchemy.engine.base.Engine (456,)
2021-02-20 14:30:55,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,074 INFO sqlalchemy.engine.base.Engine (457,)
2021-02-20 14:30:55,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,077 INFO sqlalchemy.engine.base.Engine (458,)
2021-02-20 14:30:55,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,080 INFO sqlalchemy.engine.base.Engine (459,)
2021-02-20 14:30:55,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,084 INFO sqlalchemy.engine.base.Engine (460,)
2021-02-20 14:30:55,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,086 INFO sqlalchemy.engine.base.Engine (461,)
2021-02-20 14:30:55,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,089 INFO sqlalchemy.engine.base.Engine (462,)
2021-02-20 14:30:55,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,090 INFO sqlalchemy.engine.base.Engine (463,)
2021-02-20 14:30:55,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,093 INFO sqlalchemy.engine.base.Engine (464,)
2021-02-20 14:30:55,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,095 INFO sqlalchemy.engine.base.Engine (465,)
2021-02-20 14:30:55,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,097 INFO sqlalchemy.engine.base.Engine (466,)
2021-02-20 14:30:55,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,100 INFO sqlalchemy.engine.base.Engine (467,)
2021-02-20 14:30:55,102 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,103 INFO sqlalchemy.engine.base.Engine (468,)
2021-02-20 14:30:55,104 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,105 INFO sqlalchemy.engine.base.Engine (469,)
2021-02-20 14:30:55,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,107 INFO sqlalchemy.engine.base.Engine (470,)
2021-02-20 14:30:55,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,109 INFO sqlalchemy.engine.base.Engine (471,)
2021-02-20 14:30:55,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,111 INFO sqlalchemy.engine.base.Engine (472,)
2021-02-20 14:30:55,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,114 INFO sqlalchemy.engine.base.Engine (473,)
2021-02-20 14:30:55,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,117 INFO sqlalchemy.engine.base.Engine (474,)
2021-02-20 14:30:55,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,119 INFO sqlalchemy.engine.base.Engine (475,)
2021-02-20 14:30:55,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,123 INFO sqlalchemy.engine.base.Engine (476,)
2021-02-20 14:30:55,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,125 INFO sqlalchemy.engine.base.Engine (477,)
2021-02-20 14:30:55,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,129 INFO sqlalchemy.engine.base.Engine (478,)
2021-02-20 14:30:55,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,131 INFO sqlalchemy.engine.base.Engine (479,)
2021-02-20 14:30:55,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,133 INFO sqlalchemy.engine.base.Engine (480,)
2021-02-20 14:30:55,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,135 INFO sqlalchemy.engine.base.Engine (481,)
2021-02-20 14:30:55,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,137 INFO sqlalchemy.engine.base.Engine (482,)
2021-02-20 14:30:55,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,139 INFO sqlalchemy.engine.base.Engine (483,)
2021-02-20 14:30:55,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,143 INFO sqlalchemy.engine.base.Engine (484,)
2021-02-20 14:30:55,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,145 INFO sqlalchemy.engine.base.Engine (485,)
2021-02-20 14:30:55,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,149 INFO sqlalchemy.engine.base.Engine (486,)
2021-02-20 14:30:55,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,151 INFO sqlalchemy.engine.base.Engine (487,)
2021-02-20 14:30:55,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,154 INFO sqlalchemy.engine.base.Engine (488,)
2021-02-20 14:30:55,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,156 INFO sqlalchemy.engine.base.Engine (489,)
2021-02-20 14:30:55,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,158 INFO sqlalchemy.engine.base.Engine (490,)
2021-02-20 14:30:55,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,160 INFO sqlalchemy.engine.base.Engine (491,)
2021-02-20 14:30:55,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,163 INFO sqlalchemy.engine.base.Engine (492,)
2021-02-20 14:30:55,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,165 INFO sqlalchemy.engine.base.Engine (493,)
2021-02-20 14:30:55,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,169 INFO sqlalchemy.engine.base.Engine (494,)
2021-02-20 14:30:55,170 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,171 INFO sqlalchemy.engine.base.Engine (495,)
2021-02-20 14:30:55,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,174 INFO sqlalchemy.engine.base.Engine (496,)
2021-02-20 14:30:55,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,177 INFO sqlalchemy.engine.base.Engine (497,)
2021-02-20 14:30:55,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,181 INFO sqlalchemy.engine.base.Engine (498,)
2021-02-20 14:30:55,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,182 INFO sqlalchemy.engine.base.Engine (499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:55,230 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,231 INFO sqlalchemy.engine.base.Engine ((500, 14.3, 14.3, 14.3, 152883.43300002534, 122580.26613904627), (501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.43300002534, 122580.26613904627), (502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.43300002534, 122580.26613904627), (503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.43300002534, 122580.26613904627), (504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.43300002534, 122580.26613904627), (505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.43300002534, 122580.26613904627), (506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.43300002534, 122580.26613904627), (507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.43300002534, 122580.26613904627)  ... displaying 10 of 50 total bound parameter sets ...  (548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.43300002534, 122580.26613904627), (549, 135.9, 135.9, 135.9, 152883.43300002534, 122580.26613904627))
2021-02-20 14:30:55,232 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:55,233 INFO sqlalchemy.engine.base.Engine ('F11',)
2021-02-20 14:30:55,235 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,235 INFO sqlalchemy.engine.base.Engine ((250, 'F11', 0, 'Anhydrite', 500, 501), (251, 'F11', 1, 'Sandstone, grey, vf-f', 502, 503), (252, 'F11', 2, 'Anhydrite', 504, 505), (253, 'F11', 3, 'Dolomite', 506, 507), (254, 'F11', 4, 'Anhydrite', 508, 509), (255, 'F11', 5, 'Sandstone, grey, vf-f', 510, 511), (256, 'F11', 6, 'Siltstone, red', 512, 513), (257, 'F11', 7, 'Dolomite', 514, 515)  ... displaying 10 of 25 total bound parameter sets ...  (273, 'F11', 23, 'Limestone', 546, 547), (274, 'F11', 24, 'Volcanic', 548, 549))
2021-02-20 14:30:55,237 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:55,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:55,244 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:55,244 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:55,247 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:55,248 INFO sqlalchemy.engine.base.Engine ('F11',)
2021-02-20 14:30:55,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,250 INFO sqlalchemy.engine.base.Engine (500,)
2021-02-20 14:30:55,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,252 INFO sqlalchemy.engine.base.Engine (501,)
2021-02-20 14:30:55,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,256 INFO sqlalchemy.engine.base.Engine (502,)
2021-02-20 14:30:55,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,258 INFO sqlalchemy.engine.base.Engine (503,)
2021-02-20 14:30:55,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,261 INFO sqlalchemy.engine.base.Engine (504,)
2021-02-20 14:30:55,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,263 INFO sqlalchemy.engine.base.Engine (505,)
2021-02-20 14:30:55,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,266 INFO sqlalchemy.engine.base.Engine (506,)
2021-02-20 14:30:55,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,268 INFO sqlalchemy.engine.base.Engine (507,)

2021-02-20 14:30:55,270 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,271 INFO sqlalchemy.engine.base.Engine (508,)
2021-02-20 14:30:55,272 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,272 INFO sqlalchemy.engine.base.Engine (509,)
2021-02-20 14:30:55,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,276 INFO sqlalchemy.engine.base.Engine (510,)
2021-02-20 14:30:55,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,278 INFO sqlalchemy.engine.base.Engine (511,)
2021-02-20 14:30:55,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,282 INFO sqlalchemy.engine.base.Engine (512,)
2021-02-20 14:30:55,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,284 INFO sqlalchemy.engine.base.Engine (513,)
2021-02-20 14:30:55,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,288 INFO sqlalchemy.engine.base.Engine (514,)
2021-02-20 14:30:55,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,290 INFO sqlalchemy.engine.base.Engine (515,)
2021-02-20 14:30:55,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,293 INFO sqlalchemy.engine.base.Engine (516,)
2021-02-20 14:30:55,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,294 INFO sqlalchemy.engine.base.Engine (517,)
2021-02-20 14:30:55,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,297 INFO sqlalchemy.engine.base.Engine (518,)
2021-02-20 14:30:55,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,299 INFO sqlalchemy.engine.base.Engine (519,)
2021-02-20 14:30:55,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,303 INFO sqlalchemy.engine.base.Engine (520,)
2021-02-20 14:30:55,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,305 INFO sqlalchemy.engine.base.Engine (521,)
2021-02-20 14:30:55,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,309 INFO sqlalchemy.engine.base.Engine (522,)
2021-02-20 14:30:55,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,311 INFO sqlalchemy.engine.base.Engine (523,)
2021-02-20 14:30:55,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,315 INFO sqlalchemy.engine.base.Engine (524,)
2021-02-20 14:30:55,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,316 INFO sqlalchemy.engine.base.Engine (525,)
2021-02-20 14:30:55,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,319 INFO sqlalchemy.engine.base.Engine (526,)
2021-02-20 14:30:55,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,321 INFO sqlalchemy.engine.base.Engine (527,)
2021-02-20 14:30:55,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,323 INFO sqlalchemy.engine.base.Engine (528,)
2021-02-20 14:30:55,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,326 INFO sqlalchemy.engine.base.Engine (529,)
2021-02-20 14:30:55,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,330 INFO sqlalchemy.engine.base.Engine (530,)
2021-02-20 14:30:55,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,332 INFO sqlalchemy.engine.base.Engine (531,)
2021-02-20 14:30:55,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,338 INFO sqlalchemy.engine.base.Engine (532,)
2021-02-20 14:30:55,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,341 INFO sqlalchemy.engine.base.Engine (533,)
2021-02-20 14:30:55,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,344 INFO sqlalchemy.engine.base.Engine (534,)
2021-02-20 14:30:55,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,347 INFO sqlalchemy.engine.base.Engine (535,)
2021-02-20 14:30:55,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,350 INFO sqlalchemy.engine.base.Engine (536,)
2021-02-20 14:30:55,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,352 INFO sqlalchemy.engine.base.Engine (537,)
2021-02-20 14:30:55,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,355 INFO sqlalchemy.engine.base.Engine (538,)
2021-02-20 14:30:55,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,358 INFO sqlalchemy.engine.base.Engine (539,)
2021-02-20 14:30:55,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,361 INFO sqlalchemy.engine.base.Engine (540,)
2021-02-20 14:30:55,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,363 INFO sqlalchemy.engine.base.Engine (541,)
2021-02-20 14:30:55,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,367 INFO sqlalchemy.engine.base.Engine (542,)
2021-02-20 14:30:55,368 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,369 INFO sqlalchemy.engine.base.Engine (543,)
2021-02-20 14:30:55,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,372 INFO sqlalchemy.engine.base.Engine (544,)
2021-02-20 14:30:55,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,373 INFO sqlalchemy.engine.base.Engine (545,)
2021-02-20 14:30:55,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,377 INFO sqlalchemy.engine.base.Engine (546,)
2021-02-20 14:30:55,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,379 INFO sqlalchemy.engine.base.Engine (547,)
2021-02-20 14:30:55,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,383 INFO sqlalchemy.engine.base.Engine (548,)
2021-02-20 14:30:55,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,385 INFO sqlalchemy.engine.base.Engine (549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:55,426 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,427 INFO sqlalchemy.engine.base.Engine ((550, 14.3, 14.3, 14.3, 152883.57100002535, 122593.02013904788), (551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.57100002535, 122593.02013904788), (552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.57100002535, 122593.02013904788), (553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.57100002535, 122593.02013904788), (554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.57100002535, 122593.02013904788), (555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.57100002535, 122593.02013904788), (556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.57100002535, 122593.02013904788), (557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.57100002535, 122593.02013904788)  ... displaying 10 of 50 total bound parameter sets ...  (598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.57100002535, 122593.02013904788), (599, 135.9, 135.9, 135.9, 152883.57100002535, 122593.02013904788))
2021-02-20 14:30:55,429 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:55,429 INFO sqlalchemy.engine.base.Engine ('F12',)
2021-02-20 14:30:55,431 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,432 INFO sqlalchemy.engine.base.Engine ((275, 'F12', 0, 'Anhydrite', 550, 551), (276, 'F12', 1, 'Sandstone, grey, vf-f', 552, 553), (277, 'F12', 2, 'Anhydrite', 554, 555), (278, 'F12', 3, 'Dolomite', 556, 557), (279, 'F12', 4, 'Anhydrite', 558, 559), (280, 'F12', 5, 'Sandstone, grey, vf-f', 560, 561), (281, 'F12', 6, 'Siltstone, red', 562, 563), (282, 'F12', 7, 'Dolomite', 564, 565)  ... displaying 10 of 25 total bound parameter sets ...  (298, 'F12', 23, 'Limestone', 596, 597), (299, 'F12', 24, 'Volcanic', 598, 599))
2021-02-20 14:30:55,434 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:55,438 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:55,439 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:55,440 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:55,443 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:55,443 INFO sqlalchemy.engine.base.Engine ('F12',)
2021-02-20 14:30:55,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,447 INFO sqlalchemy.engine.base.Engine (550,)
2021-02-20 14:30:55,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,449 INFO sqlalchemy.engine.base.Engine (551,)
2021-02-20 14:30:55,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,453 INFO sqlalchemy.engine.base.Engine (552,)
2021-02-20 14:30:55,454 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,455 INFO sqlalchemy.engine.base.Engine (553,)
2021-02-20 14:30:55,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,458 INFO sqlalchemy.engine.base.Engine (554,)
2021-02-20 14:30:55,459 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,460 INFO sqlalchemy.engine.base.Engine (555,)
2021-02-20 14:30:55,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,462 INFO sqlalchemy.engine.base.Engine (556,)
2021-02-20 14:30:55,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,464 INFO sqlalchemy.engine.base.Engine (557,)
2021-02-20 14:30:55,465 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,466 INFO sqlalchemy.engine.base.Engine (558,)
2021-02-20 14:30:55,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,468 INFO sqlalchemy.engine.base.Engine (559,)
2021-02-20 14:30:55,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,472 INFO sqlalchemy.engine.base.Engine (560,)
2021-02-20 14:30:55,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,474 INFO sqlalchemy.engine.base.Engine (561,)
2021-02-20 14:30:55,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,476 INFO sqlalchemy.engine.base.Engine (562,)

2021-02-20 14:30:55,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,478 INFO sqlalchemy.engine.base.Engine (563,)
2021-02-20 14:30:55,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,480 INFO sqlalchemy.engine.base.Engine (564,)
2021-02-20 14:30:55,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,482 INFO sqlalchemy.engine.base.Engine (565,)
2021-02-20 14:30:55,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,486 INFO sqlalchemy.engine.base.Engine (566,)
2021-02-20 14:30:55,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,488 INFO sqlalchemy.engine.base.Engine (567,)
2021-02-20 14:30:55,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,492 INFO sqlalchemy.engine.base.Engine (568,)
2021-02-20 14:30:55,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,493 INFO sqlalchemy.engine.base.Engine (569,)
2021-02-20 14:30:55,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,496 INFO sqlalchemy.engine.base.Engine (570,)
2021-02-20 14:30:55,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,497 INFO sqlalchemy.engine.base.Engine (571,)
2021-02-20 14:30:55,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,501 INFO sqlalchemy.engine.base.Engine (572,)
2021-02-20 14:30:55,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,503 INFO sqlalchemy.engine.base.Engine (573,)
2021-02-20 14:30:55,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,506 INFO sqlalchemy.engine.base.Engine (574,)
2021-02-20 14:30:55,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,509 INFO sqlalchemy.engine.base.Engine (575,)
2021-02-20 14:30:55,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,512 INFO sqlalchemy.engine.base.Engine (576,)
2021-02-20 14:30:55,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,513 INFO sqlalchemy.engine.base.Engine (577,)
2021-02-20 14:30:55,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,515 INFO sqlalchemy.engine.base.Engine (578,)
2021-02-20 14:30:55,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,517 INFO sqlalchemy.engine.base.Engine (579,)
2021-02-20 14:30:55,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,520 INFO sqlalchemy.engine.base.Engine (580,)
2021-02-20 14:30:55,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,521 INFO sqlalchemy.engine.base.Engine (581,)
2021-02-20 14:30:55,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,523 INFO sqlalchemy.engine.base.Engine (582,)
2021-02-20 14:30:55,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,524 INFO sqlalchemy.engine.base.Engine (583,)
2021-02-20 14:30:55,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,526 INFO sqlalchemy.engine.base.Engine (584,)
2021-02-20 14:30:55,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,527 INFO sqlalchemy.engine.base.Engine (585,)
2021-02-20 14:30:55,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,530 INFO sqlalchemy.engine.base.Engine (586,)
2021-02-20 14:30:55,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,531 INFO sqlalchemy.engine.base.Engine (587,)
2021-02-20 14:30:55,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,533 INFO sqlalchemy.engine.base.Engine (588,)
2021-02-20 14:30:55,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,534 INFO sqlalchemy.engine.base.Engine (589,)
2021-02-20 14:30:55,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,536 INFO sqlalchemy.engine.base.Engine (590,)
2021-02-20 14:30:55,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,537 INFO sqlalchemy.engine.base.Engine (591,)
2021-02-20 14:30:55,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,539 INFO sqlalchemy.engine.base.Engine (592,)
2021-02-20 14:30:55,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,541 INFO sqlalchemy.engine.base.Engine (593,)
2021-02-20 14:30:55,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,543 INFO sqlalchemy.engine.base.Engine (594,)
2021-02-20 14:30:55,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,544 INFO sqlalchemy.engine.base.Engine (595,)
2021-02-20 14:30:55,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,546 INFO sqlalchemy.engine.base.Engine (596,)
2021-02-20 14:30:55,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,547 INFO sqlalchemy.engine.base.Engine (597,)
2021-02-20 14:30:55,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,550 INFO sqlalchemy.engine.base.Engine (598,)
2021-02-20 14:30:55,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,551 INFO sqlalchemy.engine.base.Engine (599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:55,600 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:55,601 INFO sqlalchemy.engine.base.Engine ('F13',)
2021-02-20 14:30:55,604 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,605 INFO sqlalchemy.engine.base.Engine ((600, 14.3, 14.3, 14.3, 152891.94900002552, 122593.72213904651), (601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.94900002552, 122593.72213904651), (602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.94900002552, 122593.72213904651), (603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.94900002552, 122593.72213904651), (604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.94900002552, 122593.72213904651), (605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.94900002552, 122593.72213904651), (606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.94900002552, 122593.72213904651), (607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.94900002552, 122593.72213904651)  ... displaying 10 of 50 total bound parameter sets ...  (648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.94900002552, 122593.72213904651), (649, 135.9, 135.9, 135.9, 152891.94900002552, 122593.72213904651))
2021-02-20 14:30:55,608 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,609 INFO sqlalchemy.engine.base.Engine ((300, 'F13', 0, 'Anhydrite', 600, 601), (301, 'F13', 1, 'Sandstone, grey, vf-f', 602, 603), (302, 'F13', 2, 'Anhydrite', 604, 605), (303, 'F13', 3, 'Dolomite', 606, 607), (304, 'F13', 4, 'Anhydrite', 608, 609), (305, 'F13', 5, 'Sandstone, grey, vf-f', 610, 611), (306, 'F13', 6, 'Siltstone, red', 612, 613), (307, 'F13', 7, 'Dolomite', 614, 615)  ... displaying 10 of 25 total bound parameter sets ...  (323, 'F13', 23, 'Limestone', 646, 647), (324, 'F13', 24, 'Volcanic', 648, 649))

2021-02-20 14:30:55,612 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:55,616 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:55,617 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:55,617 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:55,619 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:55,620 INFO sqlalchemy.engine.base.Engine ('F13',)
2021-02-20 14:30:55,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,622 INFO sqlalchemy.engine.base.Engine (600,)
2021-02-20 14:30:55,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,625 INFO sqlalchemy.engine.base.Engine (601,)
2021-02-20 14:30:55,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,630 INFO sqlalchemy.engine.base.Engine (602,)
2021-02-20 14:30:55,631 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,632 INFO sqlalchemy.engine.base.Engine (603,)
2021-02-20 14:30:55,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,635 INFO sqlalchemy.engine.base.Engine (604,)
2021-02-20 14:30:55,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,636 INFO sqlalchemy.engine.base.Engine (605,)
2021-02-20 14:30:55,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,639 INFO sqlalchemy.engine.base.Engine (606,)
2021-02-20 14:30:55,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,642 INFO sqlalchemy.engine.base.Engine (607,)
2021-02-20 14:30:55,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,645 INFO sqlalchemy.engine.base.Engine (608,)
2021-02-20 14:30:55,646 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,647 INFO sqlalchemy.engine.base.Engine (609,)
2021-02-20 14:30:55,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,650 INFO sqlalchemy.engine.base.Engine (610,)
2021-02-20 14:30:55,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,652 INFO sqlalchemy.engine.base.Engine (611,)
2021-02-20 14:30:55,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,656 INFO sqlalchemy.engine.base.Engine (612,)
2021-02-20 14:30:55,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,658 INFO sqlalchemy.engine.base.Engine (613,)
2021-02-20 14:30:55,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,661 INFO sqlalchemy.engine.base.Engine (614,)
2021-02-20 14:30:55,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,663 INFO sqlalchemy.engine.base.Engine (615,)
2021-02-20 14:30:55,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,666 INFO sqlalchemy.engine.base.Engine (616,)
2021-02-20 14:30:55,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,668 INFO sqlalchemy.engine.base.Engine (617,)
2021-02-20 14:30:55,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,671 INFO sqlalchemy.engine.base.Engine (618,)
2021-02-20 14:30:55,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,673 INFO sqlalchemy.engine.base.Engine (619,)
2021-02-20 14:30:55,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,677 INFO sqlalchemy.engine.base.Engine (620,)
2021-02-20 14:30:55,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,679 INFO sqlalchemy.engine.base.Engine (621,)
2021-02-20 14:30:55,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,682 INFO sqlalchemy.engine.base.Engine (622,)
2021-02-20 14:30:55,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,684 INFO sqlalchemy.engine.base.Engine (623,)
2021-02-20 14:30:55,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,687 INFO sqlalchemy.engine.base.Engine (624,)
2021-02-20 14:30:55,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,689 INFO sqlalchemy.engine.base.Engine (625,)
2021-02-20 14:30:55,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,692 INFO sqlalchemy.engine.base.Engine (626,)
2021-02-20 14:30:55,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,694 INFO sqlalchemy.engine.base.Engine (627,)
2021-02-20 14:30:55,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,697 INFO sqlalchemy.engine.base.Engine (628,)
2021-02-20 14:30:55,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,699 INFO sqlalchemy.engine.base.Engine (629,)
2021-02-20 14:30:55,702 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,702 INFO sqlalchemy.engine.base.Engine (630,)
2021-02-20 14:30:55,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,705 INFO sqlalchemy.engine.base.Engine (631,)
2021-02-20 14:30:55,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,708 INFO sqlalchemy.engine.base.Engine (632,)
2021-02-20 14:30:55,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,710 INFO sqlalchemy.engine.base.Engine (633,)
2021-02-20 14:30:55,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,713 INFO sqlalchemy.engine.base.Engine (634,)
2021-02-20 14:30:55,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,715 INFO sqlalchemy.engine.base.Engine (635,)
2021-02-20 14:30:55,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,719 INFO sqlalchemy.engine.base.Engine (636,)
2021-02-20 14:30:55,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,721 INFO sqlalchemy.engine.base.Engine (637,)
2021-02-20 14:30:55,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,725 INFO sqlalchemy.engine.base.Engine (638,)
2021-02-20 14:30:55,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,728 INFO sqlalchemy.engine.base.Engine (639,)
2021-02-20 14:30:55,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,731 INFO sqlalchemy.engine.base.Engine (640,)
2021-02-20 14:30:55,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,732 INFO sqlalchemy.engine.base.Engine (641,)
2021-02-20 14:30:55,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,735 INFO sqlalchemy.engine.base.Engine (642,)
2021-02-20 14:30:55,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,737 INFO sqlalchemy.engine.base.Engine (643,)
2021-02-20 14:30:55,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,741 INFO sqlalchemy.engine.base.Engine (644,)
2021-02-20 14:30:55,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,743 INFO sqlalchemy.engine.base.Engine (645,)
2021-02-20 14:30:55,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,747 INFO sqlalchemy.engine.base.Engine (646,)
2021-02-20 14:30:55,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,749 INFO sqlalchemy.engine.base.Engine (647,)
2021-02-20 14:30:55,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,752 INFO sqlalchemy.engine.base.Engine (648,)
2021-02-20 14:30:55,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,754 INFO sqlalchemy.engine.base.Engine (649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:55,796 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:55,797 INFO sqlalchemy.engine.base.Engine ('F14',)
2021-02-20 14:30:55,799 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,799 INFO sqlalchemy.engine.base.Engine ((650, 14.3, 14.3, 14.3, 152884.22600002537, 122583.90313904826), (651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.22600002537, 122583.90313904826), (652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.22600002537, 122583.90313904826), (653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.22600002537, 122583.90313904826), (654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.22600002537, 122583.90313904826), (655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.22600002537, 122583.90313904826), (656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.22600002537, 122583.90313904826), (657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152884.22600002537, 122583.90313904826)  ... displaying 10 of 50 total bound parameter sets ...  (698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152884.22600002537, 122583.90313904826), (699, 135.9, 135.9, 135.9, 152884.22600002537, 122583.90313904826))
2021-02-20 14:30:55,801 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,802 INFO sqlalchemy.engine.base.Engine ((325, 'F14', 0, 'Anhydrite', 650, 651), (326, 'F14', 1, 'Sandstone, grey, vf-f', 652, 653), (327, 'F14', 2, 'Anhydrite', 654, 655), (328, 'F14', 3, 'Dolomite', 656, 657), (329, 'F14', 4, 'Anhydrite', 658, 659), (330, 'F14', 5, 'Sandstone, grey, vf-f', 660, 661), (331, 'F14', 6, 'Siltstone, red', 662, 663), (332, 'F14', 7, 'Dolomite', 664, 665)  ... displaying 10 of 25 total bound parameter sets ...  (348, 'F14', 23, 'Limestone', 696, 697), (349, 'F14', 24, 'Volcanic', 698, 699))
2021-02-20 14:30:55,804 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:55,808 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:55,809 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:55,810 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:55,811 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:55,812 INFO sqlalchemy.engine.base.Engine ('F14',)
2021-02-20 14:30:55,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,816 INFO sqlalchemy.engine.base.Engine (650,)
2021-02-20 14:30:55,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,818 INFO sqlalchemy.engine.base.Engine (651,)
2021-02-20 14:30:55,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,823 INFO sqlalchemy.engine.base.Engine (652,)

2021-02-20 14:30:55,824 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,825 INFO sqlalchemy.engine.base.Engine (653,)
2021-02-20 14:30:55,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,828 INFO sqlalchemy.engine.base.Engine (654,)
2021-02-20 14:30:55,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,829 INFO sqlalchemy.engine.base.Engine (655,)
2021-02-20 14:30:55,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,833 INFO sqlalchemy.engine.base.Engine (656,)
2021-02-20 14:30:55,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,834 INFO sqlalchemy.engine.base.Engine (657,)
2021-02-20 14:30:55,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,838 INFO sqlalchemy.engine.base.Engine (658,)
2021-02-20 14:30:55,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,839 INFO sqlalchemy.engine.base.Engine (659,)
2021-02-20 14:30:55,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,844 INFO sqlalchemy.engine.base.Engine (660,)
2021-02-20 14:30:55,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,845 INFO sqlalchemy.engine.base.Engine (661,)
2021-02-20 14:30:55,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,849 INFO sqlalchemy.engine.base.Engine (662,)
2021-02-20 14:30:55,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,851 INFO sqlalchemy.engine.base.Engine (663,)
2021-02-20 14:30:55,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,854 INFO sqlalchemy.engine.base.Engine (664,)
2021-02-20 14:30:55,855 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,856 INFO sqlalchemy.engine.base.Engine (665,)
2021-02-20 14:30:55,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,859 INFO sqlalchemy.engine.base.Engine (666,)
2021-02-20 14:30:55,860 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,860 INFO sqlalchemy.engine.base.Engine (667,)
2021-02-20 14:30:55,863 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,863 INFO sqlalchemy.engine.base.Engine (668,)
2021-02-20 14:30:55,865 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,865 INFO sqlalchemy.engine.base.Engine (669,)
2021-02-20 14:30:55,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,869 INFO sqlalchemy.engine.base.Engine (670,)
2021-02-20 14:30:55,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,871 INFO sqlalchemy.engine.base.Engine (671,)
2021-02-20 14:30:55,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,874 INFO sqlalchemy.engine.base.Engine (672,)
2021-02-20 14:30:55,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,875 INFO sqlalchemy.engine.base.Engine (673,)
2021-02-20 14:30:55,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,878 INFO sqlalchemy.engine.base.Engine (674,)
2021-02-20 14:30:55,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,879 INFO sqlalchemy.engine.base.Engine (675,)
2021-02-20 14:30:55,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,882 INFO sqlalchemy.engine.base.Engine (676,)
2021-02-20 14:30:55,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,884 INFO sqlalchemy.engine.base.Engine (677,)
2021-02-20 14:30:55,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,886 INFO sqlalchemy.engine.base.Engine (678,)
2021-02-20 14:30:55,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,888 INFO sqlalchemy.engine.base.Engine (679,)
2021-02-20 14:30:55,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,892 INFO sqlalchemy.engine.base.Engine (680,)
2021-02-20 14:30:55,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,893 INFO sqlalchemy.engine.base.Engine (681,)
2021-02-20 14:30:55,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,896 INFO sqlalchemy.engine.base.Engine (682,)
2021-02-20 14:30:55,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,899 INFO sqlalchemy.engine.base.Engine (683,)
2021-02-20 14:30:55,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,902 INFO sqlalchemy.engine.base.Engine (684,)
2021-02-20 14:30:55,903 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,904 INFO sqlalchemy.engine.base.Engine (685,)
2021-02-20 14:30:55,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,906 INFO sqlalchemy.engine.base.Engine (686,)
2021-02-20 14:30:55,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,908 INFO sqlalchemy.engine.base.Engine (687,)
2021-02-20 14:30:55,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,911 INFO sqlalchemy.engine.base.Engine (688,)
2021-02-20 14:30:55,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,913 INFO sqlalchemy.engine.base.Engine (689,)
2021-02-20 14:30:55,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,917 INFO sqlalchemy.engine.base.Engine (690,)
2021-02-20 14:30:55,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,919 INFO sqlalchemy.engine.base.Engine (691,)
2021-02-20 14:30:55,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,923 INFO sqlalchemy.engine.base.Engine (692,)
2021-02-20 14:30:55,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,926 INFO sqlalchemy.engine.base.Engine (693,)
2021-02-20 14:30:55,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:55,932 INFO sqlalchemy.engine.base.Engine (694,)
2021-02-20 14:30:55,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,933 INFO sqlalchemy.engine.base.Engine (695,)
2021-02-20 14:30:55,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,937 INFO sqlalchemy.engine.base.Engine (696,)
2021-02-20 14:30:55,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,938 INFO sqlalchemy.engine.base.Engine (697,)
2021-02-20 14:30:55,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,942 INFO sqlalchemy.engine.base.Engine (698,)
2021-02-20 14:30:55,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:55,944 INFO sqlalchemy.engine.base.Engine (699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:55,990 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,991 INFO sqlalchemy.engine.base.Engine ((700, 14.3, 14.3, 14.3, 152888.80200002543, 122590.0531390477), (701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.80200002543, 122590.0531390477), (702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.80200002543, 122590.0531390477), (703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.80200002543, 122590.0531390477), (704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.80200002543, 122590.0531390477), (705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.80200002543, 122590.0531390477), (706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.80200002543, 122590.0531390477), (707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.80200002543, 122590.0531390477)  ... displaying 10 of 50 total bound parameter sets ...  (748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.80200002543, 122590.0531390477), (749, 135.9, 135.9, 135.9, 152888.80200002543, 122590.0531390477))
2021-02-20 14:30:55,992 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:55,993 INFO sqlalchemy.engine.base.Engine ('F15',)
2021-02-20 14:30:55,995 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:55,996 INFO sqlalchemy.engine.base.Engine ((350, 'F15', 0, 'Anhydrite', 700, 701), (351, 'F15', 1, 'Sandstone, grey, vf-f', 702, 703), (352, 'F15', 2, 'Anhydrite', 704, 705), (353, 'F15', 3, 'Dolomite', 706, 707), (354, 'F15', 4, 'Anhydrite', 708, 709), (355, 'F15', 5, 'Sandstone, grey, vf-f', 710, 711), (356, 'F15', 6, 'Siltstone, red', 712, 713), (357, 'F15', 7, 'Dolomite', 714, 715)  ... displaying 10 of 25 total bound parameter sets ...  (373, 'F15', 23, 'Limestone', 746, 747), (374, 'F15', 24, 'Volcanic', 748, 749))
2021-02-20 14:30:55,997 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:56,002 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:56,003 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:56,004 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:56,005 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:56,006 INFO sqlalchemy.engine.base.Engine ('F15',)
2021-02-20 14:30:56,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,009 INFO sqlalchemy.engine.base.Engine (700,)
2021-02-20 14:30:56,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,012 INFO sqlalchemy.engine.base.Engine (701,)
2021-02-20 14:30:56,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,015 INFO sqlalchemy.engine.base.Engine (702,)
2021-02-20 14:30:56,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,017 INFO sqlalchemy.engine.base.Engine (703,)
2021-02-20 14:30:56,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,021 INFO sqlalchemy.engine.base.Engine (704,)
2021-02-20 14:30:56,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,022 INFO sqlalchemy.engine.base.Engine (705,)
2021-02-20 14:30:56,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,025 INFO sqlalchemy.engine.base.Engine (706,)
2021-02-20 14:30:56,026 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,027 INFO sqlalchemy.engine.base.Engine (707,)
2021-02-20 14:30:56,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,029 INFO sqlalchemy.engine.base.Engine (708,)
2021-02-20 14:30:56,030 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,030 INFO sqlalchemy.engine.base.Engine (709,)
2021-02-20 14:30:56,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,034 INFO sqlalchemy.engine.base.Engine (710,)
2021-02-20 14:30:56,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,035 INFO sqlalchemy.engine.base.Engine (711,)
2021-02-20 14:30:56,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,037 INFO sqlalchemy.engine.base.Engine (712,)
2021-02-20 14:30:56,038 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,039 INFO sqlalchemy.engine.base.Engine (713,)
2021-02-20 14:30:56,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,041 INFO sqlalchemy.engine.base.Engine (714,)
2021-02-20 14:30:56,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,043 INFO sqlalchemy.engine.base.Engine (715,)
2021-02-20 14:30:56,046 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,047 INFO sqlalchemy.engine.base.Engine (716,)
2021-02-20 14:30:56,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,049 INFO sqlalchemy.engine.base.Engine (717,)
2021-02-20 14:30:56,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,052 INFO sqlalchemy.engine.base.Engine (718,)
2021-02-20 14:30:56,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,054 INFO sqlalchemy.engine.base.Engine (719,)
2021-02-20 14:30:56,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,056 INFO sqlalchemy.engine.base.Engine (720,)
2021-02-20 14:30:56,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,058 INFO sqlalchemy.engine.base.Engine (721,)
2021-02-20 14:30:56,060 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,060 INFO sqlalchemy.engine.base.Engine (722,)
2021-02-20 14:30:56,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,062 INFO sqlalchemy.engine.base.Engine (723,)
2021-02-20 14:30:56,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,065 INFO sqlalchemy.engine.base.Engine (724,)
2021-02-20 14:30:56,066 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,066 INFO sqlalchemy.engine.base.Engine (725,)
2021-02-20 14:30:56,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,069 INFO sqlalchemy.engine.base.Engine (726,)
2021-02-20 14:30:56,070 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,071 INFO sqlalchemy.engine.base.Engine (727,)
2021-02-20 14:30:56,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,075 INFO sqlalchemy.engine.base.Engine (728,)
2021-02-20 14:30:56,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,077 INFO sqlalchemy.engine.base.Engine (729,)
2021-02-20 14:30:56,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,080 INFO sqlalchemy.engine.base.Engine (730,)
2021-02-20 14:30:56,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,082 INFO sqlalchemy.engine.base.Engine (731,)
2021-02-20 14:30:56,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,084 INFO sqlalchemy.engine.base.Engine (732,)
2021-02-20 14:30:56,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,086 INFO sqlalchemy.engine.base.Engine (733,)
2021-02-20 14:30:56,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,088 INFO sqlalchemy.engine.base.Engine (734,)
2021-02-20 14:30:56,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,090 INFO sqlalchemy.engine.base.Engine (735,)
2021-02-20 14:30:56,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,093 INFO sqlalchemy.engine.base.Engine (736,)
2021-02-20 14:30:56,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,095 INFO sqlalchemy.engine.base.Engine (737,)
2021-02-20 14:30:56,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,099 INFO sqlalchemy.engine.base.Engine (738,)
2021-02-20 14:30:56,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,101 INFO sqlalchemy.engine.base.Engine (739,)
2021-02-20 14:30:56,104 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,105 INFO sqlalchemy.engine.base.Engine (740,)
2021-02-20 14:30:56,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,108 INFO sqlalchemy.engine.base.Engine (741,)
2021-02-20 14:30:56,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,111 INFO sqlalchemy.engine.base.Engine (742,)
2021-02-20 14:30:56,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,113 INFO sqlalchemy.engine.base.Engine (743,)
2021-02-20 14:30:56,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,116 INFO sqlalchemy.engine.base.Engine (744,)
2021-02-20 14:30:56,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,117 INFO sqlalchemy.engine.base.Engine (745,)
2021-02-20 14:30:56,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,119 INFO sqlalchemy.engine.base.Engine (746,)
2021-02-20 14:30:56,121 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,121 INFO sqlalchemy.engine.base.Engine (747,)
2021-02-20 14:30:56,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,123 INFO sqlalchemy.engine.base.Engine (748,)
2021-02-20 14:30:56,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,125 INFO sqlalchemy.engine.base.Engine (749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:56,169 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)

2021-02-20 14:30:56,169 INFO sqlalchemy.engine.base.Engine ((750, 14.3, 14.3, 14.3, 152886.53400002536, 122588.83313904704), (751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.53400002536, 122588.83313904704), (752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.53400002536, 122588.83313904704), (753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.53400002536, 122588.83313904704), (754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.53400002536, 122588.83313904704), (755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.53400002536, 122588.83313904704), (756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.53400002536, 122588.83313904704), (757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.53400002536, 122588.83313904704)  ... displaying 10 of 50 total bound parameter sets ...  (798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.53400002536, 122588.83313904704), (799, 135.9, 135.9, 135.9, 152886.53400002536, 122588.83313904704))
2021-02-20 14:30:56,171 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:56,171 INFO sqlalchemy.engine.base.Engine ('F16',)
2021-02-20 14:30:56,173 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,173 INFO sqlalchemy.engine.base.Engine ((375, 'F16', 0, 'Anhydrite', 750, 751), (376, 'F16', 1, 'Sandstone, grey, vf-f', 752, 753), (377, 'F16', 2, 'Anhydrite', 754, 755), (378, 'F16', 3, 'Dolomite', 756, 757), (379, 'F16', 4, 'Anhydrite', 758, 759), (380, 'F16', 5, 'Sandstone, grey, vf-f', 760, 761), (381, 'F16', 6, 'Siltstone, red', 762, 763), (382, 'F16', 7, 'Dolomite', 764, 765)  ... displaying 10 of 25 total bound parameter sets ...  (398, 'F16', 23, 'Limestone', 796, 797), (399, 'F16', 24, 'Volcanic', 798, 799))
2021-02-20 14:30:56,174 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:56,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:56,179 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:56,180 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:56,181 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:56,181 INFO sqlalchemy.engine.base.Engine ('F16',)
2021-02-20 14:30:56,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,183 INFO sqlalchemy.engine.base.Engine (750,)
2021-02-20 14:30:56,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,185 INFO sqlalchemy.engine.base.Engine (751,)
2021-02-20 14:30:56,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,189 INFO sqlalchemy.engine.base.Engine (752,)
2021-02-20 14:30:56,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,191 INFO sqlalchemy.engine.base.Engine (753,)
2021-02-20 14:30:56,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,193 INFO sqlalchemy.engine.base.Engine (754,)
2021-02-20 14:30:56,194 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,195 INFO sqlalchemy.engine.base.Engine (755,)
2021-02-20 14:30:56,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,197 INFO sqlalchemy.engine.base.Engine (756,)
2021-02-20 14:30:56,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,198 INFO sqlalchemy.engine.base.Engine (757,)
2021-02-20 14:30:56,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,200 INFO sqlalchemy.engine.base.Engine (758,)
2021-02-20 14:30:56,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,202 INFO sqlalchemy.engine.base.Engine (759,)
2021-02-20 14:30:56,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,204 INFO sqlalchemy.engine.base.Engine (760,)
2021-02-20 14:30:56,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,205 INFO sqlalchemy.engine.base.Engine (761,)
2021-02-20 14:30:56,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,208 INFO sqlalchemy.engine.base.Engine (762,)
2021-02-20 14:30:56,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,209 INFO sqlalchemy.engine.base.Engine (763,)
2021-02-20 14:30:56,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,212 INFO sqlalchemy.engine.base.Engine (764,)
2021-02-20 14:30:56,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,213 INFO sqlalchemy.engine.base.Engine (765,)
2021-02-20 14:30:56,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,215 INFO sqlalchemy.engine.base.Engine (766,)
2021-02-20 14:30:56,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,217 INFO sqlalchemy.engine.base.Engine (767,)
2021-02-20 14:30:56,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,219 INFO sqlalchemy.engine.base.Engine (768,)
2021-02-20 14:30:56,220 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,220 INFO sqlalchemy.engine.base.Engine (769,)
2021-02-20 14:30:56,222 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,223 INFO sqlalchemy.engine.base.Engine (770,)
2021-02-20 14:30:56,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,225 INFO sqlalchemy.engine.base.Engine (771,)
2021-02-20 14:30:56,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,227 INFO sqlalchemy.engine.base.Engine (772,)
2021-02-20 14:30:56,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,228 INFO sqlalchemy.engine.base.Engine (773,)
2021-02-20 14:30:56,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,230 INFO sqlalchemy.engine.base.Engine (774,)
2021-02-20 14:30:56,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,232 INFO sqlalchemy.engine.base.Engine (775,)
2021-02-20 14:30:56,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,234 INFO sqlalchemy.engine.base.Engine (776,)
2021-02-20 14:30:56,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,235 INFO sqlalchemy.engine.base.Engine (777,)
2021-02-20 14:30:56,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,238 INFO sqlalchemy.engine.base.Engine (778,)
2021-02-20 14:30:56,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,240 INFO sqlalchemy.engine.base.Engine (779,)
2021-02-20 14:30:56,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,242 INFO sqlalchemy.engine.base.Engine (780,)
2021-02-20 14:30:56,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,243 INFO sqlalchemy.engine.base.Engine (781,)
2021-02-20 14:30:56,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,245 INFO sqlalchemy.engine.base.Engine (782,)
2021-02-20 14:30:56,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,246 INFO sqlalchemy.engine.base.Engine (783,)
2021-02-20 14:30:56,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,249 INFO sqlalchemy.engine.base.Engine (784,)
2021-02-20 14:30:56,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,251 INFO sqlalchemy.engine.base.Engine (785,)
2021-02-20 14:30:56,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,254 INFO sqlalchemy.engine.base.Engine (786,)
2021-02-20 14:30:56,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,256 INFO sqlalchemy.engine.base.Engine (787,)
2021-02-20 14:30:56,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,261 INFO sqlalchemy.engine.base.Engine (788,)
2021-02-20 14:30:56,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,263 INFO sqlalchemy.engine.base.Engine (789,)
2021-02-20 14:30:56,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,267 INFO sqlalchemy.engine.base.Engine (790,)
2021-02-20 14:30:56,268 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,269 INFO sqlalchemy.engine.base.Engine (791,)
2021-02-20 14:30:56,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,273 INFO sqlalchemy.engine.base.Engine (792,)
2021-02-20 14:30:56,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,276 INFO sqlalchemy.engine.base.Engine (793,)
2021-02-20 14:30:56,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,280 INFO sqlalchemy.engine.base.Engine (794,)
2021-02-20 14:30:56,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,281 INFO sqlalchemy.engine.base.Engine (795,)
2021-02-20 14:30:56,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,283 INFO sqlalchemy.engine.base.Engine (796,)
2021-02-20 14:30:56,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,285 INFO sqlalchemy.engine.base.Engine (797,)
2021-02-20 14:30:56,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,289 INFO sqlalchemy.engine.base.Engine (798,)
2021-02-20 14:30:56,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,291 INFO sqlalchemy.engine.base.Engine (799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:56,335 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,336 INFO sqlalchemy.engine.base.Engine ((800, 14.3, 14.3, 14.3, 152885.4830000254, 122590.19413904846), (801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.4830000254, 122590.19413904846), (802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.4830000254, 122590.19413904846), (803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.4830000254, 122590.19413904846), (804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.4830000254, 122590.19413904846), (805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.4830000254, 122590.19413904846), (806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.4830000254, 122590.19413904846), (807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.4830000254, 122590.19413904846)  ... displaying 10 of 50 total bound parameter sets ...  (848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.4830000254, 122590.19413904846), (849, 135.9, 135.9, 135.9, 152885.4830000254, 122590.19413904846))
2021-02-20 14:30:56,338 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:56,338 INFO sqlalchemy.engine.base.Engine ('F17',)
2021-02-20 14:30:56,341 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,341 INFO sqlalchemy.engine.base.Engine ((400, 'F17', 0, 'Anhydrite', 800, 801), (401, 'F17', 1, 'Sandstone, grey, vf-f', 802, 803), (402, 'F17', 2, 'Anhydrite', 804, 805), (403, 'F17', 3, 'Dolomite', 806, 807), (404, 'F17', 4, 'Anhydrite', 808, 809), (405, 'F17', 5, 'Sandstone, grey, vf-f', 810, 811), (406, 'F17', 6, 'Siltstone, red', 812, 813), (407, 'F17', 7, 'Dolomite', 814, 815)  ... displaying 10 of 25 total bound parameter sets ...  (423, 'F17', 23, 'Limestone', 846, 847), (424, 'F17', 24, 'Volcanic', 848, 849))

2021-02-20 14:30:56,343 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:56,348 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:56,349 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:56,350 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:56,352 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:56,353 INFO sqlalchemy.engine.base.Engine ('F17',)
2021-02-20 14:30:56,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,355 INFO sqlalchemy.engine.base.Engine (800,)
2021-02-20 14:30:56,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,357 INFO sqlalchemy.engine.base.Engine (801,)
2021-02-20 14:30:56,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,361 INFO sqlalchemy.engine.base.Engine (802,)
2021-02-20 14:30:56,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,362 INFO sqlalchemy.engine.base.Engine (803,)
2021-02-20 14:30:56,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,365 INFO sqlalchemy.engine.base.Engine (804,)
2021-02-20 14:30:56,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,367 INFO sqlalchemy.engine.base.Engine (805,)
2021-02-20 14:30:56,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,369 INFO sqlalchemy.engine.base.Engine (806,)
2021-02-20 14:30:56,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,371 INFO sqlalchemy.engine.base.Engine (807,)
2021-02-20 14:30:56,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,375 INFO sqlalchemy.engine.base.Engine (808,)
2021-02-20 14:30:56,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,377 INFO sqlalchemy.engine.base.Engine (809,)
2021-02-20 14:30:56,380 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,381 INFO sqlalchemy.engine.base.Engine (810,)
2021-02-20 14:30:56,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,383 INFO sqlalchemy.engine.base.Engine (811,)
2021-02-20 14:30:56,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,387 INFO sqlalchemy.engine.base.Engine (812,)
2021-02-20 14:30:56,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,389 INFO sqlalchemy.engine.base.Engine (813,)
2021-02-20 14:30:56,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,392 INFO sqlalchemy.engine.base.Engine (814,)
2021-02-20 14:30:56,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,394 INFO sqlalchemy.engine.base.Engine (815,)
2021-02-20 14:30:56,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,397 INFO sqlalchemy.engine.base.Engine (816,)
2021-02-20 14:30:56,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,399 INFO sqlalchemy.engine.base.Engine (817,)
2021-02-20 14:30:56,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,403 INFO sqlalchemy.engine.base.Engine (818,)
2021-02-20 14:30:56,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,405 INFO sqlalchemy.engine.base.Engine (819,)
2021-02-20 14:30:56,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,409 INFO sqlalchemy.engine.base.Engine (820,)
2021-02-20 14:30:56,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,411 INFO sqlalchemy.engine.base.Engine (821,)
2021-02-20 14:30:56,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,415 INFO sqlalchemy.engine.base.Engine (822,)
2021-02-20 14:30:56,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,417 INFO sqlalchemy.engine.base.Engine (823,)
2021-02-20 14:30:56,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,421 INFO sqlalchemy.engine.base.Engine (824,)
2021-02-20 14:30:56,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,422 INFO sqlalchemy.engine.base.Engine (825,)
2021-02-20 14:30:56,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,426 INFO sqlalchemy.engine.base.Engine (826,)
2021-02-20 14:30:56,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,428 INFO sqlalchemy.engine.base.Engine (827,)
2021-02-20 14:30:56,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,431 INFO sqlalchemy.engine.base.Engine (828,)
2021-02-20 14:30:56,432 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,433 INFO sqlalchemy.engine.base.Engine (829,)
2021-02-20 14:30:56,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,435 INFO sqlalchemy.engine.base.Engine (830,)
2021-02-20 14:30:56,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,437 INFO sqlalchemy.engine.base.Engine (831,)
2021-02-20 14:30:56,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,439 INFO sqlalchemy.engine.base.Engine (832,)
2021-02-20 14:30:56,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,442 INFO sqlalchemy.engine.base.Engine (833,)
2021-02-20 14:30:56,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,445 INFO sqlalchemy.engine.base.Engine (834,)
2021-02-20 14:30:56,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,447 INFO sqlalchemy.engine.base.Engine (835,)
2021-02-20 14:30:56,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,451 INFO sqlalchemy.engine.base.Engine (836,)
2021-02-20 14:30:56,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,453 INFO sqlalchemy.engine.base.Engine (837,)
2021-02-20 14:30:56,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,456 INFO sqlalchemy.engine.base.Engine (838,)
2021-02-20 14:30:56,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,457 INFO sqlalchemy.engine.base.Engine (839,)
2021-02-20 14:30:56,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,460 INFO sqlalchemy.engine.base.Engine (840,)
2021-02-20 14:30:56,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,462 INFO sqlalchemy.engine.base.Engine (841,)
2021-02-20 14:30:56,466 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,466 INFO sqlalchemy.engine.base.Engine (842,)
2021-02-20 14:30:56,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,468 INFO sqlalchemy.engine.base.Engine (843,)
2021-02-20 14:30:56,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,471 INFO sqlalchemy.engine.base.Engine (844,)
2021-02-20 14:30:56,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,472 INFO sqlalchemy.engine.base.Engine (845,)
2021-02-20 14:30:56,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,475 INFO sqlalchemy.engine.base.Engine (846,)
2021-02-20 14:30:56,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,477 INFO sqlalchemy.engine.base.Engine (847,)
2021-02-20 14:30:56,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,481 INFO sqlalchemy.engine.base.Engine (848,)
2021-02-20 14:30:56,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,483 INFO sqlalchemy.engine.base.Engine (849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:56,530 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,531 INFO sqlalchemy.engine.base.Engine ((850, 14.3, 14.3, 14.3, 152888.76800002545, 122585.85713904724), (851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.76800002545, 122585.85713904724), (852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.76800002545, 122585.85713904724), (853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.76800002545, 122585.85713904724), (854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.76800002545, 122585.85713904724), (855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.76800002545, 122585.85713904724), (856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.76800002545, 122585.85713904724), (857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.76800002545, 122585.85713904724)  ... displaying 10 of 50 total bound parameter sets ...  (898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.76800002545, 122585.85713904724), (899, 135.9, 135.9, 135.9, 152888.76800002545, 122585.85713904724))
2021-02-20 14:30:56,532 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:56,533 INFO sqlalchemy.engine.base.Engine ('F18',)
2021-02-20 14:30:56,535 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,535 INFO sqlalchemy.engine.base.Engine ((425, 'F18', 0, 'Anhydrite', 850, 851), (426, 'F18', 1, 'Sandstone, grey, vf-f', 852, 853), (427, 'F18', 2, 'Anhydrite', 854, 855), (428, 'F18', 3, 'Dolomite', 856, 857), (429, 'F18', 4, 'Anhydrite', 858, 859), (430, 'F18', 5, 'Sandstone, grey, vf-f', 860, 861), (431, 'F18', 6, 'Siltstone, red', 862, 863), (432, 'F18', 7, 'Dolomite', 864, 865)  ... displaying 10 of 25 total bound parameter sets ...  (448, 'F18', 23, 'Limestone', 896, 897), (449, 'F18', 24, 'Volcanic', 898, 899))
2021-02-20 14:30:56,536 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:56,542 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:56,544 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:56,544 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:56,546 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:56,547 INFO sqlalchemy.engine.base.Engine ('F18',)
2021-02-20 14:30:56,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,549 INFO sqlalchemy.engine.base.Engine (850,)
2021-02-20 14:30:56,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,551 INFO sqlalchemy.engine.base.Engine (851,)
2021-02-20 14:30:56,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,556 INFO sqlalchemy.engine.base.Engine (852,)

2021-02-20 14:30:56,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,558 INFO sqlalchemy.engine.base.Engine (853,)
2021-02-20 14:30:56,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,562 INFO sqlalchemy.engine.base.Engine (854,)
2021-02-20 14:30:56,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,565 INFO sqlalchemy.engine.base.Engine (855,)
2021-02-20 14:30:56,567 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,567 INFO sqlalchemy.engine.base.Engine (856,)
2021-02-20 14:30:56,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,569 INFO sqlalchemy.engine.base.Engine (857,)
2021-02-20 14:30:56,570 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,571 INFO sqlalchemy.engine.base.Engine (858,)
2021-02-20 14:30:56,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,572 INFO sqlalchemy.engine.base.Engine (859,)
2021-02-20 14:30:56,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,574 INFO sqlalchemy.engine.base.Engine (860,)
2021-02-20 14:30:56,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,576 INFO sqlalchemy.engine.base.Engine (861,)
2021-02-20 14:30:56,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,578 INFO sqlalchemy.engine.base.Engine (862,)
2021-02-20 14:30:56,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,579 INFO sqlalchemy.engine.base.Engine (863,)
2021-02-20 14:30:56,581 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,581 INFO sqlalchemy.engine.base.Engine (864,)
2021-02-20 14:30:56,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,583 INFO sqlalchemy.engine.base.Engine (865,)
2021-02-20 14:30:56,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,585 INFO sqlalchemy.engine.base.Engine (866,)
2021-02-20 14:30:56,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,586 INFO sqlalchemy.engine.base.Engine (867,)
2021-02-20 14:30:56,588 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,588 INFO sqlalchemy.engine.base.Engine (868,)
2021-02-20 14:30:56,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,589 INFO sqlalchemy.engine.base.Engine (869,)
2021-02-20 14:30:56,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,591 INFO sqlalchemy.engine.base.Engine (870,)
2021-02-20 14:30:56,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,593 INFO sqlalchemy.engine.base.Engine (871,)
2021-02-20 14:30:56,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,595 INFO sqlalchemy.engine.base.Engine (872,)
2021-02-20 14:30:56,595 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,596 INFO sqlalchemy.engine.base.Engine (873,)
2021-02-20 14:30:56,597 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,598 INFO sqlalchemy.engine.base.Engine (874,)
2021-02-20 14:30:56,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,599 INFO sqlalchemy.engine.base.Engine (875,)
2021-02-20 14:30:56,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,601 INFO sqlalchemy.engine.base.Engine (876,)
2021-02-20 14:30:56,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,602 INFO sqlalchemy.engine.base.Engine (877,)
2021-02-20 14:30:56,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,605 INFO sqlalchemy.engine.base.Engine (878,)
2021-02-20 14:30:56,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,606 INFO sqlalchemy.engine.base.Engine (879,)
2021-02-20 14:30:56,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,609 INFO sqlalchemy.engine.base.Engine (880,)
2021-02-20 14:30:56,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,610 INFO sqlalchemy.engine.base.Engine (881,)
2021-02-20 14:30:56,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,612 INFO sqlalchemy.engine.base.Engine (882,)
2021-02-20 14:30:56,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,613 INFO sqlalchemy.engine.base.Engine (883,)
2021-02-20 14:30:56,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,615 INFO sqlalchemy.engine.base.Engine (884,)
2021-02-20 14:30:56,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,617 INFO sqlalchemy.engine.base.Engine (885,)
2021-02-20 14:30:56,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,619 INFO sqlalchemy.engine.base.Engine (886,)
2021-02-20 14:30:56,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,620 INFO sqlalchemy.engine.base.Engine (887,)
2021-02-20 14:30:56,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,623 INFO sqlalchemy.engine.base.Engine (888,)
2021-02-20 14:30:56,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,624 INFO sqlalchemy.engine.base.Engine (889,)
2021-02-20 14:30:56,626 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,627 INFO sqlalchemy.engine.base.Engine (890,)
2021-02-20 14:30:56,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,629 INFO sqlalchemy.engine.base.Engine (891,)
2021-02-20 14:30:56,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,632 INFO sqlalchemy.engine.base.Engine (892,)
2021-02-20 14:30:56,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,635 INFO sqlalchemy.engine.base.Engine (893,)
2021-02-20 14:30:56,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,637 INFO sqlalchemy.engine.base.Engine (894,)
2021-02-20 14:30:56,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,638 INFO sqlalchemy.engine.base.Engine (895,)
2021-02-20 14:30:56,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,641 INFO sqlalchemy.engine.base.Engine (896,)
2021-02-20 14:30:56,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,642 INFO sqlalchemy.engine.base.Engine (897,)
2021-02-20 14:30:56,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,644 INFO sqlalchemy.engine.base.Engine (898,)
2021-02-20 14:30:56,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,646 INFO sqlalchemy.engine.base.Engine (899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:56,689 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:56,689 INFO sqlalchemy.engine.base.Engine ('F19',)
2021-02-20 14:30:56,691 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,692 INFO sqlalchemy.engine.base.Engine ((900, 14.3, 14.3, 14.3, 152885.03158300993, 122585.3671309175), (901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.03158300993, 122585.3671309175), (902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.03158300993, 122585.3671309175), (903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.03158300993, 122585.3671309175), (904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.03158300993, 122585.3671309175), (905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.03158300993, 122585.3671309175), (906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.03158300993, 122585.3671309175), (907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.03158300993, 122585.3671309175)  ... displaying 10 of 50 total bound parameter sets ...  (948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.03158300993, 122585.3671309175), (949, 135.9, 135.9, 135.9, 152885.03158300993, 122585.3671309175))
2021-02-20 14:30:56,694 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,694 INFO sqlalchemy.engine.base.Engine ((450, 'F19', 0, 'Anhydrite', 900, 901), (451, 'F19', 1, 'Sandstone, grey, vf-f', 902, 903), (452, 'F19', 2, 'Anhydrite', 904, 905), (453, 'F19', 3, 'Dolomite', 906, 907), (454, 'F19', 4, 'Anhydrite', 908, 909), (455, 'F19', 5, 'Sandstone, grey, vf-f', 910, 911), (456, 'F19', 6, 'Siltstone, red', 912, 913), (457, 'F19', 7, 'Dolomite', 914, 915)  ... displaying 10 of 25 total bound parameter sets ...  (473, 'F19', 23, 'Limestone', 946, 947), (474, 'F19', 24, 'Volcanic', 948, 949))
2021-02-20 14:30:56,695 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:56,699 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:56,700 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:56,700 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:56,701 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:56,702 INFO sqlalchemy.engine.base.Engine ('F19',)
2021-02-20 14:30:56,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,703 INFO sqlalchemy.engine.base.Engine (900,)
2021-02-20 14:30:56,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,705 INFO sqlalchemy.engine.base.Engine (901,)
2021-02-20 14:30:56,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,709 INFO sqlalchemy.engine.base.Engine (902,)
2021-02-20 14:30:56,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,711 INFO sqlalchemy.engine.base.Engine (903,)
2021-02-20 14:30:56,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,714 INFO sqlalchemy.engine.base.Engine (904,)
2021-02-20 14:30:56,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,715 INFO sqlalchemy.engine.base.Engine (905,)
2021-02-20 14:30:56,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,717 INFO sqlalchemy.engine.base.Engine (906,)
2021-02-20 14:30:56,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,718 INFO sqlalchemy.engine.base.Engine (907,)
2021-02-20 14:30:56,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,721 INFO sqlalchemy.engine.base.Engine (908,)
2021-02-20 14:30:56,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,722 INFO sqlalchemy.engine.base.Engine (909,)
2021-02-20 14:30:56,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,724 INFO sqlalchemy.engine.base.Engine (910,)
2021-02-20 14:30:56,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,725 INFO sqlalchemy.engine.base.Engine (911,)
2021-02-20 14:30:56,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,728 INFO sqlalchemy.engine.base.Engine (912,)
2021-02-20 14:30:56,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,729 INFO sqlalchemy.engine.base.Engine (913,)
2021-02-20 14:30:56,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,731 INFO sqlalchemy.engine.base.Engine (914,)
2021-02-20 14:30:56,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,733 INFO sqlalchemy.engine.base.Engine (915,)
2021-02-20 14:30:56,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,736 INFO sqlalchemy.engine.base.Engine (916,)
2021-02-20 14:30:56,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,737 INFO sqlalchemy.engine.base.Engine (917,)
2021-02-20 14:30:56,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,739 INFO sqlalchemy.engine.base.Engine (918,)
2021-02-20 14:30:56,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,741 INFO sqlalchemy.engine.base.Engine (919,)
2021-02-20 14:30:56,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,743 INFO sqlalchemy.engine.base.Engine (920,)
2021-02-20 14:30:56,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,745 INFO sqlalchemy.engine.base.Engine (921,)
2021-02-20 14:30:56,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,747 INFO sqlalchemy.engine.base.Engine (922,)
2021-02-20 14:30:56,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,748 INFO sqlalchemy.engine.base.Engine (923,)
2021-02-20 14:30:56,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,751 INFO sqlalchemy.engine.base.Engine (924,)
2021-02-20 14:30:56,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,753 INFO sqlalchemy.engine.base.Engine (925,)
2021-02-20 14:30:56,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,756 INFO sqlalchemy.engine.base.Engine (926,)
2021-02-20 14:30:56,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,757 INFO sqlalchemy.engine.base.Engine (927,)
2021-02-20 14:30:56,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,759 INFO sqlalchemy.engine.base.Engine (928,)
2021-02-20 14:30:56,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,761 INFO sqlalchemy.engine.base.Engine (929,)
2021-02-20 14:30:56,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,763 INFO sqlalchemy.engine.base.Engine (930,)
2021-02-20 14:30:56,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,765 INFO sqlalchemy.engine.base.Engine (931,)
2021-02-20 14:30:56,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,767 INFO sqlalchemy.engine.base.Engine (932,)
2021-02-20 14:30:56,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,769 INFO sqlalchemy.engine.base.Engine (933,)
2021-02-20 14:30:56,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,771 INFO sqlalchemy.engine.base.Engine (934,)
2021-02-20 14:30:56,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,772 INFO sqlalchemy.engine.base.Engine (935,)
2021-02-20 14:30:56,774 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,775 INFO sqlalchemy.engine.base.Engine (936,)
2021-02-20 14:30:56,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,776 INFO sqlalchemy.engine.base.Engine (937,)
2021-02-20 14:30:56,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,778 INFO sqlalchemy.engine.base.Engine (938,)
2021-02-20 14:30:56,780 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,780 INFO sqlalchemy.engine.base.Engine (939,)
2021-02-20 14:30:56,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,784 INFO sqlalchemy.engine.base.Engine (940,)
2021-02-20 14:30:56,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,785 INFO sqlalchemy.engine.base.Engine (941,)
2021-02-20 14:30:56,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,788 INFO sqlalchemy.engine.base.Engine (942,)
2021-02-20 14:30:56,789 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,790 INFO sqlalchemy.engine.base.Engine (943,)
2021-02-20 14:30:56,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,793 INFO sqlalchemy.engine.base.Engine (944,)
2021-02-20 14:30:56,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,795 INFO sqlalchemy.engine.base.Engine (945,)
2021-02-20 14:30:56,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,799 INFO sqlalchemy.engine.base.Engine (946,)
2021-02-20 14:30:56,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,801 INFO sqlalchemy.engine.base.Engine (947,)
2021-02-20 14:30:56,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,806 INFO sqlalchemy.engine.base.Engine (948,)
2021-02-20 14:30:56,808 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,808 INFO sqlalchemy.engine.base.Engine (949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:56,854 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)

2021-02-20 14:30:56,854 INFO sqlalchemy.engine.base.Engine ((950, 14.3, 14.3, 14.3, 152890.6620000255, 122587.51713904738), (951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.6620000255, 122587.51713904738), (952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.6620000255, 122587.51713904738), (953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.6620000255, 122587.51713904738), (954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.6620000255, 122587.51713904738), (955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.6620000255, 122587.51713904738), (956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.6620000255, 122587.51713904738), (957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152890.6620000255, 122587.51713904738)  ... displaying 10 of 50 total bound parameter sets ...  (998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152890.6620000255, 122587.51713904738), (999, 135.9, 135.9, 135.9, 152890.6620000255, 122587.51713904738))
2021-02-20 14:30:56,856 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:56,856 INFO sqlalchemy.engine.base.Engine ('F20',)
2021-02-20 14:30:56,858 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:56,858 INFO sqlalchemy.engine.base.Engine ((475, 'F20', 0, 'Anhydrite', 950, 951), (476, 'F20', 1, 'Sandstone, grey, vf-f', 952, 953), (477, 'F20', 2, 'Anhydrite', 954, 955), (478, 'F20', 3, 'Dolomite', 956, 957), (479, 'F20', 4, 'Anhydrite', 958, 959), (480, 'F20', 5, 'Sandstone, grey, vf-f', 960, 961), (481, 'F20', 6, 'Siltstone, red', 962, 963), (482, 'F20', 7, 'Dolomite', 964, 965)  ... displaying 10 of 25 total bound parameter sets ...  (498, 'F20', 23, 'Limestone', 996, 997), (499, 'F20', 24, 'Volcanic', 998, 999))
2021-02-20 14:30:56,860 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:56,863 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:56,864 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:56,864 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:56,866 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:56,867 INFO sqlalchemy.engine.base.Engine ('F20',)
2021-02-20 14:30:56,869 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,870 INFO sqlalchemy.engine.base.Engine (950,)
2021-02-20 14:30:56,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,872 INFO sqlalchemy.engine.base.Engine (951,)
2021-02-20 14:30:56,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,875 INFO sqlalchemy.engine.base.Engine (952,)
2021-02-20 14:30:56,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,876 INFO sqlalchemy.engine.base.Engine (953,)
2021-02-20 14:30:56,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,878 INFO sqlalchemy.engine.base.Engine (954,)
2021-02-20 14:30:56,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,880 INFO sqlalchemy.engine.base.Engine (955,)
2021-02-20 14:30:56,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,883 INFO sqlalchemy.engine.base.Engine (956,)
2021-02-20 14:30:56,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,884 INFO sqlalchemy.engine.base.Engine (957,)
2021-02-20 14:30:56,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,886 INFO sqlalchemy.engine.base.Engine (958,)
2021-02-20 14:30:56,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,887 INFO sqlalchemy.engine.base.Engine (959,)
2021-02-20 14:30:56,889 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,890 INFO sqlalchemy.engine.base.Engine (960,)
2021-02-20 14:30:56,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,891 INFO sqlalchemy.engine.base.Engine (961,)
2021-02-20 14:30:56,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,895 INFO sqlalchemy.engine.base.Engine (962,)
2021-02-20 14:30:56,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,897 INFO sqlalchemy.engine.base.Engine (963,)
2021-02-20 14:30:56,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,899 INFO sqlalchemy.engine.base.Engine (964,)
2021-02-20 14:30:56,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,902 INFO sqlalchemy.engine.base.Engine (965,)
2021-02-20 14:30:56,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,905 INFO sqlalchemy.engine.base.Engine (966,)
2021-02-20 14:30:56,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,907 INFO sqlalchemy.engine.base.Engine (967,)
2021-02-20 14:30:56,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,911 INFO sqlalchemy.engine.base.Engine (968,)
2021-02-20 14:30:56,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,913 INFO sqlalchemy.engine.base.Engine (969,)
2021-02-20 14:30:56,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,917 INFO sqlalchemy.engine.base.Engine (970,)
2021-02-20 14:30:56,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,919 INFO sqlalchemy.engine.base.Engine (971,)
2021-02-20 14:30:56,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,923 INFO sqlalchemy.engine.base.Engine (972,)
2021-02-20 14:30:56,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,925 INFO sqlalchemy.engine.base.Engine (973,)
2021-02-20 14:30:56,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,928 INFO sqlalchemy.engine.base.Engine (974,)
2021-02-20 14:30:56,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,929 INFO sqlalchemy.engine.base.Engine (975,)
2021-02-20 14:30:56,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,932 INFO sqlalchemy.engine.base.Engine (976,)
2021-02-20 14:30:56,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,933 INFO sqlalchemy.engine.base.Engine (977,)
2021-02-20 14:30:56,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,936 INFO sqlalchemy.engine.base.Engine (978,)
2021-02-20 14:30:56,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,937 INFO sqlalchemy.engine.base.Engine (979,)
2021-02-20 14:30:56,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,939 INFO sqlalchemy.engine.base.Engine (980,)
2021-02-20 14:30:56,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,941 INFO sqlalchemy.engine.base.Engine (981,)
2021-02-20 14:30:56,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,944 INFO sqlalchemy.engine.base.Engine (982,)
2021-02-20 14:30:56,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,946 INFO sqlalchemy.engine.base.Engine (983,)
2021-02-20 14:30:56,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:56,948 INFO sqlalchemy.engine.base.Engine (984,)
2021-02-20 14:30:56,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,949 INFO sqlalchemy.engine.base.Engine (985,)
2021-02-20 14:30:56,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,952 INFO sqlalchemy.engine.base.Engine (986,)
2021-02-20 14:30:56,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,953 INFO sqlalchemy.engine.base.Engine (987,)
2021-02-20 14:30:56,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,956 INFO sqlalchemy.engine.base.Engine (988,)
2021-02-20 14:30:56,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,957 INFO sqlalchemy.engine.base.Engine (989,)
2021-02-20 14:30:56,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,960 INFO sqlalchemy.engine.base.Engine (990,)
2021-02-20 14:30:56,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,962 INFO sqlalchemy.engine.base.Engine (991,)
2021-02-20 14:30:56,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,964 INFO sqlalchemy.engine.base.Engine (992,)
2021-02-20 14:30:56,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,965 INFO sqlalchemy.engine.base.Engine (993,)
2021-02-20 14:30:56,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,968 INFO sqlalchemy.engine.base.Engine (994,)
2021-02-20 14:30:56,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,969 INFO sqlalchemy.engine.base.Engine (995,)
2021-02-20 14:30:56,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,971 INFO sqlalchemy.engine.base.Engine (996,)
2021-02-20 14:30:56,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,973 INFO sqlalchemy.engine.base.Engine (997,)
2021-02-20 14:30:56,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,975 INFO sqlalchemy.engine.base.Engine (998,)
2021-02-20 14:30:56,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:56,977 INFO sqlalchemy.engine.base.Engine (999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:57,027 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,028 INFO sqlalchemy.engine.base.Engine ((1000, 14.3, 14.3, 14.3, 152881.17100002535, 122580.4831390474), (1001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.17100002535, 122580.4831390474), (1002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.17100002535, 122580.4831390474), (1003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.17100002535, 122580.4831390474), (1004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.17100002535, 122580.4831390474), (1005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.17100002535, 122580.4831390474), (1006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.17100002535, 122580.4831390474), (1007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152881.17100002535, 122580.4831390474)  ... displaying 10 of 50 total bound parameter sets ...  (1048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152881.17100002535, 122580.4831390474), (1049, 135.9, 135.9, 135.9, 152881.17100002535, 122580.4831390474))
2021-02-20 14:30:57,029 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:57,030 INFO sqlalchemy.engine.base.Engine ('F21',)
2021-02-20 14:30:57,032 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,033 INFO sqlalchemy.engine.base.Engine ((500, 'F21', 0, 'Anhydrite', 1000, 1001), (501, 'F21', 1, 'Sandstone, grey, vf-f', 1002, 1003), (502, 'F21', 2, 'Anhydrite', 1004, 1005), (503, 'F21', 3, 'Dolomite', 1006, 1007), (504, 'F21', 4, 'Anhydrite', 1008, 1009), (505, 'F21', 5, 'Sandstone, grey, vf-f', 1010, 1011), (506, 'F21', 6, 'Siltstone, red', 1012, 1013), (507, 'F21', 7, 'Dolomite', 1014, 1015)  ... displaying 10 of 25 total bound parameter sets ...  (523, 'F21', 23, 'Limestone', 1046, 1047), (524, 'F21', 24, 'Volcanic', 1048, 1049))

2021-02-20 14:30:57,034 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:57,040 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:57,041 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:57,042 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:57,043 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:57,044 INFO sqlalchemy.engine.base.Engine ('F21',)
2021-02-20 14:30:57,046 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,046 INFO sqlalchemy.engine.base.Engine (1000,)
2021-02-20 14:30:57,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,047 INFO sqlalchemy.engine.base.Engine (1001,)
2021-02-20 14:30:57,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,050 INFO sqlalchemy.engine.base.Engine (1002,)
2021-02-20 14:30:57,051 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,051 INFO sqlalchemy.engine.base.Engine (1003,)
2021-02-20 14:30:57,053 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,054 INFO sqlalchemy.engine.base.Engine (1004,)
2021-02-20 14:30:57,055 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,055 INFO sqlalchemy.engine.base.Engine (1005,)
2021-02-20 14:30:57,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,058 INFO sqlalchemy.engine.base.Engine (1006,)
2021-02-20 14:30:57,059 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,060 INFO sqlalchemy.engine.base.Engine (1007,)
2021-02-20 14:30:57,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,063 INFO sqlalchemy.engine.base.Engine (1008,)
2021-02-20 14:30:57,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,065 INFO sqlalchemy.engine.base.Engine (1009,)
2021-02-20 14:30:57,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,068 INFO sqlalchemy.engine.base.Engine (1010,)
2021-02-20 14:30:57,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,070 INFO sqlalchemy.engine.base.Engine (1011,)
2021-02-20 14:30:57,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,075 INFO sqlalchemy.engine.base.Engine (1012,)
2021-02-20 14:30:57,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,077 INFO sqlalchemy.engine.base.Engine (1013,)
2021-02-20 14:30:57,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,080 INFO sqlalchemy.engine.base.Engine (1014,)
2021-02-20 14:30:57,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,082 INFO sqlalchemy.engine.base.Engine (1015,)
2021-02-20 14:30:57,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,086 INFO sqlalchemy.engine.base.Engine (1016,)
2021-02-20 14:30:57,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,087 INFO sqlalchemy.engine.base.Engine (1017,)
2021-02-20 14:30:57,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,090 INFO sqlalchemy.engine.base.Engine (1018,)
2021-02-20 14:30:57,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,092 INFO sqlalchemy.engine.base.Engine (1019,)
2021-02-20 14:30:57,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,095 INFO sqlalchemy.engine.base.Engine (1020,)
2021-02-20 14:30:57,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,097 INFO sqlalchemy.engine.base.Engine (1021,)
2021-02-20 14:30:57,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,100 INFO sqlalchemy.engine.base.Engine (1022,)
2021-02-20 14:30:57,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,102 INFO sqlalchemy.engine.base.Engine (1023,)
2021-02-20 14:30:57,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,105 INFO sqlalchemy.engine.base.Engine (1024,)
2021-02-20 14:30:57,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,107 INFO sqlalchemy.engine.base.Engine (1025,)
2021-02-20 14:30:57,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,110 INFO sqlalchemy.engine.base.Engine (1026,)
2021-02-20 14:30:57,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,113 INFO sqlalchemy.engine.base.Engine (1027,)
2021-02-20 14:30:57,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,116 INFO sqlalchemy.engine.base.Engine (1028,)
2021-02-20 14:30:57,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,117 INFO sqlalchemy.engine.base.Engine (1029,)
2021-02-20 14:30:57,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,121 INFO sqlalchemy.engine.base.Engine (1030,)
2021-02-20 14:30:57,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,122 INFO sqlalchemy.engine.base.Engine (1031,)
2021-02-20 14:30:57,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,126 INFO sqlalchemy.engine.base.Engine (1032,)
2021-02-20 14:30:57,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,128 INFO sqlalchemy.engine.base.Engine (1033,)
2021-02-20 14:30:57,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,131 INFO sqlalchemy.engine.base.Engine (1034,)
2021-02-20 14:30:57,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,133 INFO sqlalchemy.engine.base.Engine (1035,)
2021-02-20 14:30:57,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,136 INFO sqlalchemy.engine.base.Engine (1036,)
2021-02-20 14:30:57,138 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,138 INFO sqlalchemy.engine.base.Engine (1037,)
2021-02-20 14:30:57,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,142 INFO sqlalchemy.engine.base.Engine (1038,)
2021-02-20 14:30:57,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,145 INFO sqlalchemy.engine.base.Engine (1039,)
2021-02-20 14:30:57,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,148 INFO sqlalchemy.engine.base.Engine (1040,)
2021-02-20 14:30:57,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,150 INFO sqlalchemy.engine.base.Engine (1041,)
2021-02-20 14:30:57,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,153 INFO sqlalchemy.engine.base.Engine (1042,)
2021-02-20 14:30:57,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,155 INFO sqlalchemy.engine.base.Engine (1043,)
2021-02-20 14:30:57,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,158 INFO sqlalchemy.engine.base.Engine (1044,)
2021-02-20 14:30:57,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,160 INFO sqlalchemy.engine.base.Engine (1045,)
2021-02-20 14:30:57,163 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,163 INFO sqlalchemy.engine.base.Engine (1046,)
2021-02-20 14:30:57,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,165 INFO sqlalchemy.engine.base.Engine (1047,)
2021-02-20 14:30:57,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,168 INFO sqlalchemy.engine.base.Engine (1048,)
2021-02-20 14:30:57,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,170 INFO sqlalchemy.engine.base.Engine (1049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:57,213 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,213 INFO sqlalchemy.engine.base.Engine ((1050, 14.3, 14.3, 14.3, 152883.5060000254, 122582.57913904636), (1051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.5060000254, 122582.57913904636), (1052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.5060000254, 122582.57913904636), (1053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.5060000254, 122582.57913904636), (1054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.5060000254, 122582.57913904636), (1055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.5060000254, 122582.57913904636), (1056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.5060000254, 122582.57913904636), (1057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.5060000254, 122582.57913904636)  ... displaying 10 of 50 total bound parameter sets ...  (1098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.5060000254, 122582.57913904636), (1099, 135.9, 135.9, 135.9, 152883.5060000254, 122582.57913904636))
2021-02-20 14:30:57,215 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:57,216 INFO sqlalchemy.engine.base.Engine ('F22',)
2021-02-20 14:30:57,218 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,219 INFO sqlalchemy.engine.base.Engine ((525, 'F22', 0, 'Anhydrite', 1050, 1051), (526, 'F22', 1, 'Sandstone, grey, vf-f', 1052, 1053), (527, 'F22', 2, 'Anhydrite', 1054, 1055), (528, 'F22', 3, 'Dolomite', 1056, 1057), (529, 'F22', 4, 'Anhydrite', 1058, 1059), (530, 'F22', 5, 'Sandstone, grey, vf-f', 1060, 1061), (531, 'F22', 6, 'Siltstone, red', 1062, 1063), (532, 'F22', 7, 'Dolomite', 1064, 1065)  ... displaying 10 of 25 total bound parameter sets ...  (548, 'F22', 23, 'Limestone', 1096, 1097), (549, 'F22', 24, 'Volcanic', 1098, 1099))
2021-02-20 14:30:57,221 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:57,227 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:57,228 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:57,228 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:57,230 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:57,231 INFO sqlalchemy.engine.base.Engine ('F22',)
2021-02-20 14:30:57,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,233 INFO sqlalchemy.engine.base.Engine (1050,)
2021-02-20 14:30:57,235 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,236 INFO sqlalchemy.engine.base.Engine (1051,)
2021-02-20 14:30:57,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,242 INFO sqlalchemy.engine.base.Engine (1052,)

2021-02-20 14:30:57,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,244 INFO sqlalchemy.engine.base.Engine (1053,)
2021-02-20 14:30:57,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,247 INFO sqlalchemy.engine.base.Engine (1054,)
2021-02-20 14:30:57,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,249 INFO sqlalchemy.engine.base.Engine (1055,)
2021-02-20 14:30:57,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,254 INFO sqlalchemy.engine.base.Engine (1056,)
2021-02-20 14:30:57,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,256 INFO sqlalchemy.engine.base.Engine (1057,)
2021-02-20 14:30:57,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,260 INFO sqlalchemy.engine.base.Engine (1058,)
2021-02-20 14:30:57,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,262 INFO sqlalchemy.engine.base.Engine (1059,)
2021-02-20 14:30:57,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,265 INFO sqlalchemy.engine.base.Engine (1060,)
2021-02-20 14:30:57,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,267 INFO sqlalchemy.engine.base.Engine (1061,)
2021-02-20 14:30:57,270 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,270 INFO sqlalchemy.engine.base.Engine (1062,)
2021-02-20 14:30:57,272 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,272 INFO sqlalchemy.engine.base.Engine (1063,)
2021-02-20 14:30:57,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,276 INFO sqlalchemy.engine.base.Engine (1064,)
2021-02-20 14:30:57,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,278 INFO sqlalchemy.engine.base.Engine (1065,)
2021-02-20 14:30:57,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,281 INFO sqlalchemy.engine.base.Engine (1066,)
2021-02-20 14:30:57,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,283 INFO sqlalchemy.engine.base.Engine (1067,)
2021-02-20 14:30:57,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,286 INFO sqlalchemy.engine.base.Engine (1068,)
2021-02-20 14:30:57,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,288 INFO sqlalchemy.engine.base.Engine (1069,)
2021-02-20 14:30:57,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,292 INFO sqlalchemy.engine.base.Engine (1070,)
2021-02-20 14:30:57,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,294 INFO sqlalchemy.engine.base.Engine (1071,)
2021-02-20 14:30:57,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,298 INFO sqlalchemy.engine.base.Engine (1072,)
2021-02-20 14:30:57,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,300 INFO sqlalchemy.engine.base.Engine (1073,)
2021-02-20 14:30:57,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,304 INFO sqlalchemy.engine.base.Engine (1074,)
2021-02-20 14:30:57,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,306 INFO sqlalchemy.engine.base.Engine (1075,)
2021-02-20 14:30:57,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,309 INFO sqlalchemy.engine.base.Engine (1076,)
2021-02-20 14:30:57,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,311 INFO sqlalchemy.engine.base.Engine (1077,)
2021-02-20 14:30:57,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,315 INFO sqlalchemy.engine.base.Engine (1078,)
2021-02-20 14:30:57,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,317 INFO sqlalchemy.engine.base.Engine (1079,)
2021-02-20 14:30:57,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,320 INFO sqlalchemy.engine.base.Engine (1080,)
2021-02-20 14:30:57,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,322 INFO sqlalchemy.engine.base.Engine (1081,)
2021-02-20 14:30:57,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,325 INFO sqlalchemy.engine.base.Engine (1082,)
2021-02-20 14:30:57,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,327 INFO sqlalchemy.engine.base.Engine (1083,)
2021-02-20 14:30:57,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,330 INFO sqlalchemy.engine.base.Engine (1084,)
2021-02-20 14:30:57,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,332 INFO sqlalchemy.engine.base.Engine (1085,)
2021-02-20 14:30:57,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,336 INFO sqlalchemy.engine.base.Engine (1086,)
2021-02-20 14:30:57,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,339 INFO sqlalchemy.engine.base.Engine (1087,)
2021-02-20 14:30:57,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,343 INFO sqlalchemy.engine.base.Engine (1088,)
2021-02-20 14:30:57,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,345 INFO sqlalchemy.engine.base.Engine (1089,)
2021-02-20 14:30:57,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,349 INFO sqlalchemy.engine.base.Engine (1090,)
2021-02-20 14:30:57,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,352 INFO sqlalchemy.engine.base.Engine (1091,)
2021-02-20 14:30:57,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,356 INFO sqlalchemy.engine.base.Engine (1092,)
2021-02-20 14:30:57,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,357 INFO sqlalchemy.engine.base.Engine (1093,)
2021-02-20 14:30:57,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,360 INFO sqlalchemy.engine.base.Engine (1094,)
2021-02-20 14:30:57,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,362 INFO sqlalchemy.engine.base.Engine (1095,)
2021-02-20 14:30:57,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,364 INFO sqlalchemy.engine.base.Engine (1096,)
2021-02-20 14:30:57,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,368 INFO sqlalchemy.engine.base.Engine (1097,)
2021-02-20 14:30:57,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,372 INFO sqlalchemy.engine.base.Engine (1098,)
2021-02-20 14:30:57,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,373 INFO sqlalchemy.engine.base.Engine (1099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:57,493 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,494 INFO sqlalchemy.engine.base.Engine ((1100, 14.3, 14.3, 14.3, 152879.12900002534, 122583.27013904788), (1101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152879.12900002534, 122583.27013904788), (1102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152879.12900002534, 122583.27013904788), (1103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152879.12900002534, 122583.27013904788), (1104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152879.12900002534, 122583.27013904788), (1105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152879.12900002534, 122583.27013904788), (1106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152879.12900002534, 122583.27013904788), (1107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152879.12900002534, 122583.27013904788)  ... displaying 10 of 50 total bound parameter sets ...  (1148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152879.12900002534, 122583.27013904788), (1149, 135.9, 135.9, 135.9, 152879.12900002534, 122583.27013904788))
2021-02-20 14:30:57,496 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:57,496 INFO sqlalchemy.engine.base.Engine ('F23',)
2021-02-20 14:30:57,498 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,499 INFO sqlalchemy.engine.base.Engine ((550, 'F23', 0, 'Anhydrite', 1100, 1101), (551, 'F23', 1, 'Sandstone, grey, vf-f', 1102, 1103), (552, 'F23', 2, 'Anhydrite', 1104, 1105), (553, 'F23', 3, 'Dolomite', 1106, 1107), (554, 'F23', 4, 'Anhydrite', 1108, 1109), (555, 'F23', 5, 'Sandstone, grey, vf-f', 1110, 1111), (556, 'F23', 6, 'Siltstone, red', 1112, 1113), (557, 'F23', 7, 'Dolomite', 1114, 1115)  ... displaying 10 of 25 total bound parameter sets ...  (573, 'F23', 23, 'Limestone', 1146, 1147), (574, 'F23', 24, 'Volcanic', 1148, 1149))
2021-02-20 14:30:57,502 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:57,509 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:57,510 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:57,510 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:57,512 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:57,512 INFO sqlalchemy.engine.base.Engine ('F23',)
2021-02-20 14:30:57,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,516 INFO sqlalchemy.engine.base.Engine (1100,)
2021-02-20 14:30:57,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,518 INFO sqlalchemy.engine.base.Engine (1101,)
2021-02-20 14:30:57,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,521 INFO sqlalchemy.engine.base.Engine (1102,)
2021-02-20 14:30:57,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,524 INFO sqlalchemy.engine.base.Engine (1103,)
2021-02-20 14:30:57,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,528 INFO sqlalchemy.engine.base.Engine (1104,)
2021-02-20 14:30:57,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,531 INFO sqlalchemy.engine.base.Engine (1105,)
2021-02-20 14:30:57,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,534 INFO sqlalchemy.engine.base.Engine (1106,)
2021-02-20 14:30:57,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,535 INFO sqlalchemy.engine.base.Engine (1107,)

2021-02-20 14:30:57,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,538 INFO sqlalchemy.engine.base.Engine (1108,)
2021-02-20 14:30:57,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,540 INFO sqlalchemy.engine.base.Engine (1109,)
2021-02-20 14:30:57,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,542 INFO sqlalchemy.engine.base.Engine (1110,)
2021-02-20 14:30:57,543 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,544 INFO sqlalchemy.engine.base.Engine (1111,)
2021-02-20 14:30:57,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,548 INFO sqlalchemy.engine.base.Engine (1112,)
2021-02-20 14:30:57,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,549 INFO sqlalchemy.engine.base.Engine (1113,)
2021-02-20 14:30:57,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,553 INFO sqlalchemy.engine.base.Engine (1114,)
2021-02-20 14:30:57,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,555 INFO sqlalchemy.engine.base.Engine (1115,)
2021-02-20 14:30:57,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,558 INFO sqlalchemy.engine.base.Engine (1116,)
2021-02-20 14:30:57,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,559 INFO sqlalchemy.engine.base.Engine (1117,)
2021-02-20 14:30:57,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,563 INFO sqlalchemy.engine.base.Engine (1118,)
2021-02-20 14:30:57,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,565 INFO sqlalchemy.engine.base.Engine (1119,)
2021-02-20 14:30:57,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,569 INFO sqlalchemy.engine.base.Engine (1120,)
2021-02-20 14:30:57,570 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,571 INFO sqlalchemy.engine.base.Engine (1121,)
2021-02-20 14:30:57,573 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,574 INFO sqlalchemy.engine.base.Engine (1122,)
2021-02-20 14:30:57,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,575 INFO sqlalchemy.engine.base.Engine (1123,)
2021-02-20 14:30:57,578 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,578 INFO sqlalchemy.engine.base.Engine (1124,)
2021-02-20 14:30:57,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,581 INFO sqlalchemy.engine.base.Engine (1125,)
2021-02-20 14:30:57,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,585 INFO sqlalchemy.engine.base.Engine (1126,)
2021-02-20 14:30:57,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,587 INFO sqlalchemy.engine.base.Engine (1127,)
2021-02-20 14:30:57,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,591 INFO sqlalchemy.engine.base.Engine (1128,)
2021-02-20 14:30:57,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,593 INFO sqlalchemy.engine.base.Engine (1129,)
2021-02-20 14:30:57,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,597 INFO sqlalchemy.engine.base.Engine (1130,)
2021-02-20 14:30:57,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,599 INFO sqlalchemy.engine.base.Engine (1131,)
2021-02-20 14:30:57,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,602 INFO sqlalchemy.engine.base.Engine (1132,)
2021-02-20 14:30:57,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,604 INFO sqlalchemy.engine.base.Engine (1133,)
2021-02-20 14:30:57,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,608 INFO sqlalchemy.engine.base.Engine (1134,)
2021-02-20 14:30:57,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,611 INFO sqlalchemy.engine.base.Engine (1135,)
2021-02-20 14:30:57,614 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,615 INFO sqlalchemy.engine.base.Engine (1136,)
2021-02-20 14:30:57,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,617 INFO sqlalchemy.engine.base.Engine (1137,)
2021-02-20 14:30:57,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,622 INFO sqlalchemy.engine.base.Engine (1138,)
2021-02-20 14:30:57,623 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,624 INFO sqlalchemy.engine.base.Engine (1139,)
2021-02-20 14:30:57,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,628 INFO sqlalchemy.engine.base.Engine (1140,)
2021-02-20 14:30:57,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,630 INFO sqlalchemy.engine.base.Engine (1141,)
2021-02-20 14:30:57,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,633 INFO sqlalchemy.engine.base.Engine (1142,)
2021-02-20 14:30:57,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,634 INFO sqlalchemy.engine.base.Engine (1143,)
2021-02-20 14:30:57,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,637 INFO sqlalchemy.engine.base.Engine (1144,)
2021-02-20 14:30:57,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,639 INFO sqlalchemy.engine.base.Engine (1145,)
2021-02-20 14:30:57,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,643 INFO sqlalchemy.engine.base.Engine (1146,)
2021-02-20 14:30:57,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,645 INFO sqlalchemy.engine.base.Engine (1147,)
2021-02-20 14:30:57,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,648 INFO sqlalchemy.engine.base.Engine (1148,)
2021-02-20 14:30:57,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,650 INFO sqlalchemy.engine.base.Engine (1149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:57,693 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,694 INFO sqlalchemy.engine.base.Engine ((1150, 14.3, 14.3, 14.3, 152885.8040000254, 122584.37513904646), (1151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.8040000254, 122584.37513904646), (1152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.8040000254, 122584.37513904646), (1153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.8040000254, 122584.37513904646), (1154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.8040000254, 122584.37513904646), (1155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.8040000254, 122584.37513904646), (1156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.8040000254, 122584.37513904646), (1157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.8040000254, 122584.37513904646)  ... displaying 10 of 50 total bound parameter sets ...  (1198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.8040000254, 122584.37513904646), (1199, 135.9, 135.9, 135.9, 152885.8040000254, 122584.37513904646))
2021-02-20 14:30:57,695 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:57,696 INFO sqlalchemy.engine.base.Engine ('F24',)
2021-02-20 14:30:57,698 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,699 INFO sqlalchemy.engine.base.Engine ((575, 'F24', 0, 'Anhydrite', 1150, 1151), (576, 'F24', 1, 'Sandstone, grey, vf-f', 1152, 1153), (577, 'F24', 2, 'Anhydrite', 1154, 1155), (578, 'F24', 3, 'Dolomite', 1156, 1157), (579, 'F24', 4, 'Anhydrite', 1158, 1159), (580, 'F24', 5, 'Sandstone, grey, vf-f', 1160, 1161), (581, 'F24', 6, 'Siltstone, red', 1162, 1163), (582, 'F24', 7, 'Dolomite', 1164, 1165)  ... displaying 10 of 25 total bound parameter sets ...  (598, 'F24', 23, 'Limestone', 1196, 1197), (599, 'F24', 24, 'Volcanic', 1198, 1199))
2021-02-20 14:30:57,700 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:57,706 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:57,706 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:57,707 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:57,709 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:57,710 INFO sqlalchemy.engine.base.Engine ('F24',)
2021-02-20 14:30:57,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,712 INFO sqlalchemy.engine.base.Engine (1150,)
2021-02-20 14:30:57,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,714 INFO sqlalchemy.engine.base.Engine (1151,)
2021-02-20 14:30:57,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,718 INFO sqlalchemy.engine.base.Engine (1152,)
2021-02-20 14:30:57,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,720 INFO sqlalchemy.engine.base.Engine (1153,)
2021-02-20 14:30:57,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,725 INFO sqlalchemy.engine.base.Engine (1154,)
2021-02-20 14:30:57,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,727 INFO sqlalchemy.engine.base.Engine (1155,)
2021-02-20 14:30:57,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,731 INFO sqlalchemy.engine.base.Engine (1156,)
2021-02-20 14:30:57,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,733 INFO sqlalchemy.engine.base.Engine (1157,)
2021-02-20 14:30:57,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,737 INFO sqlalchemy.engine.base.Engine (1158,)
2021-02-20 14:30:57,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,739 INFO sqlalchemy.engine.base.Engine (1159,)
2021-02-20 14:30:57,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,744 INFO sqlalchemy.engine.base.Engine (1160,)
2021-02-20 14:30:57,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,746 INFO sqlalchemy.engine.base.Engine (1161,)
2021-02-20 14:30:57,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,751 INFO sqlalchemy.engine.base.Engine (1162,)

2021-02-20 14:30:57,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,753 INFO sqlalchemy.engine.base.Engine (1163,)
2021-02-20 14:30:57,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,756 INFO sqlalchemy.engine.base.Engine (1164,)
2021-02-20 14:30:57,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,758 INFO sqlalchemy.engine.base.Engine (1165,)
2021-02-20 14:30:57,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,761 INFO sqlalchemy.engine.base.Engine (1166,)
2021-02-20 14:30:57,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,763 INFO sqlalchemy.engine.base.Engine (1167,)
2021-02-20 14:30:57,766 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,766 INFO sqlalchemy.engine.base.Engine (1168,)
2021-02-20 14:30:57,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,768 INFO sqlalchemy.engine.base.Engine (1169,)
2021-02-20 14:30:57,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,771 INFO sqlalchemy.engine.base.Engine (1170,)
2021-02-20 14:30:57,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,774 INFO sqlalchemy.engine.base.Engine (1171,)
2021-02-20 14:30:57,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,776 INFO sqlalchemy.engine.base.Engine (1172,)
2021-02-20 14:30:57,777 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,778 INFO sqlalchemy.engine.base.Engine (1173,)
2021-02-20 14:30:57,780 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,780 INFO sqlalchemy.engine.base.Engine (1174,)
2021-02-20 14:30:57,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,782 INFO sqlalchemy.engine.base.Engine (1175,)
2021-02-20 14:30:57,784 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,785 INFO sqlalchemy.engine.base.Engine (1176,)
2021-02-20 14:30:57,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,788 INFO sqlalchemy.engine.base.Engine (1177,)
2021-02-20 14:30:57,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,792 INFO sqlalchemy.engine.base.Engine (1178,)
2021-02-20 14:30:57,793 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,794 INFO sqlalchemy.engine.base.Engine (1179,)
2021-02-20 14:30:57,796 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,797 INFO sqlalchemy.engine.base.Engine (1180,)
2021-02-20 14:30:57,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,798 INFO sqlalchemy.engine.base.Engine (1181,)
2021-02-20 14:30:57,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,801 INFO sqlalchemy.engine.base.Engine (1182,)
2021-02-20 14:30:57,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,803 INFO sqlalchemy.engine.base.Engine (1183,)
2021-02-20 14:30:57,806 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,807 INFO sqlalchemy.engine.base.Engine (1184,)
2021-02-20 14:30:57,808 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,809 INFO sqlalchemy.engine.base.Engine (1185,)
2021-02-20 14:30:57,812 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,812 INFO sqlalchemy.engine.base.Engine (1186,)
2021-02-20 14:30:57,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,814 INFO sqlalchemy.engine.base.Engine (1187,)
2021-02-20 14:30:57,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,817 INFO sqlalchemy.engine.base.Engine (1188,)
2021-02-20 14:30:57,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,819 INFO sqlalchemy.engine.base.Engine (1189,)
2021-02-20 14:30:57,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,824 INFO sqlalchemy.engine.base.Engine (1190,)
2021-02-20 14:30:57,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,826 INFO sqlalchemy.engine.base.Engine (1191,)
2021-02-20 14:30:57,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,830 INFO sqlalchemy.engine.base.Engine (1192,)
2021-02-20 14:30:57,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,831 INFO sqlalchemy.engine.base.Engine (1193,)
2021-02-20 14:30:57,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,835 INFO sqlalchemy.engine.base.Engine (1194,)
2021-02-20 14:30:57,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,836 INFO sqlalchemy.engine.base.Engine (1195,)
2021-02-20 14:30:57,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,840 INFO sqlalchemy.engine.base.Engine (1196,)
2021-02-20 14:30:57,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,842 INFO sqlalchemy.engine.base.Engine (1197,)
2021-02-20 14:30:57,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,846 INFO sqlalchemy.engine.base.Engine (1198,)
2021-02-20 14:30:57,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,849 INFO sqlalchemy.engine.base.Engine (1199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:57,896 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:57,896 INFO sqlalchemy.engine.base.Engine ('F25',)
2021-02-20 14:30:57,898 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,899 INFO sqlalchemy.engine.base.Engine ((1200, 14.3, 14.3, 14.3, 152884.55900002542, 122586.86513904856), (1201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.55900002542, 122586.86513904856), (1202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.55900002542, 122586.86513904856), (1203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.55900002542, 122586.86513904856), (1204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.55900002542, 122586.86513904856), (1205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.55900002542, 122586.86513904856), (1206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.55900002542, 122586.86513904856), (1207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152884.55900002542, 122586.86513904856)  ... displaying 10 of 50 total bound parameter sets ...  (1248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152884.55900002542, 122586.86513904856), (1249, 135.9, 135.9, 135.9, 152884.55900002542, 122586.86513904856))
2021-02-20 14:30:57,904 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:57,905 INFO sqlalchemy.engine.base.Engine ((600, 'F25', 0, 'Anhydrite', 1200, 1201), (601, 'F25', 1, 'Sandstone, grey, vf-f', 1202, 1203), (602, 'F25', 2, 'Anhydrite', 1204, 1205), (603, 'F25', 3, 'Dolomite', 1206, 1207), (604, 'F25', 4, 'Anhydrite', 1208, 1209), (605, 'F25', 5, 'Sandstone, grey, vf-f', 1210, 1211), (606, 'F25', 6, 'Siltstone, red', 1212, 1213), (607, 'F25', 7, 'Dolomite', 1214, 1215)  ... displaying 10 of 25 total bound parameter sets ...  (623, 'F25', 23, 'Limestone', 1246, 1247), (624, 'F25', 24, 'Volcanic', 1248, 1249))

2021-02-20 14:30:57,908 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:57,913 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:57,913 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:57,914 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:57,916 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:57,917 INFO sqlalchemy.engine.base.Engine ('F25',)
2021-02-20 14:30:57,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,919 INFO sqlalchemy.engine.base.Engine (1200,)
2021-02-20 14:30:57,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,921 INFO sqlalchemy.engine.base.Engine (1201,)
2021-02-20 14:30:57,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,924 INFO sqlalchemy.engine.base.Engine (1202,)
2021-02-20 14:30:57,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,926 INFO sqlalchemy.engine.base.Engine (1203,)
2021-02-20 14:30:57,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,928 INFO sqlalchemy.engine.base.Engine (1204,)
2021-02-20 14:30:57,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,930 INFO sqlalchemy.engine.base.Engine (1205,)
2021-02-20 14:30:57,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,932 INFO sqlalchemy.engine.base.Engine (1206,)
2021-02-20 14:30:57,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,935 INFO sqlalchemy.engine.base.Engine (1207,)
2021-02-20 14:30:57,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,939 INFO sqlalchemy.engine.base.Engine (1208,)
2021-02-20 14:30:57,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,941 INFO sqlalchemy.engine.base.Engine (1209,)
2021-02-20 14:30:57,944 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,945 INFO sqlalchemy.engine.base.Engine (1210,)
2021-02-20 14:30:57,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,946 INFO sqlalchemy.engine.base.Engine (1211,)
2021-02-20 14:30:57,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,950 INFO sqlalchemy.engine.base.Engine (1212,)
2021-02-20 14:30:57,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,952 INFO sqlalchemy.engine.base.Engine (1213,)
2021-02-20 14:30:57,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,955 INFO sqlalchemy.engine.base.Engine (1214,)
2021-02-20 14:30:57,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,957 INFO sqlalchemy.engine.base.Engine (1215,)
2021-02-20 14:30:57,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,960 INFO sqlalchemy.engine.base.Engine (1216,)
2021-02-20 14:30:57,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,962 INFO sqlalchemy.engine.base.Engine (1217,)
2021-02-20 14:30:57,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:57,965 INFO sqlalchemy.engine.base.Engine (1218,)
2021-02-20 14:30:57,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,968 INFO sqlalchemy.engine.base.Engine (1219,)
2021-02-20 14:30:57,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,970 INFO sqlalchemy.engine.base.Engine (1220,)
2021-02-20 14:30:57,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,972 INFO sqlalchemy.engine.base.Engine (1221,)
2021-02-20 14:30:57,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,975 INFO sqlalchemy.engine.base.Engine (1222,)
2021-02-20 14:30:57,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,977 INFO sqlalchemy.engine.base.Engine (1223,)
2021-02-20 14:30:57,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,981 INFO sqlalchemy.engine.base.Engine (1224,)
2021-02-20 14:30:57,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,983 INFO sqlalchemy.engine.base.Engine (1225,)
2021-02-20 14:30:57,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,987 INFO sqlalchemy.engine.base.Engine (1226,)
2021-02-20 14:30:57,988 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,989 INFO sqlalchemy.engine.base.Engine (1227,)
2021-02-20 14:30:57,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,991 INFO sqlalchemy.engine.base.Engine (1228,)
2021-02-20 14:30:57,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,993 INFO sqlalchemy.engine.base.Engine (1229,)
2021-02-20 14:30:57,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,996 INFO sqlalchemy.engine.base.Engine (1230,)
2021-02-20 14:30:57,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:57,998 INFO sqlalchemy.engine.base.Engine (1231,)
2021-02-20 14:30:58,002 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,002 INFO sqlalchemy.engine.base.Engine (1232,)
2021-02-20 14:30:58,004 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,005 INFO sqlalchemy.engine.base.Engine (1233,)
2021-02-20 14:30:58,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,007 INFO sqlalchemy.engine.base.Engine (1234,)
2021-02-20 14:30:58,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,009 INFO sqlalchemy.engine.base.Engine (1235,)
2021-02-20 14:30:58,011 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,012 INFO sqlalchemy.engine.base.Engine (1236,)
2021-02-20 14:30:58,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,013 INFO sqlalchemy.engine.base.Engine (1237,)
2021-02-20 14:30:58,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,016 INFO sqlalchemy.engine.base.Engine (1238,)
2021-02-20 14:30:58,018 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,019 INFO sqlalchemy.engine.base.Engine (1239,)
2021-02-20 14:30:58,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,023 INFO sqlalchemy.engine.base.Engine (1240,)
2021-02-20 14:30:58,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,025 INFO sqlalchemy.engine.base.Engine (1241,)
2021-02-20 14:30:58,028 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,029 INFO sqlalchemy.engine.base.Engine (1242,)
2021-02-20 14:30:58,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,031 INFO sqlalchemy.engine.base.Engine (1243,)
2021-02-20 14:30:58,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,034 INFO sqlalchemy.engine.base.Engine (1244,)
2021-02-20 14:30:58,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,036 INFO sqlalchemy.engine.base.Engine (1245,)
2021-02-20 14:30:58,038 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,039 INFO sqlalchemy.engine.base.Engine (1246,)
2021-02-20 14:30:58,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,041 INFO sqlalchemy.engine.base.Engine (1247,)
2021-02-20 14:30:58,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,044 INFO sqlalchemy.engine.base.Engine (1248,)
2021-02-20 14:30:58,045 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,046 INFO sqlalchemy.engine.base.Engine (1249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:58,091 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,092 INFO sqlalchemy.engine.base.Engine ((1250, 14.3, 14.3, 14.3, 152886.79600002544, 122583.44613904692), (1251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.79600002544, 122583.44613904692), (1252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.79600002544, 122583.44613904692), (1253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.79600002544, 122583.44613904692), (1254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.79600002544, 122583.44613904692), (1255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.79600002544, 122583.44613904692), (1256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.79600002544, 122583.44613904692), (1257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.79600002544, 122583.44613904692)  ... displaying 10 of 50 total bound parameter sets ...  (1298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.79600002544, 122583.44613904692), (1299, 135.9, 135.9, 135.9, 152886.79600002544, 122583.44613904692))
2021-02-20 14:30:58,094 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:58,094 INFO sqlalchemy.engine.base.Engine ('F26',)
2021-02-20 14:30:58,096 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,097 INFO sqlalchemy.engine.base.Engine ((625, 'F26', 0, 'Anhydrite', 1250, 1251), (626, 'F26', 1, 'Sandstone, grey, vf-f', 1252, 1253), (627, 'F26', 2, 'Anhydrite', 1254, 1255), (628, 'F26', 3, 'Dolomite', 1256, 1257), (629, 'F26', 4, 'Anhydrite', 1258, 1259), (630, 'F26', 5, 'Sandstone, grey, vf-f', 1260, 1261), (631, 'F26', 6, 'Siltstone, red', 1262, 1263), (632, 'F26', 7, 'Dolomite', 1264, 1265)  ... displaying 10 of 25 total bound parameter sets ...  (648, 'F26', 23, 'Limestone', 1296, 1297), (649, 'F26', 24, 'Volcanic', 1298, 1299))
2021-02-20 14:30:58,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:58,104 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:58,105 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:58,105 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:58,107 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:58,108 INFO sqlalchemy.engine.base.Engine ('F26',)
2021-02-20 14:30:58,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,111 INFO sqlalchemy.engine.base.Engine (1250,)
2021-02-20 14:30:58,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,113 INFO sqlalchemy.engine.base.Engine (1251,)
2021-02-20 14:30:58,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,116 INFO sqlalchemy.engine.base.Engine (1252,)

2021-02-20 14:30:58,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,117 INFO sqlalchemy.engine.base.Engine (1253,)
2021-02-20 14:30:58,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,120 INFO sqlalchemy.engine.base.Engine (1254,)
2021-02-20 14:30:58,121 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,121 INFO sqlalchemy.engine.base.Engine (1255,)
2021-02-20 14:30:58,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,124 INFO sqlalchemy.engine.base.Engine (1256,)
2021-02-20 14:30:58,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,125 INFO sqlalchemy.engine.base.Engine (1257,)
2021-02-20 14:30:58,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,128 INFO sqlalchemy.engine.base.Engine (1258,)
2021-02-20 14:30:58,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,130 INFO sqlalchemy.engine.base.Engine (1259,)
2021-02-20 14:30:58,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,134 INFO sqlalchemy.engine.base.Engine (1260,)
2021-02-20 14:30:58,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,137 INFO sqlalchemy.engine.base.Engine (1261,)
2021-02-20 14:30:58,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,140 INFO sqlalchemy.engine.base.Engine (1262,)
2021-02-20 14:30:58,141 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,142 INFO sqlalchemy.engine.base.Engine (1263,)
2021-02-20 14:30:58,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,145 INFO sqlalchemy.engine.base.Engine (1264,)
2021-02-20 14:30:58,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,147 INFO sqlalchemy.engine.base.Engine (1265,)
2021-02-20 14:30:58,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,151 INFO sqlalchemy.engine.base.Engine (1266,)
2021-02-20 14:30:58,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,153 INFO sqlalchemy.engine.base.Engine (1267,)
2021-02-20 14:30:58,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,157 INFO sqlalchemy.engine.base.Engine (1268,)
2021-02-20 14:30:58,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,160 INFO sqlalchemy.engine.base.Engine (1269,)
2021-02-20 14:30:58,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,163 INFO sqlalchemy.engine.base.Engine (1270,)
2021-02-20 14:30:58,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,165 INFO sqlalchemy.engine.base.Engine (1271,)
2021-02-20 14:30:58,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,168 INFO sqlalchemy.engine.base.Engine (1272,)
2021-02-20 14:30:58,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,170 INFO sqlalchemy.engine.base.Engine (1273,)
2021-02-20 14:30:58,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,175 INFO sqlalchemy.engine.base.Engine (1274,)
2021-02-20 14:30:58,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,177 INFO sqlalchemy.engine.base.Engine (1275,)
2021-02-20 14:30:58,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,181 INFO sqlalchemy.engine.base.Engine (1276,)
2021-02-20 14:30:58,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,184 INFO sqlalchemy.engine.base.Engine (1277,)
2021-02-20 14:30:58,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,188 INFO sqlalchemy.engine.base.Engine (1278,)
2021-02-20 14:30:58,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,190 INFO sqlalchemy.engine.base.Engine (1279,)
2021-02-20 14:30:58,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,193 INFO sqlalchemy.engine.base.Engine (1280,)
2021-02-20 14:30:58,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,195 INFO sqlalchemy.engine.base.Engine (1281,)
2021-02-20 14:30:58,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,198 INFO sqlalchemy.engine.base.Engine (1282,)
2021-02-20 14:30:58,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,201 INFO sqlalchemy.engine.base.Engine (1283,)
2021-02-20 14:30:58,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,205 INFO sqlalchemy.engine.base.Engine (1284,)
2021-02-20 14:30:58,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,207 INFO sqlalchemy.engine.base.Engine (1285,)
2021-02-20 14:30:58,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,211 INFO sqlalchemy.engine.base.Engine (1286,)
2021-02-20 14:30:58,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,214 INFO sqlalchemy.engine.base.Engine (1287,)
2021-02-20 14:30:58,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,216 INFO sqlalchemy.engine.base.Engine (1288,)
2021-02-20 14:30:58,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,218 INFO sqlalchemy.engine.base.Engine (1289,)
2021-02-20 14:30:58,222 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,222 INFO sqlalchemy.engine.base.Engine (1290,)
2021-02-20 14:30:58,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,224 INFO sqlalchemy.engine.base.Engine (1291,)
2021-02-20 14:30:58,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,228 INFO sqlalchemy.engine.base.Engine (1292,)
2021-02-20 14:30:58,229 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,230 INFO sqlalchemy.engine.base.Engine (1293,)
2021-02-20 14:30:58,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,232 INFO sqlalchemy.engine.base.Engine (1294,)
2021-02-20 14:30:58,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,234 INFO sqlalchemy.engine.base.Engine (1295,)
2021-02-20 14:30:58,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,237 INFO sqlalchemy.engine.base.Engine (1296,)
2021-02-20 14:30:58,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,239 INFO sqlalchemy.engine.base.Engine (1297,)
2021-02-20 14:30:58,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,243 INFO sqlalchemy.engine.base.Engine (1298,)
2021-02-20 14:30:58,245 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,246 INFO sqlalchemy.engine.base.Engine (1299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:58,291 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:58,291 INFO sqlalchemy.engine.base.Engine ('F27',)
2021-02-20 14:30:58,293 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,294 INFO sqlalchemy.engine.base.Engine ((1300, 14.3, 14.3, 14.3, 152881.57883449996, 122585.08690298628), (1301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.57883449996, 122585.08690298628), (1302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.57883449996, 122585.08690298628), (1303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.57883449996, 122585.08690298628), (1304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.57883449996, 122585.08690298628), (1305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.57883449996, 122585.08690298628), (1306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.57883449996, 122585.08690298628), (1307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152881.57883449996, 122585.08690298628)  ... displaying 10 of 50 total bound parameter sets ...  (1348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152881.57883449996, 122585.08690298628), (1349, 135.9, 135.9, 135.9, 152881.57883449996, 122585.08690298628))
2021-02-20 14:30:58,297 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,298 INFO sqlalchemy.engine.base.Engine ((650, 'F27', 0, 'Anhydrite', 1300, 1301), (651, 'F27', 1, 'Sandstone, grey, vf-f', 1302, 1303), (652, 'F27', 2, 'Anhydrite', 1304, 1305), (653, 'F27', 3, 'Dolomite', 1306, 1307), (654, 'F27', 4, 'Anhydrite', 1308, 1309), (655, 'F27', 5, 'Sandstone, grey, vf-f', 1310, 1311), (656, 'F27', 6, 'Siltstone, red', 1312, 1313), (657, 'F27', 7, 'Dolomite', 1314, 1315)  ... displaying 10 of 25 total bound parameter sets ...  (673, 'F27', 23, 'Limestone', 1346, 1347), (674, 'F27', 24, 'Volcanic', 1348, 1349))
2021-02-20 14:30:58,300 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:58,305 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:58,306 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:58,307 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:58,309 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:58,309 INFO sqlalchemy.engine.base.Engine ('F27',)
2021-02-20 14:30:58,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,312 INFO sqlalchemy.engine.base.Engine (1300,)
2021-02-20 14:30:58,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,314 INFO sqlalchemy.engine.base.Engine (1301,)
2021-02-20 14:30:58,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,317 INFO sqlalchemy.engine.base.Engine (1302,)
2021-02-20 14:30:58,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,319 INFO sqlalchemy.engine.base.Engine (1303,)
2021-02-20 14:30:58,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,322 INFO sqlalchemy.engine.base.Engine (1304,)
2021-02-20 14:30:58,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,323 INFO sqlalchemy.engine.base.Engine (1305,)
2021-02-20 14:30:58,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,327 INFO sqlalchemy.engine.base.Engine (1306,)
2021-02-20 14:30:58,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,329 INFO sqlalchemy.engine.base.Engine (1307,)

2021-02-20 14:30:58,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,332 INFO sqlalchemy.engine.base.Engine (1308,)
2021-02-20 14:30:58,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,334 INFO sqlalchemy.engine.base.Engine (1309,)
2021-02-20 14:30:58,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,336 INFO sqlalchemy.engine.base.Engine (1310,)
2021-02-20 14:30:58,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,338 INFO sqlalchemy.engine.base.Engine (1311,)
2021-02-20 14:30:58,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,343 INFO sqlalchemy.engine.base.Engine (1312,)
2021-02-20 14:30:58,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,345 INFO sqlalchemy.engine.base.Engine (1313,)
2021-02-20 14:30:58,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,349 INFO sqlalchemy.engine.base.Engine (1314,)
2021-02-20 14:30:58,350 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,351 INFO sqlalchemy.engine.base.Engine (1315,)
2021-02-20 14:30:58,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,355 INFO sqlalchemy.engine.base.Engine (1316,)
2021-02-20 14:30:58,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,357 INFO sqlalchemy.engine.base.Engine (1317,)
2021-02-20 14:30:58,359 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,360 INFO sqlalchemy.engine.base.Engine (1318,)
2021-02-20 14:30:58,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,362 INFO sqlalchemy.engine.base.Engine (1319,)
2021-02-20 14:30:58,364 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,365 INFO sqlalchemy.engine.base.Engine (1320,)
2021-02-20 14:30:58,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,366 INFO sqlalchemy.engine.base.Engine (1321,)
2021-02-20 14:30:58,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,370 INFO sqlalchemy.engine.base.Engine (1322,)
2021-02-20 14:30:58,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,373 INFO sqlalchemy.engine.base.Engine (1323,)
2021-02-20 14:30:58,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,376 INFO sqlalchemy.engine.base.Engine (1324,)
2021-02-20 14:30:58,378 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,379 INFO sqlalchemy.engine.base.Engine (1325,)
2021-02-20 14:30:58,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,381 INFO sqlalchemy.engine.base.Engine (1326,)
2021-02-20 14:30:58,383 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,383 INFO sqlalchemy.engine.base.Engine (1327,)
2021-02-20 14:30:58,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,386 INFO sqlalchemy.engine.base.Engine (1328,)
2021-02-20 14:30:58,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,389 INFO sqlalchemy.engine.base.Engine (1329,)
2021-02-20 14:30:58,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,393 INFO sqlalchemy.engine.base.Engine (1330,)
2021-02-20 14:30:58,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,395 INFO sqlalchemy.engine.base.Engine (1331,)
2021-02-20 14:30:58,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,398 INFO sqlalchemy.engine.base.Engine (1332,)
2021-02-20 14:30:58,399 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,400 INFO sqlalchemy.engine.base.Engine (1333,)
2021-02-20 14:30:58,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,403 INFO sqlalchemy.engine.base.Engine (1334,)
2021-02-20 14:30:58,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,405 INFO sqlalchemy.engine.base.Engine (1335,)
2021-02-20 14:30:58,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,410 INFO sqlalchemy.engine.base.Engine (1336,)
2021-02-20 14:30:58,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,412 INFO sqlalchemy.engine.base.Engine (1337,)
2021-02-20 14:30:58,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,416 INFO sqlalchemy.engine.base.Engine (1338,)
2021-02-20 14:30:58,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,419 INFO sqlalchemy.engine.base.Engine (1339,)
2021-02-20 14:30:58,422 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,423 INFO sqlalchemy.engine.base.Engine (1340,)
2021-02-20 14:30:58,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,426 INFO sqlalchemy.engine.base.Engine (1341,)
2021-02-20 14:30:58,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,429 INFO sqlalchemy.engine.base.Engine (1342,)
2021-02-20 14:30:58,431 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,431 INFO sqlalchemy.engine.base.Engine (1343,)
2021-02-20 14:30:58,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,434 INFO sqlalchemy.engine.base.Engine (1344,)
2021-02-20 14:30:58,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,437 INFO sqlalchemy.engine.base.Engine (1345,)
2021-02-20 14:30:58,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,441 INFO sqlalchemy.engine.base.Engine (1346,)
2021-02-20 14:30:58,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,444 INFO sqlalchemy.engine.base.Engine (1347,)
2021-02-20 14:30:58,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,449 INFO sqlalchemy.engine.base.Engine (1348,)
2021-02-20 14:30:58,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,452 INFO sqlalchemy.engine.base.Engine (1349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:58,494 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,495 INFO sqlalchemy.engine.base.Engine ((1350, 14.3, 14.3, 14.3, 152886.77900002545, 122585.61413904652), (1351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.77900002545, 122585.61413904652), (1352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.77900002545, 122585.61413904652), (1353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.77900002545, 122585.61413904652), (1354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.77900002545, 122585.61413904652), (1355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.77900002545, 122585.61413904652), (1356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.77900002545, 122585.61413904652), (1357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.77900002545, 122585.61413904652)  ... displaying 10 of 50 total bound parameter sets ...  (1398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.77900002545, 122585.61413904652), (1399, 135.9, 135.9, 135.9, 152886.77900002545, 122585.61413904652))
2021-02-20 14:30:58,498 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:58,498 INFO sqlalchemy.engine.base.Engine ('F28',)
2021-02-20 14:30:58,501 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,502 INFO sqlalchemy.engine.base.Engine ((675, 'F28', 0, 'Anhydrite', 1350, 1351), (676, 'F28', 1, 'Sandstone, grey, vf-f', 1352, 1353), (677, 'F28', 2, 'Anhydrite', 1354, 1355), (678, 'F28', 3, 'Dolomite', 1356, 1357), (679, 'F28', 4, 'Anhydrite', 1358, 1359), (680, 'F28', 5, 'Sandstone, grey, vf-f', 1360, 1361), (681, 'F28', 6, 'Siltstone, red', 1362, 1363), (682, 'F28', 7, 'Dolomite', 1364, 1365)  ... displaying 10 of 25 total bound parameter sets ...  (698, 'F28', 23, 'Limestone', 1396, 1397), (699, 'F28', 24, 'Volcanic', 1398, 1399))
2021-02-20 14:30:58,504 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:58,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:58,509 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:58,510 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:58,511 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:58,512 INFO sqlalchemy.engine.base.Engine ('F28',)
2021-02-20 14:30:58,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,515 INFO sqlalchemy.engine.base.Engine (1350,)
2021-02-20 14:30:58,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,517 INFO sqlalchemy.engine.base.Engine (1351,)
2021-02-20 14:30:58,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,521 INFO sqlalchemy.engine.base.Engine (1352,)
2021-02-20 14:30:58,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,522 INFO sqlalchemy.engine.base.Engine (1353,)
2021-02-20 14:30:58,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,525 INFO sqlalchemy.engine.base.Engine (1354,)
2021-02-20 14:30:58,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,526 INFO sqlalchemy.engine.base.Engine (1355,)
2021-02-20 14:30:58,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,529 INFO sqlalchemy.engine.base.Engine (1356,)
2021-02-20 14:30:58,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,531 INFO sqlalchemy.engine.base.Engine (1357,)
2021-02-20 14:30:58,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,535 INFO sqlalchemy.engine.base.Engine (1358,)
2021-02-20 14:30:58,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,537 INFO sqlalchemy.engine.base.Engine (1359,)
2021-02-20 14:30:58,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,539 INFO sqlalchemy.engine.base.Engine (1360,)
2021-02-20 14:30:58,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,541 INFO sqlalchemy.engine.base.Engine (1361,)
2021-02-20 14:30:58,543 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,544 INFO sqlalchemy.engine.base.Engine (1362,)

2021-02-20 14:30:58,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,545 INFO sqlalchemy.engine.base.Engine (1363,)
2021-02-20 14:30:58,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,548 INFO sqlalchemy.engine.base.Engine (1364,)
2021-02-20 14:30:58,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,550 INFO sqlalchemy.engine.base.Engine (1365,)
2021-02-20 14:30:58,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,554 INFO sqlalchemy.engine.base.Engine (1366,)
2021-02-20 14:30:58,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,557 INFO sqlalchemy.engine.base.Engine (1367,)
2021-02-20 14:30:58,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,560 INFO sqlalchemy.engine.base.Engine (1368,)
2021-02-20 14:30:58,560 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,561 INFO sqlalchemy.engine.base.Engine (1369,)
2021-02-20 14:30:58,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,564 INFO sqlalchemy.engine.base.Engine (1370,)
2021-02-20 14:30:58,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,566 INFO sqlalchemy.engine.base.Engine (1371,)
2021-02-20 14:30:58,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,570 INFO sqlalchemy.engine.base.Engine (1372,)
2021-02-20 14:30:58,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,572 INFO sqlalchemy.engine.base.Engine (1373,)
2021-02-20 14:30:58,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,575 INFO sqlalchemy.engine.base.Engine (1374,)
2021-02-20 14:30:58,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,576 INFO sqlalchemy.engine.base.Engine (1375,)
2021-02-20 14:30:58,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,579 INFO sqlalchemy.engine.base.Engine (1376,)
2021-02-20 14:30:58,581 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,581 INFO sqlalchemy.engine.base.Engine (1377,)
2021-02-20 14:30:58,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,584 INFO sqlalchemy.engine.base.Engine (1378,)
2021-02-20 14:30:58,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,586 INFO sqlalchemy.engine.base.Engine (1379,)
2021-02-20 14:30:58,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,589 INFO sqlalchemy.engine.base.Engine (1380,)
2021-02-20 14:30:58,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,592 INFO sqlalchemy.engine.base.Engine (1381,)
2021-02-20 14:30:58,595 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,596 INFO sqlalchemy.engine.base.Engine (1382,)
2021-02-20 14:30:58,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,597 INFO sqlalchemy.engine.base.Engine (1383,)
2021-02-20 14:30:58,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,599 INFO sqlalchemy.engine.base.Engine (1384,)
2021-02-20 14:30:58,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,601 INFO sqlalchemy.engine.base.Engine (1385,)
2021-02-20 14:30:58,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,604 INFO sqlalchemy.engine.base.Engine (1386,)
2021-02-20 14:30:58,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,606 INFO sqlalchemy.engine.base.Engine (1387,)
2021-02-20 14:30:58,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,609 INFO sqlalchemy.engine.base.Engine (1388,)
2021-02-20 14:30:58,610 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,611 INFO sqlalchemy.engine.base.Engine (1389,)
2021-02-20 14:30:58,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,614 INFO sqlalchemy.engine.base.Engine (1390,)
2021-02-20 14:30:58,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,615 INFO sqlalchemy.engine.base.Engine (1391,)
2021-02-20 14:30:58,617 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,618 INFO sqlalchemy.engine.base.Engine (1392,)
2021-02-20 14:30:58,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,620 INFO sqlalchemy.engine.base.Engine (1393,)
2021-02-20 14:30:58,623 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,624 INFO sqlalchemy.engine.base.Engine (1394,)
2021-02-20 14:30:58,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,626 INFO sqlalchemy.engine.base.Engine (1395,)
2021-02-20 14:30:58,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,630 INFO sqlalchemy.engine.base.Engine (1396,)
2021-02-20 14:30:58,631 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,631 INFO sqlalchemy.engine.base.Engine (1397,)
2021-02-20 14:30:58,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,634 INFO sqlalchemy.engine.base.Engine (1398,)
2021-02-20 14:30:58,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,635 INFO sqlalchemy.engine.base.Engine (1399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:58,677 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:58,678 INFO sqlalchemy.engine.base.Engine ('F29',)
2021-02-20 14:30:58,680 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,681 INFO sqlalchemy.engine.base.Engine ((1400, 14.3, 14.3, 14.3, 152881.7110000254, 122582.22613904905), (1401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.7110000254, 122582.22613904905), (1402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152881.7110000254, 122582.22613904905), (1403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.7110000254, 122582.22613904905), (1404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152881.7110000254, 122582.22613904905), (1405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.7110000254, 122582.22613904905), (1406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152881.7110000254, 122582.22613904905), (1407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152881.7110000254, 122582.22613904905)  ... displaying 10 of 50 total bound parameter sets ...  (1448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152881.7110000254, 122582.22613904905), (1449, 135.9, 135.9, 135.9, 152881.7110000254, 122582.22613904905))
2021-02-20 14:30:58,683 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,683 INFO sqlalchemy.engine.base.Engine ((700, 'F29', 0, 'Anhydrite', 1400, 1401), (701, 'F29', 1, 'Sandstone, grey, vf-f', 1402, 1403), (702, 'F29', 2, 'Anhydrite', 1404, 1405), (703, 'F29', 3, 'Dolomite', 1406, 1407), (704, 'F29', 4, 'Anhydrite', 1408, 1409), (705, 'F29', 5, 'Sandstone, grey, vf-f', 1410, 1411), (706, 'F29', 6, 'Siltstone, red', 1412, 1413), (707, 'F29', 7, 'Dolomite', 1414, 1415)  ... displaying 10 of 25 total bound parameter sets ...  (723, 'F29', 23, 'Limestone', 1446, 1447), (724, 'F29', 24, 'Volcanic', 1448, 1449))

2021-02-20 14:30:58,685 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:58,690 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:58,690 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:58,691 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:58,693 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:58,693 INFO sqlalchemy.engine.base.Engine ('F29',)
2021-02-20 14:30:58,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,696 INFO sqlalchemy.engine.base.Engine (1400,)
2021-02-20 14:30:58,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,698 INFO sqlalchemy.engine.base.Engine (1401,)
2021-02-20 14:30:58,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,701 INFO sqlalchemy.engine.base.Engine (1402,)
2021-02-20 14:30:58,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,703 INFO sqlalchemy.engine.base.Engine (1403,)
2021-02-20 14:30:58,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,706 INFO sqlalchemy.engine.base.Engine (1404,)
2021-02-20 14:30:58,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,707 INFO sqlalchemy.engine.base.Engine (1405,)
2021-02-20 14:30:58,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,710 INFO sqlalchemy.engine.base.Engine (1406,)
2021-02-20 14:30:58,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,712 INFO sqlalchemy.engine.base.Engine (1407,)
2021-02-20 14:30:58,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,716 INFO sqlalchemy.engine.base.Engine (1408,)
2021-02-20 14:30:58,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,717 INFO sqlalchemy.engine.base.Engine (1409,)
2021-02-20 14:30:58,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,720 INFO sqlalchemy.engine.base.Engine (1410,)
2021-02-20 14:30:58,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,722 INFO sqlalchemy.engine.base.Engine (1411,)
2021-02-20 14:30:58,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,724 INFO sqlalchemy.engine.base.Engine (1412,)
2021-02-20 14:30:58,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,726 INFO sqlalchemy.engine.base.Engine (1413,)
2021-02-20 14:30:58,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,728 INFO sqlalchemy.engine.base.Engine (1414,)
2021-02-20 14:30:58,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,730 INFO sqlalchemy.engine.base.Engine (1415,)
2021-02-20 14:30:58,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,732 INFO sqlalchemy.engine.base.Engine (1416,)
2021-02-20 14:30:58,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,734 INFO sqlalchemy.engine.base.Engine (1417,)
2021-02-20 14:30:58,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,736 INFO sqlalchemy.engine.base.Engine (1418,)
2021-02-20 14:30:58,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,738 INFO sqlalchemy.engine.base.Engine (1419,)
2021-02-20 14:30:58,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,741 INFO sqlalchemy.engine.base.Engine (1420,)
2021-02-20 14:30:58,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,743 INFO sqlalchemy.engine.base.Engine (1421,)
2021-02-20 14:30:58,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,746 INFO sqlalchemy.engine.base.Engine (1422,)
2021-02-20 14:30:58,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,748 INFO sqlalchemy.engine.base.Engine (1423,)
2021-02-20 14:30:58,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,750 INFO sqlalchemy.engine.base.Engine (1424,)
2021-02-20 14:30:58,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,752 INFO sqlalchemy.engine.base.Engine (1425,)
2021-02-20 14:30:58,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,754 INFO sqlalchemy.engine.base.Engine (1426,)
2021-02-20 14:30:58,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,756 INFO sqlalchemy.engine.base.Engine (1427,)
2021-02-20 14:30:58,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,760 INFO sqlalchemy.engine.base.Engine (1428,)
2021-02-20 14:30:58,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,762 INFO sqlalchemy.engine.base.Engine (1429,)
2021-02-20 14:30:58,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,765 INFO sqlalchemy.engine.base.Engine (1430,)
2021-02-20 14:30:58,766 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,767 INFO sqlalchemy.engine.base.Engine (1431,)
2021-02-20 14:30:58,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,770 INFO sqlalchemy.engine.base.Engine (1432,)
2021-02-20 14:30:58,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,772 INFO sqlalchemy.engine.base.Engine (1433,)
2021-02-20 14:30:58,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,775 INFO sqlalchemy.engine.base.Engine (1434,)
2021-02-20 14:30:58,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,777 INFO sqlalchemy.engine.base.Engine (1435,)
2021-02-20 14:30:58,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,780 INFO sqlalchemy.engine.base.Engine (1436,)
2021-02-20 14:30:58,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,782 INFO sqlalchemy.engine.base.Engine (1437,)
2021-02-20 14:30:58,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,786 INFO sqlalchemy.engine.base.Engine (1438,)
2021-02-20 14:30:58,787 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,788 INFO sqlalchemy.engine.base.Engine (1439,)
2021-02-20 14:30:58,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,792 INFO sqlalchemy.engine.base.Engine (1440,)
2021-02-20 14:30:58,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,795 INFO sqlalchemy.engine.base.Engine (1441,)
2021-02-20 14:30:58,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,798 INFO sqlalchemy.engine.base.Engine (1442,)
2021-02-20 14:30:58,799 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,800 INFO sqlalchemy.engine.base.Engine (1443,)
2021-02-20 14:30:58,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,802 INFO sqlalchemy.engine.base.Engine (1444,)
2021-02-20 14:30:58,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,805 INFO sqlalchemy.engine.base.Engine (1445,)
2021-02-20 14:30:58,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,809 INFO sqlalchemy.engine.base.Engine (1446,)
2021-02-20 14:30:58,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,812 INFO sqlalchemy.engine.base.Engine (1447,)
2021-02-20 14:30:58,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,814 INFO sqlalchemy.engine.base.Engine (1448,)
2021-02-20 14:30:58,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,816 INFO sqlalchemy.engine.base.Engine (1449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:58,859 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,860 INFO sqlalchemy.engine.base.Engine ((1450, 14.3, 14.3, 14.3, 152893.79900002544, 122593.65913904738), (1451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.79900002544, 122593.65913904738), (1452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.79900002544, 122593.65913904738), (1453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.79900002544, 122593.65913904738), (1454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.79900002544, 122593.65913904738), (1455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.79900002544, 122593.65913904738), (1456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.79900002544, 122593.65913904738), (1457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152893.79900002544, 122593.65913904738)  ... displaying 10 of 50 total bound parameter sets ...  (1498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152893.79900002544, 122593.65913904738), (1499, 135.9, 135.9, 135.9, 152893.79900002544, 122593.65913904738))
2021-02-20 14:30:58,862 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:58,863 INFO sqlalchemy.engine.base.Engine ('F30',)
2021-02-20 14:30:58,865 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:58,866 INFO sqlalchemy.engine.base.Engine ((725, 'F30', 0, 'Anhydrite', 1450, 1451), (726, 'F30', 1, 'Sandstone, grey, vf-f', 1452, 1453), (727, 'F30', 2, 'Anhydrite', 1454, 1455), (728, 'F30', 3, 'Dolomite', 1456, 1457), (729, 'F30', 4, 'Anhydrite', 1458, 1459), (730, 'F30', 5, 'Sandstone, grey, vf-f', 1460, 1461), (731, 'F30', 6, 'Siltstone, red', 1462, 1463), (732, 'F30', 7, 'Dolomite', 1464, 1465)  ... displaying 10 of 25 total bound parameter sets ...  (748, 'F30', 23, 'Limestone', 1496, 1497), (749, 'F30', 24, 'Volcanic', 1498, 1499))
2021-02-20 14:30:58,867 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:58,872 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:58,873 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:58,873 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:58,875 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:58,875 INFO sqlalchemy.engine.base.Engine ('F30',)
2021-02-20 14:30:58,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,877 INFO sqlalchemy.engine.base.Engine (1450,)
2021-02-20 14:30:58,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,879 INFO sqlalchemy.engine.base.Engine (1451,)
2021-02-20 14:30:58,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,883 INFO sqlalchemy.engine.base.Engine (1452,)

2021-02-20 14:30:58,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,885 INFO sqlalchemy.engine.base.Engine (1453,)
2021-02-20 14:30:58,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,889 INFO sqlalchemy.engine.base.Engine (1454,)
2021-02-20 14:30:58,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,892 INFO sqlalchemy.engine.base.Engine (1455,)
2021-02-20 14:30:58,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,896 INFO sqlalchemy.engine.base.Engine (1456,)
2021-02-20 14:30:58,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,899 INFO sqlalchemy.engine.base.Engine (1457,)
2021-02-20 14:30:58,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,902 INFO sqlalchemy.engine.base.Engine (1458,)
2021-02-20 14:30:58,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,905 INFO sqlalchemy.engine.base.Engine (1459,)
2021-02-20 14:30:58,907 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,908 INFO sqlalchemy.engine.base.Engine (1460,)
2021-02-20 14:30:58,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,910 INFO sqlalchemy.engine.base.Engine (1461,)
2021-02-20 14:30:58,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,913 INFO sqlalchemy.engine.base.Engine (1462,)
2021-02-20 14:30:58,913 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,914 INFO sqlalchemy.engine.base.Engine (1463,)
2021-02-20 14:30:58,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,917 INFO sqlalchemy.engine.base.Engine (1464,)
2021-02-20 14:30:58,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,919 INFO sqlalchemy.engine.base.Engine (1465,)
2021-02-20 14:30:58,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,923 INFO sqlalchemy.engine.base.Engine (1466,)
2021-02-20 14:30:58,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,926 INFO sqlalchemy.engine.base.Engine (1467,)
2021-02-20 14:30:58,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,930 INFO sqlalchemy.engine.base.Engine (1468,)
2021-02-20 14:30:58,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,933 INFO sqlalchemy.engine.base.Engine (1469,)
2021-02-20 14:30:58,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,937 INFO sqlalchemy.engine.base.Engine (1470,)
2021-02-20 14:30:58,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,939 INFO sqlalchemy.engine.base.Engine (1471,)
2021-02-20 14:30:58,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,942 INFO sqlalchemy.engine.base.Engine (1472,)
2021-02-20 14:30:58,942 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,943 INFO sqlalchemy.engine.base.Engine (1473,)
2021-02-20 14:30:58,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,946 INFO sqlalchemy.engine.base.Engine (1474,)
2021-02-20 14:30:58,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,947 INFO sqlalchemy.engine.base.Engine (1475,)
2021-02-20 14:30:58,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,951 INFO sqlalchemy.engine.base.Engine (1476,)
2021-02-20 14:30:58,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,953 INFO sqlalchemy.engine.base.Engine (1477,)
2021-02-20 14:30:58,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,956 INFO sqlalchemy.engine.base.Engine (1478,)
2021-02-20 14:30:58,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,958 INFO sqlalchemy.engine.base.Engine (1479,)
2021-02-20 14:30:58,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,960 INFO sqlalchemy.engine.base.Engine (1480,)
2021-02-20 14:30:58,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,962 INFO sqlalchemy.engine.base.Engine (1481,)
2021-02-20 14:30:58,964 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,964 INFO sqlalchemy.engine.base.Engine (1482,)
2021-02-20 14:30:58,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,966 INFO sqlalchemy.engine.base.Engine (1483,)
2021-02-20 14:30:58,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,970 INFO sqlalchemy.engine.base.Engine (1484,)
2021-02-20 14:30:58,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,972 INFO sqlalchemy.engine.base.Engine (1485,)
2021-02-20 14:30:58,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,976 INFO sqlalchemy.engine.base.Engine (1486,)
2021-02-20 14:30:58,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,978 INFO sqlalchemy.engine.base.Engine (1487,)
2021-02-20 14:30:58,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,982 INFO sqlalchemy.engine.base.Engine (1488,)
2021-02-20 14:30:58,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,984 INFO sqlalchemy.engine.base.Engine (1489,)
2021-02-20 14:30:58,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,986 INFO sqlalchemy.engine.base.Engine (1490,)
2021-02-20 14:30:58,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,988 INFO sqlalchemy.engine.base.Engine (1491,)
2021-02-20 14:30:58,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,990 INFO sqlalchemy.engine.base.Engine (1492,)
2021-02-20 14:30:58,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,991 INFO sqlalchemy.engine.base.Engine (1493,)
2021-02-20 14:30:58,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:58,994 INFO sqlalchemy.engine.base.Engine (1494,)
2021-02-20 14:30:58,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,995 INFO sqlalchemy.engine.base.Engine (1495,)
2021-02-20 14:30:58,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,998 INFO sqlalchemy.engine.base.Engine (1496,)
2021-02-20 14:30:58,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:58,999 INFO sqlalchemy.engine.base.Engine (1497,)
2021-02-20 14:30:59,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,002 INFO sqlalchemy.engine.base.Engine (1498,)
2021-02-20 14:30:59,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,003 INFO sqlalchemy.engine.base.Engine (1499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:59,054 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,055 INFO sqlalchemy.engine.base.Engine ((1500, 14.3, 14.3, 14.3, 152886.1190000254, 122594.53213904703), (1501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.1190000254, 122594.53213904703), (1502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.1190000254, 122594.53213904703), (1503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.1190000254, 122594.53213904703), (1504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.1190000254, 122594.53213904703), (1505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.1190000254, 122594.53213904703), (1506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.1190000254, 122594.53213904703), (1507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.1190000254, 122594.53213904703)  ... displaying 10 of 50 total bound parameter sets ...  (1548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.1190000254, 122594.53213904703), (1549, 135.9, 135.9, 135.9, 152886.1190000254, 122594.53213904703))
2021-02-20 14:30:59,056 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:59,057 INFO sqlalchemy.engine.base.Engine ('F31',)
2021-02-20 14:30:59,058 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,059 INFO sqlalchemy.engine.base.Engine ((750, 'F31', 0, 'Anhydrite', 1500, 1501), (751, 'F31', 1, 'Sandstone, grey, vf-f', 1502, 1503), (752, 'F31', 2, 'Anhydrite', 1504, 1505), (753, 'F31', 3, 'Dolomite', 1506, 1507), (754, 'F31', 4, 'Anhydrite', 1508, 1509), (755, 'F31', 5, 'Sandstone, grey, vf-f', 1510, 1511), (756, 'F31', 6, 'Siltstone, red', 1512, 1513), (757, 'F31', 7, 'Dolomite', 1514, 1515)  ... displaying 10 of 25 total bound parameter sets ...  (773, 'F31', 23, 'Limestone', 1546, 1547), (774, 'F31', 24, 'Volcanic', 1548, 1549))
2021-02-20 14:30:59,060 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:59,066 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:59,066 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:59,068 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:59,070 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:59,071 INFO sqlalchemy.engine.base.Engine ('F31',)
2021-02-20 14:30:59,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,074 INFO sqlalchemy.engine.base.Engine (1500,)
2021-02-20 14:30:59,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,076 INFO sqlalchemy.engine.base.Engine (1501,)
2021-02-20 14:30:59,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,079 INFO sqlalchemy.engine.base.Engine (1502,)
2021-02-20 14:30:59,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,081 INFO sqlalchemy.engine.base.Engine (1503,)
2021-02-20 14:30:59,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,085 INFO sqlalchemy.engine.base.Engine (1504,)
2021-02-20 14:30:59,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,087 INFO sqlalchemy.engine.base.Engine (1505,)
2021-02-20 14:30:59,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,089 INFO sqlalchemy.engine.base.Engine (1506,)
2021-02-20 14:30:59,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,091 INFO sqlalchemy.engine.base.Engine (1507,)

2021-02-20 14:30:59,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,093 INFO sqlalchemy.engine.base.Engine (1508,)
2021-02-20 14:30:59,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,095 INFO sqlalchemy.engine.base.Engine (1509,)
2021-02-20 14:30:59,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,099 INFO sqlalchemy.engine.base.Engine (1510,)
2021-02-20 14:30:59,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,102 INFO sqlalchemy.engine.base.Engine (1511,)
2021-02-20 14:30:59,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,106 INFO sqlalchemy.engine.base.Engine (1512,)
2021-02-20 14:30:59,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,108 INFO sqlalchemy.engine.base.Engine (1513,)
2021-02-20 14:30:59,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,112 INFO sqlalchemy.engine.base.Engine (1514,)
2021-02-20 14:30:59,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,114 INFO sqlalchemy.engine.base.Engine (1515,)
2021-02-20 14:30:59,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,119 INFO sqlalchemy.engine.base.Engine (1516,)
2021-02-20 14:30:59,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,121 INFO sqlalchemy.engine.base.Engine (1517,)
2021-02-20 14:30:59,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,125 INFO sqlalchemy.engine.base.Engine (1518,)
2021-02-20 14:30:59,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,127 INFO sqlalchemy.engine.base.Engine (1519,)
2021-02-20 14:30:59,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,132 INFO sqlalchemy.engine.base.Engine (1520,)
2021-02-20 14:30:59,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,134 INFO sqlalchemy.engine.base.Engine (1521,)
2021-02-20 14:30:59,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,138 INFO sqlalchemy.engine.base.Engine (1522,)
2021-02-20 14:30:59,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,140 INFO sqlalchemy.engine.base.Engine (1523,)
2021-02-20 14:30:59,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,142 INFO sqlalchemy.engine.base.Engine (1524,)
2021-02-20 14:30:59,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,144 INFO sqlalchemy.engine.base.Engine (1525,)
2021-02-20 14:30:59,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,147 INFO sqlalchemy.engine.base.Engine (1526,)
2021-02-20 14:30:59,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,149 INFO sqlalchemy.engine.base.Engine (1527,)
2021-02-20 14:30:59,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,153 INFO sqlalchemy.engine.base.Engine (1528,)
2021-02-20 14:30:59,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,155 INFO sqlalchemy.engine.base.Engine (1529,)
2021-02-20 14:30:59,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,158 INFO sqlalchemy.engine.base.Engine (1530,)
2021-02-20 14:30:59,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,160 INFO sqlalchemy.engine.base.Engine (1531,)
2021-02-20 14:30:59,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,165 INFO sqlalchemy.engine.base.Engine (1532,)
2021-02-20 14:30:59,166 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,167 INFO sqlalchemy.engine.base.Engine (1533,)
2021-02-20 14:30:59,170 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,171 INFO sqlalchemy.engine.base.Engine (1534,)
2021-02-20 14:30:59,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,173 INFO sqlalchemy.engine.base.Engine (1535,)
2021-02-20 14:30:59,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,175 INFO sqlalchemy.engine.base.Engine (1536,)
2021-02-20 14:30:59,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,177 INFO sqlalchemy.engine.base.Engine (1537,)
2021-02-20 14:30:59,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,180 INFO sqlalchemy.engine.base.Engine (1538,)
2021-02-20 14:30:59,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,182 INFO sqlalchemy.engine.base.Engine (1539,)
2021-02-20 14:30:59,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,185 INFO sqlalchemy.engine.base.Engine (1540,)
2021-02-20 14:30:59,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,187 INFO sqlalchemy.engine.base.Engine (1541,)
2021-02-20 14:30:59,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,190 INFO sqlalchemy.engine.base.Engine (1542,)
2021-02-20 14:30:59,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,192 INFO sqlalchemy.engine.base.Engine (1543,)
2021-02-20 14:30:59,194 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,195 INFO sqlalchemy.engine.base.Engine (1544,)
2021-02-20 14:30:59,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,197 INFO sqlalchemy.engine.base.Engine (1545,)
2021-02-20 14:30:59,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,201 INFO sqlalchemy.engine.base.Engine (1546,)
2021-02-20 14:30:59,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,203 INFO sqlalchemy.engine.base.Engine (1547,)
2021-02-20 14:30:59,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,206 INFO sqlalchemy.engine.base.Engine (1548,)
2021-02-20 14:30:59,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,207 INFO sqlalchemy.engine.base.Engine (1549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:59,256 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:59,256 INFO sqlalchemy.engine.base.Engine ('F32',)
2021-02-20 14:30:59,259 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,260 INFO sqlalchemy.engine.base.Engine ((1550, 14.3, 14.3, 14.3, 152891.25200002544, 122595.00913904794), (1551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.25200002544, 122595.00913904794), (1552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.25200002544, 122595.00913904794), (1553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.25200002544, 122595.00913904794), (1554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.25200002544, 122595.00913904794), (1555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.25200002544, 122595.00913904794), (1556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.25200002544, 122595.00913904794), (1557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.25200002544, 122595.00913904794)  ... displaying 10 of 50 total bound parameter sets ...  (1598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.25200002544, 122595.00913904794), (1599, 135.9, 135.9, 135.9, 152891.25200002544, 122595.00913904794))
2021-02-20 14:30:59,263 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,263 INFO sqlalchemy.engine.base.Engine ((775, 'F32', 0, 'Anhydrite', 1550, 1551), (776, 'F32', 1, 'Sandstone, grey, vf-f', 1552, 1553), (777, 'F32', 2, 'Anhydrite', 1554, 1555), (778, 'F32', 3, 'Dolomite', 1556, 1557), (779, 'F32', 4, 'Anhydrite', 1558, 1559), (780, 'F32', 5, 'Sandstone, grey, vf-f', 1560, 1561), (781, 'F32', 6, 'Siltstone, red', 1562, 1563), (782, 'F32', 7, 'Dolomite', 1564, 1565)  ... displaying 10 of 25 total bound parameter sets ...  (798, 'F32', 23, 'Limestone', 1596, 1597), (799, 'F32', 24, 'Volcanic', 1598, 1599))
2021-02-20 14:30:59,266 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:59,271 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:59,272 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:59,273 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:59,274 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:59,275 INFO sqlalchemy.engine.base.Engine ('F32',)
2021-02-20 14:30:59,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,278 INFO sqlalchemy.engine.base.Engine (1550,)
2021-02-20 14:30:59,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,280 INFO sqlalchemy.engine.base.Engine (1551,)
2021-02-20 14:30:59,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,282 INFO sqlalchemy.engine.base.Engine (1552,)
2021-02-20 14:30:59,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,284 INFO sqlalchemy.engine.base.Engine (1553,)
2021-02-20 14:30:59,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,287 INFO sqlalchemy.engine.base.Engine (1554,)
2021-02-20 14:30:59,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,289 INFO sqlalchemy.engine.base.Engine (1555,)
2021-02-20 14:30:59,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,293 INFO sqlalchemy.engine.base.Engine (1556,)
2021-02-20 14:30:59,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,295 INFO sqlalchemy.engine.base.Engine (1557,)
2021-02-20 14:30:59,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,299 INFO sqlalchemy.engine.base.Engine (1558,)
2021-02-20 14:30:59,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,301 INFO sqlalchemy.engine.base.Engine (1559,)
2021-02-20 14:30:59,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,304 INFO sqlalchemy.engine.base.Engine (1560,)
2021-02-20 14:30:59,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,306 INFO sqlalchemy.engine.base.Engine (1561,)
2021-02-20 14:30:59,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,309 INFO sqlalchemy.engine.base.Engine (1562,)

2021-02-20 14:30:59,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,311 INFO sqlalchemy.engine.base.Engine (1563,)
2021-02-20 14:30:59,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,315 INFO sqlalchemy.engine.base.Engine (1564,)
2021-02-20 14:30:59,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,317 INFO sqlalchemy.engine.base.Engine (1565,)
2021-02-20 14:30:59,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,322 INFO sqlalchemy.engine.base.Engine (1566,)
2021-02-20 14:30:59,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,324 INFO sqlalchemy.engine.base.Engine (1567,)
2021-02-20 14:30:59,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,328 INFO sqlalchemy.engine.base.Engine (1568,)
2021-02-20 14:30:59,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,330 INFO sqlalchemy.engine.base.Engine (1569,)
2021-02-20 14:30:59,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,332 INFO sqlalchemy.engine.base.Engine (1570,)
2021-02-20 14:30:59,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,334 INFO sqlalchemy.engine.base.Engine (1571,)
2021-02-20 14:30:59,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,339 INFO sqlalchemy.engine.base.Engine (1572,)
2021-02-20 14:30:59,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,342 INFO sqlalchemy.engine.base.Engine (1573,)
2021-02-20 14:30:59,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,346 INFO sqlalchemy.engine.base.Engine (1574,)
2021-02-20 14:30:59,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,349 INFO sqlalchemy.engine.base.Engine (1575,)
2021-02-20 14:30:59,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,353 INFO sqlalchemy.engine.base.Engine (1576,)
2021-02-20 14:30:59,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,354 INFO sqlalchemy.engine.base.Engine (1577,)
2021-02-20 14:30:59,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,357 INFO sqlalchemy.engine.base.Engine (1578,)
2021-02-20 14:30:59,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,359 INFO sqlalchemy.engine.base.Engine (1579,)
2021-02-20 14:30:59,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,364 INFO sqlalchemy.engine.base.Engine (1580,)
2021-02-20 14:30:59,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,366 INFO sqlalchemy.engine.base.Engine (1581,)
2021-02-20 14:30:59,370 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,370 INFO sqlalchemy.engine.base.Engine (1582,)
2021-02-20 14:30:59,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,372 INFO sqlalchemy.engine.base.Engine (1583,)
2021-02-20 14:30:59,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,375 INFO sqlalchemy.engine.base.Engine (1584,)
2021-02-20 14:30:59,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,377 INFO sqlalchemy.engine.base.Engine (1585,)
2021-02-20 14:30:59,380 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,380 INFO sqlalchemy.engine.base.Engine (1586,)
2021-02-20 14:30:59,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,382 INFO sqlalchemy.engine.base.Engine (1587,)
2021-02-20 14:30:59,385 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,385 INFO sqlalchemy.engine.base.Engine (1588,)
2021-02-20 14:30:59,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,387 INFO sqlalchemy.engine.base.Engine (1589,)
2021-02-20 14:30:59,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,390 INFO sqlalchemy.engine.base.Engine (1590,)
2021-02-20 14:30:59,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,392 INFO sqlalchemy.engine.base.Engine (1591,)
2021-02-20 14:30:59,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,396 INFO sqlalchemy.engine.base.Engine (1592,)
2021-02-20 14:30:59,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,397 INFO sqlalchemy.engine.base.Engine (1593,)
2021-02-20 14:30:59,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,401 INFO sqlalchemy.engine.base.Engine (1594,)
2021-02-20 14:30:59,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,403 INFO sqlalchemy.engine.base.Engine (1595,)
2021-02-20 14:30:59,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,406 INFO sqlalchemy.engine.base.Engine (1596,)
2021-02-20 14:30:59,407 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,408 INFO sqlalchemy.engine.base.Engine (1597,)
2021-02-20 14:30:59,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,411 INFO sqlalchemy.engine.base.Engine (1598,)
2021-02-20 14:30:59,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,413 INFO sqlalchemy.engine.base.Engine (1599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:59,456 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,456 INFO sqlalchemy.engine.base.Engine ((1600, 14.3, 14.3, 14.3, 152890.82431275706, 122583.5798753826), (1601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.82431275706, 122583.5798753826), (1602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.82431275706, 122583.5798753826), (1603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.82431275706, 122583.5798753826), (1604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.82431275706, 122583.5798753826), (1605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.82431275706, 122583.5798753826), (1606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.82431275706, 122583.5798753826), (1607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152890.82431275706, 122583.5798753826)  ... displaying 10 of 50 total bound parameter sets ...  (1648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152890.82431275706, 122583.5798753826), (1649, 135.9, 135.9, 135.9, 152890.82431275706, 122583.5798753826))
2021-02-20 14:30:59,458 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:59,459 INFO sqlalchemy.engine.base.Engine ('F33',)
2021-02-20 14:30:59,462 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,462 INFO sqlalchemy.engine.base.Engine ((800, 'F33', 0, 'Anhydrite', 1600, 1601), (801, 'F33', 1, 'Sandstone, grey, vf-f', 1602, 1603), (802, 'F33', 2, 'Anhydrite', 1604, 1605), (803, 'F33', 3, 'Dolomite', 1606, 1607), (804, 'F33', 4, 'Anhydrite', 1608, 1609), (805, 'F33', 5, 'Sandstone, grey, vf-f', 1610, 1611), (806, 'F33', 6, 'Siltstone, red', 1612, 1613), (807, 'F33', 7, 'Dolomite', 1614, 1615)  ... displaying 10 of 25 total bound parameter sets ...  (823, 'F33', 23, 'Limestone', 1646, 1647), (824, 'F33', 24, 'Volcanic', 1648, 1649))

2021-02-20 14:30:59,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:59,470 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:59,471 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:59,472 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:59,474 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:59,474 INFO sqlalchemy.engine.base.Engine ('F33',)
2021-02-20 14:30:59,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,477 INFO sqlalchemy.engine.base.Engine (1600,)
2021-02-20 14:30:59,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,479 INFO sqlalchemy.engine.base.Engine (1601,)
2021-02-20 14:30:59,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,484 INFO sqlalchemy.engine.base.Engine (1602,)
2021-02-20 14:30:59,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,485 INFO sqlalchemy.engine.base.Engine (1603,)
2021-02-20 14:30:59,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,488 INFO sqlalchemy.engine.base.Engine (1604,)
2021-02-20 14:30:59,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,489 INFO sqlalchemy.engine.base.Engine (1605,)
2021-02-20 14:30:59,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,493 INFO sqlalchemy.engine.base.Engine (1606,)
2021-02-20 14:30:59,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,494 INFO sqlalchemy.engine.base.Engine (1607,)
2021-02-20 14:30:59,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,498 INFO sqlalchemy.engine.base.Engine (1608,)
2021-02-20 14:30:59,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,501 INFO sqlalchemy.engine.base.Engine (1609,)
2021-02-20 14:30:59,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,504 INFO sqlalchemy.engine.base.Engine (1610,)
2021-02-20 14:30:59,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,505 INFO sqlalchemy.engine.base.Engine (1611,)
2021-02-20 14:30:59,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,508 INFO sqlalchemy.engine.base.Engine (1612,)
2021-02-20 14:30:59,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,510 INFO sqlalchemy.engine.base.Engine (1613,)
2021-02-20 14:30:59,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,513 INFO sqlalchemy.engine.base.Engine (1614,)
2021-02-20 14:30:59,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,515 INFO sqlalchemy.engine.base.Engine (1615,)
2021-02-20 14:30:59,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,519 INFO sqlalchemy.engine.base.Engine (1616,)
2021-02-20 14:30:59,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,521 INFO sqlalchemy.engine.base.Engine (1617,)
2021-02-20 14:30:59,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,524 INFO sqlalchemy.engine.base.Engine (1618,)
2021-02-20 14:30:59,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,526 INFO sqlalchemy.engine.base.Engine (1619,)
2021-02-20 14:30:59,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,529 INFO sqlalchemy.engine.base.Engine (1620,)
2021-02-20 14:30:59,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,531 INFO sqlalchemy.engine.base.Engine (1621,)
2021-02-20 14:30:59,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,535 INFO sqlalchemy.engine.base.Engine (1622,)
2021-02-20 14:30:59,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,537 INFO sqlalchemy.engine.base.Engine (1623,)
2021-02-20 14:30:59,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,540 INFO sqlalchemy.engine.base.Engine (1624,)
2021-02-20 14:30:59,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,542 INFO sqlalchemy.engine.base.Engine (1625,)
2021-02-20 14:30:59,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,545 INFO sqlalchemy.engine.base.Engine (1626,)
2021-02-20 14:30:59,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,546 INFO sqlalchemy.engine.base.Engine (1627,)
2021-02-20 14:30:59,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,551 INFO sqlalchemy.engine.base.Engine (1628,)
2021-02-20 14:30:59,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,553 INFO sqlalchemy.engine.base.Engine (1629,)
2021-02-20 14:30:59,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,557 INFO sqlalchemy.engine.base.Engine (1630,)
2021-02-20 14:30:59,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,560 INFO sqlalchemy.engine.base.Engine (1631,)
2021-02-20 14:30:59,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,564 INFO sqlalchemy.engine.base.Engine (1632,)
2021-02-20 14:30:59,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,566 INFO sqlalchemy.engine.base.Engine (1633,)
2021-02-20 14:30:59,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,569 INFO sqlalchemy.engine.base.Engine (1634,)
2021-02-20 14:30:59,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,571 INFO sqlalchemy.engine.base.Engine (1635,)
2021-02-20 14:30:59,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,575 INFO sqlalchemy.engine.base.Engine (1636,)
2021-02-20 14:30:59,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,578 INFO sqlalchemy.engine.base.Engine (1637,)
2021-02-20 14:30:59,581 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,582 INFO sqlalchemy.engine.base.Engine (1638,)
2021-02-20 14:30:59,583 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,584 INFO sqlalchemy.engine.base.Engine (1639,)
2021-02-20 14:30:59,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,586 INFO sqlalchemy.engine.base.Engine (1640,)
2021-02-20 14:30:59,587 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,589 INFO sqlalchemy.engine.base.Engine (1641,)
2021-02-20 14:30:59,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,591 INFO sqlalchemy.engine.base.Engine (1642,)
2021-02-20 14:30:59,593 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,594 INFO sqlalchemy.engine.base.Engine (1643,)
2021-02-20 14:30:59,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,598 INFO sqlalchemy.engine.base.Engine (1644,)
2021-02-20 14:30:59,600 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,600 INFO sqlalchemy.engine.base.Engine (1645,)
2021-02-20 14:30:59,603 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,604 INFO sqlalchemy.engine.base.Engine (1646,)
2021-02-20 14:30:59,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,605 INFO sqlalchemy.engine.base.Engine (1647,)
2021-02-20 14:30:59,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,608 INFO sqlalchemy.engine.base.Engine (1648,)
2021-02-20 14:30:59,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,609 INFO sqlalchemy.engine.base.Engine (1649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:59,657 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,658 INFO sqlalchemy.engine.base.Engine ((1650, 14.3, 14.3, 14.3, 152892.8790000254, 122592.58713904768), (1651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152892.8790000254, 122592.58713904768), (1652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152892.8790000254, 122592.58713904768), (1653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152892.8790000254, 122592.58713904768), (1654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152892.8790000254, 122592.58713904768), (1655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152892.8790000254, 122592.58713904768), (1656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152892.8790000254, 122592.58713904768), (1657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152892.8790000254, 122592.58713904768)  ... displaying 10 of 50 total bound parameter sets ...  (1698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152892.8790000254, 122592.58713904768), (1699, 135.9, 135.9, 135.9, 152892.8790000254, 122592.58713904768))
2021-02-20 14:30:59,660 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:59,661 INFO sqlalchemy.engine.base.Engine ('F34',)
2021-02-20 14:30:59,664 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,664 INFO sqlalchemy.engine.base.Engine ((825, 'F34', 0, 'Anhydrite', 1650, 1651), (826, 'F34', 1, 'Sandstone, grey, vf-f', 1652, 1653), (827, 'F34', 2, 'Anhydrite', 1654, 1655), (828, 'F34', 3, 'Dolomite', 1656, 1657), (829, 'F34', 4, 'Anhydrite', 1658, 1659), (830, 'F34', 5, 'Sandstone, grey, vf-f', 1660, 1661), (831, 'F34', 6, 'Siltstone, red', 1662, 1663), (832, 'F34', 7, 'Dolomite', 1664, 1665)  ... displaying 10 of 25 total bound parameter sets ...  (848, 'F34', 23, 'Limestone', 1696, 1697), (849, 'F34', 24, 'Volcanic', 1698, 1699))
2021-02-20 14:30:59,666 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:59,671 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:59,672 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:59,673 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:59,675 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:59,676 INFO sqlalchemy.engine.base.Engine ('F34',)
2021-02-20 14:30:59,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,679 INFO sqlalchemy.engine.base.Engine (1650,)
2021-02-20 14:30:59,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,681 INFO sqlalchemy.engine.base.Engine (1651,)
2021-02-20 14:30:59,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,684 INFO sqlalchemy.engine.base.Engine (1652,)

2021-02-20 14:30:59,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,686 INFO sqlalchemy.engine.base.Engine (1653,)
2021-02-20 14:30:59,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,688 INFO sqlalchemy.engine.base.Engine (1654,)
2021-02-20 14:30:59,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,690 INFO sqlalchemy.engine.base.Engine (1655,)
2021-02-20 14:30:59,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,693 INFO sqlalchemy.engine.base.Engine (1656,)
2021-02-20 14:30:59,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,695 INFO sqlalchemy.engine.base.Engine (1657,)
2021-02-20 14:30:59,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,699 INFO sqlalchemy.engine.base.Engine (1658,)
2021-02-20 14:30:59,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,701 INFO sqlalchemy.engine.base.Engine (1659,)
2021-02-20 14:30:59,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,705 INFO sqlalchemy.engine.base.Engine (1660,)
2021-02-20 14:30:59,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,707 INFO sqlalchemy.engine.base.Engine (1661,)
2021-02-20 14:30:59,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,712 INFO sqlalchemy.engine.base.Engine (1662,)
2021-02-20 14:30:59,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,714 INFO sqlalchemy.engine.base.Engine (1663,)
2021-02-20 14:30:59,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,718 INFO sqlalchemy.engine.base.Engine (1664,)
2021-02-20 14:30:59,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,720 INFO sqlalchemy.engine.base.Engine (1665,)
2021-02-20 14:30:59,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,724 INFO sqlalchemy.engine.base.Engine (1666,)
2021-02-20 14:30:59,726 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,727 INFO sqlalchemy.engine.base.Engine (1667,)
2021-02-20 14:30:59,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,732 INFO sqlalchemy.engine.base.Engine (1668,)
2021-02-20 14:30:59,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,733 INFO sqlalchemy.engine.base.Engine (1669,)
2021-02-20 14:30:59,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,736 INFO sqlalchemy.engine.base.Engine (1670,)
2021-02-20 14:30:59,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,738 INFO sqlalchemy.engine.base.Engine (1671,)
2021-02-20 14:30:59,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,742 INFO sqlalchemy.engine.base.Engine (1672,)
2021-02-20 14:30:59,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,744 INFO sqlalchemy.engine.base.Engine (1673,)
2021-02-20 14:30:59,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,748 INFO sqlalchemy.engine.base.Engine (1674,)
2021-02-20 14:30:59,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,750 INFO sqlalchemy.engine.base.Engine (1675,)
2021-02-20 14:30:59,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,754 INFO sqlalchemy.engine.base.Engine (1676,)
2021-02-20 14:30:59,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,757 INFO sqlalchemy.engine.base.Engine (1677,)
2021-02-20 14:30:59,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,760 INFO sqlalchemy.engine.base.Engine (1678,)
2021-02-20 14:30:59,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,761 INFO sqlalchemy.engine.base.Engine (1679,)
2021-02-20 14:30:59,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,766 INFO sqlalchemy.engine.base.Engine (1680,)
2021-02-20 14:30:59,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,768 INFO sqlalchemy.engine.base.Engine (1681,)
2021-02-20 14:30:59,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,771 INFO sqlalchemy.engine.base.Engine (1682,)
2021-02-20 14:30:59,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,773 INFO sqlalchemy.engine.base.Engine (1683,)
2021-02-20 14:30:59,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,776 INFO sqlalchemy.engine.base.Engine (1684,)
2021-02-20 14:30:59,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,779 INFO sqlalchemy.engine.base.Engine (1685,)
2021-02-20 14:30:59,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,783 INFO sqlalchemy.engine.base.Engine (1686,)
2021-02-20 14:30:59,784 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,785 INFO sqlalchemy.engine.base.Engine (1687,)
2021-02-20 14:30:59,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,789 INFO sqlalchemy.engine.base.Engine (1688,)
2021-02-20 14:30:59,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,792 INFO sqlalchemy.engine.base.Engine (1689,)
2021-02-20 14:30:59,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,796 INFO sqlalchemy.engine.base.Engine (1690,)
2021-02-20 14:30:59,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,797 INFO sqlalchemy.engine.base.Engine (1691,)
2021-02-20 14:30:59,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,801 INFO sqlalchemy.engine.base.Engine (1692,)
2021-02-20 14:30:59,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,802 INFO sqlalchemy.engine.base.Engine (1693,)
2021-02-20 14:30:59,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,805 INFO sqlalchemy.engine.base.Engine (1694,)
2021-02-20 14:30:59,806 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,807 INFO sqlalchemy.engine.base.Engine (1695,)
2021-02-20 14:30:59,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,810 INFO sqlalchemy.engine.base.Engine (1696,)
2021-02-20 14:30:59,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,811 INFO sqlalchemy.engine.base.Engine (1697,)
2021-02-20 14:30:59,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,814 INFO sqlalchemy.engine.base.Engine (1698,)
2021-02-20 14:30:59,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,816 INFO sqlalchemy.engine.base.Engine (1699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:30:59,864 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:30:59,865 INFO sqlalchemy.engine.base.Engine ('F35',)
2021-02-20 14:30:59,867 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,868 INFO sqlalchemy.engine.base.Engine ((1700, 14.3, 14.3, 14.3, 152885.19800002538, 122592.74513904564), (1701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.19800002538, 122592.74513904564), (1702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.19800002538, 122592.74513904564), (1703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.19800002538, 122592.74513904564), (1704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.19800002538, 122592.74513904564), (1705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.19800002538, 122592.74513904564), (1706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.19800002538, 122592.74513904564), (1707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.19800002538, 122592.74513904564)  ... displaying 10 of 50 total bound parameter sets ...  (1748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.19800002538, 122592.74513904564), (1749, 135.9, 135.9, 135.9, 152885.19800002538, 122592.74513904564))
2021-02-20 14:30:59,871 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:30:59,872 INFO sqlalchemy.engine.base.Engine ((850, 'F35', 0, 'Anhydrite', 1700, 1701), (851, 'F35', 1, 'Sandstone, grey, vf-f', 1702, 1703), (852, 'F35', 2, 'Anhydrite', 1704, 1705), (853, 'F35', 3, 'Dolomite', 1706, 1707), (854, 'F35', 4, 'Anhydrite', 1708, 1709), (855, 'F35', 5, 'Sandstone, grey, vf-f', 1710, 1711), (856, 'F35', 6, 'Siltstone, red', 1712, 1713), (857, 'F35', 7, 'Dolomite', 1714, 1715)  ... displaying 10 of 25 total bound parameter sets ...  (873, 'F35', 23, 'Limestone', 1746, 1747), (874, 'F35', 24, 'Volcanic', 1748, 1749))
2021-02-20 14:30:59,874 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:30:59,880 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:30:59,880 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:30:59,881 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:30:59,883 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:30:59,884 INFO sqlalchemy.engine.base.Engine ('F35',)
2021-02-20 14:30:59,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,888 INFO sqlalchemy.engine.base.Engine (1700,)
2021-02-20 14:30:59,890 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,892 INFO sqlalchemy.engine.base.Engine (1701,)
2021-02-20 14:30:59,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,895 INFO sqlalchemy.engine.base.Engine (1702,)
2021-02-20 14:30:59,897 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,898 INFO sqlalchemy.engine.base.Engine (1703,)
2021-02-20 14:30:59,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,903 INFO sqlalchemy.engine.base.Engine (1704,)
2021-02-20 14:30:59,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,905 INFO sqlalchemy.engine.base.Engine (1705,)
2021-02-20 14:30:59,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,907 INFO sqlalchemy.engine.base.Engine (1706,)
2021-02-20 14:30:59,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,909 INFO sqlalchemy.engine.base.Engine (1707,)

2021-02-20 14:30:59,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,912 INFO sqlalchemy.engine.base.Engine (1708,)
2021-02-20 14:30:59,913 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,914 INFO sqlalchemy.engine.base.Engine (1709,)
2021-02-20 14:30:59,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,917 INFO sqlalchemy.engine.base.Engine (1710,)
2021-02-20 14:30:59,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,919 INFO sqlalchemy.engine.base.Engine (1711,)
2021-02-20 14:30:59,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,923 INFO sqlalchemy.engine.base.Engine (1712,)
2021-02-20 14:30:59,924 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,924 INFO sqlalchemy.engine.base.Engine (1713,)
2021-02-20 14:30:59,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,928 INFO sqlalchemy.engine.base.Engine (1714,)
2021-02-20 14:30:59,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,930 INFO sqlalchemy.engine.base.Engine (1715,)
2021-02-20 14:30:59,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,933 INFO sqlalchemy.engine.base.Engine (1716,)
2021-02-20 14:30:59,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,934 INFO sqlalchemy.engine.base.Engine (1717,)
2021-02-20 14:30:59,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,938 INFO sqlalchemy.engine.base.Engine (1718,)
2021-02-20 14:30:59,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,940 INFO sqlalchemy.engine.base.Engine (1719,)
2021-02-20 14:30:59,942 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,943 INFO sqlalchemy.engine.base.Engine (1720,)
2021-02-20 14:30:59,944 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,945 INFO sqlalchemy.engine.base.Engine (1721,)
2021-02-20 14:30:59,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,948 INFO sqlalchemy.engine.base.Engine (1722,)
2021-02-20 14:30:59,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,949 INFO sqlalchemy.engine.base.Engine (1723,)
2021-02-20 14:30:59,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,952 INFO sqlalchemy.engine.base.Engine (1724,)
2021-02-20 14:30:59,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,954 INFO sqlalchemy.engine.base.Engine (1725,)
2021-02-20 14:30:59,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,957 INFO sqlalchemy.engine.base.Engine (1726,)
2021-02-20 14:30:59,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,959 INFO sqlalchemy.engine.base.Engine (1727,)
2021-02-20 14:30:59,962 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:30:59,963 INFO sqlalchemy.engine.base.Engine (1728,)
2021-02-20 14:30:59,964 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,965 INFO sqlalchemy.engine.base.Engine (1729,)
2021-02-20 14:30:59,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,968 INFO sqlalchemy.engine.base.Engine (1730,)
2021-02-20 14:30:59,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,971 INFO sqlalchemy.engine.base.Engine (1731,)
2021-02-20 14:30:59,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,974 INFO sqlalchemy.engine.base.Engine (1732,)
2021-02-20 14:30:59,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,976 INFO sqlalchemy.engine.base.Engine (1733,)
2021-02-20 14:30:59,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,979 INFO sqlalchemy.engine.base.Engine (1734,)
2021-02-20 14:30:59,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,981 INFO sqlalchemy.engine.base.Engine (1735,)
2021-02-20 14:30:59,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,984 INFO sqlalchemy.engine.base.Engine (1736,)
2021-02-20 14:30:59,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,986 INFO sqlalchemy.engine.base.Engine (1737,)
2021-02-20 14:30:59,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,990 INFO sqlalchemy.engine.base.Engine (1738,)
2021-02-20 14:30:59,991 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,991 INFO sqlalchemy.engine.base.Engine (1739,)
2021-02-20 14:30:59,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,995 INFO sqlalchemy.engine.base.Engine (1740,)
2021-02-20 14:30:59,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:30:59,997 INFO sqlalchemy.engine.base.Engine (1741,)
2021-02-20 14:30:59,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,000 INFO sqlalchemy.engine.base.Engine (1742,)
2021-02-20 14:31:00,002 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,002 INFO sqlalchemy.engine.base.Engine (1743,)
2021-02-20 14:31:00,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,006 INFO sqlalchemy.engine.base.Engine (1744,)
2021-02-20 14:31:00,007 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,008 INFO sqlalchemy.engine.base.Engine (1745,)
2021-02-20 14:31:00,010 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,011 INFO sqlalchemy.engine.base.Engine (1746,)
2021-02-20 14:31:00,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,013 INFO sqlalchemy.engine.base.Engine (1747,)
2021-02-20 14:31:00,016 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,017 INFO sqlalchemy.engine.base.Engine (1748,)
2021-02-20 14:31:00,018 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,018 INFO sqlalchemy.engine.base.Engine (1749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:00,061 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,062 INFO sqlalchemy.engine.base.Engine ((1750, 14.3, 14.3, 14.3, 152888.16400002537, 122591.69413904753), (1751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.16400002537, 122591.69413904753), (1752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.16400002537, 122591.69413904753), (1753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.16400002537, 122591.69413904753), (1754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.16400002537, 122591.69413904753), (1755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.16400002537, 122591.69413904753), (1756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.16400002537, 122591.69413904753), (1757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.16400002537, 122591.69413904753)  ... displaying 10 of 50 total bound parameter sets ...  (1798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.16400002537, 122591.69413904753), (1799, 135.9, 135.9, 135.9, 152888.16400002537, 122591.69413904753))
2021-02-20 14:31:00,064 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:00,065 INFO sqlalchemy.engine.base.Engine ('F36',)
2021-02-20 14:31:00,067 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,068 INFO sqlalchemy.engine.base.Engine ((875, 'F36', 0, 'Anhydrite', 1750, 1751), (876, 'F36', 1, 'Sandstone, grey, vf-f', 1752, 1753), (877, 'F36', 2, 'Anhydrite', 1754, 1755), (878, 'F36', 3, 'Dolomite', 1756, 1757), (879, 'F36', 4, 'Anhydrite', 1758, 1759), (880, 'F36', 5, 'Sandstone, grey, vf-f', 1760, 1761), (881, 'F36', 6, 'Siltstone, red', 1762, 1763), (882, 'F36', 7, 'Dolomite', 1764, 1765)  ... displaying 10 of 25 total bound parameter sets ...  (898, 'F36', 23, 'Limestone', 1796, 1797), (899, 'F36', 24, 'Volcanic', 1798, 1799))
2021-02-20 14:31:00,070 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:00,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:00,075 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:00,075 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:00,077 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:00,078 INFO sqlalchemy.engine.base.Engine ('F36',)
2021-02-20 14:31:00,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,080 INFO sqlalchemy.engine.base.Engine (1750,)
2021-02-20 14:31:00,082 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,083 INFO sqlalchemy.engine.base.Engine (1751,)
2021-02-20 14:31:00,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,088 INFO sqlalchemy.engine.base.Engine (1752,)
2021-02-20 14:31:00,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,090 INFO sqlalchemy.engine.base.Engine (1753,)
2021-02-20 14:31:00,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,093 INFO sqlalchemy.engine.base.Engine (1754,)
2021-02-20 14:31:00,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,094 INFO sqlalchemy.engine.base.Engine (1755,)
2021-02-20 14:31:00,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,098 INFO sqlalchemy.engine.base.Engine (1756,)
2021-02-20 14:31:00,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,100 INFO sqlalchemy.engine.base.Engine (1757,)
2021-02-20 14:31:00,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,104 INFO sqlalchemy.engine.base.Engine (1758,)
2021-02-20 14:31:00,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,105 INFO sqlalchemy.engine.base.Engine (1759,)
2021-02-20 14:31:00,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,109 INFO sqlalchemy.engine.base.Engine (1760,)
2021-02-20 14:31:00,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,111 INFO sqlalchemy.engine.base.Engine (1761,)
2021-02-20 14:31:00,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,114 INFO sqlalchemy.engine.base.Engine (1762,)

2021-02-20 14:31:00,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,116 INFO sqlalchemy.engine.base.Engine (1763,)
2021-02-20 14:31:00,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,118 INFO sqlalchemy.engine.base.Engine (1764,)
2021-02-20 14:31:00,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,121 INFO sqlalchemy.engine.base.Engine (1765,)
2021-02-20 14:31:00,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,125 INFO sqlalchemy.engine.base.Engine (1766,)
2021-02-20 14:31:00,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,127 INFO sqlalchemy.engine.base.Engine (1767,)
2021-02-20 14:31:00,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,131 INFO sqlalchemy.engine.base.Engine (1768,)
2021-02-20 14:31:00,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,133 INFO sqlalchemy.engine.base.Engine (1769,)
2021-02-20 14:31:00,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,137 INFO sqlalchemy.engine.base.Engine (1770,)
2021-02-20 14:31:00,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,140 INFO sqlalchemy.engine.base.Engine (1771,)
2021-02-20 14:31:00,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,144 INFO sqlalchemy.engine.base.Engine (1772,)
2021-02-20 14:31:00,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,146 INFO sqlalchemy.engine.base.Engine (1773,)
2021-02-20 14:31:00,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,149 INFO sqlalchemy.engine.base.Engine (1774,)
2021-02-20 14:31:00,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,151 INFO sqlalchemy.engine.base.Engine (1775,)
2021-02-20 14:31:00,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,155 INFO sqlalchemy.engine.base.Engine (1776,)
2021-02-20 14:31:00,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,157 INFO sqlalchemy.engine.base.Engine (1777,)
2021-02-20 14:31:00,161 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,161 INFO sqlalchemy.engine.base.Engine (1778,)
2021-02-20 14:31:00,163 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,163 INFO sqlalchemy.engine.base.Engine (1779,)
2021-02-20 14:31:00,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,167 INFO sqlalchemy.engine.base.Engine (1780,)
2021-02-20 14:31:00,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,170 INFO sqlalchemy.engine.base.Engine (1781,)
2021-02-20 14:31:00,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,174 INFO sqlalchemy.engine.base.Engine (1782,)
2021-02-20 14:31:00,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,176 INFO sqlalchemy.engine.base.Engine (1783,)
2021-02-20 14:31:00,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,181 INFO sqlalchemy.engine.base.Engine (1784,)
2021-02-20 14:31:00,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,183 INFO sqlalchemy.engine.base.Engine (1785,)
2021-02-20 14:31:00,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,187 INFO sqlalchemy.engine.base.Engine (1786,)
2021-02-20 14:31:00,188 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,189 INFO sqlalchemy.engine.base.Engine (1787,)
2021-02-20 14:31:00,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,192 INFO sqlalchemy.engine.base.Engine (1788,)
2021-02-20 14:31:00,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,193 INFO sqlalchemy.engine.base.Engine (1789,)
2021-02-20 14:31:00,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,197 INFO sqlalchemy.engine.base.Engine (1790,)
2021-02-20 14:31:00,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,198 INFO sqlalchemy.engine.base.Engine (1791,)
2021-02-20 14:31:00,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,202 INFO sqlalchemy.engine.base.Engine (1792,)
2021-02-20 14:31:00,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,204 INFO sqlalchemy.engine.base.Engine (1793,)
2021-02-20 14:31:00,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,206 INFO sqlalchemy.engine.base.Engine (1794,)
2021-02-20 14:31:00,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,209 INFO sqlalchemy.engine.base.Engine (1795,)
2021-02-20 14:31:00,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,212 INFO sqlalchemy.engine.base.Engine (1796,)
2021-02-20 14:31:00,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,214 INFO sqlalchemy.engine.base.Engine (1797,)
2021-02-20 14:31:00,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,218 INFO sqlalchemy.engine.base.Engine (1798,)
2021-02-20 14:31:00,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,219 INFO sqlalchemy.engine.base.Engine (1799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:00,261 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,261 INFO sqlalchemy.engine.base.Engine ((1800, 14.3, 14.3, 14.3, 152890.42400002546, 122593.64313904569), (1801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.42400002546, 122593.64313904569), (1802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.42400002546, 122593.64313904569), (1803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.42400002546, 122593.64313904569), (1804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.42400002546, 122593.64313904569), (1805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.42400002546, 122593.64313904569), (1806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.42400002546, 122593.64313904569), (1807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152890.42400002546, 122593.64313904569)  ... displaying 10 of 50 total bound parameter sets ...  (1848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152890.42400002546, 122593.64313904569), (1849, 135.9, 135.9, 135.9, 152890.42400002546, 122593.64313904569))
2021-02-20 14:31:00,263 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:00,264 INFO sqlalchemy.engine.base.Engine ('F37',)
2021-02-20 14:31:00,266 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,267 INFO sqlalchemy.engine.base.Engine ((900, 'F37', 0, 'Anhydrite', 1800, 1801), (901, 'F37', 1, 'Sandstone, grey, vf-f', 1802, 1803), (902, 'F37', 2, 'Anhydrite', 1804, 1805), (903, 'F37', 3, 'Dolomite', 1806, 1807), (904, 'F37', 4, 'Anhydrite', 1808, 1809), (905, 'F37', 5, 'Sandstone, grey, vf-f', 1810, 1811), (906, 'F37', 6, 'Siltstone, red', 1812, 1813), (907, 'F37', 7, 'Dolomite', 1814, 1815)  ... displaying 10 of 25 total bound parameter sets ...  (923, 'F37', 23, 'Limestone', 1846, 1847), (924, 'F37', 24, 'Volcanic', 1848, 1849))

2021-02-20 14:31:00,270 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:00,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:00,277 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:00,277 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:00,280 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:00,281 INFO sqlalchemy.engine.base.Engine ('F37',)
2021-02-20 14:31:00,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,284 INFO sqlalchemy.engine.base.Engine (1800,)
2021-02-20 14:31:00,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,285 INFO sqlalchemy.engine.base.Engine (1801,)
2021-02-20 14:31:00,287 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,288 INFO sqlalchemy.engine.base.Engine (1802,)
2021-02-20 14:31:00,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,289 INFO sqlalchemy.engine.base.Engine (1803,)
2021-02-20 14:31:00,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,292 INFO sqlalchemy.engine.base.Engine (1804,)
2021-02-20 14:31:00,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,294 INFO sqlalchemy.engine.base.Engine (1805,)
2021-02-20 14:31:00,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,296 INFO sqlalchemy.engine.base.Engine (1806,)
2021-02-20 14:31:00,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,298 INFO sqlalchemy.engine.base.Engine (1807,)
2021-02-20 14:31:00,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,300 INFO sqlalchemy.engine.base.Engine (1808,)
2021-02-20 14:31:00,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,302 INFO sqlalchemy.engine.base.Engine (1809,)
2021-02-20 14:31:00,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,306 INFO sqlalchemy.engine.base.Engine (1810,)
2021-02-20 14:31:00,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,307 INFO sqlalchemy.engine.base.Engine (1811,)
2021-02-20 14:31:00,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,310 INFO sqlalchemy.engine.base.Engine (1812,)
2021-02-20 14:31:00,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,312 INFO sqlalchemy.engine.base.Engine (1813,)
2021-02-20 14:31:00,315 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,316 INFO sqlalchemy.engine.base.Engine (1814,)
2021-02-20 14:31:00,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,319 INFO sqlalchemy.engine.base.Engine (1815,)
2021-02-20 14:31:00,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,323 INFO sqlalchemy.engine.base.Engine (1816,)
2021-02-20 14:31:00,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,325 INFO sqlalchemy.engine.base.Engine (1817,)
2021-02-20 14:31:00,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,328 INFO sqlalchemy.engine.base.Engine (1818,)
2021-02-20 14:31:00,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,330 INFO sqlalchemy.engine.base.Engine (1819,)
2021-02-20 14:31:00,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,335 INFO sqlalchemy.engine.base.Engine (1820,)
2021-02-20 14:31:00,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,336 INFO sqlalchemy.engine.base.Engine (1821,)
2021-02-20 14:31:00,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,339 INFO sqlalchemy.engine.base.Engine (1822,)
2021-02-20 14:31:00,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,342 INFO sqlalchemy.engine.base.Engine (1823,)
2021-02-20 14:31:00,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,345 INFO sqlalchemy.engine.base.Engine (1824,)
2021-02-20 14:31:00,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,346 INFO sqlalchemy.engine.base.Engine (1825,)
2021-02-20 14:31:00,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,350 INFO sqlalchemy.engine.base.Engine (1826,)
2021-02-20 14:31:00,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,352 INFO sqlalchemy.engine.base.Engine (1827,)
2021-02-20 14:31:00,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,354 INFO sqlalchemy.engine.base.Engine (1828,)
2021-02-20 14:31:00,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,356 INFO sqlalchemy.engine.base.Engine (1829,)
2021-02-20 14:31:00,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,361 INFO sqlalchemy.engine.base.Engine (1830,)
2021-02-20 14:31:00,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,363 INFO sqlalchemy.engine.base.Engine (1831,)
2021-02-20 14:31:00,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,367 INFO sqlalchemy.engine.base.Engine (1832,)
2021-02-20 14:31:00,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,370 INFO sqlalchemy.engine.base.Engine (1833,)
2021-02-20 14:31:00,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,374 INFO sqlalchemy.engine.base.Engine (1834,)
2021-02-20 14:31:00,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,377 INFO sqlalchemy.engine.base.Engine (1835,)
2021-02-20 14:31:00,380 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,380 INFO sqlalchemy.engine.base.Engine (1836,)
2021-02-20 14:31:00,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,382 INFO sqlalchemy.engine.base.Engine (1837,)
2021-02-20 14:31:00,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,384 INFO sqlalchemy.engine.base.Engine (1838,)
2021-02-20 14:31:00,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,386 INFO sqlalchemy.engine.base.Engine (1839,)
2021-02-20 14:31:00,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,389 INFO sqlalchemy.engine.base.Engine (1840,)
2021-02-20 14:31:00,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,391 INFO sqlalchemy.engine.base.Engine (1841,)
2021-02-20 14:31:00,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,394 INFO sqlalchemy.engine.base.Engine (1842,)
2021-02-20 14:31:00,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,395 INFO sqlalchemy.engine.base.Engine (1843,)
2021-02-20 14:31:00,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,398 INFO sqlalchemy.engine.base.Engine (1844,)
2021-02-20 14:31:00,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,401 INFO sqlalchemy.engine.base.Engine (1845,)
2021-02-20 14:31:00,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,405 INFO sqlalchemy.engine.base.Engine (1846,)
2021-02-20 14:31:00,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,407 INFO sqlalchemy.engine.base.Engine (1847,)
2021-02-20 14:31:00,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,411 INFO sqlalchemy.engine.base.Engine (1848,)
2021-02-20 14:31:00,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,413 INFO sqlalchemy.engine.base.Engine (1849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:00,464 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,465 INFO sqlalchemy.engine.base.Engine ((1850, 14.3, 14.3, 14.3, 152888.12300002543, 122599.14613904712), (1851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.12300002543, 122599.14613904712), (1852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.12300002543, 122599.14613904712), (1853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.12300002543, 122599.14613904712), (1854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.12300002543, 122599.14613904712), (1855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.12300002543, 122599.14613904712), (1856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.12300002543, 122599.14613904712), (1857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.12300002543, 122599.14613904712)  ... displaying 10 of 50 total bound parameter sets ...  (1898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.12300002543, 122599.14613904712), (1899, 135.9, 135.9, 135.9, 152888.12300002543, 122599.14613904712))
2021-02-20 14:31:00,467 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:00,467 INFO sqlalchemy.engine.base.Engine ('F38',)
2021-02-20 14:31:00,469 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,470 INFO sqlalchemy.engine.base.Engine ((925, 'F38', 0, 'Anhydrite', 1850, 1851), (926, 'F38', 1, 'Sandstone, grey, vf-f', 1852, 1853), (927, 'F38', 2, 'Anhydrite', 1854, 1855), (928, 'F38', 3, 'Dolomite', 1856, 1857), (929, 'F38', 4, 'Anhydrite', 1858, 1859), (930, 'F38', 5, 'Sandstone, grey, vf-f', 1860, 1861), (931, 'F38', 6, 'Siltstone, red', 1862, 1863), (932, 'F38', 7, 'Dolomite', 1864, 1865)  ... displaying 10 of 25 total bound parameter sets ...  (948, 'F38', 23, 'Limestone', 1896, 1897), (949, 'F38', 24, 'Volcanic', 1898, 1899))
2021-02-20 14:31:00,471 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:00,477 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:00,478 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:00,479 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:00,481 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:00,482 INFO sqlalchemy.engine.base.Engine ('F38',)
2021-02-20 14:31:00,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,485 INFO sqlalchemy.engine.base.Engine (1850,)
2021-02-20 14:31:00,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,487 INFO sqlalchemy.engine.base.Engine (1851,)
2021-02-20 14:31:00,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,491 INFO sqlalchemy.engine.base.Engine (1852,)

2021-02-20 14:31:00,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,493 INFO sqlalchemy.engine.base.Engine (1853,)
2021-02-20 14:31:00,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,496 INFO sqlalchemy.engine.base.Engine (1854,)
2021-02-20 14:31:00,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,498 INFO sqlalchemy.engine.base.Engine (1855,)
2021-02-20 14:31:00,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,501 INFO sqlalchemy.engine.base.Engine (1856,)
2021-02-20 14:31:00,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,502 INFO sqlalchemy.engine.base.Engine (1857,)
2021-02-20 14:31:00,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,505 INFO sqlalchemy.engine.base.Engine (1858,)
2021-02-20 14:31:00,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,508 INFO sqlalchemy.engine.base.Engine (1859,)
2021-02-20 14:31:00,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,510 INFO sqlalchemy.engine.base.Engine (1860,)
2021-02-20 14:31:00,512 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,512 INFO sqlalchemy.engine.base.Engine (1861,)
2021-02-20 14:31:00,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,515 INFO sqlalchemy.engine.base.Engine (1862,)
2021-02-20 14:31:00,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,517 INFO sqlalchemy.engine.base.Engine (1863,)
2021-02-20 14:31:00,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,520 INFO sqlalchemy.engine.base.Engine (1864,)
2021-02-20 14:31:00,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,522 INFO sqlalchemy.engine.base.Engine (1865,)
2021-02-20 14:31:00,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,525 INFO sqlalchemy.engine.base.Engine (1866,)
2021-02-20 14:31:00,526 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,527 INFO sqlalchemy.engine.base.Engine (1867,)
2021-02-20 14:31:00,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,530 INFO sqlalchemy.engine.base.Engine (1868,)
2021-02-20 14:31:00,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,531 INFO sqlalchemy.engine.base.Engine (1869,)
2021-02-20 14:31:00,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,533 INFO sqlalchemy.engine.base.Engine (1870,)
2021-02-20 14:31:00,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,536 INFO sqlalchemy.engine.base.Engine (1871,)
2021-02-20 14:31:00,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,540 INFO sqlalchemy.engine.base.Engine (1872,)
2021-02-20 14:31:00,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,543 INFO sqlalchemy.engine.base.Engine (1873,)
2021-02-20 14:31:00,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,547 INFO sqlalchemy.engine.base.Engine (1874,)
2021-02-20 14:31:00,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,549 INFO sqlalchemy.engine.base.Engine (1875,)
2021-02-20 14:31:00,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,553 INFO sqlalchemy.engine.base.Engine (1876,)
2021-02-20 14:31:00,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,555 INFO sqlalchemy.engine.base.Engine (1877,)
2021-02-20 14:31:00,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,559 INFO sqlalchemy.engine.base.Engine (1878,)
2021-02-20 14:31:00,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,561 INFO sqlalchemy.engine.base.Engine (1879,)
2021-02-20 14:31:00,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,564 INFO sqlalchemy.engine.base.Engine (1880,)
2021-02-20 14:31:00,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,566 INFO sqlalchemy.engine.base.Engine (1881,)
2021-02-20 14:31:00,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,569 INFO sqlalchemy.engine.base.Engine (1882,)
2021-02-20 14:31:00,570 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,571 INFO sqlalchemy.engine.base.Engine (1883,)
2021-02-20 14:31:00,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,575 INFO sqlalchemy.engine.base.Engine (1884,)
2021-02-20 14:31:00,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,577 INFO sqlalchemy.engine.base.Engine (1885,)
2021-02-20 14:31:00,581 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,582 INFO sqlalchemy.engine.base.Engine (1886,)
2021-02-20 14:31:00,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,584 INFO sqlalchemy.engine.base.Engine (1887,)
2021-02-20 14:31:00,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,590 INFO sqlalchemy.engine.base.Engine (1888,)
2021-02-20 14:31:00,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,593 INFO sqlalchemy.engine.base.Engine (1889,)
2021-02-20 14:31:00,595 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,596 INFO sqlalchemy.engine.base.Engine (1890,)
2021-02-20 14:31:00,597 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,597 INFO sqlalchemy.engine.base.Engine (1891,)
2021-02-20 14:31:00,600 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,601 INFO sqlalchemy.engine.base.Engine (1892,)
2021-02-20 14:31:00,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,602 INFO sqlalchemy.engine.base.Engine (1893,)
2021-02-20 14:31:00,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,607 INFO sqlalchemy.engine.base.Engine (1894,)
2021-02-20 14:31:00,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,610 INFO sqlalchemy.engine.base.Engine (1895,)
2021-02-20 14:31:00,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,614 INFO sqlalchemy.engine.base.Engine (1896,)
2021-02-20 14:31:00,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,615 INFO sqlalchemy.engine.base.Engine (1897,)
2021-02-20 14:31:00,617 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,618 INFO sqlalchemy.engine.base.Engine (1898,)
2021-02-20 14:31:00,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,620 INFO sqlalchemy.engine.base.Engine (1899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:00,664 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:00,665 INFO sqlalchemy.engine.base.Engine ('F39',)
2021-02-20 14:31:00,667 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,668 INFO sqlalchemy.engine.base.Engine ((1900, 14.3, 14.3, 14.3, 152891.16600002543, 122597.62813904602), (1901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.16600002543, 122597.62813904602), (1902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.16600002543, 122597.62813904602), (1903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.16600002543, 122597.62813904602), (1904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.16600002543, 122597.62813904602), (1905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.16600002543, 122597.62813904602), (1906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.16600002543, 122597.62813904602), (1907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.16600002543, 122597.62813904602)  ... displaying 10 of 50 total bound parameter sets ...  (1948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.16600002543, 122597.62813904602), (1949, 135.9, 135.9, 135.9, 152891.16600002543, 122597.62813904602))
2021-02-20 14:31:00,673 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,674 INFO sqlalchemy.engine.base.Engine ((950, 'F39', 0, 'Anhydrite', 1900, 1901), (951, 'F39', 1, 'Sandstone, grey, vf-f', 1902, 1903), (952, 'F39', 2, 'Anhydrite', 1904, 1905), (953, 'F39', 3, 'Dolomite', 1906, 1907), (954, 'F39', 4, 'Anhydrite', 1908, 1909), (955, 'F39', 5, 'Sandstone, grey, vf-f', 1910, 1911), (956, 'F39', 6, 'Siltstone, red', 1912, 1913), (957, 'F39', 7, 'Dolomite', 1914, 1915)  ... displaying 10 of 25 total bound parameter sets ...  (973, 'F39', 23, 'Limestone', 1946, 1947), (974, 'F39', 24, 'Volcanic', 1948, 1949))
2021-02-20 14:31:00,676 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:00,683 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:00,684 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:00,684 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:00,686 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:00,686 INFO sqlalchemy.engine.base.Engine ('F39',)
2021-02-20 14:31:00,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,688 INFO sqlalchemy.engine.base.Engine (1900,)
2021-02-20 14:31:00,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,690 INFO sqlalchemy.engine.base.Engine (1901,)
2021-02-20 14:31:00,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,694 INFO sqlalchemy.engine.base.Engine (1902,)
2021-02-20 14:31:00,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,697 INFO sqlalchemy.engine.base.Engine (1903,)
2021-02-20 14:31:00,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,699 INFO sqlalchemy.engine.base.Engine (1904,)
2021-02-20 14:31:00,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,701 INFO sqlalchemy.engine.base.Engine (1905,)
2021-02-20 14:31:00,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,704 INFO sqlalchemy.engine.base.Engine (1906,)
2021-02-20 14:31:00,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,706 INFO sqlalchemy.engine.base.Engine (1907,)

2021-02-20 14:31:00,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,710 INFO sqlalchemy.engine.base.Engine (1908,)
2021-02-20 14:31:00,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,712 INFO sqlalchemy.engine.base.Engine (1909,)
2021-02-20 14:31:00,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,714 INFO sqlalchemy.engine.base.Engine (1910,)
2021-02-20 14:31:00,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,716 INFO sqlalchemy.engine.base.Engine (1911,)
2021-02-20 14:31:00,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,718 INFO sqlalchemy.engine.base.Engine (1912,)
2021-02-20 14:31:00,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,720 INFO sqlalchemy.engine.base.Engine (1913,)
2021-02-20 14:31:00,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,725 INFO sqlalchemy.engine.base.Engine (1914,)
2021-02-20 14:31:00,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,727 INFO sqlalchemy.engine.base.Engine (1915,)
2021-02-20 14:31:00,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,731 INFO sqlalchemy.engine.base.Engine (1916,)
2021-02-20 14:31:00,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,733 INFO sqlalchemy.engine.base.Engine (1917,)
2021-02-20 14:31:00,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,736 INFO sqlalchemy.engine.base.Engine (1918,)
2021-02-20 14:31:00,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,737 INFO sqlalchemy.engine.base.Engine (1919,)
2021-02-20 14:31:00,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,739 INFO sqlalchemy.engine.base.Engine (1920,)
2021-02-20 14:31:00,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,740 INFO sqlalchemy.engine.base.Engine (1921,)
2021-02-20 14:31:00,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,742 INFO sqlalchemy.engine.base.Engine (1922,)
2021-02-20 14:31:00,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,743 INFO sqlalchemy.engine.base.Engine (1923,)
2021-02-20 14:31:00,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,745 INFO sqlalchemy.engine.base.Engine (1924,)
2021-02-20 14:31:00,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,746 INFO sqlalchemy.engine.base.Engine (1925,)
2021-02-20 14:31:00,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,748 INFO sqlalchemy.engine.base.Engine (1926,)
2021-02-20 14:31:00,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,749 INFO sqlalchemy.engine.base.Engine (1927,)
2021-02-20 14:31:00,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,751 INFO sqlalchemy.engine.base.Engine (1928,)
2021-02-20 14:31:00,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,753 INFO sqlalchemy.engine.base.Engine (1929,)
2021-02-20 14:31:00,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,757 INFO sqlalchemy.engine.base.Engine (1930,)
2021-02-20 14:31:00,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,759 INFO sqlalchemy.engine.base.Engine (1931,)
2021-02-20 14:31:00,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,764 INFO sqlalchemy.engine.base.Engine (1932,)
2021-02-20 14:31:00,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,766 INFO sqlalchemy.engine.base.Engine (1933,)
2021-02-20 14:31:00,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,768 INFO sqlalchemy.engine.base.Engine (1934,)
2021-02-20 14:31:00,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,770 INFO sqlalchemy.engine.base.Engine (1935,)
2021-02-20 14:31:00,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,774 INFO sqlalchemy.engine.base.Engine (1936,)
2021-02-20 14:31:00,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,776 INFO sqlalchemy.engine.base.Engine (1937,)
2021-02-20 14:31:00,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,780 INFO sqlalchemy.engine.base.Engine (1938,)
2021-02-20 14:31:00,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,782 INFO sqlalchemy.engine.base.Engine (1939,)
2021-02-20 14:31:00,784 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,784 INFO sqlalchemy.engine.base.Engine (1940,)
2021-02-20 14:31:00,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,786 INFO sqlalchemy.engine.base.Engine (1941,)
2021-02-20 14:31:00,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,789 INFO sqlalchemy.engine.base.Engine (1942,)
2021-02-20 14:31:00,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,791 INFO sqlalchemy.engine.base.Engine (1943,)
2021-02-20 14:31:00,795 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,795 INFO sqlalchemy.engine.base.Engine (1944,)
2021-02-20 14:31:00,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,798 INFO sqlalchemy.engine.base.Engine (1945,)
2021-02-20 14:31:00,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,802 INFO sqlalchemy.engine.base.Engine (1946,)
2021-02-20 14:31:00,803 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,804 INFO sqlalchemy.engine.base.Engine (1947,)
2021-02-20 14:31:00,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,808 INFO sqlalchemy.engine.base.Engine (1948,)
2021-02-20 14:31:00,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,810 INFO sqlalchemy.engine.base.Engine (1949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:00,853 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,854 INFO sqlalchemy.engine.base.Engine ((1950, 14.3, 14.3, 14.3, 152893.33600002548, 122595.9201390464), (1951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.33600002548, 122595.9201390464), (1952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.33600002548, 122595.9201390464), (1953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.33600002548, 122595.9201390464), (1954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.33600002548, 122595.9201390464), (1955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.33600002548, 122595.9201390464), (1956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.33600002548, 122595.9201390464), (1957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152893.33600002548, 122595.9201390464)  ... displaying 10 of 50 total bound parameter sets ...  (1998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152893.33600002548, 122595.9201390464), (1999, 135.9, 135.9, 135.9, 152893.33600002548, 122595.9201390464))
2021-02-20 14:31:00,856 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:00,856 INFO sqlalchemy.engine.base.Engine ('F40',)
2021-02-20 14:31:00,860 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:00,860 INFO sqlalchemy.engine.base.Engine ((975, 'F40', 0, 'Anhydrite', 1950, 1951), (976, 'F40', 1, 'Sandstone, grey, vf-f', 1952, 1953), (977, 'F40', 2, 'Anhydrite', 1954, 1955), (978, 'F40', 3, 'Dolomite', 1956, 1957), (979, 'F40', 4, 'Anhydrite', 1958, 1959), (980, 'F40', 5, 'Sandstone, grey, vf-f', 1960, 1961), (981, 'F40', 6, 'Siltstone, red', 1962, 1963), (982, 'F40', 7, 'Dolomite', 1964, 1965)  ... displaying 10 of 25 total bound parameter sets ...  (998, 'F40', 23, 'Limestone', 1996, 1997), (999, 'F40', 24, 'Volcanic', 1998, 1999))
2021-02-20 14:31:00,863 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:00,869 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:00,871 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:00,872 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:00,875 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:00,876 INFO sqlalchemy.engine.base.Engine ('F40',)
2021-02-20 14:31:00,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,878 INFO sqlalchemy.engine.base.Engine (1950,)
2021-02-20 14:31:00,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,879 INFO sqlalchemy.engine.base.Engine (1951,)
2021-02-20 14:31:00,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,882 INFO sqlalchemy.engine.base.Engine (1952,)
2021-02-20 14:31:00,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,884 INFO sqlalchemy.engine.base.Engine (1953,)
2021-02-20 14:31:00,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,888 INFO sqlalchemy.engine.base.Engine (1954,)
2021-02-20 14:31:00,890 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,891 INFO sqlalchemy.engine.base.Engine (1955,)
2021-02-20 14:31:00,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,896 INFO sqlalchemy.engine.base.Engine (1956,)
2021-02-20 14:31:00,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,899 INFO sqlalchemy.engine.base.Engine (1957,)
2021-02-20 14:31:00,903 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,904 INFO sqlalchemy.engine.base.Engine (1958,)
2021-02-20 14:31:00,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,906 INFO sqlalchemy.engine.base.Engine (1959,)
2021-02-20 14:31:00,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,911 INFO sqlalchemy.engine.base.Engine (1960,)
2021-02-20 14:31:00,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,913 INFO sqlalchemy.engine.base.Engine (1961,)
2021-02-20 14:31:00,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,916 INFO sqlalchemy.engine.base.Engine (1962,)

2021-02-20 14:31:00,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,917 INFO sqlalchemy.engine.base.Engine (1963,)
2021-02-20 14:31:00,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,921 INFO sqlalchemy.engine.base.Engine (1964,)
2021-02-20 14:31:00,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,923 INFO sqlalchemy.engine.base.Engine (1965,)
2021-02-20 14:31:00,928 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,928 INFO sqlalchemy.engine.base.Engine (1966,)
2021-02-20 14:31:00,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,930 INFO sqlalchemy.engine.base.Engine (1967,)
2021-02-20 14:31:00,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,934 INFO sqlalchemy.engine.base.Engine (1968,)
2021-02-20 14:31:00,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,936 INFO sqlalchemy.engine.base.Engine (1969,)
2021-02-20 14:31:00,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,940 INFO sqlalchemy.engine.base.Engine (1970,)
2021-02-20 14:31:00,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,942 INFO sqlalchemy.engine.base.Engine (1971,)
2021-02-20 14:31:00,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,945 INFO sqlalchemy.engine.base.Engine (1972,)
2021-02-20 14:31:00,947 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,947 INFO sqlalchemy.engine.base.Engine (1973,)
2021-02-20 14:31:00,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,950 INFO sqlalchemy.engine.base.Engine (1974,)
2021-02-20 14:31:00,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,952 INFO sqlalchemy.engine.base.Engine (1975,)
2021-02-20 14:31:00,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,956 INFO sqlalchemy.engine.base.Engine (1976,)
2021-02-20 14:31:00,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,958 INFO sqlalchemy.engine.base.Engine (1977,)
2021-02-20 14:31:00,964 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,964 INFO sqlalchemy.engine.base.Engine (1978,)
2021-02-20 14:31:00,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,966 INFO sqlalchemy.engine.base.Engine (1979,)
2021-02-20 14:31:00,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,970 INFO sqlalchemy.engine.base.Engine (1980,)
2021-02-20 14:31:00,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,972 INFO sqlalchemy.engine.base.Engine (1981,)
2021-02-20 14:31:00,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,976 INFO sqlalchemy.engine.base.Engine (1982,)
2021-02-20 14:31:00,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:00,978 INFO sqlalchemy.engine.base.Engine (1983,)
2021-02-20 14:31:00,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,981 INFO sqlalchemy.engine.base.Engine (1984,)
2021-02-20 14:31:00,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,983 INFO sqlalchemy.engine.base.Engine (1985,)
2021-02-20 14:31:00,985 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,985 INFO sqlalchemy.engine.base.Engine (1986,)
2021-02-20 14:31:00,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,987 INFO sqlalchemy.engine.base.Engine (1987,)
2021-02-20 14:31:00,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,989 INFO sqlalchemy.engine.base.Engine (1988,)
2021-02-20 14:31:00,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,991 INFO sqlalchemy.engine.base.Engine (1989,)
2021-02-20 14:31:00,993 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,993 INFO sqlalchemy.engine.base.Engine (1990,)
2021-02-20 14:31:00,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,995 INFO sqlalchemy.engine.base.Engine (1991,)
2021-02-20 14:31:00,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,998 INFO sqlalchemy.engine.base.Engine (1992,)
2021-02-20 14:31:00,999 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:00,999 INFO sqlalchemy.engine.base.Engine (1993,)
2021-02-20 14:31:01,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,002 INFO sqlalchemy.engine.base.Engine (1994,)
2021-02-20 14:31:01,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,003 INFO sqlalchemy.engine.base.Engine (1995,)
2021-02-20 14:31:01,005 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,006 INFO sqlalchemy.engine.base.Engine (1996,)
2021-02-20 14:31:01,008 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,009 INFO sqlalchemy.engine.base.Engine (1997,)
2021-02-20 14:31:01,012 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,013 INFO sqlalchemy.engine.base.Engine (1998,)
2021-02-20 14:31:01,014 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,015 INFO sqlalchemy.engine.base.Engine (1999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:01,065 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,066 INFO sqlalchemy.engine.base.Engine ((2000, 14.3, 14.3, 14.3, 152895.43100002548, 122594.85713904817), (2001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152895.43100002548, 122594.85713904817), (2002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152895.43100002548, 122594.85713904817), (2003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152895.43100002548, 122594.85713904817), (2004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152895.43100002548, 122594.85713904817), (2005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152895.43100002548, 122594.85713904817), (2006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152895.43100002548, 122594.85713904817), (2007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152895.43100002548, 122594.85713904817)  ... displaying 10 of 50 total bound parameter sets ...  (2048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152895.43100002548, 122594.85713904817), (2049, 135.9, 135.9, 135.9, 152895.43100002548, 122594.85713904817))
2021-02-20 14:31:01,067 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:01,068 INFO sqlalchemy.engine.base.Engine ('F41',)
2021-02-20 14:31:01,071 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,071 INFO sqlalchemy.engine.base.Engine ((1000, 'F41', 0, 'Anhydrite', 2000, 2001), (1001, 'F41', 1, 'Sandstone, grey, vf-f', 2002, 2003), (1002, 'F41', 2, 'Anhydrite', 2004, 2005), (1003, 'F41', 3, 'Dolomite', 2006, 2007), (1004, 'F41', 4, 'Anhydrite', 2008, 2009), (1005, 'F41', 5, 'Sandstone, grey, vf-f', 2010, 2011), (1006, 'F41', 6, 'Siltstone, red', 2012, 2013), (1007, 'F41', 7, 'Dolomite', 2014, 2015)  ... displaying 10 of 25 total bound parameter sets ...  (1023, 'F41', 23, 'Limestone', 2046, 2047), (1024, 'F41', 24, 'Volcanic', 2048, 2049))

2021-02-20 14:31:01,073 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:01,080 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:01,082 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:01,083 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:01,086 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:01,088 INFO sqlalchemy.engine.base.Engine ('F41',)
2021-02-20 14:31:01,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,092 INFO sqlalchemy.engine.base.Engine (2000,)
2021-02-20 14:31:01,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,094 INFO sqlalchemy.engine.base.Engine (2001,)
2021-02-20 14:31:01,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,098 INFO sqlalchemy.engine.base.Engine (2002,)
2021-02-20 14:31:01,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,100 INFO sqlalchemy.engine.base.Engine (2003,)
2021-02-20 14:31:01,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,104 INFO sqlalchemy.engine.base.Engine (2004,)
2021-02-20 14:31:01,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,106 INFO sqlalchemy.engine.base.Engine (2005,)
2021-02-20 14:31:01,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,108 INFO sqlalchemy.engine.base.Engine (2006,)
2021-02-20 14:31:01,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,110 INFO sqlalchemy.engine.base.Engine (2007,)
2021-02-20 14:31:01,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,114 INFO sqlalchemy.engine.base.Engine (2008,)
2021-02-20 14:31:01,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,115 INFO sqlalchemy.engine.base.Engine (2009,)
2021-02-20 14:31:01,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,118 INFO sqlalchemy.engine.base.Engine (2010,)
2021-02-20 14:31:01,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,120 INFO sqlalchemy.engine.base.Engine (2011,)
2021-02-20 14:31:01,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,122 INFO sqlalchemy.engine.base.Engine (2012,)
2021-02-20 14:31:01,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,124 INFO sqlalchemy.engine.base.Engine (2013,)
2021-02-20 14:31:01,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,126 INFO sqlalchemy.engine.base.Engine (2014,)
2021-02-20 14:31:01,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,128 INFO sqlalchemy.engine.base.Engine (2015,)
2021-02-20 14:31:01,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,133 INFO sqlalchemy.engine.base.Engine (2016,)
2021-02-20 14:31:01,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,137 INFO sqlalchemy.engine.base.Engine (2017,)
2021-02-20 14:31:01,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,141 INFO sqlalchemy.engine.base.Engine (2018,)
2021-02-20 14:31:01,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,144 INFO sqlalchemy.engine.base.Engine (2019,)
2021-02-20 14:31:01,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,146 INFO sqlalchemy.engine.base.Engine (2020,)
2021-02-20 14:31:01,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,148 INFO sqlalchemy.engine.base.Engine (2021,)
2021-02-20 14:31:01,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,151 INFO sqlalchemy.engine.base.Engine (2022,)
2021-02-20 14:31:01,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,154 INFO sqlalchemy.engine.base.Engine (2023,)
2021-02-20 14:31:01,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,158 INFO sqlalchemy.engine.base.Engine (2024,)
2021-02-20 14:31:01,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,160 INFO sqlalchemy.engine.base.Engine (2025,)
2021-02-20 14:31:01,163 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,163 INFO sqlalchemy.engine.base.Engine (2026,)
2021-02-20 14:31:01,164 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,165 INFO sqlalchemy.engine.base.Engine (2027,)
2021-02-20 14:31:01,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,168 INFO sqlalchemy.engine.base.Engine (2028,)
2021-02-20 14:31:01,170 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,171 INFO sqlalchemy.engine.base.Engine (2029,)
2021-02-20 14:31:01,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,175 INFO sqlalchemy.engine.base.Engine (2030,)
2021-02-20 14:31:01,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,178 INFO sqlalchemy.engine.base.Engine (2031,)
2021-02-20 14:31:01,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,180 INFO sqlalchemy.engine.base.Engine (2032,)
2021-02-20 14:31:01,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,182 INFO sqlalchemy.engine.base.Engine (2033,)
2021-02-20 14:31:01,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,185 INFO sqlalchemy.engine.base.Engine (2034,)
2021-02-20 14:31:01,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,187 INFO sqlalchemy.engine.base.Engine (2035,)
2021-02-20 14:31:01,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,193 INFO sqlalchemy.engine.base.Engine (2036,)
2021-02-20 14:31:01,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,196 INFO sqlalchemy.engine.base.Engine (2037,)
2021-02-20 14:31:01,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,201 INFO sqlalchemy.engine.base.Engine (2038,)
2021-02-20 14:31:01,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,204 INFO sqlalchemy.engine.base.Engine (2039,)
2021-02-20 14:31:01,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,206 INFO sqlalchemy.engine.base.Engine (2040,)
2021-02-20 14:31:01,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,208 INFO sqlalchemy.engine.base.Engine (2041,)
2021-02-20 14:31:01,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,210 INFO sqlalchemy.engine.base.Engine (2042,)
2021-02-20 14:31:01,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,212 INFO sqlalchemy.engine.base.Engine (2043,)
2021-02-20 14:31:01,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,215 INFO sqlalchemy.engine.base.Engine (2044,)
2021-02-20 14:31:01,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,216 INFO sqlalchemy.engine.base.Engine (2045,)
2021-02-20 14:31:01,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,219 INFO sqlalchemy.engine.base.Engine (2046,)
2021-02-20 14:31:01,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,221 INFO sqlalchemy.engine.base.Engine (2047,)
2021-02-20 14:31:01,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,224 INFO sqlalchemy.engine.base.Engine (2048,)
2021-02-20 14:31:01,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,226 INFO sqlalchemy.engine.base.Engine (2049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:01,270 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:01,271 INFO sqlalchemy.engine.base.Engine ('F42',)
2021-02-20 14:31:01,274 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,274 INFO sqlalchemy.engine.base.Engine ((2050, 14.3, 14.3, 14.3, 152888.20900002544, 122596.492139047), (2051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.20900002544, 122596.492139047), (2052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.20900002544, 122596.492139047), (2053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.20900002544, 122596.492139047), (2054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.20900002544, 122596.492139047), (2055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.20900002544, 122596.492139047), (2056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.20900002544, 122596.492139047), (2057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.20900002544, 122596.492139047)  ... displaying 10 of 50 total bound parameter sets ...  (2098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.20900002544, 122596.492139047), (2099, 135.9, 135.9, 135.9, 152888.20900002544, 122596.492139047))
2021-02-20 14:31:01,277 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,277 INFO sqlalchemy.engine.base.Engine ((1025, 'F42', 0, 'Anhydrite', 2050, 2051), (1026, 'F42', 1, 'Sandstone, grey, vf-f', 2052, 2053), (1027, 'F42', 2, 'Anhydrite', 2054, 2055), (1028, 'F42', 3, 'Dolomite', 2056, 2057), (1029, 'F42', 4, 'Anhydrite', 2058, 2059), (1030, 'F42', 5, 'Sandstone, grey, vf-f', 2060, 2061), (1031, 'F42', 6, 'Siltstone, red', 2062, 2063), (1032, 'F42', 7, 'Dolomite', 2064, 2065)  ... displaying 10 of 25 total bound parameter sets ...  (1048, 'F42', 23, 'Limestone', 2096, 2097), (1049, 'F42', 24, 'Volcanic', 2098, 2099))
2021-02-20 14:31:01,279 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:01,285 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:01,286 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:01,287 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:01,288 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:01,289 INFO sqlalchemy.engine.base.Engine ('F42',)
2021-02-20 14:31:01,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,292 INFO sqlalchemy.engine.base.Engine (2050,)
2021-02-20 14:31:01,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,293 INFO sqlalchemy.engine.base.Engine (2051,)
2021-02-20 14:31:01,295 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,296 INFO sqlalchemy.engine.base.Engine (2052,)

2021-02-20 14:31:01,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,297 INFO sqlalchemy.engine.base.Engine (2053,)
2021-02-20 14:31:01,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,300 INFO sqlalchemy.engine.base.Engine (2054,)
2021-02-20 14:31:01,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,302 INFO sqlalchemy.engine.base.Engine (2055,)
2021-02-20 14:31:01,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,304 INFO sqlalchemy.engine.base.Engine (2056,)
2021-02-20 14:31:01,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,307 INFO sqlalchemy.engine.base.Engine (2057,)
2021-02-20 14:31:01,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,311 INFO sqlalchemy.engine.base.Engine (2058,)
2021-02-20 14:31:01,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,313 INFO sqlalchemy.engine.base.Engine (2059,)
2021-02-20 14:31:01,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,317 INFO sqlalchemy.engine.base.Engine (2060,)
2021-02-20 14:31:01,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,318 INFO sqlalchemy.engine.base.Engine (2061,)
2021-02-20 14:31:01,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,321 INFO sqlalchemy.engine.base.Engine (2062,)
2021-02-20 14:31:01,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,322 INFO sqlalchemy.engine.base.Engine (2063,)
2021-02-20 14:31:01,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,325 INFO sqlalchemy.engine.base.Engine (2064,)
2021-02-20 14:31:01,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,327 INFO sqlalchemy.engine.base.Engine (2065,)
2021-02-20 14:31:01,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,329 INFO sqlalchemy.engine.base.Engine (2066,)
2021-02-20 14:31:01,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,331 INFO sqlalchemy.engine.base.Engine (2067,)
2021-02-20 14:31:01,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,334 INFO sqlalchemy.engine.base.Engine (2068,)
2021-02-20 14:31:01,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,336 INFO sqlalchemy.engine.base.Engine (2069,)
2021-02-20 14:31:01,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,341 INFO sqlalchemy.engine.base.Engine (2070,)
2021-02-20 14:31:01,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,343 INFO sqlalchemy.engine.base.Engine (2071,)
2021-02-20 14:31:01,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,348 INFO sqlalchemy.engine.base.Engine (2072,)
2021-02-20 14:31:01,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,352 INFO sqlalchemy.engine.base.Engine (2073,)
2021-02-20 14:31:01,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,356 INFO sqlalchemy.engine.base.Engine (2074,)
2021-02-20 14:31:01,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,360 INFO sqlalchemy.engine.base.Engine (2075,)
2021-02-20 14:31:01,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,362 INFO sqlalchemy.engine.base.Engine (2076,)
2021-02-20 14:31:01,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,364 INFO sqlalchemy.engine.base.Engine (2077,)
2021-02-20 14:31:01,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,366 INFO sqlalchemy.engine.base.Engine (2078,)
2021-02-20 14:31:01,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,368 INFO sqlalchemy.engine.base.Engine (2079,)
2021-02-20 14:31:01,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,372 INFO sqlalchemy.engine.base.Engine (2080,)
2021-02-20 14:31:01,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,375 INFO sqlalchemy.engine.base.Engine (2081,)
2021-02-20 14:31:01,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,380 INFO sqlalchemy.engine.base.Engine (2082,)
2021-02-20 14:31:01,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,382 INFO sqlalchemy.engine.base.Engine (2083,)
2021-02-20 14:31:01,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,384 INFO sqlalchemy.engine.base.Engine (2084,)
2021-02-20 14:31:01,385 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,386 INFO sqlalchemy.engine.base.Engine (2085,)
2021-02-20 14:31:01,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,390 INFO sqlalchemy.engine.base.Engine (2086,)
2021-02-20 14:31:01,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,392 INFO sqlalchemy.engine.base.Engine (2087,)
2021-02-20 14:31:01,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,395 INFO sqlalchemy.engine.base.Engine (2088,)
2021-02-20 14:31:01,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,397 INFO sqlalchemy.engine.base.Engine (2089,)
2021-02-20 14:31:01,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,399 INFO sqlalchemy.engine.base.Engine (2090,)
2021-02-20 14:31:01,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,401 INFO sqlalchemy.engine.base.Engine (2091,)
2021-02-20 14:31:01,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,405 INFO sqlalchemy.engine.base.Engine (2092,)
2021-02-20 14:31:01,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,407 INFO sqlalchemy.engine.base.Engine (2093,)
2021-02-20 14:31:01,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,412 INFO sqlalchemy.engine.base.Engine (2094,)
2021-02-20 14:31:01,413 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,414 INFO sqlalchemy.engine.base.Engine (2095,)
2021-02-20 14:31:01,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,419 INFO sqlalchemy.engine.base.Engine (2096,)
2021-02-20 14:31:01,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,421 INFO sqlalchemy.engine.base.Engine (2097,)
2021-02-20 14:31:01,424 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,425 INFO sqlalchemy.engine.base.Engine (2098,)
2021-02-20 14:31:01,426 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,427 INFO sqlalchemy.engine.base.Engine (2099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:01,471 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,471 INFO sqlalchemy.engine.base.Engine ((2100, 14.3, 14.3, 14.3, 152891.32900002546, 122588.78113904876), (2101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.32900002546, 122588.78113904876), (2102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.32900002546, 122588.78113904876), (2103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.32900002546, 122588.78113904876), (2104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.32900002546, 122588.78113904876), (2105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.32900002546, 122588.78113904876), (2106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.32900002546, 122588.78113904876), (2107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.32900002546, 122588.78113904876)  ... displaying 10 of 50 total bound parameter sets ...  (2148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.32900002546, 122588.78113904876), (2149, 135.9, 135.9, 135.9, 152891.32900002546, 122588.78113904876))
2021-02-20 14:31:01,473 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:01,474 INFO sqlalchemy.engine.base.Engine ('F43',)
2021-02-20 14:31:01,476 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,477 INFO sqlalchemy.engine.base.Engine ((1050, 'F43', 0, 'Anhydrite', 2100, 2101), (1051, 'F43', 1, 'Sandstone, grey, vf-f', 2102, 2103), (1052, 'F43', 2, 'Anhydrite', 2104, 2105), (1053, 'F43', 3, 'Dolomite', 2106, 2107), (1054, 'F43', 4, 'Anhydrite', 2108, 2109), (1055, 'F43', 5, 'Sandstone, grey, vf-f', 2110, 2111), (1056, 'F43', 6, 'Siltstone, red', 2112, 2113), (1057, 'F43', 7, 'Dolomite', 2114, 2115)  ... displaying 10 of 25 total bound parameter sets ...  (1073, 'F43', 23, 'Limestone', 2146, 2147), (1074, 'F43', 24, 'Volcanic', 2148, 2149))
2021-02-20 14:31:01,479 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:01,485 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:01,486 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:01,487 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:01,489 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:01,490 INFO sqlalchemy.engine.base.Engine ('F43',)
2021-02-20 14:31:01,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,492 INFO sqlalchemy.engine.base.Engine (2100,)
2021-02-20 14:31:01,493 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,494 INFO sqlalchemy.engine.base.Engine (2101,)
2021-02-20 14:31:01,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,497 INFO sqlalchemy.engine.base.Engine (2102,)
2021-02-20 14:31:01,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,499 INFO sqlalchemy.engine.base.Engine (2103,)
2021-02-20 14:31:01,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,502 INFO sqlalchemy.engine.base.Engine (2104,)
2021-02-20 14:31:01,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,504 INFO sqlalchemy.engine.base.Engine (2105,)
2021-02-20 14:31:01,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,507 INFO sqlalchemy.engine.base.Engine (2106,)
2021-02-20 14:31:01,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,508 INFO sqlalchemy.engine.base.Engine (2107,)

2021-02-20 14:31:01,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,511 INFO sqlalchemy.engine.base.Engine (2108,)
2021-02-20 14:31:01,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,514 INFO sqlalchemy.engine.base.Engine (2109,)
2021-02-20 14:31:01,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,518 INFO sqlalchemy.engine.base.Engine (2110,)
2021-02-20 14:31:01,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,521 INFO sqlalchemy.engine.base.Engine (2111,)
2021-02-20 14:31:01,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,525 INFO sqlalchemy.engine.base.Engine (2112,)
2021-02-20 14:31:01,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,527 INFO sqlalchemy.engine.base.Engine (2113,)
2021-02-20 14:31:01,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,530 INFO sqlalchemy.engine.base.Engine (2114,)
2021-02-20 14:31:01,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,532 INFO sqlalchemy.engine.base.Engine (2115,)
2021-02-20 14:31:01,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,535 INFO sqlalchemy.engine.base.Engine (2116,)
2021-02-20 14:31:01,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,537 INFO sqlalchemy.engine.base.Engine (2117,)
2021-02-20 14:31:01,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,541 INFO sqlalchemy.engine.base.Engine (2118,)
2021-02-20 14:31:01,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,543 INFO sqlalchemy.engine.base.Engine (2119,)
2021-02-20 14:31:01,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,548 INFO sqlalchemy.engine.base.Engine (2120,)
2021-02-20 14:31:01,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,549 INFO sqlalchemy.engine.base.Engine (2121,)
2021-02-20 14:31:01,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,552 INFO sqlalchemy.engine.base.Engine (2122,)
2021-02-20 14:31:01,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,554 INFO sqlalchemy.engine.base.Engine (2123,)
2021-02-20 14:31:01,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,558 INFO sqlalchemy.engine.base.Engine (2124,)
2021-02-20 14:31:01,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,560 INFO sqlalchemy.engine.base.Engine (2125,)
2021-02-20 14:31:01,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,564 INFO sqlalchemy.engine.base.Engine (2126,)
2021-02-20 14:31:01,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,566 INFO sqlalchemy.engine.base.Engine (2127,)
2021-02-20 14:31:01,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,570 INFO sqlalchemy.engine.base.Engine (2128,)
2021-02-20 14:31:01,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,571 INFO sqlalchemy.engine.base.Engine (2129,)
2021-02-20 14:31:01,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,576 INFO sqlalchemy.engine.base.Engine (2130,)
2021-02-20 14:31:01,578 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,579 INFO sqlalchemy.engine.base.Engine (2131,)
2021-02-20 14:31:01,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,583 INFO sqlalchemy.engine.base.Engine (2132,)
2021-02-20 14:31:01,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,584 INFO sqlalchemy.engine.base.Engine (2133,)
2021-02-20 14:31:01,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,587 INFO sqlalchemy.engine.base.Engine (2134,)
2021-02-20 14:31:01,588 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,588 INFO sqlalchemy.engine.base.Engine (2135,)
2021-02-20 14:31:01,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,592 INFO sqlalchemy.engine.base.Engine (2136,)
2021-02-20 14:31:01,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,594 INFO sqlalchemy.engine.base.Engine (2137,)
2021-02-20 14:31:01,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,599 INFO sqlalchemy.engine.base.Engine (2138,)
2021-02-20 14:31:01,600 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,601 INFO sqlalchemy.engine.base.Engine (2139,)
2021-02-20 14:31:01,603 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,604 INFO sqlalchemy.engine.base.Engine (2140,)
2021-02-20 14:31:01,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,606 INFO sqlalchemy.engine.base.Engine (2141,)
2021-02-20 14:31:01,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,610 INFO sqlalchemy.engine.base.Engine (2142,)
2021-02-20 14:31:01,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,612 INFO sqlalchemy.engine.base.Engine (2143,)
2021-02-20 14:31:01,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,616 INFO sqlalchemy.engine.base.Engine (2144,)
2021-02-20 14:31:01,617 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,618 INFO sqlalchemy.engine.base.Engine (2145,)
2021-02-20 14:31:01,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,621 INFO sqlalchemy.engine.base.Engine (2146,)
2021-02-20 14:31:01,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,623 INFO sqlalchemy.engine.base.Engine (2147,)
2021-02-20 14:31:01,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,625 INFO sqlalchemy.engine.base.Engine (2148,)
2021-02-20 14:31:01,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,628 INFO sqlalchemy.engine.base.Engine (2149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:01,688 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,689 INFO sqlalchemy.engine.base.Engine ((2150, 14.3, 14.3, 14.3, 152889.47000002547, 122584.78213904798), (2151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.47000002547, 122584.78213904798), (2152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.47000002547, 122584.78213904798), (2153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.47000002547, 122584.78213904798), (2154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.47000002547, 122584.78213904798), (2155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.47000002547, 122584.78213904798), (2156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.47000002547, 122584.78213904798), (2157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152889.47000002547, 122584.78213904798)  ... displaying 10 of 50 total bound parameter sets ...  (2198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152889.47000002547, 122584.78213904798), (2199, 135.9, 135.9, 135.9, 152889.47000002547, 122584.78213904798))
2021-02-20 14:31:01,691 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:01,692 INFO sqlalchemy.engine.base.Engine ('F44',)
2021-02-20 14:31:01,696 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,697 INFO sqlalchemy.engine.base.Engine ((1075, 'F44', 0, 'Anhydrite', 2150, 2151), (1076, 'F44', 1, 'Sandstone, grey, vf-f', 2152, 2153), (1077, 'F44', 2, 'Anhydrite', 2154, 2155), (1078, 'F44', 3, 'Dolomite', 2156, 2157), (1079, 'F44', 4, 'Anhydrite', 2158, 2159), (1080, 'F44', 5, 'Sandstone, grey, vf-f', 2160, 2161), (1081, 'F44', 6, 'Siltstone, red', 2162, 2163), (1082, 'F44', 7, 'Dolomite', 2164, 2165)  ... displaying 10 of 25 total bound parameter sets ...  (1098, 'F44', 23, 'Limestone', 2196, 2197), (1099, 'F44', 24, 'Volcanic', 2198, 2199))
2021-02-20 14:31:01,700 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:01,706 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:01,707 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:01,707 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:01,709 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:01,710 INFO sqlalchemy.engine.base.Engine ('F44',)
2021-02-20 14:31:01,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,712 INFO sqlalchemy.engine.base.Engine (2150,)
2021-02-20 14:31:01,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,713 INFO sqlalchemy.engine.base.Engine (2151,)
2021-02-20 14:31:01,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,716 INFO sqlalchemy.engine.base.Engine (2152,)
2021-02-20 14:31:01,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,717 INFO sqlalchemy.engine.base.Engine (2153,)
2021-02-20 14:31:01,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,721 INFO sqlalchemy.engine.base.Engine (2154,)
2021-02-20 14:31:01,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,724 INFO sqlalchemy.engine.base.Engine (2155,)
2021-02-20 14:31:01,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,728 INFO sqlalchemy.engine.base.Engine (2156,)
2021-02-20 14:31:01,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,730 INFO sqlalchemy.engine.base.Engine (2157,)
2021-02-20 14:31:01,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,733 INFO sqlalchemy.engine.base.Engine (2158,)
2021-02-20 14:31:01,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,734 INFO sqlalchemy.engine.base.Engine (2159,)
2021-02-20 14:31:01,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,737 INFO sqlalchemy.engine.base.Engine (2160,)
2021-02-20 14:31:01,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,740 INFO sqlalchemy.engine.base.Engine (2161,)
2021-02-20 14:31:01,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,745 INFO sqlalchemy.engine.base.Engine (2162,)

2021-02-20 14:31:01,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,747 INFO sqlalchemy.engine.base.Engine (2163,)
2021-02-20 14:31:01,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,750 INFO sqlalchemy.engine.base.Engine (2164,)
2021-02-20 14:31:01,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,753 INFO sqlalchemy.engine.base.Engine (2165,)
2021-02-20 14:31:01,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,755 INFO sqlalchemy.engine.base.Engine (2166,)
2021-02-20 14:31:01,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,757 INFO sqlalchemy.engine.base.Engine (2167,)
2021-02-20 14:31:01,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,763 INFO sqlalchemy.engine.base.Engine (2168,)
2021-02-20 14:31:01,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,766 INFO sqlalchemy.engine.base.Engine (2169,)
2021-02-20 14:31:01,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,772 INFO sqlalchemy.engine.base.Engine (2170,)
2021-02-20 14:31:01,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,774 INFO sqlalchemy.engine.base.Engine (2171,)
2021-02-20 14:31:01,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,777 INFO sqlalchemy.engine.base.Engine (2172,)
2021-02-20 14:31:01,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,779 INFO sqlalchemy.engine.base.Engine (2173,)
2021-02-20 14:31:01,782 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,782 INFO sqlalchemy.engine.base.Engine (2174,)
2021-02-20 14:31:01,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,785 INFO sqlalchemy.engine.base.Engine (2175,)
2021-02-20 14:31:01,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,790 INFO sqlalchemy.engine.base.Engine (2176,)
2021-02-20 14:31:01,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,792 INFO sqlalchemy.engine.base.Engine (2177,)
2021-02-20 14:31:01,796 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,797 INFO sqlalchemy.engine.base.Engine (2178,)
2021-02-20 14:31:01,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,799 INFO sqlalchemy.engine.base.Engine (2179,)
2021-02-20 14:31:01,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,804 INFO sqlalchemy.engine.base.Engine (2180,)
2021-02-20 14:31:01,805 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,806 INFO sqlalchemy.engine.base.Engine (2181,)
2021-02-20 14:31:01,808 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,808 INFO sqlalchemy.engine.base.Engine (2182,)
2021-02-20 14:31:01,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,810 INFO sqlalchemy.engine.base.Engine (2183,)
2021-02-20 14:31:01,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,814 INFO sqlalchemy.engine.base.Engine (2184,)
2021-02-20 14:31:01,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,816 INFO sqlalchemy.engine.base.Engine (2185,)
2021-02-20 14:31:01,818 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,819 INFO sqlalchemy.engine.base.Engine (2186,)
2021-02-20 14:31:01,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,821 INFO sqlalchemy.engine.base.Engine (2187,)
2021-02-20 14:31:01,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,823 INFO sqlalchemy.engine.base.Engine (2188,)
2021-02-20 14:31:01,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,825 INFO sqlalchemy.engine.base.Engine (2189,)
2021-02-20 14:31:01,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,828 INFO sqlalchemy.engine.base.Engine (2190,)
2021-02-20 14:31:01,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,830 INFO sqlalchemy.engine.base.Engine (2191,)
2021-02-20 14:31:01,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,833 INFO sqlalchemy.engine.base.Engine (2192,)
2021-02-20 14:31:01,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,836 INFO sqlalchemy.engine.base.Engine (2193,)
2021-02-20 14:31:01,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,840 INFO sqlalchemy.engine.base.Engine (2194,)
2021-02-20 14:31:01,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,843 INFO sqlalchemy.engine.base.Engine (2195,)
2021-02-20 14:31:01,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,848 INFO sqlalchemy.engine.base.Engine (2196,)
2021-02-20 14:31:01,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,850 INFO sqlalchemy.engine.base.Engine (2197,)
2021-02-20 14:31:01,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,854 INFO sqlalchemy.engine.base.Engine (2198,)
2021-02-20 14:31:01,855 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,856 INFO sqlalchemy.engine.base.Engine (2199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:01,904 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:01,905 INFO sqlalchemy.engine.base.Engine ('F45',)
2021-02-20 14:31:01,907 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,908 INFO sqlalchemy.engine.base.Engine ((2200, 14.3, 14.3, 14.3, 152887.7500000254, 122594.56613904703), (2201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.7500000254, 122594.56613904703), (2202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.7500000254, 122594.56613904703), (2203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.7500000254, 122594.56613904703), (2204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.7500000254, 122594.56613904703), (2205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.7500000254, 122594.56613904703), (2206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.7500000254, 122594.56613904703), (2207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152887.7500000254, 122594.56613904703)  ... displaying 10 of 50 total bound parameter sets ...  (2248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152887.7500000254, 122594.56613904703), (2249, 135.9, 135.9, 135.9, 152887.7500000254, 122594.56613904703))
2021-02-20 14:31:01,910 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:01,911 INFO sqlalchemy.engine.base.Engine ((1100, 'F45', 0, 'Anhydrite', 2200, 2201), (1101, 'F45', 1, 'Sandstone, grey, vf-f', 2202, 2203), (1102, 'F45', 2, 'Anhydrite', 2204, 2205), (1103, 'F45', 3, 'Dolomite', 2206, 2207), (1104, 'F45', 4, 'Anhydrite', 2208, 2209), (1105, 'F45', 5, 'Sandstone, grey, vf-f', 2210, 2211), (1106, 'F45', 6, 'Siltstone, red', 2212, 2213), (1107, 'F45', 7, 'Dolomite', 2214, 2215)  ... displaying 10 of 25 total bound parameter sets ...  (1123, 'F45', 23, 'Limestone', 2246, 2247), (1124, 'F45', 24, 'Volcanic', 2248, 2249))

2021-02-20 14:31:01,913 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:01,918 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:01,919 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:01,920 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:01,923 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:01,924 INFO sqlalchemy.engine.base.Engine ('F45',)
2021-02-20 14:31:01,926 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,927 INFO sqlalchemy.engine.base.Engine (2200,)
2021-02-20 14:31:01,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,930 INFO sqlalchemy.engine.base.Engine (2201,)
2021-02-20 14:31:01,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,934 INFO sqlalchemy.engine.base.Engine (2202,)
2021-02-20 14:31:01,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,936 INFO sqlalchemy.engine.base.Engine (2203,)
2021-02-20 14:31:01,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,940 INFO sqlalchemy.engine.base.Engine (2204,)
2021-02-20 14:31:01,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,942 INFO sqlalchemy.engine.base.Engine (2205,)
2021-02-20 14:31:01,944 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,945 INFO sqlalchemy.engine.base.Engine (2206,)
2021-02-20 14:31:01,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,947 INFO sqlalchemy.engine.base.Engine (2207,)
2021-02-20 14:31:01,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,951 INFO sqlalchemy.engine.base.Engine (2208,)
2021-02-20 14:31:01,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,954 INFO sqlalchemy.engine.base.Engine (2209,)
2021-02-20 14:31:01,957 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,958 INFO sqlalchemy.engine.base.Engine (2210,)
2021-02-20 14:31:01,959 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,960 INFO sqlalchemy.engine.base.Engine (2211,)
2021-02-20 14:31:01,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,963 INFO sqlalchemy.engine.base.Engine (2212,)
2021-02-20 14:31:01,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,965 INFO sqlalchemy.engine.base.Engine (2213,)
2021-02-20 14:31:01,969 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,970 INFO sqlalchemy.engine.base.Engine (2214,)
2021-02-20 14:31:01,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,972 INFO sqlalchemy.engine.base.Engine (2215,)
2021-02-20 14:31:01,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,977 INFO sqlalchemy.engine.base.Engine (2216,)
2021-02-20 14:31:01,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,979 INFO sqlalchemy.engine.base.Engine (2217,)
2021-02-20 14:31:01,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:01,982 INFO sqlalchemy.engine.base.Engine (2218,)
2021-02-20 14:31:01,983 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,984 INFO sqlalchemy.engine.base.Engine (2219,)
2021-02-20 14:31:01,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,988 INFO sqlalchemy.engine.base.Engine (2220,)
2021-02-20 14:31:01,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,991 INFO sqlalchemy.engine.base.Engine (2221,)
2021-02-20 14:31:01,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,996 INFO sqlalchemy.engine.base.Engine (2222,)
2021-02-20 14:31:01,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:01,998 INFO sqlalchemy.engine.base.Engine (2223,)
2021-02-20 14:31:02,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,002 INFO sqlalchemy.engine.base.Engine (2224,)
2021-02-20 14:31:02,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,004 INFO sqlalchemy.engine.base.Engine (2225,)
2021-02-20 14:31:02,006 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,007 INFO sqlalchemy.engine.base.Engine (2226,)
2021-02-20 14:31:02,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,009 INFO sqlalchemy.engine.base.Engine (2227,)
2021-02-20 14:31:02,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,014 INFO sqlalchemy.engine.base.Engine (2228,)
2021-02-20 14:31:02,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,016 INFO sqlalchemy.engine.base.Engine (2229,)
2021-02-20 14:31:02,018 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,019 INFO sqlalchemy.engine.base.Engine (2230,)
2021-02-20 14:31:02,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,021 INFO sqlalchemy.engine.base.Engine (2231,)
2021-02-20 14:31:02,023 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,023 INFO sqlalchemy.engine.base.Engine (2232,)
2021-02-20 14:31:02,024 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,025 INFO sqlalchemy.engine.base.Engine (2233,)
2021-02-20 14:31:02,026 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,027 INFO sqlalchemy.engine.base.Engine (2234,)
2021-02-20 14:31:02,029 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,029 INFO sqlalchemy.engine.base.Engine (2235,)
2021-02-20 14:31:02,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,032 INFO sqlalchemy.engine.base.Engine (2236,)
2021-02-20 14:31:02,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,034 INFO sqlalchemy.engine.base.Engine (2237,)
2021-02-20 14:31:02,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,037 INFO sqlalchemy.engine.base.Engine (2238,)
2021-02-20 14:31:02,038 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,038 INFO sqlalchemy.engine.base.Engine (2239,)
2021-02-20 14:31:02,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,042 INFO sqlalchemy.engine.base.Engine (2240,)
2021-02-20 14:31:02,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,044 INFO sqlalchemy.engine.base.Engine (2241,)
2021-02-20 14:31:02,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,049 INFO sqlalchemy.engine.base.Engine (2242,)
2021-02-20 14:31:02,051 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,052 INFO sqlalchemy.engine.base.Engine (2243,)
2021-02-20 14:31:02,055 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,056 INFO sqlalchemy.engine.base.Engine (2244,)
2021-02-20 14:31:02,059 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,060 INFO sqlalchemy.engine.base.Engine (2245,)
2021-02-20 14:31:02,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,064 INFO sqlalchemy.engine.base.Engine (2246,)
2021-02-20 14:31:02,066 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,067 INFO sqlalchemy.engine.base.Engine (2247,)
2021-02-20 14:31:02,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,072 INFO sqlalchemy.engine.base.Engine (2248,)
2021-02-20 14:31:02,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,075 INFO sqlalchemy.engine.base.Engine (2249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:02,125 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,126 INFO sqlalchemy.engine.base.Engine ((2250, 14.3, 14.3, 14.3, 152885.1050000254, 122596.2951390464), (2251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.1050000254, 122596.2951390464), (2252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.1050000254, 122596.2951390464), (2253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.1050000254, 122596.2951390464), (2254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.1050000254, 122596.2951390464), (2255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.1050000254, 122596.2951390464), (2256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.1050000254, 122596.2951390464), (2257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.1050000254, 122596.2951390464)  ... displaying 10 of 50 total bound parameter sets ...  (2298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.1050000254, 122596.2951390464), (2299, 135.9, 135.9, 135.9, 152885.1050000254, 122596.2951390464))
2021-02-20 14:31:02,128 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:02,128 INFO sqlalchemy.engine.base.Engine ('F46',)
2021-02-20 14:31:02,131 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,131 INFO sqlalchemy.engine.base.Engine ((1125, 'F46', 0, 'Anhydrite', 2250, 2251), (1126, 'F46', 1, 'Sandstone, grey, vf-f', 2252, 2253), (1127, 'F46', 2, 'Anhydrite', 2254, 2255), (1128, 'F46', 3, 'Dolomite', 2256, 2257), (1129, 'F46', 4, 'Anhydrite', 2258, 2259), (1130, 'F46', 5, 'Sandstone, grey, vf-f', 2260, 2261), (1131, 'F46', 6, 'Siltstone, red', 2262, 2263), (1132, 'F46', 7, 'Dolomite', 2264, 2265)  ... displaying 10 of 25 total bound parameter sets ...  (1148, 'F46', 23, 'Limestone', 2296, 2297), (1149, 'F46', 24, 'Volcanic', 2298, 2299))
2021-02-20 14:31:02,133 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:02,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:02,139 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:02,140 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:02,143 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:02,144 INFO sqlalchemy.engine.base.Engine ('F46',)
2021-02-20 14:31:02,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,147 INFO sqlalchemy.engine.base.Engine (2250,)
2021-02-20 14:31:02,149 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,149 INFO sqlalchemy.engine.base.Engine (2251,)
2021-02-20 14:31:02,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,153 INFO sqlalchemy.engine.base.Engine (2252,)

2021-02-20 14:31:02,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,155 INFO sqlalchemy.engine.base.Engine (2253,)
2021-02-20 14:31:02,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,158 INFO sqlalchemy.engine.base.Engine (2254,)
2021-02-20 14:31:02,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,159 INFO sqlalchemy.engine.base.Engine (2255,)
2021-02-20 14:31:02,161 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,162 INFO sqlalchemy.engine.base.Engine (2256,)
2021-02-20 14:31:02,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,163 INFO sqlalchemy.engine.base.Engine (2257,)
2021-02-20 14:31:02,166 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,167 INFO sqlalchemy.engine.base.Engine (2258,)
2021-02-20 14:31:02,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,169 INFO sqlalchemy.engine.base.Engine (2259,)
2021-02-20 14:31:02,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,173 INFO sqlalchemy.engine.base.Engine (2260,)
2021-02-20 14:31:02,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,175 INFO sqlalchemy.engine.base.Engine (2261,)
2021-02-20 14:31:02,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,178 INFO sqlalchemy.engine.base.Engine (2262,)
2021-02-20 14:31:02,178 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,179 INFO sqlalchemy.engine.base.Engine (2263,)
2021-02-20 14:31:02,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,182 INFO sqlalchemy.engine.base.Engine (2264,)
2021-02-20 14:31:02,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,184 INFO sqlalchemy.engine.base.Engine (2265,)
2021-02-20 14:31:02,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,188 INFO sqlalchemy.engine.base.Engine (2266,)
2021-02-20 14:31:02,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,190 INFO sqlalchemy.engine.base.Engine (2267,)
2021-02-20 14:31:02,192 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,192 INFO sqlalchemy.engine.base.Engine (2268,)
2021-02-20 14:31:02,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,194 INFO sqlalchemy.engine.base.Engine (2269,)
2021-02-20 14:31:02,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,196 INFO sqlalchemy.engine.base.Engine (2270,)
2021-02-20 14:31:02,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,198 INFO sqlalchemy.engine.base.Engine (2271,)
2021-02-20 14:31:02,201 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,201 INFO sqlalchemy.engine.base.Engine (2272,)
2021-02-20 14:31:02,203 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,203 INFO sqlalchemy.engine.base.Engine (2273,)
2021-02-20 14:31:02,207 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,207 INFO sqlalchemy.engine.base.Engine (2274,)
2021-02-20 14:31:02,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,209 INFO sqlalchemy.engine.base.Engine (2275,)
2021-02-20 14:31:02,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,212 INFO sqlalchemy.engine.base.Engine (2276,)
2021-02-20 14:31:02,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,213 INFO sqlalchemy.engine.base.Engine (2277,)
2021-02-20 14:31:02,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,216 INFO sqlalchemy.engine.base.Engine (2278,)
2021-02-20 14:31:02,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,218 INFO sqlalchemy.engine.base.Engine (2279,)
2021-02-20 14:31:02,222 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,222 INFO sqlalchemy.engine.base.Engine (2280,)
2021-02-20 14:31:02,224 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,225 INFO sqlalchemy.engine.base.Engine (2281,)
2021-02-20 14:31:02,227 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,227 INFO sqlalchemy.engine.base.Engine (2282,)
2021-02-20 14:31:02,229 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,229 INFO sqlalchemy.engine.base.Engine (2283,)
2021-02-20 14:31:02,231 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,232 INFO sqlalchemy.engine.base.Engine (2284,)
2021-02-20 14:31:02,233 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,234 INFO sqlalchemy.engine.base.Engine (2285,)
2021-02-20 14:31:02,236 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,236 INFO sqlalchemy.engine.base.Engine (2286,)
2021-02-20 14:31:02,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,238 INFO sqlalchemy.engine.base.Engine (2287,)
2021-02-20 14:31:02,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,241 INFO sqlalchemy.engine.base.Engine (2288,)
2021-02-20 14:31:02,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,243 INFO sqlalchemy.engine.base.Engine (2289,)
2021-02-20 14:31:02,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,247 INFO sqlalchemy.engine.base.Engine (2290,)
2021-02-20 14:31:02,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,249 INFO sqlalchemy.engine.base.Engine (2291,)
2021-02-20 14:31:02,251 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,252 INFO sqlalchemy.engine.base.Engine (2292,)
2021-02-20 14:31:02,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,254 INFO sqlalchemy.engine.base.Engine (2293,)
2021-02-20 14:31:02,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,256 INFO sqlalchemy.engine.base.Engine (2294,)
2021-02-20 14:31:02,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,258 INFO sqlalchemy.engine.base.Engine (2295,)
2021-02-20 14:31:02,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,264 INFO sqlalchemy.engine.base.Engine (2296,)
2021-02-20 14:31:02,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,266 INFO sqlalchemy.engine.base.Engine (2297,)
2021-02-20 14:31:02,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,270 INFO sqlalchemy.engine.base.Engine (2298,)
2021-02-20 14:31:02,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,272 INFO sqlalchemy.engine.base.Engine (2299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:02,320 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,320 INFO sqlalchemy.engine.base.Engine ((2300, 14.3, 14.3, 14.3, 152892.8990000255, 122594.97613904811), (2301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152892.8990000255, 122594.97613904811), (2302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152892.8990000255, 122594.97613904811), (2303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152892.8990000255, 122594.97613904811), (2304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152892.8990000255, 122594.97613904811), (2305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152892.8990000255, 122594.97613904811), (2306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152892.8990000255, 122594.97613904811), (2307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152892.8990000255, 122594.97613904811)  ... displaying 10 of 50 total bound parameter sets ...  (2348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152892.8990000255, 122594.97613904811), (2349, 135.9, 135.9, 135.9, 152892.8990000255, 122594.97613904811))
2021-02-20 14:31:02,322 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:02,323 INFO sqlalchemy.engine.base.Engine ('F47',)
2021-02-20 14:31:02,325 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,326 INFO sqlalchemy.engine.base.Engine ((1150, 'F47', 0, 'Anhydrite', 2300, 2301), (1151, 'F47', 1, 'Sandstone, grey, vf-f', 2302, 2303), (1152, 'F47', 2, 'Anhydrite', 2304, 2305), (1153, 'F47', 3, 'Dolomite', 2306, 2307), (1154, 'F47', 4, 'Anhydrite', 2308, 2309), (1155, 'F47', 5, 'Sandstone, grey, vf-f', 2310, 2311), (1156, 'F47', 6, 'Siltstone, red', 2312, 2313), (1157, 'F47', 7, 'Dolomite', 2314, 2315)  ... displaying 10 of 25 total bound parameter sets ...  (1173, 'F47', 23, 'Limestone', 2346, 2347), (1174, 'F47', 24, 'Volcanic', 2348, 2349))
2021-02-20 14:31:02,328 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:02,334 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:02,335 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:02,335 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:02,337 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:02,338 INFO sqlalchemy.engine.base.Engine ('F47',)
2021-02-20 14:31:02,340 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,340 INFO sqlalchemy.engine.base.Engine (2300,)
2021-02-20 14:31:02,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,342 INFO sqlalchemy.engine.base.Engine (2301,)
2021-02-20 14:31:02,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,346 INFO sqlalchemy.engine.base.Engine (2302,)
2021-02-20 14:31:02,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,348 INFO sqlalchemy.engine.base.Engine (2303,)
2021-02-20 14:31:02,350 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,350 INFO sqlalchemy.engine.base.Engine (2304,)
2021-02-20 14:31:02,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,352 INFO sqlalchemy.engine.base.Engine (2305,)
2021-02-20 14:31:02,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,355 INFO sqlalchemy.engine.base.Engine (2306,)
2021-02-20 14:31:02,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,357 INFO sqlalchemy.engine.base.Engine (2307,)

2021-02-20 14:31:02,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,361 INFO sqlalchemy.engine.base.Engine (2308,)
2021-02-20 14:31:02,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,363 INFO sqlalchemy.engine.base.Engine (2309,)
2021-02-20 14:31:02,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,366 INFO sqlalchemy.engine.base.Engine (2310,)
2021-02-20 14:31:02,366 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,367 INFO sqlalchemy.engine.base.Engine (2311,)
2021-02-20 14:31:02,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,370 INFO sqlalchemy.engine.base.Engine (2312,)
2021-02-20 14:31:02,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,371 INFO sqlalchemy.engine.base.Engine (2313,)
2021-02-20 14:31:02,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,375 INFO sqlalchemy.engine.base.Engine (2314,)
2021-02-20 14:31:02,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,377 INFO sqlalchemy.engine.base.Engine (2315,)
2021-02-20 14:31:02,380 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,381 INFO sqlalchemy.engine.base.Engine (2316,)
2021-02-20 14:31:02,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,382 INFO sqlalchemy.engine.base.Engine (2317,)
2021-02-20 14:31:02,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,385 INFO sqlalchemy.engine.base.Engine (2318,)
2021-02-20 14:31:02,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,387 INFO sqlalchemy.engine.base.Engine (2319,)
2021-02-20 14:31:02,389 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,390 INFO sqlalchemy.engine.base.Engine (2320,)
2021-02-20 14:31:02,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,392 INFO sqlalchemy.engine.base.Engine (2321,)
2021-02-20 14:31:02,395 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,396 INFO sqlalchemy.engine.base.Engine (2322,)
2021-02-20 14:31:02,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,397 INFO sqlalchemy.engine.base.Engine (2323,)
2021-02-20 14:31:02,400 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,400 INFO sqlalchemy.engine.base.Engine (2324,)
2021-02-20 14:31:02,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,402 INFO sqlalchemy.engine.base.Engine (2325,)
2021-02-20 14:31:02,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,404 INFO sqlalchemy.engine.base.Engine (2326,)
2021-02-20 14:31:02,405 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,406 INFO sqlalchemy.engine.base.Engine (2327,)
2021-02-20 14:31:02,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,410 INFO sqlalchemy.engine.base.Engine (2328,)
2021-02-20 14:31:02,411 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,412 INFO sqlalchemy.engine.base.Engine (2329,)
2021-02-20 14:31:02,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,415 INFO sqlalchemy.engine.base.Engine (2330,)
2021-02-20 14:31:02,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,417 INFO sqlalchemy.engine.base.Engine (2331,)
2021-02-20 14:31:02,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,420 INFO sqlalchemy.engine.base.Engine (2332,)
2021-02-20 14:31:02,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,421 INFO sqlalchemy.engine.base.Engine (2333,)
2021-02-20 14:31:02,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,424 INFO sqlalchemy.engine.base.Engine (2334,)
2021-02-20 14:31:02,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,426 INFO sqlalchemy.engine.base.Engine (2335,)
2021-02-20 14:31:02,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,430 INFO sqlalchemy.engine.base.Engine (2336,)
2021-02-20 14:31:02,431 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,432 INFO sqlalchemy.engine.base.Engine (2337,)
2021-02-20 14:31:02,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,435 INFO sqlalchemy.engine.base.Engine (2338,)
2021-02-20 14:31:02,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,437 INFO sqlalchemy.engine.base.Engine (2339,)
2021-02-20 14:31:02,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,440 INFO sqlalchemy.engine.base.Engine (2340,)
2021-02-20 14:31:02,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,442 INFO sqlalchemy.engine.base.Engine (2341,)
2021-02-20 14:31:02,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,446 INFO sqlalchemy.engine.base.Engine (2342,)
2021-02-20 14:31:02,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,447 INFO sqlalchemy.engine.base.Engine (2343,)
2021-02-20 14:31:02,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,450 INFO sqlalchemy.engine.base.Engine (2344,)
2021-02-20 14:31:02,451 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,451 INFO sqlalchemy.engine.base.Engine (2345,)
2021-02-20 14:31:02,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,454 INFO sqlalchemy.engine.base.Engine (2346,)
2021-02-20 14:31:02,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,456 INFO sqlalchemy.engine.base.Engine (2347,)
2021-02-20 14:31:02,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,459 INFO sqlalchemy.engine.base.Engine (2348,)
2021-02-20 14:31:02,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,460 INFO sqlalchemy.engine.base.Engine (2349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:02,504 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,505 INFO sqlalchemy.engine.base.Engine ((2350, 14.3, 14.3, 14.3, 152890.24100002553, 122596.46113904752), (2351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.24100002553, 122596.46113904752), (2352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152890.24100002553, 122596.46113904752), (2353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.24100002553, 122596.46113904752), (2354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152890.24100002553, 122596.46113904752), (2355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.24100002553, 122596.46113904752), (2356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152890.24100002553, 122596.46113904752), (2357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152890.24100002553, 122596.46113904752)  ... displaying 10 of 50 total bound parameter sets ...  (2398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152890.24100002553, 122596.46113904752), (2399, 135.9, 135.9, 135.9, 152890.24100002553, 122596.46113904752))
2021-02-20 14:31:02,507 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:02,508 INFO sqlalchemy.engine.base.Engine ('F48',)
2021-02-20 14:31:02,510 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,511 INFO sqlalchemy.engine.base.Engine ((1175, 'F48', 0, 'Anhydrite', 2350, 2351), (1176, 'F48', 1, 'Sandstone, grey, vf-f', 2352, 2353), (1177, 'F48', 2, 'Anhydrite', 2354, 2355), (1178, 'F48', 3, 'Dolomite', 2356, 2357), (1179, 'F48', 4, 'Anhydrite', 2358, 2359), (1180, 'F48', 5, 'Sandstone, grey, vf-f', 2360, 2361), (1181, 'F48', 6, 'Siltstone, red', 2362, 2363), (1182, 'F48', 7, 'Dolomite', 2364, 2365)  ... displaying 10 of 25 total bound parameter sets ...  (1198, 'F48', 23, 'Limestone', 2396, 2397), (1199, 'F48', 24, 'Volcanic', 2398, 2399))
2021-02-20 14:31:02,514 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:02,519 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:02,521 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:02,521 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:02,524 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:02,525 INFO sqlalchemy.engine.base.Engine ('F48',)
2021-02-20 14:31:02,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,528 INFO sqlalchemy.engine.base.Engine (2350,)
2021-02-20 14:31:02,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,530 INFO sqlalchemy.engine.base.Engine (2351,)
2021-02-20 14:31:02,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,533 INFO sqlalchemy.engine.base.Engine (2352,)
2021-02-20 14:31:02,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,534 INFO sqlalchemy.engine.base.Engine (2353,)
2021-02-20 14:31:02,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,538 INFO sqlalchemy.engine.base.Engine (2354,)
2021-02-20 14:31:02,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,541 INFO sqlalchemy.engine.base.Engine (2355,)
2021-02-20 14:31:02,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,546 INFO sqlalchemy.engine.base.Engine (2356,)
2021-02-20 14:31:02,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,549 INFO sqlalchemy.engine.base.Engine (2357,)
2021-02-20 14:31:02,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,554 INFO sqlalchemy.engine.base.Engine (2358,)
2021-02-20 14:31:02,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,556 INFO sqlalchemy.engine.base.Engine (2359,)
2021-02-20 14:31:02,560 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,560 INFO sqlalchemy.engine.base.Engine (2360,)
2021-02-20 14:31:02,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,561 INFO sqlalchemy.engine.base.Engine (2361,)
2021-02-20 14:31:02,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,565 INFO sqlalchemy.engine.base.Engine (2362,)

2021-02-20 14:31:02,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,566 INFO sqlalchemy.engine.base.Engine (2363,)
2021-02-20 14:31:02,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,569 INFO sqlalchemy.engine.base.Engine (2364,)
2021-02-20 14:31:02,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,571 INFO sqlalchemy.engine.base.Engine (2365,)
2021-02-20 14:31:02,573 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,574 INFO sqlalchemy.engine.base.Engine (2366,)
2021-02-20 14:31:02,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,575 INFO sqlalchemy.engine.base.Engine (2367,)
2021-02-20 14:31:02,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,578 INFO sqlalchemy.engine.base.Engine (2368,)
2021-02-20 14:31:02,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,580 INFO sqlalchemy.engine.base.Engine (2369,)
2021-02-20 14:31:02,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,585 INFO sqlalchemy.engine.base.Engine (2370,)
2021-02-20 14:31:02,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,587 INFO sqlalchemy.engine.base.Engine (2371,)
2021-02-20 14:31:02,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,592 INFO sqlalchemy.engine.base.Engine (2372,)
2021-02-20 14:31:02,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,595 INFO sqlalchemy.engine.base.Engine (2373,)
2021-02-20 14:31:02,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,599 INFO sqlalchemy.engine.base.Engine (2374,)
2021-02-20 14:31:02,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,602 INFO sqlalchemy.engine.base.Engine (2375,)
2021-02-20 14:31:02,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,605 INFO sqlalchemy.engine.base.Engine (2376,)
2021-02-20 14:31:02,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,608 INFO sqlalchemy.engine.base.Engine (2377,)
2021-02-20 14:31:02,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,611 INFO sqlalchemy.engine.base.Engine (2378,)
2021-02-20 14:31:02,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,614 INFO sqlalchemy.engine.base.Engine (2379,)
2021-02-20 14:31:02,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,617 INFO sqlalchemy.engine.base.Engine (2380,)
2021-02-20 14:31:02,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,618 INFO sqlalchemy.engine.base.Engine (2381,)
2021-02-20 14:31:02,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,620 INFO sqlalchemy.engine.base.Engine (2382,)
2021-02-20 14:31:02,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,622 INFO sqlalchemy.engine.base.Engine (2383,)
2021-02-20 14:31:02,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,624 INFO sqlalchemy.engine.base.Engine (2384,)
2021-02-20 14:31:02,625 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,626 INFO sqlalchemy.engine.base.Engine (2385,)
2021-02-20 14:31:02,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,628 INFO sqlalchemy.engine.base.Engine (2386,)
2021-02-20 14:31:02,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,630 INFO sqlalchemy.engine.base.Engine (2387,)
2021-02-20 14:31:02,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,632 INFO sqlalchemy.engine.base.Engine (2388,)
2021-02-20 14:31:02,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,634 INFO sqlalchemy.engine.base.Engine (2389,)
2021-02-20 14:31:02,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,637 INFO sqlalchemy.engine.base.Engine (2390,)
2021-02-20 14:31:02,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,639 INFO sqlalchemy.engine.base.Engine (2391,)
2021-02-20 14:31:02,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,643 INFO sqlalchemy.engine.base.Engine (2392,)
2021-02-20 14:31:02,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,646 INFO sqlalchemy.engine.base.Engine (2393,)
2021-02-20 14:31:02,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,651 INFO sqlalchemy.engine.base.Engine (2394,)
2021-02-20 14:31:02,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,653 INFO sqlalchemy.engine.base.Engine (2395,)
2021-02-20 14:31:02,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,656 INFO sqlalchemy.engine.base.Engine (2396,)
2021-02-20 14:31:02,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,657 INFO sqlalchemy.engine.base.Engine (2397,)
2021-02-20 14:31:02,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,662 INFO sqlalchemy.engine.base.Engine (2398,)
2021-02-20 14:31:02,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,664 INFO sqlalchemy.engine.base.Engine (2399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:02,708 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,709 INFO sqlalchemy.engine.base.Engine ((2400, 14.3, 14.3, 14.3, 152887.63100002534, 122598.04613904748), (2401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.63100002534, 122598.04613904748), (2402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.63100002534, 122598.04613904748), (2403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.63100002534, 122598.04613904748), (2404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.63100002534, 122598.04613904748), (2405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.63100002534, 122598.04613904748), (2406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.63100002534, 122598.04613904748), (2407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152887.63100002534, 122598.04613904748)  ... displaying 10 of 50 total bound parameter sets ...  (2448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152887.63100002534, 122598.04613904748), (2449, 135.9, 135.9, 135.9, 152887.63100002534, 122598.04613904748))
2021-02-20 14:31:02,711 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:02,712 INFO sqlalchemy.engine.base.Engine ('F49',)
2021-02-20 14:31:02,715 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,716 INFO sqlalchemy.engine.base.Engine ((1200, 'F49', 0, 'Anhydrite', 2400, 2401), (1201, 'F49', 1, 'Sandstone, grey, vf-f', 2402, 2403), (1202, 'F49', 2, 'Anhydrite', 2404, 2405), (1203, 'F49', 3, 'Dolomite', 2406, 2407), (1204, 'F49', 4, 'Anhydrite', 2408, 2409), (1205, 'F49', 5, 'Sandstone, grey, vf-f', 2410, 2411), (1206, 'F49', 6, 'Siltstone, red', 2412, 2413), (1207, 'F49', 7, 'Dolomite', 2414, 2415)  ... displaying 10 of 25 total bound parameter sets ...  (1223, 'F49', 23, 'Limestone', 2446, 2447), (1224, 'F49', 24, 'Volcanic', 2448, 2449))

2021-02-20 14:31:02,718 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:02,724 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:02,725 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:02,726 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:02,729 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:02,730 INFO sqlalchemy.engine.base.Engine ('F49',)
2021-02-20 14:31:02,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,733 INFO sqlalchemy.engine.base.Engine (2400,)
2021-02-20 14:31:02,734 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,735 INFO sqlalchemy.engine.base.Engine (2401,)
2021-02-20 14:31:02,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,738 INFO sqlalchemy.engine.base.Engine (2402,)
2021-02-20 14:31:02,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,740 INFO sqlalchemy.engine.base.Engine (2403,)
2021-02-20 14:31:02,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,742 INFO sqlalchemy.engine.base.Engine (2404,)
2021-02-20 14:31:02,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,744 INFO sqlalchemy.engine.base.Engine (2405,)
2021-02-20 14:31:02,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,749 INFO sqlalchemy.engine.base.Engine (2406,)
2021-02-20 14:31:02,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,752 INFO sqlalchemy.engine.base.Engine (2407,)
2021-02-20 14:31:02,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,754 INFO sqlalchemy.engine.base.Engine (2408,)
2021-02-20 14:31:02,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,756 INFO sqlalchemy.engine.base.Engine (2409,)
2021-02-20 14:31:02,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,759 INFO sqlalchemy.engine.base.Engine (2410,)
2021-02-20 14:31:02,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,761 INFO sqlalchemy.engine.base.Engine (2411,)
2021-02-20 14:31:02,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,763 INFO sqlalchemy.engine.base.Engine (2412,)
2021-02-20 14:31:02,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,765 INFO sqlalchemy.engine.base.Engine (2413,)
2021-02-20 14:31:02,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,769 INFO sqlalchemy.engine.base.Engine (2414,)
2021-02-20 14:31:02,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,770 INFO sqlalchemy.engine.base.Engine (2415,)
2021-02-20 14:31:02,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,773 INFO sqlalchemy.engine.base.Engine (2416,)
2021-02-20 14:31:02,774 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,774 INFO sqlalchemy.engine.base.Engine (2417,)
2021-02-20 14:31:02,776 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,777 INFO sqlalchemy.engine.base.Engine (2418,)
2021-02-20 14:31:02,779 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,779 INFO sqlalchemy.engine.base.Engine (2419,)
2021-02-20 14:31:02,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,784 INFO sqlalchemy.engine.base.Engine (2420,)
2021-02-20 14:31:02,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,787 INFO sqlalchemy.engine.base.Engine (2421,)
2021-02-20 14:31:02,791 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,792 INFO sqlalchemy.engine.base.Engine (2422,)
2021-02-20 14:31:02,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,795 INFO sqlalchemy.engine.base.Engine (2423,)
2021-02-20 14:31:02,797 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,798 INFO sqlalchemy.engine.base.Engine (2424,)
2021-02-20 14:31:02,799 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,800 INFO sqlalchemy.engine.base.Engine (2425,)
2021-02-20 14:31:02,802 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,802 INFO sqlalchemy.engine.base.Engine (2426,)
2021-02-20 14:31:02,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,804 INFO sqlalchemy.engine.base.Engine (2427,)
2021-02-20 14:31:02,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,809 INFO sqlalchemy.engine.base.Engine (2428,)
2021-02-20 14:31:02,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,811 INFO sqlalchemy.engine.base.Engine (2429,)
2021-02-20 14:31:02,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,815 INFO sqlalchemy.engine.base.Engine (2430,)
2021-02-20 14:31:02,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,818 INFO sqlalchemy.engine.base.Engine (2431,)
2021-02-20 14:31:02,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,820 INFO sqlalchemy.engine.base.Engine (2432,)
2021-02-20 14:31:02,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,823 INFO sqlalchemy.engine.base.Engine (2433,)
2021-02-20 14:31:02,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,828 INFO sqlalchemy.engine.base.Engine (2434,)
2021-02-20 14:31:02,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,831 INFO sqlalchemy.engine.base.Engine (2435,)
2021-02-20 14:31:02,835 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,836 INFO sqlalchemy.engine.base.Engine (2436,)
2021-02-20 14:31:02,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,838 INFO sqlalchemy.engine.base.Engine (2437,)
2021-02-20 14:31:02,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,842 INFO sqlalchemy.engine.base.Engine (2438,)
2021-02-20 14:31:02,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:02,843 INFO sqlalchemy.engine.base.Engine (2439,)
2021-02-20 14:31:02,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,846 INFO sqlalchemy.engine.base.Engine (2440,)
2021-02-20 14:31:02,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,847 INFO sqlalchemy.engine.base.Engine (2441,)
2021-02-20 14:31:02,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,852 INFO sqlalchemy.engine.base.Engine (2442,)
2021-02-20 14:31:02,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,854 INFO sqlalchemy.engine.base.Engine (2443,)
2021-02-20 14:31:02,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,860 INFO sqlalchemy.engine.base.Engine (2444,)
2021-02-20 14:31:02,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,863 INFO sqlalchemy.engine.base.Engine (2445,)
2021-02-20 14:31:02,866 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,866 INFO sqlalchemy.engine.base.Engine (2446,)
2021-02-20 14:31:02,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,869 INFO sqlalchemy.engine.base.Engine (2447,)
2021-02-20 14:31:02,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,873 INFO sqlalchemy.engine.base.Engine (2448,)
2021-02-20 14:31:02,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,875 INFO sqlalchemy.engine.base.Engine (2449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:02,937 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:02,938 INFO sqlalchemy.engine.base.Engine ('F50',)
2021-02-20 14:31:02,940 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,941 INFO sqlalchemy.engine.base.Engine ((2450, 14.3, 14.3, 14.3, 152885.82300002544, 122597.76613904722), (2451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.82300002544, 122597.76613904722), (2452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.82300002544, 122597.76613904722), (2453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.82300002544, 122597.76613904722), (2454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.82300002544, 122597.76613904722), (2455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.82300002544, 122597.76613904722), (2456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.82300002544, 122597.76613904722), (2457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.82300002544, 122597.76613904722)  ... displaying 10 of 50 total bound parameter sets ...  (2498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.82300002544, 122597.76613904722), (2499, 135.9, 135.9, 135.9, 152885.82300002544, 122597.76613904722))
2021-02-20 14:31:02,944 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:02,945 INFO sqlalchemy.engine.base.Engine ((1225, 'F50', 0, 'Anhydrite', 2450, 2451), (1226, 'F50', 1, 'Sandstone, grey, vf-f', 2452, 2453), (1227, 'F50', 2, 'Anhydrite', 2454, 2455), (1228, 'F50', 3, 'Dolomite', 2456, 2457), (1229, 'F50', 4, 'Anhydrite', 2458, 2459), (1230, 'F50', 5, 'Sandstone, grey, vf-f', 2460, 2461), (1231, 'F50', 6, 'Siltstone, red', 2462, 2463), (1232, 'F50', 7, 'Dolomite', 2464, 2465)  ... displaying 10 of 25 total bound parameter sets ...  (1248, 'F50', 23, 'Limestone', 2496, 2497), (1249, 'F50', 24, 'Volcanic', 2498, 2499))
2021-02-20 14:31:02,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:02,952 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:02,953 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:02,953 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:02,955 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:02,956 INFO sqlalchemy.engine.base.Engine ('F50',)
2021-02-20 14:31:02,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,959 INFO sqlalchemy.engine.base.Engine (2450,)
2021-02-20 14:31:02,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,961 INFO sqlalchemy.engine.base.Engine (2451,)
2021-02-20 14:31:02,964 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,964 INFO sqlalchemy.engine.base.Engine (2452,)

2021-02-20 14:31:02,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,966 INFO sqlalchemy.engine.base.Engine (2453,)
2021-02-20 14:31:02,970 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,970 INFO sqlalchemy.engine.base.Engine (2454,)
2021-02-20 14:31:02,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,973 INFO sqlalchemy.engine.base.Engine (2455,)
2021-02-20 14:31:02,976 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,977 INFO sqlalchemy.engine.base.Engine (2456,)
2021-02-20 14:31:02,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,979 INFO sqlalchemy.engine.base.Engine (2457,)
2021-02-20 14:31:02,982 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,983 INFO sqlalchemy.engine.base.Engine (2458,)
2021-02-20 14:31:02,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,985 INFO sqlalchemy.engine.base.Engine (2459,)
2021-02-20 14:31:02,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,988 INFO sqlalchemy.engine.base.Engine (2460,)
2021-02-20 14:31:02,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,990 INFO sqlalchemy.engine.base.Engine (2461,)
2021-02-20 14:31:02,994 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,995 INFO sqlalchemy.engine.base.Engine (2462,)
2021-02-20 14:31:02,996 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:02,997 INFO sqlalchemy.engine.base.Engine (2463,)
2021-02-20 14:31:03,000 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,001 INFO sqlalchemy.engine.base.Engine (2464,)
2021-02-20 14:31:03,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,003 INFO sqlalchemy.engine.base.Engine (2465,)
2021-02-20 14:31:03,007 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,008 INFO sqlalchemy.engine.base.Engine (2466,)
2021-02-20 14:31:03,010 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,011 INFO sqlalchemy.engine.base.Engine (2467,)
2021-02-20 14:31:03,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,015 INFO sqlalchemy.engine.base.Engine (2468,)
2021-02-20 14:31:03,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,017 INFO sqlalchemy.engine.base.Engine (2469,)
2021-02-20 14:31:03,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,020 INFO sqlalchemy.engine.base.Engine (2470,)
2021-02-20 14:31:03,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,023 INFO sqlalchemy.engine.base.Engine (2471,)
2021-02-20 14:31:03,026 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,027 INFO sqlalchemy.engine.base.Engine (2472,)
2021-02-20 14:31:03,028 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,029 INFO sqlalchemy.engine.base.Engine (2473,)
2021-02-20 14:31:03,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,034 INFO sqlalchemy.engine.base.Engine (2474,)
2021-02-20 14:31:03,036 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,036 INFO sqlalchemy.engine.base.Engine (2475,)
2021-02-20 14:31:03,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,040 INFO sqlalchemy.engine.base.Engine (2476,)
2021-02-20 14:31:03,042 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,043 INFO sqlalchemy.engine.base.Engine (2477,)
2021-02-20 14:31:03,046 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,047 INFO sqlalchemy.engine.base.Engine (2478,)
2021-02-20 14:31:03,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,049 INFO sqlalchemy.engine.base.Engine (2479,)
2021-02-20 14:31:03,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,053 INFO sqlalchemy.engine.base.Engine (2480,)
2021-02-20 14:31:03,054 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,054 INFO sqlalchemy.engine.base.Engine (2481,)
2021-02-20 14:31:03,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,058 INFO sqlalchemy.engine.base.Engine (2482,)
2021-02-20 14:31:03,059 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,060 INFO sqlalchemy.engine.base.Engine (2483,)
2021-02-20 14:31:03,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,063 INFO sqlalchemy.engine.base.Engine (2484,)
2021-02-20 14:31:03,065 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,065 INFO sqlalchemy.engine.base.Engine (2485,)
2021-02-20 14:31:03,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,068 INFO sqlalchemy.engine.base.Engine (2486,)
2021-02-20 14:31:03,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,070 INFO sqlalchemy.engine.base.Engine (2487,)
2021-02-20 14:31:03,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,073 INFO sqlalchemy.engine.base.Engine (2488,)
2021-02-20 14:31:03,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,075 INFO sqlalchemy.engine.base.Engine (2489,)
2021-02-20 14:31:03,077 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,078 INFO sqlalchemy.engine.base.Engine (2490,)
2021-02-20 14:31:03,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,080 INFO sqlalchemy.engine.base.Engine (2491,)
2021-02-20 14:31:03,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,084 INFO sqlalchemy.engine.base.Engine (2492,)
2021-02-20 14:31:03,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,087 INFO sqlalchemy.engine.base.Engine (2493,)
2021-02-20 14:31:03,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,091 INFO sqlalchemy.engine.base.Engine (2494,)
2021-02-20 14:31:03,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,093 INFO sqlalchemy.engine.base.Engine (2495,)
2021-02-20 14:31:03,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,097 INFO sqlalchemy.engine.base.Engine (2496,)
2021-02-20 14:31:03,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,098 INFO sqlalchemy.engine.base.Engine (2497,)
2021-02-20 14:31:03,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,102 INFO sqlalchemy.engine.base.Engine (2498,)
2021-02-20 14:31:03,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,104 INFO sqlalchemy.engine.base.Engine (2499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:03,147 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,148 INFO sqlalchemy.engine.base.Engine ((2500, 14.3, 14.3, 14.3, 152888.5570000254, 122593.31413904855), (2501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.5570000254, 122593.31413904855), (2502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.5570000254, 122593.31413904855), (2503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.5570000254, 122593.31413904855), (2504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.5570000254, 122593.31413904855), (2505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.5570000254, 122593.31413904855), (2506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.5570000254, 122593.31413904855), (2507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.5570000254, 122593.31413904855)  ... displaying 10 of 50 total bound parameter sets ...  (2548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.5570000254, 122593.31413904855), (2549, 135.9, 135.9, 135.9, 152888.5570000254, 122593.31413904855))
2021-02-20 14:31:03,150 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:03,151 INFO sqlalchemy.engine.base.Engine ('F51',)
2021-02-20 14:31:03,154 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,154 INFO sqlalchemy.engine.base.Engine ((1250, 'F51', 0, 'Anhydrite', 2500, 2501), (1251, 'F51', 1, 'Sandstone, grey, vf-f', 2502, 2503), (1252, 'F51', 2, 'Anhydrite', 2504, 2505), (1253, 'F51', 3, 'Dolomite', 2506, 2507), (1254, 'F51', 4, 'Anhydrite', 2508, 2509), (1255, 'F51', 5, 'Sandstone, grey, vf-f', 2510, 2511), (1256, 'F51', 6, 'Siltstone, red', 2512, 2513), (1257, 'F51', 7, 'Dolomite', 2514, 2515)  ... displaying 10 of 25 total bound parameter sets ...  (1273, 'F51', 23, 'Limestone', 2546, 2547), (1274, 'F51', 24, 'Volcanic', 2548, 2549))
2021-02-20 14:31:03,156 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:03,161 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:03,162 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:03,163 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:03,165 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:03,166 INFO sqlalchemy.engine.base.Engine ('F51',)
2021-02-20 14:31:03,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,168 INFO sqlalchemy.engine.base.Engine (2500,)
2021-02-20 14:31:03,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,170 INFO sqlalchemy.engine.base.Engine (2501,)
2021-02-20 14:31:03,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,172 INFO sqlalchemy.engine.base.Engine (2502,)
2021-02-20 14:31:03,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,173 INFO sqlalchemy.engine.base.Engine (2503,)
2021-02-20 14:31:03,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,176 INFO sqlalchemy.engine.base.Engine (2504,)
2021-02-20 14:31:03,177 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,178 INFO sqlalchemy.engine.base.Engine (2505,)
2021-02-20 14:31:03,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,181 INFO sqlalchemy.engine.base.Engine (2506,)
2021-02-20 14:31:03,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,183 INFO sqlalchemy.engine.base.Engine (2507,)

2021-02-20 14:31:03,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,186 INFO sqlalchemy.engine.base.Engine (2508,)
2021-02-20 14:31:03,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,187 INFO sqlalchemy.engine.base.Engine (2509,)
2021-02-20 14:31:03,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,190 INFO sqlalchemy.engine.base.Engine (2510,)
2021-02-20 14:31:03,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,191 INFO sqlalchemy.engine.base.Engine (2511,)
2021-02-20 14:31:03,194 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,194 INFO sqlalchemy.engine.base.Engine (2512,)
2021-02-20 14:31:03,195 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,196 INFO sqlalchemy.engine.base.Engine (2513,)
2021-02-20 14:31:03,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,198 INFO sqlalchemy.engine.base.Engine (2514,)
2021-02-20 14:31:03,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,200 INFO sqlalchemy.engine.base.Engine (2515,)
2021-02-20 14:31:03,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,203 INFO sqlalchemy.engine.base.Engine (2516,)
2021-02-20 14:31:03,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,205 INFO sqlalchemy.engine.base.Engine (2517,)
2021-02-20 14:31:03,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,210 INFO sqlalchemy.engine.base.Engine (2518,)
2021-02-20 14:31:03,211 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,212 INFO sqlalchemy.engine.base.Engine (2519,)
2021-02-20 14:31:03,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,216 INFO sqlalchemy.engine.base.Engine (2520,)
2021-02-20 14:31:03,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,218 INFO sqlalchemy.engine.base.Engine (2521,)
2021-02-20 14:31:03,220 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,220 INFO sqlalchemy.engine.base.Engine (2522,)
2021-02-20 14:31:03,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,222 INFO sqlalchemy.engine.base.Engine (2523,)
2021-02-20 14:31:03,225 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,225 INFO sqlalchemy.engine.base.Engine (2524,)
2021-02-20 14:31:03,226 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,227 INFO sqlalchemy.engine.base.Engine (2525,)
2021-02-20 14:31:03,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,231 INFO sqlalchemy.engine.base.Engine (2526,)
2021-02-20 14:31:03,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,233 INFO sqlalchemy.engine.base.Engine (2527,)
2021-02-20 14:31:03,236 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,237 INFO sqlalchemy.engine.base.Engine (2528,)
2021-02-20 14:31:03,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,239 INFO sqlalchemy.engine.base.Engine (2529,)
2021-02-20 14:31:03,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,243 INFO sqlalchemy.engine.base.Engine (2530,)
2021-02-20 14:31:03,244 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,245 INFO sqlalchemy.engine.base.Engine (2531,)
2021-02-20 14:31:03,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,249 INFO sqlalchemy.engine.base.Engine (2532,)
2021-02-20 14:31:03,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,251 INFO sqlalchemy.engine.base.Engine (2533,)
2021-02-20 14:31:03,254 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,254 INFO sqlalchemy.engine.base.Engine (2534,)
2021-02-20 14:31:03,256 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,257 INFO sqlalchemy.engine.base.Engine (2535,)
2021-02-20 14:31:03,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,260 INFO sqlalchemy.engine.base.Engine (2536,)
2021-02-20 14:31:03,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,262 INFO sqlalchemy.engine.base.Engine (2537,)
2021-02-20 14:31:03,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,266 INFO sqlalchemy.engine.base.Engine (2538,)
2021-02-20 14:31:03,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,268 INFO sqlalchemy.engine.base.Engine (2539,)
2021-02-20 14:31:03,270 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,271 INFO sqlalchemy.engine.base.Engine (2540,)
2021-02-20 14:31:03,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,274 INFO sqlalchemy.engine.base.Engine (2541,)
2021-02-20 14:31:03,278 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,279 INFO sqlalchemy.engine.base.Engine (2542,)
2021-02-20 14:31:03,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,281 INFO sqlalchemy.engine.base.Engine (2543,)
2021-02-20 14:31:03,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,285 INFO sqlalchemy.engine.base.Engine (2544,)
2021-02-20 14:31:03,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,286 INFO sqlalchemy.engine.base.Engine (2545,)
2021-02-20 14:31:03,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,289 INFO sqlalchemy.engine.base.Engine (2546,)
2021-02-20 14:31:03,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,291 INFO sqlalchemy.engine.base.Engine (2547,)
2021-02-20 14:31:03,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,295 INFO sqlalchemy.engine.base.Engine (2548,)
2021-02-20 14:31:03,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,297 INFO sqlalchemy.engine.base.Engine (2549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:03,344 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,345 INFO sqlalchemy.engine.base.Engine ((2550, 14.3, 14.3, 14.3, 152891.79100002543, 122586.1501390487), (2551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.79100002543, 122586.1501390487), (2552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.79100002543, 122586.1501390487), (2553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.79100002543, 122586.1501390487), (2554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.79100002543, 122586.1501390487), (2555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.79100002543, 122586.1501390487), (2556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.79100002543, 122586.1501390487), (2557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.79100002543, 122586.1501390487)  ... displaying 10 of 50 total bound parameter sets ...  (2598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.79100002543, 122586.1501390487), (2599, 135.9, 135.9, 135.9, 152891.79100002543, 122586.1501390487))
2021-02-20 14:31:03,346 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:03,347 INFO sqlalchemy.engine.base.Engine ('F52',)
2021-02-20 14:31:03,348 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,348 INFO sqlalchemy.engine.base.Engine ((1275, 'F52', 0, 'Anhydrite', 2550, 2551), (1276, 'F52', 1, 'Sandstone, grey, vf-f', 2552, 2553), (1277, 'F52', 2, 'Anhydrite', 2554, 2555), (1278, 'F52', 3, 'Dolomite', 2556, 2557), (1279, 'F52', 4, 'Anhydrite', 2558, 2559), (1280, 'F52', 5, 'Sandstone, grey, vf-f', 2560, 2561), (1281, 'F52', 6, 'Siltstone, red', 2562, 2563), (1282, 'F52', 7, 'Dolomite', 2564, 2565)  ... displaying 10 of 25 total bound parameter sets ...  (1298, 'F52', 23, 'Limestone', 2596, 2597), (1299, 'F52', 24, 'Volcanic', 2598, 2599))
2021-02-20 14:31:03,350 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:03,354 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:03,354 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:03,355 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:03,357 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:03,358 INFO sqlalchemy.engine.base.Engine ('F52',)
2021-02-20 14:31:03,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,362 INFO sqlalchemy.engine.base.Engine (2550,)
2021-02-20 14:31:03,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,364 INFO sqlalchemy.engine.base.Engine (2551,)
2021-02-20 14:31:03,368 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,370 INFO sqlalchemy.engine.base.Engine (2552,)
2021-02-20 14:31:03,371 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,372 INFO sqlalchemy.engine.base.Engine (2553,)
2021-02-20 14:31:03,375 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,376 INFO sqlalchemy.engine.base.Engine (2554,)
2021-02-20 14:31:03,377 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,378 INFO sqlalchemy.engine.base.Engine (2555,)
2021-02-20 14:31:03,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,381 INFO sqlalchemy.engine.base.Engine (2556,)
2021-02-20 14:31:03,382 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,383 INFO sqlalchemy.engine.base.Engine (2557,)
2021-02-20 14:31:03,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,387 INFO sqlalchemy.engine.base.Engine (2558,)
2021-02-20 14:31:03,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,389 INFO sqlalchemy.engine.base.Engine (2559,)
2021-02-20 14:31:03,392 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,393 INFO sqlalchemy.engine.base.Engine (2560,)
2021-02-20 14:31:03,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,395 INFO sqlalchemy.engine.base.Engine (2561,)
2021-02-20 14:31:03,397 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,397 INFO sqlalchemy.engine.base.Engine (2562,)

2021-02-20 14:31:03,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,398 INFO sqlalchemy.engine.base.Engine (2563,)
2021-02-20 14:31:03,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,402 INFO sqlalchemy.engine.base.Engine (2564,)
2021-02-20 14:31:03,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,404 INFO sqlalchemy.engine.base.Engine (2565,)
2021-02-20 14:31:03,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,406 INFO sqlalchemy.engine.base.Engine (2566,)
2021-02-20 14:31:03,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,409 INFO sqlalchemy.engine.base.Engine (2567,)
2021-02-20 14:31:03,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,413 INFO sqlalchemy.engine.base.Engine (2568,)
2021-02-20 14:31:03,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,415 INFO sqlalchemy.engine.base.Engine (2569,)
2021-02-20 14:31:03,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,418 INFO sqlalchemy.engine.base.Engine (2570,)
2021-02-20 14:31:03,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,420 INFO sqlalchemy.engine.base.Engine (2571,)
2021-02-20 14:31:03,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,422 INFO sqlalchemy.engine.base.Engine (2572,)
2021-02-20 14:31:03,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,423 INFO sqlalchemy.engine.base.Engine (2573,)
2021-02-20 14:31:03,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,426 INFO sqlalchemy.engine.base.Engine (2574,)
2021-02-20 14:31:03,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,427 INFO sqlalchemy.engine.base.Engine (2575,)
2021-02-20 14:31:03,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,429 INFO sqlalchemy.engine.base.Engine (2576,)
2021-02-20 14:31:03,431 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,431 INFO sqlalchemy.engine.base.Engine (2577,)
2021-02-20 14:31:03,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,433 INFO sqlalchemy.engine.base.Engine (2578,)
2021-02-20 14:31:03,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,435 INFO sqlalchemy.engine.base.Engine (2579,)
2021-02-20 14:31:03,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,437 INFO sqlalchemy.engine.base.Engine (2580,)
2021-02-20 14:31:03,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,439 INFO sqlalchemy.engine.base.Engine (2581,)
2021-02-20 14:31:03,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,442 INFO sqlalchemy.engine.base.Engine (2582,)
2021-02-20 14:31:03,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,443 INFO sqlalchemy.engine.base.Engine (2583,)
2021-02-20 14:31:03,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,445 INFO sqlalchemy.engine.base.Engine (2584,)
2021-02-20 14:31:03,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,447 INFO sqlalchemy.engine.base.Engine (2585,)
2021-02-20 14:31:03,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,451 INFO sqlalchemy.engine.base.Engine (2586,)
2021-02-20 14:31:03,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,452 INFO sqlalchemy.engine.base.Engine (2587,)
2021-02-20 14:31:03,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,456 INFO sqlalchemy.engine.base.Engine (2588,)
2021-02-20 14:31:03,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,458 INFO sqlalchemy.engine.base.Engine (2589,)
2021-02-20 14:31:03,461 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,461 INFO sqlalchemy.engine.base.Engine (2590,)
2021-02-20 14:31:03,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,463 INFO sqlalchemy.engine.base.Engine (2591,)
2021-02-20 14:31:03,466 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,466 INFO sqlalchemy.engine.base.Engine (2592,)
2021-02-20 14:31:03,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,468 INFO sqlalchemy.engine.base.Engine (2593,)
2021-02-20 14:31:03,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,472 INFO sqlalchemy.engine.base.Engine (2594,)
2021-02-20 14:31:03,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,475 INFO sqlalchemy.engine.base.Engine (2595,)
2021-02-20 14:31:03,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,478 INFO sqlalchemy.engine.base.Engine (2596,)
2021-02-20 14:31:03,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,480 INFO sqlalchemy.engine.base.Engine (2597,)
2021-02-20 14:31:03,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,482 INFO sqlalchemy.engine.base.Engine (2598,)
2021-02-20 14:31:03,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,484 INFO sqlalchemy.engine.base.Engine (2599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:03,535 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:03,536 INFO sqlalchemy.engine.base.Engine ('F53',)
2021-02-20 14:31:03,538 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,539 INFO sqlalchemy.engine.base.Engine ((2600, 14.3, 14.3, 14.3, 152879.13500002536, 122580.17613904735), (2601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152879.13500002536, 122580.17613904735), (2602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152879.13500002536, 122580.17613904735), (2603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152879.13500002536, 122580.17613904735), (2604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152879.13500002536, 122580.17613904735), (2605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152879.13500002536, 122580.17613904735), (2606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152879.13500002536, 122580.17613904735), (2607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152879.13500002536, 122580.17613904735)  ... displaying 10 of 50 total bound parameter sets ...  (2648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152879.13500002536, 122580.17613904735), (2649, 135.9, 135.9, 135.9, 152879.13500002536, 122580.17613904735))
2021-02-20 14:31:03,542 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,543 INFO sqlalchemy.engine.base.Engine ((1300, 'F53', 0, 'Anhydrite', 2600, 2601), (1301, 'F53', 1, 'Sandstone, grey, vf-f', 2602, 2603), (1302, 'F53', 2, 'Anhydrite', 2604, 2605), (1303, 'F53', 3, 'Dolomite', 2606, 2607), (1304, 'F53', 4, 'Anhydrite', 2608, 2609), (1305, 'F53', 5, 'Sandstone, grey, vf-f', 2610, 2611), (1306, 'F53', 6, 'Siltstone, red', 2612, 2613), (1307, 'F53', 7, 'Dolomite', 2614, 2615)  ... displaying 10 of 25 total bound parameter sets ...  (1323, 'F53', 23, 'Limestone', 2646, 2647), (1324, 'F53', 24, 'Volcanic', 2648, 2649))

2021-02-20 14:31:03,546 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:03,552 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:03,554 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:03,555 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:03,558 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:03,559 INFO sqlalchemy.engine.base.Engine ('F53',)
2021-02-20 14:31:03,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,563 INFO sqlalchemy.engine.base.Engine (2600,)
2021-02-20 14:31:03,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,566 INFO sqlalchemy.engine.base.Engine (2601,)
2021-02-20 14:31:03,568 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,569 INFO sqlalchemy.engine.base.Engine (2602,)
2021-02-20 14:31:03,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,572 INFO sqlalchemy.engine.base.Engine (2603,)
2021-02-20 14:31:03,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,577 INFO sqlalchemy.engine.base.Engine (2604,)
2021-02-20 14:31:03,578 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,579 INFO sqlalchemy.engine.base.Engine (2605,)
2021-02-20 14:31:03,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,582 INFO sqlalchemy.engine.base.Engine (2606,)
2021-02-20 14:31:03,584 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,584 INFO sqlalchemy.engine.base.Engine (2607,)
2021-02-20 14:31:03,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,587 INFO sqlalchemy.engine.base.Engine (2608,)
2021-02-20 14:31:03,588 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,588 INFO sqlalchemy.engine.base.Engine (2609,)
2021-02-20 14:31:03,590 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,591 INFO sqlalchemy.engine.base.Engine (2610,)
2021-02-20 14:31:03,592 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,592 INFO sqlalchemy.engine.base.Engine (2611,)
2021-02-20 14:31:03,595 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,595 INFO sqlalchemy.engine.base.Engine (2612,)
2021-02-20 14:31:03,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,597 INFO sqlalchemy.engine.base.Engine (2613,)
2021-02-20 14:31:03,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,600 INFO sqlalchemy.engine.base.Engine (2614,)
2021-02-20 14:31:03,601 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,602 INFO sqlalchemy.engine.base.Engine (2615,)
2021-02-20 14:31:03,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,605 INFO sqlalchemy.engine.base.Engine (2616,)
2021-02-20 14:31:03,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,607 INFO sqlalchemy.engine.base.Engine (2617,)
2021-02-20 14:31:03,610 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,611 INFO sqlalchemy.engine.base.Engine (2618,)
2021-02-20 14:31:03,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,613 INFO sqlalchemy.engine.base.Engine (2619,)
2021-02-20 14:31:03,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,617 INFO sqlalchemy.engine.base.Engine (2620,)
2021-02-20 14:31:03,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,619 INFO sqlalchemy.engine.base.Engine (2621,)
2021-02-20 14:31:03,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,623 INFO sqlalchemy.engine.base.Engine (2622,)
2021-02-20 14:31:03,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,625 INFO sqlalchemy.engine.base.Engine (2623,)
2021-02-20 14:31:03,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,628 INFO sqlalchemy.engine.base.Engine (2624,)
2021-02-20 14:31:03,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,630 INFO sqlalchemy.engine.base.Engine (2625,)
2021-02-20 14:31:03,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,634 INFO sqlalchemy.engine.base.Engine (2626,)
2021-02-20 14:31:03,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,637 INFO sqlalchemy.engine.base.Engine (2627,)
2021-02-20 14:31:03,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,641 INFO sqlalchemy.engine.base.Engine (2628,)
2021-02-20 14:31:03,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,643 INFO sqlalchemy.engine.base.Engine (2629,)
2021-02-20 14:31:03,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,648 INFO sqlalchemy.engine.base.Engine (2630,)
2021-02-20 14:31:03,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,650 INFO sqlalchemy.engine.base.Engine (2631,)
2021-02-20 14:31:03,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,653 INFO sqlalchemy.engine.base.Engine (2632,)
2021-02-20 14:31:03,655 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,655 INFO sqlalchemy.engine.base.Engine (2633,)
2021-02-20 14:31:03,659 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,660 INFO sqlalchemy.engine.base.Engine (2634,)
2021-02-20 14:31:03,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,662 INFO sqlalchemy.engine.base.Engine (2635,)
2021-02-20 14:31:03,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,667 INFO sqlalchemy.engine.base.Engine (2636,)
2021-02-20 14:31:03,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,669 INFO sqlalchemy.engine.base.Engine (2637,)
2021-02-20 14:31:03,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,671 INFO sqlalchemy.engine.base.Engine (2638,)
2021-02-20 14:31:03,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,673 INFO sqlalchemy.engine.base.Engine (2639,)
2021-02-20 14:31:03,675 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,676 INFO sqlalchemy.engine.base.Engine (2640,)
2021-02-20 14:31:03,677 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,678 INFO sqlalchemy.engine.base.Engine (2641,)
2021-02-20 14:31:03,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,682 INFO sqlalchemy.engine.base.Engine (2642,)
2021-02-20 14:31:03,683 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,684 INFO sqlalchemy.engine.base.Engine (2643,)
2021-02-20 14:31:03,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,687 INFO sqlalchemy.engine.base.Engine (2644,)
2021-02-20 14:31:03,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,688 INFO sqlalchemy.engine.base.Engine (2645,)
2021-02-20 14:31:03,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,691 INFO sqlalchemy.engine.base.Engine (2646,)
2021-02-20 14:31:03,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,693 INFO sqlalchemy.engine.base.Engine (2647,)
2021-02-20 14:31:03,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,697 INFO sqlalchemy.engine.base.Engine (2648,)
2021-02-20 14:31:03,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,699 INFO sqlalchemy.engine.base.Engine (2649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:03,742 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,743 INFO sqlalchemy.engine.base.Engine ((2650, 14.3, 14.3, 14.3, 152882.02200002535, 122579.22513904702), (2651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152882.02200002535, 122579.22513904702), (2652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152882.02200002535, 122579.22513904702), (2653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152882.02200002535, 122579.22513904702), (2654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152882.02200002535, 122579.22513904702), (2655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152882.02200002535, 122579.22513904702), (2656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152882.02200002535, 122579.22513904702), (2657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152882.02200002535, 122579.22513904702)  ... displaying 10 of 50 total bound parameter sets ...  (2698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152882.02200002535, 122579.22513904702), (2699, 135.9, 135.9, 135.9, 152882.02200002535, 122579.22513904702))
2021-02-20 14:31:03,746 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:03,747 INFO sqlalchemy.engine.base.Engine ('F54',)
2021-02-20 14:31:03,749 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,750 INFO sqlalchemy.engine.base.Engine ((1325, 'F54', 0, 'Anhydrite', 2650, 2651), (1326, 'F54', 1, 'Sandstone, grey, vf-f', 2652, 2653), (1327, 'F54', 2, 'Anhydrite', 2654, 2655), (1328, 'F54', 3, 'Dolomite', 2656, 2657), (1329, 'F54', 4, 'Anhydrite', 2658, 2659), (1330, 'F54', 5, 'Sandstone, grey, vf-f', 2660, 2661), (1331, 'F54', 6, 'Siltstone, red', 2662, 2663), (1332, 'F54', 7, 'Dolomite', 2664, 2665)  ... displaying 10 of 25 total bound parameter sets ...  (1348, 'F54', 23, 'Limestone', 2696, 2697), (1349, 'F54', 24, 'Volcanic', 2698, 2699))
2021-02-20 14:31:03,752 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:03,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:03,758 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:03,758 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:03,761 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:03,762 INFO sqlalchemy.engine.base.Engine ('F54',)
2021-02-20 14:31:03,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,765 INFO sqlalchemy.engine.base.Engine (2650,)
2021-02-20 14:31:03,766 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,767 INFO sqlalchemy.engine.base.Engine (2651,)
2021-02-20 14:31:03,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,770 INFO sqlalchemy.engine.base.Engine (2652,)

2021-02-20 14:31:03,771 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,772 INFO sqlalchemy.engine.base.Engine (2653,)
2021-02-20 14:31:03,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,776 INFO sqlalchemy.engine.base.Engine (2654,)
2021-02-20 14:31:03,777 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,778 INFO sqlalchemy.engine.base.Engine (2655,)
2021-02-20 14:31:03,781 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,782 INFO sqlalchemy.engine.base.Engine (2656,)
2021-02-20 14:31:03,784 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,784 INFO sqlalchemy.engine.base.Engine (2657,)
2021-02-20 14:31:03,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,787 INFO sqlalchemy.engine.base.Engine (2658,)
2021-02-20 14:31:03,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,789 INFO sqlalchemy.engine.base.Engine (2659,)
2021-02-20 14:31:03,792 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,793 INFO sqlalchemy.engine.base.Engine (2660,)
2021-02-20 14:31:03,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,795 INFO sqlalchemy.engine.base.Engine (2661,)
2021-02-20 14:31:03,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,799 INFO sqlalchemy.engine.base.Engine (2662,)
2021-02-20 14:31:03,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,801 INFO sqlalchemy.engine.base.Engine (2663,)
2021-02-20 14:31:03,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,805 INFO sqlalchemy.engine.base.Engine (2664,)
2021-02-20 14:31:03,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,808 INFO sqlalchemy.engine.base.Engine (2665,)
2021-02-20 14:31:03,810 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,811 INFO sqlalchemy.engine.base.Engine (2666,)
2021-02-20 14:31:03,812 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,813 INFO sqlalchemy.engine.base.Engine (2667,)
2021-02-20 14:31:03,815 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,816 INFO sqlalchemy.engine.base.Engine (2668,)
2021-02-20 14:31:03,817 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,817 INFO sqlalchemy.engine.base.Engine (2669,)
2021-02-20 14:31:03,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,820 INFO sqlalchemy.engine.base.Engine (2670,)
2021-02-20 14:31:03,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,821 INFO sqlalchemy.engine.base.Engine (2671,)
2021-02-20 14:31:03,823 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,824 INFO sqlalchemy.engine.base.Engine (2672,)
2021-02-20 14:31:03,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,825 INFO sqlalchemy.engine.base.Engine (2673,)
2021-02-20 14:31:03,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,829 INFO sqlalchemy.engine.base.Engine (2674,)
2021-02-20 14:31:03,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,831 INFO sqlalchemy.engine.base.Engine (2675,)
2021-02-20 14:31:03,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,834 INFO sqlalchemy.engine.base.Engine (2676,)
2021-02-20 14:31:03,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,836 INFO sqlalchemy.engine.base.Engine (2677,)
2021-02-20 14:31:03,839 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,840 INFO sqlalchemy.engine.base.Engine (2678,)
2021-02-20 14:31:03,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,843 INFO sqlalchemy.engine.base.Engine (2679,)
2021-02-20 14:31:03,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,845 INFO sqlalchemy.engine.base.Engine (2680,)
2021-02-20 14:31:03,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,847 INFO sqlalchemy.engine.base.Engine (2681,)
2021-02-20 14:31:03,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,850 INFO sqlalchemy.engine.base.Engine (2682,)
2021-02-20 14:31:03,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,852 INFO sqlalchemy.engine.base.Engine (2683,)
2021-02-20 14:31:03,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,856 INFO sqlalchemy.engine.base.Engine (2684,)
2021-02-20 14:31:03,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,859 INFO sqlalchemy.engine.base.Engine (2685,)
2021-02-20 14:31:03,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,863 INFO sqlalchemy.engine.base.Engine (2686,)
2021-02-20 14:31:03,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,865 INFO sqlalchemy.engine.base.Engine (2687,)
2021-02-20 14:31:03,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,869 INFO sqlalchemy.engine.base.Engine (2688,)
2021-02-20 14:31:03,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,871 INFO sqlalchemy.engine.base.Engine (2689,)
2021-02-20 14:31:03,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,876 INFO sqlalchemy.engine.base.Engine (2690,)
2021-02-20 14:31:03,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,878 INFO sqlalchemy.engine.base.Engine (2691,)
2021-02-20 14:31:03,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,881 INFO sqlalchemy.engine.base.Engine (2692,)
2021-02-20 14:31:03,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,883 INFO sqlalchemy.engine.base.Engine (2693,)
2021-02-20 14:31:03,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:03,887 INFO sqlalchemy.engine.base.Engine (2694,)
2021-02-20 14:31:03,889 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,889 INFO sqlalchemy.engine.base.Engine (2695,)
2021-02-20 14:31:03,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,894 INFO sqlalchemy.engine.base.Engine (2696,)
2021-02-20 14:31:03,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,896 INFO sqlalchemy.engine.base.Engine (2697,)
2021-02-20 14:31:03,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,900 INFO sqlalchemy.engine.base.Engine (2698,)
2021-02-20 14:31:03,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,902 INFO sqlalchemy.engine.base.Engine (2699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:03,950 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,951 INFO sqlalchemy.engine.base.Engine ((2700, 14.3, 14.3, 14.3, 152895.35400002546, 122593.7011390468), (2701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152895.35400002546, 122593.7011390468), (2702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152895.35400002546, 122593.7011390468), (2703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152895.35400002546, 122593.7011390468), (2704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152895.35400002546, 122593.7011390468), (2705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152895.35400002546, 122593.7011390468), (2706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152895.35400002546, 122593.7011390468), (2707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152895.35400002546, 122593.7011390468)  ... displaying 10 of 50 total bound parameter sets ...  (2748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152895.35400002546, 122593.7011390468), (2749, 135.9, 135.9, 135.9, 152895.35400002546, 122593.7011390468))
2021-02-20 14:31:03,953 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:03,954 INFO sqlalchemy.engine.base.Engine ('F55',)
2021-02-20 14:31:03,956 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:03,957 INFO sqlalchemy.engine.base.Engine ((1350, 'F55', 0, 'Anhydrite', 2700, 2701), (1351, 'F55', 1, 'Sandstone, grey, vf-f', 2702, 2703), (1352, 'F55', 2, 'Anhydrite', 2704, 2705), (1353, 'F55', 3, 'Dolomite', 2706, 2707), (1354, 'F55', 4, 'Anhydrite', 2708, 2709), (1355, 'F55', 5, 'Sandstone, grey, vf-f', 2710, 2711), (1356, 'F55', 6, 'Siltstone, red', 2712, 2713), (1357, 'F55', 7, 'Dolomite', 2714, 2715)  ... displaying 10 of 25 total bound parameter sets ...  (1373, 'F55', 23, 'Limestone', 2746, 2747), (1374, 'F55', 24, 'Volcanic', 2748, 2749))
2021-02-20 14:31:03,960 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:03,965 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:03,966 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:03,967 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:03,969 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:03,970 INFO sqlalchemy.engine.base.Engine ('F55',)
2021-02-20 14:31:03,972 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,973 INFO sqlalchemy.engine.base.Engine (2700,)
2021-02-20 14:31:03,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,975 INFO sqlalchemy.engine.base.Engine (2701,)
2021-02-20 14:31:03,979 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,979 INFO sqlalchemy.engine.base.Engine (2702,)
2021-02-20 14:31:03,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,982 INFO sqlalchemy.engine.base.Engine (2703,)
2021-02-20 14:31:03,984 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,985 INFO sqlalchemy.engine.base.Engine (2704,)
2021-02-20 14:31:03,986 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,987 INFO sqlalchemy.engine.base.Engine (2705,)
2021-02-20 14:31:03,989 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,990 INFO sqlalchemy.engine.base.Engine (2706,)
2021-02-20 14:31:03,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,992 INFO sqlalchemy.engine.base.Engine (2707,)

2021-02-20 14:31:03,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,996 INFO sqlalchemy.engine.base.Engine (2708,)
2021-02-20 14:31:03,998 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:03,998 INFO sqlalchemy.engine.base.Engine (2709,)
2021-02-20 14:31:04,001 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,002 INFO sqlalchemy.engine.base.Engine (2710,)
2021-02-20 14:31:04,003 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,004 INFO sqlalchemy.engine.base.Engine (2711,)
2021-02-20 14:31:04,007 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,008 INFO sqlalchemy.engine.base.Engine (2712,)
2021-02-20 14:31:04,009 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,010 INFO sqlalchemy.engine.base.Engine (2713,)
2021-02-20 14:31:04,013 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,013 INFO sqlalchemy.engine.base.Engine (2714,)
2021-02-20 14:31:04,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,016 INFO sqlalchemy.engine.base.Engine (2715,)
2021-02-20 14:31:04,018 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,019 INFO sqlalchemy.engine.base.Engine (2716,)
2021-02-20 14:31:04,021 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,021 INFO sqlalchemy.engine.base.Engine (2717,)
2021-02-20 14:31:04,024 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,025 INFO sqlalchemy.engine.base.Engine (2718,)
2021-02-20 14:31:04,026 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,027 INFO sqlalchemy.engine.base.Engine (2719,)
2021-02-20 14:31:04,030 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,030 INFO sqlalchemy.engine.base.Engine (2720,)
2021-02-20 14:31:04,032 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,033 INFO sqlalchemy.engine.base.Engine (2721,)
2021-02-20 14:31:04,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,036 INFO sqlalchemy.engine.base.Engine (2722,)
2021-02-20 14:31:04,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,038 INFO sqlalchemy.engine.base.Engine (2723,)
2021-02-20 14:31:04,042 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,043 INFO sqlalchemy.engine.base.Engine (2724,)
2021-02-20 14:31:04,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,045 INFO sqlalchemy.engine.base.Engine (2725,)
2021-02-20 14:31:04,047 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,048 INFO sqlalchemy.engine.base.Engine (2726,)
2021-02-20 14:31:04,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,050 INFO sqlalchemy.engine.base.Engine (2727,)
2021-02-20 14:31:04,054 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,055 INFO sqlalchemy.engine.base.Engine (2728,)
2021-02-20 14:31:04,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,057 INFO sqlalchemy.engine.base.Engine (2729,)
2021-02-20 14:31:04,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,061 INFO sqlalchemy.engine.base.Engine (2730,)
2021-02-20 14:31:04,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,063 INFO sqlalchemy.engine.base.Engine (2731,)
2021-02-20 14:31:04,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,068 INFO sqlalchemy.engine.base.Engine (2732,)
2021-02-20 14:31:04,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,070 INFO sqlalchemy.engine.base.Engine (2733,)
2021-02-20 14:31:04,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,073 INFO sqlalchemy.engine.base.Engine (2734,)
2021-02-20 14:31:04,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,075 INFO sqlalchemy.engine.base.Engine (2735,)
2021-02-20 14:31:04,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,079 INFO sqlalchemy.engine.base.Engine (2736,)
2021-02-20 14:31:04,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,081 INFO sqlalchemy.engine.base.Engine (2737,)
2021-02-20 14:31:04,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,086 INFO sqlalchemy.engine.base.Engine (2738,)
2021-02-20 14:31:04,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,087 INFO sqlalchemy.engine.base.Engine (2739,)
2021-02-20 14:31:04,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,090 INFO sqlalchemy.engine.base.Engine (2740,)
2021-02-20 14:31:04,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,092 INFO sqlalchemy.engine.base.Engine (2741,)
2021-02-20 14:31:04,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,095 INFO sqlalchemy.engine.base.Engine (2742,)
2021-02-20 14:31:04,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,097 INFO sqlalchemy.engine.base.Engine (2743,)
2021-02-20 14:31:04,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,101 INFO sqlalchemy.engine.base.Engine (2744,)
2021-02-20 14:31:04,102 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,103 INFO sqlalchemy.engine.base.Engine (2745,)
2021-02-20 14:31:04,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,105 INFO sqlalchemy.engine.base.Engine (2746,)
2021-02-20 14:31:04,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,107 INFO sqlalchemy.engine.base.Engine (2747,)
2021-02-20 14:31:04,109 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,110 INFO sqlalchemy.engine.base.Engine (2748,)
2021-02-20 14:31:04,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,111 INFO sqlalchemy.engine.base.Engine (2749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:04,163 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,164 INFO sqlalchemy.engine.base.Engine ((2750, 14.3, 14.3, 14.3, 152882.76500002542, 122591.41413904632), (2751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152882.76500002542, 122591.41413904632), (2752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152882.76500002542, 122591.41413904632), (2753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152882.76500002542, 122591.41413904632), (2754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152882.76500002542, 122591.41413904632), (2755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152882.76500002542, 122591.41413904632), (2756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152882.76500002542, 122591.41413904632), (2757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152882.76500002542, 122591.41413904632)  ... displaying 10 of 50 total bound parameter sets ...  (2798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152882.76500002542, 122591.41413904632), (2799, 135.9, 135.9, 135.9, 152882.76500002542, 122591.41413904632))
2021-02-20 14:31:04,166 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:04,166 INFO sqlalchemy.engine.base.Engine ('F56',)
2021-02-20 14:31:04,168 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,169 INFO sqlalchemy.engine.base.Engine ((1375, 'F56', 0, 'Anhydrite', 2750, 2751), (1376, 'F56', 1, 'Sandstone, grey, vf-f', 2752, 2753), (1377, 'F56', 2, 'Anhydrite', 2754, 2755), (1378, 'F56', 3, 'Dolomite', 2756, 2757), (1379, 'F56', 4, 'Anhydrite', 2758, 2759), (1380, 'F56', 5, 'Sandstone, grey, vf-f', 2760, 2761), (1381, 'F56', 6, 'Siltstone, red', 2762, 2763), (1382, 'F56', 7, 'Dolomite', 2764, 2765)  ... displaying 10 of 25 total bound parameter sets ...  (1398, 'F56', 23, 'Limestone', 2796, 2797), (1399, 'F56', 24, 'Volcanic', 2798, 2799))
2021-02-20 14:31:04,170 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:04,176 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:04,177 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:04,178 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:04,180 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:04,181 INFO sqlalchemy.engine.base.Engine ('F56',)
2021-02-20 14:31:04,183 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,184 INFO sqlalchemy.engine.base.Engine (2750,)
2021-02-20 14:31:04,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,187 INFO sqlalchemy.engine.base.Engine (2751,)
2021-02-20 14:31:04,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,190 INFO sqlalchemy.engine.base.Engine (2752,)
2021-02-20 14:31:04,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,192 INFO sqlalchemy.engine.base.Engine (2753,)
2021-02-20 14:31:04,194 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,195 INFO sqlalchemy.engine.base.Engine (2754,)
2021-02-20 14:31:04,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,198 INFO sqlalchemy.engine.base.Engine (2755,)
2021-02-20 14:31:04,200 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,202 INFO sqlalchemy.engine.base.Engine (2756,)
2021-02-20 14:31:04,204 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,204 INFO sqlalchemy.engine.base.Engine (2757,)
2021-02-20 14:31:04,206 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,207 INFO sqlalchemy.engine.base.Engine (2758,)
2021-02-20 14:31:04,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,210 INFO sqlalchemy.engine.base.Engine (2759,)
2021-02-20 14:31:04,213 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,214 INFO sqlalchemy.engine.base.Engine (2760,)
2021-02-20 14:31:04,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,216 INFO sqlalchemy.engine.base.Engine (2761,)
2021-02-20 14:31:04,218 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,219 INFO sqlalchemy.engine.base.Engine (2762,)

2021-02-20 14:31:04,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,221 INFO sqlalchemy.engine.base.Engine (2763,)
2021-02-20 14:31:04,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,224 INFO sqlalchemy.engine.base.Engine (2764,)
2021-02-20 14:31:04,225 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,226 INFO sqlalchemy.engine.base.Engine (2765,)
2021-02-20 14:31:04,228 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,229 INFO sqlalchemy.engine.base.Engine (2766,)
2021-02-20 14:31:04,231 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,231 INFO sqlalchemy.engine.base.Engine (2767,)
2021-02-20 14:31:04,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,235 INFO sqlalchemy.engine.base.Engine (2768,)
2021-02-20 14:31:04,236 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,237 INFO sqlalchemy.engine.base.Engine (2769,)
2021-02-20 14:31:04,239 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,240 INFO sqlalchemy.engine.base.Engine (2770,)
2021-02-20 14:31:04,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,241 INFO sqlalchemy.engine.base.Engine (2771,)
2021-02-20 14:31:04,244 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,245 INFO sqlalchemy.engine.base.Engine (2772,)
2021-02-20 14:31:04,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,247 INFO sqlalchemy.engine.base.Engine (2773,)
2021-02-20 14:31:04,249 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,250 INFO sqlalchemy.engine.base.Engine (2774,)
2021-02-20 14:31:04,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,253 INFO sqlalchemy.engine.base.Engine (2775,)
2021-02-20 14:31:04,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,256 INFO sqlalchemy.engine.base.Engine (2776,)
2021-02-20 14:31:04,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,258 INFO sqlalchemy.engine.base.Engine (2777,)
2021-02-20 14:31:04,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,261 INFO sqlalchemy.engine.base.Engine (2778,)
2021-02-20 14:31:04,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,263 INFO sqlalchemy.engine.base.Engine (2779,)
2021-02-20 14:31:04,266 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,266 INFO sqlalchemy.engine.base.Engine (2780,)
2021-02-20 14:31:04,268 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,270 INFO sqlalchemy.engine.base.Engine (2781,)
2021-02-20 14:31:04,272 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,272 INFO sqlalchemy.engine.base.Engine (2782,)
2021-02-20 14:31:04,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,275 INFO sqlalchemy.engine.base.Engine (2783,)
2021-02-20 14:31:04,278 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,278 INFO sqlalchemy.engine.base.Engine (2784,)
2021-02-20 14:31:04,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,281 INFO sqlalchemy.engine.base.Engine (2785,)
2021-02-20 14:31:04,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,284 INFO sqlalchemy.engine.base.Engine (2786,)
2021-02-20 14:31:04,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,287 INFO sqlalchemy.engine.base.Engine (2787,)
2021-02-20 14:31:04,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,291 INFO sqlalchemy.engine.base.Engine (2788,)
2021-02-20 14:31:04,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,294 INFO sqlalchemy.engine.base.Engine (2789,)
2021-02-20 14:31:04,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,298 INFO sqlalchemy.engine.base.Engine (2790,)
2021-02-20 14:31:04,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,301 INFO sqlalchemy.engine.base.Engine (2791,)
2021-02-20 14:31:04,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,305 INFO sqlalchemy.engine.base.Engine (2792,)
2021-02-20 14:31:04,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,307 INFO sqlalchemy.engine.base.Engine (2793,)
2021-02-20 14:31:04,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,310 INFO sqlalchemy.engine.base.Engine (2794,)
2021-02-20 14:31:04,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,312 INFO sqlalchemy.engine.base.Engine (2795,)
2021-02-20 14:31:04,315 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,316 INFO sqlalchemy.engine.base.Engine (2796,)
2021-02-20 14:31:04,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,318 INFO sqlalchemy.engine.base.Engine (2797,)
2021-02-20 14:31:04,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,322 INFO sqlalchemy.engine.base.Engine (2798,)
2021-02-20 14:31:04,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,324 INFO sqlalchemy.engine.base.Engine (2799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:04,392 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,393 INFO sqlalchemy.engine.base.Engine ((2800, 14.3, 14.3, 14.3, 152888.10200002545, 122583.96013904642), (2801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.10200002545, 122583.96013904642), (2802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.10200002545, 122583.96013904642), (2803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.10200002545, 122583.96013904642), (2804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.10200002545, 122583.96013904642), (2805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.10200002545, 122583.96013904642), (2806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.10200002545, 122583.96013904642), (2807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.10200002545, 122583.96013904642)  ... displaying 10 of 50 total bound parameter sets ...  (2848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.10200002545, 122583.96013904642), (2849, 135.9, 135.9, 135.9, 152888.10200002545, 122583.96013904642))
2021-02-20 14:31:04,395 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:04,396 INFO sqlalchemy.engine.base.Engine ('F57',)
2021-02-20 14:31:04,398 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,400 INFO sqlalchemy.engine.base.Engine ((1400, 'F57', 0, 'Anhydrite', 2800, 2801), (1401, 'F57', 1, 'Sandstone, grey, vf-f', 2802, 2803), (1402, 'F57', 2, 'Anhydrite', 2804, 2805), (1403, 'F57', 3, 'Dolomite', 2806, 2807), (1404, 'F57', 4, 'Anhydrite', 2808, 2809), (1405, 'F57', 5, 'Sandstone, grey, vf-f', 2810, 2811), (1406, 'F57', 6, 'Siltstone, red', 2812, 2813), (1407, 'F57', 7, 'Dolomite', 2814, 2815)  ... displaying 10 of 25 total bound parameter sets ...  (1423, 'F57', 23, 'Limestone', 2846, 2847), (1424, 'F57', 24, 'Volcanic', 2848, 2849))

2021-02-20 14:31:04,401 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:04,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:04,409 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:04,409 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:04,412 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:04,412 INFO sqlalchemy.engine.base.Engine ('F57',)
2021-02-20 14:31:04,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,414 INFO sqlalchemy.engine.base.Engine (2800,)
2021-02-20 14:31:04,416 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,416 INFO sqlalchemy.engine.base.Engine (2801,)
2021-02-20 14:31:04,418 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,419 INFO sqlalchemy.engine.base.Engine (2802,)
2021-02-20 14:31:04,420 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,420 INFO sqlalchemy.engine.base.Engine (2803,)
2021-02-20 14:31:04,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,424 INFO sqlalchemy.engine.base.Engine (2804,)
2021-02-20 14:31:04,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,426 INFO sqlalchemy.engine.base.Engine (2805,)
2021-02-20 14:31:04,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,429 INFO sqlalchemy.engine.base.Engine (2806,)
2021-02-20 14:31:04,430 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,431 INFO sqlalchemy.engine.base.Engine (2807,)
2021-02-20 14:31:04,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,435 INFO sqlalchemy.engine.base.Engine (2808,)
2021-02-20 14:31:04,437 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,438 INFO sqlalchemy.engine.base.Engine (2809,)
2021-02-20 14:31:04,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,441 INFO sqlalchemy.engine.base.Engine (2810,)
2021-02-20 14:31:04,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,444 INFO sqlalchemy.engine.base.Engine (2811,)
2021-02-20 14:31:04,447 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,447 INFO sqlalchemy.engine.base.Engine (2812,)
2021-02-20 14:31:04,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,450 INFO sqlalchemy.engine.base.Engine (2813,)
2021-02-20 14:31:04,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,453 INFO sqlalchemy.engine.base.Engine (2814,)
2021-02-20 14:31:04,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,456 INFO sqlalchemy.engine.base.Engine (2815,)
2021-02-20 14:31:04,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,459 INFO sqlalchemy.engine.base.Engine (2816,)
2021-02-20 14:31:04,461 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,461 INFO sqlalchemy.engine.base.Engine (2817,)
2021-02-20 14:31:04,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,465 INFO sqlalchemy.engine.base.Engine (2818,)
2021-02-20 14:31:04,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,468 INFO sqlalchemy.engine.base.Engine (2819,)
2021-02-20 14:31:04,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,470 INFO sqlalchemy.engine.base.Engine (2820,)
2021-02-20 14:31:04,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,473 INFO sqlalchemy.engine.base.Engine (2821,)
2021-02-20 14:31:04,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,476 INFO sqlalchemy.engine.base.Engine (2822,)
2021-02-20 14:31:04,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,478 INFO sqlalchemy.engine.base.Engine (2823,)
2021-02-20 14:31:04,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,481 INFO sqlalchemy.engine.base.Engine (2824,)
2021-02-20 14:31:04,482 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,483 INFO sqlalchemy.engine.base.Engine (2825,)
2021-02-20 14:31:04,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,487 INFO sqlalchemy.engine.base.Engine (2826,)
2021-02-20 14:31:04,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,489 INFO sqlalchemy.engine.base.Engine (2827,)
2021-02-20 14:31:04,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,493 INFO sqlalchemy.engine.base.Engine (2828,)
2021-02-20 14:31:04,495 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,496 INFO sqlalchemy.engine.base.Engine (2829,)
2021-02-20 14:31:04,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,500 INFO sqlalchemy.engine.base.Engine (2830,)
2021-02-20 14:31:04,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,503 INFO sqlalchemy.engine.base.Engine (2831,)
2021-02-20 14:31:04,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,508 INFO sqlalchemy.engine.base.Engine (2832,)
2021-02-20 14:31:04,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,510 INFO sqlalchemy.engine.base.Engine (2833,)
2021-02-20 14:31:04,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,514 INFO sqlalchemy.engine.base.Engine (2834,)
2021-02-20 14:31:04,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,517 INFO sqlalchemy.engine.base.Engine (2835,)
2021-02-20 14:31:04,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,519 INFO sqlalchemy.engine.base.Engine (2836,)
2021-02-20 14:31:04,520 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,521 INFO sqlalchemy.engine.base.Engine (2837,)
2021-02-20 14:31:04,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,523 INFO sqlalchemy.engine.base.Engine (2838,)
2021-02-20 14:31:04,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,525 INFO sqlalchemy.engine.base.Engine (2839,)
2021-02-20 14:31:04,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,528 INFO sqlalchemy.engine.base.Engine (2840,)
2021-02-20 14:31:04,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,530 INFO sqlalchemy.engine.base.Engine (2841,)
2021-02-20 14:31:04,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,532 INFO sqlalchemy.engine.base.Engine (2842,)
2021-02-20 14:31:04,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,534 INFO sqlalchemy.engine.base.Engine (2843,)
2021-02-20 14:31:04,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,538 INFO sqlalchemy.engine.base.Engine (2844,)
2021-02-20 14:31:04,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,540 INFO sqlalchemy.engine.base.Engine (2845,)
2021-02-20 14:31:04,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,544 INFO sqlalchemy.engine.base.Engine (2846,)
2021-02-20 14:31:04,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,546 INFO sqlalchemy.engine.base.Engine (2847,)
2021-02-20 14:31:04,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,551 INFO sqlalchemy.engine.base.Engine (2848,)
2021-02-20 14:31:04,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,553 INFO sqlalchemy.engine.base.Engine (2849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:04,597 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:04,598 INFO sqlalchemy.engine.base.Engine ('F58',)
2021-02-20 14:31:04,600 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,601 INFO sqlalchemy.engine.base.Engine ((2850, 14.3, 14.3, 14.3, 152891.5540000255, 122584.95313904714), (2851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.5540000255, 122584.95313904714), (2852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.5540000255, 122584.95313904714), (2853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.5540000255, 122584.95313904714), (2854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.5540000255, 122584.95313904714), (2855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.5540000255, 122584.95313904714), (2856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.5540000255, 122584.95313904714), (2857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.5540000255, 122584.95313904714)  ... displaying 10 of 50 total bound parameter sets ...  (2898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.5540000255, 122584.95313904714), (2899, 135.9, 135.9, 135.9, 152891.5540000255, 122584.95313904714))
2021-02-20 14:31:04,603 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,604 INFO sqlalchemy.engine.base.Engine ((1425, 'F58', 0, 'Anhydrite', 2850, 2851), (1426, 'F58', 1, 'Sandstone, grey, vf-f', 2852, 2853), (1427, 'F58', 2, 'Anhydrite', 2854, 2855), (1428, 'F58', 3, 'Dolomite', 2856, 2857), (1429, 'F58', 4, 'Anhydrite', 2858, 2859), (1430, 'F58', 5, 'Sandstone, grey, vf-f', 2860, 2861), (1431, 'F58', 6, 'Siltstone, red', 2862, 2863), (1432, 'F58', 7, 'Dolomite', 2864, 2865)  ... displaying 10 of 25 total bound parameter sets ...  (1448, 'F58', 23, 'Limestone', 2896, 2897), (1449, 'F58', 24, 'Volcanic', 2898, 2899))
2021-02-20 14:31:04,606 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:04,611 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:04,612 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:04,613 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:04,615 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:04,616 INFO sqlalchemy.engine.base.Engine ('F58',)
2021-02-20 14:31:04,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,618 INFO sqlalchemy.engine.base.Engine (2850,)
2021-02-20 14:31:04,620 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,620 INFO sqlalchemy.engine.base.Engine (2851,)
2021-02-20 14:31:04,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,623 INFO sqlalchemy.engine.base.Engine (2852,)

2021-02-20 14:31:04,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,625 INFO sqlalchemy.engine.base.Engine (2853,)
2021-02-20 14:31:04,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,629 INFO sqlalchemy.engine.base.Engine (2854,)
2021-02-20 14:31:04,631 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,631 INFO sqlalchemy.engine.base.Engine (2855,)
2021-02-20 14:31:04,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,636 INFO sqlalchemy.engine.base.Engine (2856,)
2021-02-20 14:31:04,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,638 INFO sqlalchemy.engine.base.Engine (2857,)
2021-02-20 14:31:04,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,640 INFO sqlalchemy.engine.base.Engine (2858,)
2021-02-20 14:31:04,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,642 INFO sqlalchemy.engine.base.Engine (2859,)
2021-02-20 14:31:04,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,646 INFO sqlalchemy.engine.base.Engine (2860,)
2021-02-20 14:31:04,647 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,648 INFO sqlalchemy.engine.base.Engine (2861,)
2021-02-20 14:31:04,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,652 INFO sqlalchemy.engine.base.Engine (2862,)
2021-02-20 14:31:04,654 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,654 INFO sqlalchemy.engine.base.Engine (2863,)
2021-02-20 14:31:04,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,657 INFO sqlalchemy.engine.base.Engine (2864,)
2021-02-20 14:31:04,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,659 INFO sqlalchemy.engine.base.Engine (2865,)
2021-02-20 14:31:04,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,662 INFO sqlalchemy.engine.base.Engine (2866,)
2021-02-20 14:31:04,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,664 INFO sqlalchemy.engine.base.Engine (2867,)
2021-02-20 14:31:04,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,669 INFO sqlalchemy.engine.base.Engine (2868,)
2021-02-20 14:31:04,670 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,671 INFO sqlalchemy.engine.base.Engine (2869,)
2021-02-20 14:31:04,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,674 INFO sqlalchemy.engine.base.Engine (2870,)
2021-02-20 14:31:04,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,677 INFO sqlalchemy.engine.base.Engine (2871,)
2021-02-20 14:31:04,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,681 INFO sqlalchemy.engine.base.Engine (2872,)
2021-02-20 14:31:04,682 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,683 INFO sqlalchemy.engine.base.Engine (2873,)
2021-02-20 14:31:04,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,686 INFO sqlalchemy.engine.base.Engine (2874,)
2021-02-20 14:31:04,687 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,688 INFO sqlalchemy.engine.base.Engine (2875,)
2021-02-20 14:31:04,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,691 INFO sqlalchemy.engine.base.Engine (2876,)
2021-02-20 14:31:04,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,693 INFO sqlalchemy.engine.base.Engine (2877,)
2021-02-20 14:31:04,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,696 INFO sqlalchemy.engine.base.Engine (2878,)
2021-02-20 14:31:04,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,698 INFO sqlalchemy.engine.base.Engine (2879,)
2021-02-20 14:31:04,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,701 INFO sqlalchemy.engine.base.Engine (2880,)
2021-02-20 14:31:04,702 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,703 INFO sqlalchemy.engine.base.Engine (2881,)
2021-02-20 14:31:04,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,706 INFO sqlalchemy.engine.base.Engine (2882,)
2021-02-20 14:31:04,708 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,709 INFO sqlalchemy.engine.base.Engine (2883,)
2021-02-20 14:31:04,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,712 INFO sqlalchemy.engine.base.Engine (2884,)
2021-02-20 14:31:04,713 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,714 INFO sqlalchemy.engine.base.Engine (2885,)
2021-02-20 14:31:04,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,717 INFO sqlalchemy.engine.base.Engine (2886,)
2021-02-20 14:31:04,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,719 INFO sqlalchemy.engine.base.Engine (2887,)
2021-02-20 14:31:04,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,722 INFO sqlalchemy.engine.base.Engine (2888,)
2021-02-20 14:31:04,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,725 INFO sqlalchemy.engine.base.Engine (2889,)
2021-02-20 14:31:04,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,728 INFO sqlalchemy.engine.base.Engine (2890,)
2021-02-20 14:31:04,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,731 INFO sqlalchemy.engine.base.Engine (2891,)
2021-02-20 14:31:04,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,734 INFO sqlalchemy.engine.base.Engine (2892,)
2021-02-20 14:31:04,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,736 INFO sqlalchemy.engine.base.Engine (2893,)
2021-02-20 14:31:04,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,740 INFO sqlalchemy.engine.base.Engine (2894,)
2021-02-20 14:31:04,741 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,741 INFO sqlalchemy.engine.base.Engine (2895,)
2021-02-20 14:31:04,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,745 INFO sqlalchemy.engine.base.Engine (2896,)
2021-02-20 14:31:04,746 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,747 INFO sqlalchemy.engine.base.Engine (2897,)
2021-02-20 14:31:04,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,750 INFO sqlalchemy.engine.base.Engine (2898,)
2021-02-20 14:31:04,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,753 INFO sqlalchemy.engine.base.Engine (2899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:04,798 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,800 INFO sqlalchemy.engine.base.Engine ((2900, 14.3, 14.3, 14.3, 152880.74000002534, 122586.3991390476), (2901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152880.74000002534, 122586.3991390476), (2902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152880.74000002534, 122586.3991390476), (2903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152880.74000002534, 122586.3991390476), (2904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152880.74000002534, 122586.3991390476), (2905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152880.74000002534, 122586.3991390476), (2906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152880.74000002534, 122586.3991390476), (2907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152880.74000002534, 122586.3991390476)  ... displaying 10 of 50 total bound parameter sets ...  (2948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152880.74000002534, 122586.3991390476), (2949, 135.9, 135.9, 135.9, 152880.74000002534, 122586.3991390476))
2021-02-20 14:31:04,801 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:04,803 INFO sqlalchemy.engine.base.Engine ('F59',)
2021-02-20 14:31:04,805 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,806 INFO sqlalchemy.engine.base.Engine ((1450, 'F59', 0, 'Anhydrite', 2900, 2901), (1451, 'F59', 1, 'Sandstone, grey, vf-f', 2902, 2903), (1452, 'F59', 2, 'Anhydrite', 2904, 2905), (1453, 'F59', 3, 'Dolomite', 2906, 2907), (1454, 'F59', 4, 'Anhydrite', 2908, 2909), (1455, 'F59', 5, 'Sandstone, grey, vf-f', 2910, 2911), (1456, 'F59', 6, 'Siltstone, red', 2912, 2913), (1457, 'F59', 7, 'Dolomite', 2914, 2915)  ... displaying 10 of 25 total bound parameter sets ...  (1473, 'F59', 23, 'Limestone', 2946, 2947), (1474, 'F59', 24, 'Volcanic', 2948, 2949))
2021-02-20 14:31:04,809 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:04,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:04,816 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:04,817 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:04,818 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:04,819 INFO sqlalchemy.engine.base.Engine ('F59',)
2021-02-20 14:31:04,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,821 INFO sqlalchemy.engine.base.Engine (2900,)
2021-02-20 14:31:04,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,823 INFO sqlalchemy.engine.base.Engine (2901,)
2021-02-20 14:31:04,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,826 INFO sqlalchemy.engine.base.Engine (2902,)
2021-02-20 14:31:04,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,828 INFO sqlalchemy.engine.base.Engine (2903,)
2021-02-20 14:31:04,831 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,832 INFO sqlalchemy.engine.base.Engine (2904,)
2021-02-20 14:31:04,833 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,834 INFO sqlalchemy.engine.base.Engine (2905,)
2021-02-20 14:31:04,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,837 INFO sqlalchemy.engine.base.Engine (2906,)
2021-02-20 14:31:04,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,839 INFO sqlalchemy.engine.base.Engine (2907,)

2021-02-20 14:31:04,841 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,842 INFO sqlalchemy.engine.base.Engine (2908,)
2021-02-20 14:31:04,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,844 INFO sqlalchemy.engine.base.Engine (2909,)
2021-02-20 14:31:04,847 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,848 INFO sqlalchemy.engine.base.Engine (2910,)
2021-02-20 14:31:04,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,850 INFO sqlalchemy.engine.base.Engine (2911,)
2021-02-20 14:31:04,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,854 INFO sqlalchemy.engine.base.Engine (2912,)
2021-02-20 14:31:04,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,856 INFO sqlalchemy.engine.base.Engine (2913,)
2021-02-20 14:31:04,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,860 INFO sqlalchemy.engine.base.Engine (2914,)
2021-02-20 14:31:04,861 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,862 INFO sqlalchemy.engine.base.Engine (2915,)
2021-02-20 14:31:04,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,865 INFO sqlalchemy.engine.base.Engine (2916,)
2021-02-20 14:31:04,866 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,866 INFO sqlalchemy.engine.base.Engine (2917,)
2021-02-20 14:31:04,869 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,870 INFO sqlalchemy.engine.base.Engine (2918,)
2021-02-20 14:31:04,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,872 INFO sqlalchemy.engine.base.Engine (2919,)
2021-02-20 14:31:04,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,876 INFO sqlalchemy.engine.base.Engine (2920,)
2021-02-20 14:31:04,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,878 INFO sqlalchemy.engine.base.Engine (2921,)
2021-02-20 14:31:04,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,880 INFO sqlalchemy.engine.base.Engine (2922,)
2021-02-20 14:31:04,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,882 INFO sqlalchemy.engine.base.Engine (2923,)
2021-02-20 14:31:04,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,884 INFO sqlalchemy.engine.base.Engine (2924,)
2021-02-20 14:31:04,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,886 INFO sqlalchemy.engine.base.Engine (2925,)
2021-02-20 14:31:04,889 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,890 INFO sqlalchemy.engine.base.Engine (2926,)
2021-02-20 14:31:04,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,892 INFO sqlalchemy.engine.base.Engine (2927,)
2021-02-20 14:31:04,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,895 INFO sqlalchemy.engine.base.Engine (2928,)
2021-02-20 14:31:04,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,896 INFO sqlalchemy.engine.base.Engine (2929,)
2021-02-20 14:31:04,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,899 INFO sqlalchemy.engine.base.Engine (2930,)
2021-02-20 14:31:04,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,901 INFO sqlalchemy.engine.base.Engine (2931,)
2021-02-20 14:31:04,903 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,904 INFO sqlalchemy.engine.base.Engine (2932,)
2021-02-20 14:31:04,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,906 INFO sqlalchemy.engine.base.Engine (2933,)
2021-02-20 14:31:04,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,910 INFO sqlalchemy.engine.base.Engine (2934,)
2021-02-20 14:31:04,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,912 INFO sqlalchemy.engine.base.Engine (2935,)
2021-02-20 14:31:04,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,915 INFO sqlalchemy.engine.base.Engine (2936,)
2021-02-20 14:31:04,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,916 INFO sqlalchemy.engine.base.Engine (2937,)
2021-02-20 14:31:04,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,919 INFO sqlalchemy.engine.base.Engine (2938,)
2021-02-20 14:31:04,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,921 INFO sqlalchemy.engine.base.Engine (2939,)
2021-02-20 14:31:04,924 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,925 INFO sqlalchemy.engine.base.Engine (2940,)
2021-02-20 14:31:04,926 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,927 INFO sqlalchemy.engine.base.Engine (2941,)
2021-02-20 14:31:04,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,929 INFO sqlalchemy.engine.base.Engine (2942,)
2021-02-20 14:31:04,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,930 INFO sqlalchemy.engine.base.Engine (2943,)
2021-02-20 14:31:04,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,933 INFO sqlalchemy.engine.base.Engine (2944,)
2021-02-20 14:31:04,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,935 INFO sqlalchemy.engine.base.Engine (2945,)
2021-02-20 14:31:04,939 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,939 INFO sqlalchemy.engine.base.Engine (2946,)
2021-02-20 14:31:04,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,941 INFO sqlalchemy.engine.base.Engine (2947,)
2021-02-20 14:31:04,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:04,945 INFO sqlalchemy.engine.base.Engine (2948,)
2021-02-20 14:31:04,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:04,947 INFO sqlalchemy.engine.base.Engine (2949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:04,991 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,992 INFO sqlalchemy.engine.base.Engine ((2950, 14.3, 14.3, 14.3, 152893.9330000255, 122594.96413904616), (2951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.9330000255, 122594.96413904616), (2952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.9330000255, 122594.96413904616), (2953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.9330000255, 122594.96413904616), (2954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.9330000255, 122594.96413904616), (2955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.9330000255, 122594.96413904616), (2956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.9330000255, 122594.96413904616), (2957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152893.9330000255, 122594.96413904616)  ... displaying 10 of 50 total bound parameter sets ...  (2998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152893.9330000255, 122594.96413904616), (2999, 135.9, 135.9, 135.9, 152893.9330000255, 122594.96413904616))
2021-02-20 14:31:04,994 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:04,995 INFO sqlalchemy.engine.base.Engine ('F60',)
2021-02-20 14:31:04,998 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:04,998 INFO sqlalchemy.engine.base.Engine ((1475, 'F60', 0, 'Anhydrite', 2950, 2951), (1476, 'F60', 1, 'Sandstone, grey, vf-f', 2952, 2953), (1477, 'F60', 2, 'Anhydrite', 2954, 2955), (1478, 'F60', 3, 'Dolomite', 2956, 2957), (1479, 'F60', 4, 'Anhydrite', 2958, 2959), (1480, 'F60', 5, 'Sandstone, grey, vf-f', 2960, 2961), (1481, 'F60', 6, 'Siltstone, red', 2962, 2963), (1482, 'F60', 7, 'Dolomite', 2964, 2965)  ... displaying 10 of 25 total bound parameter sets ...  (1498, 'F60', 23, 'Limestone', 2996, 2997), (1499, 'F60', 24, 'Volcanic', 2998, 2999))
2021-02-20 14:31:05,001 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:05,007 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:05,009 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:05,010 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:05,013 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:05,013 INFO sqlalchemy.engine.base.Engine ('F60',)
2021-02-20 14:31:05,015 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,015 INFO sqlalchemy.engine.base.Engine (2950,)
2021-02-20 14:31:05,017 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,018 INFO sqlalchemy.engine.base.Engine (2951,)
2021-02-20 14:31:05,020 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,020 INFO sqlalchemy.engine.base.Engine (2952,)
2021-02-20 14:31:05,022 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,022 INFO sqlalchemy.engine.base.Engine (2953,)
2021-02-20 14:31:05,025 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,026 INFO sqlalchemy.engine.base.Engine (2954,)
2021-02-20 14:31:05,028 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,028 INFO sqlalchemy.engine.base.Engine (2955,)
2021-02-20 14:31:05,032 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,032 INFO sqlalchemy.engine.base.Engine (2956,)
2021-02-20 14:31:05,034 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,035 INFO sqlalchemy.engine.base.Engine (2957,)
2021-02-20 14:31:05,037 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,037 INFO sqlalchemy.engine.base.Engine (2958,)
2021-02-20 14:31:05,039 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,039 INFO sqlalchemy.engine.base.Engine (2959,)
2021-02-20 14:31:05,043 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,044 INFO sqlalchemy.engine.base.Engine (2960,)
2021-02-20 14:31:05,046 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,047 INFO sqlalchemy.engine.base.Engine (2961,)
2021-02-20 14:31:05,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,050 INFO sqlalchemy.engine.base.Engine (2962,)

2021-02-20 14:31:05,051 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,052 INFO sqlalchemy.engine.base.Engine (2963,)
2021-02-20 14:31:05,055 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,056 INFO sqlalchemy.engine.base.Engine (2964,)
2021-02-20 14:31:05,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,058 INFO sqlalchemy.engine.base.Engine (2965,)
2021-02-20 14:31:05,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,062 INFO sqlalchemy.engine.base.Engine (2966,)
2021-02-20 14:31:05,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,064 INFO sqlalchemy.engine.base.Engine (2967,)
2021-02-20 14:31:05,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,068 INFO sqlalchemy.engine.base.Engine (2968,)
2021-02-20 14:31:05,069 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,070 INFO sqlalchemy.engine.base.Engine (2969,)
2021-02-20 14:31:05,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,074 INFO sqlalchemy.engine.base.Engine (2970,)
2021-02-20 14:31:05,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,076 INFO sqlalchemy.engine.base.Engine (2971,)
2021-02-20 14:31:05,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,079 INFO sqlalchemy.engine.base.Engine (2972,)
2021-02-20 14:31:05,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,081 INFO sqlalchemy.engine.base.Engine (2973,)
2021-02-20 14:31:05,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,084 INFO sqlalchemy.engine.base.Engine (2974,)
2021-02-20 14:31:05,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,086 INFO sqlalchemy.engine.base.Engine (2975,)
2021-02-20 14:31:05,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,090 INFO sqlalchemy.engine.base.Engine (2976,)
2021-02-20 14:31:05,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,092 INFO sqlalchemy.engine.base.Engine (2977,)
2021-02-20 14:31:05,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,095 INFO sqlalchemy.engine.base.Engine (2978,)
2021-02-20 14:31:05,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,097 INFO sqlalchemy.engine.base.Engine (2979,)
2021-02-20 14:31:05,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,100 INFO sqlalchemy.engine.base.Engine (2980,)
2021-02-20 14:31:05,102 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,102 INFO sqlalchemy.engine.base.Engine (2981,)
2021-02-20 14:31:05,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,107 INFO sqlalchemy.engine.base.Engine (2982,)
2021-02-20 14:31:05,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,109 INFO sqlalchemy.engine.base.Engine (2983,)
2021-02-20 14:31:05,111 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,112 INFO sqlalchemy.engine.base.Engine (2984,)
2021-02-20 14:31:05,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,114 INFO sqlalchemy.engine.base.Engine (2985,)
2021-02-20 14:31:05,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,117 INFO sqlalchemy.engine.base.Engine (2986,)
2021-02-20 14:31:05,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,119 INFO sqlalchemy.engine.base.Engine (2987,)
2021-02-20 14:31:05,121 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,121 INFO sqlalchemy.engine.base.Engine (2988,)
2021-02-20 14:31:05,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,123 INFO sqlalchemy.engine.base.Engine (2989,)
2021-02-20 14:31:05,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,126 INFO sqlalchemy.engine.base.Engine (2990,)
2021-02-20 14:31:05,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,127 INFO sqlalchemy.engine.base.Engine (2991,)
2021-02-20 14:31:05,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,130 INFO sqlalchemy.engine.base.Engine (2992,)
2021-02-20 14:31:05,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,132 INFO sqlalchemy.engine.base.Engine (2993,)
2021-02-20 14:31:05,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,135 INFO sqlalchemy.engine.base.Engine (2994,)
2021-02-20 14:31:05,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,137 INFO sqlalchemy.engine.base.Engine (2995,)
2021-02-20 14:31:05,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,141 INFO sqlalchemy.engine.base.Engine (2996,)
2021-02-20 14:31:05,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,143 INFO sqlalchemy.engine.base.Engine (2997,)
2021-02-20 14:31:05,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,146 INFO sqlalchemy.engine.base.Engine (2998,)
2021-02-20 14:31:05,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,148 INFO sqlalchemy.engine.base.Engine (2999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:05,191 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,192 INFO sqlalchemy.engine.base.Engine ((3000, 14.3, 14.3, 14.3, 152887.10600002544, 122593.01613904722), (3001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.10600002544, 122593.01613904722), (3002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.10600002544, 122593.01613904722), (3003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.10600002544, 122593.01613904722), (3004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.10600002544, 122593.01613904722), (3005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.10600002544, 122593.01613904722), (3006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.10600002544, 122593.01613904722), (3007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152887.10600002544, 122593.01613904722)  ... displaying 10 of 50 total bound parameter sets ...  (3048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152887.10600002544, 122593.01613904722), (3049, 135.9, 135.9, 135.9, 152887.10600002544, 122593.01613904722))
2021-02-20 14:31:05,194 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:05,194 INFO sqlalchemy.engine.base.Engine ('F61',)
2021-02-20 14:31:05,197 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,197 INFO sqlalchemy.engine.base.Engine ((1500, 'F61', 0, 'Anhydrite', 3000, 3001), (1501, 'F61', 1, 'Sandstone, grey, vf-f', 3002, 3003), (1502, 'F61', 2, 'Anhydrite', 3004, 3005), (1503, 'F61', 3, 'Dolomite', 3006, 3007), (1504, 'F61', 4, 'Anhydrite', 3008, 3009), (1505, 'F61', 5, 'Sandstone, grey, vf-f', 3010, 3011), (1506, 'F61', 6, 'Siltstone, red', 3012, 3013), (1507, 'F61', 7, 'Dolomite', 3014, 3015)  ... displaying 10 of 25 total bound parameter sets ...  (1523, 'F61', 23, 'Limestone', 3046, 3047), (1524, 'F61', 24, 'Volcanic', 3048, 3049))

2021-02-20 14:31:05,200 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:05,205 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:05,205 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:05,205 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:05,208 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:05,208 INFO sqlalchemy.engine.base.Engine ('F61',)
2021-02-20 14:31:05,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,212 INFO sqlalchemy.engine.base.Engine (3000,)
2021-02-20 14:31:05,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,214 INFO sqlalchemy.engine.base.Engine (3001,)
2021-02-20 14:31:05,217 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,217 INFO sqlalchemy.engine.base.Engine (3002,)
2021-02-20 14:31:05,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,219 INFO sqlalchemy.engine.base.Engine (3003,)
2021-02-20 14:31:05,221 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,222 INFO sqlalchemy.engine.base.Engine (3004,)
2021-02-20 14:31:05,223 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,223 INFO sqlalchemy.engine.base.Engine (3005,)
2021-02-20 14:31:05,225 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,226 INFO sqlalchemy.engine.base.Engine (3006,)
2021-02-20 14:31:05,227 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,228 INFO sqlalchemy.engine.base.Engine (3007,)
2021-02-20 14:31:05,230 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,231 INFO sqlalchemy.engine.base.Engine (3008,)
2021-02-20 14:31:05,232 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,232 INFO sqlalchemy.engine.base.Engine (3009,)
2021-02-20 14:31:05,234 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,235 INFO sqlalchemy.engine.base.Engine (3010,)
2021-02-20 14:31:05,236 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,236 INFO sqlalchemy.engine.base.Engine (3011,)
2021-02-20 14:31:05,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,239 INFO sqlalchemy.engine.base.Engine (3012,)
2021-02-20 14:31:05,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,240 INFO sqlalchemy.engine.base.Engine (3013,)
2021-02-20 14:31:05,242 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,243 INFO sqlalchemy.engine.base.Engine (3014,)
2021-02-20 14:31:05,244 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,244 INFO sqlalchemy.engine.base.Engine (3015,)
2021-02-20 14:31:05,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,247 INFO sqlalchemy.engine.base.Engine (3016,)
2021-02-20 14:31:05,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,249 INFO sqlalchemy.engine.base.Engine (3017,)
2021-02-20 14:31:05,253 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,253 INFO sqlalchemy.engine.base.Engine (3018,)
2021-02-20 14:31:05,254 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,255 INFO sqlalchemy.engine.base.Engine (3019,)
2021-02-20 14:31:05,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,259 INFO sqlalchemy.engine.base.Engine (3020,)
2021-02-20 14:31:05,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,261 INFO sqlalchemy.engine.base.Engine (3021,)
2021-02-20 14:31:05,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,264 INFO sqlalchemy.engine.base.Engine (3022,)
2021-02-20 14:31:05,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,265 INFO sqlalchemy.engine.base.Engine (3023,)
2021-02-20 14:31:05,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,268 INFO sqlalchemy.engine.base.Engine (3024,)
2021-02-20 14:31:05,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,269 INFO sqlalchemy.engine.base.Engine (3025,)
2021-02-20 14:31:05,272 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,272 INFO sqlalchemy.engine.base.Engine (3026,)
2021-02-20 14:31:05,273 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,274 INFO sqlalchemy.engine.base.Engine (3027,)
2021-02-20 14:31:05,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,278 INFO sqlalchemy.engine.base.Engine (3028,)
2021-02-20 14:31:05,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,280 INFO sqlalchemy.engine.base.Engine (3029,)
2021-02-20 14:31:05,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,284 INFO sqlalchemy.engine.base.Engine (3030,)
2021-02-20 14:31:05,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,286 INFO sqlalchemy.engine.base.Engine (3031,)
2021-02-20 14:31:05,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,289 INFO sqlalchemy.engine.base.Engine (3032,)
2021-02-20 14:31:05,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,291 INFO sqlalchemy.engine.base.Engine (3033,)
2021-02-20 14:31:05,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,295 INFO sqlalchemy.engine.base.Engine (3034,)
2021-02-20 14:31:05,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,297 INFO sqlalchemy.engine.base.Engine (3035,)
2021-02-20 14:31:05,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,301 INFO sqlalchemy.engine.base.Engine (3036,)
2021-02-20 14:31:05,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,303 INFO sqlalchemy.engine.base.Engine (3037,)
2021-02-20 14:31:05,307 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,307 INFO sqlalchemy.engine.base.Engine (3038,)
2021-02-20 14:31:05,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,309 INFO sqlalchemy.engine.base.Engine (3039,)
2021-02-20 14:31:05,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,312 INFO sqlalchemy.engine.base.Engine (3040,)
2021-02-20 14:31:05,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,314 INFO sqlalchemy.engine.base.Engine (3041,)
2021-02-20 14:31:05,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,318 INFO sqlalchemy.engine.base.Engine (3042,)
2021-02-20 14:31:05,319 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,320 INFO sqlalchemy.engine.base.Engine (3043,)
2021-02-20 14:31:05,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,324 INFO sqlalchemy.engine.base.Engine (3044,)
2021-02-20 14:31:05,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,325 INFO sqlalchemy.engine.base.Engine (3045,)
2021-02-20 14:31:05,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,328 INFO sqlalchemy.engine.base.Engine (3046,)
2021-02-20 14:31:05,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,330 INFO sqlalchemy.engine.base.Engine (3047,)
2021-02-20 14:31:05,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,332 INFO sqlalchemy.engine.base.Engine (3048,)
2021-02-20 14:31:05,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,334 INFO sqlalchemy.engine.base.Engine (3049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:05,383 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,384 INFO sqlalchemy.engine.base.Engine ((3050, 14.3, 14.3, 14.3, 152891.63200002545, 122591.38213904668), (3051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.63200002545, 122591.38213904668), (3052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152891.63200002545, 122591.38213904668), (3053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.63200002545, 122591.38213904668), (3054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152891.63200002545, 122591.38213904668), (3055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.63200002545, 122591.38213904668), (3056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152891.63200002545, 122591.38213904668), (3057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152891.63200002545, 122591.38213904668)  ... displaying 10 of 50 total bound parameter sets ...  (3098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152891.63200002545, 122591.38213904668), (3099, 135.9, 135.9, 135.9, 152891.63200002545, 122591.38213904668))
2021-02-20 14:31:05,386 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:05,387 INFO sqlalchemy.engine.base.Engine ('F62',)
2021-02-20 14:31:05,389 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,390 INFO sqlalchemy.engine.base.Engine ((1525, 'F62', 0, 'Anhydrite', 3050, 3051), (1526, 'F62', 1, 'Sandstone, grey, vf-f', 3052, 3053), (1527, 'F62', 2, 'Anhydrite', 3054, 3055), (1528, 'F62', 3, 'Dolomite', 3056, 3057), (1529, 'F62', 4, 'Anhydrite', 3058, 3059), (1530, 'F62', 5, 'Sandstone, grey, vf-f', 3060, 3061), (1531, 'F62', 6, 'Siltstone, red', 3062, 3063), (1532, 'F62', 7, 'Dolomite', 3064, 3065)  ... displaying 10 of 25 total bound parameter sets ...  (1548, 'F62', 23, 'Limestone', 3096, 3097), (1549, 'F62', 24, 'Volcanic', 3098, 3099))
2021-02-20 14:31:05,391 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:05,396 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:05,397 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:05,397 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:05,399 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:05,400 INFO sqlalchemy.engine.base.Engine ('F62',)
2021-02-20 14:31:05,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,404 INFO sqlalchemy.engine.base.Engine (3050,)
2021-02-20 14:31:05,406 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,407 INFO sqlalchemy.engine.base.Engine (3051,)
2021-02-20 14:31:05,410 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,411 INFO sqlalchemy.engine.base.Engine (3052,)

2021-02-20 14:31:05,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,413 INFO sqlalchemy.engine.base.Engine (3053,)
2021-02-20 14:31:05,415 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,416 INFO sqlalchemy.engine.base.Engine (3054,)
2021-02-20 14:31:05,417 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,417 INFO sqlalchemy.engine.base.Engine (3055,)
2021-02-20 14:31:05,419 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,420 INFO sqlalchemy.engine.base.Engine (3056,)
2021-02-20 14:31:05,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,421 INFO sqlalchemy.engine.base.Engine (3057,)
2021-02-20 14:31:05,423 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,424 INFO sqlalchemy.engine.base.Engine (3058,)
2021-02-20 14:31:05,424 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,425 INFO sqlalchemy.engine.base.Engine (3059,)
2021-02-20 14:31:05,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,428 INFO sqlalchemy.engine.base.Engine (3060,)
2021-02-20 14:31:05,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,429 INFO sqlalchemy.engine.base.Engine (3061,)
2021-02-20 14:31:05,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,434 INFO sqlalchemy.engine.base.Engine (3062,)
2021-02-20 14:31:05,435 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,436 INFO sqlalchemy.engine.base.Engine (3063,)
2021-02-20 14:31:05,439 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,440 INFO sqlalchemy.engine.base.Engine (3064,)
2021-02-20 14:31:05,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,441 INFO sqlalchemy.engine.base.Engine (3065,)
2021-02-20 14:31:05,443 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,444 INFO sqlalchemy.engine.base.Engine (3066,)
2021-02-20 14:31:05,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,445 INFO sqlalchemy.engine.base.Engine (3067,)
2021-02-20 14:31:05,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,448 INFO sqlalchemy.engine.base.Engine (3068,)
2021-02-20 14:31:05,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,450 INFO sqlalchemy.engine.base.Engine (3069,)
2021-02-20 14:31:05,454 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,455 INFO sqlalchemy.engine.base.Engine (3070,)
2021-02-20 14:31:05,456 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,457 INFO sqlalchemy.engine.base.Engine (3071,)
2021-02-20 14:31:05,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,461 INFO sqlalchemy.engine.base.Engine (3072,)
2021-02-20 14:31:05,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,464 INFO sqlalchemy.engine.base.Engine (3073,)
2021-02-20 14:31:05,466 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,467 INFO sqlalchemy.engine.base.Engine (3074,)
2021-02-20 14:31:05,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,470 INFO sqlalchemy.engine.base.Engine (3075,)
2021-02-20 14:31:05,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,473 INFO sqlalchemy.engine.base.Engine (3076,)
2021-02-20 14:31:05,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,475 INFO sqlalchemy.engine.base.Engine (3077,)
2021-02-20 14:31:05,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,479 INFO sqlalchemy.engine.base.Engine (3078,)
2021-02-20 14:31:05,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,481 INFO sqlalchemy.engine.base.Engine (3079,)
2021-02-20 14:31:05,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,484 INFO sqlalchemy.engine.base.Engine (3080,)
2021-02-20 14:31:05,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,486 INFO sqlalchemy.engine.base.Engine (3081,)
2021-02-20 14:31:05,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,489 INFO sqlalchemy.engine.base.Engine (3082,)
2021-02-20 14:31:05,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,491 INFO sqlalchemy.engine.base.Engine (3083,)
2021-02-20 14:31:05,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,495 INFO sqlalchemy.engine.base.Engine (3084,)
2021-02-20 14:31:05,497 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,497 INFO sqlalchemy.engine.base.Engine (3085,)
2021-02-20 14:31:05,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,501 INFO sqlalchemy.engine.base.Engine (3086,)
2021-02-20 14:31:05,502 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,503 INFO sqlalchemy.engine.base.Engine (3087,)
2021-02-20 14:31:05,505 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,506 INFO sqlalchemy.engine.base.Engine (3088,)
2021-02-20 14:31:05,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,508 INFO sqlalchemy.engine.base.Engine (3089,)
2021-02-20 14:31:05,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,511 INFO sqlalchemy.engine.base.Engine (3090,)
2021-02-20 14:31:05,512 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,513 INFO sqlalchemy.engine.base.Engine (3091,)
2021-02-20 14:31:05,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,516 INFO sqlalchemy.engine.base.Engine (3092,)
2021-02-20 14:31:05,518 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,518 INFO sqlalchemy.engine.base.Engine (3093,)
2021-02-20 14:31:05,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,522 INFO sqlalchemy.engine.base.Engine (3094,)
2021-02-20 14:31:05,523 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,524 INFO sqlalchemy.engine.base.Engine (3095,)
2021-02-20 14:31:05,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,527 INFO sqlalchemy.engine.base.Engine (3096,)
2021-02-20 14:31:05,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,530 INFO sqlalchemy.engine.base.Engine (3097,)
2021-02-20 14:31:05,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,534 INFO sqlalchemy.engine.base.Engine (3098,)
2021-02-20 14:31:05,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,536 INFO sqlalchemy.engine.base.Engine (3099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:05,582 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:05,583 INFO sqlalchemy.engine.base.Engine ('F63',)
2021-02-20 14:31:05,585 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,586 INFO sqlalchemy.engine.base.Engine ((3100, 14.3, 14.3, 14.3, 152880.26600002535, 122582.55413904414), (3101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152880.26600002535, 122582.55413904414), (3102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152880.26600002535, 122582.55413904414), (3103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152880.26600002535, 122582.55413904414), (3104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152880.26600002535, 122582.55413904414), (3105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152880.26600002535, 122582.55413904414), (3106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152880.26600002535, 122582.55413904414), (3107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152880.26600002535, 122582.55413904414)  ... displaying 10 of 50 total bound parameter sets ...  (3148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152880.26600002535, 122582.55413904414), (3149, 135.9, 135.9, 135.9, 152880.26600002535, 122582.55413904414))
2021-02-20 14:31:05,588 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,589 INFO sqlalchemy.engine.base.Engine ((1550, 'F63', 0, 'Anhydrite', 3100, 3101), (1551, 'F63', 1, 'Sandstone, grey, vf-f', 3102, 3103), (1552, 'F63', 2, 'Anhydrite', 3104, 3105), (1553, 'F63', 3, 'Dolomite', 3106, 3107), (1554, 'F63', 4, 'Anhydrite', 3108, 3109), (1555, 'F63', 5, 'Sandstone, grey, vf-f', 3110, 3111), (1556, 'F63', 6, 'Siltstone, red', 3112, 3113), (1557, 'F63', 7, 'Dolomite', 3114, 3115)  ... displaying 10 of 25 total bound parameter sets ...  (1573, 'F63', 23, 'Limestone', 3146, 3147), (1574, 'F63', 24, 'Volcanic', 3148, 3149))
2021-02-20 14:31:05,591 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:05,596 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:05,597 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:05,598 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:05,601 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:05,602 INFO sqlalchemy.engine.base.Engine ('F63',)
2021-02-20 14:31:05,604 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,604 INFO sqlalchemy.engine.base.Engine (3100,)
2021-02-20 14:31:05,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,607 INFO sqlalchemy.engine.base.Engine (3101,)
2021-02-20 14:31:05,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,610 INFO sqlalchemy.engine.base.Engine (3102,)
2021-02-20 14:31:05,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,612 INFO sqlalchemy.engine.base.Engine (3103,)
2021-02-20 14:31:05,616 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,617 INFO sqlalchemy.engine.base.Engine (3104,)
2021-02-20 14:31:05,618 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,620 INFO sqlalchemy.engine.base.Engine (3105,)
2021-02-20 14:31:05,622 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,623 INFO sqlalchemy.engine.base.Engine (3106,)
2021-02-20 14:31:05,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,624 INFO sqlalchemy.engine.base.Engine (3107,)

2021-02-20 14:31:05,627 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,627 INFO sqlalchemy.engine.base.Engine (3108,)
2021-02-20 14:31:05,628 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,629 INFO sqlalchemy.engine.base.Engine (3109,)
2021-02-20 14:31:05,633 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,634 INFO sqlalchemy.engine.base.Engine (3110,)
2021-02-20 14:31:05,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,636 INFO sqlalchemy.engine.base.Engine (3111,)
2021-02-20 14:31:05,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,639 INFO sqlalchemy.engine.base.Engine (3112,)
2021-02-20 14:31:05,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,641 INFO sqlalchemy.engine.base.Engine (3113,)
2021-02-20 14:31:05,643 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,644 INFO sqlalchemy.engine.base.Engine (3114,)
2021-02-20 14:31:05,645 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,646 INFO sqlalchemy.engine.base.Engine (3115,)
2021-02-20 14:31:05,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,651 INFO sqlalchemy.engine.base.Engine (3116,)
2021-02-20 14:31:05,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,654 INFO sqlalchemy.engine.base.Engine (3117,)
2021-02-20 14:31:05,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,657 INFO sqlalchemy.engine.base.Engine (3118,)
2021-02-20 14:31:05,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,658 INFO sqlalchemy.engine.base.Engine (3119,)
2021-02-20 14:31:05,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,661 INFO sqlalchemy.engine.base.Engine (3120,)
2021-02-20 14:31:05,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,663 INFO sqlalchemy.engine.base.Engine (3121,)
2021-02-20 14:31:05,667 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,668 INFO sqlalchemy.engine.base.Engine (3122,)
2021-02-20 14:31:05,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,670 INFO sqlalchemy.engine.base.Engine (3123,)
2021-02-20 14:31:05,672 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,673 INFO sqlalchemy.engine.base.Engine (3124,)
2021-02-20 14:31:05,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,674 INFO sqlalchemy.engine.base.Engine (3125,)
2021-02-20 14:31:05,676 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,677 INFO sqlalchemy.engine.base.Engine (3126,)
2021-02-20 14:31:05,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,679 INFO sqlalchemy.engine.base.Engine (3127,)
2021-02-20 14:31:05,683 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,683 INFO sqlalchemy.engine.base.Engine (3128,)
2021-02-20 14:31:05,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,686 INFO sqlalchemy.engine.base.Engine (3129,)
2021-02-20 14:31:05,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,690 INFO sqlalchemy.engine.base.Engine (3130,)
2021-02-20 14:31:05,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,692 INFO sqlalchemy.engine.base.Engine (3131,)
2021-02-20 14:31:05,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,697 INFO sqlalchemy.engine.base.Engine (3132,)
2021-02-20 14:31:05,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,698 INFO sqlalchemy.engine.base.Engine (3133,)
2021-02-20 14:31:05,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,702 INFO sqlalchemy.engine.base.Engine (3134,)
2021-02-20 14:31:05,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,704 INFO sqlalchemy.engine.base.Engine (3135,)
2021-02-20 14:31:05,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,708 INFO sqlalchemy.engine.base.Engine (3136,)
2021-02-20 14:31:05,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,710 INFO sqlalchemy.engine.base.Engine (3137,)
2021-02-20 14:31:05,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,715 INFO sqlalchemy.engine.base.Engine (3138,)
2021-02-20 14:31:05,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,717 INFO sqlalchemy.engine.base.Engine (3139,)
2021-02-20 14:31:05,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,720 INFO sqlalchemy.engine.base.Engine (3140,)
2021-02-20 14:31:05,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,722 INFO sqlalchemy.engine.base.Engine (3141,)
2021-02-20 14:31:05,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,726 INFO sqlalchemy.engine.base.Engine (3142,)
2021-02-20 14:31:05,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,729 INFO sqlalchemy.engine.base.Engine (3143,)
2021-02-20 14:31:05,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,734 INFO sqlalchemy.engine.base.Engine (3144,)
2021-02-20 14:31:05,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,737 INFO sqlalchemy.engine.base.Engine (3145,)
2021-02-20 14:31:05,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,741 INFO sqlalchemy.engine.base.Engine (3146,)
2021-02-20 14:31:05,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,743 INFO sqlalchemy.engine.base.Engine (3147,)
2021-02-20 14:31:05,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,746 INFO sqlalchemy.engine.base.Engine (3148,)
2021-02-20 14:31:05,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,748 INFO sqlalchemy.engine.base.Engine (3149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:05,794 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:05,795 INFO sqlalchemy.engine.base.Engine ('F64',)
2021-02-20 14:31:05,797 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,797 INFO sqlalchemy.engine.base.Engine ((3150, 14.3, 14.3, 14.3, 152867.45209745003, 122588.87729745824), (3151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152867.45209745003, 122588.87729745824), (3152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152867.45209745003, 122588.87729745824), (3153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152867.45209745003, 122588.87729745824), (3154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152867.45209745003, 122588.87729745824), (3155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152867.45209745003, 122588.87729745824), (3156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152867.45209745003, 122588.87729745824), (3157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152867.45209745003, 122588.87729745824)  ... displaying 10 of 50 total bound parameter sets ...  (3198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152867.45209745003, 122588.87729745824), (3199, 135.9, 135.9, 135.9, 152867.45209745003, 122588.87729745824))
2021-02-20 14:31:05,800 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:05,800 INFO sqlalchemy.engine.base.Engine ((1575, 'F64', 0, 'Anhydrite', 3150, 3151), (1576, 'F64', 1, 'Sandstone, grey, vf-f', 3152, 3153), (1577, 'F64', 2, 'Anhydrite', 3154, 3155), (1578, 'F64', 3, 'Dolomite', 3156, 3157), (1579, 'F64', 4, 'Anhydrite', 3158, 3159), (1580, 'F64', 5, 'Sandstone, grey, vf-f', 3160, 3161), (1581, 'F64', 6, 'Siltstone, red', 3162, 3163), (1582, 'F64', 7, 'Dolomite', 3164, 3165)  ... displaying 10 of 25 total bound parameter sets ...  (1598, 'F64', 23, 'Limestone', 3196, 3197), (1599, 'F64', 24, 'Volcanic', 3198, 3199))
2021-02-20 14:31:05,802 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:05,807 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:05,809 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:05,810 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:05,812 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:05,813 INFO sqlalchemy.engine.base.Engine ('F64',)
2021-02-20 14:31:05,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,815 INFO sqlalchemy.engine.base.Engine (3150,)
2021-02-20 14:31:05,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,817 INFO sqlalchemy.engine.base.Engine (3151,)
2021-02-20 14:31:05,819 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,820 INFO sqlalchemy.engine.base.Engine (3152,)
2021-02-20 14:31:05,822 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,822 INFO sqlalchemy.engine.base.Engine (3153,)
2021-02-20 14:31:05,826 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,826 INFO sqlalchemy.engine.base.Engine (3154,)
2021-02-20 14:31:05,828 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,829 INFO sqlalchemy.engine.base.Engine (3155,)
2021-02-20 14:31:05,832 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,833 INFO sqlalchemy.engine.base.Engine (3156,)
2021-02-20 14:31:05,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,835 INFO sqlalchemy.engine.base.Engine (3157,)
2021-02-20 14:31:05,838 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,839 INFO sqlalchemy.engine.base.Engine (3158,)
2021-02-20 14:31:05,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,841 INFO sqlalchemy.engine.base.Engine (3159,)
2021-02-20 14:31:05,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,844 INFO sqlalchemy.engine.base.Engine (3160,)
2021-02-20 14:31:05,845 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,846 INFO sqlalchemy.engine.base.Engine (3161,)
2021-02-20 14:31:05,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,850 INFO sqlalchemy.engine.base.Engine (3162,)

2021-02-20 14:31:05,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,852 INFO sqlalchemy.engine.base.Engine (3163,)
2021-02-20 14:31:05,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,857 INFO sqlalchemy.engine.base.Engine (3164,)
2021-02-20 14:31:05,858 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,859 INFO sqlalchemy.engine.base.Engine (3165,)
2021-02-20 14:31:05,863 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,864 INFO sqlalchemy.engine.base.Engine (3166,)
2021-02-20 14:31:05,865 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,866 INFO sqlalchemy.engine.base.Engine (3167,)
2021-02-20 14:31:05,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,869 INFO sqlalchemy.engine.base.Engine (3168,)
2021-02-20 14:31:05,870 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,871 INFO sqlalchemy.engine.base.Engine (3169,)
2021-02-20 14:31:05,874 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,875 INFO sqlalchemy.engine.base.Engine (3170,)
2021-02-20 14:31:05,876 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,877 INFO sqlalchemy.engine.base.Engine (3171,)
2021-02-20 14:31:05,880 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,881 INFO sqlalchemy.engine.base.Engine (3172,)
2021-02-20 14:31:05,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,883 INFO sqlalchemy.engine.base.Engine (3173,)
2021-02-20 14:31:05,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,886 INFO sqlalchemy.engine.base.Engine (3174,)
2021-02-20 14:31:05,887 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,889 INFO sqlalchemy.engine.base.Engine (3175,)
2021-02-20 14:31:05,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,894 INFO sqlalchemy.engine.base.Engine (3176,)
2021-02-20 14:31:05,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,896 INFO sqlalchemy.engine.base.Engine (3177,)
2021-02-20 14:31:05,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,900 INFO sqlalchemy.engine.base.Engine (3178,)
2021-02-20 14:31:05,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,902 INFO sqlalchemy.engine.base.Engine (3179,)
2021-02-20 14:31:05,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,905 INFO sqlalchemy.engine.base.Engine (3180,)
2021-02-20 14:31:05,907 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,907 INFO sqlalchemy.engine.base.Engine (3181,)
2021-02-20 14:31:05,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,912 INFO sqlalchemy.engine.base.Engine (3182,)
2021-02-20 14:31:05,913 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:05,913 INFO sqlalchemy.engine.base.Engine (3183,)
2021-02-20 14:31:05,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,917 INFO sqlalchemy.engine.base.Engine (3184,)
2021-02-20 14:31:05,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,919 INFO sqlalchemy.engine.base.Engine (3185,)
2021-02-20 14:31:05,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,922 INFO sqlalchemy.engine.base.Engine (3186,)
2021-02-20 14:31:05,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,924 INFO sqlalchemy.engine.base.Engine (3187,)
2021-02-20 14:31:05,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,927 INFO sqlalchemy.engine.base.Engine (3188,)
2021-02-20 14:31:05,929 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,930 INFO sqlalchemy.engine.base.Engine (3189,)
2021-02-20 14:31:05,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,933 INFO sqlalchemy.engine.base.Engine (3190,)
2021-02-20 14:31:05,935 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,935 INFO sqlalchemy.engine.base.Engine (3191,)
2021-02-20 14:31:05,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,939 INFO sqlalchemy.engine.base.Engine (3192,)
2021-02-20 14:31:05,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,940 INFO sqlalchemy.engine.base.Engine (3193,)
2021-02-20 14:31:05,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,944 INFO sqlalchemy.engine.base.Engine (3194,)
2021-02-20 14:31:05,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,945 INFO sqlalchemy.engine.base.Engine (3195,)
2021-02-20 14:31:05,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,948 INFO sqlalchemy.engine.base.Engine (3196,)
2021-02-20 14:31:05,950 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,950 INFO sqlalchemy.engine.base.Engine (3197,)
2021-02-20 14:31:05,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,954 INFO sqlalchemy.engine.base.Engine (3198,)
2021-02-20 14:31:05,955 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:05,956 INFO sqlalchemy.engine.base.Engine (3199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:06,010 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,011 INFO sqlalchemy.engine.base.Engine ((3200, 14.3, 14.3, 14.3, 152876.61200002534, 122584.35813904832), (3201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152876.61200002534, 122584.35813904832), (3202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152876.61200002534, 122584.35813904832), (3203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152876.61200002534, 122584.35813904832), (3204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152876.61200002534, 122584.35813904832), (3205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152876.61200002534, 122584.35813904832), (3206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152876.61200002534, 122584.35813904832), (3207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152876.61200002534, 122584.35813904832)  ... displaying 10 of 50 total bound parameter sets ...  (3248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152876.61200002534, 122584.35813904832), (3249, 135.9, 135.9, 135.9, 152876.61200002534, 122584.35813904832))
2021-02-20 14:31:06,013 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:06,014 INFO sqlalchemy.engine.base.Engine ('F65',)
2021-02-20 14:31:06,016 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,017 INFO sqlalchemy.engine.base.Engine ((1600, 'F65', 0, 'Anhydrite', 3200, 3201), (1601, 'F65', 1, 'Sandstone, grey, vf-f', 3202, 3203), (1602, 'F65', 2, 'Anhydrite', 3204, 3205), (1603, 'F65', 3, 'Dolomite', 3206, 3207), (1604, 'F65', 4, 'Anhydrite', 3208, 3209), (1605, 'F65', 5, 'Sandstone, grey, vf-f', 3210, 3211), (1606, 'F65', 6, 'Siltstone, red', 3212, 3213), (1607, 'F65', 7, 'Dolomite', 3214, 3215)  ... displaying 10 of 25 total bound parameter sets ...  (1623, 'F65', 23, 'Limestone', 3246, 3247), (1624, 'F65', 24, 'Volcanic', 3248, 3249))

2021-02-20 14:31:06,019 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:06,024 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:06,025 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:06,025 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:06,028 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:06,029 INFO sqlalchemy.engine.base.Engine ('F65',)
2021-02-20 14:31:06,031 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,032 INFO sqlalchemy.engine.base.Engine (3200,)
2021-02-20 14:31:06,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,034 INFO sqlalchemy.engine.base.Engine (3201,)
2021-02-20 14:31:06,038 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,038 INFO sqlalchemy.engine.base.Engine (3202,)
2021-02-20 14:31:06,040 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,041 INFO sqlalchemy.engine.base.Engine (3203,)
2021-02-20 14:31:06,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,045 INFO sqlalchemy.engine.base.Engine (3204,)
2021-02-20 14:31:06,046 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,047 INFO sqlalchemy.engine.base.Engine (3205,)
2021-02-20 14:31:06,049 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,050 INFO sqlalchemy.engine.base.Engine (3206,)
2021-02-20 14:31:06,052 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,052 INFO sqlalchemy.engine.base.Engine (3207,)
2021-02-20 14:31:06,054 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,055 INFO sqlalchemy.engine.base.Engine (3208,)
2021-02-20 14:31:06,056 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,057 INFO sqlalchemy.engine.base.Engine (3209,)
2021-02-20 14:31:06,060 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,061 INFO sqlalchemy.engine.base.Engine (3210,)
2021-02-20 14:31:06,062 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,063 INFO sqlalchemy.engine.base.Engine (3211,)
2021-02-20 14:31:06,065 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,066 INFO sqlalchemy.engine.base.Engine (3212,)
2021-02-20 14:31:06,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,068 INFO sqlalchemy.engine.base.Engine (3213,)
2021-02-20 14:31:06,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,072 INFO sqlalchemy.engine.base.Engine (3214,)
2021-02-20 14:31:06,073 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,073 INFO sqlalchemy.engine.base.Engine (3215,)
2021-02-20 14:31:06,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,077 INFO sqlalchemy.engine.base.Engine (3216,)
2021-02-20 14:31:06,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,079 INFO sqlalchemy.engine.base.Engine (3217,)
2021-02-20 14:31:06,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,082 INFO sqlalchemy.engine.base.Engine (3218,)
2021-02-20 14:31:06,083 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,085 INFO sqlalchemy.engine.base.Engine (3219,)
2021-02-20 14:31:06,087 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,088 INFO sqlalchemy.engine.base.Engine (3220,)
2021-02-20 14:31:06,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,089 INFO sqlalchemy.engine.base.Engine (3221,)
2021-02-20 14:31:06,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,093 INFO sqlalchemy.engine.base.Engine (3222,)
2021-02-20 14:31:06,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,095 INFO sqlalchemy.engine.base.Engine (3223,)
2021-02-20 14:31:06,098 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,099 INFO sqlalchemy.engine.base.Engine (3224,)
2021-02-20 14:31:06,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,101 INFO sqlalchemy.engine.base.Engine (3225,)
2021-02-20 14:31:06,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,104 INFO sqlalchemy.engine.base.Engine (3226,)
2021-02-20 14:31:06,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,106 INFO sqlalchemy.engine.base.Engine (3227,)
2021-02-20 14:31:06,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,109 INFO sqlalchemy.engine.base.Engine (3228,)
2021-02-20 14:31:06,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,110 INFO sqlalchemy.engine.base.Engine (3229,)
2021-02-20 14:31:06,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,113 INFO sqlalchemy.engine.base.Engine (3230,)
2021-02-20 14:31:06,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,115 INFO sqlalchemy.engine.base.Engine (3231,)
2021-02-20 14:31:06,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,118 INFO sqlalchemy.engine.base.Engine (3232,)
2021-02-20 14:31:06,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,120 INFO sqlalchemy.engine.base.Engine (3233,)
2021-02-20 14:31:06,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,124 INFO sqlalchemy.engine.base.Engine (3234,)
2021-02-20 14:31:06,126 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,127 INFO sqlalchemy.engine.base.Engine (3235,)
2021-02-20 14:31:06,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,130 INFO sqlalchemy.engine.base.Engine (3236,)
2021-02-20 14:31:06,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,132 INFO sqlalchemy.engine.base.Engine (3237,)
2021-02-20 14:31:06,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,135 INFO sqlalchemy.engine.base.Engine (3238,)
2021-02-20 14:31:06,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,137 INFO sqlalchemy.engine.base.Engine (3239,)
2021-02-20 14:31:06,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,141 INFO sqlalchemy.engine.base.Engine (3240,)
2021-02-20 14:31:06,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,143 INFO sqlalchemy.engine.base.Engine (3241,)
2021-02-20 14:31:06,145 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,146 INFO sqlalchemy.engine.base.Engine (3242,)
2021-02-20 14:31:06,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,148 INFO sqlalchemy.engine.base.Engine (3243,)
2021-02-20 14:31:06,150 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,150 INFO sqlalchemy.engine.base.Engine (3244,)
2021-02-20 14:31:06,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,152 INFO sqlalchemy.engine.base.Engine (3245,)
2021-02-20 14:31:06,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,156 INFO sqlalchemy.engine.base.Engine (3246,)
2021-02-20 14:31:06,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,159 INFO sqlalchemy.engine.base.Engine (3247,)
2021-02-20 14:31:06,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,163 INFO sqlalchemy.engine.base.Engine (3248,)
2021-02-20 14:31:06,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,165 INFO sqlalchemy.engine.base.Engine (3249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:06,219 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,219 INFO sqlalchemy.engine.base.Engine ((3250, 14.3, 14.3, 14.3, 152889.81200002544, 122581.22613904811), (3251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.81200002544, 122581.22613904811), (3252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.81200002544, 122581.22613904811), (3253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.81200002544, 122581.22613904811), (3254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.81200002544, 122581.22613904811), (3255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.81200002544, 122581.22613904811), (3256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.81200002544, 122581.22613904811), (3257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152889.81200002544, 122581.22613904811)  ... displaying 10 of 50 total bound parameter sets ...  (3298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152889.81200002544, 122581.22613904811), (3299, 135.9, 135.9, 135.9, 152889.81200002544, 122581.22613904811))
2021-02-20 14:31:06,221 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:06,222 INFO sqlalchemy.engine.base.Engine ('F66',)
2021-02-20 14:31:06,223 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,224 INFO sqlalchemy.engine.base.Engine ((1625, 'F66', 0, 'Anhydrite', 3250, 3251), (1626, 'F66', 1, 'Sandstone, grey, vf-f', 3252, 3253), (1627, 'F66', 2, 'Anhydrite', 3254, 3255), (1628, 'F66', 3, 'Dolomite', 3256, 3257), (1629, 'F66', 4, 'Anhydrite', 3258, 3259), (1630, 'F66', 5, 'Sandstone, grey, vf-f', 3260, 3261), (1631, 'F66', 6, 'Siltstone, red', 3262, 3263), (1632, 'F66', 7, 'Dolomite', 3264, 3265)  ... displaying 10 of 25 total bound parameter sets ...  (1648, 'F66', 23, 'Limestone', 3296, 3297), (1649, 'F66', 24, 'Volcanic', 3298, 3299))
2021-02-20 14:31:06,225 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:06,230 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:06,231 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:06,231 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:06,233 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:06,234 INFO sqlalchemy.engine.base.Engine ('F66',)
2021-02-20 14:31:06,236 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,236 INFO sqlalchemy.engine.base.Engine (3250,)
2021-02-20 14:31:06,238 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,238 INFO sqlalchemy.engine.base.Engine (3251,)
2021-02-20 14:31:06,241 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,242 INFO sqlalchemy.engine.base.Engine (3252,)

2021-02-20 14:31:06,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,244 INFO sqlalchemy.engine.base.Engine (3253,)
2021-02-20 14:31:06,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,246 INFO sqlalchemy.engine.base.Engine (3254,)
2021-02-20 14:31:06,248 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,248 INFO sqlalchemy.engine.base.Engine (3255,)
2021-02-20 14:31:06,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,251 INFO sqlalchemy.engine.base.Engine (3256,)
2021-02-20 14:31:06,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,253 INFO sqlalchemy.engine.base.Engine (3257,)
2021-02-20 14:31:06,255 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,255 INFO sqlalchemy.engine.base.Engine (3258,)
2021-02-20 14:31:06,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,257 INFO sqlalchemy.engine.base.Engine (3259,)
2021-02-20 14:31:06,260 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,261 INFO sqlalchemy.engine.base.Engine (3260,)
2021-02-20 14:31:06,262 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,263 INFO sqlalchemy.engine.base.Engine (3261,)
2021-02-20 14:31:06,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,266 INFO sqlalchemy.engine.base.Engine (3262,)
2021-02-20 14:31:06,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,267 INFO sqlalchemy.engine.base.Engine (3263,)
2021-02-20 14:31:06,269 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,270 INFO sqlalchemy.engine.base.Engine (3264,)
2021-02-20 14:31:06,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,272 INFO sqlalchemy.engine.base.Engine (3265,)
2021-02-20 14:31:06,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,278 INFO sqlalchemy.engine.base.Engine (3266,)
2021-02-20 14:31:06,279 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,280 INFO sqlalchemy.engine.base.Engine (3267,)
2021-02-20 14:31:06,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,283 INFO sqlalchemy.engine.base.Engine (3268,)
2021-02-20 14:31:06,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,285 INFO sqlalchemy.engine.base.Engine (3269,)
2021-02-20 14:31:06,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,288 INFO sqlalchemy.engine.base.Engine (3270,)
2021-02-20 14:31:06,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,289 INFO sqlalchemy.engine.base.Engine (3271,)
2021-02-20 14:31:06,291 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,292 INFO sqlalchemy.engine.base.Engine (3272,)
2021-02-20 14:31:06,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,294 INFO sqlalchemy.engine.base.Engine (3273,)
2021-02-20 14:31:06,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,296 INFO sqlalchemy.engine.base.Engine (3274,)
2021-02-20 14:31:06,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,298 INFO sqlalchemy.engine.base.Engine (3275,)
2021-02-20 14:31:06,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,300 INFO sqlalchemy.engine.base.Engine (3276,)
2021-02-20 14:31:06,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,302 INFO sqlalchemy.engine.base.Engine (3277,)
2021-02-20 14:31:06,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,305 INFO sqlalchemy.engine.base.Engine (3278,)
2021-02-20 14:31:06,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,306 INFO sqlalchemy.engine.base.Engine (3279,)
2021-02-20 14:31:06,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,310 INFO sqlalchemy.engine.base.Engine (3280,)
2021-02-20 14:31:06,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,312 INFO sqlalchemy.engine.base.Engine (3281,)
2021-02-20 14:31:06,315 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,316 INFO sqlalchemy.engine.base.Engine (3282,)
2021-02-20 14:31:06,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,317 INFO sqlalchemy.engine.base.Engine (3283,)
2021-02-20 14:31:06,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,320 INFO sqlalchemy.engine.base.Engine (3284,)
2021-02-20 14:31:06,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,322 INFO sqlalchemy.engine.base.Engine (3285,)
2021-02-20 14:31:06,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,326 INFO sqlalchemy.engine.base.Engine (3286,)
2021-02-20 14:31:06,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,328 INFO sqlalchemy.engine.base.Engine (3287,)
2021-02-20 14:31:06,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,331 INFO sqlalchemy.engine.base.Engine (3288,)
2021-02-20 14:31:06,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,332 INFO sqlalchemy.engine.base.Engine (3289,)
2021-02-20 14:31:06,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,335 INFO sqlalchemy.engine.base.Engine (3290,)
2021-02-20 14:31:06,336 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,337 INFO sqlalchemy.engine.base.Engine (3291,)
2021-02-20 14:31:06,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,340 INFO sqlalchemy.engine.base.Engine (3292,)
2021-02-20 14:31:06,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,342 INFO sqlalchemy.engine.base.Engine (3293,)
2021-02-20 14:31:06,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,347 INFO sqlalchemy.engine.base.Engine (3294,)
2021-02-20 14:31:06,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,349 INFO sqlalchemy.engine.base.Engine (3295,)
2021-02-20 14:31:06,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,352 INFO sqlalchemy.engine.base.Engine (3296,)
2021-02-20 14:31:06,354 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,355 INFO sqlalchemy.engine.base.Engine (3297,)
2021-02-20 14:31:06,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,358 INFO sqlalchemy.engine.base.Engine (3298,)
2021-02-20 14:31:06,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,360 INFO sqlalchemy.engine.base.Engine (3299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:06,404 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,405 INFO sqlalchemy.engine.base.Engine ((3300, 14.3, 14.3, 14.3, 152887.3020000254, 122579.5511390455), (3301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.3020000254, 122579.5511390455), (3302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.3020000254, 122579.5511390455), (3303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.3020000254, 122579.5511390455), (3304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.3020000254, 122579.5511390455), (3305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.3020000254, 122579.5511390455), (3306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.3020000254, 122579.5511390455), (3307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152887.3020000254, 122579.5511390455)  ... displaying 10 of 50 total bound parameter sets ...  (3348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152887.3020000254, 122579.5511390455), (3349, 135.9, 135.9, 135.9, 152887.3020000254, 122579.5511390455))
2021-02-20 14:31:06,407 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:06,408 INFO sqlalchemy.engine.base.Engine ('F67',)
2021-02-20 14:31:06,410 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,411 INFO sqlalchemy.engine.base.Engine ((1650, 'F67', 0, 'Anhydrite', 3300, 3301), (1651, 'F67', 1, 'Sandstone, grey, vf-f', 3302, 3303), (1652, 'F67', 2, 'Anhydrite', 3304, 3305), (1653, 'F67', 3, 'Dolomite', 3306, 3307), (1654, 'F67', 4, 'Anhydrite', 3308, 3309), (1655, 'F67', 5, 'Sandstone, grey, vf-f', 3310, 3311), (1656, 'F67', 6, 'Siltstone, red', 3312, 3313), (1657, 'F67', 7, 'Dolomite', 3314, 3315)  ... displaying 10 of 25 total bound parameter sets ...  (1673, 'F67', 23, 'Limestone', 3346, 3347), (1674, 'F67', 24, 'Volcanic', 3348, 3349))
2021-02-20 14:31:06,413 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:06,418 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:06,419 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:06,419 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:06,422 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:06,422 INFO sqlalchemy.engine.base.Engine ('F67',)
2021-02-20 14:31:06,425 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,426 INFO sqlalchemy.engine.base.Engine (3300,)
2021-02-20 14:31:06,428 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,429 INFO sqlalchemy.engine.base.Engine (3301,)
2021-02-20 14:31:06,434 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,435 INFO sqlalchemy.engine.base.Engine (3302,)
2021-02-20 14:31:06,436 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,437 INFO sqlalchemy.engine.base.Engine (3303,)
2021-02-20 14:31:06,440 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,440 INFO sqlalchemy.engine.base.Engine (3304,)
2021-02-20 14:31:06,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,442 INFO sqlalchemy.engine.base.Engine (3305,)
2021-02-20 14:31:06,445 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,445 INFO sqlalchemy.engine.base.Engine (3306,)
2021-02-20 14:31:06,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,447 INFO sqlalchemy.engine.base.Engine (3307,)

2021-02-20 14:31:06,449 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,450 INFO sqlalchemy.engine.base.Engine (3308,)
2021-02-20 14:31:06,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,452 INFO sqlalchemy.engine.base.Engine (3309,)
2021-02-20 14:31:06,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,456 INFO sqlalchemy.engine.base.Engine (3310,)
2021-02-20 14:31:06,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,458 INFO sqlalchemy.engine.base.Engine (3311,)
2021-02-20 14:31:06,461 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,462 INFO sqlalchemy.engine.base.Engine (3312,)
2021-02-20 14:31:06,463 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,464 INFO sqlalchemy.engine.base.Engine (3313,)
2021-02-20 14:31:06,467 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,468 INFO sqlalchemy.engine.base.Engine (3314,)
2021-02-20 14:31:06,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,470 INFO sqlalchemy.engine.base.Engine (3315,)
2021-02-20 14:31:06,472 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,473 INFO sqlalchemy.engine.base.Engine (3316,)
2021-02-20 14:31:06,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,475 INFO sqlalchemy.engine.base.Engine (3317,)
2021-02-20 14:31:06,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,479 INFO sqlalchemy.engine.base.Engine (3318,)
2021-02-20 14:31:06,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,482 INFO sqlalchemy.engine.base.Engine (3319,)
2021-02-20 14:31:06,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,486 INFO sqlalchemy.engine.base.Engine (3320,)
2021-02-20 14:31:06,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,488 INFO sqlalchemy.engine.base.Engine (3321,)
2021-02-20 14:31:06,490 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,491 INFO sqlalchemy.engine.base.Engine (3322,)
2021-02-20 14:31:06,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,493 INFO sqlalchemy.engine.base.Engine (3323,)
2021-02-20 14:31:06,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,496 INFO sqlalchemy.engine.base.Engine (3324,)
2021-02-20 14:31:06,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,498 INFO sqlalchemy.engine.base.Engine (3325,)
2021-02-20 14:31:06,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,502 INFO sqlalchemy.engine.base.Engine (3326,)
2021-02-20 14:31:06,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,504 INFO sqlalchemy.engine.base.Engine (3327,)
2021-02-20 14:31:06,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,507 INFO sqlalchemy.engine.base.Engine (3328,)
2021-02-20 14:31:06,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,509 INFO sqlalchemy.engine.base.Engine (3329,)
2021-02-20 14:31:06,511 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,512 INFO sqlalchemy.engine.base.Engine (3330,)
2021-02-20 14:31:06,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,514 INFO sqlalchemy.engine.base.Engine (3331,)
2021-02-20 14:31:06,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,518 INFO sqlalchemy.engine.base.Engine (3332,)
2021-02-20 14:31:06,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,520 INFO sqlalchemy.engine.base.Engine (3333,)
2021-02-20 14:31:06,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,523 INFO sqlalchemy.engine.base.Engine (3334,)
2021-02-20 14:31:06,524 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,525 INFO sqlalchemy.engine.base.Engine (3335,)
2021-02-20 14:31:06,528 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,528 INFO sqlalchemy.engine.base.Engine (3336,)
2021-02-20 14:31:06,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,530 INFO sqlalchemy.engine.base.Engine (3337,)
2021-02-20 14:31:06,533 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,534 INFO sqlalchemy.engine.base.Engine (3338,)
2021-02-20 14:31:06,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,536 INFO sqlalchemy.engine.base.Engine (3339,)
2021-02-20 14:31:06,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,540 INFO sqlalchemy.engine.base.Engine (3340,)
2021-02-20 14:31:06,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,543 INFO sqlalchemy.engine.base.Engine (3341,)
2021-02-20 14:31:06,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,547 INFO sqlalchemy.engine.base.Engine (3342,)
2021-02-20 14:31:06,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,549 INFO sqlalchemy.engine.base.Engine (3343,)
2021-02-20 14:31:06,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,554 INFO sqlalchemy.engine.base.Engine (3344,)
2021-02-20 14:31:06,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,556 INFO sqlalchemy.engine.base.Engine (3345,)
2021-02-20 14:31:06,558 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,558 INFO sqlalchemy.engine.base.Engine (3346,)
2021-02-20 14:31:06,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,560 INFO sqlalchemy.engine.base.Engine (3347,)
2021-02-20 14:31:06,562 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,563 INFO sqlalchemy.engine.base.Engine (3348,)
2021-02-20 14:31:06,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,564 INFO sqlalchemy.engine.base.Engine (3349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:06,609 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,609 INFO sqlalchemy.engine.base.Engine ((3350, 14.3, 14.3, 14.3, 152884.5820000254, 122580.77813904732), (3351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.5820000254, 122580.77813904732), (3352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.5820000254, 122580.77813904732), (3353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.5820000254, 122580.77813904732), (3354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.5820000254, 122580.77813904732), (3355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.5820000254, 122580.77813904732), (3356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.5820000254, 122580.77813904732), (3357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152884.5820000254, 122580.77813904732)  ... displaying 10 of 50 total bound parameter sets ...  (3398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152884.5820000254, 122580.77813904732), (3399, 135.9, 135.9, 135.9, 152884.5820000254, 122580.77813904732))
2021-02-20 14:31:06,611 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:06,612 INFO sqlalchemy.engine.base.Engine ('F68',)
2021-02-20 14:31:06,614 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,615 INFO sqlalchemy.engine.base.Engine ((1675, 'F68', 0, 'Anhydrite', 3350, 3351), (1676, 'F68', 1, 'Sandstone, grey, vf-f', 3352, 3353), (1677, 'F68', 2, 'Anhydrite', 3354, 3355), (1678, 'F68', 3, 'Dolomite', 3356, 3357), (1679, 'F68', 4, 'Anhydrite', 3358, 3359), (1680, 'F68', 5, 'Sandstone, grey, vf-f', 3360, 3361), (1681, 'F68', 6, 'Siltstone, red', 3362, 3363), (1682, 'F68', 7, 'Dolomite', 3364, 3365)  ... displaying 10 of 25 total bound parameter sets ...  (1698, 'F68', 23, 'Limestone', 3396, 3397), (1699, 'F68', 24, 'Volcanic', 3398, 3399))
2021-02-20 14:31:06,617 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:06,622 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:06,623 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:06,624 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:06,626 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:06,627 INFO sqlalchemy.engine.base.Engine ('F68',)
2021-02-20 14:31:06,629 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,629 INFO sqlalchemy.engine.base.Engine (3350,)
2021-02-20 14:31:06,631 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,631 INFO sqlalchemy.engine.base.Engine (3351,)
2021-02-20 14:31:06,634 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,634 INFO sqlalchemy.engine.base.Engine (3352,)
2021-02-20 14:31:06,636 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,636 INFO sqlalchemy.engine.base.Engine (3353,)
2021-02-20 14:31:06,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,639 INFO sqlalchemy.engine.base.Engine (3354,)
2021-02-20 14:31:06,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,641 INFO sqlalchemy.engine.base.Engine (3355,)
2021-02-20 14:31:06,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,645 INFO sqlalchemy.engine.base.Engine (3356,)
2021-02-20 14:31:06,646 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,647 INFO sqlalchemy.engine.base.Engine (3357,)
2021-02-20 14:31:06,650 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,650 INFO sqlalchemy.engine.base.Engine (3358,)
2021-02-20 14:31:06,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,653 INFO sqlalchemy.engine.base.Engine (3359,)
2021-02-20 14:31:06,656 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,657 INFO sqlalchemy.engine.base.Engine (3360,)
2021-02-20 14:31:06,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,660 INFO sqlalchemy.engine.base.Engine (3361,)
2021-02-20 14:31:06,662 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,663 INFO sqlalchemy.engine.base.Engine (3362,)

2021-02-20 14:31:06,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,665 INFO sqlalchemy.engine.base.Engine (3363,)
2021-02-20 14:31:06,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,668 INFO sqlalchemy.engine.base.Engine (3364,)
2021-02-20 14:31:06,669 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,670 INFO sqlalchemy.engine.base.Engine (3365,)
2021-02-20 14:31:06,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,673 INFO sqlalchemy.engine.base.Engine (3366,)
2021-02-20 14:31:06,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,675 INFO sqlalchemy.engine.base.Engine (3367,)
2021-02-20 14:31:06,677 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,678 INFO sqlalchemy.engine.base.Engine (3368,)
2021-02-20 14:31:06,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,680 INFO sqlalchemy.engine.base.Engine (3369,)
2021-02-20 14:31:06,683 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,684 INFO sqlalchemy.engine.base.Engine (3370,)
2021-02-20 14:31:06,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,686 INFO sqlalchemy.engine.base.Engine (3371,)
2021-02-20 14:31:06,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,690 INFO sqlalchemy.engine.base.Engine (3372,)
2021-02-20 14:31:06,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,692 INFO sqlalchemy.engine.base.Engine (3373,)
2021-02-20 14:31:06,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,696 INFO sqlalchemy.engine.base.Engine (3374,)
2021-02-20 14:31:06,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,697 INFO sqlalchemy.engine.base.Engine (3375,)
2021-02-20 14:31:06,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,701 INFO sqlalchemy.engine.base.Engine (3376,)
2021-02-20 14:31:06,702 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,703 INFO sqlalchemy.engine.base.Engine (3377,)
2021-02-20 14:31:06,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,706 INFO sqlalchemy.engine.base.Engine (3378,)
2021-02-20 14:31:06,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,707 INFO sqlalchemy.engine.base.Engine (3379,)
2021-02-20 14:31:06,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,710 INFO sqlalchemy.engine.base.Engine (3380,)
2021-02-20 14:31:06,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,712 INFO sqlalchemy.engine.base.Engine (3381,)
2021-02-20 14:31:06,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,714 INFO sqlalchemy.engine.base.Engine (3382,)
2021-02-20 14:31:06,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,716 INFO sqlalchemy.engine.base.Engine (3383,)
2021-02-20 14:31:06,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,718 INFO sqlalchemy.engine.base.Engine (3384,)
2021-02-20 14:31:06,719 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,720 INFO sqlalchemy.engine.base.Engine (3385,)
2021-02-20 14:31:06,722 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,723 INFO sqlalchemy.engine.base.Engine (3386,)
2021-02-20 14:31:06,724 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,725 INFO sqlalchemy.engine.base.Engine (3387,)
2021-02-20 14:31:06,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,729 INFO sqlalchemy.engine.base.Engine (3388,)
2021-02-20 14:31:06,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,732 INFO sqlalchemy.engine.base.Engine (3389,)
2021-02-20 14:31:06,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,735 INFO sqlalchemy.engine.base.Engine (3390,)
2021-02-20 14:31:06,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,738 INFO sqlalchemy.engine.base.Engine (3391,)
2021-02-20 14:31:06,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,743 INFO sqlalchemy.engine.base.Engine (3392,)
2021-02-20 14:31:06,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,745 INFO sqlalchemy.engine.base.Engine (3393,)
2021-02-20 14:31:06,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,750 INFO sqlalchemy.engine.base.Engine (3394,)
2021-02-20 14:31:06,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,752 INFO sqlalchemy.engine.base.Engine (3395,)
2021-02-20 14:31:06,755 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,756 INFO sqlalchemy.engine.base.Engine (3396,)
2021-02-20 14:31:06,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,759 INFO sqlalchemy.engine.base.Engine (3397,)
2021-02-20 14:31:06,761 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,762 INFO sqlalchemy.engine.base.Engine (3398,)
2021-02-20 14:31:06,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,764 INFO sqlalchemy.engine.base.Engine (3399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:06,806 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,807 INFO sqlalchemy.engine.base.Engine ((3400, 14.3, 14.3, 14.3, 152884.69700002536, 122577.76113904732), (3401, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.69700002536, 122577.76113904732), (3402, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.69700002536, 122577.76113904732), (3403, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.69700002536, 122577.76113904732), (3404, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.69700002536, 122577.76113904732), (3405, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.69700002536, 122577.76113904732), (3406, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.69700002536, 122577.76113904732), (3407, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152884.69700002536, 122577.76113904732)  ... displaying 10 of 50 total bound parameter sets ...  (3448, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152884.69700002536, 122577.76113904732), (3449, 135.9, 135.9, 135.9, 152884.69700002536, 122577.76113904732))
2021-02-20 14:31:06,809 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:06,809 INFO sqlalchemy.engine.base.Engine ('F69',)
2021-02-20 14:31:06,811 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:06,812 INFO sqlalchemy.engine.base.Engine ((1700, 'F69', 0, 'Anhydrite', 3400, 3401), (1701, 'F69', 1, 'Sandstone, grey, vf-f', 3402, 3403), (1702, 'F69', 2, 'Anhydrite', 3404, 3405), (1703, 'F69', 3, 'Dolomite', 3406, 3407), (1704, 'F69', 4, 'Anhydrite', 3408, 3409), (1705, 'F69', 5, 'Sandstone, grey, vf-f', 3410, 3411), (1706, 'F69', 6, 'Siltstone, red', 3412, 3413), (1707, 'F69', 7, 'Dolomite', 3414, 3415)  ... displaying 10 of 25 total bound parameter sets ...  (1723, 'F69', 23, 'Limestone', 3446, 3447), (1724, 'F69', 24, 'Volcanic', 3448, 3449))

2021-02-20 14:31:06,814 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:06,820 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:06,821 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:06,821 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:06,824 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:06,825 INFO sqlalchemy.engine.base.Engine ('F69',)
2021-02-20 14:31:06,827 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,828 INFO sqlalchemy.engine.base.Engine (3400,)
2021-02-20 14:31:06,830 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,831 INFO sqlalchemy.engine.base.Engine (3401,)
2021-02-20 14:31:06,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,835 INFO sqlalchemy.engine.base.Engine (3402,)
2021-02-20 14:31:06,836 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,837 INFO sqlalchemy.engine.base.Engine (3403,)
2021-02-20 14:31:06,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,841 INFO sqlalchemy.engine.base.Engine (3404,)
2021-02-20 14:31:06,843 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,844 INFO sqlalchemy.engine.base.Engine (3405,)
2021-02-20 14:31:06,846 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,846 INFO sqlalchemy.engine.base.Engine (3406,)
2021-02-20 14:31:06,848 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,848 INFO sqlalchemy.engine.base.Engine (3407,)
2021-02-20 14:31:06,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,851 INFO sqlalchemy.engine.base.Engine (3408,)
2021-02-20 14:31:06,852 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,853 INFO sqlalchemy.engine.base.Engine (3409,)
2021-02-20 14:31:06,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,858 INFO sqlalchemy.engine.base.Engine (3410,)
2021-02-20 14:31:06,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,860 INFO sqlalchemy.engine.base.Engine (3411,)
2021-02-20 14:31:06,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,862 INFO sqlalchemy.engine.base.Engine (3412,)
2021-02-20 14:31:06,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,864 INFO sqlalchemy.engine.base.Engine (3413,)
2021-02-20 14:31:06,867 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,867 INFO sqlalchemy.engine.base.Engine (3414,)
2021-02-20 14:31:06,869 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,870 INFO sqlalchemy.engine.base.Engine (3415,)
2021-02-20 14:31:06,873 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,874 INFO sqlalchemy.engine.base.Engine (3416,)
2021-02-20 14:31:06,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,875 INFO sqlalchemy.engine.base.Engine (3417,)
2021-02-20 14:31:06,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,877 INFO sqlalchemy.engine.base.Engine (3418,)
2021-02-20 14:31:06,878 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,879 INFO sqlalchemy.engine.base.Engine (3419,)
2021-02-20 14:31:06,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,882 INFO sqlalchemy.engine.base.Engine (3420,)
2021-02-20 14:31:06,883 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,884 INFO sqlalchemy.engine.base.Engine (3421,)
2021-02-20 14:31:06,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,887 INFO sqlalchemy.engine.base.Engine (3422,)
2021-02-20 14:31:06,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,890 INFO sqlalchemy.engine.base.Engine (3423,)
2021-02-20 14:31:06,892 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,892 INFO sqlalchemy.engine.base.Engine (3424,)
2021-02-20 14:31:06,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,894 INFO sqlalchemy.engine.base.Engine (3425,)
2021-02-20 14:31:06,898 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,899 INFO sqlalchemy.engine.base.Engine (3426,)
2021-02-20 14:31:06,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,901 INFO sqlalchemy.engine.base.Engine (3427,)
2021-02-20 14:31:06,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,907 INFO sqlalchemy.engine.base.Engine (3428,)
2021-02-20 14:31:06,909 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,910 INFO sqlalchemy.engine.base.Engine (3429,)
2021-02-20 14:31:06,913 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,914 INFO sqlalchemy.engine.base.Engine (3430,)
2021-02-20 14:31:06,915 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,916 INFO sqlalchemy.engine.base.Engine (3431,)
2021-02-20 14:31:06,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,919 INFO sqlalchemy.engine.base.Engine (3432,)
2021-02-20 14:31:06,921 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,922 INFO sqlalchemy.engine.base.Engine (3433,)
2021-02-20 14:31:06,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,926 INFO sqlalchemy.engine.base.Engine (3434,)
2021-02-20 14:31:06,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,928 INFO sqlalchemy.engine.base.Engine (3435,)
2021-02-20 14:31:06,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,931 INFO sqlalchemy.engine.base.Engine (3436,)
2021-02-20 14:31:06,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,933 INFO sqlalchemy.engine.base.Engine (3437,)
2021-02-20 14:31:06,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,936 INFO sqlalchemy.engine.base.Engine (3438,)
2021-02-20 14:31:06,937 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:06,938 INFO sqlalchemy.engine.base.Engine (3439,)
2021-02-20 14:31:06,941 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,942 INFO sqlalchemy.engine.base.Engine (3440,)
2021-02-20 14:31:06,943 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,944 INFO sqlalchemy.engine.base.Engine (3441,)
2021-02-20 14:31:06,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,947 INFO sqlalchemy.engine.base.Engine (3442,)
2021-02-20 14:31:06,948 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,950 INFO sqlalchemy.engine.base.Engine (3443,)
2021-02-20 14:31:06,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,953 INFO sqlalchemy.engine.base.Engine (3444,)
2021-02-20 14:31:06,954 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,955 INFO sqlalchemy.engine.base.Engine (3445,)
2021-02-20 14:31:06,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,959 INFO sqlalchemy.engine.base.Engine (3446,)
2021-02-20 14:31:06,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,961 INFO sqlalchemy.engine.base.Engine (3447,)
2021-02-20 14:31:06,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,964 INFO sqlalchemy.engine.base.Engine (3448,)
2021-02-20 14:31:06,966 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:06,966 INFO sqlalchemy.engine.base.Engine (3449,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:07,009 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:07,010 INFO sqlalchemy.engine.base.Engine ('F70',)
2021-02-20 14:31:07,013 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,014 INFO sqlalchemy.engine.base.Engine ((3450, 14.3, 14.3, 14.3, 152887.41200002545, 122576.40913904551), (3451, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.41200002545, 122576.40913904551), (3452, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.41200002545, 122576.40913904551), (3453, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.41200002545, 122576.40913904551), (3454, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.41200002545, 122576.40913904551), (3455, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.41200002545, 122576.40913904551), (3456, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.41200002545, 122576.40913904551), (3457, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152887.41200002545, 122576.40913904551)  ... displaying 10 of 50 total bound parameter sets ...  (3498, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152887.41200002545, 122576.40913904551), (3499, 135.9, 135.9, 135.9, 152887.41200002545, 122576.40913904551))
2021-02-20 14:31:07,017 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,018 INFO sqlalchemy.engine.base.Engine ((1725, 'F70', 0, 'Anhydrite', 3450, 3451), (1726, 'F70', 1, 'Sandstone, grey, vf-f', 3452, 3453), (1727, 'F70', 2, 'Anhydrite', 3454, 3455), (1728, 'F70', 3, 'Dolomite', 3456, 3457), (1729, 'F70', 4, 'Anhydrite', 3458, 3459), (1730, 'F70', 5, 'Sandstone, grey, vf-f', 3460, 3461), (1731, 'F70', 6, 'Siltstone, red', 3462, 3463), (1732, 'F70', 7, 'Dolomite', 3464, 3465)  ... displaying 10 of 25 total bound parameter sets ...  (1748, 'F70', 23, 'Limestone', 3496, 3497), (1749, 'F70', 24, 'Volcanic', 3498, 3499))
2021-02-20 14:31:07,021 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:07,026 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:07,027 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:07,028 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:07,031 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:07,031 INFO sqlalchemy.engine.base.Engine ('F70',)
2021-02-20 14:31:07,033 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,033 INFO sqlalchemy.engine.base.Engine (3450,)
2021-02-20 14:31:07,035 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,036 INFO sqlalchemy.engine.base.Engine (3451,)
2021-02-20 14:31:07,039 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,039 INFO sqlalchemy.engine.base.Engine (3452,)

2021-02-20 14:31:07,041 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,041 INFO sqlalchemy.engine.base.Engine (3453,)
2021-02-20 14:31:07,044 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,045 INFO sqlalchemy.engine.base.Engine (3454,)
2021-02-20 14:31:07,045 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,046 INFO sqlalchemy.engine.base.Engine (3455,)
2021-02-20 14:31:07,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,049 INFO sqlalchemy.engine.base.Engine (3456,)
2021-02-20 14:31:07,050 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,050 INFO sqlalchemy.engine.base.Engine (3457,)
2021-02-20 14:31:07,054 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,055 INFO sqlalchemy.engine.base.Engine (3458,)
2021-02-20 14:31:07,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,058 INFO sqlalchemy.engine.base.Engine (3459,)
2021-02-20 14:31:07,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,062 INFO sqlalchemy.engine.base.Engine (3460,)
2021-02-20 14:31:07,063 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,063 INFO sqlalchemy.engine.base.Engine (3461,)
2021-02-20 14:31:07,066 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,066 INFO sqlalchemy.engine.base.Engine (3462,)
2021-02-20 14:31:07,067 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,068 INFO sqlalchemy.engine.base.Engine (3463,)
2021-02-20 14:31:07,070 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,070 INFO sqlalchemy.engine.base.Engine (3464,)
2021-02-20 14:31:07,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,073 INFO sqlalchemy.engine.base.Engine (3465,)
2021-02-20 14:31:07,076 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,077 INFO sqlalchemy.engine.base.Engine (3466,)
2021-02-20 14:31:07,079 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,080 INFO sqlalchemy.engine.base.Engine (3467,)
2021-02-20 14:31:07,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,085 INFO sqlalchemy.engine.base.Engine (3468,)
2021-02-20 14:31:07,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,087 INFO sqlalchemy.engine.base.Engine (3469,)
2021-02-20 14:31:07,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,090 INFO sqlalchemy.engine.base.Engine (3470,)
2021-02-20 14:31:07,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,092 INFO sqlalchemy.engine.base.Engine (3471,)
2021-02-20 14:31:07,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,094 INFO sqlalchemy.engine.base.Engine (3472,)
2021-02-20 14:31:07,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,096 INFO sqlalchemy.engine.base.Engine (3473,)
2021-02-20 14:31:07,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,101 INFO sqlalchemy.engine.base.Engine (3474,)
2021-02-20 14:31:07,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,104 INFO sqlalchemy.engine.base.Engine (3475,)
2021-02-20 14:31:07,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,108 INFO sqlalchemy.engine.base.Engine (3476,)
2021-02-20 14:31:07,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,110 INFO sqlalchemy.engine.base.Engine (3477,)
2021-02-20 14:31:07,114 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,114 INFO sqlalchemy.engine.base.Engine (3478,)
2021-02-20 14:31:07,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,117 INFO sqlalchemy.engine.base.Engine (3479,)
2021-02-20 14:31:07,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,121 INFO sqlalchemy.engine.base.Engine (3480,)
2021-02-20 14:31:07,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,123 INFO sqlalchemy.engine.base.Engine (3481,)
2021-02-20 14:31:07,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,125 INFO sqlalchemy.engine.base.Engine (3482,)
2021-02-20 14:31:07,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,128 INFO sqlalchemy.engine.base.Engine (3483,)
2021-02-20 14:31:07,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,130 INFO sqlalchemy.engine.base.Engine (3484,)
2021-02-20 14:31:07,131 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,133 INFO sqlalchemy.engine.base.Engine (3485,)
2021-02-20 14:31:07,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,137 INFO sqlalchemy.engine.base.Engine (3486,)
2021-02-20 14:31:07,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,140 INFO sqlalchemy.engine.base.Engine (3487,)
2021-02-20 14:31:07,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,144 INFO sqlalchemy.engine.base.Engine (3488,)
2021-02-20 14:31:07,146 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,147 INFO sqlalchemy.engine.base.Engine (3489,)
2021-02-20 14:31:07,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,152 INFO sqlalchemy.engine.base.Engine (3490,)
2021-02-20 14:31:07,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,153 INFO sqlalchemy.engine.base.Engine (3491,)
2021-02-20 14:31:07,155 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,156 INFO sqlalchemy.engine.base.Engine (3492,)
2021-02-20 14:31:07,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,157 INFO sqlalchemy.engine.base.Engine (3493,)
2021-02-20 14:31:07,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,160 INFO sqlalchemy.engine.base.Engine (3494,)
2021-02-20 14:31:07,162 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,163 INFO sqlalchemy.engine.base.Engine (3495,)
2021-02-20 14:31:07,167 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,168 INFO sqlalchemy.engine.base.Engine (3496,)
2021-02-20 14:31:07,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,170 INFO sqlalchemy.engine.base.Engine (3497,)
2021-02-20 14:31:07,172 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,173 INFO sqlalchemy.engine.base.Engine (3498,)
2021-02-20 14:31:07,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,174 INFO sqlalchemy.engine.base.Engine (3499,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:07,217 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:07,218 INFO sqlalchemy.engine.base.Engine ('F71',)
2021-02-20 14:31:07,219 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,220 INFO sqlalchemy.engine.base.Engine ((3500, 14.3, 14.3, 14.3, 152885.5410000254, 122579.35213904642), (3501, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.5410000254, 122579.35213904642), (3502, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.5410000254, 122579.35213904642), (3503, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.5410000254, 122579.35213904642), (3504, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.5410000254, 122579.35213904642), (3505, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.5410000254, 122579.35213904642), (3506, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.5410000254, 122579.35213904642), (3507, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.5410000254, 122579.35213904642)  ... displaying 10 of 50 total bound parameter sets ...  (3548, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.5410000254, 122579.35213904642), (3549, 135.9, 135.9, 135.9, 152885.5410000254, 122579.35213904642))
2021-02-20 14:31:07,222 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,222 INFO sqlalchemy.engine.base.Engine ((1750, 'F71', 0, 'Anhydrite', 3500, 3501), (1751, 'F71', 1, 'Sandstone, grey, vf-f', 3502, 3503), (1752, 'F71', 2, 'Anhydrite', 3504, 3505), (1753, 'F71', 3, 'Dolomite', 3506, 3507), (1754, 'F71', 4, 'Anhydrite', 3508, 3509), (1755, 'F71', 5, 'Sandstone, grey, vf-f', 3510, 3511), (1756, 'F71', 6, 'Siltstone, red', 3512, 3513), (1757, 'F71', 7, 'Dolomite', 3514, 3515)  ... displaying 10 of 25 total bound parameter sets ...  (1773, 'F71', 23, 'Limestone', 3546, 3547), (1774, 'F71', 24, 'Volcanic', 3548, 3549))
2021-02-20 14:31:07,225 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:07,230 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:07,231 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:07,231 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:07,234 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:07,235 INFO sqlalchemy.engine.base.Engine ('F71',)
2021-02-20 14:31:07,237 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,238 INFO sqlalchemy.engine.base.Engine (3500,)
2021-02-20 14:31:07,240 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,240 INFO sqlalchemy.engine.base.Engine (3501,)
2021-02-20 14:31:07,243 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,244 INFO sqlalchemy.engine.base.Engine (3502,)
2021-02-20 14:31:07,246 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,247 INFO sqlalchemy.engine.base.Engine (3503,)
2021-02-20 14:31:07,250 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,251 INFO sqlalchemy.engine.base.Engine (3504,)
2021-02-20 14:31:07,252 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,253 INFO sqlalchemy.engine.base.Engine (3505,)
2021-02-20 14:31:07,257 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,257 INFO sqlalchemy.engine.base.Engine (3506,)
2021-02-20 14:31:07,259 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,259 INFO sqlalchemy.engine.base.Engine (3507,)

2021-02-20 14:31:07,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,262 INFO sqlalchemy.engine.base.Engine (3508,)
2021-02-20 14:31:07,263 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,263 INFO sqlalchemy.engine.base.Engine (3509,)
2021-02-20 14:31:07,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,265 INFO sqlalchemy.engine.base.Engine (3510,)
2021-02-20 14:31:07,267 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,268 INFO sqlalchemy.engine.base.Engine (3511,)
2021-02-20 14:31:07,271 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,272 INFO sqlalchemy.engine.base.Engine (3512,)
2021-02-20 14:31:07,274 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,274 INFO sqlalchemy.engine.base.Engine (3513,)
2021-02-20 14:31:07,276 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,277 INFO sqlalchemy.engine.base.Engine (3514,)
2021-02-20 14:31:07,278 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,278 INFO sqlalchemy.engine.base.Engine (3515,)
2021-02-20 14:31:07,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,281 INFO sqlalchemy.engine.base.Engine (3516,)
2021-02-20 14:31:07,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,282 INFO sqlalchemy.engine.base.Engine (3517,)
2021-02-20 14:31:07,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,287 INFO sqlalchemy.engine.base.Engine (3518,)
2021-02-20 14:31:07,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,290 INFO sqlalchemy.engine.base.Engine (3519,)
2021-02-20 14:31:07,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,293 INFO sqlalchemy.engine.base.Engine (3520,)
2021-02-20 14:31:07,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,295 INFO sqlalchemy.engine.base.Engine (3521,)
2021-02-20 14:31:07,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,297 INFO sqlalchemy.engine.base.Engine (3522,)
2021-02-20 14:31:07,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,299 INFO sqlalchemy.engine.base.Engine (3523,)
2021-02-20 14:31:07,301 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,302 INFO sqlalchemy.engine.base.Engine (3524,)
2021-02-20 14:31:07,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,304 INFO sqlalchemy.engine.base.Engine (3525,)
2021-02-20 14:31:07,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,306 INFO sqlalchemy.engine.base.Engine (3526,)
2021-02-20 14:31:07,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,309 INFO sqlalchemy.engine.base.Engine (3527,)
2021-02-20 14:31:07,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,313 INFO sqlalchemy.engine.base.Engine (3528,)
2021-02-20 14:31:07,314 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,315 INFO sqlalchemy.engine.base.Engine (3529,)
2021-02-20 14:31:07,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,320 INFO sqlalchemy.engine.base.Engine (3530,)
2021-02-20 14:31:07,322 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,322 INFO sqlalchemy.engine.base.Engine (3531,)
2021-02-20 14:31:07,325 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,325 INFO sqlalchemy.engine.base.Engine (3532,)
2021-02-20 14:31:07,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,326 INFO sqlalchemy.engine.base.Engine (3533,)
2021-02-20 14:31:07,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,329 INFO sqlalchemy.engine.base.Engine (3534,)
2021-02-20 14:31:07,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,330 INFO sqlalchemy.engine.base.Engine (3535,)
2021-02-20 14:31:07,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,332 INFO sqlalchemy.engine.base.Engine (3536,)
2021-02-20 14:31:07,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,333 INFO sqlalchemy.engine.base.Engine (3537,)
2021-02-20 14:31:07,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,336 INFO sqlalchemy.engine.base.Engine (3538,)
2021-02-20 14:31:07,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,338 INFO sqlalchemy.engine.base.Engine (3539,)
2021-02-20 14:31:07,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,340 INFO sqlalchemy.engine.base.Engine (3540,)
2021-02-20 14:31:07,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,341 INFO sqlalchemy.engine.base.Engine (3541,)
2021-02-20 14:31:07,343 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,344 INFO sqlalchemy.engine.base.Engine (3542,)
2021-02-20 14:31:07,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,345 INFO sqlalchemy.engine.base.Engine (3543,)
2021-02-20 14:31:07,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,348 INFO sqlalchemy.engine.base.Engine (3544,)
2021-02-20 14:31:07,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,349 INFO sqlalchemy.engine.base.Engine (3545,)
2021-02-20 14:31:07,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,352 INFO sqlalchemy.engine.base.Engine (3546,)
2021-02-20 14:31:07,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,353 INFO sqlalchemy.engine.base.Engine (3547,)
2021-02-20 14:31:07,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,355 INFO sqlalchemy.engine.base.Engine (3548,)
2021-02-20 14:31:07,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,357 INFO sqlalchemy.engine.base.Engine (3549,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:07,400 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,400 INFO sqlalchemy.engine.base.Engine ((3550, 14.3, 14.3, 14.3, 152888.36700002546, 122577.94413904753), (3551, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.36700002546, 122577.94413904753), (3552, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.36700002546, 122577.94413904753), (3553, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.36700002546, 122577.94413904753), (3554, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.36700002546, 122577.94413904753), (3555, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.36700002546, 122577.94413904753), (3556, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.36700002546, 122577.94413904753), (3557, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.36700002546, 122577.94413904753)  ... displaying 10 of 50 total bound parameter sets ...  (3598, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.36700002546, 122577.94413904753), (3599, 135.9, 135.9, 135.9, 152888.36700002546, 122577.94413904753))
2021-02-20 14:31:07,402 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:07,402 INFO sqlalchemy.engine.base.Engine ('F72',)
2021-02-20 14:31:07,405 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,405 INFO sqlalchemy.engine.base.Engine ((1775, 'F72', 0, 'Anhydrite', 3550, 3551), (1776, 'F72', 1, 'Sandstone, grey, vf-f', 3552, 3553), (1777, 'F72', 2, 'Anhydrite', 3554, 3555), (1778, 'F72', 3, 'Dolomite', 3556, 3557), (1779, 'F72', 4, 'Anhydrite', 3558, 3559), (1780, 'F72', 5, 'Sandstone, grey, vf-f', 3560, 3561), (1781, 'F72', 6, 'Siltstone, red', 3562, 3563), (1782, 'F72', 7, 'Dolomite', 3564, 3565)  ... displaying 10 of 25 total bound parameter sets ...  (1798, 'F72', 23, 'Limestone', 3596, 3597), (1799, 'F72', 24, 'Volcanic', 3598, 3599))
2021-02-20 14:31:07,407 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:07,413 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:07,414 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:07,414 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:07,418 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:07,419 INFO sqlalchemy.engine.base.Engine ('F72',)
2021-02-20 14:31:07,421 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,422 INFO sqlalchemy.engine.base.Engine (3550,)
2021-02-20 14:31:07,424 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,424 INFO sqlalchemy.engine.base.Engine (3551,)
2021-02-20 14:31:07,427 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,428 INFO sqlalchemy.engine.base.Engine (3552,)
2021-02-20 14:31:07,429 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,430 INFO sqlalchemy.engine.base.Engine (3553,)
2021-02-20 14:31:07,432 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,432 INFO sqlalchemy.engine.base.Engine (3554,)
2021-02-20 14:31:07,433 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,434 INFO sqlalchemy.engine.base.Engine (3555,)
2021-02-20 14:31:07,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,439 INFO sqlalchemy.engine.base.Engine (3556,)
2021-02-20 14:31:07,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,442 INFO sqlalchemy.engine.base.Engine (3557,)
2021-02-20 14:31:07,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,446 INFO sqlalchemy.engine.base.Engine (3558,)
2021-02-20 14:31:07,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,448 INFO sqlalchemy.engine.base.Engine (3559,)
2021-02-20 14:31:07,452 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,452 INFO sqlalchemy.engine.base.Engine (3560,)
2021-02-20 14:31:07,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,453 INFO sqlalchemy.engine.base.Engine (3561,)
2021-02-20 14:31:07,455 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,456 INFO sqlalchemy.engine.base.Engine (3562,)

2021-02-20 14:31:07,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,458 INFO sqlalchemy.engine.base.Engine (3563,)
2021-02-20 14:31:07,461 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,462 INFO sqlalchemy.engine.base.Engine (3564,)
2021-02-20 14:31:07,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,464 INFO sqlalchemy.engine.base.Engine (3565,)
2021-02-20 14:31:07,468 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,469 INFO sqlalchemy.engine.base.Engine (3566,)
2021-02-20 14:31:07,471 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,471 INFO sqlalchemy.engine.base.Engine (3567,)
2021-02-20 14:31:07,475 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,476 INFO sqlalchemy.engine.base.Engine (3568,)
2021-02-20 14:31:07,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,477 INFO sqlalchemy.engine.base.Engine (3569,)
2021-02-20 14:31:07,479 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,480 INFO sqlalchemy.engine.base.Engine (3570,)
2021-02-20 14:31:07,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,482 INFO sqlalchemy.engine.base.Engine (3571,)
2021-02-20 14:31:07,484 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,485 INFO sqlalchemy.engine.base.Engine (3572,)
2021-02-20 14:31:07,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,487 INFO sqlalchemy.engine.base.Engine (3573,)
2021-02-20 14:31:07,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,492 INFO sqlalchemy.engine.base.Engine (3574,)
2021-02-20 14:31:07,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,494 INFO sqlalchemy.engine.base.Engine (3575,)
2021-02-20 14:31:07,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,499 INFO sqlalchemy.engine.base.Engine (3576,)
2021-02-20 14:31:07,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,502 INFO sqlalchemy.engine.base.Engine (3577,)
2021-02-20 14:31:07,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,506 INFO sqlalchemy.engine.base.Engine (3578,)
2021-02-20 14:31:07,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,509 INFO sqlalchemy.engine.base.Engine (3579,)
2021-02-20 14:31:07,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,513 INFO sqlalchemy.engine.base.Engine (3580,)
2021-02-20 14:31:07,514 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,515 INFO sqlalchemy.engine.base.Engine (3581,)
2021-02-20 14:31:07,517 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,517 INFO sqlalchemy.engine.base.Engine (3582,)
2021-02-20 14:31:07,518 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,519 INFO sqlalchemy.engine.base.Engine (3583,)
2021-02-20 14:31:07,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,523 INFO sqlalchemy.engine.base.Engine (3584,)
2021-02-20 14:31:07,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,525 INFO sqlalchemy.engine.base.Engine (3585,)
2021-02-20 14:31:07,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,530 INFO sqlalchemy.engine.base.Engine (3586,)
2021-02-20 14:31:07,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,532 INFO sqlalchemy.engine.base.Engine (3587,)
2021-02-20 14:31:07,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,537 INFO sqlalchemy.engine.base.Engine (3588,)
2021-02-20 14:31:07,539 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,539 INFO sqlalchemy.engine.base.Engine (3589,)
2021-02-20 14:31:07,543 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,544 INFO sqlalchemy.engine.base.Engine (3590,)
2021-02-20 14:31:07,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,546 INFO sqlalchemy.engine.base.Engine (3591,)
2021-02-20 14:31:07,549 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,549 INFO sqlalchemy.engine.base.Engine (3592,)
2021-02-20 14:31:07,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,552 INFO sqlalchemy.engine.base.Engine (3593,)
2021-02-20 14:31:07,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,555 INFO sqlalchemy.engine.base.Engine (3594,)
2021-02-20 14:31:07,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,557 INFO sqlalchemy.engine.base.Engine (3595,)
2021-02-20 14:31:07,561 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,562 INFO sqlalchemy.engine.base.Engine (3596,)
2021-02-20 14:31:07,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,564 INFO sqlalchemy.engine.base.Engine (3597,)
2021-02-20 14:31:07,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,570 INFO sqlalchemy.engine.base.Engine (3598,)
2021-02-20 14:31:07,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,572 INFO sqlalchemy.engine.base.Engine (3599,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:07,620 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,620 INFO sqlalchemy.engine.base.Engine ((3600, 14.3, 14.3, 14.3, 152888.55500002543, 122581.87813904788), (3601, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.55500002543, 122581.87813904788), (3602, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.55500002543, 122581.87813904788), (3603, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.55500002543, 122581.87813904788), (3604, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.55500002543, 122581.87813904788), (3605, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.55500002543, 122581.87813904788), (3606, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.55500002543, 122581.87813904788), (3607, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.55500002543, 122581.87813904788)  ... displaying 10 of 50 total bound parameter sets ...  (3648, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.55500002543, 122581.87813904788), (3649, 135.9, 135.9, 135.9, 152888.55500002543, 122581.87813904788))
2021-02-20 14:31:07,622 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:07,622 INFO sqlalchemy.engine.base.Engine ('F73',)
2021-02-20 14:31:07,624 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,624 INFO sqlalchemy.engine.base.Engine ((1800, 'F73', 0, 'Anhydrite', 3600, 3601), (1801, 'F73', 1, 'Sandstone, grey, vf-f', 3602, 3603), (1802, 'F73', 2, 'Anhydrite', 3604, 3605), (1803, 'F73', 3, 'Dolomite', 3606, 3607), (1804, 'F73', 4, 'Anhydrite', 3608, 3609), (1805, 'F73', 5, 'Sandstone, grey, vf-f', 3610, 3611), (1806, 'F73', 6, 'Siltstone, red', 3612, 3613), (1807, 'F73', 7, 'Dolomite', 3614, 3615)  ... displaying 10 of 25 total bound parameter sets ...  (1823, 'F73', 23, 'Limestone', 3646, 3647), (1824, 'F73', 24, 'Volcanic', 3648, 3649))

2021-02-20 14:31:07,625 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:07,632 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:07,633 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:07,634 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:07,636 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:07,636 INFO sqlalchemy.engine.base.Engine ('F73',)
2021-02-20 14:31:07,638 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,638 INFO sqlalchemy.engine.base.Engine (3600,)
2021-02-20 14:31:07,640 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,640 INFO sqlalchemy.engine.base.Engine (3601,)
2021-02-20 14:31:07,642 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,643 INFO sqlalchemy.engine.base.Engine (3602,)
2021-02-20 14:31:07,644 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,644 INFO sqlalchemy.engine.base.Engine (3603,)
2021-02-20 14:31:07,646 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,647 INFO sqlalchemy.engine.base.Engine (3604,)
2021-02-20 14:31:07,648 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,649 INFO sqlalchemy.engine.base.Engine (3605,)
2021-02-20 14:31:07,651 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,652 INFO sqlalchemy.engine.base.Engine (3606,)
2021-02-20 14:31:07,653 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,653 INFO sqlalchemy.engine.base.Engine (3607,)
2021-02-20 14:31:07,657 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,657 INFO sqlalchemy.engine.base.Engine (3608,)
2021-02-20 14:31:07,659 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,660 INFO sqlalchemy.engine.base.Engine (3609,)
2021-02-20 14:31:07,661 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,662 INFO sqlalchemy.engine.base.Engine (3610,)
2021-02-20 14:31:07,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,664 INFO sqlalchemy.engine.base.Engine (3611,)
2021-02-20 14:31:07,666 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,667 INFO sqlalchemy.engine.base.Engine (3612,)
2021-02-20 14:31:07,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,669 INFO sqlalchemy.engine.base.Engine (3613,)
2021-02-20 14:31:07,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,672 INFO sqlalchemy.engine.base.Engine (3614,)
2021-02-20 14:31:07,674 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,674 INFO sqlalchemy.engine.base.Engine (3615,)
2021-02-20 14:31:07,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,679 INFO sqlalchemy.engine.base.Engine (3616,)
2021-02-20 14:31:07,681 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,682 INFO sqlalchemy.engine.base.Engine (3617,)
2021-02-20 14:31:07,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,686 INFO sqlalchemy.engine.base.Engine (3618,)
2021-02-20 14:31:07,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,688 INFO sqlalchemy.engine.base.Engine (3619,)
2021-02-20 14:31:07,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,691 INFO sqlalchemy.engine.base.Engine (3620,)
2021-02-20 14:31:07,692 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,693 INFO sqlalchemy.engine.base.Engine (3621,)
2021-02-20 14:31:07,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,696 INFO sqlalchemy.engine.base.Engine (3622,)
2021-02-20 14:31:07,697 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,698 INFO sqlalchemy.engine.base.Engine (3623,)
2021-02-20 14:31:07,702 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,703 INFO sqlalchemy.engine.base.Engine (3624,)
2021-02-20 14:31:07,705 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,705 INFO sqlalchemy.engine.base.Engine (3625,)
2021-02-20 14:31:07,707 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,708 INFO sqlalchemy.engine.base.Engine (3626,)
2021-02-20 14:31:07,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,710 INFO sqlalchemy.engine.base.Engine (3627,)
2021-02-20 14:31:07,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,712 INFO sqlalchemy.engine.base.Engine (3628,)
2021-02-20 14:31:07,714 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,714 INFO sqlalchemy.engine.base.Engine (3629,)
2021-02-20 14:31:07,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,719 INFO sqlalchemy.engine.base.Engine (3630,)
2021-02-20 14:31:07,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,722 INFO sqlalchemy.engine.base.Engine (3631,)
2021-02-20 14:31:07,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,726 INFO sqlalchemy.engine.base.Engine (3632,)
2021-02-20 14:31:07,728 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,728 INFO sqlalchemy.engine.base.Engine (3633,)
2021-02-20 14:31:07,730 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,731 INFO sqlalchemy.engine.base.Engine (3634,)
2021-02-20 14:31:07,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,733 INFO sqlalchemy.engine.base.Engine (3635,)
2021-02-20 14:31:07,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,736 INFO sqlalchemy.engine.base.Engine (3636,)
2021-02-20 14:31:07,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,738 INFO sqlalchemy.engine.base.Engine (3637,)
2021-02-20 14:31:07,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,743 INFO sqlalchemy.engine.base.Engine (3638,)
2021-02-20 14:31:07,744 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,745 INFO sqlalchemy.engine.base.Engine (3639,)
2021-02-20 14:31:07,747 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,748 INFO sqlalchemy.engine.base.Engine (3640,)
2021-02-20 14:31:07,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,749 INFO sqlalchemy.engine.base.Engine (3641,)
2021-02-20 14:31:07,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,752 INFO sqlalchemy.engine.base.Engine (3642,)
2021-02-20 14:31:07,753 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,754 INFO sqlalchemy.engine.base.Engine (3643,)
2021-02-20 14:31:07,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,756 INFO sqlalchemy.engine.base.Engine (3644,)
2021-02-20 14:31:07,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,758 INFO sqlalchemy.engine.base.Engine (3645,)
2021-02-20 14:31:07,760 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,761 INFO sqlalchemy.engine.base.Engine (3646,)
2021-02-20 14:31:07,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,762 INFO sqlalchemy.engine.base.Engine (3647,)
2021-02-20 14:31:07,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,765 INFO sqlalchemy.engine.base.Engine (3648,)
2021-02-20 14:31:07,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,768 INFO sqlalchemy.engine.base.Engine (3649,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:07,814 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,816 INFO sqlalchemy.engine.base.Engine ((3650, 14.3, 14.3, 14.3, 152886.29900002538, 122580.93113904726), (3651, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.29900002538, 122580.93113904726), (3652, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.29900002538, 122580.93113904726), (3653, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.29900002538, 122580.93113904726), (3654, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.29900002538, 122580.93113904726), (3655, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.29900002538, 122580.93113904726), (3656, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.29900002538, 122580.93113904726), (3657, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.29900002538, 122580.93113904726)  ... displaying 10 of 50 total bound parameter sets ...  (3698, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.29900002538, 122580.93113904726), (3699, 135.9, 135.9, 135.9, 152886.29900002538, 122580.93113904726))
2021-02-20 14:31:07,817 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:07,818 INFO sqlalchemy.engine.base.Engine ('F74',)
2021-02-20 14:31:07,821 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:07,822 INFO sqlalchemy.engine.base.Engine ((1825, 'F74', 0, 'Anhydrite', 3650, 3651), (1826, 'F74', 1, 'Sandstone, grey, vf-f', 3652, 3653), (1827, 'F74', 2, 'Anhydrite', 3654, 3655), (1828, 'F74', 3, 'Dolomite', 3656, 3657), (1829, 'F74', 4, 'Anhydrite', 3658, 3659), (1830, 'F74', 5, 'Sandstone, grey, vf-f', 3660, 3661), (1831, 'F74', 6, 'Siltstone, red', 3662, 3663), (1832, 'F74', 7, 'Dolomite', 3664, 3665)  ... displaying 10 of 25 total bound parameter sets ...  (1848, 'F74', 23, 'Limestone', 3696, 3697), (1849, 'F74', 24, 'Volcanic', 3698, 3699))
2021-02-20 14:31:07,825 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:07,831 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:07,832 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:07,833 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:07,836 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:07,838 INFO sqlalchemy.engine.base.Engine ('F74',)
2021-02-20 14:31:07,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,841 INFO sqlalchemy.engine.base.Engine (3650,)
2021-02-20 14:31:07,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,843 INFO sqlalchemy.engine.base.Engine (3651,)
2021-02-20 14:31:07,846 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,847 INFO sqlalchemy.engine.base.Engine (3652,)

2021-02-20 14:31:07,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,849 INFO sqlalchemy.engine.base.Engine (3653,)
2021-02-20 14:31:07,851 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,852 INFO sqlalchemy.engine.base.Engine (3654,)
2021-02-20 14:31:07,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,854 INFO sqlalchemy.engine.base.Engine (3655,)
2021-02-20 14:31:07,856 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,856 INFO sqlalchemy.engine.base.Engine (3656,)
2021-02-20 14:31:07,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,858 INFO sqlalchemy.engine.base.Engine (3657,)
2021-02-20 14:31:07,862 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,862 INFO sqlalchemy.engine.base.Engine (3658,)
2021-02-20 14:31:07,864 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,865 INFO sqlalchemy.engine.base.Engine (3659,)
2021-02-20 14:31:07,868 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,869 INFO sqlalchemy.engine.base.Engine (3660,)
2021-02-20 14:31:07,871 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,871 INFO sqlalchemy.engine.base.Engine (3661,)
2021-02-20 14:31:07,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,876 INFO sqlalchemy.engine.base.Engine (3662,)
2021-02-20 14:31:07,877 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,877 INFO sqlalchemy.engine.base.Engine (3663,)
2021-02-20 14:31:07,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,880 INFO sqlalchemy.engine.base.Engine (3664,)
2021-02-20 14:31:07,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,882 INFO sqlalchemy.engine.base.Engine (3665,)
2021-02-20 14:31:07,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,885 INFO sqlalchemy.engine.base.Engine (3666,)
2021-02-20 14:31:07,886 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,888 INFO sqlalchemy.engine.base.Engine (3667,)
2021-02-20 14:31:07,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,892 INFO sqlalchemy.engine.base.Engine (3668,)
2021-02-20 14:31:07,893 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,893 INFO sqlalchemy.engine.base.Engine (3669,)
2021-02-20 14:31:07,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,896 INFO sqlalchemy.engine.base.Engine (3670,)
2021-02-20 14:31:07,897 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,897 INFO sqlalchemy.engine.base.Engine (3671,)
2021-02-20 14:31:07,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,900 INFO sqlalchemy.engine.base.Engine (3672,)
2021-02-20 14:31:07,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,902 INFO sqlalchemy.engine.base.Engine (3673,)
2021-02-20 14:31:07,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,907 INFO sqlalchemy.engine.base.Engine (3674,)
2021-02-20 14:31:07,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,911 INFO sqlalchemy.engine.base.Engine (3675,)
2021-02-20 14:31:07,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,915 INFO sqlalchemy.engine.base.Engine (3676,)
2021-02-20 14:31:07,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,918 INFO sqlalchemy.engine.base.Engine (3677,)
2021-02-20 14:31:07,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,921 INFO sqlalchemy.engine.base.Engine (3678,)
2021-02-20 14:31:07,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,923 INFO sqlalchemy.engine.base.Engine (3679,)
2021-02-20 14:31:07,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,925 INFO sqlalchemy.engine.base.Engine (3680,)
2021-02-20 14:31:07,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,928 INFO sqlalchemy.engine.base.Engine (3681,)
2021-02-20 14:31:07,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,932 INFO sqlalchemy.engine.base.Engine (3682,)
2021-02-20 14:31:07,934 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,935 INFO sqlalchemy.engine.base.Engine (3683,)
2021-02-20 14:31:07,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,938 INFO sqlalchemy.engine.base.Engine (3684,)
2021-02-20 14:31:07,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,940 INFO sqlalchemy.engine.base.Engine (3685,)
2021-02-20 14:31:07,942 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,943 INFO sqlalchemy.engine.base.Engine (3686,)
2021-02-20 14:31:07,945 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,946 INFO sqlalchemy.engine.base.Engine (3687,)
2021-02-20 14:31:07,949 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,950 INFO sqlalchemy.engine.base.Engine (3688,)
2021-02-20 14:31:07,952 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,953 INFO sqlalchemy.engine.base.Engine (3689,)
2021-02-20 14:31:07,956 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,957 INFO sqlalchemy.engine.base.Engine (3690,)
2021-02-20 14:31:07,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,959 INFO sqlalchemy.engine.base.Engine (3691,)
2021-02-20 14:31:07,961 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,962 INFO sqlalchemy.engine.base.Engine (3692,)
2021-02-20 14:31:07,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,963 INFO sqlalchemy.engine.base.Engine (3693,)
2021-02-20 14:31:07,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:07,966 INFO sqlalchemy.engine.base.Engine (3694,)
2021-02-20 14:31:07,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,968 INFO sqlalchemy.engine.base.Engine (3695,)
2021-02-20 14:31:07,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,972 INFO sqlalchemy.engine.base.Engine (3696,)
2021-02-20 14:31:07,974 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,974 INFO sqlalchemy.engine.base.Engine (3697,)
2021-02-20 14:31:07,978 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,979 INFO sqlalchemy.engine.base.Engine (3698,)
2021-02-20 14:31:07,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:07,981 INFO sqlalchemy.engine.base.Engine (3699,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:08,024 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,025 INFO sqlalchemy.engine.base.Engine ((3700, 14.3, 14.3, 14.3, 152888.5000000254, 122580.49013904762), (3701, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.5000000254, 122580.49013904762), (3702, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.5000000254, 122580.49013904762), (3703, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.5000000254, 122580.49013904762), (3704, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.5000000254, 122580.49013904762), (3705, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.5000000254, 122580.49013904762), (3706, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.5000000254, 122580.49013904762), (3707, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.5000000254, 122580.49013904762)  ... displaying 10 of 50 total bound parameter sets ...  (3748, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.5000000254, 122580.49013904762), (3749, 135.9, 135.9, 135.9, 152888.5000000254, 122580.49013904762))
2021-02-20 14:31:08,027 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:08,027 INFO sqlalchemy.engine.base.Engine ('F75',)
2021-02-20 14:31:08,029 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,030 INFO sqlalchemy.engine.base.Engine ((1850, 'F75', 0, 'Anhydrite', 3700, 3701), (1851, 'F75', 1, 'Sandstone, grey, vf-f', 3702, 3703), (1852, 'F75', 2, 'Anhydrite', 3704, 3705), (1853, 'F75', 3, 'Dolomite', 3706, 3707), (1854, 'F75', 4, 'Anhydrite', 3708, 3709), (1855, 'F75', 5, 'Sandstone, grey, vf-f', 3710, 3711), (1856, 'F75', 6, 'Siltstone, red', 3712, 3713), (1857, 'F75', 7, 'Dolomite', 3714, 3715)  ... displaying 10 of 25 total bound parameter sets ...  (1873, 'F75', 23, 'Limestone', 3746, 3747), (1874, 'F75', 24, 'Volcanic', 3748, 3749))
2021-02-20 14:31:08,033 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:08,039 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:08,040 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:08,041 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:08,044 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:08,045 INFO sqlalchemy.engine.base.Engine ('F75',)
2021-02-20 14:31:08,048 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,049 INFO sqlalchemy.engine.base.Engine (3700,)
2021-02-20 14:31:08,051 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,052 INFO sqlalchemy.engine.base.Engine (3701,)
2021-02-20 14:31:08,055 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,056 INFO sqlalchemy.engine.base.Engine (3702,)
2021-02-20 14:31:08,057 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,058 INFO sqlalchemy.engine.base.Engine (3703,)
2021-02-20 14:31:08,061 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,062 INFO sqlalchemy.engine.base.Engine (3704,)
2021-02-20 14:31:08,064 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,064 INFO sqlalchemy.engine.base.Engine (3705,)
2021-02-20 14:31:08,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,069 INFO sqlalchemy.engine.base.Engine (3706,)
2021-02-20 14:31:08,071 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,071 INFO sqlalchemy.engine.base.Engine (3707,)

2021-02-20 14:31:08,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,074 INFO sqlalchemy.engine.base.Engine (3708,)
2021-02-20 14:31:08,075 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,076 INFO sqlalchemy.engine.base.Engine (3709,)
2021-02-20 14:31:08,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,079 INFO sqlalchemy.engine.base.Engine (3710,)
2021-02-20 14:31:08,081 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,082 INFO sqlalchemy.engine.base.Engine (3711,)
2021-02-20 14:31:08,085 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,086 INFO sqlalchemy.engine.base.Engine (3712,)
2021-02-20 14:31:08,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,088 INFO sqlalchemy.engine.base.Engine (3713,)
2021-02-20 14:31:08,090 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,091 INFO sqlalchemy.engine.base.Engine (3714,)
2021-02-20 14:31:08,092 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,093 INFO sqlalchemy.engine.base.Engine (3715,)
2021-02-20 14:31:08,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,095 INFO sqlalchemy.engine.base.Engine (3716,)
2021-02-20 14:31:08,096 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,097 INFO sqlalchemy.engine.base.Engine (3717,)
2021-02-20 14:31:08,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,101 INFO sqlalchemy.engine.base.Engine (3718,)
2021-02-20 14:31:08,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,104 INFO sqlalchemy.engine.base.Engine (3719,)
2021-02-20 14:31:08,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,108 INFO sqlalchemy.engine.base.Engine (3720,)
2021-02-20 14:31:08,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,111 INFO sqlalchemy.engine.base.Engine (3721,)
2021-02-20 14:31:08,115 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,116 INFO sqlalchemy.engine.base.Engine (3722,)
2021-02-20 14:31:08,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,118 INFO sqlalchemy.engine.base.Engine (3723,)
2021-02-20 14:31:08,120 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,120 INFO sqlalchemy.engine.base.Engine (3724,)
2021-02-20 14:31:08,122 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,122 INFO sqlalchemy.engine.base.Engine (3725,)
2021-02-20 14:31:08,124 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,125 INFO sqlalchemy.engine.base.Engine (3726,)
2021-02-20 14:31:08,127 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,128 INFO sqlalchemy.engine.base.Engine (3727,)
2021-02-20 14:31:08,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,133 INFO sqlalchemy.engine.base.Engine (3728,)
2021-02-20 14:31:08,134 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,135 INFO sqlalchemy.engine.base.Engine (3729,)
2021-02-20 14:31:08,137 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,138 INFO sqlalchemy.engine.base.Engine (3730,)
2021-02-20 14:31:08,139 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,139 INFO sqlalchemy.engine.base.Engine (3731,)
2021-02-20 14:31:08,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,142 INFO sqlalchemy.engine.base.Engine (3732,)
2021-02-20 14:31:08,144 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,145 INFO sqlalchemy.engine.base.Engine (3733,)
2021-02-20 14:31:08,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,149 INFO sqlalchemy.engine.base.Engine (3734,)
2021-02-20 14:31:08,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,152 INFO sqlalchemy.engine.base.Engine (3735,)
2021-02-20 14:31:08,154 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,155 INFO sqlalchemy.engine.base.Engine (3736,)
2021-02-20 14:31:08,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,156 INFO sqlalchemy.engine.base.Engine (3737,)
2021-02-20 14:31:08,159 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,159 INFO sqlalchemy.engine.base.Engine (3738,)
2021-02-20 14:31:08,161 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,162 INFO sqlalchemy.engine.base.Engine (3739,)
2021-02-20 14:31:08,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,166 INFO sqlalchemy.engine.base.Engine (3740,)
2021-02-20 14:31:08,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,169 INFO sqlalchemy.engine.base.Engine (3741,)
2021-02-20 14:31:08,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,174 INFO sqlalchemy.engine.base.Engine (3742,)
2021-02-20 14:31:08,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,176 INFO sqlalchemy.engine.base.Engine (3743,)
2021-02-20 14:31:08,179 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,179 INFO sqlalchemy.engine.base.Engine (3744,)
2021-02-20 14:31:08,181 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,182 INFO sqlalchemy.engine.base.Engine (3745,)
2021-02-20 14:31:08,184 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,185 INFO sqlalchemy.engine.base.Engine (3746,)
2021-02-20 14:31:08,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,187 INFO sqlalchemy.engine.base.Engine (3747,)
2021-02-20 14:31:08,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,192 INFO sqlalchemy.engine.base.Engine (3748,)
2021-02-20 14:31:08,193 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,194 INFO sqlalchemy.engine.base.Engine (3749,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:08,237 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,237 INFO sqlalchemy.engine.base.Engine ((3750, 14.3, 14.3, 14.3, 152886.46500002543, 122577.9491390474), (3751, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.46500002543, 122577.9491390474), (3752, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.46500002543, 122577.9491390474), (3753, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.46500002543, 122577.9491390474), (3754, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.46500002543, 122577.9491390474), (3755, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.46500002543, 122577.9491390474), (3756, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.46500002543, 122577.9491390474), (3757, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.46500002543, 122577.9491390474)  ... displaying 10 of 50 total bound parameter sets ...  (3798, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.46500002543, 122577.9491390474), (3799, 135.9, 135.9, 135.9, 152886.46500002543, 122577.9491390474))
2021-02-20 14:31:08,239 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:08,240 INFO sqlalchemy.engine.base.Engine ('F76',)
2021-02-20 14:31:08,243 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,244 INFO sqlalchemy.engine.base.Engine ((1875, 'F76', 0, 'Anhydrite', 3750, 3751), (1876, 'F76', 1, 'Sandstone, grey, vf-f', 3752, 3753), (1877, 'F76', 2, 'Anhydrite', 3754, 3755), (1878, 'F76', 3, 'Dolomite', 3756, 3757), (1879, 'F76', 4, 'Anhydrite', 3758, 3759), (1880, 'F76', 5, 'Sandstone, grey, vf-f', 3760, 3761), (1881, 'F76', 6, 'Siltstone, red', 3762, 3763), (1882, 'F76', 7, 'Dolomite', 3764, 3765)  ... displaying 10 of 25 total bound parameter sets ...  (1898, 'F76', 23, 'Limestone', 3796, 3797), (1899, 'F76', 24, 'Volcanic', 3798, 3799))
2021-02-20 14:31:08,246 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:08,251 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:08,252 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:08,253 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:08,255 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:08,256 INFO sqlalchemy.engine.base.Engine ('F76',)
2021-02-20 14:31:08,258 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,260 INFO sqlalchemy.engine.base.Engine (3750,)
2021-02-20 14:31:08,261 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,261 INFO sqlalchemy.engine.base.Engine (3751,)
2021-02-20 14:31:08,264 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,264 INFO sqlalchemy.engine.base.Engine (3752,)
2021-02-20 14:31:08,265 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,266 INFO sqlalchemy.engine.base.Engine (3753,)
2021-02-20 14:31:08,268 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,268 INFO sqlalchemy.engine.base.Engine (3754,)
2021-02-20 14:31:08,270 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,271 INFO sqlalchemy.engine.base.Engine (3755,)
2021-02-20 14:31:08,275 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,275 INFO sqlalchemy.engine.base.Engine (3756,)
2021-02-20 14:31:08,277 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,278 INFO sqlalchemy.engine.base.Engine (3757,)
2021-02-20 14:31:08,280 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,280 INFO sqlalchemy.engine.base.Engine (3758,)
2021-02-20 14:31:08,281 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,282 INFO sqlalchemy.engine.base.Engine (3759,)
2021-02-20 14:31:08,284 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,284 INFO sqlalchemy.engine.base.Engine (3760,)
2021-02-20 14:31:08,285 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,286 INFO sqlalchemy.engine.base.Engine (3761,)
2021-02-20 14:31:08,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,290 INFO sqlalchemy.engine.base.Engine (3762,)

2021-02-20 14:31:08,292 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,292 INFO sqlalchemy.engine.base.Engine (3763,)
2021-02-20 14:31:08,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,296 INFO sqlalchemy.engine.base.Engine (3764,)
2021-02-20 14:31:08,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,298 INFO sqlalchemy.engine.base.Engine (3765,)
2021-02-20 14:31:08,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,301 INFO sqlalchemy.engine.base.Engine (3766,)
2021-02-20 14:31:08,303 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,304 INFO sqlalchemy.engine.base.Engine (3767,)
2021-02-20 14:31:08,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,307 INFO sqlalchemy.engine.base.Engine (3768,)
2021-02-20 14:31:08,308 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,308 INFO sqlalchemy.engine.base.Engine (3769,)
2021-02-20 14:31:08,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,311 INFO sqlalchemy.engine.base.Engine (3770,)
2021-02-20 14:31:08,312 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,313 INFO sqlalchemy.engine.base.Engine (3771,)
2021-02-20 14:31:08,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,316 INFO sqlalchemy.engine.base.Engine (3772,)
2021-02-20 14:31:08,318 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,319 INFO sqlalchemy.engine.base.Engine (3773,)
2021-02-20 14:31:08,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,324 INFO sqlalchemy.engine.base.Engine (3774,)
2021-02-20 14:31:08,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,325 INFO sqlalchemy.engine.base.Engine (3775,)
2021-02-20 14:31:08,327 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,327 INFO sqlalchemy.engine.base.Engine (3776,)
2021-02-20 14:31:08,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,329 INFO sqlalchemy.engine.base.Engine (3777,)
2021-02-20 14:31:08,331 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,331 INFO sqlalchemy.engine.base.Engine (3778,)
2021-02-20 14:31:08,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,333 INFO sqlalchemy.engine.base.Engine (3779,)
2021-02-20 14:31:08,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,336 INFO sqlalchemy.engine.base.Engine (3780,)
2021-02-20 14:31:08,337 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,337 INFO sqlalchemy.engine.base.Engine (3781,)
2021-02-20 14:31:08,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,340 INFO sqlalchemy.engine.base.Engine (3782,)
2021-02-20 14:31:08,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,342 INFO sqlalchemy.engine.base.Engine (3783,)
2021-02-20 14:31:08,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,344 INFO sqlalchemy.engine.base.Engine (3784,)
2021-02-20 14:31:08,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,346 INFO sqlalchemy.engine.base.Engine (3785,)
2021-02-20 14:31:08,347 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,348 INFO sqlalchemy.engine.base.Engine (3786,)
2021-02-20 14:31:08,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,349 INFO sqlalchemy.engine.base.Engine (3787,)
2021-02-20 14:31:08,351 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,352 INFO sqlalchemy.engine.base.Engine (3788,)
2021-02-20 14:31:08,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,354 INFO sqlalchemy.engine.base.Engine (3789,)
2021-02-20 14:31:08,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,356 INFO sqlalchemy.engine.base.Engine (3790,)
2021-02-20 14:31:08,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,357 INFO sqlalchemy.engine.base.Engine (3791,)
2021-02-20 14:31:08,359 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,360 INFO sqlalchemy.engine.base.Engine (3792,)
2021-02-20 14:31:08,361 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,362 INFO sqlalchemy.engine.base.Engine (3793,)
2021-02-20 14:31:08,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,364 INFO sqlalchemy.engine.base.Engine (3794,)
2021-02-20 14:31:08,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,365 INFO sqlalchemy.engine.base.Engine (3795,)
2021-02-20 14:31:08,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,368 INFO sqlalchemy.engine.base.Engine (3796,)
2021-02-20 14:31:08,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,369 INFO sqlalchemy.engine.base.Engine (3797,)
2021-02-20 14:31:08,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,372 INFO sqlalchemy.engine.base.Engine (3798,)
2021-02-20 14:31:08,373 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,374 INFO sqlalchemy.engine.base.Engine (3799,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:08,417 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:08,418 INFO sqlalchemy.engine.base.Engine ('F77',)
2021-02-20 14:31:08,420 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,420 INFO sqlalchemy.engine.base.Engine ((3800, 14.3, 14.3, 14.3, 152888.05000002545, 122581.03613904584), (3801, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.05000002545, 122581.03613904584), (3802, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.05000002545, 122581.03613904584), (3803, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.05000002545, 122581.03613904584), (3804, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.05000002545, 122581.03613904584), (3805, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.05000002545, 122581.03613904584), (3806, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.05000002545, 122581.03613904584), (3807, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.05000002545, 122581.03613904584)  ... displaying 10 of 50 total bound parameter sets ...  (3848, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.05000002545, 122581.03613904584), (3849, 135.9, 135.9, 135.9, 152888.05000002545, 122581.03613904584))
2021-02-20 14:31:08,422 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,423 INFO sqlalchemy.engine.base.Engine ((1900, 'F77', 0, 'Anhydrite', 3800, 3801), (1901, 'F77', 1, 'Sandstone, grey, vf-f', 3802, 3803), (1902, 'F77', 2, 'Anhydrite', 3804, 3805), (1903, 'F77', 3, 'Dolomite', 3806, 3807), (1904, 'F77', 4, 'Anhydrite', 3808, 3809), (1905, 'F77', 5, 'Sandstone, grey, vf-f', 3810, 3811), (1906, 'F77', 6, 'Siltstone, red', 3812, 3813), (1907, 'F77', 7, 'Dolomite', 3814, 3815)  ... displaying 10 of 25 total bound parameter sets ...  (1923, 'F77', 23, 'Limestone', 3846, 3847), (1924, 'F77', 24, 'Volcanic', 3848, 3849))

2021-02-20 14:31:08,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:08,429 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:08,429 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:08,430 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:08,432 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:08,433 INFO sqlalchemy.engine.base.Engine ('F77',)
2021-02-20 14:31:08,435 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,436 INFO sqlalchemy.engine.base.Engine (3800,)
2021-02-20 14:31:08,438 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,439 INFO sqlalchemy.engine.base.Engine (3801,)
2021-02-20 14:31:08,441 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,441 INFO sqlalchemy.engine.base.Engine (3802,)
2021-02-20 14:31:08,442 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,443 INFO sqlalchemy.engine.base.Engine (3803,)
2021-02-20 14:31:08,444 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,445 INFO sqlalchemy.engine.base.Engine (3804,)
2021-02-20 14:31:08,446 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,446 INFO sqlalchemy.engine.base.Engine (3805,)
2021-02-20 14:31:08,448 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,449 INFO sqlalchemy.engine.base.Engine (3806,)
2021-02-20 14:31:08,450 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,451 INFO sqlalchemy.engine.base.Engine (3807,)
2021-02-20 14:31:08,453 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,453 INFO sqlalchemy.engine.base.Engine (3808,)
2021-02-20 14:31:08,454 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,455 INFO sqlalchemy.engine.base.Engine (3809,)
2021-02-20 14:31:08,457 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,457 INFO sqlalchemy.engine.base.Engine (3810,)
2021-02-20 14:31:08,458 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,459 INFO sqlalchemy.engine.base.Engine (3811,)
2021-02-20 14:31:08,460 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,461 INFO sqlalchemy.engine.base.Engine (3812,)
2021-02-20 14:31:08,462 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,462 INFO sqlalchemy.engine.base.Engine (3813,)
2021-02-20 14:31:08,464 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,465 INFO sqlalchemy.engine.base.Engine (3814,)
2021-02-20 14:31:08,466 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,467 INFO sqlalchemy.engine.base.Engine (3815,)
2021-02-20 14:31:08,469 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,469 INFO sqlalchemy.engine.base.Engine (3816,)
2021-02-20 14:31:08,470 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,471 INFO sqlalchemy.engine.base.Engine (3817,)
2021-02-20 14:31:08,473 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,473 INFO sqlalchemy.engine.base.Engine (3818,)
2021-02-20 14:31:08,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,475 INFO sqlalchemy.engine.base.Engine (3819,)
2021-02-20 14:31:08,477 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,477 INFO sqlalchemy.engine.base.Engine (3820,)
2021-02-20 14:31:08,478 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,478 INFO sqlalchemy.engine.base.Engine (3821,)
2021-02-20 14:31:08,481 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,481 INFO sqlalchemy.engine.base.Engine (3822,)
2021-02-20 14:31:08,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,483 INFO sqlalchemy.engine.base.Engine (3823,)
2021-02-20 14:31:08,485 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,486 INFO sqlalchemy.engine.base.Engine (3824,)
2021-02-20 14:31:08,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,487 INFO sqlalchemy.engine.base.Engine (3825,)
2021-02-20 14:31:08,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,490 INFO sqlalchemy.engine.base.Engine (3826,)
2021-02-20 14:31:08,491 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,492 INFO sqlalchemy.engine.base.Engine (3827,)
2021-02-20 14:31:08,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,494 INFO sqlalchemy.engine.base.Engine (3828,)
2021-02-20 14:31:08,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,496 INFO sqlalchemy.engine.base.Engine (3829,)
2021-02-20 14:31:08,499 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,500 INFO sqlalchemy.engine.base.Engine (3830,)
2021-02-20 14:31:08,501 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,502 INFO sqlalchemy.engine.base.Engine (3831,)
2021-02-20 14:31:08,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,505 INFO sqlalchemy.engine.base.Engine (3832,)
2021-02-20 14:31:08,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,507 INFO sqlalchemy.engine.base.Engine (3833,)
2021-02-20 14:31:08,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,511 INFO sqlalchemy.engine.base.Engine (3834,)
2021-02-20 14:31:08,512 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,513 INFO sqlalchemy.engine.base.Engine (3835,)
2021-02-20 14:31:08,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,515 INFO sqlalchemy.engine.base.Engine (3836,)
2021-02-20 14:31:08,516 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,517 INFO sqlalchemy.engine.base.Engine (3837,)
2021-02-20 14:31:08,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,520 INFO sqlalchemy.engine.base.Engine (3838,)
2021-02-20 14:31:08,522 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,522 INFO sqlalchemy.engine.base.Engine (3839,)
2021-02-20 14:31:08,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,528 INFO sqlalchemy.engine.base.Engine (3840,)
2021-02-20 14:31:08,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,531 INFO sqlalchemy.engine.base.Engine (3841,)
2021-02-20 14:31:08,535 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,535 INFO sqlalchemy.engine.base.Engine (3842,)
2021-02-20 14:31:08,537 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,537 INFO sqlalchemy.engine.base.Engine (3843,)
2021-02-20 14:31:08,541 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,541 INFO sqlalchemy.engine.base.Engine (3844,)
2021-02-20 14:31:08,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,543 INFO sqlalchemy.engine.base.Engine (3845,)
2021-02-20 14:31:08,546 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,546 INFO sqlalchemy.engine.base.Engine (3846,)
2021-02-20 14:31:08,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,548 INFO sqlalchemy.engine.base.Engine (3847,)
2021-02-20 14:31:08,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,552 INFO sqlalchemy.engine.base.Engine (3848,)
2021-02-20 14:31:08,553 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,553 INFO sqlalchemy.engine.base.Engine (3849,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:08,595 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:08,596 INFO sqlalchemy.engine.base.Engine ('F78',)
2021-02-20 14:31:08,597 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,597 INFO sqlalchemy.engine.base.Engine ((3850, 14.3, 14.3, 14.3, 152885.90100002542, 122581.71113904844), (3851, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.90100002542, 122581.71113904844), (3852, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152885.90100002542, 122581.71113904844), (3853, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.90100002542, 122581.71113904844), (3854, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152885.90100002542, 122581.71113904844), (3855, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.90100002542, 122581.71113904844), (3856, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152885.90100002542, 122581.71113904844), (3857, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152885.90100002542, 122581.71113904844)  ... displaying 10 of 50 total bound parameter sets ...  (3898, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152885.90100002542, 122581.71113904844), (3899, 135.9, 135.9, 135.9, 152885.90100002542, 122581.71113904844))
2021-02-20 14:31:08,599 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,600 INFO sqlalchemy.engine.base.Engine ((1925, 'F78', 0, 'Anhydrite', 3850, 3851), (1926, 'F78', 1, 'Sandstone, grey, vf-f', 3852, 3853), (1927, 'F78', 2, 'Anhydrite', 3854, 3855), (1928, 'F78', 3, 'Dolomite', 3856, 3857), (1929, 'F78', 4, 'Anhydrite', 3858, 3859), (1930, 'F78', 5, 'Sandstone, grey, vf-f', 3860, 3861), (1931, 'F78', 6, 'Siltstone, red', 3862, 3863), (1932, 'F78', 7, 'Dolomite', 3864, 3865)  ... displaying 10 of 25 total bound parameter sets ...  (1948, 'F78', 23, 'Limestone', 3896, 3897), (1949, 'F78', 24, 'Volcanic', 3898, 3899))
2021-02-20 14:31:08,601 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:08,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:08,606 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:08,607 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:08,609 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:08,610 INFO sqlalchemy.engine.base.Engine ('F78',)
2021-02-20 14:31:08,612 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,613 INFO sqlalchemy.engine.base.Engine (3850,)
2021-02-20 14:31:08,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,616 INFO sqlalchemy.engine.base.Engine (3851,)
2021-02-20 14:31:08,619 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,620 INFO sqlalchemy.engine.base.Engine (3852,)

2021-02-20 14:31:08,621 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,621 INFO sqlalchemy.engine.base.Engine (3853,)
2021-02-20 14:31:08,624 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,625 INFO sqlalchemy.engine.base.Engine (3854,)
2021-02-20 14:31:08,626 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,627 INFO sqlalchemy.engine.base.Engine (3855,)
2021-02-20 14:31:08,630 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,630 INFO sqlalchemy.engine.base.Engine (3856,)
2021-02-20 14:31:08,632 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,632 INFO sqlalchemy.engine.base.Engine (3857,)
2021-02-20 14:31:08,635 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,636 INFO sqlalchemy.engine.base.Engine (3858,)
2021-02-20 14:31:08,637 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,638 INFO sqlalchemy.engine.base.Engine (3859,)
2021-02-20 14:31:08,641 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,641 INFO sqlalchemy.engine.base.Engine (3860,)
2021-02-20 14:31:08,643 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,644 INFO sqlalchemy.engine.base.Engine (3861,)
2021-02-20 14:31:08,646 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,647 INFO sqlalchemy.engine.base.Engine (3862,)
2021-02-20 14:31:08,649 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,650 INFO sqlalchemy.engine.base.Engine (3863,)
2021-02-20 14:31:08,652 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,653 INFO sqlalchemy.engine.base.Engine (3864,)
2021-02-20 14:31:08,654 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,655 INFO sqlalchemy.engine.base.Engine (3865,)
2021-02-20 14:31:08,658 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,658 INFO sqlalchemy.engine.base.Engine (3866,)
2021-02-20 14:31:08,660 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,661 INFO sqlalchemy.engine.base.Engine (3867,)
2021-02-20 14:31:08,663 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,664 INFO sqlalchemy.engine.base.Engine (3868,)
2021-02-20 14:31:08,665 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,666 INFO sqlalchemy.engine.base.Engine (3869,)
2021-02-20 14:31:08,668 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,669 INFO sqlalchemy.engine.base.Engine (3870,)
2021-02-20 14:31:08,671 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,671 INFO sqlalchemy.engine.base.Engine (3871,)
2021-02-20 14:31:08,673 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,674 INFO sqlalchemy.engine.base.Engine (3872,)
2021-02-20 14:31:08,675 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,675 INFO sqlalchemy.engine.base.Engine (3873,)
2021-02-20 14:31:08,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,678 INFO sqlalchemy.engine.base.Engine (3874,)
2021-02-20 14:31:08,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,681 INFO sqlalchemy.engine.base.Engine (3875,)
2021-02-20 14:31:08,683 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,684 INFO sqlalchemy.engine.base.Engine (3876,)
2021-02-20 14:31:08,685 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,686 INFO sqlalchemy.engine.base.Engine (3877,)
2021-02-20 14:31:08,688 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,689 INFO sqlalchemy.engine.base.Engine (3878,)
2021-02-20 14:31:08,690 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,691 INFO sqlalchemy.engine.base.Engine (3879,)
2021-02-20 14:31:08,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,694 INFO sqlalchemy.engine.base.Engine (3880,)
2021-02-20 14:31:08,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,695 INFO sqlalchemy.engine.base.Engine (3881,)
2021-02-20 14:31:08,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,698 INFO sqlalchemy.engine.base.Engine (3882,)
2021-02-20 14:31:08,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,700 INFO sqlalchemy.engine.base.Engine (3883,)
2021-02-20 14:31:08,703 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,704 INFO sqlalchemy.engine.base.Engine (3884,)
2021-02-20 14:31:08,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,706 INFO sqlalchemy.engine.base.Engine (3885,)
2021-02-20 14:31:08,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,711 INFO sqlalchemy.engine.base.Engine (3886,)
2021-02-20 14:31:08,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,713 INFO sqlalchemy.engine.base.Engine (3887,)
2021-02-20 14:31:08,716 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,717 INFO sqlalchemy.engine.base.Engine (3888,)
2021-02-20 14:31:08,718 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,718 INFO sqlalchemy.engine.base.Engine (3889,)
2021-02-20 14:31:08,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,722 INFO sqlalchemy.engine.base.Engine (3890,)
2021-02-20 14:31:08,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,723 INFO sqlalchemy.engine.base.Engine (3891,)
2021-02-20 14:31:08,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,726 INFO sqlalchemy.engine.base.Engine (3892,)
2021-02-20 14:31:08,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,727 INFO sqlalchemy.engine.base.Engine (3893,)
2021-02-20 14:31:08,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,730 INFO sqlalchemy.engine.base.Engine (3894,)
2021-02-20 14:31:08,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,731 INFO sqlalchemy.engine.base.Engine (3895,)
2021-02-20 14:31:08,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,734 INFO sqlalchemy.engine.base.Engine (3896,)
2021-02-20 14:31:08,735 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,736 INFO sqlalchemy.engine.base.Engine (3897,)
2021-02-20 14:31:08,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,739 INFO sqlalchemy.engine.base.Engine (3898,)
2021-02-20 14:31:08,740 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,741 INFO sqlalchemy.engine.base.Engine (3899,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:08,785 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,786 INFO sqlalchemy.engine.base.Engine ((3900, 14.3, 14.3, 14.3, 152886.0900000254, 122578.42713904569), (3901, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.0900000254, 122578.42713904569), (3902, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152886.0900000254, 122578.42713904569), (3903, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.0900000254, 122578.42713904569), (3904, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152886.0900000254, 122578.42713904569), (3905, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.0900000254, 122578.42713904569), (3906, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152886.0900000254, 122578.42713904569), (3907, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152886.0900000254, 122578.42713904569)  ... displaying 10 of 50 total bound parameter sets ...  (3948, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152886.0900000254, 122578.42713904569), (3949, 135.9, 135.9, 135.9, 152886.0900000254, 122578.42713904569))
2021-02-20 14:31:08,788 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:08,788 INFO sqlalchemy.engine.base.Engine ('F79',)
2021-02-20 14:31:08,790 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,790 INFO sqlalchemy.engine.base.Engine ((1950, 'F79', 0, 'Anhydrite', 3900, 3901), (1951, 'F79', 1, 'Sandstone, grey, vf-f', 3902, 3903), (1952, 'F79', 2, 'Anhydrite', 3904, 3905), (1953, 'F79', 3, 'Dolomite', 3906, 3907), (1954, 'F79', 4, 'Anhydrite', 3908, 3909), (1955, 'F79', 5, 'Sandstone, grey, vf-f', 3910, 3911), (1956, 'F79', 6, 'Siltstone, red', 3912, 3913), (1957, 'F79', 7, 'Dolomite', 3914, 3915)  ... displaying 10 of 25 total bound parameter sets ...  (1973, 'F79', 23, 'Limestone', 3946, 3947), (1974, 'F79', 24, 'Volcanic', 3948, 3949))
2021-02-20 14:31:08,792 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:08,796 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:08,797 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:08,798 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:08,801 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:08,802 INFO sqlalchemy.engine.base.Engine ('F79',)
2021-02-20 14:31:08,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,805 INFO sqlalchemy.engine.base.Engine (3900,)
2021-02-20 14:31:08,806 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,807 INFO sqlalchemy.engine.base.Engine (3901,)
2021-02-20 14:31:08,809 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,810 INFO sqlalchemy.engine.base.Engine (3902,)
2021-02-20 14:31:08,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,812 INFO sqlalchemy.engine.base.Engine (3903,)
2021-02-20 14:31:08,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,815 INFO sqlalchemy.engine.base.Engine (3904,)
2021-02-20 14:31:08,816 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,817 INFO sqlalchemy.engine.base.Engine (3905,)
2021-02-20 14:31:08,820 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,820 INFO sqlalchemy.engine.base.Engine (3906,)
2021-02-20 14:31:08,821 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,822 INFO sqlalchemy.engine.base.Engine (3907,)

2021-02-20 14:31:08,824 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,824 INFO sqlalchemy.engine.base.Engine (3908,)
2021-02-20 14:31:08,825 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,826 INFO sqlalchemy.engine.base.Engine (3909,)
2021-02-20 14:31:08,828 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,828 INFO sqlalchemy.engine.base.Engine (3910,)
2021-02-20 14:31:08,829 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,830 INFO sqlalchemy.engine.base.Engine (3911,)
2021-02-20 14:31:08,834 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,835 INFO sqlalchemy.engine.base.Engine (3912,)
2021-02-20 14:31:08,837 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,837 INFO sqlalchemy.engine.base.Engine (3913,)
2021-02-20 14:31:08,840 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,841 INFO sqlalchemy.engine.base.Engine (3914,)
2021-02-20 14:31:08,842 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,842 INFO sqlalchemy.engine.base.Engine (3915,)
2021-02-20 14:31:08,844 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,845 INFO sqlalchemy.engine.base.Engine (3916,)
2021-02-20 14:31:08,846 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,847 INFO sqlalchemy.engine.base.Engine (3917,)
2021-02-20 14:31:08,849 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,849 INFO sqlalchemy.engine.base.Engine (3918,)
2021-02-20 14:31:08,850 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,851 INFO sqlalchemy.engine.base.Engine (3919,)
2021-02-20 14:31:08,853 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,853 INFO sqlalchemy.engine.base.Engine (3920,)
2021-02-20 14:31:08,854 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,855 INFO sqlalchemy.engine.base.Engine (3921,)
2021-02-20 14:31:08,857 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,858 INFO sqlalchemy.engine.base.Engine (3922,)
2021-02-20 14:31:08,859 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,860 INFO sqlalchemy.engine.base.Engine (3923,)
2021-02-20 14:31:08,863 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,864 INFO sqlalchemy.engine.base.Engine (3924,)
2021-02-20 14:31:08,866 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,868 INFO sqlalchemy.engine.base.Engine (3925,)
2021-02-20 14:31:08,872 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,873 INFO sqlalchemy.engine.base.Engine (3926,)
2021-02-20 14:31:08,875 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,876 INFO sqlalchemy.engine.base.Engine (3927,)
2021-02-20 14:31:08,879 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,880 INFO sqlalchemy.engine.base.Engine (3928,)
2021-02-20 14:31:08,881 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,882 INFO sqlalchemy.engine.base.Engine (3929,)
2021-02-20 14:31:08,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,885 INFO sqlalchemy.engine.base.Engine (3930,)
2021-02-20 14:31:08,885 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,886 INFO sqlalchemy.engine.base.Engine (3931,)
2021-02-20 14:31:08,888 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,889 INFO sqlalchemy.engine.base.Engine (3932,)
2021-02-20 14:31:08,890 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,891 INFO sqlalchemy.engine.base.Engine (3933,)
2021-02-20 14:31:08,894 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,894 INFO sqlalchemy.engine.base.Engine (3934,)
2021-02-20 14:31:08,896 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,897 INFO sqlalchemy.engine.base.Engine (3935,)
2021-02-20 14:31:08,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,900 INFO sqlalchemy.engine.base.Engine (3936,)
2021-02-20 14:31:08,901 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,902 INFO sqlalchemy.engine.base.Engine (3937,)
2021-02-20 14:31:08,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,904 INFO sqlalchemy.engine.base.Engine (3938,)
2021-02-20 14:31:08,905 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,906 INFO sqlalchemy.engine.base.Engine (3939,)
2021-02-20 14:31:08,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,908 INFO sqlalchemy.engine.base.Engine (3940,)
2021-02-20 14:31:08,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,910 INFO sqlalchemy.engine.base.Engine (3941,)
2021-02-20 14:31:08,912 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,913 INFO sqlalchemy.engine.base.Engine (3942,)
2021-02-20 14:31:08,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,914 INFO sqlalchemy.engine.base.Engine (3943,)
2021-02-20 14:31:08,916 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,917 INFO sqlalchemy.engine.base.Engine (3944,)
2021-02-20 14:31:08,919 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,919 INFO sqlalchemy.engine.base.Engine (3945,)
2021-02-20 14:31:08,923 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,923 INFO sqlalchemy.engine.base.Engine (3946,)
2021-02-20 14:31:08,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,926 INFO sqlalchemy.engine.base.Engine (3947,)
2021-02-20 14:31:08,930 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:08,932 INFO sqlalchemy.engine.base.Engine (3948,)
2021-02-20 14:31:08,933 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:08,934 INFO sqlalchemy.engine.base.Engine (3949,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:08,984 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:08,984 INFO sqlalchemy.engine.base.Engine ('F80',)
2021-02-20 14:31:08,986 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:08,987 INFO sqlalchemy.engine.base.Engine ((3950, 14.3, 14.3, 14.3, 152883.68000002543, 122577.58713904768), (3951, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.68000002543, 122577.58713904768), (3952, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152883.68000002543, 122577.58713904768), (3953, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.68000002543, 122577.58713904768), (3954, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152883.68000002543, 122577.58713904768), (3955, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.68000002543, 122577.58713904768), (3956, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152883.68000002543, 122577.58713904768), (3957, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152883.68000002543, 122577.58713904768)  ... displaying 10 of 50 total bound parameter sets ...  (3998, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152883.68000002543, 122577.58713904768), (3999, 135.9, 135.9, 135.9, 152883.68000002543, 122577.58713904768))
2021-02-20 14:31:09,069 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,070 INFO sqlalchemy.engine.base.Engine ((1975, 'F80', 0, 'Anhydrite', 3950, 3951), (1976, 'F80', 1, 'Sandstone, grey, vf-f', 3952, 3953), (1977, 'F80', 2, 'Anhydrite', 3954, 3955), (1978, 'F80', 3, 'Dolomite', 3956, 3957), (1979, 'F80', 4, 'Anhydrite', 3958, 3959), (1980, 'F80', 5, 'Sandstone, grey, vf-f', 3960, 3961), (1981, 'F80', 6, 'Siltstone, red', 3962, 3963), (1982, 'F80', 7, 'Dolomite', 3964, 3965)  ... displaying 10 of 25 total bound parameter sets ...  (1998, 'F80', 23, 'Limestone', 3996, 3997), (1999, 'F80', 24, 'Volcanic', 3998, 3999))
2021-02-20 14:31:09,071 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:09,076 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:09,077 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:09,078 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:09,080 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:09,081 INFO sqlalchemy.engine.base.Engine ('F80',)
2021-02-20 14:31:09,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,085 INFO sqlalchemy.engine.base.Engine (3950,)
2021-02-20 14:31:09,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,087 INFO sqlalchemy.engine.base.Engine (3951,)
2021-02-20 14:31:09,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,090 INFO sqlalchemy.engine.base.Engine (3952,)
2021-02-20 14:31:09,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,092 INFO sqlalchemy.engine.base.Engine (3953,)
2021-02-20 14:31:09,094 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,094 INFO sqlalchemy.engine.base.Engine (3954,)
2021-02-20 14:31:09,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,097 INFO sqlalchemy.engine.base.Engine (3955,)
2021-02-20 14:31:09,100 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,102 INFO sqlalchemy.engine.base.Engine (3956,)
2021-02-20 14:31:09,103 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,104 INFO sqlalchemy.engine.base.Engine (3957,)
2021-02-20 14:31:09,106 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,107 INFO sqlalchemy.engine.base.Engine (3958,)
2021-02-20 14:31:09,107 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,108 INFO sqlalchemy.engine.base.Engine (3959,)
2021-02-20 14:31:09,110 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,111 INFO sqlalchemy.engine.base.Engine (3960,)
2021-02-20 14:31:09,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,113 INFO sqlalchemy.engine.base.Engine (3961,)
2021-02-20 14:31:09,117 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,118 INFO sqlalchemy.engine.base.Engine (3962,)

2021-02-20 14:31:09,119 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,120 INFO sqlalchemy.engine.base.Engine (3963,)
2021-02-20 14:31:09,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,124 INFO sqlalchemy.engine.base.Engine (3964,)
2021-02-20 14:31:09,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,126 INFO sqlalchemy.engine.base.Engine (3965,)
2021-02-20 14:31:09,128 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,128 INFO sqlalchemy.engine.base.Engine (3966,)
2021-02-20 14:31:09,129 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,130 INFO sqlalchemy.engine.base.Engine (3967,)
2021-02-20 14:31:09,132 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,133 INFO sqlalchemy.engine.base.Engine (3968,)
2021-02-20 14:31:09,136 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,136 INFO sqlalchemy.engine.base.Engine (3969,)
2021-02-20 14:31:09,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,141 INFO sqlalchemy.engine.base.Engine (3970,)
2021-02-20 14:31:09,142 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,143 INFO sqlalchemy.engine.base.Engine (3971,)
2021-02-20 14:31:09,147 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,147 INFO sqlalchemy.engine.base.Engine (3972,)
2021-02-20 14:31:09,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,149 INFO sqlalchemy.engine.base.Engine (3973,)
2021-02-20 14:31:09,151 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,152 INFO sqlalchemy.engine.base.Engine (3974,)
2021-02-20 14:31:09,153 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,154 INFO sqlalchemy.engine.base.Engine (3975,)
2021-02-20 14:31:09,156 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,157 INFO sqlalchemy.engine.base.Engine (3976,)
2021-02-20 14:31:09,158 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,159 INFO sqlalchemy.engine.base.Engine (3977,)
2021-02-20 14:31:09,163 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,164 INFO sqlalchemy.engine.base.Engine (3978,)
2021-02-20 14:31:09,166 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,166 INFO sqlalchemy.engine.base.Engine (3979,)
2021-02-20 14:31:09,169 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,169 INFO sqlalchemy.engine.base.Engine (3980,)
2021-02-20 14:31:09,171 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,171 INFO sqlalchemy.engine.base.Engine (3981,)
2021-02-20 14:31:09,174 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,174 INFO sqlalchemy.engine.base.Engine (3982,)
2021-02-20 14:31:09,175 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,176 INFO sqlalchemy.engine.base.Engine (3983,)
2021-02-20 14:31:09,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,181 INFO sqlalchemy.engine.base.Engine (3984,)
2021-02-20 14:31:09,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,183 INFO sqlalchemy.engine.base.Engine (3985,)
2021-02-20 14:31:09,185 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,186 INFO sqlalchemy.engine.base.Engine (3986,)
2021-02-20 14:31:09,187 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,188 INFO sqlalchemy.engine.base.Engine (3987,)
2021-02-20 14:31:09,190 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,191 INFO sqlalchemy.engine.base.Engine (3988,)
2021-02-20 14:31:09,191 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,192 INFO sqlalchemy.engine.base.Engine (3989,)
2021-02-20 14:31:09,196 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,196 INFO sqlalchemy.engine.base.Engine (3990,)
2021-02-20 14:31:09,198 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,199 INFO sqlalchemy.engine.base.Engine (3991,)
2021-02-20 14:31:09,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,203 INFO sqlalchemy.engine.base.Engine (3992,)
2021-02-20 14:31:09,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,205 INFO sqlalchemy.engine.base.Engine (3993,)
2021-02-20 14:31:09,208 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,209 INFO sqlalchemy.engine.base.Engine (3994,)
2021-02-20 14:31:09,210 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,211 INFO sqlalchemy.engine.base.Engine (3995,)
2021-02-20 14:31:09,214 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,214 INFO sqlalchemy.engine.base.Engine (3996,)
2021-02-20 14:31:09,215 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,216 INFO sqlalchemy.engine.base.Engine (3997,)
2021-02-20 14:31:09,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,219 INFO sqlalchemy.engine.base.Engine (3998,)
2021-02-20 14:31:09,220 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,221 INFO sqlalchemy.engine.base.Engine (3999,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:09,262 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:09,263 INFO sqlalchemy.engine.base.Engine ('F81',)
2021-02-20 14:31:09,265 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,265 INFO sqlalchemy.engine.base.Engine ((4000, 14.3, 14.3, 14.3, 152884.2410000254, 122576.7521390468), (4001, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.2410000254, 122576.7521390468), (4002, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.2410000254, 122576.7521390468), (4003, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.2410000254, 122576.7521390468), (4004, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.2410000254, 122576.7521390468), (4005, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.2410000254, 122576.7521390468), (4006, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.2410000254, 122576.7521390468), (4007, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152884.2410000254, 122576.7521390468)  ... displaying 10 of 50 total bound parameter sets ...  (4048, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152884.2410000254, 122576.7521390468), (4049, 135.9, 135.9, 135.9, 152884.2410000254, 122576.7521390468))
2021-02-20 14:31:09,268 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,268 INFO sqlalchemy.engine.base.Engine ((2000, 'F81', 0, 'Anhydrite', 4000, 4001), (2001, 'F81', 1, 'Sandstone, grey, vf-f', 4002, 4003), (2002, 'F81', 2, 'Anhydrite', 4004, 4005), (2003, 'F81', 3, 'Dolomite', 4006, 4007), (2004, 'F81', 4, 'Anhydrite', 4008, 4009), (2005, 'F81', 5, 'Sandstone, grey, vf-f', 4010, 4011), (2006, 'F81', 6, 'Siltstone, red', 4012, 4013), (2007, 'F81', 7, 'Dolomite', 4014, 4015)  ... displaying 10 of 25 total bound parameter sets ...  (2023, 'F81', 23, 'Limestone', 4046, 4047), (2024, 'F81', 24, 'Volcanic', 4048, 4049))

2021-02-20 14:31:09,270 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:09,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:09,277 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:09,278 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:09,281 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:09,282 INFO sqlalchemy.engine.base.Engine ('F81',)
2021-02-20 14:31:09,283 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,284 INFO sqlalchemy.engine.base.Engine (4000,)
2021-02-20 14:31:09,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,287 INFO sqlalchemy.engine.base.Engine (4001,)
2021-02-20 14:31:09,289 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,289 INFO sqlalchemy.engine.base.Engine (4002,)
2021-02-20 14:31:09,290 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,291 INFO sqlalchemy.engine.base.Engine (4003,)
2021-02-20 14:31:09,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,293 INFO sqlalchemy.engine.base.Engine (4004,)
2021-02-20 14:31:09,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,295 INFO sqlalchemy.engine.base.Engine (4005,)
2021-02-20 14:31:09,297 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,297 INFO sqlalchemy.engine.base.Engine (4006,)
2021-02-20 14:31:09,299 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,300 INFO sqlalchemy.engine.base.Engine (4007,)
2021-02-20 14:31:09,304 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,304 INFO sqlalchemy.engine.base.Engine (4008,)
2021-02-20 14:31:09,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,307 INFO sqlalchemy.engine.base.Engine (4009,)
2021-02-20 14:31:09,309 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,310 INFO sqlalchemy.engine.base.Engine (4010,)
2021-02-20 14:31:09,311 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,311 INFO sqlalchemy.engine.base.Engine (4011,)
2021-02-20 14:31:09,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,314 INFO sqlalchemy.engine.base.Engine (4012,)
2021-02-20 14:31:09,316 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,317 INFO sqlalchemy.engine.base.Engine (4013,)
2021-02-20 14:31:09,321 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,322 INFO sqlalchemy.engine.base.Engine (4014,)
2021-02-20 14:31:09,323 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,324 INFO sqlalchemy.engine.base.Engine (4015,)
2021-02-20 14:31:09,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,328 INFO sqlalchemy.engine.base.Engine (4016,)
2021-02-20 14:31:09,329 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,330 INFO sqlalchemy.engine.base.Engine (4017,)
2021-02-20 14:31:09,332 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,333 INFO sqlalchemy.engine.base.Engine (4018,)
2021-02-20 14:31:09,334 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,335 INFO sqlalchemy.engine.base.Engine (4019,)
2021-02-20 14:31:09,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,339 INFO sqlalchemy.engine.base.Engine (4020,)
2021-02-20 14:31:09,341 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,342 INFO sqlalchemy.engine.base.Engine (4021,)
2021-02-20 14:31:09,344 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,345 INFO sqlalchemy.engine.base.Engine (4022,)
2021-02-20 14:31:09,346 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,346 INFO sqlalchemy.engine.base.Engine (4023,)
2021-02-20 14:31:09,348 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,349 INFO sqlalchemy.engine.base.Engine (4024,)
2021-02-20 14:31:09,350 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,351 INFO sqlalchemy.engine.base.Engine (4025,)
2021-02-20 14:31:09,353 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,354 INFO sqlalchemy.engine.base.Engine (4026,)
2021-02-20 14:31:09,355 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,355 INFO sqlalchemy.engine.base.Engine (4027,)
2021-02-20 14:31:09,357 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,359 INFO sqlalchemy.engine.base.Engine (4028,)
2021-02-20 14:31:09,360 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,360 INFO sqlalchemy.engine.base.Engine (4029,)
2021-02-20 14:31:09,362 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,363 INFO sqlalchemy.engine.base.Engine (4030,)
2021-02-20 14:31:09,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,366 INFO sqlalchemy.engine.base.Engine (4031,)
2021-02-20 14:31:09,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,370 INFO sqlalchemy.engine.base.Engine (4032,)
2021-02-20 14:31:09,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,373 INFO sqlalchemy.engine.base.Engine (4033,)
2021-02-20 14:31:09,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,375 INFO sqlalchemy.engine.base.Engine (4034,)
2021-02-20 14:31:09,376 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,377 INFO sqlalchemy.engine.base.Engine (4035,)
2021-02-20 14:31:09,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,380 INFO sqlalchemy.engine.base.Engine (4036,)
2021-02-20 14:31:09,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,382 INFO sqlalchemy.engine.base.Engine (4037,)
2021-02-20 14:31:09,384 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,384 INFO sqlalchemy.engine.base.Engine (4038,)
2021-02-20 14:31:09,386 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,386 INFO sqlalchemy.engine.base.Engine (4039,)
2021-02-20 14:31:09,388 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,389 INFO sqlalchemy.engine.base.Engine (4040,)
2021-02-20 14:31:09,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,391 INFO sqlalchemy.engine.base.Engine (4041,)
2021-02-20 14:31:09,393 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,393 INFO sqlalchemy.engine.base.Engine (4042,)
2021-02-20 14:31:09,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,395 INFO sqlalchemy.engine.base.Engine (4043,)
2021-02-20 14:31:09,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,397 INFO sqlalchemy.engine.base.Engine (4044,)
2021-02-20 14:31:09,398 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,399 INFO sqlalchemy.engine.base.Engine (4045,)
2021-02-20 14:31:09,402 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,403 INFO sqlalchemy.engine.base.Engine (4046,)
2021-02-20 14:31:09,404 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,405 INFO sqlalchemy.engine.base.Engine (4047,)
2021-02-20 14:31:09,408 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,408 INFO sqlalchemy.engine.base.Engine (4048,)
2021-02-20 14:31:09,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,410 INFO sqlalchemy.engine.base.Engine (4049,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:09,452 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:09,453 INFO sqlalchemy.engine.base.Engine ('F82',)
2021-02-20 14:31:09,455 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,456 INFO sqlalchemy.engine.base.Engine ((4050, 14.3, 14.3, 14.3, 152888.6360000254, 122578.79613904748), (4051, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.6360000254, 122578.79613904748), (4052, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152888.6360000254, 122578.79613904748), (4053, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.6360000254, 122578.79613904748), (4054, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152888.6360000254, 122578.79613904748), (4055, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.6360000254, 122578.79613904748), (4056, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152888.6360000254, 122578.79613904748), (4057, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152888.6360000254, 122578.79613904748)  ... displaying 10 of 50 total bound parameter sets ...  (4098, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152888.6360000254, 122578.79613904748), (4099, 135.9, 135.9, 135.9, 152888.6360000254, 122578.79613904748))
2021-02-20 14:31:09,458 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,458 INFO sqlalchemy.engine.base.Engine ((2025, 'F82', 0, 'Anhydrite', 4050, 4051), (2026, 'F82', 1, 'Sandstone, grey, vf-f', 4052, 4053), (2027, 'F82', 2, 'Anhydrite', 4054, 4055), (2028, 'F82', 3, 'Dolomite', 4056, 4057), (2029, 'F82', 4, 'Anhydrite', 4058, 4059), (2030, 'F82', 5, 'Sandstone, grey, vf-f', 4060, 4061), (2031, 'F82', 6, 'Siltstone, red', 4062, 4063), (2032, 'F82', 7, 'Dolomite', 4064, 4065)  ... displaying 10 of 25 total bound parameter sets ...  (2048, 'F82', 23, 'Limestone', 4096, 4097), (2049, 'F82', 24, 'Volcanic', 4098, 4099))
2021-02-20 14:31:09,460 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:09,466 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:09,467 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:09,468 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:09,471 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:09,472 INFO sqlalchemy.engine.base.Engine ('F82',)
2021-02-20 14:31:09,474 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,475 INFO sqlalchemy.engine.base.Engine (4050,)
2021-02-20 14:31:09,476 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,477 INFO sqlalchemy.engine.base.Engine (4051,)
2021-02-20 14:31:09,480 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,482 INFO sqlalchemy.engine.base.Engine (4052,)

2021-02-20 14:31:09,483 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,484 INFO sqlalchemy.engine.base.Engine (4053,)
2021-02-20 14:31:09,487 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,488 INFO sqlalchemy.engine.base.Engine (4054,)
2021-02-20 14:31:09,489 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,490 INFO sqlalchemy.engine.base.Engine (4055,)
2021-02-20 14:31:09,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,494 INFO sqlalchemy.engine.base.Engine (4056,)
2021-02-20 14:31:09,496 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,497 INFO sqlalchemy.engine.base.Engine (4057,)
2021-02-20 14:31:09,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,501 INFO sqlalchemy.engine.base.Engine (4058,)
2021-02-20 14:31:09,503 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,503 INFO sqlalchemy.engine.base.Engine (4059,)
2021-02-20 14:31:09,507 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,507 INFO sqlalchemy.engine.base.Engine (4060,)
2021-02-20 14:31:09,509 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,510 INFO sqlalchemy.engine.base.Engine (4061,)
2021-02-20 14:31:09,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,513 INFO sqlalchemy.engine.base.Engine (4062,)
2021-02-20 14:31:09,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,515 INFO sqlalchemy.engine.base.Engine (4063,)
2021-02-20 14:31:09,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,520 INFO sqlalchemy.engine.base.Engine (4064,)
2021-02-20 14:31:09,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,522 INFO sqlalchemy.engine.base.Engine (4065,)
2021-02-20 14:31:09,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,526 INFO sqlalchemy.engine.base.Engine (4066,)
2021-02-20 14:31:09,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,527 INFO sqlalchemy.engine.base.Engine (4067,)
2021-02-20 14:31:09,529 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,530 INFO sqlalchemy.engine.base.Engine (4068,)
2021-02-20 14:31:09,531 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,531 INFO sqlalchemy.engine.base.Engine (4069,)
2021-02-20 14:31:09,534 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,534 INFO sqlalchemy.engine.base.Engine (4070,)
2021-02-20 14:31:09,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,536 INFO sqlalchemy.engine.base.Engine (4071,)
2021-02-20 14:31:09,540 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,540 INFO sqlalchemy.engine.base.Engine (4072,)
2021-02-20 14:31:09,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,542 INFO sqlalchemy.engine.base.Engine (4073,)
2021-02-20 14:31:09,545 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,546 INFO sqlalchemy.engine.base.Engine (4074,)
2021-02-20 14:31:09,547 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,547 INFO sqlalchemy.engine.base.Engine (4075,)
2021-02-20 14:31:09,551 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,551 INFO sqlalchemy.engine.base.Engine (4076,)
2021-02-20 14:31:09,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,553 INFO sqlalchemy.engine.base.Engine (4077,)
2021-02-20 14:31:09,555 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,555 INFO sqlalchemy.engine.base.Engine (4078,)
2021-02-20 14:31:09,556 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,557 INFO sqlalchemy.engine.base.Engine (4079,)
2021-02-20 14:31:09,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,559 INFO sqlalchemy.engine.base.Engine (4080,)
2021-02-20 14:31:09,560 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,561 INFO sqlalchemy.engine.base.Engine (4081,)
2021-02-20 14:31:09,564 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,564 INFO sqlalchemy.engine.base.Engine (4082,)
2021-02-20 14:31:09,566 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,566 INFO sqlalchemy.engine.base.Engine (4083,)
2021-02-20 14:31:09,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,570 INFO sqlalchemy.engine.base.Engine (4084,)
2021-02-20 14:31:09,572 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,572 INFO sqlalchemy.engine.base.Engine (4085,)
2021-02-20 14:31:09,574 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,575 INFO sqlalchemy.engine.base.Engine (4086,)
2021-02-20 14:31:09,576 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,577 INFO sqlalchemy.engine.base.Engine (4087,)
2021-02-20 14:31:09,579 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,580 INFO sqlalchemy.engine.base.Engine (4088,)
2021-02-20 14:31:09,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,583 INFO sqlalchemy.engine.base.Engine (4089,)
2021-02-20 14:31:09,586 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,588 INFO sqlalchemy.engine.base.Engine (4090,)
2021-02-20 14:31:09,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,589 INFO sqlalchemy.engine.base.Engine (4091,)
2021-02-20 14:31:09,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,592 INFO sqlalchemy.engine.base.Engine (4092,)
2021-02-20 14:31:09,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,594 INFO sqlalchemy.engine.base.Engine (4093,)
2021-02-20 14:31:09,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,597 INFO sqlalchemy.engine.base.Engine (4094,)
2021-02-20 14:31:09,598 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,599 INFO sqlalchemy.engine.base.Engine (4095,)
2021-02-20 14:31:09,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,603 INFO sqlalchemy.engine.base.Engine (4096,)
2021-02-20 14:31:09,605 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,605 INFO sqlalchemy.engine.base.Engine (4097,)
2021-02-20 14:31:09,608 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,608 INFO sqlalchemy.engine.base.Engine (4098,)
2021-02-20 14:31:09,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,610 INFO sqlalchemy.engine.base.Engine (4099,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:09,658 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,659 INFO sqlalchemy.engine.base.Engine ((4100, 14.3, 14.3, 14.3, 152887.36800002542, 122581.0071390476), (4101, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.36800002542, 122581.0071390476), (4102, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152887.36800002542, 122581.0071390476), (4103, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.36800002542, 122581.0071390476), (4104, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152887.36800002542, 122581.0071390476), (4105, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.36800002542, 122581.0071390476), (4106, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152887.36800002542, 122581.0071390476), (4107, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152887.36800002542, 122581.0071390476)  ... displaying 10 of 50 total bound parameter sets ...  (4148, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152887.36800002542, 122581.0071390476), (4149, 135.9, 135.9, 135.9, 152887.36800002542, 122581.0071390476))
2021-02-20 14:31:09,660 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:09,661 INFO sqlalchemy.engine.base.Engine ('F83',)
2021-02-20 14:31:09,664 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,664 INFO sqlalchemy.engine.base.Engine ((2050, 'F83', 0, 'Anhydrite', 4100, 4101), (2051, 'F83', 1, 'Sandstone, grey, vf-f', 4102, 4103), (2052, 'F83', 2, 'Anhydrite', 4104, 4105), (2053, 'F83', 3, 'Dolomite', 4106, 4107), (2054, 'F83', 4, 'Anhydrite', 4108, 4109), (2055, 'F83', 5, 'Sandstone, grey, vf-f', 4110, 4111), (2056, 'F83', 6, 'Siltstone, red', 4112, 4113), (2057, 'F83', 7, 'Dolomite', 4114, 4115)  ... displaying 10 of 25 total bound parameter sets ...  (2073, 'F83', 23, 'Limestone', 4146, 4147), (2074, 'F83', 24, 'Volcanic', 4148, 4149))
2021-02-20 14:31:09,666 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:09,671 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:09,672 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:09,673 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:09,675 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:09,676 INFO sqlalchemy.engine.base.Engine ('F83',)
2021-02-20 14:31:09,678 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,678 INFO sqlalchemy.engine.base.Engine (4100,)
2021-02-20 14:31:09,680 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,681 INFO sqlalchemy.engine.base.Engine (4101,)
2021-02-20 14:31:09,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,685 INFO sqlalchemy.engine.base.Engine (4102,)
2021-02-20 14:31:09,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,687 INFO sqlalchemy.engine.base.Engine (4103,)
2021-02-20 14:31:09,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,689 INFO sqlalchemy.engine.base.Engine (4104,)
2021-02-20 14:31:09,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,691 INFO sqlalchemy.engine.base.Engine (4105,)
2021-02-20 14:31:09,693 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,694 INFO sqlalchemy.engine.base.Engine (4106,)
2021-02-20 14:31:09,695 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,696 INFO sqlalchemy.engine.base.Engine (4107,)

2021-02-20 14:31:09,698 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,698 INFO sqlalchemy.engine.base.Engine (4108,)
2021-02-20 14:31:09,700 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,701 INFO sqlalchemy.engine.base.Engine (4109,)
2021-02-20 14:31:09,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,705 INFO sqlalchemy.engine.base.Engine (4110,)
2021-02-20 14:31:09,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,707 INFO sqlalchemy.engine.base.Engine (4111,)
2021-02-20 14:31:09,710 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,711 INFO sqlalchemy.engine.base.Engine (4112,)
2021-02-20 14:31:09,712 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,713 INFO sqlalchemy.engine.base.Engine (4113,)
2021-02-20 14:31:09,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,716 INFO sqlalchemy.engine.base.Engine (4114,)
2021-02-20 14:31:09,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,718 INFO sqlalchemy.engine.base.Engine (4115,)
2021-02-20 14:31:09,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,721 INFO sqlalchemy.engine.base.Engine (4116,)
2021-02-20 14:31:09,723 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,723 INFO sqlalchemy.engine.base.Engine (4117,)
2021-02-20 14:31:09,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,727 INFO sqlalchemy.engine.base.Engine (4118,)
2021-02-20 14:31:09,729 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,729 INFO sqlalchemy.engine.base.Engine (4119,)
2021-02-20 14:31:09,732 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,732 INFO sqlalchemy.engine.base.Engine (4120,)
2021-02-20 14:31:09,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,734 INFO sqlalchemy.engine.base.Engine (4121,)
2021-02-20 14:31:09,736 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,737 INFO sqlalchemy.engine.base.Engine (4122,)
2021-02-20 14:31:09,738 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,739 INFO sqlalchemy.engine.base.Engine (4123,)
2021-02-20 14:31:09,742 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,743 INFO sqlalchemy.engine.base.Engine (4124,)
2021-02-20 14:31:09,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,745 INFO sqlalchemy.engine.base.Engine (4125,)
2021-02-20 14:31:09,749 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,749 INFO sqlalchemy.engine.base.Engine (4126,)
2021-02-20 14:31:09,751 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,752 INFO sqlalchemy.engine.base.Engine (4127,)
2021-02-20 14:31:09,756 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,756 INFO sqlalchemy.engine.base.Engine (4128,)
2021-02-20 14:31:09,758 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,759 INFO sqlalchemy.engine.base.Engine (4129,)
2021-02-20 14:31:09,762 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,763 INFO sqlalchemy.engine.base.Engine (4130,)
2021-02-20 14:31:09,764 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,765 INFO sqlalchemy.engine.base.Engine (4131,)
2021-02-20 14:31:09,767 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,767 INFO sqlalchemy.engine.base.Engine (4132,)
2021-02-20 14:31:09,769 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,769 INFO sqlalchemy.engine.base.Engine (4133,)
2021-02-20 14:31:09,773 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,773 INFO sqlalchemy.engine.base.Engine (4134,)
2021-02-20 14:31:09,775 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,776 INFO sqlalchemy.engine.base.Engine (4135,)
2021-02-20 14:31:09,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,778 INFO sqlalchemy.engine.base.Engine (4136,)
2021-02-20 14:31:09,780 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,780 INFO sqlalchemy.engine.base.Engine (4137,)
2021-02-20 14:31:09,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,783 INFO sqlalchemy.engine.base.Engine (4138,)
2021-02-20 14:31:09,785 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,785 INFO sqlalchemy.engine.base.Engine (4139,)
2021-02-20 14:31:09,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,789 INFO sqlalchemy.engine.base.Engine (4140,)
2021-02-20 14:31:09,790 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,791 INFO sqlalchemy.engine.base.Engine (4141,)
2021-02-20 14:31:09,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,795 INFO sqlalchemy.engine.base.Engine (4142,)
2021-02-20 14:31:09,796 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,796 INFO sqlalchemy.engine.base.Engine (4143,)
2021-02-20 14:31:09,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,799 INFO sqlalchemy.engine.base.Engine (4144,)
2021-02-20 14:31:09,800 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,801 INFO sqlalchemy.engine.base.Engine (4145,)
2021-02-20 14:31:09,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,805 INFO sqlalchemy.engine.base.Engine (4146,)
2021-02-20 14:31:09,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,808 INFO sqlalchemy.engine.base.Engine (4147,)
2021-02-20 14:31:09,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,812 INFO sqlalchemy.engine.base.Engine (4148,)
2021-02-20 14:31:09,814 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,815 INFO sqlalchemy.engine.base.Engine (4149,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:09,859 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,860 INFO sqlalchemy.engine.base.Engine ((4150, 14.3, 14.3, 14.3, 152893.12600002543, 122602.45613904764), (4151, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.12600002543, 122602.45613904764), (4152, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152893.12600002543, 122602.45613904764), (4153, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.12600002543, 122602.45613904764), (4154, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152893.12600002543, 122602.45613904764), (4155, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.12600002543, 122602.45613904764), (4156, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152893.12600002543, 122602.45613904764), (4157, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152893.12600002543, 122602.45613904764)  ... displaying 10 of 50 total bound parameter sets ...  (4198, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152893.12600002543, 122602.45613904764), (4199, 135.9, 135.9, 135.9, 152893.12600002543, 122602.45613904764))
2021-02-20 14:31:09,862 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:09,863 INFO sqlalchemy.engine.base.Engine ('F84',)
2021-02-20 14:31:09,866 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:09,867 INFO sqlalchemy.engine.base.Engine ((2075, 'F84', 0, 'Anhydrite', 4150, 4151), (2076, 'F84', 1, 'Sandstone, grey, vf-f', 4152, 4153), (2077, 'F84', 2, 'Anhydrite', 4154, 4155), (2078, 'F84', 3, 'Dolomite', 4156, 4157), (2079, 'F84', 4, 'Anhydrite', 4158, 4159), (2080, 'F84', 5, 'Sandstone, grey, vf-f', 4160, 4161), (2081, 'F84', 6, 'Siltstone, red', 4162, 4163), (2082, 'F84', 7, 'Dolomite', 4164, 4165)  ... displaying 10 of 25 total bound parameter sets ...  (2098, 'F84', 23, 'Limestone', 4196, 4197), (2099, 'F84', 24, 'Volcanic', 4198, 4199))
2021-02-20 14:31:09,870 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:09,875 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:09,876 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:09,877 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:09,879 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:09,880 INFO sqlalchemy.engine.base.Engine ('F84',)
2021-02-20 14:31:09,882 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,883 INFO sqlalchemy.engine.base.Engine (4150,)
2021-02-20 14:31:09,884 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,885 INFO sqlalchemy.engine.base.Engine (4151,)
2021-02-20 14:31:09,889 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,889 INFO sqlalchemy.engine.base.Engine (4152,)
2021-02-20 14:31:09,891 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,892 INFO sqlalchemy.engine.base.Engine (4153,)
2021-02-20 14:31:09,895 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,896 INFO sqlalchemy.engine.base.Engine (4154,)
2021-02-20 14:31:09,897 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,897 INFO sqlalchemy.engine.base.Engine (4155,)
2021-02-20 14:31:09,899 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,899 INFO sqlalchemy.engine.base.Engine (4156,)
2021-02-20 14:31:09,900 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,901 INFO sqlalchemy.engine.base.Engine (4157,)
2021-02-20 14:31:09,902 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,903 INFO sqlalchemy.engine.base.Engine (4158,)
2021-02-20 14:31:09,904 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,904 INFO sqlalchemy.engine.base.Engine (4159,)
2021-02-20 14:31:09,906 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,906 INFO sqlalchemy.engine.base.Engine (4160,)
2021-02-20 14:31:09,908 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,908 INFO sqlalchemy.engine.base.Engine (4161,)
2021-02-20 14:31:09,910 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,910 INFO sqlalchemy.engine.base.Engine (4162,)

2021-02-20 14:31:09,911 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,912 INFO sqlalchemy.engine.base.Engine (4163,)
2021-02-20 14:31:09,913 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,914 INFO sqlalchemy.engine.base.Engine (4164,)
2021-02-20 14:31:09,914 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,915 INFO sqlalchemy.engine.base.Engine (4165,)
2021-02-20 14:31:09,917 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,917 INFO sqlalchemy.engine.base.Engine (4166,)
2021-02-20 14:31:09,918 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,918 INFO sqlalchemy.engine.base.Engine (4167,)
2021-02-20 14:31:09,920 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,921 INFO sqlalchemy.engine.base.Engine (4168,)
2021-02-20 14:31:09,922 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,922 INFO sqlalchemy.engine.base.Engine (4169,)
2021-02-20 14:31:09,925 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,926 INFO sqlalchemy.engine.base.Engine (4170,)
2021-02-20 14:31:09,927 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,928 INFO sqlalchemy.engine.base.Engine (4171,)
2021-02-20 14:31:09,931 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,931 INFO sqlalchemy.engine.base.Engine (4172,)
2021-02-20 14:31:09,932 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,933 INFO sqlalchemy.engine.base.Engine (4173,)
2021-02-20 14:31:09,936 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,936 INFO sqlalchemy.engine.base.Engine (4174,)
2021-02-20 14:31:09,938 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,938 INFO sqlalchemy.engine.base.Engine (4175,)
2021-02-20 14:31:09,940 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,941 INFO sqlalchemy.engine.base.Engine (4176,)
2021-02-20 14:31:09,942 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,942 INFO sqlalchemy.engine.base.Engine (4177,)
2021-02-20 14:31:09,944 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,944 INFO sqlalchemy.engine.base.Engine (4178,)
2021-02-20 14:31:09,946 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,947 INFO sqlalchemy.engine.base.Engine (4179,)
2021-02-20 14:31:09,951 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,952 INFO sqlalchemy.engine.base.Engine (4180,)
2021-02-20 14:31:09,953 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,954 INFO sqlalchemy.engine.base.Engine (4181,)
2021-02-20 14:31:09,958 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,958 INFO sqlalchemy.engine.base.Engine (4182,)
2021-02-20 14:31:09,960 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:09,961 INFO sqlalchemy.engine.base.Engine (4183,)
2021-02-20 14:31:09,963 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,964 INFO sqlalchemy.engine.base.Engine (4184,)
2021-02-20 14:31:09,965 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,965 INFO sqlalchemy.engine.base.Engine (4185,)
2021-02-20 14:31:09,967 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,967 INFO sqlalchemy.engine.base.Engine (4186,)
2021-02-20 14:31:09,968 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,969 INFO sqlalchemy.engine.base.Engine (4187,)
2021-02-20 14:31:09,971 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,972 INFO sqlalchemy.engine.base.Engine (4188,)
2021-02-20 14:31:09,973 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,973 INFO sqlalchemy.engine.base.Engine (4189,)
2021-02-20 14:31:09,975 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,976 INFO sqlalchemy.engine.base.Engine (4190,)
2021-02-20 14:31:09,977 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,977 INFO sqlalchemy.engine.base.Engine (4191,)
2021-02-20 14:31:09,980 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,980 INFO sqlalchemy.engine.base.Engine (4192,)
2021-02-20 14:31:09,981 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,982 INFO sqlalchemy.engine.base.Engine (4193,)
2021-02-20 14:31:09,985 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,985 INFO sqlalchemy.engine.base.Engine (4194,)
2021-02-20 14:31:09,987 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,988 INFO sqlalchemy.engine.base.Engine (4195,)
2021-02-20 14:31:09,990 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,991 INFO sqlalchemy.engine.base.Engine (4196,)
2021-02-20 14:31:09,992 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,993 INFO sqlalchemy.engine.base.Engine (4197,)
2021-02-20 14:31:09,995 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,996 INFO sqlalchemy.engine.base.Engine (4198,)
2021-02-20 14:31:09,997 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:09,998 INFO sqlalchemy.engine.base.Engine (4199,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:10,046 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,047 INFO sqlalchemy.engine.base.Engine ((4200, 14.3, 14.3, 14.3, 152889.3010000254, 122592.51713904738), (4201, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.3010000254, 122592.51713904738), (4202, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.3010000254, 122592.51713904738), (4203, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.3010000254, 122592.51713904738), (4204, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.3010000254, 122592.51713904738), (4205, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.3010000254, 122592.51713904738), (4206, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.3010000254, 122592.51713904738), (4207, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152889.3010000254, 122592.51713904738)  ... displaying 10 of 50 total bound parameter sets ...  (4248, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152889.3010000254, 122592.51713904738), (4249, 135.9, 135.9, 135.9, 152889.3010000254, 122592.51713904738))
2021-02-20 14:31:10,049 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:10,050 INFO sqlalchemy.engine.base.Engine ('F85',)
2021-02-20 14:31:10,053 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,054 INFO sqlalchemy.engine.base.Engine ((2100, 'F85', 0, 'Anhydrite', 4200, 4201), (2101, 'F85', 1, 'Sandstone, grey, vf-f', 4202, 4203), (2102, 'F85', 2, 'Anhydrite', 4204, 4205), (2103, 'F85', 3, 'Dolomite', 4206, 4207), (2104, 'F85', 4, 'Anhydrite', 4208, 4209), (2105, 'F85', 5, 'Sandstone, grey, vf-f', 4210, 4211), (2106, 'F85', 6, 'Siltstone, red', 4212, 4213), (2107, 'F85', 7, 'Dolomite', 4214, 4215)  ... displaying 10 of 25 total bound parameter sets ...  (2123, 'F85', 23, 'Limestone', 4246, 4247), (2124, 'F85', 24, 'Volcanic', 4248, 4249))

2021-02-20 14:31:10,055 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:10,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:10,060 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:10,061 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:10,063 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:10,064 INFO sqlalchemy.engine.base.Engine ('F85',)
2021-02-20 14:31:10,066 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,066 INFO sqlalchemy.engine.base.Engine (4200,)
2021-02-20 14:31:10,068 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,069 INFO sqlalchemy.engine.base.Engine (4201,)
2021-02-20 14:31:10,072 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,072 INFO sqlalchemy.engine.base.Engine (4202,)
2021-02-20 14:31:10,074 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,074 INFO sqlalchemy.engine.base.Engine (4203,)
2021-02-20 14:31:10,078 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,078 INFO sqlalchemy.engine.base.Engine (4204,)
2021-02-20 14:31:10,080 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,081 INFO sqlalchemy.engine.base.Engine (4205,)
2021-02-20 14:31:10,084 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,085 INFO sqlalchemy.engine.base.Engine (4206,)
2021-02-20 14:31:10,086 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,086 INFO sqlalchemy.engine.base.Engine (4207,)
2021-02-20 14:31:10,088 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,088 INFO sqlalchemy.engine.base.Engine (4208,)
2021-02-20 14:31:10,089 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,089 INFO sqlalchemy.engine.base.Engine (4209,)
2021-02-20 14:31:10,091 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,091 INFO sqlalchemy.engine.base.Engine (4210,)
2021-02-20 14:31:10,093 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,093 INFO sqlalchemy.engine.base.Engine (4211,)
2021-02-20 14:31:10,095 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,096 INFO sqlalchemy.engine.base.Engine (4212,)
2021-02-20 14:31:10,097 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,098 INFO sqlalchemy.engine.base.Engine (4213,)
2021-02-20 14:31:10,099 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,100 INFO sqlalchemy.engine.base.Engine (4214,)
2021-02-20 14:31:10,101 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,102 INFO sqlalchemy.engine.base.Engine (4215,)
2021-02-20 14:31:10,105 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,106 INFO sqlalchemy.engine.base.Engine (4216,)
2021-02-20 14:31:10,108 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,108 INFO sqlalchemy.engine.base.Engine (4217,)
2021-02-20 14:31:10,112 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,112 INFO sqlalchemy.engine.base.Engine (4218,)
2021-02-20 14:31:10,113 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,114 INFO sqlalchemy.engine.base.Engine (4219,)
2021-02-20 14:31:10,116 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,117 INFO sqlalchemy.engine.base.Engine (4220,)
2021-02-20 14:31:10,118 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,119 INFO sqlalchemy.engine.base.Engine (4221,)
2021-02-20 14:31:10,123 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,124 INFO sqlalchemy.engine.base.Engine (4222,)
2021-02-20 14:31:10,125 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,127 INFO sqlalchemy.engine.base.Engine (4223,)
2021-02-20 14:31:10,129 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,130 INFO sqlalchemy.engine.base.Engine (4224,)
2021-02-20 14:31:10,130 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,131 INFO sqlalchemy.engine.base.Engine (4225,)
2021-02-20 14:31:10,133 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,134 INFO sqlalchemy.engine.base.Engine (4226,)
2021-02-20 14:31:10,135 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,136 INFO sqlalchemy.engine.base.Engine (4227,)
2021-02-20 14:31:10,140 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,141 INFO sqlalchemy.engine.base.Engine (4228,)
2021-02-20 14:31:10,143 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,144 INFO sqlalchemy.engine.base.Engine (4229,)
2021-02-20 14:31:10,148 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,149 INFO sqlalchemy.engine.base.Engine (4230,)
2021-02-20 14:31:10,152 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,154 INFO sqlalchemy.engine.base.Engine (4231,)
2021-02-20 14:31:10,157 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,158 INFO sqlalchemy.engine.base.Engine (4232,)
2021-02-20 14:31:10,160 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,162 INFO sqlalchemy.engine.base.Engine (4233,)
2021-02-20 14:31:10,165 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,166 INFO sqlalchemy.engine.base.Engine (4234,)
2021-02-20 14:31:10,168 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,169 INFO sqlalchemy.engine.base.Engine (4235,)
2021-02-20 14:31:10,173 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,174 INFO sqlalchemy.engine.base.Engine (4236,)
2021-02-20 14:31:10,176 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,176 INFO sqlalchemy.engine.base.Engine (4237,)
2021-02-20 14:31:10,180 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,181 INFO sqlalchemy.engine.base.Engine (4238,)
2021-02-20 14:31:10,182 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,183 INFO sqlalchemy.engine.base.Engine (4239,)
2021-02-20 14:31:10,186 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,187 INFO sqlalchemy.engine.base.Engine (4240,)
2021-02-20 14:31:10,189 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,190 INFO sqlalchemy.engine.base.Engine (4241,)
2021-02-20 14:31:10,194 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,195 INFO sqlalchemy.engine.base.Engine (4242,)
2021-02-20 14:31:10,197 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,198 INFO sqlalchemy.engine.base.Engine (4243,)
2021-02-20 14:31:10,202 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,203 INFO sqlalchemy.engine.base.Engine (4244,)
2021-02-20 14:31:10,205 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,206 INFO sqlalchemy.engine.base.Engine (4245,)
2021-02-20 14:31:10,209 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,210 INFO sqlalchemy.engine.base.Engine (4246,)
2021-02-20 14:31:10,212 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,213 INFO sqlalchemy.engine.base.Engine (4247,)
2021-02-20 14:31:10,216 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,217 INFO sqlalchemy.engine.base.Engine (4248,)
2021-02-20 14:31:10,219 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,220 INFO sqlalchemy.engine.base.Engine (4249,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:10,266 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,267 INFO sqlalchemy.engine.base.Engine ((4250, 14.3, 14.3, 14.3, 152889.53400002542, 122591.68613904808), (4251, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.53400002542, 122591.68613904808), (4252, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.53400002542, 122591.68613904808), (4253, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.53400002542, 122591.68613904808), (4254, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.53400002542, 122591.68613904808), (4255, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.53400002542, 122591.68613904808), (4256, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.53400002542, 122591.68613904808), (4257, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152889.53400002542, 122591.68613904808)  ... displaying 10 of 50 total bound parameter sets ...  (4298, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152889.53400002542, 122591.68613904808), (4299, 135.9, 135.9, 135.9, 152889.53400002542, 122591.68613904808))
2021-02-20 14:31:10,268 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:10,269 INFO sqlalchemy.engine.base.Engine ('F86',)
2021-02-20 14:31:10,271 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,271 INFO sqlalchemy.engine.base.Engine ((2125, 'F86', 0, 'Anhydrite', 4250, 4251), (2126, 'F86', 1, 'Sandstone, grey, vf-f', 4252, 4253), (2127, 'F86', 2, 'Anhydrite', 4254, 4255), (2128, 'F86', 3, 'Dolomite', 4256, 4257), (2129, 'F86', 4, 'Anhydrite', 4258, 4259), (2130, 'F86', 5, 'Sandstone, grey, vf-f', 4260, 4261), (2131, 'F86', 6, 'Siltstone, red', 4262, 4263), (2132, 'F86', 7, 'Dolomite', 4264, 4265)  ... displaying 10 of 25 total bound parameter sets ...  (2148, 'F86', 23, 'Limestone', 4296, 4297), (2149, 'F86', 24, 'Volcanic', 4298, 4299))
2021-02-20 14:31:10,273 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:10,277 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:10,278 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:10,278 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:10,280 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:10,281 INFO sqlalchemy.engine.base.Engine ('F86',)
2021-02-20 14:31:10,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,282 INFO sqlalchemy.engine.base.Engine (4250,)
2021-02-20 14:31:10,282 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,283 INFO sqlalchemy.engine.base.Engine (4251,)
2021-02-20 14:31:10,286 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,287 INFO sqlalchemy.engine.base.Engine (4252,)

2021-02-20 14:31:10,288 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,289 INFO sqlalchemy.engine.base.Engine (4253,)
2021-02-20 14:31:10,293 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,293 INFO sqlalchemy.engine.base.Engine (4254,)
2021-02-20 14:31:10,294 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,295 INFO sqlalchemy.engine.base.Engine (4255,)
2021-02-20 14:31:10,296 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,297 INFO sqlalchemy.engine.base.Engine (4256,)
2021-02-20 14:31:10,298 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,298 INFO sqlalchemy.engine.base.Engine (4257,)
2021-02-20 14:31:10,300 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,301 INFO sqlalchemy.engine.base.Engine (4258,)
2021-02-20 14:31:10,302 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,303 INFO sqlalchemy.engine.base.Engine (4259,)
2021-02-20 14:31:10,305 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,305 INFO sqlalchemy.engine.base.Engine (4260,)
2021-02-20 14:31:10,306 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,307 INFO sqlalchemy.engine.base.Engine (4261,)
2021-02-20 14:31:10,310 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,311 INFO sqlalchemy.engine.base.Engine (4262,)
2021-02-20 14:31:10,313 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,314 INFO sqlalchemy.engine.base.Engine (4263,)
2021-02-20 14:31:10,317 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,318 INFO sqlalchemy.engine.base.Engine (4264,)
2021-02-20 14:31:10,320 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,321 INFO sqlalchemy.engine.base.Engine (4265,)
2021-02-20 14:31:10,324 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,325 INFO sqlalchemy.engine.base.Engine (4266,)
2021-02-20 14:31:10,326 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,327 INFO sqlalchemy.engine.base.Engine (4267,)
2021-02-20 14:31:10,328 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,329 INFO sqlalchemy.engine.base.Engine (4268,)
2021-02-20 14:31:10,330 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,331 INFO sqlalchemy.engine.base.Engine (4269,)
2021-02-20 14:31:10,333 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,334 INFO sqlalchemy.engine.base.Engine (4270,)
2021-02-20 14:31:10,335 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,336 INFO sqlalchemy.engine.base.Engine (4271,)
2021-02-20 14:31:10,338 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,338 INFO sqlalchemy.engine.base.Engine (4272,)
2021-02-20 14:31:10,339 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,340 INFO sqlalchemy.engine.base.Engine (4273,)
2021-02-20 14:31:10,342 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,343 INFO sqlalchemy.engine.base.Engine (4274,)
2021-02-20 14:31:10,345 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,345 INFO sqlalchemy.engine.base.Engine (4275,)
2021-02-20 14:31:10,349 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,350 INFO sqlalchemy.engine.base.Engine (4276,)
2021-02-20 14:31:10,352 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,352 INFO sqlalchemy.engine.base.Engine (4277,)
2021-02-20 14:31:10,356 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,357 INFO sqlalchemy.engine.base.Engine (4278,)
2021-02-20 14:31:10,358 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,359 INFO sqlalchemy.engine.base.Engine (4279,)
2021-02-20 14:31:10,363 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,364 INFO sqlalchemy.engine.base.Engine (4280,)
2021-02-20 14:31:10,365 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,365 INFO sqlalchemy.engine.base.Engine (4281,)
2021-02-20 14:31:10,367 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,368 INFO sqlalchemy.engine.base.Engine (4282,)
2021-02-20 14:31:10,369 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,370 INFO sqlalchemy.engine.base.Engine (4283,)
2021-02-20 14:31:10,372 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,373 INFO sqlalchemy.engine.base.Engine (4284,)
2021-02-20 14:31:10,374 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,375 INFO sqlalchemy.engine.base.Engine (4285,)
2021-02-20 14:31:10,379 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,380 INFO sqlalchemy.engine.base.Engine (4286,)
2021-02-20 14:31:10,381 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,382 INFO sqlalchemy.engine.base.Engine (4287,)
2021-02-20 14:31:10,385 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,385 INFO sqlalchemy.engine.base.Engine (4288,)
2021-02-20 14:31:10,387 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,388 INFO sqlalchemy.engine.base.Engine (4289,)
2021-02-20 14:31:10,390 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,390 INFO sqlalchemy.engine.base.Engine (4290,)
2021-02-20 14:31:10,391 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,392 INFO sqlalchemy.engine.base.Engine (4291,)
2021-02-20 14:31:10,394 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,395 INFO sqlalchemy.engine.base.Engine (4292,)
2021-02-20 14:31:10,396 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,397 INFO sqlalchemy.engine.base.Engine (4293,)
2021-02-20 14:31:10,401 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,401 INFO sqlalchemy.engine.base.Engine (4294,)
2021-02-20 14:31:10,403 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,404 INFO sqlalchemy.engine.base.Engine (4295,)
2021-02-20 14:31:10,407 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,408 INFO sqlalchemy.engine.base.Engine (4296,)
2021-02-20 14:31:10,409 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,410 INFO sqlalchemy.engine.base.Engine (4297,)
2021-02-20 14:31:10,412 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,412 INFO sqlalchemy.engine.base.Engine (4298,)
2021-02-20 14:31:10,414 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,414 INFO sqlalchemy.engine.base.Engine (4299,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:10,462 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,463 INFO sqlalchemy.engine.base.Engine ((4300, 14.3, 14.3, 14.3, 152889.78600002543, 122588.80213904474), (4301, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.78600002543, 122588.80213904474), (4302, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152889.78600002543, 122588.80213904474), (4303, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.78600002543, 122588.80213904474), (4304, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152889.78600002543, 122588.80213904474), (4305, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.78600002543, 122588.80213904474), (4306, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152889.78600002543, 122588.80213904474), (4307, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152889.78600002543, 122588.80213904474)  ... displaying 10 of 50 total bound parameter sets ...  (4348, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152889.78600002543, 122588.80213904474), (4349, 135.9, 135.9, 135.9, 152889.78600002543, 122588.80213904474))
2021-02-20 14:31:10,465 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:10,466 INFO sqlalchemy.engine.base.Engine ('F87',)
2021-02-20 14:31:10,469 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,470 INFO sqlalchemy.engine.base.Engine ((2150, 'F87', 0, 'Anhydrite', 4300, 4301), (2151, 'F87', 1, 'Sandstone, grey, vf-f', 4302, 4303), (2152, 'F87', 2, 'Anhydrite', 4304, 4305), (2153, 'F87', 3, 'Dolomite', 4306, 4307), (2154, 'F87', 4, 'Anhydrite', 4308, 4309), (2155, 'F87', 5, 'Sandstone, grey, vf-f', 4310, 4311), (2156, 'F87', 6, 'Siltstone, red', 4312, 4313), (2157, 'F87', 7, 'Dolomite', 4314, 4315)  ... displaying 10 of 25 total bound parameter sets ...  (2173, 'F87', 23, 'Limestone', 4346, 4347), (2174, 'F87', 24, 'Volcanic', 4348, 4349))
2021-02-20 14:31:10,472 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:10,478 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:10,479 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:10,480 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:10,483 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:10,484 INFO sqlalchemy.engine.base.Engine ('F87',)
2021-02-20 14:31:10,486 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,487 INFO sqlalchemy.engine.base.Engine (4300,)
2021-02-20 14:31:10,488 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,489 INFO sqlalchemy.engine.base.Engine (4301,)
2021-02-20 14:31:10,492 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,493 INFO sqlalchemy.engine.base.Engine (4302,)
2021-02-20 14:31:10,494 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,494 INFO sqlalchemy.engine.base.Engine (4303,)
2021-02-20 14:31:10,498 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,499 INFO sqlalchemy.engine.base.Engine (4304,)
2021-02-20 14:31:10,500 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,501 INFO sqlalchemy.engine.base.Engine (4305,)
2021-02-20 14:31:10,504 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,504 INFO sqlalchemy.engine.base.Engine (4306,)
2021-02-20 14:31:10,506 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,506 INFO sqlalchemy.engine.base.Engine (4307,)

2021-02-20 14:31:10,508 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,509 INFO sqlalchemy.engine.base.Engine (4308,)
2021-02-20 14:31:10,510 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,510 INFO sqlalchemy.engine.base.Engine (4309,)
2021-02-20 14:31:10,513 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,513 INFO sqlalchemy.engine.base.Engine (4310,)
2021-02-20 14:31:10,515 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,515 INFO sqlalchemy.engine.base.Engine (4311,)
2021-02-20 14:31:10,519 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,519 INFO sqlalchemy.engine.base.Engine (4312,)
2021-02-20 14:31:10,521 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,521 INFO sqlalchemy.engine.base.Engine (4313,)
2021-02-20 14:31:10,525 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,525 INFO sqlalchemy.engine.base.Engine (4314,)
2021-02-20 14:31:10,527 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,527 INFO sqlalchemy.engine.base.Engine (4315,)
2021-02-20 14:31:10,530 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,532 INFO sqlalchemy.engine.base.Engine (4316,)
2021-02-20 14:31:10,532 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,534 INFO sqlalchemy.engine.base.Engine (4317,)
2021-02-20 14:31:10,536 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,537 INFO sqlalchemy.engine.base.Engine (4318,)
2021-02-20 14:31:10,538 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,538 INFO sqlalchemy.engine.base.Engine (4319,)
2021-02-20 14:31:10,542 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,542 INFO sqlalchemy.engine.base.Engine (4320,)
2021-02-20 14:31:10,544 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,545 INFO sqlalchemy.engine.base.Engine (4321,)
2021-02-20 14:31:10,548 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,548 INFO sqlalchemy.engine.base.Engine (4322,)
2021-02-20 14:31:10,550 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,550 INFO sqlalchemy.engine.base.Engine (4323,)
2021-02-20 14:31:10,552 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,553 INFO sqlalchemy.engine.base.Engine (4324,)
2021-02-20 14:31:10,554 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,555 INFO sqlalchemy.engine.base.Engine (4325,)
2021-02-20 14:31:10,557 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,558 INFO sqlalchemy.engine.base.Engine (4326,)
2021-02-20 14:31:10,559 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,560 INFO sqlalchemy.engine.base.Engine (4327,)
2021-02-20 14:31:10,563 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,563 INFO sqlalchemy.engine.base.Engine (4328,)
2021-02-20 14:31:10,565 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,565 INFO sqlalchemy.engine.base.Engine (4329,)
2021-02-20 14:31:10,569 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,569 INFO sqlalchemy.engine.base.Engine (4330,)
2021-02-20 14:31:10,571 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,571 INFO sqlalchemy.engine.base.Engine (4331,)
2021-02-20 14:31:10,575 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,576 INFO sqlalchemy.engine.base.Engine (4332,)
2021-02-20 14:31:10,577 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,578 INFO sqlalchemy.engine.base.Engine (4333,)
2021-02-20 14:31:10,580 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,581 INFO sqlalchemy.engine.base.Engine (4334,)
2021-02-20 14:31:10,582 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,583 INFO sqlalchemy.engine.base.Engine (4335,)
2021-02-20 14:31:10,585 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,586 INFO sqlalchemy.engine.base.Engine (4336,)
2021-02-20 14:31:10,587 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,587 INFO sqlalchemy.engine.base.Engine (4337,)
2021-02-20 14:31:10,589 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,590 INFO sqlalchemy.engine.base.Engine (4338,)
2021-02-20 14:31:10,591 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,592 INFO sqlalchemy.engine.base.Engine (4339,)
2021-02-20 14:31:10,594 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,595 INFO sqlalchemy.engine.base.Engine (4340,)
2021-02-20 14:31:10,596 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,596 INFO sqlalchemy.engine.base.Engine (4341,)
2021-02-20 14:31:10,599 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,600 INFO sqlalchemy.engine.base.Engine (4342,)
2021-02-20 14:31:10,602 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,603 INFO sqlalchemy.engine.base.Engine (4343,)
2021-02-20 14:31:10,606 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,606 INFO sqlalchemy.engine.base.Engine (4344,)
2021-02-20 14:31:10,607 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,608 INFO sqlalchemy.engine.base.Engine (4345,)
2021-02-20 14:31:10,609 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,610 INFO sqlalchemy.engine.base.Engine (4346,)
2021-02-20 14:31:10,611 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,611 INFO sqlalchemy.engine.base.Engine (4347,)
2021-02-20 14:31:10,613 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,614 INFO sqlalchemy.engine.base.Engine (4348,)
2021-02-20 14:31:10,615 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,616 INFO sqlalchemy.engine.base.Engine (4349,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !
2021-02-20 14:31:10,662 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boreholes" (id) VALUES (?)
2021-02-20 14:31:10,663 INFO sqlalchemy.engine.base.Engine ('F88',)
2021-02-20 14:31:10,665 INFO sqlalchemy.engine.base.Engine INSERT INTO "Positions" (id, upper, middle, lower, x, y) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,665 INFO sqlalchemy.engine.base.Engine ((4350, 14.3, 14.3, 14.3, 152884.7420000254, 122588.50313904788), (4351, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.7420000254, 122588.50313904788), (4352, 51.24117647058824, 51.24117647058824, 51.24117647058824, 152884.7420000254, 122588.50313904788), (4353, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.7420000254, 122588.50313904788), (4354, 54.81764705882354, 54.81764705882354, 54.81764705882354, 152884.7420000254, 122588.50313904788), (4355, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.7420000254, 122588.50313904788), (4356, 56.55882352941177, 56.55882352941177, 56.55882352941177, 152884.7420000254, 122588.50313904788), (4357, 58.86470588235295, 58.86470588235295, 58.86470588235295, 152884.7420000254, 122588.50313904788)  ... displaying 10 of 50 total bound parameter sets ...  (4398, 131.47647058823532, 131.47647058823532, 131.47647058823532, 152884.7420000254, 122588.50313904788), (4399, 135.9, 135.9, 135.9, 152884.7420000254, 122588.50313904788))
2021-02-20 14:31:10,668 INFO sqlalchemy.engine.base.Engine INSERT INTO "Intervals" (id, borehole, interval_number, description, top_id, base_id) VALUES (?, ?, ?, ?, ?, ?)
2021-02-20 14:31:10,669 INFO sqlalchemy.engine.base.Engine ((2175, 'F88', 0, 'Anhydrite', 4350, 4351), (2176, 'F88', 1, 'Sandstone, grey, vf-f', 4352, 4353), (2177, 'F88', 2, 'Anhydrite', 4354, 4355), (2178, 'F88', 3, 'Dolomite', 4356, 4357), (2179, 'F88', 4, 'Anhydrite', 4358, 4359), (2180, 'F88', 5, 'Sandstone, grey, vf-f', 4360, 4361), (2181, 'F88', 6, 'Siltstone, red', 4362, 4363), (2182, 'F88', 7, 'Dolomite', 4364, 4365)  ... displaying 10 of 25 total bound parameter sets ...  (2198, 'F88', 23, 'Limestone', 4396, 4397), (2199, 'F88', 24, 'Volcanic', 4398, 4399))
2021-02-20 14:31:10,671 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-20 14:31:10,677 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:10,678 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
2021-02-20 14:31:10,679 INFO sqlalchemy.engine.base.Engine ()
2021-02-20 14:31:10,682 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:10,682 INFO sqlalchemy.engine.base.Engine ('F88',)
2021-02-20 14:31:10,684 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,685 INFO sqlalchemy.engine.base.Engine (4350,)
2021-02-20 14:31:10,686 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,687 INFO sqlalchemy.engine.base.Engine (4351,)
2021-02-20 14:31:10,689 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,690 INFO sqlalchemy.engine.base.Engine (4352,)
2021-02-20 14:31:10,691 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,691 INFO sqlalchemy.engine.base.Engine (4353,)
2021-02-20 14:31:10,694 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,695 INFO sqlalchemy.engine.base.Engine (4354,)
2021-02-20 14:31:10,696 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,696 INFO sqlalchemy.engine.base.Engine (4355,)
2021-02-20 14:31:10,699 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,700 INFO sqlalchemy.engine.base.Engine (4356,)
2021-02-20 14:31:10,701 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,702 INFO sqlalchemy.engine.base.Engine (4357,)
2021-02-20 14:31:10,704 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,705 INFO sqlalchemy.engine.base.Engine (4358,)
2021-02-20 14:31:10,706 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,706 INFO sqlalchemy.engine.base.Engine (4359,)
2021-02-20 14:31:10,709 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,709 INFO sqlalchemy.engine.base.Engine (4360,)
2021-02-20 14:31:10,711 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,712 INFO sqlalchemy.engine.base.Engine (4361,)
2021-02-20 14:31:10,715 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,716 INFO sqlalchemy.engine.base.Engine (4362,)

2021-02-20 14:31:10,717 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,717 INFO sqlalchemy.engine.base.Engine (4363,)
2021-02-20 14:31:10,720 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,720 INFO sqlalchemy.engine.base.Engine (4364,)
2021-02-20 14:31:10,721 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,722 INFO sqlalchemy.engine.base.Engine (4365,)
2021-02-20 14:31:10,725 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,726 INFO sqlalchemy.engine.base.Engine (4366,)
2021-02-20 14:31:10,727 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,728 INFO sqlalchemy.engine.base.Engine (4367,)
2021-02-20 14:31:10,731 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,732 INFO sqlalchemy.engine.base.Engine (4368,)
2021-02-20 14:31:10,733 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,734 INFO sqlalchemy.engine.base.Engine (4369,)
2021-02-20 14:31:10,737 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,738 INFO sqlalchemy.engine.base.Engine (4370,)
2021-02-20 14:31:10,739 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,740 INFO sqlalchemy.engine.base.Engine (4371,)
2021-02-20 14:31:10,743 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,744 INFO sqlalchemy.engine.base.Engine (4372,)
2021-02-20 14:31:10,745 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,746 INFO sqlalchemy.engine.base.Engine (4373,)
2021-02-20 14:31:10,748 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,748 INFO sqlalchemy.engine.base.Engine (4374,)
2021-02-20 14:31:10,750 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,750 INFO sqlalchemy.engine.base.Engine (4375,)
2021-02-20 14:31:10,752 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,752 INFO sqlalchemy.engine.base.Engine (4376,)
2021-02-20 14:31:10,754 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,754 INFO sqlalchemy.engine.base.Engine (4377,)
2021-02-20 14:31:10,757 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,758 INFO sqlalchemy.engine.base.Engine (4378,)
2021-02-20 14:31:10,759 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,760 INFO sqlalchemy.engine.base.Engine (4379,)
2021-02-20 14:31:10,763 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,764 INFO sqlalchemy.engine.base.Engine (4380,)
2021-02-20 14:31:10,765 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,766 INFO sqlalchemy.engine.base.Engine (4381,)
2021-02-20 14:31:10,768 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,769 INFO sqlalchemy.engine.base.Engine (4382,)
2021-02-20 14:31:10,770 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?

2021-02-20 14:31:10,770 INFO sqlalchemy.engine.base.Engine (4383,)
2021-02-20 14:31:10,772 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,773 INFO sqlalchemy.engine.base.Engine (4384,)
2021-02-20 14:31:10,774 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,775 INFO sqlalchemy.engine.base.Engine (4385,)
2021-02-20 14:31:10,778 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,779 INFO sqlalchemy.engine.base.Engine (4386,)
2021-02-20 14:31:10,780 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,781 INFO sqlalchemy.engine.base.Engine (4387,)
2021-02-20 14:31:10,783 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,784 INFO sqlalchemy.engine.base.Engine (4388,)
2021-02-20 14:31:10,786 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,786 INFO sqlalchemy.engine.base.Engine (4389,)
2021-02-20 14:31:10,788 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,789 INFO sqlalchemy.engine.base.Engine (4390,)
2021-02-20 14:31:10,790 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,790 INFO sqlalchemy.engine.base.Engine (4391,)
2021-02-20 14:31:10,793 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,793 INFO sqlalchemy.engine.base.Engine (4392,)
2021-02-20 14:31:10,794 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,795 INFO sqlalchemy.engine.base.Engine (4393,)
2021-02-20 14:31:10,798 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,799 INFO sqlalchemy.engine.base.Engine (4394,)
2021-02-20 14:31:10,801 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,801 INFO sqlalchemy.engine.base.Engine (4395,)
2021-02-20 14:31:10,804 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,805 INFO sqlalchemy.engine.base.Engine (4396,)
2021-02-20 14:31:10,807 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,808 INFO sqlalchemy.engine.base.Engine (4397,)
2021-02-20 14:31:10,811 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,812 INFO sqlalchemy.engine.base.Engine (4398,)
2021-02-20 14:31:10,813 INFO sqlalchemy.engine.base.Engine SELECT "Positions".id AS "Positions_id", "Positions".upper AS "Positions_upper", "Positions".middle AS "Positions_middle", "Positions".lower AS "Positions_lower", "Positions".x AS "Positions_x", "Positions".y AS "Positions_y"
FROM "Positions"
WHERE "Positions".id = ?
2021-02-20 14:31:10,814 INFO sqlalchemy.engine.base.Engine (4399,)
No legend given or incorrect format ! A default legend will be used
Borehole geometry created successfully !

In [20]:
p.commit()

2021-02-20 14:31:10,859 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
p.boreholes[0].intervals[0].description

2021-02-20 14:31:10,864 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-20 14:31:10,865 INFO sqlalchemy.engine.base.Engine SELECT "Boreholes".id AS "Boreholes_id"
FROM "Boreholes"
WHERE "Boreholes".id = ?
2021-02-20 14:31:10,866 INFO sqlalchemy.engine.base.Engine ('F1',)
2021-02-20 14:31:10,867 INFO sqlalchemy.engine.base.Engine SELECT "Intervals".id AS "Intervals_id", "Intervals".borehole AS "Intervals_borehole", "Intervals".interval_number AS "Intervals_interval_number", "Intervals".description AS "Intervals_description", "Intervals".top_id AS "Intervals_top_id", "Intervals".base_id AS "Intervals_base_id"
FROM "Intervals"
WHERE ? = "Intervals".borehole
2021-02-20 14:31:10,868 INFO sqlalchemy.engine.base.Engine ('F1',)

'Anhydrite'

In [22]:
session.close()

2021-02-20 14:31:10,874 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [23]:
p.plot3d(x3d=True, radius=0.5)