In [1]:
import numpy as np # To use numpy fcts

In [2]:
import pandas as pd

In [20]:
import openpyxl

ModuleNotFoundError: No module named 'openpyxl'

In [21]:
nb_of_date=10
dates = pd.date_range('20130101', periods=nb_of_date) # periods = nb of days to from the date entered before the comma

In [4]:
df = pd.DataFrame(np.random.randn(nb_of_date, 4), index=dates, columns=list('ABCD'))  # index = 1st column

In [5]:
df # Creation of this dataframe

                   A         B         C         D
2013-01-01  0.325416  0.852517 -0.486741 -0.798671
2013-01-02  0.195744  0.531344 -0.456008 -0.027841
2013-01-03 -0.520115  0.573840 -0.653436 -1.678248
2013-01-04  0.281270 -1.788146  2.045579  0.597872
2013-01-05  1.369030  1.691731 -0.207206  0.952746
2013-01-06 -0.149651 -0.464749  1.014440 -1.142711
2013-01-07 -1.348977  2.315806 -1.101399 -0.971483
2013-01-08  0.284726  0.485537  0.191255  0.503787
2013-01-09 -0.984624 -0.436277 -0.585689 -2.162364
2013-01-10  0.324430 -0.564104 -1.375562 -0.841196

In [9]:
df.to_csv('test.csv') # To create a csv file (in the folder Pandas) with the dataframe df

In [11]:
pd.read_csv('test.csv')  # To read the csv file test (in the folder Pandas). This file can be modified on linux.

   Unnamed: 0         A         B         C                      D
0  2013-01-01  0.325416  0.852517 -0.486741    -0.7986705279175826
1  2013-01-02  0.195744  0.531344 -0.456008  -0.027840635874027905
2  2013-01-03 -0.520115  0.573840 -0.653436    -1.6782479731131663
3  2013-01-04  0.281270 -1.788146  2.045579     0.5978721146026854
4  2013-01-05  1.369030  1.691731 -0.207206      0.952745640474695
5  2013-01-06 -0.149651 -0.464749  1.014440    -1.1427108208698875
6  2013-01-07 -1.348977  2.315806 -1.101399    -0.9714827615661245
7  2013-01-08  0.284726  0.485537  0.191255     0.5037865211486805
8  2013-01-09 -0.984624 -0.436277 -0.585689    -2.1623636587300124
9  2013-01-10  0.324430 -0.564104 -1.375562                 change

In [13]:
df.to_excel('testexcel.xlsx', sheet_name='Sheet1')

ModuleNotFoundError: No module named 'openpyxl'